Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

update code
  infrastructure/live/main.tf
  infrastructure/modules/observability/README.md
  infrastructure/modules/observability/main.tf
  infrastructure/modules/observability/outputs.tf
  infrastructure/modules/observability/tests/integration.tftest.hcl
  infrastructure/modules/observability/tests/unit.tftest.hcl
  infrastructure/modules/observability/variables.tf
Due: none

update code
  backend/src/apps/owasp/management/commands/owasp_sync_board_activity.py
  backend/tests/unit/apps/owasp/management/commands/owasp_sync_board_activity_test.py
  backend/tests/unit/apps/owasp/parsers/board_activity/sync_test.py
Due: backend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  infrastructure/bootstrap/README.md
  infrastructure/live/.terraform.lock.hcl
  infrastructure/live/README.md
  infrastructure/live/main.tf
  infrastructure/modules/alb/README.md
  infrastructure/modules/cache/README.md
  infrastructure/modules/database/README.md
  infrastructure/modules/ecr-cache/README.md
  infrastructure/modules/kms/README.md
  infrastructure/modules/networking/.terraform.lock.hcl
  infrastructure/modules/networking/README.md
  infrastructure/modules/networking/main.tf
  infrastructure/modules/networking/modules/nacl/README.md
  infrastructure/modules/networking/modules/vpc-endpoint/README.md
  infrastructure/modules/parameters/README.md
  infrastructure/modules/security/README.md
  infrastructure/modules/service/README.md
  infrastructure/modules/storage/.terraform.lock.hcl
  infrastructure/modules/storage/README.md
  infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/modules/s3-bucket/README.md
  infrastructure/modules/storage/modules/shared-data-bucket/README.md
  infrastructure/modules/tasks/.terraform.lock.hcl
  infrastructure/modules/tasks/README.md
  infrastructure/modules/tasks/main.tf
  infrastructure/modules/tasks/modules/task/README.md
  infrastructure/state/.terraform.lock.hcl
  infrastructure/state/README.md
  infrastructure/state/main.tf
Due: none

fix sonar qube issue in test
  backend/tests/unit/apps/owasp/parsers/board_activity/translator_test.py
Due: backend

Address review
  backend/src/apps/owasp/api/internal/queries/activity_event.py
  frontend/jest.config.ts
  frontend/src/app/pulse/page.tsx
  frontend/src/components/pulse/PulseFilters.tsx
  frontend/src/components/pulse/PulseMetricsCards.tsx
  frontend/src/components/pulse/PulseTimelineItem.tsx
  frontend/src/server/queries/pulseQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/pulseQueries.generated.ts
  frontend/src/types/pulse.ts
Due: backend, frontend

apply bot comment
  backend/src/apps/owasp/management/commands/owasp_sync_board_activity.py
Due: backend

update tests
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_test.py
Due: backend

update
  backend/src/apps/owasp/api/internal/queries/activity_event.py
  frontend/src/app/pulse/page.tsx
  frontend/src/components/pulse/PulseFilters.tsx
  frontend/src/components/pulse/PulseMetricsCards.tsx
Due: backend, frontend

fix tests
  frontend/__tests__/unit/pages/ClaimDetailsPage.test.tsx
  frontend/__tests__/unit/pages/EvidenceDetailsPage.test.tsx
Due: frontend

Adress sonar warning
  frontend/src/app/pulse/page.tsx
  frontend/src/components/pulse/PulseFilters.tsx
  frontend/src/components/pulse/PulseTimelineItem.tsx
  frontend/src/types/__generated__/pulseQueries.generated.ts
Due: frontend

Extract nested ternary operation into an independent state.
  frontend/src/components/BarChart.tsx
Due: frontend

correct format
  frontend/src/components/BarChart.tsx
Due: frontend

fix(frontend): keep mobile spacing consistent below search
  frontend/__tests__/unit/components/SearchPageLayout.test.tsx
  frontend/src/components/SearchPageLayout.tsx
Due: frontend

refactor(github): rename RepositoryNode.issues to recent_issues
  backend/src/apps/github/api/internal/nodes/repository.py
  backend/tests/unit/apps/github/api/internal/nodes/repository_test.py
  frontend/__tests__/mockData/mockRepositoryData.ts
  frontend/__tests__/unit/pages/RepositoryDetails.test.tsx
  frontend/src/app/organizations/[organizationKey]/repositories/[repositoryKey]/page.tsx
  frontend/src/server/queries/repositoryQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/repositoryQueries.generated.ts
Due: backend, frontend

improve pydantic validation
  backend/src/apps/owasp/api/internal/mutations/board_candidate_claim.py
  backend/src/apps/owasp/api/internal/mutations/board_candidate_claim_evidence.py
  backend/src/apps/owasp/api/internal/mutations/board_candidate_claim_review.py
  backend/src/apps/owasp/api/internal/mutations/common.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_test.py
Due: backend

address bot comments
  backend/src/apps/owasp/api/internal/mutations/board_candidate_claim.py
  backend/src/apps/owasp/api/internal/mutations/board_candidate_claim_evidence.py
  backend/src/apps/owasp/api/internal/mutations/board_candidate_claim_review.py
  backend/src/apps/owasp/api/internal/mutations/common.py
  backend/src/apps/owasp/models/board_candidate_claim.py
  backend/src/apps/owasp/models/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_test.py
Due: backend

update code
  backend/src/apps/owasp/api/internal/mutations/board_candidate_claim.py
  backend/src/apps/owasp/api/internal/mutations/board_candidate_claim_evidence.py
  backend/src/apps/owasp/api/internal/mutations/board_candidate_claim_review.py
  backend/src/apps/owasp/api/internal/mutations/common.py
  backend/src/apps/owasp/models/board_candidate_claim.py
  backend/src/apps/owasp/models/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/api/internal/mutations/common_test.py
Due: backend

fix(frontend): show trailing pagination ellipsis
  frontend/__tests__/unit/components/Pagination.test.tsx
  frontend/src/components/Pagination.tsx
Due: frontend

rename validate_year to validate_election_year
  backend/src/apps/owasp/api/internal/mutations/board_candidate_claim.py
  backend/src/apps/owasp/api/internal/mutations/board_candidate_claim_evidence.py
  backend/src/apps/owasp/api/internal/mutations/board_candidate_claim_review.py
  backend/src/apps/owasp/api/internal/mutations/common.py
  backend/tests/unit/apps/owasp/api/internal/mutations/common_test.py
Due: backend

update docstring
  backend/tests/unit/apps/owasp/api/internal/mutations/common_test.py
Due: backend

fix env
  backend/.gitignore
  frontend/.gitignore
Due: backend, frontend

fix
  backend/.gitignore
  frontend/.gitignore
  frontend/__tests__/jest.setup.ts
  frontend/jest.config.ts
  frontend/src/components/Header.tsx
Due: backend, frontend

fix: BarChart
  frontend/src/components/BarChart.tsx
Due: frontend

fix(frontend): unify search header spacing across page types
  frontend/__tests__/unit/components/SearchPageLayout.test.tsx
  frontend/src/components/SearchPageLayout.tsx
Due: frontend

fix(frontend): keep search header mb-4 mobile-only
  frontend/__tests__/unit/components/SearchPageLayout.test.tsx
  frontend/src/components/SearchPageLayout.tsx
Due: frontend

Bump next to v16.3.4 Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: frontend

Added validation
  backend/src/apps/github/api/internal/queries/user.py
  backend/src/apps/owasp/api/internal/mutations/certificate.py
  backend/src/apps/owasp/api/internal/queries/chapter.py
Due: backend

fix: wrap breadcrumb in nav landmark for screen reader navigation
  frontend/src/components/BreadCrumbs.tsx
Due: frontend

test: update issue summary generation tests to verify fallback behavior
  backend/tests/unit/apps/github/models/issue_test.py
Due: backend

fix: add fallback to body when AI summary generation fails
  backend/src/apps/github/models/issue.py
Due: backend

chore: fix lint issues in issue model and tests
  backend/src/apps/github/models/issue.py
  backend/tests/unit/apps/github/models/issue_test.py
Due: backend

feat(header): expand UserMenu trigger to show avatar, name and handle the change was in UserMenu.tsx
  frontend/src/components/UserMenu.tsx
Due: frontend

Bump next to v16.3.4 (#5534)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: frontend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  backend/pyproject.toml
Due: backend

fix: resolve barchart rendering issue
  frontend/src/components/BarChart.tsx
Due: frontend

fix: improve error handling in CalendarButton component
  eslint.config.mjs
  frontend/__tests__/unit/components/CalendarButton.test.tsx
  frontend/src/components/CalendarButton.tsx
  frontend/src/utils/geolocationUtils.ts
Due: frontend

Mitigate FE vulnerabilities Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  e2e/package.json
  e2e/pnpm-lock.yaml
  e2e/pnpm-workspace.yaml
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: frontend

fix: address cubic-dev-ai review comments
  eslint.config.mjs
  frontend/__tests__/unit/components/CalendarButton.test.tsx
  frontend/src/components/CalendarButton.tsx
  frontend/src/utils/geolocationUtils.ts
Due: frontend

Mitigate FE vulnerabilities (#5545)
  e2e/package.json
  e2e/pnpm-lock.yaml
  e2e/pnpm-workspace.yaml
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: frontend

update code
  backend/src/apps/owasp/services/newsletter.py
  backend/src/apps/owasp/templates/emails/snapshot_digest.html
  backend/src/apps/owasp/templates/emails/snapshot_digest.txt
  backend/tests/unit/apps/owasp/services/newsletter_test.py
Due: backend
