Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: use hostname instead of netloc for URL validation
  backend/apps/common/utils.py
  backend/tests/apps/common/utils_test.py
Due: backend

test: use https in test cases to resolve security scan warnings
  backend/tests/apps/common/utils_test.py
Due: backend

CR's comments addressed
  backend/apps/github/models/mixins/repository.py
  backend/apps/owasp/admin/member_snapshot.py
  backend/apps/owasp/admin/mixins.py
Due: backend

Update backend/apps/github/api/internal/nodes/repository.py
  backend/apps/github/api/internal/nodes/repository.py
Due: backend

Add playwright ui for debugging
  CONTRIBUTING.md
  backend/settings/e2e.py
  docker-compose/e2e/compose.yaml
  docker/frontend/Dockerfile.e2e
  docker/frontend/Dockerfile.e2e.test
  frontend/.env.e2e.example
  frontend/Makefile
  frontend/__tests__/e2e/components/Footer.spec.ts
  frontend/__tests__/e2e/components/Header.spec.ts
  frontend/__tests__/e2e/data/mockHomeData.ts
  frontend/__tests__/e2e/pages/About.spec.ts
  frontend/__tests__/e2e/pages/CalendarButton.spec.ts
  frontend/__tests__/e2e/pages/ChapterDetails.spec.ts
  frontend/__tests__/e2e/pages/Chapters.spec.ts
  frontend/__tests__/e2e/pages/CommitteeDetails.spec.ts
  frontend/__tests__/e2e/pages/Committees.spec.ts
  frontend/__tests__/e2e/pages/Contribute.spec.ts
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/__tests__/e2e/pages/Login.spec.ts
  frontend/__tests__/e2e/pages/OrganizationDetails.spec.ts
  frontend/__tests__/e2e/pages/Organizations.spec.ts
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
  frontend/__tests__/e2e/pages/ProjectHealthDashboardMetricsDetails.spec.ts
  frontend/__tests__/e2e/pages/Projects.spec.ts
  frontend/__tests__/e2e/pages/ProjectsHealthDashboardMetrics.spec.ts
  frontend/__tests__/e2e/pages/ProjectsHealthDashboardOverview.spec.ts
  frontend/__tests__/e2e/pages/RepositoryDetails.spec.ts
  frontend/__tests__/e2e/pages/UserDetails.spec.ts
  frontend/__tests__/e2e/pages/Users.spec.ts
  frontend/package.json
  frontend/playwright.config.ts
Due: backend, frontend

Fix e2e tests communication
  backend/settings/e2e.py
  docker-compose/e2e/compose.yaml
  docker/frontend/Dockerfile.e2e.test
  frontend/.env.e2e.example
  frontend/Makefile
  frontend/next.config.ts
  frontend/playwright.config.ts
Due: backend, frontend

Migrate ProjectDetails, About and update Makefile
  frontend/Makefile
  frontend/__tests__/e2e/pages/About.spec.ts
  frontend/__tests__/e2e/pages/CalendarButton.spec.ts
  frontend/__tests__/e2e/pages/ChapterDetails.spec.ts
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
Due: frontend

Update CI/CD
  .github/workflows/run-ci-cd.yaml
  docker-compose/e2e/compose.yaml
  frontend/.env.e2e.example
  frontend/playwright.config.ts
Due: frontend

Apply check-spelling
  cspell/custom-dict.txt
Due: none

Skip sonar
  .github/workflows/run-ci-cd.yaml
  backend/settings/e2e.py
  docker/frontend/Dockerfile.e2e
  frontend/next.config.ts
Due: backend, frontend

Fix negative indexing in RepositoryNode.recent_milestones
  backend/apps/github/api/internal/nodes/repository.py
  backend/tests/apps/github/api/internal/nodes/repository_test.py
Due: backend

Add dayjs
  docker/frontend/Dockerfile.e2e.test
Due: none

Remove obsolete negative/zero limit tests
  backend/tests/apps/github/api/internal/nodes/repository_test.py
Due: backend

fix: loading spinner logic for program & module edit (#3538)
  frontend/src/app/my/mentorship/programs/[programKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
Due: frontend

feat: Implement 'My Mentorship' page with user-specific program listings, search, pagination, and sorting.
  backend/apps/mentorship/api/internal/queries/program.py
  frontend/__tests__/unit/pages/MyMentorship.test.tsx
  frontend/src/app/my/mentorship/page.tsx
  frontend/src/server/queries/programsQueries.ts
  frontend/src/types/__generated__/programsQueries.generated.ts
  frontend/src/utils/sortingOptions.ts
Due: backend, frontend

Add published releases to projects
  backend/apps/owasp/api/internal/queries/project.py
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
  backend/apps/owasp/migrations/0070_project_published_releases.py
  backend/apps/owasp/models/project.py
Due: backend

Fix published releases M2M tests and disable Slack init in tests
  backend/apps/slack/apps.py
  backend/settings/test.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
  backend/tests/apps/owasp/models/project_test.py
Due: backend

Rename migration to resolve conflict
  backend/apps/owasp/migrations/0073_project_published_releases.py
Due: backend

Run make update
  backend/poetry.lock
  docs/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Fix structured search and test coverage
  backend/apps/api/rest/v0/project.py
  backend/apps/api/rest/v0/structured_search.py
  backend/tests/apps/api/rest/v0/project_search_test.py
Due: backend

docs: add backend, frontend, schema, and SDK overviews
  docs/backend/overview.md
  docs/frontend/overview.md
  docs/schema/overview.md
  docs/sdks/overview.md
  mkdocs.yaml
Due: none

feat(about): combine separate GraphQL queries into single request
  frontend/__tests__/e2e/pages/About.spec.ts
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/src/app/about/page.tsx
  frontend/src/server/queries/aboutQueries.ts
  frontend/src/types/__generated__/aboutQueries.generated.ts
Due: frontend

docs: fix typo and broken links per review
  docs/backend/overview.md
  docs/sdks/overview.md
Due: none

Update MENTORS.md: add country, timezone, and description for Muhammad Salman
  MENTORS.md
Due: none

Update code
  CONTRIBUTING.md
  Makefile
  backend/Makefile
  frontend/Makefile
Due: backend, frontend

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update MENTORS.md
  MENTORS.md
Due: none

Update MENTORS.md: add country, timezone and description for Muhammad Salman (#3605)
  MENTORS.md
Due: none

Update .github/workflows/run-ci-cd.yaml
  .github/workflows/run-ci-cd.yaml
Due: none

Restore non-admin files to match main
  backend/apps/github/models/mixins/repository.py
  backend/apps/github/models/mixins/user.py
  backend/apps/owasp/models/project.py
Due: backend

always redirect HTTP to HTTPS
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/outputs.tf
  infrastructure/modules/alb/variables.tf
  infrastructure/staging/main.tf
  infrastructure/staging/outputs.tf
  infrastructure/staging/variables.tf
Due: none

resolve semgrep warnings
  .github/workflows/run-ci-cd.yaml
  backend/zappa_callback.py
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/frontend/main.tf
  infrastructure/modules/networking/main.tf
  infrastructure/staging/main.tf
  infrastructure/staging/terraform.tfvars.example
  infrastructure/staging/variables.tf
Due: backend

add kms module
  infrastructure/modules/kms/.terraform.lock.hcl
  infrastructure/modules/kms/main.tf
  infrastructure/modules/kms/outputs.tf
  infrastructure/modules/kms/tests/kms.tftest.hcl
  infrastructure/modules/kms/variables.tf
Due: none

use kms key
  infrastructure/backend/main.tf
  infrastructure/modules/cache/main.tf
  infrastructure/modules/cache/variables.tf
  infrastructure/modules/database/main.tf
  infrastructure/modules/database/variables.tf
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/ecs/modules/task/main.tf
  infrastructure/modules/ecs/modules/task/variables.tf
  infrastructure/modules/ecs/variables.tf
  infrastructure/modules/frontend/main.tf
  infrastructure/modules/frontend/variables.tf
  infrastructure/modules/kms/outputs.tf
  infrastructure/modules/networking/main.tf
  infrastructure/modules/networking/variables.tf
  infrastructure/staging/main.tf
Due: none

add nosemgrep comments
  infrastructure/modules/database/main.tf
  infrastructure/modules/database/variables.tf
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/frontend/main.tf
Due: none

add trailofbits
  cspell/custom-dict.txt
Due: none

update code and apply coderabbit suggestions
  infrastructure/modules/alb/outputs.tf
  infrastructure/modules/database/main.tf
  infrastructure/modules/kms/tests/kms.tftest.hcl
Due: none

Docs: add security scanning guides and Makefile targets (#3525)
  .github/workflows/run-ci-cd.yaml
  CONTRIBUTING.md
  Makefile
  backend/Makefile
  cspell/custom-dict.txt
  frontend/Makefile
Due: backend, frontend

Update code
  backend/Makefile
  backend/apps/github/Makefile
  backend/apps/github/migrations/0042_merge_20260127_2218.py
  backend/apps/github/migrations/0043_alter_user_contribution_data.py
  backend/apps/github/models/user.py
  backend/apps/owasp/Makefile
  backend/apps/owasp/management/commands/owasp_aggregate_entity_contributions.py
  backend/apps/owasp/management/commands/owasp_aggregate_member_contributions.py
  backend/apps/owasp/management/commands/owasp_aggregate_member_contributions.py.bak
  backend/tests/apps/owasp/management/commands/owasp_aggregate_entity_contributions_test.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_member_contributions_test.py
  frontend/__tests__/a11y/pages/UserDetails.a11y.test.tsx
  frontend/__tests__/unit/pages/UserDetails.test.tsx
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/userQueries.generated.ts
Due: backend, frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
