Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

refactor(slack): simplify greeting module and tests
  backend/apps/slack/common/greeting.py
  backend/tests/apps/slack/common/greeting_test.py
  backend/tests/apps/slack/events/app_mention_test.py
  backend/tests/apps/slack/services/message_auto_reply_test.py
Due: backend

feat(slack): canned replies for simple greetings without agent
  backend/apps/slack/commands/ai.py
  backend/apps/slack/common/greeting.py
  backend/apps/slack/events/app_mention.py
  backend/apps/slack/services/message_auto_reply.py
  backend/tests/apps/slack/commands/ai_test.py
  backend/tests/apps/slack/common/greeting_test.py
  backend/tests/apps/slack/events/app_mention_test.py
  backend/tests/apps/slack/services/message_auto_reply_test.py
Due: backend

ci: add infrastructure label to labeler (closes #4514)
  .github/labeler.yml
Due: none

sponsor page design
  frontend/src/app/sponsors/apply/layout.tsx
  frontend/src/app/sponsors/apply/page.tsx
  frontend/src/app/sponsors/layout.tsx
  frontend/src/app/sponsors/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/LogoCarousel.tsx
  frontend/src/components/skeletons/SponsorsSkeleton.tsx
  frontend/src/components/sponsors/BecomeSponsorCTA.tsx
  frontend/src/components/sponsors/SponsorApplicationForm.tsx
  frontend/src/components/sponsors/SponsorDiamondCard.tsx
  frontend/src/components/sponsors/SponsorHero.tsx
  frontend/src/components/sponsors/SponsorTierCard.tsx
  frontend/src/components/sponsors/SponsorTierSection.tsx
  frontend/src/components/sponsors/SponsorsFaqSection.tsx
  frontend/src/components/sponsors/SponsorsOpenSourceShowcase.tsx
  frontend/src/server/queries/sponsorQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/sponsorQueries.generated.ts
  frontend/src/types/sponsor.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/metadata.ts
Due: frontend

add curl and wget to containers image
  docker/backend/Dockerfile
  docker/frontend/Dockerfile
Due: none

update code
  docker/frontend/Dockerfile
Due: none

added tests
  infrastructure/modules/service/tests/service.tftest.hcl
Due: none

update test
  infrastructure/modules/service/tests/service.tftest.hcl
Due: none

update code
  infrastructure/modules/service/tests/service.tftest.hcl
Due: none

update code
  backend/apps/github/management/commands/github_update_users.py
  backend/tests/unit/apps/github/management/commands/github_update_users_test.py
Due: backend

fix urlparse substring check flagged by security scanners
  backend/tests/unit/apps/owasp/models/common_test.py
Due: backend

Update Slack invite link commit detection logic
  backend/apps/github/utils.py
  backend/apps/slack/management/commands/slack_check_invite_link.py
  backend/tests/unit/apps/github/utils_test.py
Due: backend

fix: harden DLQ command safety and signal execution reliability
  backend/apps/owasp/management/commands/owasp_notification_dlq.py
Due: backend

fix: resolve Ruff linting errors in DLQ management command
  backend/apps/owasp/management/commands/owasp_notification_dlq.py
Due: backend

will now add any changed infra label to the PR
  .github/labeler.yml
Due: none

ctrl+s changed quotes, single to double
  .github/labeler.yml
Due: none

frontend fixes + expand backend
  backend/apps/api/rest/v0/sponsor.py
  backend/apps/owasp/admin/sponsor.py
  backend/apps/owasp/api/internal/queries/sponsor.py
  backend/apps/owasp/migrations/0073_sponsor_status_contact_email_chapter_project.py
  backend/apps/owasp/models/sponsor.py
  frontend/__tests__/unit/components/forms/shared/FormTextarea.test.tsx
  frontend/src/app/sponsors/apply/page.tsx
  frontend/src/app/sponsors/page.tsx
  frontend/src/components/ModuleForm.tsx
  frontend/src/components/ProgramForm.tsx
  frontend/src/components/forms/shared/FormTextInput.tsx
  frontend/src/components/forms/shared/FormTextarea.tsx
  frontend/src/components/skeletons/SponsorsSkeleton.tsx
  frontend/src/components/sponsors/SponsorApplicationForm.tsx
  frontend/src/components/sponsors/SponsorApplyHero.tsx
  frontend/src/components/sponsors/SponsorDiamondCard.tsx
  frontend/src/components/sponsors/SponsorHero.tsx
  frontend/src/components/sponsors/SponsorTierCard.tsx
  frontend/src/server/queries/sponsorQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/sponsorQueries.generated.ts
  frontend/src/types/sponsor.ts
  frontend/src/utils/constants.ts
Due: backend, frontend

Update iSlack workspace members counting logic
  backend/apps/slack/management/commands/slack_sync_data.py
  backend/tests/unit/apps/slack/commands/slack_sync_data_test.py
Due: backend

remove comments and fixe lint err
  frontend/src/app/sponsors/apply/page.tsx
  frontend/src/app/sponsors/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/LogoCarousel.tsx
  frontend/src/components/ModuleForm.tsx
  frontend/src/components/NavButton.tsx
  frontend/src/components/ProgramForm.tsx
  frontend/src/components/forms/shared/FormDateInput.tsx
  frontend/src/components/forms/shared/FormTextInput.tsx
  frontend/src/components/forms/shared/FormTextarea.tsx
  frontend/src/components/skeletons/SponsorsSkeleton.tsx
  frontend/src/components/sponsors/BecomeSponsorCTA.tsx
  frontend/src/components/sponsors/SponsorApplicationForm.tsx
  frontend/src/components/sponsors/SponsorApplyHero.tsx
  frontend/src/components/sponsors/SponsorDiamondCard.tsx
  frontend/src/components/sponsors/SponsorHero.tsx
  frontend/src/components/sponsors/SponsorTierCard.tsx
  frontend/src/components/sponsors/SponsorTierSection.tsx
  frontend/src/components/sponsors/SponsorsFaqSection.tsx
  frontend/src/components/sponsors/SponsorsOpenSourceShowcase.tsx
  frontend/src/utils/metadata.ts
Due: frontend

fix lint err:
  frontend/src/app/sponsors/page.tsx
  frontend/src/components/sponsors/SponsorTierCard.tsx
  frontend/src/components/sponsors/SponsorTierSection.tsx
  frontend/src/types/sponsor.ts
Due: frontend

Refactored CardDetailsPage into smaller components
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage/CardDetailsContributions.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage/CardDetailsContributors.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage/CardDetailsHeader.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage/CardDetailsIssuesMilestones.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage/CardDetailsRepositoriesModules.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage/CardDetailsSummary.test.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/CardDetailsPage/CardDetailsContributions.tsx
  frontend/src/components/CardDetailsPage/CardDetailsContributors.tsx
  frontend/src/components/CardDetailsPage/CardDetailsHeader.tsx
  frontend/src/components/CardDetailsPage/CardDetailsIssuesMilestones.tsx
  frontend/src/components/CardDetailsPage/CardDetailsMetadata.tsx
  frontend/src/components/CardDetailsPage/CardDetailsRepositoriesModules.tsx
  frontend/src/components/CardDetailsPage/CardDetailsSummary.tsx
  frontend/src/components/CardDetailsPage/CardDetailsTags.tsx
  frontend/src/types/card.ts
Due: frontend

Update PR labeler: add `infrastructure` labeling (#4518)
  .github/labeler.yml
Due: none

fix urlparse substring check flagged by security scanners (#4517)
  backend/tests/unit/apps/owasp/models/common_test.py
Due: backend

fixed review
  frontend/__tests__/unit/components/CardDetailsPage/CardDetailsContributions.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage/CardDetailsContributors.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage/CardDetailsIssuesMilestones.test.tsx
  frontend/src/components/CardDetailsPage/CardDetailsHeader.tsx
  frontend/src/components/CardDetailsPage/CardDetailsIssuesMilestones.tsx
Due: frontend

Bump django version from 6.0.3 to 6.0.4
  backend/poetry.lock
Due: backend

test fixes
  backend/apps/api/rest/v0/sponsor.py
  backend/apps/common/management/commands/dump_data.py
  backend/apps/owasp/api/internal/queries/sponsor.py
  backend/apps/owasp/migrations/0074_backfill_sponsor_status_not_null.py
  backend/apps/owasp/migrations/0075_backfill_sponsor_contact_email_not_null.py
  backend/tests/unit/apps/api/rest/v0/sponsor_test.py
  frontend/__tests__/unit/components/forms/shared/FormDateInput.test.tsx
  frontend/jest.config.ts
  frontend/src/app/sponsors/page.tsx
  frontend/src/components/sponsors/SponsorApplicationForm.tsx
  frontend/src/components/sponsors/SponsorsOpenSourceShowcase.tsx
  frontend/src/types/__generated__/sponsorQueries.generated.ts
Due: backend, frontend

fix security err
  frontend/src/components/sponsors/SponsorApplicationForm.tsx
Due: frontend

fix bot err
  backend/apps/api/rest/v0/sponsor.py
  backend/apps/common/management/commands/dump_data.py
  backend/tests/unit/apps/api/rest/v0/sponsor_test.py
  backend/tests/unit/apps/common/management/commands/dump_data_test.py
Due: backend

fix bot err
  backend/tests/unit/apps/api/rest/v0/sponsor_test.py
  frontend/src/components/sponsors/SponsorApplicationForm.tsx
Due: backend, frontend

fix cspell check
  backend/tests/unit/apps/api/rest/v0/sponsor_test.py
Due: backend

fix cspell check
  frontend/src/components/sponsors/SponsorApplicationForm.tsx
Due: frontend

Update slack_check_invite_link.py
  backend/apps/slack/management/commands/slack_check_invite_link.py
  backend/tests/unit/apps/slack/commands/slack_check_invite_link_test.py
Due: backend

code cleanup
  backend/apps/common/management/commands/dump_data.py
  backend/apps/owasp/api/internal/queries/sponsor.py
  frontend/src/components/sponsors/SponsorApplicationForm.tsx
Due: backend, frontend

fix test failure
  backend/tests/unit/apps/common/management/commands/dump_data_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/sponsor_test.py
Due: backend

fix bot err
  backend/tests/unit/apps/owasp/api/internal/queries/sponsor_test.py
Due: backend

fix bot error
  backend/apps/common/management/commands/dump_data.py
Due: backend

Update ALB variables.tf
  infrastructure/live/main.tf
  infrastructure/modules/alb/variables.tf
Due: none

edit endpoint to /api/health
  docker-compose/e2e/compose.yaml
  frontend/src/app/api/health/route.ts
  infrastructure/live/main.tf
Due: frontend

fix: add frontend health endpoint
  docker-compose/e2e/compose.yaml
  frontend/src/app/status/route.ts
  infrastructure/live/main.tf
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
