Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 80%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

fix issues
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/contexts/BreadcrumbContext.test.tsx
  frontend/__tests__/unit/pages/EditProgram.test.tsx
  frontend/__tests__/unit/pages/MenteeProfilePage.test.tsx
  frontend/__tests__/unit/pages/MyMentorship.test.tsx
  frontend/__tests__/unit/pages/SnapshotDetails.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
Due: frontend

fix: issues
  frontend/__tests__/unit/pages/UserDetails.test.tsx
Due: frontend

bot suggestion
  infrastructure/bootstrap/terraform.tfvars.example
Due: none

Update code
  infrastructure/README.md
Due: none

apply suggestions
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/__tests__/unit/utils/handleGraphQLError.test.ts
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/create/page.tsx
  frontend/src/components/ModuleForm.tsx
  frontend/src/utils/helpers/handleGraphQLError.ts
Due: frontend

make check-test
  frontend/src/utils/helpers/handleGraphQLError.ts
Due: frontend

Update code
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-fuzz-tests.yaml
  backend/Makefile
  backend/apps/common/management/commands/dump_data.py
  backend/tests/apps/common/management/commands/dump_data_test.py
  docker-compose/e2e/compose.yaml
  docker-compose/fuzz/compose.yaml
Due: backend

General Improvements for Infrastructure (#4039)
  backend/apps/common/management/commands/load_data.py
  backend/tests/apps/common/management/commands/load_data_test.py
  docker/backend/Dockerfile
  infrastructure/README.md
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/terraform.tfvars.example
  infrastructure/modules/ecs/main.tf
  infrastructure/staging/README.md
  infrastructure/staging/outputs.tf
  infrastructure/staging/variables.tf
  infrastructure/state/.terraform.lock.hcl
  infrastructure/state/README.md
  infrastructure/state/main.tf
  infrastructure/state/outputs.tf
  infrastructure/state/providers.tf
  infrastructure/state/variables.tf
Due: backend

Update makefile
  backend/Makefile
Due: backend

improve frontend test coverage (#4033)
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/ChapterMap.test.tsx
  frontend/__tests__/unit/components/EntityActions.test.tsx
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/__tests__/unit/contexts/BreadcrumbContext.test.tsx
  frontend/__tests__/unit/pages/EditModule.test.tsx
  frontend/__tests__/unit/pages/EditProgram.test.tsx
  frontend/__tests__/unit/pages/MenteeProfilePage.test.tsx
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
  frontend/__tests__/unit/pages/MyMentorship.test.tsx
  frontend/__tests__/unit/pages/SnapshotDetails.test.tsx
  frontend/__tests__/unit/pages/UserDetails.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/ChapterMap.tsx
  frontend/src/components/ModuleForm.tsx
  frontend/src/components/ProgramForm.tsx
Due: frontend

Integrate AWS Parameter Store for Zappa/Infrastructure deployments (#2551)
  backend/settings/staging.py
  backend/wsgi.py
  backend/zappa_settings.example.json
  infrastructure/README.md
  infrastructure/main.tf
  infrastructure/modules/cache/main.tf
  infrastructure/modules/cache/variables.tf
  infrastructure/modules/database/main.tf
  infrastructure/modules/database/outputs.tf
  infrastructure/modules/database/variables.tf
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/ecs/modules/task/main.tf
  infrastructure/modules/ecs/modules/task/variables.tf
  infrastructure/modules/ecs/variables.tf
  infrastructure/modules/parameters/main.tf
  infrastructure/modules/parameters/outputs.tf
  infrastructure/modules/parameters/variables.tf
  infrastructure/modules/security/main.tf
  infrastructure/modules/security/outputs.tf
  infrastructure/modules/security/variables.tf
  infrastructure/outputs.tf
  infrastructure/terraform.tfvars.example
  infrastructure/variables.tf
Due: backend

add a security group for ecs tasks (#2717)
  infrastructure/README.md
  infrastructure/main.tf
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/ecs/variables.tf
  infrastructure/modules/security/main.tf
  infrastructure/modules/security/outputs.tf
Due: none

Update .github/workflows/run-ci-cd.yaml
  .github/workflows/run-ci-cd.yaml
Due: none

Fix long-running ECS/Fargate Tasks (#2620)
  backend/Makefile
  backend/wsgi.py
  docker/backend/Dockerfile
  infrastructure/README.md
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/ecs/variables.tf
Due: backend

Add logging in Infrastructure (#2743)
  infrastructure/modules/cache/main.tf
  infrastructure/modules/cache/variables.tf
  infrastructure/modules/ecs/modules/task/main.tf
  infrastructure/modules/ecs/modules/task/variables.tf
  infrastructure/modules/networking/main.tf
  infrastructure/modules/networking/variables.tf
  infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/modules/s3-bucket/main.tf
  infrastructure/modules/storage/modules/s3-bucket/outputs.tf
  infrastructure/modules/storage/modules/s3-bucket/variables.tf
  infrastructure/modules/storage/outputs.tf
  infrastructure/modules/storage/variables.tf
Due: none

Improve / Fix S3 Bucket Usage (#2760)
  infrastructure/README.md
  infrastructure/backend/.terraform.lock.hcl
  infrastructure/backend/main.tf
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/ecs/variables.tf
  infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/modules/s3-bucket/main.tf
  infrastructure/modules/storage/modules/s3-bucket/variables.tf
  infrastructure/modules/storage/variables.tf
  infrastructure/staging/backend.tf
  infrastructure/staging/main.tf
  infrastructure/staging/terraform.tfbackend.example
  infrastructure/staging/terraform.tfvars.example
  infrastructure/staging/variables.tf
Due: none

Add Remote State Management (#2699)
  .gitignore
  cspell/custom-dict.txt
  infrastructure/README.md
  infrastructure/backend/.terraform.lock.hcl
  infrastructure/backend/main.tf
  infrastructure/backend/outputs.tf
  infrastructure/backend/providers.tf
  infrastructure/backend/variables.tf
  infrastructure/staging/.terraform.lock.hcl
  infrastructure/staging/backend.tf
  infrastructure/staging/main.tf
  infrastructure/staging/outputs.tf
  infrastructure/staging/providers.tf
  infrastructure/staging/terraform.tfvars.example
  infrastructure/staging/variables.tf
Due: none

improve `ecs` module (#2777)
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/ecs/variables.tf
  infrastructure/modules/storage/outputs.tf
  infrastructure/staging/main.tf
Due: none

Improve `networking` Module (#2770)
  infrastructure/modules/networking/.terraform.lock.hcl
  infrastructure/modules/networking/main.tf
  infrastructure/modules/networking/modules/nacl/main.tf
  infrastructure/modules/networking/modules/nacl/variables.tf
  infrastructure/modules/networking/modules/vpc-endpoint/main.tf
  infrastructure/modules/networking/modules/vpc-endpoint/outputs.tf
  infrastructure/modules/networking/modules/vpc-endpoint/variables.tf
  infrastructure/modules/networking/outputs.tf
  infrastructure/modules/networking/variables.tf
  infrastructure/modules/security/.terraform.lock.hcl
  infrastructure/modules/security/main.tf
  infrastructure/modules/security/variables.tf
  infrastructure/staging/main.tf
Due: none

Improve `database` Module (#2810)
  infrastructure/modules/database/main.tf
  infrastructure/modules/database/variables.tf
  infrastructure/staging/main.tf
  infrastructure/staging/terraform.tfvars.example
  infrastructure/staging/variables.tf
Due: none

Add Frontend to Infrastructure (#2832)
  backend/settings/staging.py
  backend/zappa_settings.example.json
  cspell/custom-dict.txt
  infrastructure/README.md
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/frontend/main.tf
  infrastructure/modules/frontend/modules/alb/main.tf
  infrastructure/modules/frontend/modules/alb/outputs.tf
  infrastructure/modules/frontend/modules/alb/variables.tf
  infrastructure/modules/frontend/outputs.tf
  infrastructure/modules/frontend/variables.tf
  infrastructure/modules/parameters/main.tf
  infrastructure/modules/parameters/outputs.tf
  infrastructure/modules/security/main.tf
  infrastructure/modules/security/outputs.tf
  infrastructure/staging/main.tf
  infrastructure/staging/outputs.tf
  infrastructure/staging/variables.tf
Due: backend

Update volume names (#3205)
  docker-compose/local/compose.yaml
Due: none

Optimize Costs for Staging Deployment (#3238)
  backend/settings/staging.py
  backend/zappa_settings.example.json
  cspell/custom-dict.txt
  infrastructure/README.md
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/outputs.tf
  infrastructure/modules/alb/variables.tf
  infrastructure/modules/cache/main.tf
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/ecs/modules/task/main.tf
  infrastructure/modules/ecs/modules/task/variables.tf
  infrastructure/modules/ecs/variables.tf
  infrastructure/modules/frontend/main.tf
  infrastructure/modules/frontend/modules/alb/outputs.tf
  infrastructure/modules/frontend/modules/alb/variables.tf
  infrastructure/modules/frontend/outputs.tf
  infrastructure/modules/frontend/variables.tf
  infrastructure/modules/networking/main.tf
  infrastructure/modules/networking/modules/vpc-endpoint/main.tf
  infrastructure/modules/networking/modules/vpc-endpoint/outputs.tf
  infrastructure/modules/networking/modules/vpc-endpoint/variables.tf
  infrastructure/modules/networking/outputs.tf
  infrastructure/modules/networking/variables.tf
  infrastructure/modules/parameters/main.tf
  infrastructure/modules/parameters/outputs.tf
  infrastructure/modules/parameters/variables.tf
  infrastructure/modules/security/main.tf
  infrastructure/modules/security/variables.tf
  infrastructure/staging/main.tf
  infrastructure/staging/outputs.tf
  infrastructure/staging/terraform.tfvars.example
  infrastructure/staging/variables.tf
Due: backend

Add tests and checks for `cache` and `database` module (#3333)
  Makefile
  infrastructure/Makefile
  infrastructure/modules/cache/.terraform.lock.hcl
  infrastructure/modules/cache/tests/cache.tftest.hcl
  infrastructure/modules/cache/variables.tf
  infrastructure/modules/database/.terraform.lock.hcl
  infrastructure/modules/database/main.tf
  infrastructure/modules/database/tests/database.tftest.hcl
  infrastructure/modules/database/variables.tf
Due: none

Use Lambda SnapStart and optimize Zappa package (#3381)
  backend/apps/github/models/common.py
  backend/apps/github/models/repository.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/wsgi.py
  backend/zappa_callback.py
  backend/zappa_settings.example.json
  infrastructure/README.md
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/outputs.tf
  infrastructure/modules/alb/variables.tf
  infrastructure/staging/main.tf
  infrastructure/staging/terraform.tfvars.example
  infrastructure/staging/variables.tf
Due: backend

add tests for parameters module (#3499)
  infrastructure/modules/parameters/.terraform.lock.hcl
  infrastructure/modules/parameters/outputs.tf
  infrastructure/modules/parameters/tests/parameters.tftest.hcl
Due: none

add tests for `alb` module (#3679)
  infrastructure/modules/alb/.terraform.lock.hcl
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/tests/alb.tftest.hcl
  infrastructure/modules/alb/variables.tf
Due: none

Add tests for `security` module (#3567)
  infrastructure/modules/security/.terraform.lock.hcl
  infrastructure/modules/security/main.tf
  infrastructure/modules/security/tests/security.tftest.hcl
  infrastructure/modules/security/variables.tf
Due: none

Add tests for `networking` module and sub-modules (#3627)
  infrastructure/Makefile
  infrastructure/modules/networking/.terraform.lock.hcl
  infrastructure/modules/networking/main.tf
  infrastructure/modules/networking/modules/nacl/.terraform.lock.hcl
  infrastructure/modules/networking/modules/nacl/tests/nacl.tftest.hcl
  infrastructure/modules/networking/modules/nacl/variables.tf
  infrastructure/modules/networking/modules/vpc-endpoint/.terraform.lock.hcl
  infrastructure/modules/networking/modules/vpc-endpoint/main.tf
  infrastructure/modules/networking/modules/vpc-endpoint/tests/vpc-endpoint.tftest.hcl
  infrastructure/modules/networking/modules/vpc-endpoint/variables.tf
  infrastructure/modules/networking/tests/networking.tftest.hcl
  infrastructure/modules/networking/variables.tf
Due: none

Add CI/CD for staging deployment (#3466)
  .github/ansible/inventory.yaml
  .github/ansible/staging/nest.yaml
  .github/ansible/staging/proxy.yaml
  .github/workflows/run-ci-cd.yaml
  backend/Makefile
  backend/zappa_callback.py
  backend/zappa_settings.template.json
  cron/staging
  cspell/custom-dict.txt
  docker-compose/staging/compose.yaml
  infrastructure/README.md
  infrastructure/backend/variables.tf
  infrastructure/modules/ecs/outputs.tf
  infrastructure/modules/parameters/main.tf
  infrastructure/modules/parameters/variables.tf
  infrastructure/modules/storage/outputs.tf
  infrastructure/staging/main.tf
  infrastructure/staging/outputs.tf
  infrastructure/staging/terraform.tfbackend.example
  infrastructure/staging/terraform.tfvars.example
  infrastructure/staging/variables.tf
Due: backend

Add tests for `frontend` module (#3581)
  .github/workflows/run-ci-cd.yaml
  backend/zappa_callback.py
  cspell/custom-dict.txt
  infrastructure/backend/main.tf
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/outputs.tf
  infrastructure/modules/alb/variables.tf
  infrastructure/modules/cache/main.tf
  infrastructure/modules/cache/tests/cache.tftest.hcl
  infrastructure/modules/cache/variables.tf
  infrastructure/modules/database/main.tf
  infrastructure/modules/database/tests/database.tftest.hcl
  infrastructure/modules/database/variables.tf
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/ecs/modules/task/main.tf
  infrastructure/modules/ecs/modules/task/variables.tf
  infrastructure/modules/ecs/variables.tf
  infrastructure/modules/frontend/.terraform.lock.hcl
  infrastructure/modules/frontend/main.tf
  infrastructure/modules/frontend/tests/frontend.tftest.hcl
  infrastructure/modules/frontend/variables.tf
  infrastructure/modules/kms/.terraform.lock.hcl
  infrastructure/modules/kms/main.tf
  infrastructure/modules/kms/outputs.tf
  infrastructure/modules/kms/tests/kms.tftest.hcl
  infrastructure/modules/kms/variables.tf
  infrastructure/modules/networking/main.tf
  infrastructure/modules/networking/variables.tf
  infrastructure/modules/parameters/tests/parameters.tftest.hcl
  infrastructure/staging/main.tf
  infrastructure/staging/outputs.tf
  infrastructure/staging/terraform.tfvars.example
  infrastructure/staging/variables.tf
Due: backend

Add tests for `ecs` module and its sub-modules (#3691)
  infrastructure/modules/ecs/.terraform.lock.hcl
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/ecs/modules/task/.terraform.lock.hcl
  infrastructure/modules/ecs/modules/task/main.tf
  infrastructure/modules/ecs/modules/task/tests/task.tftest.hcl
  infrastructure/modules/ecs/tests/ecs.tftest.hcl
Due: none

add tests for `storage` module and its sub-modules (#3681)
  infrastructure/modules/storage/.terraform.lock.hcl
  infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/modules/s3-bucket/.terraform.lock.hcl
  infrastructure/modules/storage/modules/s3-bucket/main.tf
  infrastructure/modules/storage/modules/s3-bucket/tests/s3-bucket.tftest.hcl
  infrastructure/modules/storage/tests/storage.tftest.hcl
Due: none

Add CI for testing infrastructure code (#3694)
  .github/workflows/run-ci-cd.yaml
  .pre-commit-config.yaml
  backend/zappa_callback.py
  infrastructure/modules/alb/tests/alb.tftest.hcl
  infrastructure/modules/cache/tests/cache.tftest.hcl
  infrastructure/modules/database/tests/database.tftest.hcl
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/ecs/modules/task/tests/task.tftest.hcl
  infrastructure/modules/ecs/tests/ecs.tftest.hcl
  infrastructure/modules/frontend/main.tf
  infrastructure/modules/frontend/tests/frontend.tftest.hcl
  infrastructure/modules/kms/tests/kms.tftest.hcl
  infrastructure/modules/networking/main.tf
  infrastructure/modules/networking/modules/nacl/tests/nacl.tftest.hcl
  infrastructure/modules/networking/modules/vpc-endpoint/tests/vpc-endpoint.tftest.hcl
  infrastructure/modules/networking/tests/networking.tftest.hcl
  infrastructure/modules/parameters/tests/parameters.tftest.hcl
  infrastructure/modules/security/tests/security.tftest.hcl
  infrastructure/modules/storage/modules/s3-bucket/tests/s3-bucket.tftest.hcl
  infrastructure/modules/storage/tests/storage.tftest.hcl
Due: backend

Automate IAM User Role Policies (#3996)
  .github/workflows/run-ci-cd.yaml
  .gitignore
  backend/zappa_settings.template.json
  cspell/custom-dict.txt
  infrastructure/README.md
  infrastructure/backend/README.md
  infrastructure/backend/main.tf
  infrastructure/backend/outputs.tf
  infrastructure/backend/variables.tf
  infrastructure/bootstrap/.terraform.lock.hcl
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/backend.tf
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/outputs.tf
  infrastructure/bootstrap/providers.tf
  infrastructure/bootstrap/terraform.tfbackend.example
  infrastructure/bootstrap/terraform.tfvars.example
  infrastructure/bootstrap/variables.tf
  infrastructure/staging/README.md
  infrastructure/staging/main.tf
Due: backend

General Improvements for Infrastructure (#4039)
  docker/backend/Dockerfile
  infrastructure/README.md
  infrastructure/backend/README.md
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/terraform.tfvars.example
  infrastructure/modules/ecs/main.tf
  infrastructure/staging/README.md
  infrastructure/staging/outputs.tf
  infrastructure/staging/variables.tf
  infrastructure/state/.terraform.lock.hcl
  infrastructure/state/README.md
  infrastructure/state/main.tf
  infrastructure/state/outputs.tf
  infrastructure/state/providers.tf
  infrastructure/state/variables.tf
Due: none

resolve conflict and make check-test
  frontend/__tests__/unit/pages/EditModule.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
Due: frontend
