Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Run make update
  backend/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

update code
  frontend/src/app/board/[year]/candidates/page.tsx
  frontend/src/components/SkeletonsBase.tsx
Due: frontend

Update code
  .github/ansible/.ansible/.lock
  backend/tests/apps/owasp/models/chapter_test.py
  backend/tests/apps/owasp/models/event_test.py
Due: backend

fixed coderabbit review
  frontend/src/app/board/[year]/candidates/page.tsx
  frontend/src/components/SkeletonsBase.tsx
Due: frontend

Attach SBOMS to Github Release
  .github/workflows/run-ci-cd.yaml
Due: none

Fix/geo location falsy check (#3896)
  backend/apps/owasp/models/chapter.py
  backend/apps/owasp/models/event.py
  backend/tests/apps/owasp/models/chapter_test.py
  backend/tests/apps/owasp/models/event_test.py
Due: backend

Implemented Community Page
  frontend/src/app/community/layout.tsx
  frontend/src/app/community/page.tsx
  frontend/src/utils/communityData.ts
  frontend/src/utils/metadata.ts
Due: frontend

update
  frontend/src/app/community/layout.tsx
  frontend/src/app/community/page.tsx
  frontend/src/utils/communityData.ts
Due: frontend

update coderabbit review
  frontend/src/utils/communityData.ts
Due: frontend

fixed snapshots routes
  frontend/src/utils/communityData.ts
Due: frontend

fix: Make release version clickable in website footer
  docs/overrides/partials/footer.html
  mkdocs.yaml
Due: none

fix(frontend): make dev footer version link to commit (fixes #3892)
  frontend/__tests__/unit/components/Footer.test.tsx
  frontend/src/components/Footer.tsx
Due: frontend

feat: Add visual feedback for card interactions
  frontend/__tests__/unit/hooks/useCardState.test.tsx
  frontend/src/components/Card.tsx
  frontend/src/components/RepositoryCard.tsx
  frontend/src/components/UserCard.tsx
  frontend/src/hooks/useCardState.ts
Due: frontend

update tests to 98.79%
  backend/tests/apps/ai/agent/tools/rag/retriever_test.py
  backend/tests/apps/api/decorators/cache_test.py
  backend/tests/apps/api/models/api_key_test.py
  backend/tests/apps/common/index_test.py
  backend/tests/apps/common/search/query_parser_test.py
  backend/tests/apps/github/auth_test.py
  backend/tests/apps/github/management/commands/github_add_related_repositories_test.py
  backend/tests/apps/github/management/commands/github_get_installation_id_test.py
  backend/tests/apps/github/management/commands/github_sync_user_test.py
  backend/tests/apps/github/management/commands/github_update_owasp_organization_test.py
  backend/tests/apps/github/management/commands/github_update_related_organizations_test.py
  backend/tests/apps/github/models/comment_test.py
  backend/tests/apps/github/models/generic_issue_model_test.py
  backend/tests/apps/github/models/issue_test.py
  backend/tests/apps/nest/api/internal/nodes/user_test.py
  backend/tests/apps/owasp/admin/entity_channel_test.py
  backend/tests/apps/owasp/api/internal/filters/project_health_metrics_test.py
  backend/tests/apps/owasp/api/internal/nodes/common_test.py
  backend/tests/apps/owasp/api/internal/nodes/project_test.py
  backend/tests/apps/owasp/api/internal/permissions/project_health_metrics_test.py
  backend/tests/apps/owasp/api/internal/queries/board_of_directors_test.py
  backend/tests/apps/owasp/api/internal/queries/chapter_test.py
  backend/tests/apps/owasp/api/internal/queries/member_snapshot_test.py
  backend/tests/apps/owasp/models/board_of_directors_test.py
  backend/tests/apps/owasp/models/common_test.py
  backend/tests/apps/owasp/models/event_test.py
  backend/tests/apps/owasp/models/member_snapshot_test.py
  backend/tests/apps/sitemap/views/base_test.py
  backend/tests/apps/slack/actions/home_test.py
  backend/tests/apps/slack/commands/command_test.py
  backend/tests/apps/slack/commands/slack_sync_data_test.py
  backend/tests/apps/slack/common/handlers/chapters_test.py
  backend/tests/apps/slack/common/handlers/committees_test.py
  backend/tests/apps/slack/common/handlers/projects_test.py
  backend/tests/apps/slack/common/handlers/users_test.py
  backend/tests/apps/slack/management/commands/owasp_match_channels_test.py
Due: backend

update coverage to 99.26%
  backend/tests/apps/github/models/mixins/user_test.py
  backend/tests/apps/github/models/repository_test.py
  backend/tests/apps/github/utils_test.py
  backend/tests/apps/owasp/management/commands/owasp_enrich_projects_test.py
  backend/tests/apps/owasp/management/commands/owasp_scrape_chapters_test.py
  backend/tests/apps/owasp/management/commands/owasp_scrape_committees_test.py
  backend/tests/apps/owasp/management/commands/owasp_scrape_projects_test.py
  backend/tests/apps/owasp/management/commands/owasp_sync_board_candidates_test.py
  backend/tests/apps/owasp/management/commands/owasp_sync_posts_test.py
Due: backend

final design proposal
  frontend/src/app/community/page.tsx
  frontend/src/components/CommunityContributorsList.tsx
  frontend/src/server/queries/homeQueries.ts
  frontend/src/types/__generated__/homeQueries.generated.ts
  todo.md
Due: frontend

Update code
  frontend/__tests__/unit/components/Footer.test.tsx
  frontend/src/components/Footer.tsx
Due: frontend

Update code
  frontend/__tests__/unit/components/Footer.test.tsx
Due: frontend

fix(frontend): make dev footer version link to commit (#3914)
  frontend/__tests__/unit/components/Footer.test.tsx
  frontend/src/components/Footer.tsx
Due: frontend

Update code
  .github/workflows/run-ci-cd.yaml
  .gitignore
  backend/Makefile
  frontend/Makefile
Due: backend, frontend

Add CycloneDX SBOM generation for staging images (#3833)
  .github/workflows/run-ci-cd.yaml
  .gitignore
  backend/Makefile
  cspell/custom-dict.txt
  frontend/Makefile
Due: backend, frontend

reuse and chnange logic of contributor list , removed snapshot from HIDDEN_SEGMENT
  frontend/src/app/community/page.tsx
  frontend/src/components/CommunityContributorsList.tsx
  frontend/src/components/ContributorsList.tsx
  frontend/src/hooks/useBreadcrumbs.ts
Due: frontend

Update code
  backend/settings/base.py
  backend/settings/e2e.py
  backend/settings/fuzz.py
  backend/settings/graphql.py
  backend/settings/local.py
  backend/settings/production.py
  backend/settings/staging.py
Due: backend

Update code
  backend/settings/fuzz.py
  backend/settings/test.py
Due: backend

security: harden production settings for GraphQL, HSTS, and HTTP headers (fixes #3783) (#3799)
  backend/settings/base.py
  backend/settings/e2e.py
  backend/settings/fuzz.py
  backend/settings/graphql.py
  backend/settings/local.py
  backend/settings/staging.py
  backend/settings/test.py
Due: backend

Update code
  backend/apps/github/api/internal/nodes/repository.py
  backend/apps/github/api/internal/queries/repository.py
Due: backend

Update dump_data
  backend/apps/common/management/commands/dump_data.py
  backend/tests/apps/common/management/commands/dump_data_test.py
Due: backend

fixes
  frontend/src/app/community/page.tsx
  frontend/src/server/queries/communityQueries.ts
  frontend/src/types/__generated__/communityQueries.generated.ts
Due: frontend

Use pipes
  backend/apps/common/management/commands/dump_data.py
  backend/tests/apps/common/management/commands/dump_data_test.py
Due: backend

Update code
  backend/apps/common/management/commands/dump_data.py
Due: backend

make check
  backend/tests/apps/github/auth_test.py
  backend/tests/apps/github/management/commands/github_sync_user_test.py
  backend/tests/apps/owasp/admin/member_snapshot_test.py
  backend/tests/apps/owasp/admin/mixins_test.py
  backend/tests/apps/owasp/api/internal/queries/member_snapshot_test.py
  backend/tests/apps/owasp/models/entity_channel_test.py
  backend/tests/apps/owasp/models/entity_member_test.py
  backend/tests/apps/owasp/models/project_test.py
  backend/tests/apps/owasp/scraper_test.py
  backend/tests/apps/sitemap/views/static_test.py
  backend/tests/apps/slack/commands/command_test.py
  backend/tests/apps/slack/common/handlers/chapters_test.py
  backend/tests/apps/slack/common/handlers/committees_test.py
  backend/tests/apps/slack/common/handlers/contribute_test.py
  backend/tests/apps/slack/common/handlers/projects_test.py
  backend/tests/apps/slack/common/handlers/users_test.py
  backend/tests/apps/slack/common/question_detector_test.py
  backend/tests/apps/slack/management/commands/owasp_match_channels_test.py
  backend/tests/apps/slack/utils_test.py
Due: backend

Imrpove the test coverage above 90
  frontend/__tests__/unit/components/Footer.test.tsx
  frontend/__tests__/unit/components/HealthMetrics.test.tsx
  frontend/__tests__/unit/components/IssuesTable.test.tsx
  frontend/__tests__/unit/components/LabelList.test.tsx
  frontend/__tests__/unit/components/LogoCarousel.test.tsx
  frontend/__tests__/unit/components/MetricsCard.test.tsx
  frontend/__tests__/unit/components/MultiSearch.test.tsx
  frontend/__tests__/unit/components/NavDropDown.test.tsx
  frontend/__tests__/unit/components/Pagination.test.tsx
  frontend/__tests__/unit/components/ScrollToTop.test.tsx
  frontend/__tests__/unit/components/SecondaryCard.test.tsx
  frontend/__tests__/unit/components/SingleModuleCard.test.tsx
  frontend/__tests__/unit/components/forms/shared/FormDateInput.test.tsx
  frontend/__tests__/unit/components/skeletons/sharedSkeletons.test.tsx
  frontend/__tests__/unit/pages/ChapterDetails.test.tsx
  frontend/__tests__/unit/pages/Chapters.test.tsx
  frontend/__tests__/unit/pages/Committees.test.tsx
  frontend/__tests__/unit/pages/Contribute.test.tsx
  frontend/__tests__/unit/pages/Home.test.tsx
  frontend/__tests__/unit/pages/MenteeProfilePage.test.tsx
  frontend/__tests__/unit/pages/ModuleDetails.test.tsx
  frontend/__tests__/unit/pages/ModuleDetailsPage.test.tsx
  frontend/__tests__/unit/pages/Organization.test.tsx
  frontend/__tests__/unit/pages/OrganizationDetails.test.tsx
  frontend/__tests__/unit/pages/ProgramDetails.test.tsx
  frontend/__tests__/unit/pages/ProgramDetailsMentorship.test.tsx
  frontend/__tests__/unit/pages/ProjectHealthDashboardMetricsDetails.test.tsx
  frontend/__tests__/unit/pages/Projects.test.tsx
  frontend/__tests__/unit/pages/RepositoryDetails.test.tsx
  frontend/__tests__/unit/pages/SnapshotDetails.test.tsx
  frontend/__tests__/unit/utils/proxy.test.ts
  frontend/src/components/Milestones.tsx
  frontend/src/components/Pagination.tsx
Due: frontend

fix: remove N + 1 for author field, resolve cubic comments and modify comments
  backend/apps/github/api/internal/nodes/repository.py
  backend/apps/github/api/internal/queries/repository.py
  backend/tests/apps/github/api/internal/queries/repository_test.py
Due: backend

add image download feature
  backend/apps/ai/flows/assistant.py
  backend/apps/slack/common/handlers/ai.py
  backend/apps/slack/events/app_mention.py
  backend/apps/slack/utils.py
Due: backend

apply suggetions
  backend/apps/github/management/commands/github_add_related_repositories.py
  backend/apps/github/management/commands/github_update_related_organizations.py
  backend/apps/github/utils.py
  backend/tests/apps/ai/agent/tools/rag/retriever_test.py
  backend/tests/apps/api/decorators/cache_test.py
  backend/tests/apps/core/validators_test.py
  backend/tests/apps/github/auth_test.py
  backend/tests/apps/github/management/commands/github_add_related_repositories_test.py
  backend/tests/apps/github/management/commands/github_update_related_organizations_test.py
  backend/tests/apps/github/models/comment_test.py
  backend/tests/apps/github/models/organization_test.py
  backend/tests/apps/github/models/release_test.py
  backend/tests/apps/github/models/repository_test.py
  backend/tests/apps/github/utils_test.py
  backend/tests/apps/owasp/admin/member_profile_test.py
  backend/tests/apps/owasp/admin/mixins_test.py
  backend/tests/apps/owasp/management/commands/owasp_scrape_chapters_test.py
  backend/tests/apps/owasp/management/commands/owasp_scrape_committees_test.py
  backend/tests/apps/owasp/management/commands/owasp_scrape_projects_test.py
  backend/tests/apps/owasp/models/board_of_directors_test.py
  backend/tests/apps/owasp/models/sponsor_test.py
  backend/tests/apps/owasp/utils/pdf_test.py
  backend/tests/apps/slack/actions/home_test.py
  backend/tests/apps/slack/common/handlers/projects_test.py
Due: backend

code-rabbit
  backend/tests/apps/github/models/organization_test.py
  backend/tests/apps/slack/actions/home_test.py
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
