Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix pointer cursor on non-interactive map areas in ChapterMap
  frontend/src/app/globals.css
Due: frontend

fix(infrastucture): switch to recursive for docs with latest hash
  .github/workflows/run-ci-cd.yaml
  .pre-commit-config.yaml
  infrastructure/.terraform-docs.yaml
Due: none

fix(infrastucture): change makefile to use updated terrafrom docs
  infrastructure/Makefile
  infrastructure/README.md
Due: none

Add a custom context and view, a dataloader, and utils
  backend/apps/common/api/internal/dataloaders/__init__.py
  backend/apps/common/api/internal/dataloaders/utils.py
  backend/apps/github/api/internal/dataloaders/__init__.py
  backend/apps/github/api/internal/dataloaders/interested_users.py
  backend/apps/github/api/internal/nodes/issue.py
  backend/settings/graphql.py
  backend/settings/graphql_context.py
  backend/settings/urls.py
Due: backend

Update IssueNode test
  backend/tests/unit/apps/github/api/internal/nodes/issue_test.py
Due: backend

feat: add poetry.toml file for docs and backend
  backend/poetry.toml
  docker/backend/Dockerfile.local
  docker/docs/Dockerfile.local
  docs/poetry.toml
Due: backend

fix: rm would now properly remove files
  docker/docs/Dockerfile.local
Due: none

Update code
  backend/poetry.toml
  docker/backend/Dockerfile
  docker/backend/Dockerfile.fuzz
  docker/backend/Dockerfile.local
  docker/backend/Dockerfile.test
  docker/backend/Dockerfile.video
  docker/docs/Dockerfile.local
  docs/poetry.toml
Due: backend

Apply rabbit suggestion
  backend/apps/github/api/internal/dataloaders/__init__.py
  backend/apps/github/api/internal/nodes/issue.py
  backend/tests/unit/apps/github/api/internal/nodes/issue_test.py
Due: backend

Fix SynchronousOnlyOperation exception
  backend/apps/github/api/internal/queries/organization.py
  backend/apps/mentorship/api/internal/queries/module.py
  backend/apps/mentorship/api/internal/queries/program.py
  backend/apps/owasp/api/internal/queries/stats.py
Due: backend

Update tests
  backend/tests/unit/apps/github/api/internal/queries/organization_test.py
  backend/tests/unit/apps/mentorship/api/internal/queries/api_queries_module_test.py
  backend/tests/unit/apps/mentorship/api/internal/queries/api_queries_program_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/stats_test.py
Due: backend

Add dataloaders tests
  backend/apps/common/api/__init__.py
  backend/apps/common/api/internal/__init__.py
  backend/tests/unit/apps/common/api/__init__.py
  backend/tests/unit/apps/common/api/internal/__init__.py
  backend/tests/unit/apps/common/api/internal/dataloaders/__init__.py
  backend/tests/unit/apps/common/api/internal/dataloaders/utils_test.py
  backend/tests/unit/apps/github/api/__init__.py
  backend/tests/unit/apps/github/api/internal/__init__.py
  backend/tests/unit/apps/github/api/internal/dataloaders/__init__.py
  backend/tests/unit/apps/github/api/internal/dataloaders/interested_users_test.py
Due: backend

Migrate to pytest-asyncio
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/unit/apps/common/api/internal/dataloaders/utils_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/interested_users_test.py
  backend/tests/unit/apps/github/api/internal/nodes/issue_test.py
  backend/tests/unit/apps/github/api/internal/queries/organization_test.py
  backend/tests/unit/apps/mentorship/api/internal/queries/api_queries_module_test.py
  backend/tests/unit/apps/mentorship/api/internal/queries/api_queries_program_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/stats_test.py
Due: backend

Apply cubic suggestion
  backend/apps/mentorship/api/internal/queries/module.py
Due: backend

feat: add separate tsconfig for test files
  frontend/__tests__/tsconfig.json
Due: frontend

fix: remove jest-dom from types
  frontend/__tests__/tsconfig.json
Due: frontend

refactor: moved include below exclude to maintain consistency
  frontend/__tests__/tsconfig.json
Due: frontend

refactor: remove playwright config file from exclude as it's already excluded in parent tsconfig.json
  frontend/__tests__/tsconfig.json
Due: frontend

bump react to 19.2.5
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

bump react-dom to 19.2.5
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

chore: bump React and ReactDOM to v19.2.5 (#4618)
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

Extract checks
  .github/workflows/run-checks.yaml
  .github/workflows/run-ci-cd.yaml
Due: none

Remove docker layer from cspell
  .github/workflows/run-checks.yaml
Due: none

Give read permission to the checks
  .github/workflows/run-ci-cd.yaml
Due: none

Update fast-uri
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

Update fast-uri (#4627)
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

Bump postcss to 8.5.14
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

refactor: we use jest-swc however ts-jest was still lying in dev dependencies
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

Update code
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-code-quality-checks.yaml
Due: none

Extract checks and security scan from `run-ci-cd.yaml` (#4623)
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-code-quality-checks.yaml
Due: none

Bump next-auth to 4.24.14
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

Update code
  .pre-commit-config.yaml
  docker/frontend/Dockerfile.a11y.test
  docker/frontend/Dockerfile.unit.test
  frontend/__tests__/a11y/components/CardDetailsPage.a11y.test.tsx
  frontend/__tests__/a11y/components/LeadersList.a11y.test.tsx
  frontend/__tests__/a11y/components/MentorshipPullRequest.a11y.test.tsx
  frontend/__tests__/a11y/components/ModuleCard.a11y.test.tsx
  frontend/__tests__/a11y/components/ProgramCard.a11y.test.tsx
  frontend/__tests__/a11y/components/RecentPullRequests.a11y.test.tsx
  frontend/__tests__/a11y/components/RecentRelease.a11y.test.tsx
  frontend/__tests__/a11y/components/RecentReleases.a11y.test.tsx
  frontend/__tests__/a11y/components/Release.a11y.test.tsx
  frontend/__tests__/a11y/components/RepositoryCard.a11y.test.tsx
  frontend/__tests__/a11y/components/SingleModuleCard.a11y.test.tsx
  frontend/__tests__/a11y/components/ToggleableList.a11y.test.tsx
  frontend/__tests__/jest.setup.ts
  frontend/__tests__/tsconfig.json
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/HealthMetrics.test.tsx
  frontend/__tests__/unit/components/ItemCardList.test.tsx
  frontend/__tests__/unit/components/RecentRelease.test.tsx
  frontend/__tests__/unit/components/Release.test.tsx
  frontend/__tests__/unit/components/RepositoryCard.test.tsx
  frontend/__tests__/unit/components/SingleModuleCard.test.tsx
  frontend/__tests__/unit/components/SnapshotCard.test.tsx
  frontend/__tests__/unit/utils/getIcsFileUrl.test.ts
  frontend/jest.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/tsconfig.json
Due: frontend

Address Sonar's suggestions
  frontend/__tests__/a11y/components/RepositoryCard.a11y.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/ContributionStats.test.tsx
  frontend/__tests__/unit/components/ContributorAvatar.test.tsx
  frontend/__tests__/unit/components/ItemCardList.test.tsx
  frontend/__tests__/unit/components/MentorshipPullRequest.test.tsx
  frontend/__tests__/unit/components/ModuleCard.test.tsx
  frontend/__tests__/unit/components/RecentIssues.test.tsx
  frontend/__tests__/unit/components/RepositoryCard.test.tsx
Due: frontend

Update code
  frontend/__tests__/unit/components/SnapshotCard.test.tsx
Due: frontend

feat: add separate tsconfig for test files (#4616)
  .pre-commit-config.yaml
  docker/frontend/Dockerfile.a11y.test
  docker/frontend/Dockerfile.unit.test
  frontend/__tests__/a11y/components/CardDetailsPage.a11y.test.tsx
  frontend/__tests__/a11y/components/LeadersList.a11y.test.tsx
  frontend/__tests__/a11y/components/MentorshipPullRequest.a11y.test.tsx
  frontend/__tests__/a11y/components/ModuleCard.a11y.test.tsx
  frontend/__tests__/a11y/components/ProgramCard.a11y.test.tsx
  frontend/__tests__/a11y/components/RecentPullRequests.a11y.test.tsx
  frontend/__tests__/a11y/components/RecentRelease.a11y.test.tsx
  frontend/__tests__/a11y/components/RecentReleases.a11y.test.tsx
  frontend/__tests__/a11y/components/Release.a11y.test.tsx
  frontend/__tests__/a11y/components/RepositoryCard.a11y.test.tsx
  frontend/__tests__/a11y/components/SingleModuleCard.a11y.test.tsx
  frontend/__tests__/a11y/components/ToggleableList.a11y.test.tsx
  frontend/__tests__/jest.setup.ts
  frontend/__tests__/tsconfig.json
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/ContributionStats.test.tsx
  frontend/__tests__/unit/components/ContributorAvatar.test.tsx
  frontend/__tests__/unit/components/HealthMetrics.test.tsx
  frontend/__tests__/unit/components/ItemCardList.test.tsx
  frontend/__tests__/unit/components/MentorshipPullRequest.test.tsx
  frontend/__tests__/unit/components/ModuleCard.test.tsx
  frontend/__tests__/unit/components/RecentIssues.test.tsx
  frontend/__tests__/unit/components/RecentRelease.test.tsx
  frontend/__tests__/unit/components/Release.test.tsx
  frontend/__tests__/unit/components/RepositoryCard.test.tsx
  frontend/__tests__/unit/components/SingleModuleCard.test.tsx
  frontend/__tests__/unit/components/SnapshotCard.test.tsx
  frontend/__tests__/unit/utils/getIcsFileUrl.test.ts
  frontend/jest.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/tsconfig.json
Due: frontend

Update ShowMore button to use existing component
  frontend/__tests__/unit/components/SnapshotReleaseSection.test.tsx
  frontend/src/components/SnapshotReleaseSection.tsx
Due: frontend

Extract backend tests workflow and remove docker layer
  .github/workflows/run-backend-tests.yaml
  .github/workflows/run-ci-cd.yaml
Due: none

Add permissions
  .github/workflows/run-ci-cd.yaml
Due: none

Add FORCE_COLOR env
  .github/workflows/run-backend-tests.yaml
Due: none

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
