Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Moves the program post_save signal handler to the module's top level and eliminating the class wrapper (#3446)
  backend/apps/mentorship/signals/__init__.py
  backend/apps/mentorship/signals/program.py
Due: backend

Update codecov configuration
  .codecov.yml
  .github/workflows/run-ci-cd.yaml
Due: none

Update .github/workflows/run-ci-cd.yaml
  .github/workflows/run-ci-cd.yaml
Due: none

Mitigate CVE-2026-23745
  docker/frontend/Dockerfile
Due: none

Fix codecov ci/cd step
  .github/workflows/run-ci-cd.yaml
Due: none

Migrate Project issues property to M2M relation
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
  backend/apps/owasp/migrations/0073_project_issues.py
  backend/apps/owasp/models/project.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
Due: backend

fix: improve metrics dashboard responsiveness on small screens
  frontend/src/app/projects/dashboard/metrics/[projectKey]/page.tsx
Due: frontend

fix: make project health dashboard responsive on small screens
  frontend/src/app/projects/dashboard/page.tsx
Due: frontend

Add data migration to backfill Project.issues
  backend/apps/owasp/migrations/0074_populate_project_issues.py
Due: backend

Fix negative indexing in RepositoryNode.recent_milestones
  backend/apps/github/api/internal/nodes/repository.py
  backend/tests/apps/github/api/internal/nodes/repository_test.py
Due: backend

added semgrep for local test too
  .github/workflows/run-ci-cd.yaml
  .pre-commit-config.yaml
  .semgrepignore
  Makefile
Due: none

refactor cache invalidation
  backend/apps/common/extensions.py
  backend/apps/mentorship/api/internal/mutations/module.py
Due: backend

Fix negative indexing
  backend/apps/github/api/internal/nodes/repository.py
Due: backend

update tests
  backend/tests/apps/common/extensions_test.py
Due: backend

Add CI/CD to run terraform plan
  .github/workflows/run-ci-cd.yaml
  infrastructure/staging/terraform.tfbackend.example
  infrastructure/staging/terraform.tfvars.example
Due: none

Add CI/CD to run terraform apply and zappa deploy
  .github/workflows/run-ci-cd.yaml
  backend/zappa_callback.py
  backend/zappa_settings.template.json
  cspell/custom-dict.txt
  infrastructure/README.md
  infrastructure/modules/parameters/main.tf
  infrastructure/modules/parameters/variables.tf
  infrastructure/staging/main.tf
  infrastructure/staging/outputs.tf
Due: backend

Update zappa settings
  backend/zappa_settings.template.json
Due: backend

fix ReadTimeout crash
  backend/apps/owasp/api/internal/queries/project.py
  backend/apps/owasp/api/internal/queries/snapshot.py
Due: backend

Fix ReadTimeOut
  backend/apps/owasp/api/internal/queries/project.py
  backend/apps/owasp/api/internal/queries/snapshot.py
Due: backend

fixing merge issues
  backend/apps/mentorship/signals/__init__.py
  backend/apps/mentorship/signals/program.py
Due: backend

perf: optimize project pull requests by replacing property with M2M field
  backend/apps/owasp/api/internal/nodes/project.py
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
  backend/apps/owasp/migrations/0073_project_pull_requests.py
  backend/apps/owasp/models/project.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
Due: backend

Fix ReadTimeOut
  backend/apps/owasp/api/internal/nodes/snapshot.py
  backend/apps/owasp/api/internal/queries/project.py
  backend/apps/owasp/api/internal/queries/snapshot.py
Due: backend

refactor: add artifact archiving
  .github/workflows/run-ci-cd.yaml
  .gitignore
  Makefile
Due: none

fix: resolve cache race conditions
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/apps/mentorship/api/internal/mutations/program.py
Due: backend

verified
  .pre-commit-config.yaml
  Makefile
  backend/apps/github/admin/issue.py
  backend/apps/github/admin/pull_request.py
  backend/apps/github/admin/repository.py
  backend/apps/owasp/admin/mixins.py
  backend/apps/owasp/admin/widgets.py
  backend/apps/slack/views.py
  cspell/custom-dict.txt
  frontend/src/app/organizations/[organizationKey]/layout.tsx
  frontend/src/components/StructuredDataScript.tsx
  proxy/redirects.conf
Due: backend, frontend

Update for fuzz test fix
  backend/apps/owasp/api/internal/nodes/snapshot.py
  backend/tests/apps/owasp/api/internal/queries/project_test.py
Due: backend

fix: move project.created_at assignment out of conditional block
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
Due: backend

Fix test to use Project.objects.only instead of get
  backend/tests/apps/owasp/api/internal/queries/project_test.py
Due: backend

lint/format
  frontend/src/app/organizations/[organizationKey]/layout.tsx
  frontend/src/components/StructuredDataScript.tsx
Due: frontend

lint/format
  .github/workflows/run-ci-cd.yaml
Due: none

lint/format
  Makefile
Due: none

perf: optimize project milestones by migrating to M2M field
  backend/apps/owasp/api/internal/nodes/project.py
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
  backend/apps/owasp/models/project.py
Due: backend

make migration
  backend/apps/owasp/migrations/0073_project_recent_milestones.py
Due: backend

fixed issues
  docker/backend/Dockerfile
  docker/backend/Dockerfile.fuzz
  docker/backend/Dockerfile.local
  docker/backend/Dockerfile.test
  docker/backend/Dockerfile.video
Due: none

Change MAX_LIMIT from 1000 to 100
  backend/apps/owasp/api/internal/nodes/project.py
Due: backend

lint/format
  .github/workflows/run-ci-cd.yaml
  backend/apps/owasp/admin/mixins.py
  frontend/src/app/organizations/[organizationKey]/layout.tsx
  frontend/src/components/StructuredDataScript.tsx
  package.json
  pnpm-lock.yaml
Due: backend, frontend

Adjust limit handling in snapshot query
  backend/apps/owasp/api/internal/queries/snapshot.py
Due: backend

Adjust limit handling in project query function
  backend/apps/owasp/api/internal/queries/project.py
Due: backend

Integrate structured search and add tests
  backend/apps/api/rest/v0/project.py
  backend/apps/api/rest/v0/structured_search.py
  backend/apps/common/utils.py
  backend/tests/apps/api/rest/v0/project_search_test.py
Due: backend

Run make update
  backend/poetry.lock
  docs/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
