Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

refactor: use f-string instead of string concatenation
  backend/apps/common/management/commands/generate_model_graphs.py
Due: backend

fixed naming
  backend/apps/github/models/issue.py
  backend/apps/github/models/managers/issue.py
  backend/apps/github/models/managers/user.py
  backend/apps/github/models/user.py
  backend/apps/owasp/management/commands/owasp_process_snapshots.py
Due: backend

fix(docker): restrict write permissions in Dockerfile.test for security hardening
  docker/backend/Dockerfile.test
Due: none

fix(docker): adjust permission handling order in Dockerfile.test
  docker/backend/Dockerfile.test
Due: none

Fix race condition in API key creation by locking user row
  backend/apps/api/models/api_key.py
  backend/tests/apps/api/models/api_key_test.py
Due: backend

Update code
  SECURITY.md
  frontend/jest.setup.ts
Due: frontend

fix: replace empty ResizeObserver methods with jest.fn mocks (#3975)
  SECURITY.md
  frontend/jest.setup.ts
Due: frontend

fix(frontend): preserve SSR cookies when adding csrf header
  frontend/__tests__/unit/server/apolloCookieHeader.test.ts
  frontend/src/server/apolloClient.ts
  frontend/src/server/apolloCookieHeader.ts
Due: frontend

test(frontend): use cspell-safe csrf token literals
  frontend/__tests__/unit/server/apolloCookieHeader.test.ts
Due: frontend

refactor(frontend): use explicit null check for csrf cookie merge
  frontend/__tests__/unit/server/apolloCookieHeader.test.ts
  frontend/src/server/apolloCookieHeader.ts
Due: frontend

Update Footer.tsx
  frontend/src/components/Footer.tsx
Due: frontend

Fix: use TypeError instead of Error in dateFormatter
  frontend/__tests__/unit/utils/dateFormatter.test.ts
  frontend/src/utils/dateFormatter.ts
Due: frontend

Fix: add missing TypeError test for formatDateForInput
  frontend/__tests__/unit/utils/dateFormatter.test.ts
Due: frontend

feat: improve backend test coverage to 100%
  backend/apps/owasp/management/commands/owasp_sync_posts.py
  backend/apps/owasp/models/common.py
  backend/tests/apps/common/management/commands/add_project_custom_tags_test.py
  backend/tests/apps/mentorship/model/program_admin_test.py
  backend/tests/apps/owasp/api/internal/queries/sponsor_test.py
  backend/tests/apps/owasp/index/registry/chapter_test.py
  backend/tests/apps/owasp/index/registry/committee_test.py
  backend/tests/apps/owasp/index/search/chapter_test.py
  backend/tests/apps/owasp/index/search/issue_test.py
  backend/tests/apps/owasp/index/search/project_test.py
  backend/tests/apps/owasp/management/commands/common/entity_metadata_test.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_entity_contributions_test.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_member_contributions_test.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
  backend/tests/apps/owasp/management/commands/owasp_create_member_snapshot_test.py
  backend/tests/apps/owasp/management/commands/owasp_create_project_metadata_file_test.py
  backend/tests/apps/owasp/management/commands/owasp_enrich_chapters_test.py
  backend/tests/apps/owasp/management/commands/owasp_enrich_committees_test.py
  backend/tests/apps/owasp/management/commands/owasp_scrape_projects_test.py
  backend/tests/apps/owasp/management/commands/owasp_sync_posts_test.py
  backend/tests/apps/owasp/management/commands/owasp_update_leaders_test.py
  backend/tests/apps/owasp/models/common_test.py
  backend/tests/apps/owasp/models/event_test.py
  backend/tests/apps/slack/apps_test.py
  backend/tests/apps/slack/commands/command_test.py
  backend/tests/apps/slack/common/handlers/chapters_test.py
  backend/tests/apps/slack/common/handlers/committees_test.py
  backend/tests/apps/slack/common/handlers/projects_test.py
  backend/tests/apps/slack/common/handlers/users_test.py
  backend/tests/apps/slack/events/event_test.py
  backend/tests/apps/slack/management/commands/owasp_match_channels_test.py
  backend/tests/apps/slack/management/commands/slack_sync_messages_test.py
  backend/tests/apps/slack/utils_test.py
Due: backend

fix: code rabbit comments
  backend/apps/owasp/models/common.py
  backend/tests/apps/owasp/index/registry/chapter_test.py
  backend/tests/apps/owasp/index/registry/committee_test.py
  backend/tests/apps/owasp/models/common_test.py
  backend/tests/apps/slack/apps_test.py
  backend/tests/apps/slack/management/commands/slack_sync_messages_test.py
Due: backend

bot suggestions
  infrastructure/README.md
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/main.tf
Due: none

fix: code rabbit comment
  backend/tests/apps/slack/apps_test.py
Due: backend

Update code
  cspell/custom-dict.txt
  infrastructure/README.md
  infrastructure/bootstrap/main.tf
Due: none

fix issue
  backend/tests/apps/owasp/management/commands/owasp_enrich_chapters_test.py
  backend/tests/apps/slack/apps_test.py
Due: backend

update documentation
  cspell/custom-dict.txt
  infrastructure/README.md
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/main.tf
  infrastructure/staging/README.md
Due: none

extract global describe
  infrastructure/bootstrap/main.tf
  infrastructure/staging/README.md
Due: none

update code
  infrastructure/README.md
  infrastructure/bootstrap/main.tf
Due: none

docs: standardize common utils docstrings using Google style
  backend/apps/common/utils.py
Due: backend

update code
  .github/workflows/run-ci-cd.yaml
  .gitignore
  backend/zappa_settings.template.json
  cspell/custom-dict.txt
  infrastructure/INFO.md
  infrastructure/README.md
  infrastructure/backend/README.md
  infrastructure/backend/main.tf
  infrastructure/backend/providers.tf
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/providers.tf
  infrastructure/bootstrap/terraform.tfbackend.example
  infrastructure/staging/README.md
  infrastructure/staging/providers.tf
  infrastructure/staging/terraform.tfbackend.example
Due: backend

Update SECURITY.md
  SECURITY.md
Due: none

bot comments
  .github/workflows/run-ci-cd.yaml
  infrastructure/backend/README.md
  infrastructure/backend/main.tf
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/terraform.tfvars.example
  infrastructure/bootstrap/variables.tf
Due: none

add NestBot service with dedicated Dockerfile and update dependencies
  backend/pyproject.toml
  docker-compose/local/compose.yaml
  docker/backend/Dockerfile
  docker/backend/Dockerfile.nestbot.local
Due: backend

Run make update
  .pre-commit-config.yaml
  backend/poetry.lock
  docs/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Update code
  backend/tests/apps/slack/management/commands/owasp_match_channels_test.py
Due: backend

bot suggestions
  .github/workflows/run-ci-cd.yaml
  infrastructure/backend/README.md
  infrastructure/bootstrap/main.tf
Due: none

run ci/cd
  .github/workflows/run-ci-cd.yaml
Due: none

Run ci/cd
  .github/workflows/run-ci-cd.yaml
  infrastructure/bootstrap/main.tf
Due: none

revert CI/CD changes
  .github/workflows/run-ci-cd.yaml
Due: none

Mitigate CVE-2026-26960
  docker/frontend/Dockerfile
Due: none

fix issues
  backend/tests/apps/api/decorators/cache_test.py
  backend/tests/apps/api/rest/v0/chapter_test.py
  backend/tests/apps/api/rest/v0/committee_test.py
  backend/tests/apps/api/rest/v0/common_test.py
  backend/tests/apps/api/rest/v0/event_test.py
  backend/tests/apps/api/rest/v0/project_test.py
  backend/tests/apps/api/rest/v0/structured_search_test.py
  backend/tests/apps/github/management/commands/github_add_related_repositories_test.py
  backend/tests/apps/github/management/commands/github_enrich_issues_test.py
  backend/tests/apps/github/management/commands/github_update_owasp_organization_test.py
  backend/tests/apps/github/management/commands/github_update_related_organizations_test.py
  backend/tests/apps/github/models/mixins/release_test.py
  backend/tests/apps/github/models/pull_request_test.py
  backend/tests/apps/owasp/index/search/chapter_test.py
  backend/tests/apps/owasp/index/search/committee_test.py
  backend/tests/apps/owasp/index/search/issue_test.py
  backend/tests/apps/owasp/index/search/project_test.py
  backend/tests/apps/owasp/management/commands/owasp_enrich_chapters_test.py
  backend/tests/apps/slack/commands/users_test.py
  backend/tests/apps/slack/utils_test.py
Due: backend

refactor: rename State enum to IssueState
  backend/apps/api/rest/v0/issue.py
  backend/apps/api/rest/v0/milestone.py
  backend/apps/github/api/internal/queries/milestone.py
  backend/apps/github/models/generic_issue_model.py
  backend/apps/github/models/mixins/issue.py
  backend/apps/mentorship/management/commands/mentorship_update_comments.py
  backend/tests/apps/github/models/issue_test.py
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
