Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

Update code
  backend/src/apps/owasp/api/internal/nodes/common.py
Due: backend

Add security.txt under /.well-known/ per RFC 9116
  frontend/public/.well-known/security.txt
Due: frontend

move @staticmethods to the top
  infrastructure/scripts/terraform_tests.py
Due: none

add module name as prefix to test name
  infrastructure/modules/ecr-cache/tests/integration.tftest.hcl
  infrastructure/modules/kms/tests/integration.tftest.hcl
  infrastructure/modules/parameters/tests/integration.tftest.hcl
  infrastructure/modules/storage/tests/integration.tftest.hcl
Due: none

add missing tests
  infrastructure/tests/scripts/localstack_test.py
  infrastructure/tests/scripts/run_tests_test.py
  infrastructure/tests/scripts/runner_test.py
  infrastructure/tests/scripts/terraform_tests_test.py
Due: none

Ignore Sonar issue
  frontend/graphql-codegen-config.ts
Due: frontend

update feature/infrastructure-integration-tests branch (#5230)
  infrastructure/bootstrap/tests/unit.tftest.hcl
  infrastructure/modules/alb/tests/unit.tftest.hcl
  infrastructure/modules/cache/tests/unit.tftest.hcl
  infrastructure/modules/database/tests/unit.tftest.hcl
  infrastructure/modules/ecr-cache/tests/integration.tftest.hcl
  infrastructure/modules/ecr-cache/tests/unit.tftest.hcl
  infrastructure/modules/kms/tests/integration.tftest.hcl
  infrastructure/modules/kms/tests/unit.tftest.hcl
  infrastructure/modules/networking/modules/nacl/tests/unit.tftest.hcl
  infrastructure/modules/networking/modules/vpc-endpoint/tests/unit.tftest.hcl
  infrastructure/modules/networking/tests/unit.tftest.hcl
  infrastructure/modules/parameters/tests/integration.tftest.hcl
  infrastructure/modules/parameters/tests/unit.tftest.hcl
  infrastructure/modules/security/tests/unit.tftest.hcl
  infrastructure/modules/service/tests/unit.tftest.hcl
  infrastructure/modules/storage/modules/s3-bucket/tests/unit.tftest.hcl
  infrastructure/modules/storage/modules/shared-data-bucket/tests/unit.tftest.hcl
  infrastructure/modules/storage/tests/integration.tftest.hcl
  infrastructure/modules/storage/tests/unit.tftest.hcl
  infrastructure/modules/tasks/modules/task/tests/unit.tftest.hcl
  infrastructure/modules/tasks/tests/unit.tftest.hcl
  infrastructure/scripts/commands.py
  infrastructure/scripts/errors.py
  infrastructure/scripts/localstack.py
  infrastructure/scripts/run_tests.py
  infrastructure/scripts/runner.py
  infrastructure/scripts/terraform_tests.py
  infrastructure/tests/scripts/commands_test.py
  infrastructure/tests/scripts/localstack_test.py
  infrastructure/tests/scripts/run_tests_test.py
  infrastructure/tests/scripts/runner_test.py
  infrastructure/tests/scripts/terraform_tests_test.py
Due: none

Update code
  .github/workflows/run-code-checks.yaml
  CONTRIBUTING.md
  backend/Makefile
  backend/make/data.mk
  backend/make/test.mk
  make/README.md
  make/security.mk
Due: backend

Optimize CommitteeNode
  backend/src/apps/owasp/api/internal/nodes/committee.py
Due: backend

Update code
  infrastructure/scripts/runner.py
  infrastructure/tests/scripts/localstack_test.py
  infrastructure/tests/scripts/runner_test.py
Due: none

Optimize ChapterNode
  backend/src/apps/owasp/api/internal/nodes/chapter.py
Due: backend

Bump pillow to v12.3.0 (#5238)
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
Due: backend

Update code
  backend/make/test.mk
  frontend/make/test.mk
  infrastructure/make/test.mk
Due: backend, frontend

Update code
  make/test.mk
Due: none

Update code
  frontend/__tests__/unit/components/ModuleCard.test.tsx
Due: frontend

Add Sonar rule ignore
  .trivyignore.yaml
  docker/code-checks/Dockerfile
  docker/infrastructure/Dockerfile.tests
Due: none

Revert Sonar changes
  docker/code-checks/Dockerfile
  docker/infrastructure/Dockerfile.tests
Due: none

feat(infrastructure): add bootstrap-iam shared module
  infrastructure/modules/bootstrap-iam/README.md
  infrastructure/modules/bootstrap-iam/main.tf
  infrastructure/modules/bootstrap-iam/outputs.tf
  infrastructure/modules/bootstrap-iam/tests/bootstrap_iam.tftest.hcl
  infrastructure/modules/bootstrap-iam/variables.tf
Due: none

feat(infrastructure): add per-environment bootstrap roots
  infrastructure/bootstrap-production/README.md
  infrastructure/bootstrap-production/backend.tf
  infrastructure/bootstrap-production/main.tf
  infrastructure/bootstrap-production/outputs.tf
  infrastructure/bootstrap-production/providers.tf
  infrastructure/bootstrap-production/terraform.tfbackend.example
  infrastructure/bootstrap-production/terraform.tfvars.example
  infrastructure/bootstrap-production/tests/bootstrap.tftest.hcl
  infrastructure/bootstrap-production/variables.tf
  infrastructure/bootstrap-staging/README.md
  infrastructure/bootstrap-staging/backend.tf
  infrastructure/bootstrap-staging/main.tf
  infrastructure/bootstrap-staging/outputs.tf
  infrastructure/bootstrap-staging/providers.tf
  infrastructure/bootstrap-staging/terraform.tfbackend.example
  infrastructure/bootstrap-staging/terraform.tfvars.example
  infrastructure/bootstrap-staging/tests/bootstrap.tftest.hcl
  infrastructure/bootstrap-staging/variables.tf
Due: none

docs(infrastructure): deprecate shared bootstrap root
  infrastructure/bootstrap/README.md
Due: none

test(infrastructure): cover bootstrap IAM resource scoping
  infrastructure/modules/bootstrap-iam/tests/bootstrap_iam.tftest.hcl
Due: none

docs(infrastructure): address bot review comments and make check fixes
  .pre-commit-config.yaml
  infrastructure/README.md
  infrastructure/bootstrap-production/.terraform.lock.hcl
  infrastructure/bootstrap-production/README.md
  infrastructure/bootstrap-production/tests/bootstrap.tftest.hcl
  infrastructure/bootstrap-staging/.terraform.lock.hcl
  infrastructure/bootstrap-staging/README.md
  infrastructure/bootstrap-staging/tests/bootstrap.tftest.hcl
  infrastructure/bootstrap/README.md
  infrastructure/modules/bootstrap-iam/.terraform.lock.hcl
  infrastructure/modules/bootstrap-iam/README.md
  infrastructure/modules/bootstrap-iam/main.tf
Due: none

test(infrastructure): strengthen bootstrap isolation tests
  infrastructure/bootstrap-production/.terraform.lock.hcl
  infrastructure/bootstrap-production/README.md
  infrastructure/bootstrap-production/main.tf
  infrastructure/bootstrap-production/tests/bootstrap.tftest.hcl
  infrastructure/bootstrap-staging/.terraform.lock.hcl
  infrastructure/bootstrap-staging/README.md
  infrastructure/bootstrap-staging/main.tf
  infrastructure/bootstrap-staging/tests/bootstrap.tftest.hcl
  infrastructure/modules/bootstrap-iam/.terraform.lock.hcl
  infrastructure/modules/bootstrap-iam/README.md
  infrastructure/modules/bootstrap-iam/outputs.tf
  infrastructure/modules/bootstrap-iam/tests/bootstrap_iam.tftest.hcl
Due: none

address old bot issues
  infrastructure/bootstrap-production/README.md
  infrastructure/bootstrap-production/backend.tf
  infrastructure/bootstrap-staging/README.md
  infrastructure/bootstrap-staging/backend.tf
  infrastructure/modules/bootstrap-iam/README.md
  infrastructure/modules/bootstrap-iam/main.tf
Due: none

docs(infrastructure): reference staging bootstrap root
  infrastructure/live/README.md
Due: none

feat(infrastructure): update CI/CD workflow for per-environment bootstrap
  .github/workflows/run-infrastructure-bootstrap.yaml
Due: none

address bot err
  infrastructure/modules/bootstrap-iam/tests/bootstrap_iam.tftest.hcl
Due: none

docs(infrastructure): document bootstrap state layout
  infrastructure/state/README.md
Due: none

docs(infrastructure): clarify bootstrap isolation boundaries
  infrastructure/README.md
  infrastructure/bootstrap-production/README.md
  infrastructure/bootstrap-staging/README.md
  infrastructure/bootstrap/README.md
  infrastructure/modules/bootstrap-iam/README.md
Due: none

address bot issues
  infrastructure/bootstrap/main.tf
Due: none

refactor
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/main.tf
  infrastructure/live/README.md
Due: none

add constant for limits
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/tests/unit.tftest.hcl
Due: none

refactor
  .github/workflows/run-infrastructure-bootstrap.yaml
  infrastructure/README.md
  infrastructure/bootstrap-production/.terraform.lock.hcl
  infrastructure/bootstrap-production/README.md
  infrastructure/bootstrap-production/backend.tf
  infrastructure/bootstrap-production/main.tf
  infrastructure/bootstrap-production/outputs.tf
  infrastructure/bootstrap-production/providers.tf
  infrastructure/bootstrap-production/terraform.tfbackend.example
  infrastructure/bootstrap-production/terraform.tfvars.example
  infrastructure/bootstrap-production/tests/bootstrap.tftest.hcl
  infrastructure/bootstrap-production/variables.tf
  infrastructure/bootstrap-staging/.terraform.lock.hcl
  infrastructure/bootstrap-staging/README.md
  infrastructure/bootstrap-staging/backend.tf
  infrastructure/bootstrap-staging/main.tf
  infrastructure/bootstrap-staging/outputs.tf
  infrastructure/bootstrap-staging/providers.tf
  infrastructure/bootstrap-staging/terraform.tfbackend.example
  infrastructure/bootstrap-staging/terraform.tfvars.example
  infrastructure/bootstrap-staging/tests/bootstrap.tftest.hcl
  infrastructure/bootstrap-staging/variables.tf
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/backend.tf
  infrastructure/bootstrap/iam_policy_size_checks.tf
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/outputs.tf
  infrastructure/bootstrap/terraform.tfbackend.example
  infrastructure/bootstrap/terraform.tfvars.example
  infrastructure/bootstrap/tests/unit.tftest.hcl
  infrastructure/bootstrap/variables.tf
  infrastructure/live/README.md
  infrastructure/modules/bootstrap-iam/.terraform.lock.hcl
  infrastructure/modules/bootstrap-iam/README.md
  infrastructure/modules/bootstrap-iam/main.tf
  infrastructure/modules/bootstrap-iam/outputs.tf
  infrastructure/modules/bootstrap-iam/tests/bootstrap_iam.tftest.hcl
  infrastructure/modules/bootstrap-iam/variables.tf
  infrastructure/state/README.md
Due: none

revert readme changes
  infrastructure/bootstrap/README.md
Due: none

add back encyption
  infrastructure/bootstrap/backend.tf
Due: none

make check test fix
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/tests/unit.tftest.hcl
Due: none

remove unused
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/outputs.tf
Due: none
