Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 80%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

re-introduce structured search tests
  backend/tests/apps/api/rest/v0/structured_search_test.py
Due: backend

Run make update
  frontend/pnpm-lock.yaml
Due: frontend

Update docker files
  cspell/Dockerfile
  docker/cspell/Dockerfile
  docker/frontend/Dockerfile
  docker/frontend/Dockerfile.a11y.test
  docker/frontend/Dockerfile.e2e.test
  docker/frontend/Dockerfile.local
  docker/frontend/Dockerfile.unit.test
Due: none

Update cspell
  .github/workflows/run-ci-cd.yaml
  cspell/Dockerfile
  cspell/Makefile
Due: none

refactor(frontend): remove useless empty spread
  frontend/src/server/apolloCookieHeader.ts
Due: frontend

update code with unhide program
  backend/apps/mentorship/api/internal/queries/module.py
  backend/apps/mentorship/api/internal/queries/program.py
  backend/apps/mentorship/utils.py
Due: backend

Refactor auth user model usage
  backend/apps/api/models/api_key.py
  backend/apps/mentorship/api/internal/mutations/program.py
  backend/tests/apps/api/models/api_key_test.py
  backend/tests/apps/mentorship/api/internal/mutations/program_mutation_test.py
Due: backend

feat(search): add debounce and request cancellation with AbortController
  frontend/__tests__/unit/components/HealthMetrics.test.tsx
  frontend/__tests__/unit/components/ProgramForm.test.tsx
  frontend/__tests__/unit/pages/Contribute.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/__tests__/unit/pages/EditModule.test.tsx
  frontend/__tests__/unit/pages/EditProgram.test.tsx
  frontend/__tests__/unit/pages/ProjectsHealthDashboardMetrics.test.tsx
  frontend/__tests__/unit/pages/SnapshotDetails.test.tsx
  frontend/jest.setup.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ContributionStats.tsx
  frontend/src/components/MultiSearch.tsx
  frontend/src/hooks/useSearchPage.ts
  frontend/src/utils/dateFormatter.ts
Due: frontend

update tests and make check-test
  backend/apps/mentorship/api/internal/queries/module.py
  backend/apps/mentorship/api/internal/queries/program.py
  backend/tests/apps/mentorship/api/internal/queries/api_queries_module_test.py
  backend/tests/apps/mentorship/api/internal/queries/api_queries_program_test.py
  backend/tests/apps/mentorship/utils_test.py
Due: backend

Enforce YAML linting/formatting
  .github/ansible/production/nest.yaml
  .github/ansible/production/proxy.yaml
  .github/ansible/staging/nest.yaml
  .github/ansible/staging/proxy.yaml
  .github/workflows/check-pr-issue.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-code-ql.yaml
  .github/workflows/run-fuzz-tests.yaml
  .github/workflows/setup-backend-environment/action.yaml
  .pre-commit-config.yaml
  .yamllint
Due: none

Enforce YAML linting/formatting (#4032)
  .github/ansible/production/nest.yaml
  .github/ansible/production/proxy.yaml
  .github/ansible/staging/nest.yaml
  .github/ansible/staging/proxy.yaml
  .github/workflows/check-pr-issue.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-code-ql.yaml
  .github/workflows/run-fuzz-tests.yaml
  .github/workflows/setup-backend-environment/action.yaml
  .pre-commit-config.yaml
  .yamllint
Due: none

fix issue
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/apps/mentorship/migrations/0008_module_order.py
  backend/apps/mentorship/models/module.py
  backend/tests/apps/mentorship/api/internal/mutations/module_mutation_test.py
Due: backend

improve frontend test coverage
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/ChapterMap.test.tsx
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/__tests__/unit/contexts/BreadcrumbContext.test.tsx
  frontend/__tests__/unit/pages/EditModule.test.tsx
  frontend/__tests__/unit/pages/EditProgram.test.tsx
  frontend/__tests__/unit/pages/MenteeProfilePage.test.tsx
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
  frontend/__tests__/unit/pages/MyMentorship.test.tsx
  frontend/__tests__/unit/pages/SnapshotDetails.test.tsx
  frontend/__tests__/unit/pages/UserDetails.test.tsx
  frontend/src/app/members/[memberKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/ChapterMap.tsx
  frontend/src/components/ModuleForm.tsx
  frontend/src/components/ProgramForm.tsx
Due: frontend

fix issues
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/contexts/BreadcrumbContext.test.tsx
  frontend/__tests__/unit/pages/EditProgram.test.tsx
  frontend/__tests__/unit/pages/MenteeProfilePage.test.tsx
  frontend/__tests__/unit/pages/MyMentorship.test.tsx
  frontend/__tests__/unit/pages/SnapshotDetails.test.tsx
  frontend/src/app/members/[memberKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
Due: frontend

fix comments
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/ModuleForm.test.tsx
Due: frontend

fix: issues
  frontend/__tests__/unit/pages/UserDetails.test.tsx
Due: frontend

fix: issue
  frontend/__tests__/unit/pages/UserDetails.test.tsx
Due: frontend

Update code
  .github/dependabot.yml
  .gitignore
  .zapconfig
  Makefile
  backend/apps/core/api/internal/csrf.py
  backend/settings/base.py
  backend/settings/local.py
  cspell/custom-dict.txt
  docker/zap/Dockerfile
  frontend/next.config.ts
  proxy/headers.conf
Due: backend, frontend

Update code
  Makefile
  backend/settings/local.py
  backend/zappa_settings.json
Due: backend

Update code
  backend/zappa_settings.json
Due: backend

Update mentors permissions to view module issues
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/graphql-codegen.ts
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/EntityActions.tsx
  frontend/src/components/SingleModuleCard.tsx
  frontend/src/types/__generated__/EntityActions.generated.ts
Due: frontend

Update trivyignore.yaml
  trivyignore.yaml
Due: none

Handle ZAP warnings (#3339)
  .github/dependabot.yml
  .gitignore
  .zapconfig
  Makefile
  backend/apps/core/api/internal/csrf.py
  backend/settings/base.py
  backend/settings/local.py
  cspell/custom-dict.txt
  docker/zap/Dockerfile
  proxy/headers.conf
  trivyignore.yaml
Due: backend

Enable Module Deletion for Admins and Editing for Module Mentors (#3054)
  backend/apps/mentorship/api/internal/mutations/module.py
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/EntityActions.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/__tests__/unit/pages/EditModule.test.tsx
  frontend/graphql-codegen.ts
  frontend/jest.setup.ts
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/EntityActions.tsx
  frontend/src/components/SingleModuleCard.tsx
  frontend/src/types/__generated__/EntityActions.generated.ts
  frontend/src/types/__generated__/graphql.ts
Due: backend, frontend

fix(frontend): enforce strict equality in CardDetailsPage
  frontend/src/components/CardDetailsPage.tsx
Due: frontend

fix(frontend): use strict equality in SkeletonsBase component
  frontend/src/components/SkeletonsBase.tsx
Due: frontend

perf(frontend): convert home page to server component for better SSR
  frontend/src/app/HomePageClient.tsx
  frontend/src/app/loading.tsx
  frontend/src/app/page.tsx
Due: frontend

remove owasp- prefix
  infrastructure/README.md
  infrastructure/staging/variables.tf
Due: none

feat(search): add debounce and request cancellation with AbortController
  frontend/__tests__/unit/pages/Contribute.test.tsx
  frontend/src/components/MultiSearch.tsx
  frontend/src/hooks/useSearchPage.ts
Due: frontend

remove touch file commands
  infrastructure/README.md
Due: none

make paths absolute
  infrastructure/README.md
Due: none

migrate to pg_restore
  backend/apps/common/management/commands/load_data.py
  docker/backend/Dockerfile
  infrastructure/README.md
  infrastructure/modules/ecs/main.tf
  infrastructure/staging/outputs.tf
Due: backend

fix tests
  backend/tests/apps/common/management/commands/load_data_test.py
Due: backend

apply suggestions
  backend/apps/mentorship/api/internal/queries/module.py
  backend/apps/mentorship/api/internal/queries/program.py
  backend/apps/mentorship/models/program.py
  backend/apps/mentorship/utils.py
  backend/tests/apps/mentorship/api/internal/queries/api_queries_module_test.py
  backend/tests/apps/mentorship/api/internal/queries/api_queries_program_test.py
  backend/tests/apps/mentorship/utils_test.py
  frontend/src/types/__generated__/graphql.ts
Due: backend, frontend

improve readme
  infrastructure/README.md
Due: none

use simpler placeholders
  infrastructure/README.md
  infrastructure/backend/README.md
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/terraform.tfvars.example
  infrastructure/staging/README.md
Due: none

rename nest-backend to nest-state
  infrastructure/README.md
  infrastructure/bootstrap/main.tf
  infrastructure/state/.terraform.lock.hcl
  infrastructure/state/README.md
  infrastructure/state/main.tf
  infrastructure/state/outputs.tf
  infrastructure/state/providers.tf
  infrastructure/state/variables.tf
Due: none

improve frontend test coverage
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/ChapterMap.test.tsx
  frontend/__tests__/unit/components/EntityActions.test.tsx
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/__tests__/unit/contexts/BreadcrumbContext.test.tsx
  frontend/__tests__/unit/pages/EditModule.test.tsx
  frontend/__tests__/unit/pages/EditProgram.test.tsx
  frontend/__tests__/unit/pages/MenteeProfilePage.test.tsx
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
  frontend/__tests__/unit/pages/MyMentorship.test.tsx
  frontend/__tests__/unit/pages/SnapshotDetails.test.tsx
  frontend/__tests__/unit/pages/UserDetails.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/ChapterMap.tsx
  frontend/src/components/ModuleForm.tsx
  frontend/src/components/ProgramForm.tsx
Due: frontend
