Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

address redundant check + add test
  frontend/__tests__/unit/utils/dateFormatter.test.ts
  frontend/src/utils/dateFormatter.ts
Due: frontend

update code for showing error
  backend/apps/mentorship/api/internal/mutations/module.py
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/create/page.tsx
  frontend/src/components/ModuleForm.tsx
Due: backend, frontend

fixed if condition
  frontend/src/utils/dateFormatter.ts
Due: frontend

fix: replace generic Error with TypeError in dateFormatter
  frontend/src/utils/dateFormatter.ts
Due: frontend

Fix issue
  backend/apps/github/api/internal/nodes/repository.py
  backend/tests/apps/github/api/internal/nodes/repository_test.py
Due: backend

Fix: issue
  backend/apps/github/api/internal/nodes/release.py
  backend/apps/github/api/internal/nodes/repository.py
  backend/tests/apps/github/api/internal/nodes/release_test.py
  backend/tests/apps/github/api/internal/nodes/repository_test.py
Due: backend

Update generate_model_graphs.py
  backend/apps/common/management/commands/generate_model_graphs.py
Due: backend

Run make update
  .pre-commit-config.yaml
  backend/poetry.lock
  backend/pyproject.toml
  docs/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

fix(mentorship): use select_for_update() to prevent lost updates (fixes #3855)
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/apps/mentorship/api/internal/mutations/program.py
Due: backend

test: improve coverage for generate_model_graphs command
  backend/tests/apps/common/management/commands/generate_model_graphs_test.py
Due: backend

apply suggestions
  backend/apps/mentorship/api/internal/mutations/module.py
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/src/components/ModuleForm.tsx
  frontend/src/components/ProgramForm.tsx
Due: backend, frontend

Added community endpoint to HIDDEN_SEGMENT (#3863)
  frontend/__tests__/unit/hooks/useBreadcrumbs.test.tsx
  frontend/src/hooks/useBreadcrumbs.ts
Due: frontend

fix(models): check for None instead of falsy in geo-location
  backend/apps/owasp/models/chapter.py
  backend/apps/owasp/models/event.py
  backend/tests/apps/owasp/models/chapter_test.py
  backend/tests/apps/owasp/models/event_test.py
Due: backend

fix(models): check for None instead of falsy in geo-location
  backend/tests/apps/owasp/models/chapter_test.py
  backend/tests/apps/owasp/models/event_test.py
Due: backend

make check-test
  backend/tests/apps/owasp/api/internal/nodes/project_test.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
Due: backend

fix(models): correct comment formatting
  backend/tests/apps/owasp/models/chapter_test.py
  backend/tests/apps/owasp/models/event_test.py
Due: backend

fixed comments in tests/models
  backend/tests/apps/owasp/models/chapter_test.py
  backend/tests/apps/owasp/models/event_test.py
Due: backend

test: run generate_model_graphs tests in temporary workdir
  backend/tests/apps/common/management/commands/generate_model_graphs_test.py
Due: backend

fixed comments
  .github/ansible/.ansible/.lock
  backend/tests/apps/owasp/models/chapter_test.py
  backend/tests/apps/owasp/models/event_test.py
Due: backend

fix(frontend): make dev footer version link to commit (fixes #3892)
  frontend/src/components/Footer.tsx
Due: frontend

ci: run Trivy SBOM generation via Makefile
  .github/workflows/run-ci-cd.yaml
  backend/Makefile
  frontend/Makefile
Due: backend, frontend

initial design
  frontend/src/app/community/layout.tsx
  frontend/src/app/community/page.tsx
  frontend/src/hooks/useBreadcrumbs.ts
  frontend/src/utils/metadata.ts
  todo.md
Due: frontend

add local image build guard to sbom-frontend-image
  frontend/Makefile
Due: frontend

add local image build guard to sbom-backend-image
  backend/Makefile
Due: backend

Fix PLC0415 violations
  backend/apps/ai/common/utils.py
  backend/apps/owasp/management/commands/owasp_create_member_snapshot.py
  backend/pyproject.toml
  backend/tests/apps/ai/management/commands/ai_update_chapter_chunks_test.py
  backend/tests/apps/ai/management/commands/ai_update_chapter_context_test.py
  backend/tests/apps/ai/management/commands/ai_update_committee_chunks_test.py
  backend/tests/apps/ai/management/commands/ai_update_committee_context_test.py
  backend/tests/apps/ai/management/commands/ai_update_event_chunks_test.py
  backend/tests/apps/ai/management/commands/ai_update_event_context_test.py
  backend/tests/apps/ai/management/commands/ai_update_project_chunks_test.py
  backend/tests/apps/ai/management/commands/ai_update_project_context_test.py
  backend/tests/apps/ai/management/commands/ai_update_slack_message_chunks_test.py
  backend/tests/apps/ai/management/commands/ai_update_slack_message_context_test.py
  backend/tests/apps/ai/models/chunk_test.py
  backend/tests/apps/ai/models/context_test.py
  backend/tests/apps/api/rest/v0/snapshot_test.py
  backend/tests/apps/api/rest/v0/structured_search_test.py
  backend/tests/apps/github/models/release_test.py
  backend/tests/apps/owasp/admin/mixins_test.py
  backend/tests/apps/owasp/api/internal/nodes/chapter_test.py
  backend/tests/apps/owasp/api/internal/nodes/project_test.py
  backend/tests/apps/owasp/api/internal/queries/board_of_directors_test.py
  backend/tests/apps/owasp/api/internal/queries/member_snapshot_test.py
  backend/tests/apps/owasp/management/commands/owasp_generate_community_snapshot_video_test.py
  backend/tests/apps/owasp/models/common_test.py
  backend/tests/apps/slack/commands/ai_test.py
Due: backend

test(frontend): add tests for non-production version link behavior
  frontend/__tests__/unit/components/Footer.test.tsx
Due: frontend

fix: handle RELEASE_VERSION without dash and improve test cleanup
  frontend/__tests__/unit/components/Footer.test.tsx
  frontend/src/components/Footer.tsx
Due: frontend

Update code
  backend/apps/common/management/commands/algolia_update_replicas.py
  backend/apps/github/management/commands/github_add_related_repositories.py
  backend/apps/github/management/commands/github_enrich_issues.py
  backend/apps/github/management/commands/github_update_owasp_organization.py
  backend/apps/github/management/commands/github_update_related_organizations.py
  backend/apps/github/management/commands/github_update_users.py
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
  backend/apps/owasp/management/commands/owasp_enrich_chapters.py
  backend/apps/owasp/management/commands/owasp_enrich_committees.py
  backend/apps/owasp/management/commands/owasp_enrich_events.py
  backend/apps/owasp/management/commands/owasp_enrich_projects.py
  backend/apps/owasp/management/commands/owasp_scrape_chapters.py
  backend/apps/owasp/management/commands/owasp_scrape_committees.py
  backend/apps/owasp/management/commands/owasp_scrape_projects.py
  backend/tests/apps/common/management/commands/algolia_update_replicas_test.py
  backend/tests/apps/github/management/commands/github_update_users_test.py
Due: backend

fix(mentorship): use select_for_update() to prevent lost updates (fixes #3855) (#3894)
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/apps/mentorship/api/internal/mutations/program.py
Due: backend

Mitigate CVE-2026-26007
  .pre-commit-config.yaml
  backend/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

chore(backend): pin cryptography to ^46.0.5 to fix CVE-2026-26007 (Trivy)
  backend/poetry.lock
  backend/pyproject.toml
Due: backend

docs(backend): add comment for cryptography pin (CVE-2026-26007, CodeRabbit)
  backend/pyproject.toml
Due: backend

fixed tests
  backend/tests/apps/owasp/models/chapter_test.py
  backend/tests/apps/owasp/models/event_test.py
Due: backend

Bump coverage threshold from 80% to 90%
  .codecov.yml
  backend/pyproject.toml
  frontend/jest.config.ts
Due: backend, frontend

update coverage to 96.88%
  backend/tests/apps/ai/agent/nodes_test.py
  backend/tests/apps/ai/agent/tools/rag/generator_test.py
  backend/tests/apps/ai/agent/tools/rag/retriever_test.py
  backend/tests/apps/ai/common/base/chunk_command_test.py
  backend/tests/apps/ai/common/extractors/project_test.py
  backend/tests/apps/ai/common/extractors/repository_test.py
  backend/tests/apps/ai/common/utils_test.py
  backend/tests/apps/api/decorators/cache_test.py
  backend/tests/apps/api/internal/mutations/api_key_test.py
  backend/tests/apps/common/management/commands/dump_data_test.py
  backend/tests/apps/common/open_ai_test.py
  backend/tests/apps/common/search/query_parser_test.py
  backend/tests/apps/common/utils_test.py
  backend/tests/apps/core/api/internal/algolia_test.py
  backend/tests/apps/core/validators_test.py
  backend/tests/apps/github/api/internal/nodes/issue_test.py
  backend/tests/apps/github/api/internal/nodes/repository_test.py
  backend/tests/apps/github/api/internal/queries/issue_test.py
  backend/tests/apps/github/api/internal/queries/milestone_test.py
  backend/tests/apps/github/api/internal/queries/pull_request_test.py
  backend/tests/apps/github/api/internal/queries/release_test.py
  backend/tests/apps/github/api/internal/queries/repository_contributor_test.py
  backend/tests/apps/github/api/internal/queries/repository_test.py
  backend/tests/apps/github/models/repository_test.py
  backend/tests/apps/slack/events/member_joined_channel/project_nest_test.py
  backend/tests/apps/slack/events/message_posted_test.py
  backend/tests/apps/slack/models/conversation_test.py
  backend/tests/apps/slack/models/event_test.py
  backend/tests/apps/slack/models/member_test.py
  backend/tests/apps/slack/models/workspace_test.py
  backend/tests/apps/slack/services/message_auto_reply_test.py
  backend/tests/apps/slack/utils_test.py
Due: backend

coverage reached to 97.11%
  backend/tests/apps/owasp/api/internal/nodes/project_test.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
  backend/tests/apps/slack/common/handlers/chapters_test.py
  backend/tests/apps/slack/common/handlers/committees_test.py
  backend/tests/apps/slack/common/handlers/contribute_test.py
  backend/tests/apps/slack/common/handlers/projects_test.py
  backend/tests/apps/slack/common/handlers/users_test.py
  backend/tests/apps/slack/common/question_detector_test.py
  backend/tests/apps/slack/events/app_mention_test.py
Due: backend

Removed Nested componentes
  frontend/src/app/board/[year]/candidates/page.tsx
  frontend/src/app/global-error.tsx
  frontend/src/app/members/[memberKey]/page.tsx
  frontend/src/components/SkeletonsBase.tsx
Due: frontend

fixed code rabbit review
  frontend/src/app/board/[year]/candidates/page.tsx
  frontend/src/app/global-error.tsx
  frontend/src/components/SkeletonsBase.tsx
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
