Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: add security controls to MultiSearch window.open()
  frontend/__tests__/unit/components/MultiSearch.test.tsx
  frontend/src/components/MultiSearch.tsx
Due: frontend

Update code
  backend/apps/common/utils.py
  backend/tests/apps/common/utils_test.py
Due: backend

adress coderabbit issues
  backend/apps/owasp/management/commands/owasp_run_notification_worker.py
Due: backend

fix: reject malformed URLs with invalid netloc values (#3790)
  backend/apps/common/utils.py
  backend/tests/apps/common/utils_test.py
Due: backend

Update issues table to use LabelLists instead of custom labels (#3816)
  frontend/__tests__/unit/components/IssuesTable.test.tsx
  frontend/src/components/IssuesTable.tsx
Due: frontend

adress coderabbit
  backend/apps/owasp/management/commands/owasp_run_notification_worker.py
  backend/tests/apps/owasp/management/commands/owasp_run_notification_worker_test.py
Due: backend

fix: add security controls to MultiSearch window.open() (#3821)
  frontend/__tests__/unit/components/MultiSearch.test.tsx
  frontend/src/components/MultiSearch.tsx
Due: frontend

Use get_user_model() to retrieve User instance
  backend/apps/api/models/api_key.py
Due: backend

Add user locking during API key creation
  backend/apps/api/models/api_key.py
Due: backend

ci: add ansible-lint pre-commit hook
  .github/workflows/lint-ansible.yaml
  .pre-commit-config.yaml
  Makefile
Due: none

fix: whitespace & version
  .pre-commit-config.yaml
Due: none

Update Makefile
  Makefile
Due: none

fix: remove unused className prop from AnchorTitle component
  frontend/src/components/AnchorTitle.tsx
Due: frontend

fix: use Prefetch within repository query and revert filter() to get()
  backend/apps/github/api/internal/nodes/repository.py
  backend/apps/github/api/internal/queries/repository.py
  backend/tests/apps/github/api/internal/queries/repository_test.py
Due: backend

fix: comment Dockerfile note to prevent syntax error
  docker/frontend/Dockerfile
Due: none

fixed aloglia cache_key
  backend/apps/core/api/internal/algolia.py
Due: backend

change separator val to be semicolon (;)
  backend/apps/core/api/internal/algolia.py
Due: backend

fix: prevent state updates after unmount in chapters geoLocData fetch
  frontend/src/app/chapters/page.tsx
Due: frontend

take only number as date input (for unix timestamp)
  frontend/src/utils/dateFormatter.ts
Due: frontend

fixed date format in tsx files
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/Card.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/MenteeIssues.tsx
  frontend/src/components/Milestones.tsx
  frontend/src/components/ModuleCard.tsx
  frontend/src/components/ProgramCard.tsx
  frontend/src/components/RecentIssues.tsx
  frontend/src/components/RecentPullRequests.tsx
  frontend/src/components/SingleModuleCard.tsx
  frontend/src/components/SnapshotCard.tsx
Due: frontend

fixed test file
  frontend/__tests__/unit/utils/dateFormatter.test.ts
Due: frontend

Enable continue-on-error for SBOM generation
  .github/workflows/run-ci-cd.yaml
Due: none

fix: redundant-typescript-assertion
  frontend/src/app/my/mentorship/page.tsx
  frontend/src/types/auth.ts
Due: frontend

Fix Sonar S4325 by narrowing session user fields instead of casting
  frontend/src/types/auth.ts
Due: frontend

Fix unused ExtendedSession in mentorship page
  frontend/src/app/my/mentorship/page.tsx
Due: frontend

ci: run Trivy SBOM generation via Docker container
  .github/workflows/run-ci-cd.yaml
Due: none

update volume names
  docker-compose/local/compose.yaml
Due: none

update ci/cd
  .github/workflows/run-ci-cd.yaml
Due: none

supress false positives
  infrastructure/backend/main.tf
  infrastructure/modules/alb/main.tf
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/frontend/main.tf
  infrastructure/modules/networking/main.tf
  infrastructure/modules/networking/modules/nacl/main.tf
  infrastructure/modules/security/main.tf
  infrastructure/modules/storage/modules/s3-bucket/main.tf
Due: none

remove dev group
  docker/backend/Dockerfile
  infrastructure/README.md
Due: none

fixed coderabbit review
  backend/apps/github/api/internal/nodes/issue.py
  frontend/src/components/IssuesTable.tsx
Due: backend, frontend

feat(ui): revamp corporate supporters carousel (Infinite Marquee + Dark Mode fix)
  frontend/__tests__/unit/components/LogoCarousel.test.tsx
  frontend/src/components/LogoCarousel.tsx
  frontend/tailwind.config.mjs
Due: frontend

changed tests
  frontend/__tests__/unit/utils/dateFormatter.test.ts
Due: frontend

fix: resolve failing test case
  frontend/__tests__/unit/components/LogoCarousel.test.tsx
Due: frontend

update project health metrics to correctly calculate latest months and add unit tests
  backend/apps/owasp/models/project_health_metrics.py
  backend/tests/apps/owasp/models/project_health_metrics_test.py
Due: backend

fix: add fallback text for unnamed sponsors
  frontend/src/components/LogoCarousel.tsx
Due: frontend

Update backend/tests/apps/owasp/models/project_health_metrics_test.py
  backend/tests/apps/owasp/models/project_health_metrics_test.py
Due: backend

Run make update
  backend/poetry.lock
  docs/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
