Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

fix: configure Gunicorn with production-appropriate worker and timeou… (#4362)
  backend/entrypoint.sh
Due: backend

chore(deps): remove unused react-router-dom from frontend
  frontend/__tests__/unit/pages/ChapterDetails.test.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

Remove invalid test:e2e script from README
  frontend/README.md
Due: frontend

Remove invalid test:e2e script from README (#4396)
  frontend/README.md
Due: frontend

add collaborative flow for complex queries
  backend/apps/ai/agents/synthesizer/__init__.py
  backend/apps/ai/agents/synthesizer/agent.py
  backend/apps/ai/flows/assistant.py
  backend/apps/ai/flows/collaborative.py
  backend/apps/ai/templates/agents/synthesizer/backstory.jinja
  backend/apps/ai/templates/agents/synthesizer/tasks/synthesize.jinja
  backend/apps/ai/utils.py
Due: backend

move utils
  backend/apps/ai/common/utils.py
  backend/apps/ai/flows/assistant.py
  backend/apps/ai/flows/collaborative.py
  backend/apps/ai/utils.py
Due: backend

update code
  backend/apps/ai/flows/assistant.py
  backend/apps/ai/flows/collaborative.py
  backend/tests/apps/ai/flows/collaborative_test.py
Due: backend

add tests
  backend/tests/apps/ai/common/utils_test.py
  backend/tests/apps/ai/flows/collaborative_test.py
Due: backend

bot comment
  backend/apps/ai/flows/assistant.py
Due: backend

patch test
  backend/tests/apps/ai/flows/collaborative_test.py
Due: backend

bot comments
  backend/apps/ai/flows/assistant.py
Due: backend

test: add comprehensive tests for github admin classes
  backend/tests/apps/github/admin/issue_test.py
  backend/tests/apps/github/admin/pull_request_test.py
  backend/tests/apps/github/admin/repository_test.py
  backend/tests/apps/github/admin/user_test.py
Due: backend

Improve error handling in CalendarButton
  frontend/src/components/CalendarButton.tsx
Due: frontend

update code with review comments
  backend/apps/ai/common/utils.py
  backend/apps/ai/flows/collaborative.py
  backend/apps/ai/query_analyzer.py
  backend/apps/ai/templates/query_analyzer/tasks/analyze.jinja
Due: backend

fix:sonarqube_security_hotspot
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/SponsorForm.tsx
  frontend/src/components/forms/shared/formValidationUtils.ts
Due: frontend

refactor parser and add tests
  backend/apps/ai/query_analyzer.py
  backend/apps/ai/templates/query_analyzer/tasks/analyze.jinja
  backend/tests/apps/ai/query_analyzer_test.py
Due: backend

fix spelling
  backend/tests/apps/ai/query_analyzer_test.py
Due: backend

update code
  backend/apps/ai/flows/assistant.py
Due: backend

fix test
  backend/tests/apps/ai/query_analyzer_test.py
Due: backend

fix test
  backend/tests/apps/ai/flows/assistant_test.py
Due: backend

move owasp-community specific step to the top
  backend/apps/ai/flows/assistant.py
Due: backend

update code
  backend/apps/ai/flows/collaborative.py
Due: backend

Update frontend/README.md
  frontend/README.md
Due: frontend

Run make update
  .pre-commit-config.yaml
  backend/poetry.lock
  cspell/package.json
  cspell/pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Implement Collaborative Flow for Complex Queries (#4324)
  backend/apps/ai/agents/synthesizer/__init__.py
  backend/apps/ai/agents/synthesizer/agent.py
  backend/apps/ai/common/utils.py
  backend/apps/ai/flows/assistant.py
  backend/apps/ai/flows/collaborative.py
  backend/apps/ai/query_analyzer.py
  backend/apps/ai/templates/agents/synthesizer/backstory.jinja
  backend/apps/ai/templates/agents/synthesizer/tasks/synthesize.jinja
  backend/apps/ai/templates/query_analyzer/tasks/analyze.jinja
  backend/tests/apps/ai/common/utils_test.py
  backend/tests/apps/ai/flows/collaborative_test.py
  backend/tests/apps/ai/query_analyzer_test.py
Due: backend

chore(deps): remove unused react-router-dom from frontend (#4395)
  frontend/__tests__/unit/pages/ChapterDetails.test.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

fix: add project id to contributor tooltip keys
  frontend/components/Contributors.tsx
  frontend/src/components/Contributors.tsx
Due: frontend

Update README.md
  frontend/README.md
Due: frontend

fix: resolve race condition with proper null checks for map container
  frontend/src/components/ChapterMap.tsx
Due: frontend

Add #owasp-community new member joined ephemeral message
  backend/apps/slack/events/__init__.py
  backend/apps/slack/events/member_joined_channel/catch_all.py
  backend/apps/slack/events/member_joined_channel/owasp_community.py
  backend/apps/slack/templates/events/member_joined_channel/owasp_community/ephemeral_message.jinja
  backend/tests/apps/slack/events/member_joined_channel/owasp_community_test.py
Due: backend

refactor(gsoc): compute gsoc year dynamically at call time
  backend/apps/slack/common/gsoc.py
Due: backend

refactor(gsoc): replace hardcoded year constants with dynamic functions
  backend/apps/slack/commands/gsoc.py
Due: backend

refactor(gsoc): use get_gsoc_year() for consistent year logic in channel join handler
  backend/apps/slack/events/member_joined_channel/gsoc.py
Due: backend

fix(gsoc): replace hardcoded year links in ephemeral message with dynamic template variables
  backend/apps/slack/templates/events/member_joined_channel/gsoc/ephemeral_message.jinja
Due: backend

fix(gsoc): update /gsoc command description to GSoC 2026
  backend/apps/slack/MANIFEST.yaml
Due: backend

test(gsoc): update supported years assertion to use dynamic year end
  backend/tests/apps/slack/commands/gsoc_test.py
Due: backend

refactor: delegate get_supported_year_end to get_gsoc_year
  backend/apps/slack/commands/gsoc.py
Due: backend

test(gsoc): restore full supported year range assertion in unsupported year test
  backend/tests/apps/slack/commands/gsoc_test.py
Due: backend

test: add smoke tests for public mentorship programs listing page
  frontend/__tests__/e2e/pages/MentorshipPrograms.spec.ts
Due: frontend

fix: inline mock program data to avoid generated type import in e2e environment
  frontend/__tests__/e2e/pages/MentorshipPrograms.spec.ts
Due: frontend
