Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: fix chapter tests by using domcontentloaded wait strategy (#4994)
  e2e/pages/Chapters.spec.ts
Due: none

Rework PoC
  .clusterfuzzlite/Dockerfile
  .clusterfuzzlite/build.sh
  .clusterfuzzlite/project.yaml
  .clusterfuzzlite/seed_corpora/apps/common/search/query_parser/boolean_true
  .clusterfuzzlite/seed_corpora/apps/common/search/query_parser/compound_query
  .clusterfuzzlite/seed_corpora/apps/common/search/query_parser/date_value
  .clusterfuzzlite/seed_corpora/apps/common/search/query_parser/empty_input
  .clusterfuzzlite/seed_corpora/apps/common/search/query_parser/field_value
  .clusterfuzzlite/seed_corpora/apps/common/search/query_parser/malformed_syntax
  .clusterfuzzlite/seed_corpora/apps/common/search/query_parser/numeric_range
  .clusterfuzzlite/seed_corpora/apps/common/search/query_parser/quoted_string
  .clusterfuzzlite/seed_corpora/apps/slack/common/text/empty_input
  .clusterfuzzlite/seed_corpora/apps/slack/common/text/markdown_link
  .clusterfuzzlite/seed_corpora/apps/slack/common/text/mixed_markdown
  .clusterfuzzlite/seed_corpora/apps/slack/common/text/slack_link
  .github/workflows/cluster-fuzz-lite.yaml
  .gitignore
  .pre-commit-config.yaml
  .trivyignore.yaml
  CONTRIBUTING.md
  backend/Makefile
  backend/apps/slack/__init__.py
  backend/apps/slack/apps.py
  backend/apps/slack/common/text.py
  backend/apps/slack/utils/__init__.py
  backend/apps/slack/utils/format.py
  backend/pyproject.toml
  backend/requirements/cluster-fuzz-lite.in
  backend/requirements/cluster-fuzz-lite.txt
  backend/requirements/fuzz.in
  backend/requirements/fuzz.txt
  backend/tests/cluster-fuzz-lite/apps/common/search/query_parser.py
  backend/tests/cluster-fuzz-lite/apps/slack/common/text.py
  backend/tests/fuzz/fuzz_nest_test.py
  cspell/custom-dict.txt
Due: backend

Update code
  .clusterfuzzlite/Dockerfile
  .trivyignore.yaml
Due: none

Update badges, add code coverage badge
  README.md
Due: none

Add ClusterFuzzLite integration for OSSF scorecard fuzzing (#4951)
  .clusterfuzzlite/Dockerfile
  .clusterfuzzlite/build.sh
  .clusterfuzzlite/seed_corpora/apps/common/search/query_parser/boolean_true
  .clusterfuzzlite/seed_corpora/apps/common/search/query_parser/compound_query
  .clusterfuzzlite/seed_corpora/apps/common/search/query_parser/date_value
  .clusterfuzzlite/seed_corpora/apps/common/search/query_parser/empty_input
  .clusterfuzzlite/seed_corpora/apps/common/search/query_parser/field_value
  .clusterfuzzlite/seed_corpora/apps/common/search/query_parser/malformed_syntax
  .clusterfuzzlite/seed_corpora/apps/common/search/query_parser/numeric_range
  .clusterfuzzlite/seed_corpora/apps/common/search/query_parser/quoted_string
  .clusterfuzzlite/seed_corpora/apps/slack/common/text/empty_input
  .clusterfuzzlite/seed_corpora/apps/slack/common/text/markdown_link
  .clusterfuzzlite/seed_corpora/apps/slack/common/text/mixed_markdown
  .clusterfuzzlite/seed_corpora/apps/slack/common/text/slack_link
  .github/workflows/cluster-fuzz-lite.yaml
  .gitignore
  .pre-commit-config.yaml
  .trivyignore.yaml
  CONTRIBUTING.md
  backend/Makefile
  backend/apps/slack/__init__.py
  backend/apps/slack/apps.py
  backend/apps/slack/common/text.py
  backend/apps/slack/utils/__init__.py
  backend/apps/slack/utils/format.py
  backend/pyproject.toml
  backend/requirements/cluster-fuzz-lite.in
  backend/requirements/cluster-fuzz-lite.txt
  backend/tests/cluster-fuzz-lite/apps/common/search/query_parser.py
  backend/tests/cluster-fuzz-lite/apps/slack/common/text.py
  cspell/custom-dict.txt
Due: backend

Update badges, add code coverage badge (#5013)
  README.md
Due: none

Optimize GitHub app IssueNode (#4609)
  backend/apps/common/api/__init__.py
  backend/apps/common/api/internal/__init__.py
  backend/apps/common/api/internal/dataloaders/__init__.py
  backend/apps/common/api/internal/dataloaders/utils.py
  backend/apps/github/api/internal/nodes/issue.py
  backend/apps/github/api/internal/queries/organization.py
  backend/apps/mentorship/api/internal/dataloaders/__init__.py
  backend/apps/mentorship/api/internal/dataloaders/interested_users.py
  backend/apps/mentorship/api/internal/queries/module.py
  backend/apps/mentorship/api/internal/queries/program.py
  backend/apps/owasp/api/internal/queries/stats.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/settings/graphql.py
  backend/settings/graphql_context.py
  backend/settings/urls.py
  backend/tests/unit/apps/common/api/__init__.py
  backend/tests/unit/apps/common/api/internal/__init__.py
  backend/tests/unit/apps/common/api/internal/dataloaders/__init__.py
  backend/tests/unit/apps/common/api/internal/dataloaders/utils_test.py
  backend/tests/unit/apps/github/api/__init__.py
  backend/tests/unit/apps/github/api/internal/__init__.py
  backend/tests/unit/apps/github/api/internal/nodes/issue_test.py
  backend/tests/unit/apps/github/api/internal/queries/organization_test.py
  backend/tests/unit/apps/mentorship/api/internal/dataloaders/__init__.py
  backend/tests/unit/apps/mentorship/api/internal/dataloaders/interested_users_test.py
  backend/tests/unit/apps/mentorship/api/internal/queries/api_queries_module_test.py
  backend/tests/unit/apps/mentorship/api/internal/queries/api_queries_program_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/stats_test.py
Due: backend

Update code
  docker-compose/local/compose.yaml
Due: none

Add single node VictoriaMetrics locally (#4999)
  CONTRIBUTING.md
  Makefile
  docker-compose/local/compose.yaml
Due: none

Add Semantic Caching and CrewAI Config (#4548)
  backend/apps/ai/admin.py
  backend/apps/ai/common/crewai_config.py
  backend/apps/ai/flows/assistant.py
  backend/apps/ai/migrations/0011_semanticcache.py
  backend/apps/ai/models/__init__.py
  backend/apps/ai/models/chunk.py
  backend/apps/ai/models/semantic_cache.py
  backend/apps/ai/semantic_cache.py
  backend/tests/unit/apps/ai/common/crewai_config_test.py
  backend/tests/unit/apps/ai/flows/assistant_test.py
  backend/tests/unit/apps/ai/models/semantic_cache_test.py
  backend/tests/unit/apps/ai/semantic_cache_test.py
  docker-compose/local/compose.yaml
Due: backend

Prevent duplicate crewai workflow execution (#4798)
  backend/apps/slack/common/handlers/ai.py
  backend/apps/slack/services/message_auto_reply.py
  backend/tests/unit/apps/slack/common/handlers/ai_test.py
  backend/tests/unit/apps/slack/services/message_auto_reply_test.py
Due: backend

fix code
  frontend/src/components/RecentIssues.tsx
  frontend/src/components/RecentPullRequests.tsx
Due: frontend

Prototype shared GraphQL validation layer
  backend/apps/common/graphql/__init__.py
  backend/apps/common/graphql/validators.py
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/tests/unit/apps/common/graphql/__init__.py
  backend/tests/unit/apps/common/graphql/validators_test.py
Due: backend

apply bot comments
  e2e/helpers/mockClaimAuth.ts
  e2e/pages/BoardCandidateClaimDetails.spec.ts
  frontend/src/components/DropdownActions.tsx
Due: frontend

improve breadcrumbs
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
Due: frontend

backend: add test for annotate has evidence
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_test.py
Due: backend

update code
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/components/DropdownActions.tsx
Due: frontend

apply bot suggestions
  e2e/helpers/mockClaimAuth.ts
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
Due: frontend

Add dataloaders for repository_name, url, organization_name
  backend/apps/common/api/internal/dataloaders/utils.py
  backend/apps/github/api/internal/dataloaders/__init__.py
  backend/apps/github/api/internal/dataloaders/repository.py
  backend/apps/github/api/internal/nodes/release.py
  backend/apps/mentorship/api/internal/dataloaders/__init__.py
  backend/apps/mentorship/api/internal/dataloaders/interested_users.py
  backend/settings/graphql_context.py
  backend/tests/unit/apps/common/api/internal/dataloaders/utils_test.py
  backend/tests/unit/apps/mentorship/api/internal/dataloaders/interested_users_test.py
Due: backend

Update tests
  backend/tests/unit/apps/common/api/internal/dataloaders/utils_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/__init__.py
  backend/tests/unit/apps/github/api/internal/dataloaders/repository_test.py
  backend/tests/unit/apps/github/api/internal/nodes/release_test.py
Due: backend

Update README.md: add `runs on` badge
  README.md
Due: none

refactor: sort makefile targets and package.json scripts alphabetically
  Makefile
  e2e/Makefile
  e2e/package.json
Due: none

refactor(e2e): add waitUntil: 'domcontentloaded' to all page.goto calls
  e2e/components/Footer.spec.ts
  e2e/components/Header.spec.ts
  e2e/pages/CommitteeDetails.spec.ts
  e2e/pages/Committees.spec.ts
  e2e/pages/Community.spec.ts
  e2e/pages/Contribute.spec.ts
  e2e/pages/Home.spec.ts
  e2e/pages/Login.spec.ts
  e2e/pages/MentorshipPrograms.spec.ts
  e2e/pages/OrganizationDetails.spec.ts
  e2e/pages/Organizations.spec.ts
  e2e/pages/ProjectDetails.spec.ts
  e2e/pages/ProjectHealthDashboardMetricsDetails.spec.ts
  e2e/pages/Projects.spec.ts
  e2e/pages/ProjectsHealthDashboardMetrics.spec.ts
  e2e/pages/ProjectsHealthDashboardOverview.spec.ts
  e2e/pages/RepositoryDetails.spec.ts
  e2e/pages/UserDetails.spec.ts
  e2e/pages/Users.spec.ts
Due: none

feat: use shared prettier config
  e2e/.prettierignore
  e2e/.prettierrc
  e2e/package.json
  e2e/prettier.config.js
  frontend/prettier.config.js
  prettier.config.js
Due: frontend

Update README.md: add `runs on` badge (#5023)
  README.md
Due: none

fix tests
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
Due: frontend

improve test coverage
  frontend/__tests__/unit/components/ActionButton.test.tsx
  frontend/__tests__/unit/components/ClaimActions.test.tsx
  frontend/__tests__/unit/components/DropdownActions.test.tsx
  frontend/__tests__/unit/components/ProgramForm.test.tsx
  frontend/__tests__/unit/pages/CreateClaimPage.test.tsx
  frontend/__tests__/unit/pages/EditClaimPage.test.tsx
Due: frontend

fix e2e test
  e2e/pages/BoardCandidateClaimDetails.spec.ts
Due: none

fmt frontend files
  frontend/__tests__/unit/components/ClaimActions.test.tsx
  frontend/__tests__/unit/components/ProgramForm.test.tsx
Due: frontend

Update and organize code
  backend/apps/github/api/internal/dataloaders/__init__.py
  backend/apps/github/api/internal/dataloaders/release.py
  backend/apps/github/api/internal/dataloaders/repository.py
  backend/apps/github/api/internal/nodes/release.py
  backend/apps/mentorship/api/internal/dataloaders/__init__.py
  backend/tests/unit/apps/github/api/internal/dataloaders/release_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/repository_test.py
  backend/tests/unit/apps/github/api/internal/nodes/release_test.py
Due: backend

fix sonar qube and bot issues
  frontend/__tests__/unit/components/ClaimActions.test.tsx
  frontend/__tests__/unit/components/DropdownActions.test.tsx
  frontend/__tests__/unit/pages/CreateClaimPage.test.tsx
  frontend/__tests__/unit/pages/EditClaimPage.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
Due: frontend

fix double click on keypress
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
Due: frontend

Add dataloader for project_name
  backend/apps/common/api/internal/dataloaders/utils.py
  backend/apps/github/api/internal/dataloaders/repository.py
  backend/apps/github/api/internal/nodes/release.py
Due: backend

Add tests
  backend/apps/github/api/internal/dataloaders/repository.py
  backend/tests/unit/apps/common/api/internal/dataloaders/utils_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/repository_test.py
  backend/tests/unit/apps/github/api/internal/nodes/release_test.py
Due: backend

Update code
  backend/apps/common/api/internal/dataloaders/utils.py
  backend/tests/unit/apps/github/api/internal/dataloaders/repository_test.py
  backend/tests/unit/apps/github/api/internal/nodes/release_test.py
Due: backend

instrument backend with Otel metrics
  backend/apps/common/apps.py
  backend/apps/common/otel.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/settings/base.py
  backend/tests/unit/apps/common/apps_test.py
  backend/tests/unit/apps/common/otel_test.py
  docker-compose/local/compose.yaml
Due: backend

refactor(e2e): add waitUntil: 'domcontentloaded' to all page.goto calls (#5024)
  e2e/components/Footer.spec.ts
  e2e/components/Header.spec.ts
  e2e/pages/CommitteeDetails.spec.ts
  e2e/pages/Committees.spec.ts
  e2e/pages/Community.spec.ts
  e2e/pages/Contribute.spec.ts
  e2e/pages/Home.spec.ts
  e2e/pages/Login.spec.ts
  e2e/pages/MentorshipPrograms.spec.ts
  e2e/pages/OrganizationDetails.spec.ts
  e2e/pages/Organizations.spec.ts
  e2e/pages/ProjectDetails.spec.ts
  e2e/pages/ProjectHealthDashboardMetricsDetails.spec.ts
  e2e/pages/Projects.spec.ts
  e2e/pages/ProjectsHealthDashboardMetrics.spec.ts
  e2e/pages/ProjectsHealthDashboardOverview.spec.ts
  e2e/pages/RepositoryDetails.spec.ts
  e2e/pages/UserDetails.spec.ts
  e2e/pages/Users.spec.ts
Due: none

make check
  backend/pyproject.toml
Due: backend

Optimize mentorship AdminNode
  backend/apps/mentorship/api/internal/nodes/admin.py
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
