Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

migrate from AES256 to KMS
  infrastructure/state/main.tf
Due: none

Update frontend/src/components/Footer.tsx
  frontend/src/components/Footer.tsx
Due: frontend

migrate from AES256 to KMS in staging/
  infrastructure/modules/kms/main.tf
  infrastructure/modules/kms/tests/kms.tftest.hcl
  infrastructure/modules/kms/variables.tf
  infrastructure/modules/service/main.tf
  infrastructure/modules/service/outputs.tf
  infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/modules/s3-bucket/main.tf
  infrastructure/modules/storage/modules/s3-bucket/variables.tf
  infrastructure/modules/storage/variables.tf
  infrastructure/modules/tasks/main.tf
  infrastructure/modules/tasks/outputs.tf
  infrastructure/staging/main.tf
Due: none

fix tests
  infrastructure/modules/storage/modules/s3-bucket/tests/s3-bucket.tftest.hcl
  infrastructure/modules/storage/tests/storage.tftest.hcl
Due: none

add github token parameter
  infrastructure/modules/parameters/main.tf
  infrastructure/modules/parameters/outputs.tf
  infrastructure/modules/storage/modules/s3-bucket/main.tf
Due: none

Revert "temporary changes to run CI/CD"
  .github/workflows/run-ci-cd.yaml
Due: none

Update code
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-fuzz-tests.yaml
  backend/Makefile
  backend/apps/common/management/commands/dump_data.py
  backend/tests/apps/common/management/commands/dump_data_test.py
  docker-compose/e2e/compose.yaml
  docker-compose/fuzz/compose.yaml
Due: backend

Update makefile
  backend/Makefile
Due: backend

update trivyignore
  trivyignore.yaml
Due: none

Run precommit
  .github/workflows/run-ci-cd.yaml
Due: none

restrict egress traffic
  infrastructure/modules/networking/modules/nacl/main.tf
  infrastructure/modules/networking/modules/nacl/tests/nacl.tftest.hcl
  infrastructure/modules/security/main.tf
  infrastructure/modules/security/tests/security.tftest.hcl
  infrastructure/modules/security/variables.tf
  trivyignore.yaml
Due: none

bot comments
  infrastructure/README.md
  infrastructure/modules/kms/main.tf
  infrastructure/modules/kms/variables.tf
  infrastructure/modules/tasks/outputs.tf
Due: none

supress trivy warnings
  infrastructure/modules/security/main.tf
Due: none

bot comments
  infrastructure/modules/kms/main.tf
  infrastructure/modules/networking/modules/nacl/main.tf
  infrastructure/modules/networking/modules/nacl/tests/nacl.tftest.hcl
  infrastructure/modules/security/tests/security.tftest.hcl
Due: none

update code
  infrastructure/modules/kms/main.tf
  infrastructure/modules/kms/tests/kms.tftest.hcl
  infrastructure/modules/kms/variables.tf
  infrastructure/staging/main.tf
Due: none

Add OWASP Nest theme support for Swagger Docs UI
  backend/static/css/swagger-custom-ui.css
  backend/static/img/logo_dark.png
  backend/static/img/logo_light.png
  backend/templates/ninja/swagger.html
Due: backend

bot comments
  infrastructure/modules/networking/modules/nacl/tests/nacl.tftest.hcl
  infrastructure/modules/security/main.tf
Due: none

update code
  infrastructure/modules/networking/modules/nacl/main.tf
  infrastructure/modules/service/outputs.tf
  infrastructure/modules/tasks/main.tf
  infrastructure/modules/tasks/outputs.tf
Due: none

fix tests
  infrastructure/modules/networking/modules/nacl/tests/nacl.tftest.hcl
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

fix: suggestions
  backend/static/css/swagger-custom-ui.css
  backend/static/img/dark_mode.svg
  backend/static/img/light_mode.svg
  backend/static/img/logo_light.png
  backend/templates/ninja/swagger.html
Due: backend

feat: update favicon
  backend/templates/ninja/favicons.html
Due: backend

fix: coderabbit
  backend/static/css/swagger-custom-ui.css
  backend/templates/ninja/favicons.html
  backend/templates/ninja/swagger.html
Due: backend

Resolve Trivy/Semgrep Warnings for Infrastructure (#4243)
  .github/workflows/run-ci-cd.yaml
  infrastructure/README.md
  infrastructure/bootstrap/main.tf
  infrastructure/modules/networking/main.tf
  infrastructure/modules/networking/modules/nacl/main.tf
  infrastructure/modules/networking/modules/nacl/tests/nacl.tftest.hcl
  infrastructure/modules/networking/tests/networking.tftest.hcl
  infrastructure/modules/parameters/main.tf
  infrastructure/modules/parameters/outputs.tf
  infrastructure/modules/security/main.tf
  infrastructure/modules/security/tests/security.tftest.hcl
  infrastructure/modules/security/variables.tf
  infrastructure/modules/service/main.tf
  infrastructure/modules/service/tests/service.tftest.hcl
  infrastructure/modules/service/variables.tf
  infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/modules/s3-bucket/main.tf
  infrastructure/modules/storage/modules/s3-bucket/tests/s3-bucket.tftest.hcl
  infrastructure/modules/storage/modules/s3-bucket/variables.tf
  infrastructure/modules/storage/tests/storage.tftest.hcl
  infrastructure/modules/storage/variables.tf
  infrastructure/modules/tasks/main.tf
  infrastructure/modules/tasks/tests/tasks.tftest.hcl
  infrastructure/modules/tasks/variables.tf
  infrastructure/staging/main.tf
  infrastructure/staging/terraform.tfvars.example
  infrastructure/staging/variables.tf
  infrastructure/state/main.tf
  trivyignore.yaml
Due: none

fix: remove redundant code
  backend/static/css/swagger-custom-ui.css
  backend/templates/ninja/swagger.html
Due: backend

fix: suggestions
  backend/static/css/swagger-custom-ui.css
  backend/templates/ninja/swagger.html
Due: backend

fix: coderabbit
  backend/static/css/swagger-custom-ui.css
Due: backend

refactor parameters module to expose Django configuration/settings module
  .github/workflows/run-ci-cd.yaml
  infrastructure/bootstrap/main.tf
  infrastructure/modules/parameters/main.tf
  infrastructure/modules/parameters/tests/parameters.tftest.hcl
  infrastructure/modules/parameters/variables.tf
  infrastructure/staging/main.tf
  infrastructure/staging/terraform.tfvars.example
  infrastructure/staging/variables.tf
Due: none

feat: Add nest themes to Swagger UI
  backend/static/css/swagger_ui.css
  backend/static/js/swagger_ui.js
  backend/templates/ninja/swagger.html
Due: backend

update code
  backend/static/js/swagger_ui.js
Due: backend

fix coderabbit issue
  backend/templates/ninja/swagger.html
Due: backend

fix/allow program admins to set and clear issue deadlines
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/tests/apps/mentorship/api/internal/mutations/module_mutation_test.py
Due: backend

update desired count
  infrastructure/staging/variables.tf
Due: none

improve script, make use of active OWASP Nest theme by swagger ui, and rename logo img
  backend/static/img/logo.png
  backend/templates/ninja/favicons.html
  backend/templates/ninja/swagger.html
  frontend/src/components/ModeToggle.tsx
Due: backend, frontend

fix: css styles
  backend/static/css/swagger-custom-ui.css
Due: backend

rename staging/ to live/
  infrastructure/live/.terraform.lock.hcl
  infrastructure/live/README.md
  infrastructure/live/backend.tf
  infrastructure/live/main.tf
  infrastructure/live/outputs.tf
  infrastructure/live/providers.tf
  infrastructure/live/terraform.tfbackend.example
  infrastructure/live/terraform.tfvars.example
  infrastructure/live/variables.tf
Due: none

post rename code changes
  .github/workflows/run-ci-cd.yaml
  infrastructure/README.md
  infrastructure/live/README.md
  infrastructure/live/backend.tf
  infrastructure/live/terraform.tfbackend.example
Due: none

temporary changes to run CI/CD
  .github/workflows/run-ci-cd.yaml
Due: none

fix quotes for variables
  .github/workflows/run-ci-cd.yaml
Due: none

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
