Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix issues
  backend/tests/unit/apps/owasp/api/internal/queries/sponsor_test.py
  frontend/__tests__/unit/pages/SponsorApply.test.tsx
  frontend/src/app/sponsors/apply/page.tsx
Due: backend, frontend

C:/Program Files/Git/Unexpected_await_of_non_promise (#4540)
  frontend/__tests__/unit/pages/ProgramDetailsMentorship.test.tsx
Due: frontend

Update code
  frontend/__tests__/unit/hooks/useBreadcrumbs.test.tsx
Due: frontend

fix: remove community from HIDDEN_SEGMENTS to restore breadcrumb navigation (#4539)
  frontend/__tests__/unit/hooks/useBreadcrumbs.test.tsx
  frontend/src/hooks/useBreadcrumbs.ts
Due: frontend

fix code-rabbit
  frontend/__tests__/unit/pages/SponsorApply.test.tsx
Due: frontend

Add frontend features section to README
  frontend/README.md
Due: frontend

Add Playwright smoke tests for /community and /community/snapshots routes
  frontend/__tests__/e2e/pages/Community.spec.ts
Due: frontend

feat(infrastructure): add terraform-docs generation
  .pre-commit-config.yaml
  infrastructure/.terraform-docs.yml
  infrastructure/Makefile
  infrastructure/README.md
  infrastructure/bootstrap/README.md
  infrastructure/live/README.md
  infrastructure/modules/alb/README.md
  infrastructure/modules/cache/README.md
  infrastructure/modules/database/README.md
  infrastructure/modules/kms/README.md
  infrastructure/modules/networking/README.md
  infrastructure/modules/networking/modules/nacl/README.md
  infrastructure/modules/networking/modules/vpc-endpoint/README.md
  infrastructure/modules/parameters/README.md
  infrastructure/modules/security/README.md
  infrastructure/modules/service/README.md
  infrastructure/modules/storage/README.md
  infrastructure/modules/storage/modules/s3-bucket/README.md
  infrastructure/modules/tasks/README.md
  infrastructure/modules/tasks/modules/task/README.md
  infrastructure/scripts/terraform_docs.py
  infrastructure/state/README.md
Due: none

fix(infrastructure): address terraform-docs review feedback
  .github/workflows/run-ci-cd.yaml
  .pre-commit-config.yaml
  infrastructure/modules/database/README.md
  infrastructure/modules/database/outputs.tf
  infrastructure/modules/networking/modules/vpc-endpoint/README.md
  infrastructure/modules/networking/modules/vpc-endpoint/outputs.tf
Due: none

correct pyproject dependency versions
  backend/pyproject.toml
Due: backend

add semantic caching and crewai config
  backend/apps/ai/admin.py
  backend/apps/ai/common/crewai_config.py
  backend/apps/ai/flows/assistant.py
  backend/apps/ai/migrations/0011_semanticcache.py
  backend/apps/ai/models/__init__.py
  backend/apps/ai/models/chunk.py
  backend/apps/ai/models/semantic_cache.py
  backend/apps/ai/semantic_cache.py
  docker-compose/local/compose.yaml
Due: backend

Update code
  frontend/README.md
Due: frontend

Add frontend features section to README (#4547)
  frontend/README.md
Due: frontend

fix: address review on dockerignore and chunk tests
  backend/.dockerignore
  backend/tests/unit/apps/ai/common/base/chunk_command_test.py
Due: backend

Add feature: e2e test for communit and community snapshots
  frontend/__tests__/e2e/pages/Community.spec.ts
  frontend/__tests__/e2e/pages/CommunitySnapshots.spec.ts
Due: frontend

updated refractored
  frontend/__tests__/a11y/components/CardDetailsPage.a11y.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage/CardDetailsContributions.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage/CardDetailsContributors.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage/CardDetailsHeader.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage/CardDetailsIssuesMilestones.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage/CardDetailsLeaders.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage/CardDetailsMetadata.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage/CardDetailsRepositoriesModules.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage/CardDetailsTags.test.tsx
  frontend/__tests__/unit/pages/ChapterDetails.test.tsx
  frontend/__tests__/unit/pages/ModuleDetails.test.tsx
  frontend/__tests__/unit/pages/ModuleDetailsPage.test.tsx
  frontend/__tests__/unit/pages/ProgramDetailsMentorship.test.tsx
  frontend/__tests__/unit/pages/ProjectDetails.test.tsx
  frontend/__tests__/unit/pages/PublicMentorshipModulePage.test.tsx
  frontend/src/app/chapters/[chapterKey]/page.tsx
  frontend/src/app/committees/[committeeKey]/page.tsx
  frontend/src/app/members/[memberKey]/page.tsx
  frontend/src/app/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/mentorship/programs/[programKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/page.tsx
  frontend/src/app/organizations/[organizationKey]/page.tsx
  frontend/src/app/organizations/[organizationKey]/repositories/[repositoryKey]/page.tsx
  frontend/src/app/projects/[projectKey]/page.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/CardDetailsPage/CardDetailsContributions.tsx
  frontend/src/components/CardDetailsPage/CardDetailsContributors.tsx
  frontend/src/components/CardDetailsPage/CardDetailsHeader.tsx
  frontend/src/components/CardDetailsPage/CardDetailsIssuesMilestones.tsx
  frontend/src/components/CardDetailsPage/CardDetailsLeaders.tsx
  frontend/src/components/CardDetailsPage/CardDetailsMetadata.tsx
  frontend/src/components/CardDetailsPage/CardDetailsPageWrapper.tsx
  frontend/src/components/CardDetailsPage/CardDetailsRepositoriesModules.tsx
  frontend/src/components/CardDetailsPage/CardDetailsTags.tsx
  frontend/src/types/card.ts
Due: frontend

fix review
  frontend/__tests__/unit/components/CardDetailsPage/CardDetailsIssuesMilestones.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage/CardDetailsMetadata.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage/CardDetailsTags.test.tsx
  frontend/__tests__/unit/pages/ChapterDetails.test.tsx
  frontend/__tests__/unit/pages/ProgramDetailsMentorship.test.tsx
  frontend/src/app/chapters/[chapterKey]/page.tsx
  frontend/src/app/committees/[committeeKey]/page.tsx
  frontend/src/app/mentorship/programs/[programKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/components/CardDetailsPage/CardDetailsHeader.tsx
  frontend/src/components/CardDetailsPage/CardDetailsLeaders.tsx
Due: frontend

fixed review'
  frontend/__tests__/unit/components/CardDetailsPage/CardDetailsIssuesMilestones.test.tsx
  frontend/src/app/committees/[committeeKey]/page.tsx
Due: frontend

fixed failed test
  frontend/__tests__/e2e/pages/ChapterDetails.spec.ts
Due: frontend

fixed test
  frontend/__tests__/e2e/pages/ChapterDetails.spec.ts
Due: frontend

fix: use keyboard navigation for map unlock button to avoid pointer interception issues
  frontend/__tests__/e2e/TEST_FIX_EXPLANATION.md
  frontend/__tests__/e2e/pages/ChapterDetails.spec.ts
Due: frontend

update code
  frontend/__tests__/e2e/TEST_FIX_EXPLANATION.md
  frontend/__tests__/e2e/pages/ChapterDetails.spec.ts
Due: frontend

fix
  frontend/__tests__/e2e/pages/ChapterDetails.spec.ts
Due: frontend

fix(e2e): remove double imports fro playwright from community snapshot
  frontend/__tests__/e2e/pages/CommunitySnapshots.spec.ts
Due: frontend

fix(e2e): add missing id in mock data for community snapshot
  frontend/__tests__/e2e/pages/CommunitySnapshots.spec.ts
Due: frontend

Update code
  frontend/__tests__/e2e/pages/Community.spec.ts
  frontend/__tests__/e2e/pages/CommunitySnapshots.spec.ts
Due: frontend

Add feature: e2e test for communit and community snapshots (#4552)
  frontend/__tests__/e2e/pages/Community.spec.ts
Due: frontend

Bump typescript from 5.9.3 to 6.0.2
  .trivyignore.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/tsconfig.json
Due: frontend

Bump typescript from 5.9.3 to 6.0.2 (#4553)
  .trivyignore.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/tsconfig.json
Due: frontend

Add migration for calculated_score field
  backend/apps/github/migrations/0045_add_calculated_score.py
Due: backend

Fix newline at end of migration file
  backend/apps/github/migrations/0045_add_calculated_score.py
Due: backend

fix: add trailing newline
  backend/apps/github/migrations/0045_add_calculated_score.py
Due: backend

fix: recalculate calculated_score and improve formatting
  backend/apps/github/management/commands/github_update_users.py
Due: backend

fix: final cleanup and formatting
  backend/apps/github/management/commands/github_update_users.py
Due: backend

bot comments
  backend/apps/ai/flows/assistant.py
  backend/apps/ai/semantic_cache.py
Due: backend

add tests
  backend/apps/ai/flows/assistant.py
  backend/tests/unit/apps/ai/common/crewai_config_test.py
  backend/tests/unit/apps/ai/flows/assistant_test.py
  backend/tests/unit/apps/ai/models/semantic_cache_test.py
  backend/tests/unit/apps/ai/semantic_cache_test.py
Due: backend

fix sonarqube issues
  backend/tests/unit/apps/ai/common/crewai_config_test.py
  backend/tests/unit/apps/ai/flows/assistant_test.py
  backend/tests/unit/apps/ai/models/semantic_cache_test.py
  backend/tests/unit/apps/ai/semantic_cache_test.py
Due: backend

fix sonarqube issues
  backend/apps/ai/flows/assistant.py
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
