Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 80%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

Update backend/Makefile
  backend/Makefile
Due: backend

Update docker-compose/local/compose.yaml
  docker-compose/local/compose.yaml
Due: none

Update volumes
  docker-compose/local/compose.yaml
Due: none

Update migration
  backend/apps/mentorship/migrations/0007_alter_mentor_github_user_alter_mentor_nest_user_and_more.py
Due: backend

fix: remove 404 flash on mentorship module page (#3587)
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
Due: frontend

feat: configure PostHog env vars for CI/CD deployments
  .github/workflows/run-ci-cd.yaml
Due: none

Add reusable Contribution Heatmap to member page for design consistency (#3298)
  backend/Makefile
  backend/apps/github/api/internal/nodes/user.py
  backend/apps/github/migrations/0041_user_contribution_data.py
  backend/apps/github/migrations/0042_merge_20260127_2218.py
  backend/apps/github/migrations/0043_alter_user_contribution_data.py
  backend/apps/github/models/user.py
  backend/apps/owasp/Makefile
  backend/apps/owasp/management/commands/owasp_aggregate_entity_contributions.py
  backend/apps/owasp/management/commands/owasp_aggregate_member_contributions.py
  backend/apps/owasp/management/commands/owasp_aggregate_member_contributions.py.bak
  backend/tests/apps/github/api/internal/nodes/user_test.py
  backend/tests/apps/github/models/user_test.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_entity_contributions_test.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_member_contributions_test.py
  frontend/__tests__/a11y/pages/UserDetails.a11y.test.tsx
  frontend/__tests__/mockData/mockUserDetails.ts
  frontend/__tests__/unit/components/ContributionHeatmap.test.tsx
  frontend/__tests__/unit/pages/UserDetails.test.tsx
  frontend/src/app/members/[memberKey]/page.tsx
  frontend/src/components/ContributionHeatmap.tsx
  frontend/src/server/queries/userQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/userQueries.generated.ts
Due: backend, frontend

address CR issues
  backend/.env.example
  frontend/.env.example
Due: backend, frontend

fix: ensure deterministic sorting for program admins (#3530)
  backend/apps/mentorship/api/internal/nodes/program.py
  backend/tests/apps/mentorship/__init__.py
  backend/tests/apps/mentorship/api/__init__.py
  backend/tests/apps/mentorship/api/internal/__init__.py
  backend/tests/apps/mentorship/api/internal/nodes/__init__.py
  backend/tests/apps/mentorship/api/internal/nodes/program_test.py
Due: backend

Used reusable code instead of repetitve code
  backend/apps/common/utils.py
  backend/apps/github/api/internal/nodes/repository.py
  backend/apps/github/api/internal/queries/milestone.py
  backend/apps/owasp/api/internal/nodes/project.py
  backend/apps/owasp/api/internal/queries/project.py
Due: backend

fix: code rabbit address
  backend/apps/github/api/internal/nodes/issue.py
  backend/apps/mentorship/api/internal/nodes/module.py
  frontend/src/app/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/components/CardDetailsPage.tsx
Due: backend, frontend

Optimized about page
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/src/app/about/page.tsx
  frontend/src/server/queries/projectQueries.ts
  frontend/src/types/__generated__/projectQueries.generated.ts
Due: frontend

fix: code rabbit comments
  frontend/src/app/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/types/mentorship.ts
Due: frontend

fix: make Recent Milestones section responsive on mobile
  frontend/src/components/ItemCardList.tsx
Due: frontend

Refactor initialization test for QuestionDetector
  backend/tests/apps/slack/common/question_detector_test.py
Due: backend

fixed code rabbit review
  frontend/__tests__/e2e/pages/About.spec.ts
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/src/app/about/page.tsx
Due: frontend

Update MENTORS.md: add detailed description and timezone for Raja Nagori
  MENTORS.md
Due: none

Update MENTORS.md
  MENTORS.md
Due: none

Use Dockerfile instead of Dockerfile.e2e
  .github/workflows/run-ci-cd.yaml
  docker-compose/e2e/compose.yaml
  docker/frontend/Dockerfile
  docker/frontend/Dockerfile.e2e
  frontend/.env.e2e.example
  frontend/Makefile
Due: frontend

Update CI/CD
  .github/workflows/run-ci-cd.yaml
Due: none

ci: update paths-ignore to include nest.dump
  .github/workflows/run-ci-cd.yaml
Due: none

Update tests
  frontend/Makefile
  frontend/__tests__/e2e/components/Footer.spec.ts
  frontend/__tests__/e2e/components/Header.spec.ts
  frontend/__tests__/e2e/pages/CalendarButton.spec.ts
  frontend/__tests__/e2e/pages/ChapterDetails.spec.ts
  frontend/__tests__/e2e/pages/CommitteeDetails.spec.ts
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/__tests__/e2e/pages/Login.spec.ts
  frontend/__tests__/e2e/pages/OrganizationDetails.spec.ts
  frontend/__tests__/e2e/pages/RepositoryDetails.spec.ts
  frontend/__tests__/e2e/pages/UserDetails.spec.ts
Due: frontend

feat: optimize_about_page_queries
  backend/apps/github/api/internal/queries/user.py
  docker-compose/local/compose.yaml
  frontend/__tests__/e2e/pages/About.spec.ts
  frontend/__tests__/mockData/mockAboutData.ts
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/src/app/about/page.tsx
  frontend/src/server/queries/aboutQueries.ts
  frontend/src/types/__generated__/aboutQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
Due: backend, frontend

update tests
  infrastructure/modules/cache/tests/cache.tftest.hcl
  infrastructure/modules/database/tests/database.tftest.hcl
  infrastructure/modules/frontend/tests/frontend.tftest.hcl
  infrastructure/modules/parameters/tests/parameters.tftest.hcl
Due: none

update tests
  infrastructure/modules/frontend/tests/frontend.tftest.hcl
Due: none

sort alphabetically
  infrastructure/modules/networking/main.tf
Due: none

group logically
  infrastructure/modules/networking/main.tf
Due: none

remove data blocks
  infrastructure/modules/networking/main.tf
Due: none

add tests for networking module
  infrastructure/Makefile
  infrastructure/modules/networking/.terraform.lock.hcl
  infrastructure/modules/networking/tests/networking.tftest.hcl
Due: none

add validations
  infrastructure/modules/networking/variables.tf
Due: none

add name formatting tests
  infrastructure/modules/networking/tests/networking.tftest.hcl
Due: none

add tests and validations for vpc-endpoint module
  infrastructure/modules/networking/modules/vpc-endpoint/.terraform.lock.hcl
  infrastructure/modules/networking/modules/vpc-endpoint/main.tf
  infrastructure/modules/networking/modules/vpc-endpoint/tests/vpc-endpoint.tftest.hcl
  infrastructure/modules/networking/modules/vpc-endpoint/variables.tf
Due: none

add tests and validations for nacl module
  infrastructure/modules/networking/modules/nacl/.terraform.lock.hcl
  infrastructure/modules/networking/modules/nacl/tests/nacl.tftest.hcl
  infrastructure/modules/networking/modules/nacl/variables.tf
Due: none

Rename code scan job to run-security-scan-code
  .github/workflows/run-ci-cd.yaml
Due: none

fix: coderabbit
  backend/apps/github/api/internal/queries/user.py
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/src/app/about/page.tsx
Due: backend, frontend

update code
  backend/apps/owasp/api/internal/nodes/project.py
Due: backend

fix: code rabbit comments
  frontend/__tests__/e2e/pages/About.spec.ts
  frontend/__tests__/unit/pages/About.test.tsx
Due: frontend

Run make update
  backend/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

fix spell checks
  infrastructure/modules/networking/modules/vpc-endpoint/tests/vpc-endpoint.tftest.hcl
  infrastructure/modules/networking/tests/networking.tftest.hcl
Due: none

apply code-rabbit
  backend/apps/owasp/api/internal/nodes/project.py
Due: backend
