Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

replace empty exception handler in Slack event command parsing
  backend/src/apps/slack/models/event.py
  backend/tests/unit/apps/slack/models/event_test.py
Due: backend

Mitigate NPM ecosystem dependency vulnerabilities Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: frontend

Update deps Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Mitigate NPM ecosystem dependency vulnerabilities (#5426)
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: frontend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  backend/src/apps/common/eleven_labs.py
  backend/src/apps/core/api/internal/algolia.py
  backend/src/apps/github/models/repository.py
  backend/src/apps/owasp/index/registry/committee.py
  backend/src/apps/owasp/management/commands/owasp_create_member_snapshot.py
  backend/src/apps/slack/apps.py
  backend/tests/unit/apps/ai/common/extractors/repository_test.py
  backend/tests/unit/apps/common/management/commands/algolia_update_synonyms_test.py
  backend/tests/unit/apps/owasp/management/commands/owasp_create_member_snapshot_test.py
  backend/tests/unit/apps/owasp/models/common_test.py
  backend/tests/unit/apps/slack/apps_test.py
  backend/tests/unit/apps/slack/commands/gsoc_test.py
  ruff.toml
Due: backend

copy infrastructure code to docker image at build time
  docker-compose/infrastructure/compose.deploy.yaml
  docker-compose/infrastructure/compose.integration.yaml
  docker-compose/infrastructure/compose.yaml
  docker/infrastructure/Dockerfile
  infrastructure/make/test.mk
  infrastructure/modules/ecr-cache/tests/integration.tftest.hcl
  infrastructure/modules/kms/tests/integration.tftest.hcl
  infrastructure/modules/parameters/tests/integration.tftest.hcl
  infrastructure/modules/storage/tests/integration.tftest.hcl
  infrastructure/scripts/deploy_runner.py
  infrastructure/scripts/terraform_tests.py
  infrastructure/scripts/tests_runner.py
  infrastructure/tests/scripts/deploy_runner_test.py
  infrastructure/tests/scripts/terraform_tests_test.py
  infrastructure/tests/scripts/tests_runner_test.py
Due: none

rename make target
  infrastructure/make/run.mk
Due: none

update dockerignore
  .dockerignore
Due: none

rename TestRunnerError to RunnerError and update code
  infrastructure/README.md
  infrastructure/make/run.mk
  infrastructure/scripts/deploy_runner.py
  infrastructure/scripts/errors.py
  infrastructure/scripts/localstack.py
  infrastructure/scripts/run_deploy.py
  infrastructure/scripts/run_tests.py
  infrastructure/scripts/terraform_tests.py
  infrastructure/scripts/tests_runner.py
  infrastructure/tests/scripts/deploy_runner_test.py
  infrastructure/tests/scripts/localstack_test.py
  infrastructure/tests/scripts/run_deploy_test.py
  infrastructure/tests/scripts/run_tests_test.py
  infrastructure/tests/scripts/terraform_tests_test.py
  infrastructure/tests/scripts/tests_runner_test.py
Due: none

add tflocal
  cspell/custom-dict.txt
Due: none

use docker volume for shared terraform plugin cache
  docker-compose/infrastructure/compose.yaml
  infrastructure/make/test.mk
Due: none

add docker volume to CANONICAL_VOLUMES
  .github/scripts/docker_compose_check.py
  docker-compose/infrastructure/compose.yaml
  infrastructure/make/test.mk
Due: none

update docstring of __init__.py
  infrastructure/scripts/__init__.py
Due: none

update code
  infrastructure/live/terraform.localstack.tfbackend.example
Due: none

update key
  infrastructure/live/terraform.localstack.tfbackend.example
Due: none

update region
  infrastructure/live/terraform.localstack.tfbackend.example
  infrastructure/live/terraform.localstack.tfvars.example
Due: none

Updated test
  backend/src/apps/owasp/utils/score_calculator.py
  backend/tests/unit/apps/owasp/utils/score_calculator_test.py
Due: backend

apply bot comments
  backend/src/apps/owasp/api/internal/mutations/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_evidence_test.py
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/create/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/create/page.tsx
  frontend/src/utils/helpers/handleGraphQLError.ts
Due: backend, frontend

update code
  frontend/__tests__/unit/utils/handleGraphQLError.test.ts
  frontend/src/utils/helpers/handleGraphQLError.ts
Due: frontend

address reviews
  infrastructure/live/main.tf
  infrastructure/modules/observability/README.md
  infrastructure/modules/observability/main.tf
  infrastructure/modules/observability/tests/integration.tftest.hcl
  infrastructure/modules/observability/tests/setup/.gitignore
  infrastructure/modules/observability/tests/setup/.terraform.lock.hcl
  infrastructure/modules/observability/tests/unit.tftest.hcl
  infrastructure/modules/observability/variables.tf
Due: none

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  .dockerignore
  backend/requirements/build.txt
  infrastructure/poetry.lock
  infrastructure/pyproject.toml
  infrastructure/scripts/deploy_runner.py
  infrastructure/scripts/tests_runner.py
  infrastructure/scripts/utils.py
  infrastructure/tests/scripts/utils_test.py
  tools/requirements/pre-commit.txt
  tools/requirements/test.txt
Due: backend

Add Harness To Orchestrate Infrastructure Deployment On LocalStack (#5427)
  .dockerignore
  .github/scripts/docker_compose_check.py
  backend/requirements/build.txt
  cspell/custom-dict.txt
  docker-compose/infrastructure/compose.deploy.yaml
  docker-compose/infrastructure/compose.integration.yaml
  docker-compose/infrastructure/compose.yaml
  docker/infrastructure/Dockerfile
  infrastructure/Makefile
  infrastructure/README.md
  infrastructure/live/terraform.localstack.tfbackend.example
  infrastructure/live/terraform.localstack.tfvars.example
  infrastructure/make/maintenance.mk
  infrastructure/make/run.mk
  infrastructure/make/test.mk
  infrastructure/modules/ecr-cache/tests/integration.tftest.hcl
  infrastructure/modules/kms/tests/integration.tftest.hcl
  infrastructure/modules/parameters/tests/integration.tftest.hcl
  infrastructure/modules/storage/tests/integration.tftest.hcl
  infrastructure/poetry.lock
  infrastructure/pyproject.toml
  infrastructure/scripts/__init__.py
  infrastructure/scripts/deploy_runner.py
  infrastructure/scripts/errors.py
  infrastructure/scripts/localstack.py
  infrastructure/scripts/run_deploy.py
  infrastructure/scripts/run_tests.py
  infrastructure/scripts/terraform_tests.py
  infrastructure/scripts/tests_runner.py
  infrastructure/scripts/utils.py
  infrastructure/tests/scripts/deploy_runner_test.py
  infrastructure/tests/scripts/localstack_test.py
  infrastructure/tests/scripts/run_deploy_test.py
  infrastructure/tests/scripts/run_tests_test.py
  infrastructure/tests/scripts/terraform_tests_test.py
  infrastructure/tests/scripts/tests_runner_test.py
  infrastructure/tests/scripts/utils_test.py
  make/terraform.mk
  tools/requirements/pre-commit.txt
  tools/requirements/test.txt
Due: backend

fix(sitemap): map /repositories to Repository model for static lastmod
  backend/src/apps/sitemap/views/static.py
  backend/tests/unit/apps/sitemap/views/static_test.py
Due: backend

Fix #5148: inconsistent bottom spacing below search component across pa
  frontend/src/components/SearchPageLayout.tsx
Due: frontend

publicly show Submitted claims
  backend/src/apps/owasp/api/internal/nodes/board_candidate_claim.py
  backend/src/apps/owasp/api/internal/queries/board_candidate_claim.py
  backend/src/apps/owasp/api/internal/queries/board_candidate_claim_evidence.py
  backend/src/apps/owasp/models/board_candidate_claim.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_test.py
  frontend/__tests__/unit/components/ClaimActions.test.tsx
  frontend/__tests__/unit/pages/ClaimDetailsPage.test.tsx
  frontend/__tests__/unit/pages/EvidenceDetailsPage.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
  frontend/src/components/ClaimActions.tsx
Due: backend, frontend

enable Nat for staging
  infrastructure/live/README.md
  infrastructure/live/main.tf
  infrastructure/live/outputs.tf
  infrastructure/live/terraform.production.tfvars.example
  infrastructure/live/terraform.staging.tfvars.example
  infrastructure/live/variables.tf
  infrastructure/modules/networking/README.md
  infrastructure/modules/networking/main.tf
  infrastructure/modules/networking/tests/unit.tftest.hcl
  infrastructure/modules/networking/variables.tf
Due: none

update code
  backend/src/apps/common/api/internal/mutations/common.py
  e2e/pages/BoardCandidateClaimDetails.spec.ts
  e2e/pages/BoardCandidateClaimEvidenceDetails.spec.ts
Due: backend

Updated certificate graphql test
  backend/tests/unit/apps/owasp/api/internal/nodes/certificate_test.py
Due: backend

Update code
  .github/workflows/ci-cd-production.yaml
  .github/workflows/ci-cd-staging.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-deploy.yaml
  infrastructure/README.md
  infrastructure/modules/networking/main.tf
  infrastructure/modules/networking/tests/unit.tftest.hcl
Due: none

update claim status RBAC, show submitted claims, change colors
  frontend/__tests__/unit/components/AnnotatedProfile.test.tsx
  frontend/__tests__/unit/components/ClaimHighlight.test.tsx
  frontend/src/components/AnnotatedProfile.tsx
  frontend/src/components/ClaimHighlight.tsx
Due: frontend

fix breadcrumbs
  frontend/__tests__/unit/components/ClaimHighlight.test.tsx
  frontend/__tests__/unit/hooks/useBreadcrumbs.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/page.tsx
  frontend/src/components/ClaimHighlight.tsx
Due: frontend

update
  infrastructure/README.md
Due: none

add append_random_resource_name_suffix and add localstack to env
  infrastructure/state/README.md
  infrastructure/state/main.tf
  infrastructure/state/terraform.localstack.tfvars.example
  infrastructure/state/variables.tf
Due: none

bump localstack to 2026.7.4 to patch bugs
  docker/localstack/Dockerfile
Due: none

expose 443 to use HTTPS
  docker-compose/infrastructure/compose.yaml
Due: none

add s3 localstack endpoint and use_path_style
  infrastructure/live/terraform.localstack.tfbackend.example
Due: none

apply state/ before applying live/
  infrastructure/scripts/deploy_runner.py
  infrastructure/tests/scripts/deploy_runner_test.py
Due: none

update make targets to use --wait localstack
  docker-compose/infrastructure/compose.deploy.yaml
  docker-compose/infrastructure/compose.integration.yaml
  infrastructure/make/run.mk
  infrastructure/make/test.mk
Due: none

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  backend/.env.example
  backend/src/apps/slack/admin/reaction_alert.py
  backend/src/apps/slack/admin/reaction_rule.py
  backend/src/apps/slack/events/reaction_added.py
  backend/src/apps/slack/migrations/0024_reactionalert_reporter_user_ids.py
  backend/src/apps/slack/migrations/0025_alter_reactionrule_report_type.py
  backend/src/apps/slack/migrations/0026_rename_reactionrule_is_enabled.py
  backend/src/apps/slack/migrations/0027_alter_reactionrule_emoji_name.py
  backend/src/apps/slack/models/reaction_alert.py
  backend/src/apps/slack/models/reaction_rule.py
  backend/src/apps/slack/services/reaction.py
  backend/src/apps/slack/utils/reaction.py
  backend/tests/unit/apps/slack/admin/reaction_alert_test.py
  backend/tests/unit/apps/slack/events/reaction_added_test.py
  backend/tests/unit/apps/slack/models/reaction_alert_test.py
  backend/tests/unit/apps/slack/models/reaction_rule_test.py
  backend/tests/unit/apps/slack/services/reaction_test.py
  backend/tests/unit/apps/slack/utils/__init__.py
  backend/tests/unit/apps/slack/utils/reaction_test.py
Due: backend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  backend/src/apps/slack/admin/reaction_rule.py
  backend/src/apps/slack/events/reaction_added.py
  backend/src/apps/slack/migrations/0028_reactionrule_emojis.py
  backend/src/apps/slack/migrations/0029_alter_reactionrule_threshold.py
  backend/src/apps/slack/migrations/0030_alter_reaction_help_text.py
  backend/src/apps/slack/models/reaction_alert.py
  backend/src/apps/slack/models/reaction_rule.py
  backend/src/apps/slack/utils/reaction.py
  backend/tests/unit/apps/slack/events/reaction_added_test.py
  backend/tests/unit/apps/slack/models/reaction_alert_test.py
  backend/tests/unit/apps/slack/models/reaction_rule_test.py
  backend/tests/unit/apps/slack/utils/reaction_test.py
Due: backend
