Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

refactor(infrastructure): use separate env for localstack to prevent overriding values in ssm
  .gitignore
  backend/.env.localstack.example
  frontend/.env.localstack.example
  infrastructure/scripts/deploy-services.sh
  infrastructure/scripts/load-env-params.sh
Due: backend, frontend

fix(infrastructure): cubic bot suggestions
  backend/.env.localstack.example
  frontend/.env.localstack.example
  infrastructure/README.md
Due: backend, frontend

fix(infrastructure): download dump if not present
  infrastructure/Makefile
  infrastructure/scripts/provision-infra.sh
Due: none

fix(infrastructure): cubic-dev-ai suggestions
  infrastructure/Makefile
  infrastructure/modules/parameters/README.md
  infrastructure/modules/parameters/main.tf
  infrastructure/scripts/deploy-services.sh
  infrastructure/scripts/provision-infra.sh
Due: none

fix(infrastructure): frontend to be able to talk to backend
  infrastructure/modules/parameters/main.tf
Due: none

fix(infrastructure): dynamic redis/alb config via ssm and tf output
  backend/src/settings/local.py
  infrastructure/Makefile
  infrastructure/README.md
  infrastructure/live/main.tf
  infrastructure/live/outputs.tf
  infrastructure/live/variables.tf
  infrastructure/modules/parameters/main.tf
  infrastructure/modules/parameters/outputs.tf
  infrastructure/modules/parameters/variables.tf
  infrastructure/scripts/deploy-services.sh
  infrastructure/scripts/fix-ssm-params.sh
  infrastructure/scripts/provision-infra.sh
  infrastructure/scripts/start-localstack.sh
Due: backend

refactor(infrastructure): added a reusable check-prerequisites script
  frontend/.env.localstack.example
  infrastructure/Makefile
  infrastructure/README.md
  infrastructure/live/variables.tf
  infrastructure/modules/database/outputs.tf
  infrastructure/scripts/check-prerequisites.sh
  infrastructure/scripts/deploy-services.sh
  infrastructure/scripts/load-env-params.sh
  infrastructure/scripts/provision-infra.sh
  infrastructure/scripts/start-localstack.sh
Due: frontend

fix(infrastructure): add tflocal and awslocal into cspell wordlist
  backend/src/settings/local.py
  cspell/custom-dict.txt
  infrastructure/scripts/provision-infra.sh
Due: backend

refactor(infrasturcture): rename provision make target to deploy-on-localstack
  infrastructure/Makefile
  infrastructure/README.md
  infrastructure/scripts/start-localstack.sh
Due: none

chore(infrastructure): changes by make test-check
  infrastructure/Makefile
  infrastructure/README.md
  infrastructure/live/README.md
  infrastructure/live/main.tf
  infrastructure/modules/database/README.md
  infrastructure/modules/database/outputs.tf
  infrastructure/modules/parameters/README.md
  infrastructure/scripts/start-localstack.sh
Due: none

refactor(infrastructure): remove fixme from lcoal.py regarding slack bot auth and environ import
  backend/src/settings/local.py
Due: backend

refactor(sonar cloud suggestions):
  infrastructure/scripts/check-prerequisites.sh
  infrastructure/scripts/deploy-services.sh
  infrastructure/scripts/provision-infra.sh
  infrastructure/scripts/start-localstack.sh
Due: none

refactor(cubic ai suggestions):
  infrastructure/scripts/check-prerequisites.sh
  infrastructure/scripts/start-localstack.sh
Due: none

refactor(infra): remove redundant makefile targets after rebase
  infrastructure/Makefile
  infrastructure/make/localstack.mk
Due: none

feat(infra): add python-dotenv to load env vars for localstack
  infrastructure/scripts/dev.py
Due: none

feat(infra): add method to stop localstack
  infrastructure/scripts/dev.py
Due: none

refactor(infrastucture): remove previous providers_override if present
  infrastructure/scripts/provision-infra.sh
Due: none

feat(infra): subcommands for localstack and tests for it
  infrastructure/make/localstack.mk
  infrastructure/scripts/dev.py
  infrastructure/scripts/start-localstack.sh
  infrastructure/tests/scripts/dev_test.py
Due: none

fix(infra): ai bot suggestions on localstack makefile
  infrastructure/make/localstack.mk
Due: none

refactor(infra): make errors generic to be able to be used by local dev environment
  infrastructure/poetry.lock
  infrastructure/pyproject.toml
  infrastructure/scripts/__init__.py
  infrastructure/scripts/dev.py
  infrastructure/scripts/errors.py
  infrastructure/scripts/localstack.py
  infrastructure/scripts/run_tests.py
  infrastructure/scripts/terraform_tests.py
  infrastructure/tests/scripts/localstack_test.py
  infrastructure/tests/scripts/run_tests_test.py
  infrastructure/tests/scripts/terraform_tests_test.py
Due: none

fix(infra): address bot problems
  backend/.env.localstack.example
  infrastructure/scripts/dev.py
  infrastructure/scripts/load_env.py
  infrastructure/tests/scripts/load_env_test.py
Due: backend

feat(infra): port deploy services script
  infrastructure/make/localstack.mk
  infrastructure/scripts/check-prerequisites.sh
  infrastructure/scripts/deploy-services.sh
  infrastructure/scripts/deploy_services.py
  infrastructure/scripts/dev.py
  infrastructure/scripts/localstack.py
  infrastructure/tests/scripts/deploy_services_test.py
  infrastructure/tests/scripts/dev_test.py
  infrastructure/tests/scripts/localstack_test.py
Due: none

feat(infra): add provision infra script
  cspell/custom-dict.txt
  infrastructure/make/localstack.mk
  infrastructure/poetry.lock
  infrastructure/pyproject.toml
  infrastructure/scripts/aws.py
  infrastructure/scripts/commands.py
  infrastructure/scripts/dev.py
  infrastructure/scripts/localstack.py
  infrastructure/scripts/provision-infra.sh
  infrastructure/scripts/provision.py
  infrastructure/tests/scripts/aws_test.py
  infrastructure/tests/scripts/commands_test.py
  infrastructure/tests/scripts/dev_test.py
  infrastructure/tests/scripts/localstack_test.py
  infrastructure/tests/scripts/provision_test.py
Due: none

feat(infra): port load env script
  backend/.env.localstack.example
  frontend/.env.localstack.example
  infrastructure/make/localstack.mk
  infrastructure/scripts/dev.py
  infrastructure/scripts/errors.py
  infrastructure/scripts/load-env-params.sh
  infrastructure/scripts/load_env.py
  infrastructure/tests/scripts/dev_test.py
  infrastructure/tests/scripts/load_env_test.py
Due: backend, frontend

feat(infra): cubic bot suggestion
  infrastructure/tests/scripts/provision_test.py
Due: none

fix(infra): ai bot suggestions
  infrastructure/README.md
  infrastructure/make/localstack.mk
  infrastructure/scripts/deploy_services.py
  infrastructure/scripts/dev.py
  infrastructure/scripts/localstack.py
  infrastructure/scripts/provision.py
  infrastructure/tests/scripts/deploy_services_test.py
  infrastructure/tests/scripts/localstack_test.py
  infrastructure/tests/scripts/provision_test.py
Due: none

fix(infra): ai bot suggestion
  infrastructure/scripts/deploy_services.py
  infrastructure/tests/scripts/deploy_services_test.py
Due: none

fix(infra): ai bot suggestions
  infrastructure/scripts/deploy_services.py
  infrastructure/tests/scripts/deploy_services_test.py
Due: none

refactor(infra): sonarqube suggestions
  infrastructure/scripts/deploy_services.py
  infrastructure/scripts/load_env.py
Due: none

validate source text in backend
  backend/src/apps/owasp/api/internal/queries/board_candidate_profile.py
  backend/src/apps/owasp/management/commands/owasp_generate_board_candidates_claims.py
  backend/src/apps/owasp/management/commands/owasp_sync_board_candidates.py
  backend/tests/unit/apps/owasp/management/commands/owasp_generate_board_candidates_claims_test.py
Due: backend

cleanup frontend code
  frontend/__tests__/unit/components/AnnotatedProfile.test.tsx
  frontend/__tests__/unit/components/ClaimHighlight.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/page.tsx
  frontend/src/components/AnnotatedProfile.tsx
  frontend/src/components/ClaimHighlight.tsx
Due: frontend

do not scale/zoom card on hover
  frontend/src/app/board/[year]/candidates/page.tsx
Due: frontend

introduce fat methods approving claims
  backend/src/apps/owasp/models/board_candidate_claim.py
  backend/src/apps/owasp/signals/board_candidate_claim_review.py
  backend/src/apps/owasp/signals/board_of_directors.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/signals/board_candidate_claim_review_test.py
  backend/tests/unit/apps/owasp/signals/board_of_directors_test.py
Due: backend

simplify code by making BoardcandidateClaim.board a mandatory field
  backend/src/apps/owasp/api/internal/mutations/board_candidate_claim_review.py
  backend/src/apps/owasp/api/internal/nodes/board_candidate_claim.py
  backend/src/apps/owasp/migrations/0081_alter_boardcandidateclaim_board_and_more.py
  backend/src/apps/owasp/models/board_candidate_claim.py
  backend/src/apps/owasp/models/board_candidate_claim_review.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_review_test.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_test.py
Due: backend

rename BoardOfDirectors.reviewers to claim_reviewers
  backend/src/apps/owasp/admin/board_of_directors.py
  backend/src/apps/owasp/api/internal/mutations/board_candidate_claim_review.py
  backend/src/apps/owasp/api/internal/nodes/board_candidate_claim.py
  backend/src/apps/owasp/api/internal/nodes/board_of_directors.py
  backend/src/apps/owasp/api/internal/queries/board_candidate_claim.py
  backend/src/apps/owasp/api/internal/queries/board_candidate_claim_evidence.py
  backend/src/apps/owasp/migrations/0082_remove_boardofdirectors_reviewers_and_more.py
  backend/src/apps/owasp/models/board_candidate_claim_review.py
  backend/src/apps/owasp/models/board_of_directors.py
  backend/tests/unit/apps/owasp/admin/board_of_directors_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_of_directors_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_review_test.py
Due: backend

fix(infra): bump LocalStack to 2026.07.1 for awsvpc ALB target registration
  docker/localstack/Dockerfile
Due: none

address exif metadata stripping related review comments
  backend/src/apps/owasp/utils/file.py
  backend/tests/unit/apps/owasp/utils/file_test.py
Due: backend

do not shink candidate card on click
  frontend/src/app/board/[year]/candidates/page.tsx
Due: frontend

fix security vuls reported by dependabot
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
