Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

revert future changes
  frontend/src/app/board/[year]/candidates/page.tsx
  frontend/src/components/forms/shared/FormTextarea.tsx
Due: frontend

add source URL validation on frontend
  frontend/__tests__/unit/utils/formValidationUtils.test.ts
  frontend/src/components/EvidenceActions.tsx
  frontend/src/components/EvidenceForm.tsx
  frontend/src/components/forms/shared/formValidationUtils.ts
Due: frontend

fix sonar qube issue
  frontend/src/components/forms/shared/formValidationUtils.ts
Due: frontend

Address review
  backend/src/apps/owasp/migrations/0073_activityevent.py
  backend/src/apps/owasp/models/activity_event.py
  docker-compose/local/compose.override.yaml
  docker-compose/local/compose.yaml
Due: backend

Update code
  SECURITY.md
  frontend/public/.well-known/security.txt
Due: frontend

updated order
  backend/src/apps/owasp/admin/activity_event.py
Due: backend

Update code
  .pre-commit-config.yaml
  .trivy.yaml
  SECURITY.md
  cspell/custom-dict.txt
  docker/tools/Dockerfile.security
  docker/tools/Dockerfile.tests
  docs/src/maintenance/index.md
  e2e/pages/WellKnown.spec.ts
  frontend/public/.well-known/pgp-key.txt
  frontend/public/.well-known/security.txt
  make/check-test.mk
  make/help.mk
  make/maintenance.mk
  ruff.toml
  tools/Makefile
  tools/make/maintenance.mk
  tools/security/private/.gitignore
  tools/security/renew_security_txt.py
  tools/tests/conftest.py
  tools/tests/security/renew_security_txt_test.py
  tools/tests/security/security_txt_test.py
Due: frontend

Update code
  tools/security/renew_security_txt.py
  tools/tests/security/renew_security_txt_test.py
Due: none

Update code
  cspell/pnpm-workspace.yaml
  docs/src/maintenance/index.md
  e2e/pages/WellKnown.spec.ts
  e2e/pnpm-workspace.yaml
  frontend/pnpm-workspace.yaml
  frontend/public/.well-known/pgp-key.txt
  frontend/public/.well-known/security.txt
  pnpm-workspace.yaml
  tools/security/renew_security_txt.py
  tools/tests/security/renew_security_txt_test.py
  tools/tests/security/security_txt_test.py
Due: frontend

Fix pre-commit
  cspell/pnpm-workspace.yaml
  e2e/pnpm-workspace.yaml
  frontend/pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: frontend

Optimize top_contributors query in ProjectNode
  backend/src/apps/common/api/internal/dataloaders/utils.py
  backend/src/apps/github/api/internal/dataloaders/repository_contributor.py
  backend/src/apps/owasp/api/internal/nodes/project.py
  docker-compose/local/compose.yaml
Due: backend

Add tests
  backend/src/apps/common/api/internal/dataloaders/utils.py
  backend/src/apps/github/api/internal/dataloaders/repository_contributor.py
  backend/tests/unit/apps/common/api/internal/dataloaders/utils_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/repository_contributor_test.py
Due: backend

Update code
  backend/src/apps/common/api/internal/dataloaders/utils.py
  backend/src/apps/github/api/internal/dataloaders/repository_contributor.py
  backend/tests/unit/apps/common/api/internal/dataloaders/utils_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/repository_contributor_test.py
Due: backend

Uncomment frontend service
  docker-compose/local/compose.yaml
Due: none

Add tests for top_contributors resolver
  backend/tests/unit/apps/owasp/api/internal/nodes/project_test.py
Due: backend

Add LOADER suffix to all loaders constants
  backend/src/apps/github/api/internal/dataloaders/issue.py
  backend/src/apps/github/api/internal/dataloaders/milestone.py
  backend/src/apps/github/api/internal/dataloaders/pull_request.py
  backend/src/apps/github/api/internal/dataloaders/release.py
  backend/src/apps/github/api/internal/dataloaders/repository.py
  backend/src/apps/github/api/internal/nodes/repository.py
  backend/src/apps/mentorship/api/internal/nodes/program.py
  backend/src/apps/owasp/api/internal/dataloaders/committee.py
  backend/src/apps/owasp/api/internal/dataloaders/project.py
  backend/src/apps/owasp/api/internal/nodes/committee.py
  backend/src/apps/owasp/api/internal/nodes/project.py
  backend/tests/unit/apps/github/api/internal/dataloaders/issue_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/milestone_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/pull_request_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/release_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/repository_test.py
  backend/tests/unit/apps/github/api/internal/nodes/repository_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/committee_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/project_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/committee_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/project_test.py
Due: backend

Update code Signed-off-by: Arkadii Yakovets <arkadii.yakovets@owasp.org>
  infrastructure/tests/provider_pins_test.py
Due: none

Update tests
  backend/tests/unit/apps/owasp/api/internal/nodes/project_test.py
Due: backend

Added a command
  backend/make/apps/owasp.mk
  backend/src/apps/owasp/management/commands/owasp_backfill_activity_events.py
  backend/tests/unit/apps/owasp/management/commands/owasp_backfill_activity_events_test.py
Due: backend

Add security.txt under /.well-known/ per RFC 9116 (#5208)
  .pre-commit-config.yaml
  .trivy.yaml
  SECURITY.md
  cspell/custom-dict.txt
  cspell/pnpm-workspace.yaml
  docker/tools/Dockerfile.security
  docker/tools/Dockerfile.tests
  docs/src/maintenance/index.md
  e2e/pages/WellKnown.spec.ts
  e2e/pnpm-workspace.yaml
  frontend/pnpm-workspace.yaml
  frontend/public/.well-known/pgp-key.txt
  frontend/public/.well-known/security.txt
  make/check-test.mk
  make/help.mk
  make/maintenance.mk
  pnpm-workspace.yaml
  ruff.toml
  tools/Makefile
  tools/make/maintenance.mk
  tools/security/private/.gitignore
  tools/security/renew_security_txt.py
  tools/tests/conftest.py
  tools/tests/security/renew_security_txt_test.py
  tools/tests/security/security_txt_test.py
Due: frontend

adress review
  backend/make/apps/owasp.mk
  backend/src/apps/owasp/management/commands/owasp_backfill_activity_events.py
  backend/tests/unit/apps/owasp/management/commands/owasp_backfill_activity_events_test.py
Due: backend

fixed
  backend/tests/unit/apps/owasp/management/commands/owasp_backfill_activity_events_test.py
Due: backend

apply bot suggestions
  backend/apps/owasp/management/commands/owasp_generate_board_candidates_claims.py
  backend/tests/unit/apps/owasp/management/commands/owasp_generate_board_candidates_claims_test.py
Due: backend

Update code Signed-off-by: Arkadii Yakovets <arkadii.yakovets@owasp.org>
  infrastructure/bootstrap/README.md
  infrastructure/live/README.md
  infrastructure/modules/alb/README.md
  infrastructure/modules/cache/README.md
  infrastructure/modules/database/README.md
  infrastructure/modules/ecr-cache/README.md
  infrastructure/modules/kms/README.md
  infrastructure/modules/networking/README.md
  infrastructure/modules/networking/modules/nacl/README.md
  infrastructure/modules/networking/modules/vpc-endpoint/README.md
  infrastructure/modules/parameters/README.md
  infrastructure/modules/security/README.md
  infrastructure/modules/service/README.md
  infrastructure/modules/storage/README.md
  infrastructure/modules/storage/modules/s3-bucket/README.md
  infrastructure/modules/storage/modules/shared-data-bucket/README.md
  infrastructure/modules/tasks/README.md
  infrastructure/modules/tasks/modules/task/README.md
  infrastructure/state/README.md
Due: none

don't skip when --dry-run is set
  backend/src/apps/owasp/management/commands/owasp_generate_board_candidates_claims.py
  backend/tests/unit/apps/owasp/management/commands/owasp_generate_board_candidates_claims_test.py
Due: backend

improve prompt
  backend/src/apps/owasp/management/commands/owasp_generate_board_candidates_claims.py
Due: backend

improve test coverage
  backend/tests/unit/apps/owasp/management/commands/owasp_generate_board_candidates_claims_test.py
Due: backend

count failed and saved claims separately
  backend/src/apps/owasp/management/commands/owasp_generate_board_candidates_claims.py
  backend/tests/unit/apps/owasp/management/commands/owasp_generate_board_candidates_claims_test.py
Due: backend

improve code quality
  backend/src/apps/owasp/management/commands/owasp_generate_board_candidates_claims.py
Due: backend

strip HTML tags to reduce noise and token usage
  backend/src/apps/owasp/management/commands/owasp_generate_board_candidates_claims.py
  backend/tests/unit/apps/owasp/management/commands/owasp_generate_board_candidates_claims_test.py
Due: backend

Add AGENTS.md with project conventions for coding agents
  AGENTS.md
Due: none

Fix AGENTS.md lint warnings and sync-data description
  AGENTS.md
Due: none

Fix NestBot command count in AGENTS.md (23 -> 22)
  AGENTS.md
Due: none

Add missing owasp-aggregate-member-contributions to OWASP command catalog
  AGENTS.md
Due: none

Fix markdownlint MD032 and MD060 in AGENTS.md
  AGENTS.md
Due: none
