Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Clean up comments
  frontend/__tests__/unit/components/Footer.test.tsx
  frontend/__tests__/unit/components/HealthMetrics.test.tsx
  frontend/__tests__/unit/components/MetricsCard.test.tsx
  frontend/__tests__/unit/components/NavDropDown.test.tsx
  frontend/__tests__/unit/components/Pagination.test.tsx
  frontend/__tests__/unit/components/ScrollToTop.test.tsx
  frontend/__tests__/unit/components/SingleModuleCard.test.tsx
  frontend/__tests__/unit/components/forms/shared/FormDateInput.test.tsx
  frontend/__tests__/unit/components/skeletons/sharedSkeletons.test.tsx
  frontend/__tests__/unit/pages/ChapterDetails.test.tsx
  frontend/__tests__/unit/pages/Committees.test.tsx
  frontend/__tests__/unit/pages/Home.test.tsx
  frontend/__tests__/unit/pages/MenteeProfilePage.test.tsx
  frontend/__tests__/unit/pages/Organization.test.tsx
  frontend/__tests__/unit/pages/ProgramDetailsMentorship.test.tsx
  frontend/__tests__/unit/pages/ProjectHealthDashboardMetricsDetails.test.tsx
Due: frontend

Improve frontend test coverage above 90% and add missing test files (#3923)
  frontend/__tests__/mockData/mockSnapshotData.ts
  frontend/__tests__/unit/components/Footer.test.tsx
  frontend/__tests__/unit/components/HealthMetrics.test.tsx
  frontend/__tests__/unit/components/IssuesTable.test.tsx
  frontend/__tests__/unit/components/LabelList.test.tsx
  frontend/__tests__/unit/components/LogoCarousel.test.tsx
  frontend/__tests__/unit/components/MetricsCard.test.tsx
  frontend/__tests__/unit/components/MultiSearch.test.tsx
  frontend/__tests__/unit/components/NavDropDown.test.tsx
  frontend/__tests__/unit/components/Pagination.test.tsx
  frontend/__tests__/unit/components/ScrollToTop.test.tsx
  frontend/__tests__/unit/components/SingleModuleCard.test.tsx
  frontend/__tests__/unit/components/forms/shared/FormDateInput.test.tsx
  frontend/__tests__/unit/components/skeletons/sharedSkeletons.test.tsx
  frontend/__tests__/unit/pages/ChapterDetails.test.tsx
  frontend/__tests__/unit/pages/Chapters.test.tsx
  frontend/__tests__/unit/pages/Committees.test.tsx
  frontend/__tests__/unit/pages/Contribute.test.tsx
  frontend/__tests__/unit/pages/Home.test.tsx
  frontend/__tests__/unit/pages/MenteeProfilePage.test.tsx
  frontend/__tests__/unit/pages/ModuleDetails.test.tsx
  frontend/__tests__/unit/pages/ModuleDetailsPage.test.tsx
  frontend/__tests__/unit/pages/Organization.test.tsx
  frontend/__tests__/unit/pages/OrganizationDetails.test.tsx
  frontend/__tests__/unit/pages/ProgramDetails.test.tsx
  frontend/__tests__/unit/pages/ProgramDetailsMentorship.test.tsx
  frontend/__tests__/unit/pages/ProjectHealthDashboardMetricsDetails.test.tsx
  frontend/__tests__/unit/pages/Projects.test.tsx
  frontend/__tests__/unit/pages/RepositoryDetails.test.tsx
  frontend/__tests__/unit/pages/SnapshotDetails.test.tsx
  frontend/__tests__/unit/utils/proxy.test.ts
  frontend/src/components/Milestones.tsx
  frontend/src/components/Pagination.tsx
  frontend/src/components/SecondaryCard.tsx
Due: frontend

Add Image Extraction Support to NestBot (#3925)
  backend/apps/ai/common/constants.py
  backend/apps/ai/flows/assistant.py
  backend/apps/common/open_ai.py
  backend/apps/slack/MANIFEST.yaml
  backend/apps/slack/common/handlers/ai.py
  backend/apps/slack/events/app_mention.py
  backend/apps/slack/utils.py
  backend/tests/apps/ai/flows/__init__.py
  backend/tests/apps/ai/flows/assistant_test.py
  backend/tests/apps/common/open_ai_test.py
  backend/tests/apps/slack/common/handlers/ai_test.py
  backend/tests/apps/slack/common/question_detector_test.py
  backend/tests/apps/slack/events/app_mention_test.py
  backend/tests/apps/slack/services/message_auto_reply_test.py
  backend/tests/apps/slack/utils_test.py
Due: backend

feat(docker): decouple NestBot service with separate container (#3865)
  docker-compose/local/compose.yaml
  docker/backend/Dockerfile.local
Due: none

Fix is_project_leader substring false positives with exact token matching
  backend/apps/owasp/api/internal/queries/project.py
  backend/tests/apps/owasp/api/internal/queries/project_test.py
Due: backend

coderabbit suggestions
  docker-compose/local/compose.yaml
Due: none

fix: corrected small type check in new error
  frontend/src/utils/dateFormatter.ts
Due: frontend

Update tests
  backend/tests/apps/common/management/commands/dump_data_test.py
Due: backend

fix(docker): address CodeRabbit review suggestions and improve service startup reliability
  docker-compose/local/compose.yaml
Due: none

coderabbit and cubic dev suggestions
  docker-compose/local/compose.yaml
Due: none

Update code
  backend/apps/github/api/internal/nodes/repository.py
Due: backend

Update tests
  backend/tests/apps/github/api/internal/nodes/issue_test.py
Due: backend

Update code
  backend/apps/github/api/internal/nodes/repository.py
  backend/tests/apps/github/api/internal/nodes/repository_test.py
Due: backend

Run checks
  backend/tests/apps/github/api/internal/nodes/repository_test.py
Due: backend

Run make update
  backend/poetry.lock
  docs/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Update trivy.yaml
  trivy.yaml
Due: none

ci: move backend model graph generation to separate workflow
  .github/workflows/generate-backend-model-graphs.yaml
  .github/workflows/run-ci-cd.yaml
Due: none

reorder the COPY in dockerfile for better layer caching
  docker/backend/Dockerfile
  docker/backend/Dockerfile.test
Due: none

reverted Dockerfile.test and moved settings in Dockerfile before apps
  docker/backend/Dockerfile
  docker/backend/Dockerfile.test
Due: none

Update code
  docker/backend/Dockerfile
Due: none

reorder the COPY in dockerfiles of backend for better layer caching (#3945)
  docker/backend/Dockerfile
Due: none

refactor: prefer optional chaining in projects page
  frontend/src/app/projects/page.tsx
Due: frontend

added slack link to chapters
  backend/Makefile
  backend/apps/owasp/api/internal/nodes/common.py
  backend/apps/owasp/api/internal/nodes/entity_channel.py
  backend/apps/owasp/models/common.py
  backend/apps/slack/Makefile
  frontend/src/app/chapters/[chapterKey]/page.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/server/queries/chapterQueries.ts
  frontend/src/types/__generated__/chapterQueries.generated.ts
Due: backend, frontend

Update code
  backend/apps/common/management/commands/dump_data.py
  backend/tests/apps/common/management/commands/dump_data_test.py
Due: backend

Fix tests
  backend/tests/apps/common/management/commands/dump_data_test.py
Due: backend

Update dump_data command (#3921)
  backend/apps/common/management/commands/dump_data.py
  backend/tests/apps/common/management/commands/dump_data_test.py
Due: backend

fix: improve focus outlines
  frontend/src/components/Footer.tsx
  frontend/src/components/Header.tsx
Due: frontend

refactor: prefer optional chaining in projects page (#3949)
  frontend/src/app/projects/page.tsx
Due: frontend

a11y: improve focus indicator consistency
  frontend/src/components/Footer.tsx
  frontend/src/components/Header.tsx
Due: frontend

Optimize layer caching in backend Dockerfile.test
  docker/backend/Dockerfile.test
Due: none

Update code
  frontend/src/components/Footer.tsx
Due: frontend

Update code
  backend/apps/mentorship/admin/admin.py
  backend/apps/mentorship/admin/module.py
  backend/apps/mentorship/admin/program.py
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/apps/mentorship/api/internal/mutations/program.py
  backend/apps/mentorship/api/internal/nodes/admin.py
  backend/apps/mentorship/api/internal/nodes/program.py
  backend/apps/mentorship/api/internal/queries/program.py
  backend/apps/mentorship/models/admin.py
  backend/apps/mentorship/models/common/linked_user.py
  backend/apps/mentorship/models/program_admin.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_program_test.py
  backend/tests/apps/mentorship/api/internal/queries/api_queries_program_test.py
Due: backend

Update code
  docker/backend/Dockerfile.test
Due: none

Optimize layer caching in backend Dockerfile.test (#3951)
  docker/backend/Dockerfile.test
Due: none

chore: apply formatting fixes
  frontend/src/components/MultiSearch.tsx
  frontend/src/server/fetchAlgoliaData.ts
Due: frontend

Fixed coderabbit review
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/EntityActions.test.tsx
  frontend/__tests__/unit/components/ProgramForm.test.tsx
  frontend/__tests__/unit/components/Release.test.tsx
  frontend/__tests__/unit/components/TruncatedText.test.tsx
  frontend/__tests__/unit/contexts/BreadcrumbContext.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
  frontend/__tests__/unit/pages/MyMentorship.test.tsx
  frontend/src/components/ProgramForm.tsx
Due: frontend

added slack link to projects
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/projects/[projectKey]/page.tsx
  frontend/src/server/queries/projectQueries.ts
  frontend/src/types/__generated__/chapterQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/projectQueries.generated.ts
Due: frontend

fixed get_urls in scraper.py and added a relevant test
  backend/apps/owasp/scraper.py
  backend/tests/apps/owasp/scraper_test.py
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
