Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

backend: add test for annotate has evidence
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_test.py
Due: backend

improve test coverage
  frontend/__tests__/unit/components/ActionButton.test.tsx
  frontend/__tests__/unit/components/ClaimActions.test.tsx
  frontend/__tests__/unit/components/DropdownActions.test.tsx
  frontend/__tests__/unit/components/ProgramForm.test.tsx
  frontend/__tests__/unit/pages/CreateClaimPage.test.tsx
  frontend/__tests__/unit/pages/EditClaimPage.test.tsx
Due: frontend

fix tests
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
Due: frontend

fix e2e test
  e2e/pages/BoardCandidateClaimDetails.spec.ts
Due: none

apply bot suggestions
  e2e/helpers/mockClaimAuth.ts
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
Due: frontend

fmt frontend files
  frontend/__tests__/unit/components/ClaimActions.test.tsx
  frontend/__tests__/unit/components/ProgramForm.test.tsx
Due: frontend

fix double click on keypress
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
Due: frontend

fix sonar qube and bot issues
  frontend/__tests__/unit/components/ClaimActions.test.tsx
  frontend/__tests__/unit/components/DropdownActions.test.tsx
  frontend/__tests__/unit/pages/CreateClaimPage.test.tsx
  frontend/__tests__/unit/pages/EditClaimPage.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
Due: frontend

update code
  frontend/__tests__/unit/components/ProgramForm.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/app/board/[year]/candidates/page.tsx
  frontend/src/components/ClaimForm.tsx
Due: frontend

add disableAnimation to Button
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
Due: frontend

backport tests and fixes from newer PR
  e2e/pages/BoardCandidateClaimCreate.spec.ts
  e2e/pages/BoardCandidateClaimEdit.spec.ts
  frontend/__tests__/mockData/mockClaimData.ts
  frontend/__tests__/unit/components/DropdownActions.test.tsx
  frontend/__tests__/unit/pages/CreateClaimPage.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/create/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/components/ClaimActions.tsx
  frontend/src/components/DropdownActions.tsx
  frontend/src/types/claim.ts
Due: frontend

add annotate to single node query
  backend/apps/owasp/api/internal/queries/board_candidate_claim.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_test.py
Due: backend

apply bot suggestions
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_test.py
  e2e/pages/BoardCandidateClaimEdit.spec.ts
Due: backend

feat(backend): update pypdf to fix security vulnerability
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
Due: backend

fix sonar issues
  frontend/__tests__/a11y/pages/SettingsPage.a11y.test.tsx
  frontend/__tests__/unit/pages/SettingsPage.test.tsx
  frontend/src/app/settings/page.tsx
Due: frontend

fix: issues
  frontend/__tests__/a11y/pages/SettingsPage.a11y.test.tsx
  frontend/__tests__/unit/pages/SettingsPage.test.tsx
  frontend/src/app/settings/page.tsx
Due: frontend

fix: sonar issue
  frontend/src/app/settings/page.tsx
Due: frontend

Add precise type annotations to search helpers
  backend/src/apps/github/index/search/user.py
  backend/src/apps/owasp/index/search/chapter.py
  backend/src/apps/owasp/index/search/committee.py
  backend/src/apps/owasp/index/search/issue.py
  backend/src/apps/owasp/index/search/project.py
Due: backend

close modal on submission fail
  frontend/src/components/ClaimActions.tsx
Due: frontend

address sonar qube finding
  backend/apps/owasp/utils/file.py
Due: backend

remove bad test
  backend/tests/unit/apps/owasp/utils/file_test.py
Due: backend

update file metadata util code
  backend/apps/owasp/utils/file.py
  backend/tests/unit/apps/owasp/utils/file_test.py
Due: backend

extract stripping logic into an internal method
  backend/apps/owasp/models/board_candidate_claim_evidence.py
Due: backend

Fix Slack workspace token placeholder
  backend/.env.example
Due: backend

Add Slack moderation model help text
  backend/src/apps/slack/migrations/0023_moderationalert_moderationrule.py
  backend/src/apps/slack/models/moderation.py
Due: backend

Move Slack moderation logic into a seperate service+ update test +read from yaml + new make target
  backend/.env.example
  backend/src/apps/slack/MANIFEST.yaml
  backend/src/apps/slack/Makefile
  backend/src/apps/slack/admin/__init__.py
  backend/src/apps/slack/admin/moderation.py
  backend/src/apps/slack/config/moderation_rules.example.yaml
  backend/src/apps/slack/config/moderation_rules.yaml
  backend/src/apps/slack/events/__init__.py
  backend/src/apps/slack/events/reaction_added.py
  backend/src/apps/slack/events/url_verification.py
  backend/src/apps/slack/management/commands/slack_sync_moderation_rules.py
  backend/src/apps/slack/migrations/0023_moderationalert_moderationrule.py
  backend/src/apps/slack/models/__init__.py
  backend/src/apps/slack/models/moderation.py
  backend/src/apps/slack/services/moderation.py
  backend/src/settings/local.py
  backend/tests/unit/apps/slack/admin/moderation_test.py
  backend/tests/unit/apps/slack/commands/slack_sync_moderation_rules_test.py
  backend/tests/unit/apps/slack/events/reaction_added_test.py
  backend/tests/unit/apps/slack/events/url_verification_test.py
  backend/tests/unit/apps/slack/models/moderation_test.py
  backend/tests/unit/apps/slack/services/moderation_test.py
  docker-compose/local/compose.yaml
Due: backend

Use admin-managed Slack reaction rules
  backend/src/apps/slack/Makefile
  backend/src/apps/slack/config/moderation_rules.example.yaml
  backend/src/apps/slack/config/moderation_rules.yaml
  backend/src/apps/slack/management/commands/slack_sync_moderation_rules.py
  backend/tests/unit/apps/slack/commands/slack_sync_moderation_rules_test.py
  docker-compose/local/compose.yaml
Due: backend

Remove unnecessary local ngrok origin setting
  backend/.env.example
  backend/src/settings/local.py
Due: backend

Generalize Slack moderation models as reactions
  backend/src/apps/slack/admin/__init__.py
  backend/src/apps/slack/admin/moderation.py
  backend/src/apps/slack/admin/reaction_alert.py
  backend/src/apps/slack/admin/reaction_rule.py
  backend/src/apps/slack/events/reaction_added.py
  backend/src/apps/slack/migrations/0023_reactionalert_reactionrule.py
  backend/src/apps/slack/models/__init__.py
  backend/src/apps/slack/models/moderation.py
  backend/src/apps/slack/models/reaction_alert.py
  backend/src/apps/slack/models/reaction_rule.py
  backend/src/apps/slack/services/reaction.py
  backend/tests/unit/apps/slack/admin/moderation_test.py
  backend/tests/unit/apps/slack/admin/reaction_alert_test.py
  backend/tests/unit/apps/slack/models/reaction_rule_test.py
  backend/tests/unit/apps/slack/services/reaction_test.py
Due: backend

update cache test
  infrastructure/live/main.tf
  infrastructure/modules/cache/main.tf
  infrastructure/modules/cache/outputs.tf
  infrastructure/modules/cache/tests/cache.tftest.hcl
  infrastructure/modules/cache/variables.tf
Due: none

update tests
  infrastructure/live/outputs.tf
Due: none

update outputs
  infrastructure/modules/cache/main.tf
  infrastructure/modules/cache/outputs.tf
Due: none

update tests
  infrastructure/live/outputs.tf
  infrastructure/modules/database/outputs.tf
  infrastructure/modules/database/tests/database.tftest.hcl
Due: none

preserve existing ssm resource
  infrastructure/modules/cache/main.tf
Due: none

update tests
  infrastructure/modules/database/main.tf
  infrastructure/modules/database/tests/database.tftest.hcl
Due: none

create redis secret#2
  infrastructure/modules/cache/main.tf
Due: none

add move cause count makes it a list somehow
  infrastructure/modules/database/main.tf
Due: none

create redis secret
  infrastructure/modules/cache/main.tf
Due: none

update tests ... again
  infrastructure/modules/database/main.tf
  infrastructure/modules/database/outputs.tf
  infrastructure/modules/database/tests/database.tftest.hcl
Due: none

add migration mode
  infrastructure/live/main.tf
  infrastructure/live/terraform.production.tfvars.example
  infrastructure/live/terraform.staging.tfvars.example
  infrastructure/live/variables.tf
  infrastructure/modules/cache/tests/cache.tftest.hcl
  infrastructure/modules/cache/variables.tf
  infrastructure/modules/database/tests/database.tftest.hcl
  infrastructure/modules/database/variables.tf
  infrastructure/modules/parameters/tests/parameters.tftest.hcl
  infrastructure/modules/parameters/variables.tf
Due: none

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
