Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

code-rabbit
  backend/pyproject.toml
Due: backend

sonar-issue
  backend/tests/apps/mentorship/api/internal/queries/test_api_queries_mentorship.py
  backend/tests/apps/mentorship/management/commands/test_mentorship_sync_issue_levels.py
  backend/tests/apps/mentorship/management/commands/test_mentorship_sync_module_issues.py
  backend/tests/apps/mentorship/management/commands/test_mentorship_update_comments.py
Due: backend

code-rabbit
  backend/tests/apps/mentorship/__init__.py
  backend/tests/apps/mentorship/api/__init__.py
  backend/tests/apps/mentorship/api/internal/__init__.py
  backend/tests/apps/mentorship/api/internal/nodes/__init__.py
  backend/tests/apps/mentorship/api/internal/queries/__init__.py
Due: backend

lint/format
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_mentee.py
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_module.py
Due: backend

cspell_check
  backend/apps/github/models/__init__.py
  backend/apps/mentorship/api/internal/nodes/mentee.py
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_enum.py
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_mentee.py
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_mentor.py
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_module.py
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_program.py
  backend/tests/apps/mentorship/api/internal/queries/test_api_queries_mentorship.py
  backend/tests/apps/mentorship/api/internal/queries/test_api_queries_module.py
  backend/tests/apps/mentorship/api/internal/queries/test_api_queries_program.py
  backend/tests/apps/mentorship/management/commands/test_mentorship_sync_issue_levels.py
  backend/tests/apps/mentorship/management/commands/test_mentorship_sync_module_issues.py
  backend/tests/apps/mentorship/management/commands/test_mentorship_update_comments.py
  backend/tests/apps/mentorship/model/test_mentee.py
  backend/tests/apps/mentorship/model/test_mentor.py
  backend/tests/apps/mentorship/model/test_mentor_module.py
  backend/tests/apps/mentorship/model/test_module.py
  backend/tests/apps/mentorship/model/test_program.py
  backend/tests/apps/mentorship/model/test_task.py
  backend/tests/apps/mentorship/model/test_task_level.py
Due: backend

lint/format
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_module.py
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_program.py
Due: backend

lint/format
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_program.py
  backend/tests/apps/mentorship/api/internal/queries/test_api_queries_mentorship.py
  backend/tests/apps/mentorship/api/internal/queries/test_api_queries_module.py
  backend/tests/apps/mentorship/api/internal/queries/test_api_queries_program.py
Due: backend

lint/format
  backend/tests/apps/mentorship/api/internal/queries/test_api_queries_mentorship.py
  backend/tests/apps/mentorship/api/internal/queries/test_api_queries_module.py
  backend/tests/apps/mentorship/management/commands/test_mentorship_sync_issue_levels.py
  backend/tests/apps/mentorship/management/commands/test_mentorship_sync_module_issues.py
Due: backend

cleaned code
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_enum_test.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_mentee_test.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_mentor_test.py
  backend/tests/apps/mentorship/api/internal/queries/api_queries_mentorship_test.py
  backend/tests/apps/mentorship/api/internal/queries/api_queries_module_test.py
  backend/tests/apps/mentorship/api/internal/queries/api_queries_program_test.py
Due: backend

lint/format
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_module.py
  backend/tests/apps/mentorship/api/internal/queries/test_api_queries_mentorship.py
  backend/tests/apps/mentorship/api/internal/queries/test_api_queries_module.py
  backend/tests/apps/mentorship/management/commands/test_mentorship_sync_issue_levels.py
  backend/tests/apps/mentorship/management/commands/test_mentorship_sync_module_issues.py
  backend/tests/apps/mentorship/management/commands/test_mentorship_update_comments.py
Due: backend

lint/format
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_module.py
  backend/tests/apps/mentorship/api/internal/queries/test_api_queries_mentorship.py
  backend/tests/apps/mentorship/api/internal/queries/test_api_queries_module.py
  backend/tests/apps/mentorship/api/internal/queries/test_api_queries_program.py
  backend/tests/apps/mentorship/management/commands/test_mentorship_sync_module_issues.py
  backend/tests/apps/mentorship/management/commands/test_mentorship_update_comments.py
  backend/tests/apps/mentorship/model/test_mentee.py
  backend/tests/apps/mentorship/model/test_module.py
  backend/tests/apps/mentorship/model/test_start_end_range.py
Due: backend

final lint/format
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_enum_test.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_mentee_test.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_mentor_test.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_program_test.py
  backend/tests/apps/mentorship/api/internal/queries/api_queries_mentorship_test.py
  backend/tests/apps/mentorship/api/internal/queries/api_queries_module_test.py
  backend/tests/apps/mentorship/api/internal/queries/api_queries_program_test.py
  backend/tests/apps/mentorship/management/commands/mentorship_sync_issue_levels_test.py
  backend/tests/apps/mentorship/management/commands/mentorship_sync_module_issues_test.py
  backend/tests/apps/mentorship/management/commands/mentorship_update_comments_test.py
  backend/tests/apps/mentorship/model/experience_level_test.py
  backend/tests/apps/mentorship/model/mentee_test.py
  backend/tests/apps/mentorship/model/mentor_module_test.py
  backend/tests/apps/mentorship/model/mentor_test.py
  backend/tests/apps/mentorship/model/module_test.py
  backend/tests/apps/mentorship/model/program_test.py
  backend/tests/apps/mentorship/model/start_end_range_test.py
  backend/tests/apps/mentorship/model/task_level_test.py
  backend/tests/apps/mentorship/model/task_test.py
Due: backend

lint/format code-rabbit
  backend/tests/apps/mentorship/api/internal/queries/api_queries_mentorship_test.py
Due: backend

lint/format code-rabbit
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  backend/tests/apps/mentorship/management/commands/mentorship_update_comments_test.py
  backend/tests/apps/mentorship/model/start_end_range_test.py
Due: backend

lint/format
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  backend/tests/apps/mentorship/model/program_test.py
Due: backend

lint/format
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_program_test.py
Due: backend

code-rabbit
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_module_test.py
Due: backend

lint/format
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_module_test.py
Due: backend

lint/format code-rabbit
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  backend/tests/apps/mentorship/model/program_test.py
Due: backend

lint/format
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_program_test.py
Due: backend

resolved conflicts
  backend/tests/apps/mentorship/api/internal/queries/api_queries_mentorship_test.py
  backend/tests/apps/mentorship/api/internal/queries/api_queries_module_test.py
  backend/tests/apps/mentorship/api/internal/queries/api_queries_program_test.py
Due: backend

' lint/format
  backend/tests/apps/mentorship/model/module_test.py
Due: backend

migrate project issue to m2m field
  backend/apps/owasp/api/internal/nodes/project.py
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
  backend/apps/owasp/migrations/0073_project_issues.py
  backend/apps/owasp/models/mixins/project.py
  backend/apps/owasp/models/project.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
  docker-compose/local/compose.yaml
Due: backend

lint/format
  backend/tests/apps/mentorship/api/internal/queries/api_queries_mentorship_test.py
  backend/tests/apps/mentorship/api/internal/queries/api_queries_module_test.py
  backend/tests/apps/mentorship/api/internal/queries/api_queries_program_test.py
  backend/tests/apps/mentorship/model/module_test.py
Due: backend

CI: generate backend model graphs
  .github/workflows/run-ci-cd.yaml
Due: none

Add step to install Poetry in CI/CD workflow
  .github/workflows/run-ci-cd.yaml
Due: none

CI: use manage.py shell for model graph app list
  .github/workflows/run-ci-cd.yaml
Due: none

Update CI settings wrapper
  .github/workflows/run-ci-cd.yaml
Due: none

fixed code rabbit review
  backend/apps/owasp/api/internal/nodes/project.py
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
  backend/apps/owasp/migrations/0073_project_issues.py
  backend/apps/owasp/migrations/0073_project_issues_project_issues_count.py
  backend/apps/owasp/models/project.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
Due: backend

CI: fix backend model graph generation
  .github/workflows/run-ci-cd.yaml
Due: none

used new volume
  docker-compose/local/compose.yaml
Due: none

Add pydotplus in model graph job
  .github/workflows/run-ci-cd.yaml
Due: none

CI: fix model graph generation job
  .github/workflows/run-ci-cd.yaml
Due: none

Add Backend model graph generation job
  .github/workflows/run-ci-cd.yaml
Due: none

Run make update
  backend/poetry.lock
  frontend/pnpm-lock.yaml
Due: backend, frontend

Update proxy/production.conf
  proxy/production.conf
Due: none

Update docker-compose/local/compose.yaml
  docker-compose/local/compose.yaml
Due: none

migrate project pr relation field
  backend/apps/owasp/api/internal/nodes/project.py
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
  backend/apps/owasp/migrations/0073_project_pull_requests.py
  backend/apps/owasp/models/project.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
