Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix:zap baseline security headers (#4137)
  frontend/next.config.ts
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/tests/alb.tftest.hcl
Due: frontend

Update infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/main.tf
Due: none

Update Next.js and ZAP configs
  .zapconfig
  frontend/next.config.ts
Due: frontend

Added the test Cases
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
Due: frontend

bot suggestions
  .pre-commit-config.yaml
  backend/apps/slack/README.md
  docs/api/overview.md
Due: backend

Update code
  .pre-commit-config.yaml
Due: none

fix: improve OpenAI error handling with specific exception types
  backend/apps/common/open_ai.py
  backend/tests/apps/common/open_ai_test.py
Due: backend

fix: correct OpenAI error handling, logging, and test construction
  backend/apps/common/open_ai.py
  backend/tests/apps/common/open_ai_test.py
Due: backend

chore: review compliance and finalize OpenAI error handling and tests
  backend/apps/common/open_ai.py
  backend/tests/apps/common/open_ai_test.py
Due: backend

fix(footer): internal links open in same tab instead of new tab
  frontend/src/components/Footer.tsx
Due: frontend

add global search bar
  frontend/__tests__/unit/components/GlobalSearch.test.tsx
  frontend/__tests__/unit/pages/Header.test.tsx
  frontend/__tests__/unit/pages/Home.test.tsx
  frontend/src/app/page.tsx
  frontend/src/components/GlobalSearch.tsx
  frontend/src/components/Header.tsx
Due: frontend

delete multisearch file and make check-test
  frontend/__tests__/a11y/components/MultiSearch.a11y.test.tsx
  frontend/__tests__/unit/components/GlobalSearch.test.tsx
  frontend/__tests__/unit/components/MultiSearch.test.tsx
  frontend/src/components/MultiSearch.tsx
  frontend/src/types/search.ts
Due: frontend

docs: add JSDoc comments and clean formatting
  frontend/__tests__/unit/pages/ProjectsHealthDashboardMetrics.test.tsx
  frontend/src/components/MetricsCard.tsx
  frontend/src/utils/constants.ts
  frontend/src/utils/dateFormatter.ts
Due: frontend

apply suggestions
  frontend/__tests__/unit/components/GlobalSearch.test.tsx
  frontend/src/app/page.tsx
  frontend/src/components/GlobalSearch.tsx
Due: frontend

apply code-rabbit
  frontend/__tests__/unit/components/GlobalSearch.test.tsx
  frontend/src/components/GlobalSearch.tsx
Due: frontend

Run make update
  .pre-commit-config.yaml
  backend/poetry.lock
  cspell/package.json
  cspell/pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

resolving sonarcloud issue
  frontend/src/components/GlobalSearch.tsx
Due: frontend

feat(ai): add collaborative multi-agent flow for low-confidence queries
  backend/apps/ai/agents/chapter/agent.py
  backend/apps/ai/flows/assistant.py
  backend/apps/ai/router.py
Due: backend

Add Rishi Mondal to the mentors list
  MENTORS.md
Due: none

update code
  backend/apps/owasp/api/internal/queries/chapter.py
  backend/tests/apps/owasp/api/internal/queries/chapter_test.py
  frontend/__tests__/a11y/pages/Chapters.a11y.test.tsx
  frontend/__tests__/unit/components/CountryFilter.test.tsx
  frontend/__tests__/unit/pages/Chapters.test.tsx
  frontend/src/app/chapters/page.tsx
  frontend/src/components/CountryFilter.tsx
  frontend/src/server/queries/chapterQueries.ts
  frontend/src/types/__generated__/chapterQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
Due: backend, frontend

Update MENTORS.md
  MENTORS.md
Due: none

feat(ai): add collaborative multi-agent flow for low-confidence queries
  backend/apps/ai/agents/chapter/agent.py
  backend/apps/ai/agents/community/agent.py
  backend/apps/ai/agents/contribution/agent.py
  backend/apps/ai/agents/project/agent.py
  backend/apps/ai/agents/rag/agent.py
  backend/apps/ai/flows/assistant.py
  backend/apps/ai/models/chunk.py
  backend/apps/ai/router.py
Due: backend

Revise Rishi Mondal's mentor profile details
  MENTORS.md
Due: none

fix:update code
  frontend/__tests__/unit/pages/Chapters.test.tsx
  frontend/src/app/chapters/page.tsx
Due: frontend

Update code
  .github/workflows/check-pr-issue-skip-usernames.txt
  MENTORS.md
  cspell/custom-dict.txt
Due: none

Add Rishi Mondal to the mentors list (#4162)
  .github/workflows/check-pr-issue-skip-usernames.txt
  MENTORS.md
  cspell/custom-dict.txt
Due: none

feat : extend list_events to filter by category
  backend/apps/api/rest/v0/event.py
  backend/tests/apps/api/rest/v0/event_test.py
Due: backend

fixed dependabot error
  .github/dependabot.yml
Due: none

update code
  frontend/__tests__/unit/pages/Chapters.test.tsx
  frontend/src/app/chapters/page.tsx
Due: frontend

fixed dependabot error (#4165)
  .github/dependabot.yml
Due: none

Added category filter and unified sorting to Projects search component
  backend/apps/api/rest/v0/project.py
  backend/apps/owasp/api/internal/filters/project.py
  backend/apps/owasp/api/internal/ordering/project.py
  backend/apps/owasp/api/internal/queries/project.py
  backend/apps/owasp/api/internal/queries/project_health_metrics.py
  backend/apps/owasp/index/registry/project.py
  backend/apps/owasp/index/search/project.py
  frontend/.env.e2e.example
  frontend/.env.example
  frontend/src/app/projects/dashboard/metrics/page.tsx
  frontend/src/app/projects/page.tsx
  frontend/src/components/Search.tsx
  frontend/src/components/SearchPageLayout.tsx
  frontend/src/components/UnifiedSearchBar.tsx
  frontend/src/hooks/useSearchPage.ts
  frontend/src/hooks/useSearchProjectsGraphQL.ts
  frontend/src/server/fetchAlgoliaData.ts
  frontend/src/server/queries/projectQueries.ts
  frontend/src/server/queries/projectsHealthDashboardQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/projectQueries.generated.ts
  frontend/src/types/__generated__/projectsHealthDashboardQueries.generated.ts
  frontend/src/types/category.ts
  frontend/src/types/unifiedSearchBar.ts
  frontend/src/utils/backendConfig.ts
  frontend/src/utils/sortingOptions.ts
Due: backend, frontend

Update code
  .gitignore
  backend/README.md
  backend/apps/api/README.md
  backend/apps/slack/README.md
  docs/api/index.md
  docs/backend/index.md
  docs/frontend/index.md
  docs/nestbot/index.md
  docs/schema/index.md
  docs/schema/overview.md
  frontend/README.md
  mkdocs.yaml
Due: backend, frontend

fixed review
  .pre-commit-config.yaml
  backend/apps/api/rest/v0/project.py
  backend/apps/owasp/api/internal/filters/project.py
  backend/apps/owasp/api/internal/queries/project.py
  backend/apps/owasp/api/internal/queries/project_health_metrics.py
  frontend/src/app/projects/dashboard/metrics/page.tsx
  frontend/src/components/Search.tsx
  frontend/src/components/UnifiedSearchBar.tsx
  frontend/src/hooks/useSearchPage.ts
  frontend/src/hooks/useSearchProjectsGraphQL.ts
  frontend/src/server/fetchAlgoliaData.ts
  frontend/src/server/queries/projectQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/projectQueries.generated.ts
  frontend/src/utils/backendConfig.ts
Due: backend, frontend

docs: add/improve overview pgs for backend, frontend, schema, & SDKs (#4075)
  .gitignore
  README.md
  backend/README.md
  backend/apps/api/README.md
  backend/apps/slack/README.md
  docker-compose/local/compose.yaml
  docs/api/index.md
  docs/backend/index.md
  docs/code-of-conduct.md
  docs/contributing.md
  docs/frontend/index.md
  docs/index.md
  docs/nestbot/index.md
  docs/schema/index.md
  frontend/README.md
  mkdocs.yaml
Due: backend, frontend

fixed review
  .pre-commit-config.yaml
  backend/apps/owasp/api/internal/queries/project.py
  frontend/src/app/projects/dashboard/metrics/page.tsx
  frontend/src/hooks/useSearchProjectsGraphQL.ts
  frontend/src/utils/backendConfig.ts
Due: backend, frontend

fixed coderabbit review
  backend/apps/owasp/api/internal/queries/project.py
  frontend/src/app/projects/dashboard/metrics/page.tsx
  frontend/src/hooks/useSearchProjectsGraphQL.ts
Due: backend, frontend

Update code
  backend/apps/api/rest/v0/project.py
  backend/tests/apps/api/rest/v0/project_test.py
Due: backend

Update tests
  backend/tests/apps/api/rest/v0/project_test.py
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
