Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Implement contribution score calculation
  backend/apps/owasp/Makefile
  backend/apps/owasp/admin/contribution_score.py
  backend/apps/owasp/management/commands/owasp_recognition_recalculate_scores.py
  backend/apps/owasp/score_calculator.py
Due: backend

Update naming
  .github/workflows/ci-cd-production.yaml
  .github/workflows/ci-cd-staging.yaml
  .github/workflows/ci.yaml
  .github/workflows/code-ql.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/run-backend-tests.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-code-checks-tests.yaml
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-code-quality-checks.yaml
  .github/workflows/run-coverage-upload.yaml
  .github/workflows/run-deploy.yaml
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/run-environment.yaml
  .github/workflows/run-frontend-tests.yaml
  .github/workflows/run-fuzz-tests.yaml
  .github/workflows/run-image-build.yaml
  .github/workflows/run-image-scan.yaml
  .github/workflows/run-infrastructure-tests.yaml
  .github/workflows/run-lighthouse-ci.yaml
  .github/workflows/run-release-version-resolution.yaml
  .github/workflows/run-zap-baseline-scan.yaml
  README.md
Due: none

Update code
  .github/pr-labeler.yml
  .github/workflows/ci-cd-production.yaml
  .github/workflows/ci-cd-staging.yaml
  .github/workflows/ci.yaml
  .github/workflows/code-ql.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/label-issues.yaml
  .github/workflows/pr-labeler.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-code-tests.yaml
  .github/workflows/run-frontend-tests.yaml
  .github/workflows/run-fuzz-tests.yaml
  .github/workflows/run-image-scan.yaml
  .github/workflows/run-infrastructure-bootstrap.yaml
  README.md
Due: none

Update code
  .github/actions/install-backend-dependencies/action.yaml
  .github/actions/install-frontend-dependencies/action.yaml
  .github/actions/setup-backend-environment/action.yaml
  .github/workflows/ci-cd-production.yaml
  .github/workflows/ci-cd-staging.yaml
  .github/workflows/ci.yaml
  .github/workflows/code-ql.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/run-backend-tests.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-code-tests.yaml
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/run-frontend-tests.yaml
  .github/workflows/run-lighthouse-ci.yaml
  README.md
Due: none

Update e2e/playwright.config.ts
  e2e/playwright.config.ts
Due: none

Update code
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-frontend-tests.yaml
Due: none

Update code
  .github/workflows/ci-cd-production.yaml
  .github/workflows/ci-cd-staging.yaml
Due: none

Update code
  .github/workflows/dependency-review.yaml
  .github/workflows/run-code-tests.yaml
Due: none

remove content type handling
  backend/apps/owasp/migrations/0075_alter_boardcandidateclaimevidence_file.py
  backend/apps/owasp/models/board_candidate_claim_evidence.py
  backend/apps/owasp/validators.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/validators_test.py
  cspell/custom-dict.txt
Due: backend

update code
  backend/apps/owasp/models/board_candidate_claim_evidence.py
Due: backend

add tests for uuid generator
  backend/tests/unit/apps/owasp/models/board_candidate_claim_evidence_test.py
Due: backend

add tests for claim queries
  backend/tests/unit/apps/owasp/api/internal/mutations/__init__.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_test.py
Due: backend

add evidence mutations and tests
  backend/apps/owasp/api/internal/mutations/__init__.py
  backend/apps/owasp/api/internal/mutations/board_candidate_claim_evidence.py
  backend/apps/owasp/models/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_evidence_test.py
Due: backend

improve tests
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_test.py
Due: backend

Generalize production and staging workflows (#4835)
  .github/actions/install-backend-dependencies/action.yaml
  .github/actions/install-frontend-dependencies/action.yaml
  .github/actions/setup-backend-environment/action.yaml
  .github/pr-labeler.yml
  .github/workflows/ci-cd-production.yaml
  .github/workflows/ci-cd-staging.yaml
  .github/workflows/ci.yaml
  .github/workflows/code-ql.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/label-issues.yaml
  .github/workflows/pr-labeler.yaml
  .github/workflows/run-backend-tests.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-code-tests.yaml
  .github/workflows/run-coverage-upload.yaml
  .github/workflows/run-deploy.yaml
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/run-frontend-tests.yaml
  .github/workflows/run-fuzz-tests.yaml
  .github/workflows/run-image-build.yaml
  .github/workflows/run-image-scan.yaml
  .github/workflows/run-infrastructure-bootstrap.yaml
  .github/workflows/run-infrastructure-tests.yaml
  .github/workflows/run-lighthouse-ci.yaml
  .github/workflows/run-production.yaml
  .github/workflows/run-release-version-resolution.yaml
  .github/workflows/run-staging.yaml
  .github/workflows/run-zap-baseline-scan.yaml
  README.md
  e2e/playwright.config.ts
Due: none

reuse same frozenset
  backend/apps/owasp/api/internal/mutations/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_evidence_test.py
Due: backend

refactor clean method
  backend/apps/owasp/api/internal/mutations/board_candidate_claim_evidence.py
  backend/apps/owasp/models/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_evidence_test.py
Due: backend

Finalize feature/ci-cd-optimization merge
  .github/actions/apply-infrastructure-changes/action.yaml
  .github/actions/install-frontend-dependencies/action.yaml
  .github/workflows/run-backend-tests.yaml
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/run-frontend-tests.yaml
  .github/workflows/run-fuzz-tests.yaml
  .github/workflows/run-image-build.yaml
  .github/workflows/run-infrastructure-tests.yaml
Due: none

Address review comments
  .github/actions/install-backend-dependencies/action.yaml
  .github/actions/run-trivy-scan/action.yaml
  .github/workflows/ci-cd-production.yaml
  .github/workflows/ci-cd-staging.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/run-backend-tests.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-coverage-upload.yaml
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/run-frontend-tests.yaml
  .github/workflows/run-image-build.yaml
  .github/workflows/run-infrastructure-bootstrap.yaml
  .github/workflows/run-infrastructure-tests.yaml
  .github/workflows/run-release-version-resolution.yaml
Due: none

Update secrets handling
  .github/workflows/ci-cd-production.yaml
  .github/workflows/ci-cd-staging.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-deploy.yaml
  .github/workflows/run-image-build.yaml
  .github/workflows/run-image-scan.yaml
  .github/workflows/run-infrastructure-bootstrap.yaml
Due: none

add file cleanup logic
  backend/apps/owasp/models/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_evidence_test.py
Due: backend

fix tests
  backend/apps/owasp/models/board_candidate_claim_evidence.py
Due: backend

Fix coverage uploading, add docker image tag validation
  .github/workflows/run-coverage-upload.yaml
  .github/workflows/run-release-version-resolution.yaml
  cspell/custom-dict.txt
Due: none

delete after save
  backend/apps/owasp/models/board_candidate_claim_evidence.py
Due: backend

extract strings
  backend/apps/owasp/api/internal/mutations/board_candidate_claim_evidence.py
Due: backend

Update .github/workflows/ci-cd-staging.yaml
  .github/workflows/ci-cd-staging.yaml
Due: none

Shard e2e tests
  .github/actions/setup-backend-environment/action.yaml
  .github/workflows/run-e2e-tests.yaml
  e2e/package.json
Due: none

Update e2e/pages/About.spec.ts
  e2e/pages/About.spec.ts
Due: none

Optimize docker images size
  docker/backend/Dockerfile
  docker/frontend/Dockerfile
Due: none

Update e2e tests
  .github/workflows/run-e2e-tests.yaml
  cspell/custom-dict.txt
Due: none

Optimize pre-commit step
  .github/actions/install-poetry/action.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/run-code-checks.yaml
  backend/requirements/build.txt
  backend/requirements/pre-commit.txt
  docker/backend/Dockerfile
  docker/backend/Dockerfile.fuzz-tests
  docker/backend/Dockerfile.local
  docker/backend/Dockerfile.unit-tests
  docker/backend/Dockerfile.video
  docker/docs/Dockerfile.local
Due: backend

Update logic on how to fetch modules for mentors.
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/apps/mentorship/api/internal/queries/module.py
  backend/apps/mentorship/models/module.py
  backend/apps/mentorship/models/program.py
  backend/tests/unit/apps/mentorship/api/internal/mutations/module_mutation_test.py
  backend/tests/unit/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  backend/tests/unit/apps/mentorship/api/internal/queries/api_queries_module_test.py
  backend/tests/unit/apps/mentorship/model/module_test.py
  backend/tests/unit/apps/mentorship/model/program_test.py
  backend/tests/unit/apps/mentorship/utils_test.py
Due: backend

Update pre-commit handling
  .github/workflows/run-code-checks.yaml
  Makefile
Due: none

Update code
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/tests/unit/apps/mentorship/api/internal/mutations/module_mutation_test.py
Due: backend

Adjust e2e test settings
  .github/workflows/run-e2e-tests.yaml
Due: none

Update frontend/pnpm-lock.yaml
  frontend/pnpm-lock.yaml
Due: frontend

Fix SBOM upload
  .github/workflows/run-image-scan.yaml
Due: none

allow draft and approved claims to be reordered
  backend/apps/owasp/api/internal/mutations/board_candidate_claim.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_test.py
Due: backend

Add mentroship modules data sync cron job
  infrastructure/modules/tasks/README.md
  infrastructure/modules/tasks/main.tf
  infrastructure/modules/tasks/tests/tasks.tftest.hcl
  infrastructure/modules/tasks/variables.tf
Due: none

Fixed coderabbit review
  backend/apps/owasp/admin/contribution_score.py
  backend/apps/owasp/management/commands/owasp_recognition_recalculate_scores.py
  backend/apps/owasp/score_calculator.py
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
