Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: migrate frontend pnpm to v11 (#4785)
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-code-ql.yaml
  cspell/custom-dict.txt
  cspell/package.json
  cspell/pnpm-workspace.yaml
  docker/cspell/Dockerfile
  docker/e2e/Dockerfile
  docker/frontend/Dockerfile
  docker/frontend/Dockerfile.a11y-tests
  docker/frontend/Dockerfile.local
  docker/frontend/Dockerfile.unit-tests
  e2e/package.json
  e2e/pnpm-workspace.yaml
  frontend/.pnpmrc
  frontend/package.json
  frontend/pnpm-workspace.yaml
Due: frontend

Update dependencies
  e2e/package.json
  e2e/pnpm-lock.yaml
  e2e/pnpm-workspace.yaml
Due: none

chore(about): replace Ansible with Terraform in technologies section
  e2e/pages/About.spec.ts
  frontend/__tests__/a11y/pages/About.a11y.test.tsx
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/public/images/icons/ansible.svg
  frontend/public/images/icons/terraform.svg
  frontend/src/utils/aboutData.ts
Due: frontend

improve claim status transition assertions
  backend/apps/owasp/models/board_candidate_claim.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_test.py
Due: backend

fix non-draft claim field edits in clean()
  backend/apps/owasp/models/board_candidate_claim.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_test.py
Due: backend

Address review
  backend/apps/owasp/admin/__init__.py
  backend/apps/owasp/admin/certificate.py
  backend/apps/owasp/admin/contribution_score.py
  backend/apps/owasp/admin/leaderboard_snapshot.py
  backend/apps/owasp/admin/scoring_weight.py
  backend/apps/owasp/migrations/0073_scoringweight_certificate_contributionscore_and_more.py
  backend/apps/owasp/models/__init__.py
  backend/apps/owasp/models/certificate.py
  backend/apps/owasp/models/contribution_score.py
  backend/apps/owasp/models/leaderboard_snapshot.py
  backend/apps/owasp/models/recognition_enums.py
  backend/apps/owasp/models/scoring_weight.py
  backend/apps/recognition/__init__.py
  backend/apps/recognition/admin/__init__.py
  backend/apps/recognition/apps.py
  backend/apps/recognition/migrations/0001_initial.py
  backend/apps/recognition/migrations/__init__.py
  backend/apps/recognition/models/__init__.py
  backend/settings/base.py
  docker-compose/local/compose.yaml
Due: backend

Fix e2e and fuzz errors
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/run-fuzz-tests.yaml
Due: none

fixed review
  backend/apps/owasp/migrations/0073_scoringweight_certificate_contributionscore_and_more.py
  backend/apps/owasp/models/leaderboard_snapshot.py
Due: backend

Pin dependencies, add audit step
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-dependency-review.yaml
  .github/workflows/run-fuzz-tests.yaml
  Makefile
  backend/Makefile
  backend/poetry.lock
  backend/pyproject.toml
  cspell/Makefile
  cspell/package.json
  cspell/pnpm-lock.yaml
  cspell/pnpm-workspace.yaml
  docs/Makefile
  e2e/Makefile
  e2e/package.json
  e2e/pnpm-lock.yaml
  e2e/pnpm-workspace.yaml
  frontend/Makefile
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: backend, frontend

chore(about): replace Ansible with Terraform in technologies section (#4800)
  e2e/pages/About.spec.ts
  frontend/__tests__/a11y/pages/About.a11y.test.tsx
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/public/images/icons/ansible.svg
  frontend/public/images/icons/terraform.svg
  frontend/src/utils/aboutData.ts
Due: frontend

Address review comments
  backend/Makefile
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
Due: backend

Update code
  .github/workflows/run-ci-cd.yaml
  backend/requirements.build.txt
Due: backend

Pin dependencies, add audit step (#4802)
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-dependency-review.yaml
  .github/workflows/run-fuzz-tests.yaml
  Makefile
  backend/Makefile
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
  backend/requirements.build.txt
  cspell/Makefile
  cspell/package.json
  cspell/pnpm-lock.yaml
  cspell/pnpm-workspace.yaml
  docs/Makefile
  e2e/Makefile
  e2e/package.json
  e2e/pnpm-lock.yaml
  e2e/pnpm-workspace.yaml
  frontend/Makefile
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: backend, frontend

Update code
  backend/apps/core/utils/index.py
  backend/tests/unit/apps/core/utils/match_test.py
Due: backend

Update code
  backend/apps/core/utils/index.py
Due: backend

Update code
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
Due: frontend

feat(projects): add health indicators to project cards (#4678)
  backend/apps/core/utils/index.py
  backend/apps/owasp/index/registry/project.py
  backend/apps/owasp/models/mixins/project.py
  backend/tests/unit/apps/core/utils/match_test.py
  frontend/src/app/projects/page.tsx
  frontend/src/types/project.ts
  frontend/src/utils/data.ts
Due: backend, frontend

fix: improve mobile responsiveness on issues page (#4712)
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
Due: frontend

test(alb): add deletion protection test coverage (#4796)
  infrastructure/modules/alb/tests/alb.tftest.hcl
Due: none

Improve header accessibility and styling
  frontend/__tests__/a11y/components/Header.a11y.test.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/Header.tsx
Due: frontend

fix(ui): improve navbar theme handling
  frontend/src/components/Header.tsx
Due: frontend

bot suggestions from another PR
  backend/apps/common/middlewares/block_null_characters.py
  backend/apps/owasp/admin/board_candidate_claim_evidence.py
  backend/apps/owasp/models/board_candidate_claim.py
  backend/tests/unit/apps/common/middlewares/block_null_characters_test.py
Due: backend

Apply cubic suggestion
  .github/workflows/scan-images.yaml
Due: none

Update code
  .github/workflows/run-ci-cd.yaml
Due: none

Refactor trivy
  .github/actions/run-trivy-scan/action.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-code-quality-checks.yaml
  .github/workflows/scan-images.yaml
Due: none

Update code
  .github/workflows/run-ci-cd.yaml
  .github/workflows/scan-images.yaml
Due: none

Update code
  .github/actions/run-trivy-scan/action.yaml
Due: none

Refactor terraform bootstraping
  .github/actions/bootstrap-terraform/action.yaml
  .github/workflows/bootstrap-infrastructure.yaml
  .github/workflows/run-ci-cd.yaml
Due: none

Update code
  .github/actions/bootstrap-terraform/action.yaml
Due: none

Extract run-lighthouse-ci into a separate reusable workflow
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-lighthouse-ci.yaml
Due: none

Update .github/workflows/run-lighthouse-ci.yaml
  .github/workflows/run-lighthouse-ci.yaml
Due: none

Extract run-zap-baseline-scan into a reusable workflow
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-zap-baseline-scan.yaml
Due: none

Added level based tier
  backend/apps/owasp/migrations/0073_scoringweight_certificate_contributionscore_and_more.py
  backend/apps/owasp/models/contribution_score.py
  backend/apps/owasp/models/recognition_enums.py
Due: backend

Extract run-lighthouse-ci into a separate reusable workflow (#4807)
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-lighthouse-ci.yaml
Due: none

ci: disable credential persistence in run-ci-cd.yaml
  .github/workflows/run-ci-cd.yaml
Due: none

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
