Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 80%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

Revert accidental file push
  backend/apps/github/api/internal/utils.py
Due: backend

fixed code rabbit review
  backend/apps/mentorship/api/internal/mutations/module.py
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
Due: backend, frontend

fixed check
  backend/apps/mentorship/api/internal/mutations/module.py
Due: backend

docs: add security scanning guides and Makefile targets
  Makefile
Due: none

fixed coderabbit review
  backend/apps/mentorship/api/internal/mutations/module.py
Due: backend

Update Semgrep warnings
  .github/workflows/check-pr-issue.yaml
  Makefile
  backend/apps/api/decorators/cache.py
  backend/apps/api/internal/mutations/api_key.py
  backend/apps/common/management/commands/purge_data.py
  backend/apps/common/template_loader.py
  backend/tests/apps/common/management/commands/purge_data_test.py
  cspell/Dockerfile
  cspell/custom-dict.txt
  docker/cspell/Dockerfile
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
  frontend/src/components/LogoCarousel.tsx
Due: backend, frontend

Update docker-compose/local/compose.yaml
  docker-compose/local/compose.yaml
Due: none

Update Semgrep warnings for Nginx
  frontend/nginx.conf
  proxy/production.conf
  proxy/staging.conf
Due: frontend

Update .github/workflows/run-ci-cd.yaml
  .github/workflows/run-ci-cd.yaml
Due: none

Refine ci/cd sequence
  .github/workflows/run-ci-cd.yaml
Due: none

fix: ensure deterministic sorting for program admins
  backend/apps/mentorship/api/internal/nodes/program.py
  backend/tests/apps/mentorship/api/internal/nodes/program_test.py
Due: backend

fix: add missing __init__.py files
  backend/tests/apps/mentorship/__init__.py
  backend/tests/apps/mentorship/api/__init__.py
  backend/tests/apps/mentorship/api/internal/__init__.py
  backend/tests/apps/mentorship/api/internal/nodes/__init__.py
  backend/tests/apps/mentorship/api/internal/nodes/program_test.py
Due: backend

Add CI/CD for staging deployment (#3466)
  .github/ansible/inventory.yaml
  .github/ansible/staging/nest.yaml
  .github/ansible/staging/proxy.yaml
  .github/workflows/run-ci-cd.yaml
  backend/Makefile
  backend/zappa_callback.py
  backend/zappa_settings.template.json
  cron/staging
  cspell/custom-dict.txt
  docker-compose/staging/compose.yaml
  infrastructure/README.md
  infrastructure/backend/variables.tf
  infrastructure/modules/ecs/outputs.tf
  infrastructure/modules/parameters/main.tf
  infrastructure/modules/parameters/variables.tf
  infrastructure/modules/storage/outputs.tf
  infrastructure/staging/main.tf
  infrastructure/staging/outputs.tf
  infrastructure/staging/terraform.tfbackend.example
  infrastructure/staging/terraform.tfvars.example
  infrastructure/staging/variables.tf
Due: backend

Fix milestones block padding
  frontend/src/components/CardDetailsPage.tsx
Due: frontend

refactor: replace deprecated matchMedia listeners with addEventListener
  frontend/src/hooks/useIsMobile.ts
Due: frontend

Update Metrics card styling
  frontend/src/components/MetricsCard.tsx
Due: frontend

Update toLocaleString locale setting
  frontend/src/components/MetricsCard.tsx
Due: frontend

Fix docstring formatting per ruff checks
  backend/apps/github/models/mixins/repository.py
  backend/apps/github/models/mixins/user.py
  backend/apps/owasp/models/project.py
Due: backend

Fix Project Metrics dashboard responsiveness on small screens (#3412)
  frontend/__tests__/e2e/pages/ProjectsHealthDashboardMetrics.spec.ts
  frontend/__tests__/unit/components/MetricsCard.test.tsx
  frontend/__tests__/unit/pages/ProjectsHealthDashboardMetrics.test.tsx
  frontend/src/app/projects/dashboard/metrics/page.tsx
  frontend/src/components/MetricsCard.tsx
  frontend/src/components/ProjectsDashboardDropDown.tsx
Due: frontend

Fix ObjectDoesNotExist using invalid keyword argument
  backend/apps/mentorship/api/internal/mutations/module.py
Due: backend

feat: integrate PostHog
  backend/.env.example
  backend/poetry.lock
  backend/pyproject.toml
  backend/settings/base.py
  backend/settings/production.py
  backend/settings/staging.py
Due: backend

feat/add-posthog-integration
  frontend/.env.example
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/instrumentation-client.ts
  frontend/src/utils/env.client.ts
Due: frontend

Fix ObjectDoesNotExist using invalid keyword argument (#3534)
  backend/apps/mentorship/api/internal/mutations/module.py
Due: backend

run make check-test
  backend/settings/base.py
  frontend/src/instrumentation-client.ts
Due: backend, frontend

refactor: module pr view
  backend/apps/mentorship/api/internal/nodes/module.py
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/MentorshipPullRequest.tsx
  frontend/src/components/PullRequestList.tsx
Due: backend, frontend

compose: fix Redis password env var reference in backend service
  docker-compose/local/compose.yaml
Due: none

refactor: modernize useIsMobile hook and fix styling
  frontend/src/hooks/useIsMobile.ts
Due: frontend

docs: add detailed docstrings to model mixin properties
  backend/apps/github/models/mixins/repository.py
  backend/apps/github/models/mixins/user.py
  backend/apps/owasp/models/mixins/project.py
Due: backend

update:model
  backend/apps/github/models/__init__.py
Due: backend

update:model,management
  backend/tests/apps/mentorship/management/commands/test_mentorship_sync_issue_levels.py
  backend/tests/apps/mentorship/management/commands/test_mentorship_sync_module_issues.py
  backend/tests/apps/mentorship/management/commands/test_mentorship_update_comments.py
  backend/tests/apps/mentorship/model/test_experience_level.py
  backend/tests/apps/mentorship/model/test_issue_user_interest.py
  backend/tests/apps/mentorship/model/test_mentee.py
  backend/tests/apps/mentorship/model/test_mentee_module.py
  backend/tests/apps/mentorship/model/test_mentee_program.py
  backend/tests/apps/mentorship/model/test_mentor.py
  backend/tests/apps/mentorship/model/test_mentor_module.py
  backend/tests/apps/mentorship/model/test_module.py
  backend/tests/apps/mentorship/model/test_program.py
  backend/tests/apps/mentorship/model/test_start_end_range.py
  backend/tests/apps/mentorship/model/test_task.py
  backend/tests/apps/mentorship/model/test_task_level.py
Due: backend

update:cleaned
  backend/tests/apps/mentorship/management/commands/test_mentorship_sync_module_issues.py
Due: backend

initial test added needed corrections
  backend/tests/apps/mentorship/api/internal/mutations/test_module_mutations.py
  backend/tests/apps/mentorship/api/internal/mutations/test_program_mutations.py
  backend/tests/apps/mentorship/api/internal/nodes/test_enum.py
  backend/tests/apps/mentorship/api/internal/nodes/test_mentee.py
  backend/tests/apps/mentorship/api/internal/nodes/test_mentor.py
  backend/tests/apps/mentorship/api/internal/nodes/test_module.py
  backend/tests/apps/mentorship/api/internal/nodes/test_program.py
  backend/tests/apps/mentorship/api/internal/queries/__init__.py
  backend/tests/apps/mentorship/api/internal/queries/test_mentorship.py
  backend/tests/apps/mentorship/api/internal/queries/test_module.py
  backend/tests/apps/mentorship/api/internal/queries/test_program.py
Due: backend

update:cleaned
  backend/tests/apps/mentorship/management/commands/test_mentorship_update_comments.py
Due: backend

test added :
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_enum.py
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_module.py
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_program.py
Due: backend

some more test
  backend/tests/apps/mentorship/api/internal/mutations/test_module_mutations.py
  backend/tests/apps/mentorship/api/internal/mutations/test_program_mutations.py
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_enum.py
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_mentee.py
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_mentor.py
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_module.py
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_program.py
  backend/tests/apps/mentorship/api/internal/queries/__init__.py
  backend/tests/apps/mentorship/api/internal/queries/test_api_queries_mentorship.py
  backend/tests/apps/mentorship/api/internal/queries/test_api_queries_module.py
  backend/tests/apps/mentorship/api/internal/queries/test_api_queries_program.py
  backend/tests/apps/mentorship/api/internal/queries/test_mentorship.py
  backend/tests/apps/mentorship/api/internal/queries/test_module.py
  backend/tests/apps/mentorship/api/internal/queries/test_program.py
Due: backend

code rabbit
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_mentee.py
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_mentor.py
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_program.py
  backend/tests/apps/mentorship/management/commands/test_mentorship_sync_module_issues.py
  backend/tests/apps/mentorship/model/test_issue_user_interest.py
  backend/tests/apps/mentorship/model/test_mentee_module.py
  backend/tests/apps/mentorship/model/test_mentee_program.py
  backend/tests/apps/mentorship/model/test_module.py
  backend/tests/apps/mentorship/model/test_program.py
Due: backend

code rabbit
  backend/apps/mentorship/api/internal/nodes/mentee.py
  backend/tests/apps/mentorship/api/internal/nodes/test_api_internal_program.py
  backend/tests/apps/mentorship/model/test_module.py
  backend/tests/apps/mentorship/model/test_program.py
  backend/tests/apps/mentorship/model/test_start_end_range.py
Due: backend

correction
  backend/apps/mentorship/api/internal/nodes/mentee.py
Due: backend

code-rabbit
  backend/tests/apps/mentorship/api/internal/queries/test_api_queries_mentorship.py
  backend/tests/apps/mentorship/model/test_module.py
Due: backend

code-rabbit
  backend/tests/apps/mentorship/management/__init__.py
  backend/tests/apps/mentorship/management/commands/__init__.py
  backend/tests/apps/mentorship/model/__init__.py
Due: backend
