Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Update code
  .github/workflows/run-ci-cd.yaml
  frontend/playwright.config.ts
Due: frontend

feat:enhance notification worker reliability and DLQ logic
  backend/apps/owasp/admin/notification.py
  backend/apps/owasp/apps.py
  backend/apps/owasp/management/commands/owasp_run_notification_worker.py
  backend/apps/owasp/migrations/0073_notification_subscription.py
  backend/apps/owasp/models/__init__.py
  backend/apps/owasp/models/notification.py
  backend/apps/owasp/signals/snapshot.py
  backend/apps/owasp/utils/notifications.py
  cspell/custom-dict.txt
Due: backend

fix: address CodeRabbit review comments
  backend/apps/slack/commands/ai.py
  backend/apps/slack/common/handlers/ai.py
  backend/apps/slack/events/message_posted.py
Due: backend

Fix N+1 query issue in releases field
  backend/apps/github/api/internal/nodes/repository.py
  backend/tests/apps/github/api/internal/nodes/repository_test.py
Due: backend

adress coderabbit and cubic
  backend/apps/owasp/management/commands/owasp_run_notification_worker.py
  backend/apps/owasp/migrations/0074_remove_subscription_owasp_subsc_user_id_33ae6d_idx_and_more.py
  backend/apps/owasp/models/notification.py
Due: backend

fix: remove redundant link formatting to address CodeRabbit comment
  backend/apps/slack/utils.py
Due: backend

fix: use precise regex matching for YES/NO detection to avoid false positives
  backend/apps/slack/common/question_detector.py
Due: backend

fix: use SecretValue for GOOGLE_API_KEY for consistent secret handling
  backend/settings/base.py
Due: backend

fix: revert GOOGLE_API_KEY to Value() for optional secret handling
  backend/settings/base.py
Due: backend

Fix cubic-dev-ai comment
  backend/apps/github/api/internal/nodes/repository.py
Due: backend

fix: explicitly set environ_name for GOOGLE_API_KEY to make it optional
  backend/settings/base.py
Due: backend

fix: use lazy imports to prevent AppRegistryNotReady error
  backend/apps/slack/commands/ai.py
  backend/apps/slack/events/message_posted.py
  backend/settings/base.py
Due: backend

fix: avoid logging full blocks payload to prevent PII exposure
  backend/apps/slack/services/message_auto_reply.py
Due: backend

fix: address CodeRabbit security and multi-workspace issues
  backend/apps/ai/common/llm_config.py
  backend/apps/ai/models/chunk.py
  backend/apps/slack/commands/ai.py
  backend/apps/slack/events/message_posted.py
  backend/settings/base.py
Due: backend

fix: cache bot_user_id under both keys when team_id mismatch occurs
  backend/apps/slack/events/message_posted.py
Due: backend

used Exists and OuterRef instead of Prefetch
  backend/apps/github/api/internal/nodes/issue.py
  backend/apps/github/api/internal/queries/issue.py
Due: backend

fallback orm when annotation is missing
  backend/apps/github/api/internal/nodes/issue.py
Due: backend

fix: make chunk dimension validation lenient for tests and message_ts optional
  backend/apps/ai/models/chunk.py
  backend/apps/slack/services/message_auto_reply.py
  cspell/custom-dict.txt
Due: backend

fix: optimize_issues_field
  backend/apps/github/api/internal/nodes/repository.py
  backend/apps/github/api/internal/queries/repository.py
  backend/tests/apps/github/api/internal/nodes/repository_test.py
  backend/tests/apps/github/api/internal/queries/repository_test.py
Due: backend

fix: address CodeRabbit comments in message_auto_reply.py
  backend/apps/slack/services/message_auto_reply.py
Due: backend

fix: narrow exception handling in message_posted.py and fix syntax error
  backend/apps/slack/events/message_posted.py
  backend/apps/slack/services/message_auto_reply.py
Due: backend

refactor: remove redundant duplicate validation pass in format_blocks
  backend/apps/slack/common/handlers/ai.py
Due: backend

fix: continue processing on parse failure instead of dropping messages
  backend/apps/slack/events/message_posted.py
Due: backend

Fix project level filter
  frontend/src/app/projects/dashboard/metrics/page.tsx
Due: frontend

lint-fix acc to coderabbit
  backend/docs/Badges.md
Due: backend

added annotation in decorator
  backend/apps/github/api/internal/nodes/issue.py
  backend/apps/github/api/internal/queries/issue.py
Due: backend

fix: use filter() inplace of get() to remove redundant prefetch
  backend/apps/github/api/internal/queries/repository.py
  backend/tests/apps/github/api/internal/queries/repository_test.py
Due: backend

Apply suggestions and fix dockerignore
  backend/.dockerignore
  docker-compose/e2e/compose.yaml
  docker/frontend/Dockerfile.e2e.test
  frontend/.dockerignore
  frontend/.env.e2e.example
  frontend/Makefile
  frontend/__tests__/e2e/package.json
  frontend/__tests__/e2e/pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

fix: lock user to remove possible data race chances when creating api key
  backend/apps/api/models/api_key.py
Due: backend

Run make update
  backend/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Update backend/pyproject.toml: remove dev dependency group
  backend/poetry.lock
  backend/pyproject.toml
  docker/backend/Dockerfile
  docker/backend/Dockerfile.local
  docker/backend/Dockerfile.video
Due: backend

fix(ci): optimize trivy scans and resolve build vulnerabilities
  .github/workflows/run-ci-cd.yaml
  Makefile
  backend/Makefile
  docker/frontend/Dockerfile
  frontend/Makefile
  frontend/next.config.ts
  trivy.yaml
  trivyignore.yaml
Due: backend, frontend

fixed ai review
  frontend/__tests__/unit/components/ItemCardList.test.tsx
  frontend/__tests__/unit/components/SortBy.test.tsx
  frontend/__tests__/unit/components/ToggleableList.test.tsx
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/committees/page.tsx
  frontend/src/app/community/snapshots/[id]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/page.tsx
  frontend/src/app/organizations/[organizationKey]/page.tsx
  frontend/src/app/projects/page.tsx
  frontend/src/components/InfoBlock.tsx
  frontend/src/components/ItemCardList.tsx
  frontend/src/components/Release.tsx
  frontend/src/types/committee.ts
  frontend/src/utils/structuredData.ts
  frontend/src/wrappers/provider.tsx
Due: frontend

Update trivy.yaml to not use depracted syntax
  .github/workflows/run-ci-cd.yaml
  trivy.yaml
  trivyignore.yaml
Due: none

fix
  frontend/__tests__/mockData/mockCommitteeDetailsData.ts
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/src/app/organizations/[organizationKey]/page.tsx
  frontend/src/components/Release.tsx
Due: frontend

Fix project level filter (#3771)
  frontend/src/app/projects/dashboard/metrics/page.tsx
Due: frontend

Fix incorrect compliance update count after bulk save
  backend/apps/owasp/management/commands/owasp_update_project_level_compliance.py
Due: backend

Fix NaN issue
  backend/apps/owasp/utils/project_level.py
Due: backend

Mitigate CVE-2026-25547
  docker/frontend/Dockerfile
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
