Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: align labels prop type with runtime behavior
  frontend/src/components/LabelList.tsx
Due: frontend

Revert "chore(deps): bump posthog-js from 1.355.0 to 1.356.0 in /frontend (#4…"
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

refactor: use match statement and improve normalization
  backend/apps/ai/embeddings/factory.py
  backend/apps/ai/embeddings/google.py
Due: backend

Revert "chore(deps): bump posthog-js from 1.355.0 to 1.356.0 in /frontend (#4…" (#4113)
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

fix(infra): set ALB response security headers for ZAP scan
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/tests/alb.tftest.hcl
Due: none

fix(frontend): add security headers for ZAP baseline scan
  frontend/next.config.ts
Due: frontend

fix: remove dead tailwind class and clean Footer component
  frontend/src/components/Footer.tsx
Due: frontend

update S3 bucket versioning in Terraform
  frontend/next.config.ts
  infrastructure/state/main.tf
Due: frontend

fix comment
  frontend/src/app/my/mentorship/programs/[programKey]/page.tsx
Due: frontend

apply cubic suggestions
  frontend/next.config.ts
Due: frontend

Create Windows Contributor Setup Guide
  docs/windows-setup.md
Due: none

Simplify contributing guidelines for Windows users
  docs/contributing.md
Due: none

Add Windows Setup section to navigation
  mkdocs.yaml
Due: none

Add Windows contributor setup instructions
  CONTRIBUTING.md
Due: none

Improve Windows setup guide and fix .env path
  docs/contributing.md
Due: none

Fix header formatting in windows-setup.md
  docs/windows-setup.md
Due: none

fix: resolve footer layout break between 647px and 764px
  frontend/src/components/Footer.tsx
Due: frontend

supress semgrep findings
  backend/apps/ai/common/decorators.py
  backend/apps/ai/router.py
  backend/apps/ai/template_loader.py
Due: backend

Simplify troubleshooting steps in Windows setup
  docs/windows-setup.md
Due: none

Fix formatting in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update Windows setup instructions for WSL
  docs/windows-setup.md
Due: none

feat: Algolia config error handling
  backend/apps/core/api/internal/algolia.py
  backend/tests/apps/core/api/internal/algolia_test.py
  frontend/src/app/chapters/page.tsx
  frontend/src/app/page.tsx
  frontend/src/server/fetchAlgoliaData.ts
Due: backend, frontend

fix: remove redundant tooltip and show placeholder for empty labels
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
Due: frontend

add: recommendations
  backend/tests/apps/core/api/internal/algolia_test.py
  frontend/src/server/fetchAlgoliaData.ts
Due: backend, frontend

fix: disable search auto-focus on mobile/touch devices
  frontend/__tests__/unit/components/Search.test.tsx
  frontend/src/components/MultiSearch.tsx
  frontend/src/components/Search.tsx
  frontend/src/hooks/useShouldAutoFocusSearch.ts
Due: frontend

fix/autofocus-can-be-skipped-and-test-issue
  frontend/__tests__/unit/components/Search.test.tsx
  frontend/src/components/MultiSearch.tsx
Due: frontend

fix/guard-clearButton-before-clicking
  frontend/__tests__/unit/components/Search.test.tsx
Due: frontend

fix/sonarQube’s-unnecessary-assertion
  frontend/__tests__/unit/components/Search.test.tsx
Due: frontend

Fix Algolia configuration to safely use environment variables
  backend/settings/base.py
Due: backend

Add name and login ordering support to list_members endpoint
  backend/apps/api/rest/v0/member.py
  backend/tests/apps/api/rest/v0/member_test.py
Due: backend

fix(#4041): Include today's events in upcoming_events() query
  backend/apps/owasp/models/event.py
Due: backend

feat: Enable local API settings for test environments, add `User` model indexes for name, and improve member list ordering test coverage.
  backend/apps/api/rest/v0/__init__.py
  backend/apps/github/models/user.py
  backend/tests/apps/api/rest/v0/member_test.py
Due: backend

feat: Add ascending and descending indexes for the User model's name and login fields.
  backend/apps/github/migrations/0044_user_github_user_name_asc_user_github_user_name_desc.py
  backend/apps/github/migrations/0045_user_github_user_login_asc_and_more.py
  backend/apps/github/models/user.py
Due: backend

chore(migrations): squash User model index migrations into 0044_user_indexes
  backend/apps/github/migrations/0044_user_indexes.py
  backend/apps/github/migrations/0045_user_github_user_login_asc_and_more.py
Due: backend

chore(github): remove redundant login indexes and fix migration 0044
  backend/apps/github/migrations/0044_user_indexes.py
  backend/apps/github/models/user.py
Due: backend

fix(frontend): remove dead graphQLError prop and unreachable toast effect
  frontend/src/app/HomePageClient.tsx
  frontend/src/app/page.tsx
Due: frontend

change dateformaatter to accpet strings and backend to send strings
  frontend/__tests__/unit/utils/dateFormatter.test.ts
  frontend/src/utils/dateFormatter.ts
Due: frontend

Mitigate GHSA-5c6j-r48x-rmvq
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

haandle dateformatter and graphql codegen
  frontend/src/types/__generated__/boardQueries.generated.ts
  frontend/src/types/__generated__/chapterQueries.generated.ts
  frontend/src/types/__generated__/committeeQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/homeQueries.generated.ts
  frontend/src/types/__generated__/projectQueries.generated.ts
  frontend/src/types/__generated__/snapshotQueries.generated.ts
  frontend/src/types/__generated__/userQueries.generated.ts
  frontend/src/types/calendar.ts
  frontend/src/types/card.ts
  frontend/src/types/chapter.ts
  frontend/src/types/committee.ts
  frontend/src/types/event.ts
  frontend/src/types/issue.ts
  frontend/src/types/mentorship.ts
  frontend/src/types/milestone.ts
  frontend/src/types/project.ts
  frontend/src/types/pullRequest.ts
  frontend/src/types/release.ts
  frontend/src/types/snapshot.ts
  frontend/src/types/user.ts
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
