Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix mentee deadline tests and add deadline management coverage
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
Due: frontend

Add mentee view coverage tests for MyMentorship, IssuesPage and ModuleDetailsPage
  frontend/__tests__/unit/pages/IssuesPage.test.tsx
  frontend/__tests__/unit/pages/ModuleDetailsPage.test.tsx
  frontend/__tests__/unit/pages/MyMentorship.test.tsx
Due: frontend

Add mentee view coverage tests for MyMentorship, IssuesPage and ModuleDetailsPage
  frontend/__tests__/unit/pages/ModuleDetailsPage.test.tsx
Due: frontend

fix conflict after backend restructure
  backend/src/apps/observability/__init__.py
  backend/src/apps/observability/apps.py
  backend/src/apps/observability/otel.py
Due: backend

Add coverage tests for Community, Chapters and About pages
  frontend/__tests__/unit/pages/Community.test.tsx
Due: frontend

update code
  backend/apps/owasp/admin/snapshot_subscription.py
  backend/apps/owasp/migrations/0075_snapshotsubscription.py
  backend/apps/owasp/models/snapshot_subscription.py
  backend/tests/unit/apps/owasp/admin/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/models/snapshot_subscription_test.py
Due: backend

Refactor
  backend/apps/github/api/internal/dataloaders/issue.py
  backend/apps/github/api/internal/dataloaders/milestone.py
  backend/apps/github/api/internal/dataloaders/release.py
  backend/apps/github/api/internal/nodes/repository.py
  backend/apps/owasp/api/internal/dataloaders/project.py
Due: backend

Update tests
  backend/tests/unit/apps/github/api/internal/dataloaders/issue_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/milestone_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/release_test.py
  backend/tests/unit/apps/github/api/internal/nodes/repository_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/__init__.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/project_test.py
Due: backend

Update .github/workflows/run-coverage-upload.yaml
  .github/workflows/run-coverage-upload.yaml
Due: none

isolate o11y with its own vloume
  Makefile
Due: none

Update .github/workflows/run-coverage-upload.yaml (#5088)
  .github/workflows/run-coverage-upload.yaml
Due: none

Debounce search input and cancel in-flight requests
  frontend/__tests__/unit/pages/Contribute.test.tsx
  frontend/src/components/Search.tsx
  frontend/src/hooks/useSearchPage.ts
  frontend/src/server/fetchAlgoliaData.ts
  frontend/src/utils/constants.ts
Due: frontend

test: add mentee deadline management tests for issue details page
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
  frontend/__tests__/unit/pages/ProgramDetailsMentorship.test.tsx
Due: frontend

test: add PR pagination and mentee issue status badge coverage tests
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
Due: frontend

test: fix eslint errors in PR pagination coverage tests
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
Due: frontend

test: add closed issue deadline branch coverage for mentee view
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
Due: frontend

test: add mentee date input onChange branch coverage
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
Due: frontend

test: add GlobalSearch branch coverage for keyboard nav and org suggestions
  frontend/__tests__/unit/components/GlobalSearch.test.tsx
Due: frontend

update test
  backend/tests/unit/apps/owasp/models/snapshot_subscription_test.py
Due: backend

fix: address bot review comments - admin deadline permission, mentee access signal, test assertions
  backend/src/apps/mentorship/api/internal/mutations/module.py
  backend/src/apps/mentorship/api/internal/nodes/module.py
  backend/tests/unit/apps/mentorship/api/internal/mutations/module_mutation_test.py
  backend/tests/unit/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  backend/tests/unit/apps/mentorship/api/internal/queries/api_queries_program_test.py
  frontend/src/app/my/mentorship/page.tsx
Due: backend, frontend

fix: fix coverage threshold and test regressions from bot review fixes
  frontend/__tests__/unit/pages/MyMentorship.test.tsx
Due: frontend

fix: mirror mentor deadline semantics for mentee - UTC end-of-day and date bounds
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
Due: frontend

fix: add missing has_admin mock to backend deadline mutation tests
  backend/tests/unit/apps/mentorship/api/internal/mutations/module_mutation_test.py
Due: backend

fix: correct backend deadline mutation test mocks and assertions
  backend/tests/unit/apps/mentorship/api/internal/mutations/module_mutation_test.py
Due: backend

fix: remove unavailable startedAt/endedAt fields from mentee date input
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
Due: frontend

test: add github_user enrollment fallback test for my_mentee_programs
  backend/tests/unit/apps/mentorship/api/internal/queries/api_queries_program_test.py
Due: backend

fix: apply deadline filter to mentee issues branch
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
Due: frontend

fix: add labels to GET_MODULE_BY_ID query and mentee Tags component
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/server/queries/moduleQueries.ts
Due: frontend

fix: refetch mentee query on deadline save, add labels to mentee module view, apply deadline filter to mentee issues
  frontend/src/hooks/useIssueMutations.ts
Due: frontend

fix: revert labels addition pending GraphQL codegen regeneration
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/server/queries/moduleQueries.ts
Due: frontend

fix: differentiate not-enrolled from no-search-results in my_mentee_programs
  backend/src/apps/mentorship/api/internal/queries/program.py
  backend/tests/unit/apps/mentorship/api/internal/queries/api_queries_program_test.py
Due: backend

fix: strengthen mentee issue filter assertion and fix enrollment check
  backend/tests/unit/apps/mentorship/api/internal/nodes/api_internal_module_test.py
Due: backend

fix: remove global isMentor gate from mentee fallback detection
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/page.tsx
Due: frontend

fix: show deadlines in mentee issues table
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
Due: frontend

fix: prevent silent reset of mentees_can_manage_deadlines on omitted update field; show deadline in mentee issues table
  backend/src/apps/mentorship/api/internal/mutations/module.py
  backend/src/apps/mentorship/api/internal/nodes/module.py
Due: backend

fix: remove unused isMentor variable from program and module detail pages
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/page.tsx
Due: frontend

fix: expose mentees_can_manage_deadlines on CreateModuleInput
  backend/src/apps/mentorship/api/internal/mutations/module.py
  backend/src/apps/mentorship/api/internal/nodes/module.py
Due: backend

fix: add null guard for mentee module data in issues page
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
Due: frontend

Fixed file naming
  backend/apps/owasp/management/commands/owasp_crp_recalculate_scores.py
  backend/apps/owasp/management/commands/owasp_crp_recognition_recalculate_scores.py
  backend/apps/owasp/score_calculator.py
Due: backend

Address the review
  backend/apps/owasp/management/commands/owasp_crp_recalculate_scores.py
  backend/apps/owasp/score_calculator.py
  backend/apps/owasp/services/certificate_providers.py
  backend/apps/owasp/services/certificate_service.py
  backend/settings/base.py
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
