Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

feat: add server-side program status transition validation
  backend/src/apps/mentorship/api/internal/mutations/program.py
  backend/tests/unit/apps/mentorship/api/internal/mutations/program_mutation_test.py
Due: backend

Update code
  .github/dependabot.yml
  .github/requirements/scripts.in
  .github/requirements/scripts.txt
  .github/scripts/check-compose-volumes.py
  .github/scripts/docker_compose_check.py
  .github/workflows/ci.yaml
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-code-tests.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  backend/README.md
  backend/make/README.md
  backend/make/maintenance.mk
  docker-compose/README.md
  docker-compose/local/compose.override.yaml
  docker/code-checks/Dockerfile
  docker/tools/Dockerfile.tests
  make/help.mk
  make/maintenance.mk
  make/run.mk
  ruff.toml
  tools/Makefile
  tools/make/test.mk
  tools/requirements/pre-commit.in
  tools/requirements/pre-commit.txt
  tools/requirements/test.in
  tools/requirements/test.txt
  tools/tests/conftest.py
  tools/tests/github/scripts/docker_compose_check_test.py
Due: backend

Update code
  docker/tools/Dockerfile.tests
Due: none

Update code
  .github/scripts/docker_compose_check.py
  docker-compose/README.md
  tools/tests/github/scripts/docker_compose_check_test.py
Due: none

Update code
  .pre-commit-config.yaml
  tools/tests/github/scripts/docker_compose_check_test.py
Due: none

fix: revert db volume name and add compose volume name check (#5295)
  .github/dependabot.yml
  .github/requirements/scripts.in
  .github/requirements/scripts.txt
  .github/scripts/docker_compose_check.py
  .github/workflows/ci.yaml
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-code-tests.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  backend/README.md
  backend/make/README.md
  backend/make/maintenance.mk
  docker-compose/README.md
  docker-compose/local/compose.override.yaml
  docker-compose/local/compose.yaml
  docker/code-checks/Dockerfile
  docker/tools/Dockerfile.tests
  make/help.mk
  make/maintenance.mk
  make/run.mk
  ruff.toml
  tools/Makefile
  tools/make/test.mk
  tools/requirements/pre-commit.in
  tools/requirements/pre-commit.txt
  tools/requirements/test.in
  tools/requirements/test.txt
  tools/tests/conftest.py
  tools/tests/github/scripts/docker_compose_check_test.py
Due: backend

Bump a few vulnerable package versions
  cspell/pnpm-workspace.yaml
  docs/poetry.lock
  docs/poetry.toml
  docs/pyproject.toml
  e2e/pnpm-workspace.yaml
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: frontend

Update code
  pnpm-workspace.yaml
Due: none

Update code
  cspell/package.json
  e2e/package.json
  frontend/package.json
  package.json
  pnpm-workspace.yaml
Due: frontend

Update constants
  backend/src/apps/owasp/api/internal/dataloaders/snapshot.py
  backend/src/apps/owasp/api/internal/nodes/snapshot.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/dataloaders_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/snapshot_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/snapshot_test.py
Due: backend

Update code
  .github/actions/install-frontend-dependencies/action.yaml
  .github/actions/install-tooling-dependencies/action.yaml
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-dependency-checks.yaml
Due: none

Bump a few vulnerable package versions (#5308)
  .github/actions/install-frontend-dependencies/action.yaml
  .github/actions/install-tooling-dependencies/action.yaml
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-dependency-checks.yaml
  cspell/package.json
  cspell/pnpm-workspace.yaml
  docs/poetry.lock
  docs/poetry.toml
  docs/pyproject.toml
  e2e/package.json
  e2e/pnpm-workspace.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: frontend

update code
  backend/apps/owasp/api/internal/nodes/board_of_directors.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_of_directors_test.py
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/create/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
  frontend/src/app/board/[year]/candidates/page.tsx
  frontend/src/app/board/[year]/review/page.tsx
  frontend/src/components/ClaimActions.tsx
  frontend/src/components/EvidenceActions.tsx
  frontend/src/server/queries/claimQueries.ts
  frontend/src/server/queries/reviewQueries.ts
  frontend/src/types/__generated__/claimQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/reviewQueries.generated.ts
Due: backend, frontend

make evidence list consistent with claim list
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
Due: frontend

update code
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/app/board/[year]/review/page.tsx
Due: frontend

apply bot comments
  backend/apps/owasp/api/internal/nodes/board_of_directors.py
  backend/apps/owasp/api/internal/queries/board_candidate_claim.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_of_directors_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_test.py
  e2e/pages/BoardCandidateClaimDetails.spec.ts
  e2e/pages/BoardCandidateClaimEvidenceDetails.spec.ts
  frontend/__tests__/mockData/mockClaimData.ts
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
  frontend/src/app/board/[year]/candidates/page.tsx
  frontend/src/components/ClaimActions.tsx
Due: backend, frontend

apply bot nit pick comments
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
  frontend/src/app/board/[year]/candidates/page.tsx
  frontend/src/app/board/[year]/review/page.tsx
Due: frontend

ignore "evidences" breadcrumb
  frontend/__tests__/unit/hooks/useBreadcrumbs.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/layout.tsx
Due: frontend

improve if condition and add test for candidate field
  backend/apps/owasp/api/internal/queries/board_candidate_claim.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_test.py
Due: backend

Optimize entity_leaders and entity_channels in ChapterNode (#5285)
  backend/src/apps/owasp/api/internal/dataloaders/__init__.py
  backend/src/apps/owasp/api/internal/dataloaders/chapter.py
  backend/src/apps/owasp/api/internal/nodes/chapter.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/chapter_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/chapter_test.py
Due: backend

Update code
  backend/src/apps/github/api/internal/nodes/repository.py
  backend/src/apps/owasp/api/internal/dataloaders/project.py
  backend/tests/unit/apps/github/api/internal/nodes/repository_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/project_test.py
Due: backend

Optimize entity channels and entity leaders in ProjectNode (#5299)
  backend/src/apps/github/api/internal/nodes/repository.py
  backend/src/apps/owasp/api/internal/dataloaders/project.py
  backend/src/apps/owasp/api/internal/nodes/project.py
  backend/tests/unit/apps/github/api/internal/nodes/repository_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/project_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/project_test.py
Due: backend

Clean up entity leaders and entity channels from GenericEntityNode (#5301)
  backend/src/apps/owasp/api/internal/nodes/common.py
  backend/tests/unit/apps/owasp/api/internal/nodes/common_test.py
Due: backend

Run pre-commit
  backend/src/apps/owasp/api/internal/dataloaders/__init__.py
Due: backend

Optimize RepositoryNode top_contributors
  backend/src/apps/common/api/internal/dataloaders/utils.py
  backend/src/apps/github/api/internal/dataloaders/__init__.py
  backend/src/apps/github/api/internal/dataloaders/repository_contributor.py
  backend/src/apps/github/api/internal/nodes/repository.py
Due: backend

Add tests
  backend/tests/unit/apps/common/api/internal/dataloaders/utils_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/repository_contributor_test.py
  backend/tests/unit/apps/github/api/internal/nodes/repository_test.py
Due: backend

Update docs
  backend/src/apps/github/api/internal/dataloaders/repository_contributor.py
Due: backend

Optimize entity leaders and entity channels in CommitteeNode (#5300)
  backend/src/apps/owasp/api/internal/dataloaders/__init__.py
  backend/src/apps/owasp/api/internal/dataloaders/committee.py
  backend/src/apps/owasp/api/internal/nodes/committee.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/committee_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/committee_test.py
Due: backend

fix: add server-side program status transition validation
  backend/src/apps/mentorship/api/internal/mutations/program.py
  backend/tests/unit/apps/mentorship/api/internal/mutations/program_mutation_test.py
Due: backend

Update code
  backend/src/apps/github/api/internal/dataloaders/__init__.py
Due: backend

Optimize top_contributors resolver in RepositoryNode (#5318)
  backend/src/apps/common/api/internal/dataloaders/utils.py
  backend/src/apps/github/api/internal/dataloaders/__init__.py
  backend/src/apps/github/api/internal/dataloaders/repository_contributor.py
  backend/src/apps/github/api/internal/nodes/repository.py
  backend/tests/unit/apps/common/api/internal/dataloaders/utils_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/repository_contributor_test.py
  backend/tests/unit/apps/github/api/internal/nodes/repository_test.py
Due: backend

fix sonar qube issues
  frontend/__tests__/unit/components/EvidenceForm.test.tsx
  frontend/src/app/board/[year]/review/page.tsx
Due: frontend

update code
  frontend/pnpm-lock.yaml
  frontend/src/app/board/[year]/candidates/page.tsx
  frontend/src/app/board/[year]/review/page.tsx
Due: frontend

override graphql version due to mismatches
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

fix type issues
  frontend/src/app/board/[year]/review/page.tsx
Due: frontend

run prettier-fix
  frontend/src/app/board/[year]/review/page.tsx
Due: frontend

added actitivty builder
  backend/src/apps/github/admin/__init__.py
  backend/src/apps/github/common.py
  backend/src/apps/github/migrations/0045_activityevent.py
  backend/src/apps/github/models/__init__.py
  backend/src/apps/github/models/activity_event.py
  backend/src/apps/github/models/enums/__init__.py
  backend/src/apps/github/models/enums/activity_event.py
  backend/src/apps/owasp/admin/__init__.py
  backend/src/apps/owasp/admin/activity_event.py
  backend/src/apps/owasp/migrations/0073_activityevent.py
  backend/src/apps/owasp/models/__init__.py
  backend/src/apps/owasp/models/activity_event.py
  backend/tests/unit/apps/github/common_test.py
Due: backend

fix unit and e2e tests
  e2e/pages/BoardCandidateClaimCreate.spec.ts
  e2e/pages/BoardCandidateClaimEdit.spec.ts
  e2e/pages/BoardCandidateClaimEvidenceEdit.spec.ts
  frontend/__tests__/mockData/mockClaimData.ts
  frontend/__tests__/unit/components/ClaimActions.test.tsx
  frontend/__tests__/unit/components/EvidenceActions.test.tsx
  frontend/__tests__/unit/pages/EditEvidencePage.test.tsx
Due: frontend

add tests
  frontend/__tests__/unit/components/ClaimActions.test.tsx
Due: frontend
