Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

update upload_to directory
  backend/apps/owasp/migrations/0073_boardcandidateclaim_boardcandidateclaimevidence_and_more.py
  backend/apps/owasp/models/board_candidate_claim_evidence.py
Due: backend

feat: pin docker base images by digest
  docker/backend/Dockerfile
  docker/backend/Dockerfile.fuzz
  docker/backend/Dockerfile.local
  docker/backend/Dockerfile.test
  docker/cspell/Dockerfile
  docker/docs/Dockerfile.local
  docker/e2e/Dockerfile
  docker/frontend/Dockerfile
  docker/frontend/Dockerfile.a11y.test
  docker/frontend/Dockerfile.local
  docker/frontend/Dockerfile.unit.test
  docker/semgrep/Dockerfile
  docker/trivy/Dockerfile
  docker/zap/Dockerfile
Due: none

Handle missing Algolia config without blocking startup
  backend/apps/core/apps.py
  backend/package-lock.json
  frontend/package-lock.json
  package-lock.json
Due: backend, frontend

Handle missing Algolia config without blocking startup
  backend/apps/core/apps.py
Due: backend

prevent duplicate crewai workflow execution
  backend/apps/slack/common/handlers/ai.py
  backend/apps/slack/services/message_auto_reply.py
  backend/tests/unit/apps/slack/common/handlers/ai_test.py
  backend/tests/unit/apps/slack/services/message_auto_reply_test.py
Due: backend

Update code
  docker-compose/e2e/compose.yaml
  docker-compose/fuzz/compose.yaml
  docker-compose/local/compose.yaml
Due: none

feat: pin docker base images by digest (#4777)
  docker-compose/e2e/compose.yaml
  docker-compose/fuzz/compose.yaml
  docker-compose/local/compose.yaml
  docker/backend/Dockerfile
  docker/backend/Dockerfile.fuzz
  docker/backend/Dockerfile.local
  docker/backend/Dockerfile.test
  docker/cspell/Dockerfile
  docker/docs/Dockerfile.local
  docker/e2e/Dockerfile
  docker/frontend/Dockerfile
  docker/frontend/Dockerfile.a11y.test
  docker/frontend/Dockerfile.local
  docker/frontend/Dockerfile.unit.test
  docker/semgrep/Dockerfile
  docker/trivy/Dockerfile
  docker/zap/Dockerfile
Due: none

added new volume
  docker-compose/local/compose.yaml
Due: none

feat: revamp member profile page with new layout and components
  frontend/src/app/members/[memberKey]/page.tsx
  frontend/src/components/InfoBlock.tsx
  frontend/src/components/RepositoryCard.tsx
  frontend/src/components/cards/MemberDetailSidebar.tsx
  frontend/src/components/cards/RepositoriesModules.tsx
Due: frontend

feat: migrate pnpm v10 to v11
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

Regenerate FE GraphQL types
  frontend/src/types/__generated__/EntityActions.generated.ts
  frontend/src/types/__generated__/aboutQueries.generated.ts
  frontend/src/types/__generated__/apiKeyQueries.generated.ts
  frontend/src/types/__generated__/authQueries.generated.ts
  frontend/src/types/__generated__/boardQueries.generated.ts
  frontend/src/types/__generated__/chapterQueries.generated.ts
  frontend/src/types/__generated__/committeeQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/homeQueries.generated.ts
  frontend/src/types/__generated__/issueQueries.generated.ts
  frontend/src/types/__generated__/menteeQueries.generated.ts
  frontend/src/types/__generated__/mentorshipQueries.generated.ts
  frontend/src/types/__generated__/moduleMutations.generated.ts
  frontend/src/types/__generated__/moduleQueries.generated.ts
  frontend/src/types/__generated__/organizationQueries.generated.ts
  frontend/src/types/__generated__/programsMutations.generated.ts
  frontend/src/types/__generated__/programsQueries.generated.ts
  frontend/src/types/__generated__/projectQueries.generated.ts
  frontend/src/types/__generated__/projectsHealthDashboardQueries.generated.ts
  frontend/src/types/__generated__/repositoryQueries.generated.ts
  frontend/src/types/__generated__/snapshotQueries.generated.ts
  frontend/src/types/__generated__/userQueries.generated.ts
Due: frontend

update pnpm lock with override values
  frontend/pnpm-lock.yaml
Due: frontend

feat: migrate pnpm -> v11+
  docker/frontend/Dockerfile.a11y.test
  docker/frontend/Dockerfile.local
  docker/frontend/Dockerfile.unit.test
  frontend/.pnpmrc
  frontend/package.json
  frontend/pnpm-workspace.yaml
Due: frontend

Rework .env entries handling
  .github/workflows/run-ci-cd.yaml
  .gitignore
  CONTRIBUTING.md
  backend/.env.e2e.example
  backend/.env.example
  backend/.env.unit
  backend/Makefile
  backend/apps/common/index.py
  backend/apps/core/api/internal/algolia.py
  backend/apps/core/apps.py
  backend/apps/core/models/prompt.py
  backend/apps/slack/apps.py
  backend/settings/e2e.py
  backend/settings/local.py
  backend/settings/test.py
  backend/tests/unit/apps/core/models/prompt_test.py
  docker-compose/local/compose.yaml
  docker/backend/Dockerfile.test
Due: backend

Update docker-compose/local/compose.yaml
  docker-compose/local/compose.yaml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update code
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-fuzz-tests.yaml
  .github/workflows/update-nest-test-images.yaml
  .gitignore
  backend/.env.e2e-tests
  backend/.env.fuzz-tests
  backend/.env.fuzz.example
  backend/.env.unit-tests
  backend/Makefile
  backend/settings/fuzz.py
  docker-compose/e2e/compose.yaml
  docker-compose/fuzz/compose.yaml
  docker/backend/Dockerfile.fuzz-tests
  docker/backend/Dockerfile.unit-tests
  docker/frontend/Dockerfile.a11y-tests
  docker/frontend/Dockerfile.unit-tests
  frontend/.env.e2e
  frontend/Makefile
Due: backend, frontend

Clean up lock files
  frontend/package-lock.json
  package-lock.json
Due: frontend

Rework .env files handling (#4770)
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-fuzz-tests.yaml
  .github/workflows/update-nest-test-images.yaml
  .gitignore
  CONTRIBUTING.md
  backend/.env.e2e-tests
  backend/.env.e2e.example
  backend/.env.example
  backend/.env.fuzz-tests
  backend/.env.fuzz.example
  backend/.env.unit-tests
  backend/Makefile
  backend/apps/common/index.py
  backend/apps/core/models/prompt.py
  backend/apps/slack/apps.py
  backend/package-lock.json
  backend/settings/e2e.py
  backend/settings/fuzz.py
  backend/settings/local.py
  backend/settings/test.py
  backend/tests/unit/apps/core/models/prompt_test.py
  docker-compose/e2e/compose.yaml
  docker-compose/fuzz/compose.yaml
  docker-compose/local/compose.yaml
  docker/backend/Dockerfile.fuzz-tests
  docker/backend/Dockerfile.unit-tests
  docker/frontend/Dockerfile.a11y-tests
  docker/frontend/Dockerfile.unit-tests
  frontend/.env.e2e
  frontend/Makefile
Due: backend, frontend

fix: adjust grid classes in ItemCardList, RecentReleases, and Release components; remove Closed from Milestones
  frontend/src/components/ItemCardList.tsx
  frontend/src/components/Milestones.tsx
  frontend/src/components/RecentReleases.tsx
  frontend/src/components/Release.tsx
Due: frontend

fix: update migration
  docker/frontend/Dockerfile
  docker/frontend/Dockerfile.a11y.test
  docker/frontend/Dockerfile.local
  docker/frontend/Dockerfile.unit.test
  frontend/.pnpmrc
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

update code
  frontend/pnpm-workspace.yaml
Due: frontend

resolve suggested issues
  docker/frontend/Dockerfile.a11y.test
  docker/frontend/Dockerfile.local
  frontend/pnpm-workspace.yaml
Due: frontend

resolve coderabbit issue
  docker/frontend/Dockerfile.local
Due: none

fix envs
  docker/frontend/Dockerfile
  docker/frontend/Dockerfile.a11y.test
  docker/frontend/Dockerfile.local
  docker/frontend/Dockerfile.unit.test
  frontend/.pnpmrc
Due: frontend

chore(deps): migrate react and react-dom to 19.2.6
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/SearchPageLayout.tsx
Due: frontend

test(alb): add deletion protection test coverage
  infrastructure/modules/alb/tests/alb.tftest.hcl
Due: none

minor fixes
  frontend/src/components/ContributionHeatmap.tsx
  frontend/src/components/cards/MemberDetailSidebar.tsx
Due: frontend

update skeleton
  frontend/src/components/skeletons/MemberDetailsPageSkeleton.tsx
Due: frontend

make check-test
  frontend/src/components/InfoBlock.tsx
  frontend/src/components/Milestones.tsx
  frontend/src/components/cards/MemberDetailSidebar.tsx
  frontend/src/components/skeletons/MemberDetailsPageSkeleton.tsx
Due: frontend

fix build and make errors
  frontend/pnpm-workspace.yaml
Due: frontend

fix bot suggestions
  docker/frontend/Dockerfile.a11y-tests
  docker/frontend/Dockerfile.local
  docker/frontend/Dockerfile.unit-tests
  frontend/pnpm-workspace.yaml
Due: frontend

fix bot suggestion
  docker/frontend/Dockerfile.a11y-tests
  docker/frontend/Dockerfile.local
  docker/frontend/Dockerfile.unit-tests
Due: none

chore(deps): migrate react and react-dom to 19.2.6 (#4795)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/SearchPageLayout.tsx
Due: frontend

fix: cover other dockerFiles
  cspell/custom-dict.txt
  docker/cspell/Dockerfile
  docker/e2e/Dockerfile
  docker/frontend/Dockerfile
  docker/frontend/Dockerfile.a11y-tests
  docker/frontend/Dockerfile.local
  docker/frontend/Dockerfile.unit-tests
  frontend/pnpm-workspace.yaml
Due: frontend

chore(deps): migrate pnpm to v11
  cspell/custom-dict.txt
  docker/frontend/Dockerfile
  docker/frontend/Dockerfile.a11y-tests
  docker/frontend/Dockerfile.local
  docker/frontend/Dockerfile.unit-tests
  frontend/.pnpmrc
  frontend/package.json
  frontend/pnpm-workspace.yaml
Due: frontend

Update code
  backend/apps/github/models/user.py
  backend/tests/unit/apps/github/models/user_is_project_leader_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/project_test.py
Due: backend

Update code
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-code-ql.yaml
  cspell/package.json
  cspell/pnpm-workspace.yaml
  docker/cspell/Dockerfile
  docker/e2e/Dockerfile
  docker/frontend/Dockerfile
  docker/frontend/Dockerfile.a11y-tests
  docker/frontend/Dockerfile.local
  docker/frontend/Dockerfile.unit-tests
  e2e/package.json
  e2e/pnpm-workspace.yaml
  frontend/package.json
  frontend/pnpm-workspace.yaml
Due: frontend

Tighten checks for project leaders on creating a Program (#4695)
  backend/apps/github/models/user.py
  backend/apps/mentorship/api/internal/mutations/program.py
  backend/apps/owasp/api/internal/queries/project.py
  backend/tests/unit/apps/github/models/user_is_project_leader_test.py
  backend/tests/unit/apps/mentorship/api/internal/mutations/program_mutation_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/project_test.py
Due: backend
