Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

feat: add OWASP Nest theme support for API Swagger UI (#4244)
  backend/static/css/swagger-custom-ui.css
  backend/static/img/favicon.ico
  backend/static/img/logo.png
  backend/templates/ninja/favicons.html
  backend/templates/ninja/swagger.html
Due: backend

Added access deined for issue page
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  frontend/__tests__/unit/pages/IssuesPage.test.tsx
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
  frontend/src/app/my/mentorship/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
  frontend/src/components/AccessDeniedDisplay.tsx
  frontend/src/types/auth.ts
Due: backend, frontend

fixed review
  frontend/__tests__/unit/pages/IssuesPage.test.tsx
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
Due: frontend

fixed review
  frontend/__tests__/unit/pages/IssuesPage.test.tsx
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
Due: frontend

updated test
  frontend/__tests__/unit/pages/IssuesPage.test.tsx
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
Due: frontend

migrate production
  .github/workflows/run-ci-cd.yaml
  infrastructure/README.md
  infrastructure/bootstrap/variables.tf
  infrastructure/live/main.tf
  infrastructure/live/terraform.tfbackend.production.example
  infrastructure/live/terraform.tfbackend.staging.example
  infrastructure/live/terraform.tfvars.production.example
  infrastructure/live/terraform.tfvars.staging.example
  infrastructure/live/variables.tf
  infrastructure/modules/parameters/main.tf
  infrastructure/modules/parameters/outputs.tf
  infrastructure/modules/parameters/variables.tf
  infrastructure/state/variables.tf
Due: none

Apply suggestions
  backend/Makefile
  backend/apps/common/management/commands/purge_data.py
  backend/tests/apps/common/management/commands/purge_data_test.py
Due: backend

Skip semgrep
  backend/apps/common/management/commands/purge_data.py
Due: backend

Improve global search UX by surfacing ⌘K shortcut and refining search bar layout
  frontend/src/components/GlobalSearch.tsx
Due: frontend

update code
  .github/workflows/run-ci-cd.yaml
  infrastructure/modules/parameters/tests/parameters.tftest.hcl
Due: none

change if condition to run workflow
  .github/workflows/run-ci-cd.yaml
Due: none

temporary changes to run CI/CD
  .github/workflows/run-ci-cd.yaml
Due: none

update production django settings
  backend/settings/production.py
Due: backend

update code
  .github/workflows/run-ci-cd.yaml
Due: none

Fix accessibility label for search button to maintain test compatibility
  frontend/src/components/GlobalSearch.tsx
Due: frontend

Run make update
  backend/poetry.lock
  docs/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Update CSP
  infrastructure/modules/alb/main.tf
Due: none

update artifact name
  .github/workflows/run-ci-cd.yaml
Due: none

Clean up CSP to fit 1000 limit. Add tests.
  infrastructure/modules/alb/.terraform.lock.hcl
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/tests/alb.tftest.hcl
  infrastructure/modules/cache/.terraform.lock.hcl
  infrastructure/modules/database/.terraform.lock.hcl
  infrastructure/modules/kms/.terraform.lock.hcl
  infrastructure/modules/networking/.terraform.lock.hcl
  infrastructure/modules/networking/modules/nacl/.terraform.lock.hcl
  infrastructure/modules/networking/modules/vpc-endpoint/.terraform.lock.hcl
  infrastructure/modules/parameters/.terraform.lock.hcl
  infrastructure/modules/security/.terraform.lock.hcl
  infrastructure/modules/service/.terraform.lock.hcl
  infrastructure/modules/storage/.terraform.lock.hcl
  infrastructure/modules/storage/modules/s3-bucket/.terraform.lock.hcl
  infrastructure/modules/tasks/.terraform.lock.hcl
  infrastructure/modules/tasks/modules/task/.terraform.lock.hcl
  proxy/headers.conf
Due: none

Update S3 bucket policy
  infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/modules/s3-bucket/main.tf
  infrastructure/modules/storage/modules/s3-bucket/variables.tf
Due: none

Update .trivyignore.yaml
  .trivyignore.yaml
Due: none

Update S3 bucket policy
  infrastructure/modules/storage/modules/s3-bucket/main.tf
Due: none

Change static buckets SSE algorithm
  infrastructure/live/.terraform.lock.hcl
  infrastructure/live/main.tf
  infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/modules/s3-bucket/main.tf
  infrastructure/modules/storage/modules/s3-bucket/tests/s3-bucket.tftest.hcl
  infrastructure/modules/storage/modules/s3-bucket/variables.tf
  infrastructure/modules/storage/variables.tf
Due: none

Switch to / bdinging for search. Update styling
  frontend/__tests__/unit/components/GlobalSearch.test.tsx
  frontend/src/components/GlobalSearch.tsx
Due: frontend

Update code
  frontend/src/components/GlobalSearch.tsx
Due: frontend

Feature/search bar UI (#4285)
  frontend/__tests__/unit/components/GlobalSearch.test.tsx
  frontend/src/components/GlobalSearch.tsx
Due: frontend

cleanup ansible code
  .github/ansible/.ansible-lint.yaml
  .github/ansible/inventory.yaml
  .github/ansible/production/nest.yaml
  .github/ansible/production/proxy.yaml
  .github/ansible/requirements.yml
  .pre-commit-config.yaml
Due: none

Revert "temporary changes to run CI/CD"
  .github/workflows/run-ci-cd.yaml
Due: none

fix file name in docs
  infrastructure/README.md
Due: none

add django release version to production example file
  infrastructure/live/terraform.tfvars.production.example
Due: none

change github app auth to use NEST_GITHUB_APP_PRIVATE_KEY instead of .pem file
  backend/apps/github/auth.py
  backend/tests/apps/github/auth_test.py
Due: backend

delete production cron and docker-compose files
  cron/production
  docker-compose/production/compose.yaml
Due: none

fix tests
  backend/tests/apps/github/auth_test.py
Due: backend

Run make update
  .pre-commit-config.yaml
  backend/poetry.lock
  backend/pyproject.toml
  cspell/pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

fix(api-docs): align theme switch cursor and tooltip
  backend/static/css/swagger-custom-ui.css
  backend/templates/ninja/swagger.html
  backend/tests/apps/api/rest/v0/swagger_docs_ui_test.py
Due: backend

test(api-docs): cover dynamic theme toggle aria label
  backend/tests/apps/api/rest/v0/swagger_docs_ui_test.py
Due: backend

Update code
  backend/tests/apps/api/rest/v0/swagger_docs_ui_test.py
Due: backend

fix(api-docs): align theme switch cursor and tooltip (#4295)
  backend/static/css/swagger-custom-ui.css
  backend/templates/ninja/swagger.html
  backend/tests/apps/api/rest/v0/swagger_docs_ui_test.py
Due: backend

implement query analyzer
  backend/apps/ai/flows/assistant.py
  backend/apps/ai/query_analyzer.py
  backend/apps/ai/templates/query_analyzer/backstory.jinja
  backend/apps/ai/templates/query_analyzer/tasks/analyze.jinja
  cspell/custom-dict.txt
Due: backend

update code
  backend/apps/ai/query_analyzer.py
Due: backend
