Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Update tests
  backend/src/apps/owasp/api/internal/dataloaders/project.py
  backend/src/apps/owasp/api/internal/dataloaders/snapshot.py
  backend/src/apps/owasp/api/internal/nodes/snapshot.py
  backend/tests/unit/apps/mentorship/api/internal/dataloaders/admin_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/snapshot_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/snapshot_test.py
Due: backend

Update code
  backend/src/apps/owasp/api/internal/dataloaders/snapshot.py
  backend/tests/unit/apps/mentorship/api/internal/dataloaders/admin_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/dataloaders_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/project_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/snapshot_test.py
Due: backend

add evidence management dashboard related pages, unit and e2e tests
  e2e/helpers/mockClaimAuth.ts
  e2e/pages/BoardCandidateClaimCreate.spec.ts
  e2e/pages/BoardCandidateClaimEdit.spec.ts
  e2e/pages/BoardCandidateClaimEvidenceCreate.spec.ts
  e2e/pages/BoardCandidateClaimEvidenceDetails.spec.ts
  e2e/pages/BoardCandidateClaimEvidenceEdit.spec.ts
  frontend/__tests__/unit/components/EvidenceActions.test.tsx
  frontend/__tests__/unit/components/EvidenceForm.test.tsx
  frontend/__tests__/unit/pages/CreateEvidencePage.test.tsx
  frontend/__tests__/unit/pages/EditEvidencePage.test.tsx
  frontend/__tests__/unit/pages/EvidenceDetailsPage.test.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/create/page.tsx
  frontend/src/components/EvidenceActions.tsx
  frontend/src/components/EvidenceForm.tsx
  frontend/src/components/forms/shared/FormFileInput.tsx
  frontend/src/components/forms/shared/formValidationUtils.ts
  frontend/src/server/mutations/evidenceMutations.ts
  frontend/src/server/queries/evidenceQueries.ts
  frontend/src/types/__generated__/evidenceMutations.generated.ts
  frontend/src/types/__generated__/evidenceQueries.generated.ts
  frontend/src/utils/helpers/apolloClient.ts
Due: frontend

Update code
  backend/src/apps/owasp/api/internal/dataloaders/snapshot.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/snapshot_test.py
Due: backend

add maintainec documentation
  .mkdocs.yaml
  docs/maintenance/README.md
Due: none

Refactor dependency scan
  .github/workflows/ci.yaml
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-dependency-audit.yaml
  .github/workflows/run-dependency-checks.yaml
  .trivy.yaml
  CONTRIBUTING.md
  make/README.md
  make/security.mk
Due: none

Update code
  .github/workflows/run-dependency-audit.yaml
  .github/workflows/run-dependency-checks.yaml
Due: none

Update code
  CONTRIBUTING.md
  make/security.mk
Due: none

Update code
  .github/workflows/run-dependency-checks.yaml
Due: none

Optimize entity_leaders and entity_channels in ChapterNode
  backend/src/apps/owasp/api/internal/dataloaders/__init__.py
  backend/src/apps/owasp/api/internal/dataloaders/chapter.py
  backend/src/apps/owasp/api/internal/nodes/chapter.py
Due: backend

Add tests
  backend/src/apps/owasp/api/internal/dataloaders/chapter.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/chapter_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/chapter_test.py
Due: backend

Mitigate dependabot alert #178
  pnpm-workspace.yaml
Due: none

update code
  pnpm-lock.yaml
Due: none

Update code
  .github/workflows/run-dependency-checks.yaml
  .trivy.yaml
  backend/make/security.mk
  cspell/make/security.mk
  docker/code-checks/Dockerfile
  docs/make/security.mk
  e2e/make/security.mk
  frontend/make/security.mk
  infrastructure/make/security.mk
  make/check.mk
  make/security.mk
Due: backend, frontend

update code
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

Update code
  .github/workflows/run-dependency-checks.yaml
  .trivyignore.yaml
  backend/make/security.mk
  cspell/make/security.mk
  docs/make/security.mk
  e2e/make/security.mk
  frontend/make/security.mk
  infrastructure/make/security.mk
  make/check.mk
  make/security.mk
Due: backend, frontend

Update code
  make/security.mk
Due: none

Update code
  .github/workflows/run-dependency-checks.yaml
  backend/make/security.mk
  docs/make/security.mk
  infrastructure/make/security.mk
Due: backend

Address comments
  .github/workflows/run-dependency-checks.yaml
  backend/make/security.mk
  cspell/make/security.mk
  docker/code-checks/Dockerfile
  docs/make/security.mk
  e2e/make/security.mk
  frontend/make/security.mk
  infrastructure/make/security.mk
  make/check.mk
  make/security.mk
Due: backend, frontend

Add OSV scanner
  .github/actions/run-osv-scan/action.yaml
  .github/workflows/run-dependency-checks.yaml
  .gitignore
  .trivyignore.yaml
  CONTRIBUTING.md
  cspell/custom-dict.txt
  docker/osv-scanner/Dockerfile
  make/security.mk
Due: none

Update code
  docker/code-checks/Dockerfile
Due: none

Refactor dependency scan (#5280)
  .github/actions/run-osv-scan/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-dependency-audit.yaml
  .github/workflows/run-dependency-checks.yaml
  .gitignore
  .trivy.yaml
  .trivyignore.yaml
  CONTRIBUTING.md
  backend/make/security.mk
  cspell/custom-dict.txt
  cspell/make/security.mk
  docker/code-checks/Dockerfile
  docker/osv-scanner/Dockerfile
  docs/make/security.mk
  e2e/make/security.mk
  frontend/make/security.mk
  infrastructure/make/security.mk
  make/README.md
  make/check.mk
  make/security.mk
Due: backend, frontend

Bump next/next-auth versions
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

Bump next/next-auth versions (#5291)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

Check all required services in both LocalStack readiness paths
  infrastructure/scripts/run-smoke-tests.sh
Due: none

fix: suppress remaining SonarCloud HTTP warning in wait_for_localstack
  infrastructure/scripts/run-smoke-tests.sh
Due: none

Address bot review comments
  .github/workflows/run-infrastructure-smoke.yaml
  infrastructure/README.md
  infrastructure/modules/parameters/tests/smoke.tftest.hcl
  infrastructure/scripts/run-smoke-tests.sh
Due: none

Document smoke pattern coupling between Makefile and script
  infrastructure/scripts/run-smoke-tests.sh
Due: none

Document infrastructure smoke testing in README
  .github/workflows/ci-cd-staging.yaml
  .github/workflows/run-ci-cd.yaml
  infrastructure/README.md
Due: none

Address CodeRabbit review comments
  infrastructure/scripts/run-smoke-tests.sh
Due: none

Add test-infrastructure-smoke Makefile target
  infrastructure/Makefile
  infrastructure/make/test.mk
Due: none

Wire infrastructure smoke tests into staging CD pipeline
  .github/workflows/ci-cd-staging.yaml
  .github/workflows/run-ci-cd.yaml
Due: none

Add run-smoke-tests.sh script for LocalStack smoke testing
  infrastructure/scripts/run-smoke-tests.sh
Due: none

Use while IFS= read -r loop for safer directory iteration
  infrastructure/scripts/run-smoke-tests.sh
Due: none

Add run-infrastructure-smoke reusable workflow
  .github/workflows/run-infrastructure-smoke.yaml
Due: none

fix: suppress SonarCloud HTTP protocol warnings in run-smoke-tests.sh
  infrastructure/scripts/run-smoke-tests.sh
Due: none

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
