Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

cherry pick evidence related files
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/create/page.tsx
  frontend/src/components/EvidenceActions.tsx
  frontend/src/components/EvidenceForm.tsx
  frontend/src/components/forms/shared/FormFileInput.tsx
  frontend/src/server/mutations/evidenceMutations.ts
  frontend/src/utils/helpers/apolloClient.ts
Due: frontend

add back missing query and generate
  frontend/src/server/queries/evidenceQueries.ts
  frontend/src/types/__generated__/evidenceMutations.generated.ts
  frontend/src/types/__generated__/evidenceQueries.generated.ts
Due: frontend

update pnpm lock
  frontend/pnpm-lock.yaml
Due: frontend

fix skip: condition
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/page.tsx
Due: frontend

remove refetchQueries and use mutation returned object
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/create/page.tsx
  frontend/src/components/EvidenceActions.tsx
  frontend/src/server/mutations/evidenceMutations.ts
  frontend/src/types/__generated__/evidenceMutations.generated.ts
Due: frontend

fix validation by removing .
  frontend/src/components/EvidenceForm.tsx
  frontend/src/components/forms/shared/formValidationUtils.ts
Due: frontend

fix isSyncing bug
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/create/page.tsx
Due: frontend

move access denied display up
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/page.tsx
  frontend/src/components/EvidenceActions.tsx
Due: frontend

fix titles
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/page.tsx
Due: frontend

update code
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/page.tsx
  frontend/src/components/EvidenceActions.tsx
  frontend/src/components/EvidenceForm.tsx
Due: frontend

remove double queries
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/page.tsx
Due: frontend

refactor
  backend/apps/common/apps.py
  backend/apps/observability/__init__.py
  backend/apps/observability/apps.py
  backend/apps/observability/otel.py
  backend/settings/base.py
  backend/tests/unit/apps/common/otel_test.py
  backend/tests/unit/apps/observability/__init__.py
  backend/tests/unit/apps/observability/apps_test.py
  backend/tests/unit/apps/observability/otel_test.py
Due: backend

bot suggestion
  backend/apps/observability/apps.py
  backend/pyproject.toml
  backend/tests/unit/apps/observability/apps_test.py
Due: backend

address review
  backend/apps/observability/apps.py
  backend/pyproject.toml
Due: backend

Fix policy size limit
  infrastructure/Makefile
  infrastructure/bootstrap/iam_policy_size_checks.tf
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/tests/bootstrap.tftest.hcl
Due: none

Update code
  infrastructure/bootstrap/iam_policy_size_checks.tf
  infrastructure/bootstrap/tests/bootstrap.tftest.hcl
Due: none

Fix auto scaling permissions (#5047)
  infrastructure/Makefile
  infrastructure/bootstrap/iam_policy_size_checks.tf
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/tests/bootstrap.tftest.hcl
Due: none

Update __init__.py
  backend/apps/slack/admin/__init__.py
Due: backend

Remove comment from BotInteraction migration file
  backend/apps/slack/migrations/0023_bot_interaction.py
Due: backend

Update message_auto_reply_test.py
  backend/tests/unit/apps/slack/services/message_auto_reply_test.py
Due: backend

Add assertions for bot interaction creation in tests
  backend/tests/unit/apps/slack/services/message_auto_reply_test.py
Due: backend

style: apply pre-commit fixes
  backend/apps/slack/admin/__init__.py
  backend/apps/slack/events/__init__.py
  backend/apps/slack/events/member_joined_channel/__init__.py
  backend/apps/slack/events/reaction_added/__init__.py
  backend/apps/slack/models/__init__.py
Due: backend

Update backend/tests/unit/apps/slack/services/message_auto_reply_test.py
  backend/tests/unit/apps/slack/services/message_auto_reply_test.py
Due: backend

style: remove trailing whitespace
  backend/tests/unit/apps/slack/services/message_auto_reply_test.py
Due: backend

fix(deps): update vulnerable backend dependencies
  backend/poetry.lock
  backend/pyproject.toml
Due: backend

fix(deps): update vulnerable backend dependencies (#5048)
  backend/poetry.lock
  backend/pyproject.toml
Due: backend

Optimize nest AuthUserNode (#5042)
  backend/apps/nest/api/internal/nodes/user.py
Due: backend

feat(o11y): Instrument backend with Otel metrics (#5029)
  Makefile
  backend/apps/observability/__init__.py
  backend/apps/observability/apps.py
  backend/apps/observability/otel.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/settings/base.py
  backend/tests/unit/apps/observability/__init__.py
  backend/tests/unit/apps/observability/apps_test.py
  backend/tests/unit/apps/observability/otel_test.py
  docker-compose/local/compose.o11y.yaml
  docker-compose/local/compose.yaml
Due: backend

Optimize mentorship MentorNode (#5031)
  backend/apps/mentorship/api/internal/nodes/mentor.py
Due: backend

Optimize mentorship AdminNode (#5030)
  backend/apps/mentorship/api/internal/nodes/admin.py
Due: backend

test: group observability tests under classes
  backend/tests/unit/apps/observability/apps_test.py
  backend/tests/unit/apps/observability/otel_test.py
Due: backend

Optimize GitHub app ReleaseNode (#5022)
  backend/apps/common/api/internal/dataloaders/utils.py
  backend/apps/github/api/internal/dataloaders/__init__.py
  backend/apps/github/api/internal/dataloaders/release.py
  backend/apps/github/api/internal/dataloaders/repository.py
  backend/apps/github/api/internal/nodes/release.py
  backend/apps/mentorship/api/internal/dataloaders/__init__.py
  backend/apps/mentorship/api/internal/dataloaders/interested_users.py
  backend/settings/graphql_context.py
  backend/tests/unit/apps/common/api/internal/dataloaders/utils_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/__init__.py
  backend/tests/unit/apps/github/api/internal/dataloaders/release_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/repository_test.py
  backend/tests/unit/apps/github/api/internal/nodes/release_test.py
  backend/tests/unit/apps/mentorship/api/internal/dataloaders/interested_users_test.py
Due: backend

test: group observability tests under classes (#5051)
  backend/tests/unit/apps/observability/apps_test.py
  backend/tests/unit/apps/observability/otel_test.py
Due: backend

ci: restrict sensitive workflow jobs to upstream repository only
  .github/workflows/ci-cd-production.yaml
  .github/workflows/ci-cd-staging.yaml
  .github/workflows/code-ql-actions.yaml
  .github/workflows/code-ql-javascript-typescript.yaml
  .github/workflows/code-ql-python.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/run-code-tests.yaml
Due: none

feat: Add SnapshotSubscription model
  backend/apps/owasp/admin/__init__.py
  backend/apps/owasp/admin/snapshot_subscription.py
  backend/apps/owasp/migrations/0075_snapshotsubscription.py
  backend/apps/owasp/models/__init__.py
  backend/apps/owasp/models/snapshot_subscription.py
  backend/tests/unit/apps/owasp/admin/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/models/snapshot_subscription_test.py
Due: backend

Remove unused langsmith dependency
  backend/poetry.lock
  backend/pyproject.toml
Due: backend
