Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

Update code
  backend/apps/api/rest/v0/event.py
Due: backend

Extends list_events endpoint with filtering by multiple categories (#4144)
  backend/apps/api/rest/v0/event.py
  backend/tests/apps/api/rest/v0/event_test.py
Due: backend

feat: implement filter by project type (#4141)
  backend/apps/api/rest/v0/project.py
  backend/tests/apps/api/rest/v0/project_test.py
Due: backend

Run make update
  backend/poetry.lock
  docs/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Enable SBOM (SPDX) generation for staging/production docker images
  .github/workflows/run-ci-cd.yaml
Due: none

fix: apply pointer cursor to clickable controls globally (#4099)
  backend/static/css/app.css
  frontend/src/app/globals.css
  frontend/src/components/UserMenu.tsx
Due: backend, frontend

Revert "Enable SBOM (SPDX) generation for staging/production docker images"
  .github/workflows/run-ci-cd.yaml
Due: none

feat(ai): add collaborative multi-agent flow for low-confidence queries
  backend/apps/ai/agents/chapter/agent.py
  backend/apps/ai/agents/community/agent.py
  backend/apps/ai/agents/contribution/agent.py
  backend/apps/ai/agents/project/agent.py
  backend/apps/ai/agents/rag/agent.py
  backend/apps/ai/flows/assistant.py
  backend/apps/ai/models/chunk.py
  backend/apps/ai/router.py
Due: backend

fix(ai): address code review feedback for multi-agent flow
  backend/apps/ai/flows/assistant.py
  backend/apps/ai/models/chunk.py
Due: backend

fix: update to strict equality and refactor skeleton rendering logic
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/SkeletonsBase.tsx
Due: frontend

Fix failing Slack related tests
  backend/tests/apps/slack/events/url_verification_test.py
  backend/tests/apps/slack/services/message_auto_reply_test.py
Due: backend

Added test for the changes
  backend/apps/owasp/api/internal/queries/project.py
  backend/tests/apps/api/rest/v0/project_test.py
  backend/tests/apps/owasp/api/internal/filters/project_test.py
  backend/tests/apps/owasp/api/internal/queries/project_test.py
  backend/tests/apps/owasp/index/search/project_test.py
  frontend/__tests__/unit/components/UnifiedSearchBar.test.tsx
  frontend/__tests__/unit/pages/Contribute.test.tsx
  frontend/__tests__/unit/pages/ProjectsHealthDashboardMetrics.test.tsx
  frontend/src/components/SearchPageLayout.tsx
  frontend/src/components/UnifiedSearchBar.tsx
  frontend/src/hooks/useSearchProjectsGraphQL.ts
  frontend/src/utils/helpers/mockApolloClient.ts
  frontend/src/wrappers/testUtil.tsx
Due: backend, frontend

refactor: reduce footer cognitive complexity
  frontend/src/components/Footer.tsx
Due: frontend

Add gsoc-2026 project tags
  backend/data/project-custom-tags/gsoc-2026.json
Due: backend

fixed review
  backend/apps/api/rest/v0/project.py
  backend/apps/owasp/api/internal/queries/project.py
  backend/tests/apps/owasp/api/internal/filters/project_test.py
  backend/tests/apps/owasp/api/internal/queries/project_test.py
  frontend/__tests__/unit/components/ProjectTypeDashboardCard.test.tsx
  frontend/__tests__/unit/components/UnifiedSearchBar.test.tsx
  frontend/src/app/projects/dashboard/metrics/page.tsx
  frontend/src/components/UnifiedSearchBar.tsx
  frontend/src/wrappers/testUtil.tsx
Due: backend, frontend

Add gsoc2026 tag projects
  backend/data/project-custom-tags/gsoc-2026.json
Due: backend

docs: move env variable reference to backend/frontend READMEs
  CONTRIBUTING.md
  backend/README.md
  frontend/README.md
Due: backend, frontend

fixed review
  backend/apps/owasp/api/internal/queries/project.py
  backend/tests/apps/owasp/api/internal/queries/project_test.py
Due: backend

Update backend/tests/apps/owasp/api/internal/queries/project_test.py
  backend/tests/apps/owasp/api/internal/queries/project_test.py
Due: backend

Update code
  backend/apps/owasp/Makefile
  backend/data/project-custom-tags/gsoc-2026.json
Due: backend

Bump level from Lab to Production
  README.md
  frontend/src/utils/aboutData.ts
Due: frontend

Add gsoc2026 tag projects (#4181)
  backend/apps/owasp/Makefile
  backend/data/project-custom-tags/gsoc-2026.json
Due: backend

fix(frontend): use post.url as unique key instead of post.title
  frontend/src/app/HomePageClient.tsx
Due: frontend

Update code
  frontend/__tests__/e2e/components/Header.spec.ts
  frontend/__tests__/unit/components/Header.test.tsx
  frontend/__tests__/unit/pages/Community.test.tsx
  frontend/src/app/community/page.tsx
  frontend/src/utils/communityData.ts
Due: frontend

Replace Community dropdown with single link to /community page (#4100)
  frontend/__tests__/e2e/components/Header.spec.ts
  frontend/__tests__/unit/components/Header.test.tsx
  frontend/__tests__/unit/pages/Community.test.tsx
  frontend/src/app/community/page.tsx
  frontend/src/utils/communityData.ts
  frontend/src/utils/constants.ts
Due: frontend

Run make update
  backend/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

docs: move GitHub OAuth setup to optional steps section
  CONTRIBUTING.md
Due: none

fix: remove redundant tooltip and show placeholder for empty labels (#4110)
  frontend/__tests__/unit/components/LabelList.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/components/LabelList.tsx
Due: frontend

fix(#4041): Include today's events in upcoming_events() query
  backend/apps/owasp/models/event.py
  backend/tests/apps/owasp/models/event_test.py
Due: backend

chore: ignore false positive array index key warning
  frontend/src/components/SkeletonsBase.tsx
Due: frontend

Move env variables documentation to backend/frontend README files
  CONTRIBUTING.md
  backend/README.md
  frontend/README.md
Due: backend, frontend

Refactor conditional rendering for Skeleton components
  frontend/src/components/SkeletonsBase.tsx
Due: frontend

chore: revert unrelated changes to focus on equality fixes
  frontend/src/components/CardDetailsPage.tsx
Due: frontend

feat: chaptersPage_sort_filter_functionality
  backend/apps/common/management/commands/algolia_update_replicas.py
  backend/apps/owasp/api/internal/queries/chapter.py
  backend/apps/owasp/index/registry/chapter.py
  backend/tests/apps/common/management/commands/algolia_update_replicas_test.py
  backend/tests/apps/owasp/api/internal/queries/chapter_test.py
  backend/tests/apps/owasp/index/registry/chapter_test.py
  frontend/__tests__/a11y/pages/Chapters.a11y.test.tsx
  frontend/__tests__/unit/pages/Chapters.test.tsx
  frontend/__tests__/unit/pages/Contribute.test.tsx
  frontend/src/app/chapters/page.tsx
  frontend/src/components/FilterBy.tsx
  frontend/src/components/SearchPageLayout.tsx
  frontend/src/hooks/useSearchPage.ts
  frontend/src/server/queries/chapterQueries.ts
  frontend/src/types/__generated__/chapterQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/utils/sortingOptions.ts
Due: backend, frontend

Period seems better
  backend/apps/slack/templates/events/member_joined_channel/contribute/ephemeral_message.jinja
Due: backend

Fix typo
  backend/apps/slack/templates/events/member_joined_channel/contribute/ephemeral_message.jinja
Due: backend

Update various nestbot messages
  backend/apps/slack/templates/events/member_joined_channel/contribute/ephemeral_message.jinja
  backend/apps/slack/templates/events/member_joined_channel/gsoc/ephemeral_message.jinja
  backend/apps/slack/templates/events/member_joined_channel/project_nest/ephemeral_message.jinja
Due: backend

Address CI items
  backend/apps/slack/templates/events/member_joined_channel/contribute/ephemeral_message.jinja
  backend/apps/slack/templates/events/member_joined_channel/gsoc/ephemeral_message.jinja
  backend/apps/slack/templates/events/member_joined_channel/project_nest/ephemeral_message.jinja
Due: backend

Migrate backend to ECS
  .github/workflows/run-ci-cd.yaml
  backend/entrypoint.sh
  backend/poetry.lock
  backend/pyproject.toml
  backend/wsgi.py
  backend/zappa_callback.py
  backend/zappa_settings.template.json
  infrastructure/README.md
  infrastructure/bootstrap/main.tf
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/outputs.tf
  infrastructure/modules/alb/variables.tf
  infrastructure/modules/backend/main.tf
  infrastructure/modules/backend/outputs.tf
  infrastructure/modules/backend/variables.tf
  infrastructure/modules/ecs/outputs.tf
  infrastructure/modules/security/main.tf
  infrastructure/modules/security/outputs.tf
  infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/outputs.tf
  infrastructure/modules/storage/variables.tf
  infrastructure/staging/main.tf
  infrastructure/staging/outputs.tf
  infrastructure/staging/terraform.tfvars.example
  infrastructure/staging/variables.tf
Due: backend

rename ecs -> tasks
  infrastructure/README.md
  infrastructure/modules/tasks/.terraform.lock.hcl
  infrastructure/modules/tasks/main.tf
  infrastructure/modules/tasks/modules/task/.terraform.lock.hcl
  infrastructure/modules/tasks/modules/task/main.tf
  infrastructure/modules/tasks/modules/task/outputs.tf
  infrastructure/modules/tasks/modules/task/tests/task.tftest.hcl
  infrastructure/modules/tasks/modules/task/variables.tf
  infrastructure/modules/tasks/outputs.tf
  infrastructure/modules/tasks/tests/tasks.tftest.hcl
  infrastructure/modules/tasks/variables.tf
  infrastructure/staging/main.tf
  infrastructure/staging/outputs.tf
Due: none
