Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

add tests
  backend/tests/apps/owasp/api/internal/nodes/common_test.py
  backend/tests/apps/owasp/api/internal/nodes/entity_channel_test.py
  frontend/__tests__/unit/pages/ChapterDetails.test.tsx
  frontend/__tests__/unit/pages/ProjectDetails.test.tsx
Due: backend, frontend

add e2e tests
  frontend/__tests__/e2e/pages/ChapterDetails.spec.ts
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
  frontend/__tests__/mockData/mockChapterDetailsData.ts
  frontend/__tests__/mockData/mockProjectDetailsData.ts
Due: frontend

Update frontend/__tests__/unit/pages/ChapterDetails.test.tsx
  frontend/__tests__/unit/pages/ChapterDetails.test.tsx
Due: frontend

remove duplicate test
  frontend/__tests__/a11y/components/RecentRelease.a11y.test.tsx
Due: frontend

Update various nestbot messages
  backend/apps/slack/templates/events/member_joined_channel/contribute/ephemeral_message.jinja
  backend/apps/slack/templates/events/member_joined_channel/gsoc/ephemeral_message.jinja
  backend/apps/slack/templates/events/member_joined_channel/project_nest/ephemeral_message.jinja
Due: backend

Address CI items
  backend/apps/slack/templates/events/member_joined_channel/contribute/ephemeral_message.jinja
  backend/apps/slack/templates/events/member_joined_channel/gsoc/ephemeral_message.jinja
  backend/apps/slack/templates/events/member_joined_channel/project_nest/ephemeral_message.jinja
Due: backend

Fix typo
  backend/apps/slack/templates/events/member_joined_channel/contribute/ephemeral_message.jinja
Due: backend

Period seems better
  backend/apps/slack/templates/events/member_joined_channel/contribute/ephemeral_message.jinja
Due: backend

Clean up badges_count and badges usage
  backend/apps/github/api/internal/nodes/issue.py
  backend/apps/github/api/internal/nodes/user.py
  backend/apps/github/api/internal/queries/user.py
  backend/tests/apps/github/api/internal/nodes/user_test.py
  backend/tests/apps/github/api/internal/queries/user_test.py
  frontend/__tests__/a11y/pages/About.a11y.test.tsx
  frontend/src/app/members/page.tsx
  frontend/src/server/queries/aboutQueries.ts
  frontend/src/server/queries/userQueries.ts
  frontend/src/types/__generated__/aboutQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/userQueries.generated.ts
Due: backend, frontend

Update tests
  backend/tests/apps/github/api/internal/queries/user_test.py
Due: backend

Update backend/apps/github/api/internal/nodes/user.py
  backend/apps/github/api/internal/nodes/user.py
Due: backend

Update code
  backend/README.md
  docs/schema/overview.md
  frontend/README.md
Due: backend, frontend

Fix test
  backend/tests/apps/github/api/internal/nodes/issue_test.py
Due: backend

fix: optimize interested users field in IssueNode (#3788)
  backend/apps/github/api/internal/nodes/issue.py
  backend/apps/github/api/internal/nodes/user.py
  backend/apps/github/api/internal/queries/user.py
  backend/tests/apps/github/api/internal/nodes/issue_test.py
  backend/tests/apps/github/api/internal/nodes/user_test.py
  backend/tests/apps/github/api/internal/queries/user_test.py
  frontend/__tests__/a11y/pages/About.a11y.test.tsx
  frontend/src/app/members/page.tsx
  frontend/src/server/queries/aboutQueries.ts
  frontend/src/server/queries/userQueries.ts
  frontend/src/types/__generated__/aboutQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/userQueries.generated.ts
Due: backend, frontend

remove redundant mock overrides and add missing rel assertion
  frontend/__tests__/unit/pages/ChapterDetails.test.tsx
  frontend/__tests__/unit/pages/ProjectDetails.test.tsx
Due: frontend

apply suggestions
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/tests/apps/mentorship/api/internal/mutations/module_mutation_test.py
  backend/tests/apps/mentorship/api/internal/queries/api_queries_program_test.py
  backend/tests/apps/mentorship/model/module_test.py
  backend/tests/apps/mentorship/model/program_test.py
Due: backend

fix: improve code coverage
  backend/tests/apps/github/api/internal/nodes/repository_test.py
Due: backend

fix: cubic-ai
  backend/tests/apps/github/api/internal/nodes/repository_test.py
Due: backend

Removed excessive call toa ctions
  frontend/src/app/community/page.tsx
  frontend/src/utils/communityData.ts
Due: frontend

feat(ai): add Google Gemini LLM provider support
  backend/.env.example
  backend/apps/ai/common/llm_config.py
  backend/apps/ai/embeddings/factory.py
  backend/apps/ai/embeddings/google.py
  backend/pyproject.toml
  backend/settings/base.py
  backend/tests/apps/ai/common/llm_config_test.py
  cspell/custom-dict.txt
Due: backend

update breadcrumb component to each layout
  frontend/src/app/chapters/[chapterKey]/layout.tsx
  frontend/src/app/committees/[committeeKey]/layout.tsx
  frontend/src/app/members/[memberKey]/layout.tsx
  frontend/src/app/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/mentorship/programs/[programKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/page.tsx
  frontend/src/app/organizations/[organizationKey]/layout.tsx
  frontend/src/app/organizations/[organizationKey]/repositories/[repositoryKey]/layout.tsx
  frontend/src/app/projects/[projectKey]/layout.tsx
  frontend/src/components/BreadCrumbsWrapper.tsx
  frontend/src/components/PageLayout.tsx
  frontend/src/contexts/BreadcrumbContext.tsx
Due: frontend

apply suggestions
  frontend/src/contexts/BreadcrumbContext.tsx
Due: frontend

fix(ai): address CodeRabbit suggestions for Google embedder
  backend/.env.example
  backend/apps/ai/embeddings/google.py
Due: backend

fix(ai): address CodeRabbit suggestions for Google embedder
  backend/apps/ai/embeddings/google.py
Due: backend

fix(ai): address CodeRabbit/cubic-dev-ai review issues
  backend/apps/ai/common/llm_config.py
  backend/settings/base.py
  backend/tests/apps/ai/common/llm_config_test.py
Due: backend

fix(ai): fix RET503 and mypy return statement errors
  backend/apps/ai/embeddings/google.py
Due: backend

fix(ai): address CodeRabbit AI review issues
  backend/apps/ai/embeddings/google.py
Due: backend

Run make update
  backend/poetry.lock
  docs/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

fix(ai): address final CodeRabbit AI review issues
  backend/apps/ai/embeddings/google.py
Due: backend

fix(ai): remove unnecessary error raising for REST fallback
  backend/apps/ai/embeddings/google.py
Due: backend

fix(ai): add warning to embed_documents for consistent exception handling
  backend/apps/ai/embeddings/google.py
Due: backend

Update tests
  frontend/src/components/BarChart.tsx
Due: frontend

Update dependabot configuration
  .github/dependabot.yml
  docker/backend/Dockerfile
  docker/frontend/Dockerfile
Due: none

Add defaultBreadcrumbClassName to PageLayout
  frontend/src/app/chapters/[chapterKey]/layout.tsx
  frontend/src/app/committees/[committeeKey]/layout.tsx
  frontend/src/app/members/[memberKey]/layout.tsx
  frontend/src/app/organizations/[organizationKey]/layout.tsx
  frontend/src/app/organizations/[organizationKey]/repositories/[repositoryKey]/layout.tsx
  frontend/src/app/projects/[projectKey]/layout.tsx
  frontend/src/components/PageLayout.tsx
Due: frontend

Run make-check
  frontend/src/app/chapters/[chapterKey]/layout.tsx
  frontend/src/app/committees/[committeeKey]/layout.tsx
  frontend/src/app/members/[memberKey]/layout.tsx
  frontend/src/app/organizations/[organizationKey]/layout.tsx
  frontend/src/app/projects/[projectKey]/layout.tsx
Due: frontend

Add tests
  frontend/__tests__/unit/components/PageLayout.test.tsx
Due: frontend

Light mode breadcrumb text color mismatch causing inconsistent UI (#3808)
  frontend/__tests__/unit/components/PageLayout.test.tsx
  frontend/src/app/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/mentorship/programs/[programKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/page.tsx
  frontend/src/components/BreadCrumbsWrapper.tsx
  frontend/src/components/PageLayout.tsx
  frontend/src/contexts/BreadcrumbContext.tsx
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
