Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

fix: standardize date fields to ISO 8601 strings
  backend/apps/github/models/mixins/release.py
  backend/apps/github/models/mixins/repository.py
  backend/apps/github/models/mixins/user.py
  backend/tests/apps/github/models/mixins/release_test.py
  backend/tests/apps/github/models/mixins/repository_test.py
  backend/tests/apps/github/models/mixins/user_test.py
  frontend/src/types/organization.ts
  frontend/src/utils/utility.ts
Due: backend, frontend

Update code
  .github/workflows/check-pr-issue-skip-usernames.txt
  MENTORS.md
  cspell/custom-dict.txt
Due: none

Add Wandji Collins as a GSoC mentor (#4269)
  .github/workflows/check-pr-issue-skip-usernames.txt
  MENTORS.md
  cspell/custom-dict.txt
Due: none

update code
  backend/apps/github/models/mixins/user.py
Due: backend

update code
  backend/apps/github/management/commands/github_update_users.py
  backend/tests/apps/github/management/commands/github_update_users_test.py
Due: backend

feat: Improve grouping and visual distinction of Project Timeline on About page
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/src/app/about/page.tsx
Due: frontend

Imrpoved members ranking algorithm
  backend/apps/api/rest/v0/member.py
  backend/apps/github/api/internal/nodes/user.py
  backend/apps/github/index/registry/user.py
  backend/apps/github/management/commands/github_sync_user.py
  backend/apps/github/migrations/0045_user_calculated_score_user_idx_calc_score_desc.py
  backend/apps/github/models/mixins/user.py
  backend/apps/github/models/user.py
  backend/apps/owasp/utils/scoring.py
  backend/tests/apps/api/rest/v0/member_test.py
  backend/tests/apps/github/management/commands/github_sync_user_test.py
  backend/tests/apps/owasp/utils/scoring_test.py
  docker-compose/local/compose.yaml
  frontend/src/types/__generated__/graphql.ts
Due: backend, frontend

added statuscode
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/mentees/[menteeKey]/page.tsx
Due: frontend

update code
  frontend/src/utils/utility.ts
Due: frontend

fixed review
  backend/apps/github/management/commands/github_sync_user.py
  backend/apps/github/migrations/0045_user_calculated_score_user_idx_calc_score_desc.py
  backend/apps/github/models/user.py
  backend/apps/owasp/utils/scoring.py
  backend/tests/apps/github/management/commands/github_sync_user_test.py
  backend/tests/apps/owasp/utils/scoring_test.py
  frontend/src/types/__generated__/graphql.ts
Due: backend, frontend

Run make update
  backend/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

fixed coderabbit review
  backend/apps/github/management/commands/github_sync_user.py
  backend/tests/apps/github/management/commands/github_sync_user_test.py
  backend/tests/apps/owasp/utils/scoring_test.py
Due: backend

Update code
  frontend/src/utils/utility.ts
Due: frontend

Update code
  frontend/src/app/about/page.tsx
Due: frontend

Simplify code
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/mentees/[menteeKey]/page.tsx
Due: frontend

Update bar chart component
  frontend/src/components/BarChart.tsx
Due: frontend

Add error handling
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/mentees/[menteeKey]/page.tsx
Due: frontend

Cleanup: Remove legacy createdAt number handling in frontend utilities (#4274)
  frontend/src/utils/utility.ts
Due: frontend

feat: Improve grouping and visual distinction of Project Timeline on the About page (#4255)
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/src/app/about/page.tsx
Due: frontend

Fixed 404 flash on mentee page (#4262)
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/mentees/[menteeKey]/page.tsx
Due: frontend

Update code
  backend/apps/mentorship/api/internal/nodes/module.py
Due: backend

Fix missing order field
  backend/apps/mentorship/api/internal/nodes/module.py
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/moduleMutations.generated.ts
  frontend/src/types/__generated__/moduleQueries.generated.ts
  frontend/src/types/__generated__/programsQueries.generated.ts
Due: backend, frontend

Add deadline status badges and deadline filters to mentorship issues list (#3695)
  backend/apps/github/api/internal/nodes/issue.py
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/tests/apps/github/api/internal/nodes/issue_test.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  frontend/__tests__/unit/components/IssuesTable.test.tsx
  frontend/__tests__/unit/pages/IssuesPage.test.tsx
  frontend/__tests__/unit/pages/MenteeProfilePage.test.tsx
  frontend/__tests__/unit/utils/deadlineUtils.test.ts
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/mentees/[menteeKey]/page.tsx
  frontend/src/components/IssuesTable.tsx
  frontend/src/server/queries/menteeQueries.ts
  frontend/src/server/queries/moduleQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/menteeQueries.generated.ts
  frontend/src/types/__generated__/moduleQueries.generated.ts
  frontend/src/utils/deadlineUtils.ts
Due: backend, frontend

feat(mentorship): add validation for tags and domains
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/apps/mentorship/api/internal/nodes/program.py
  backend/apps/mentorship/api/internal/utils.py
  backend/tests/apps/mentorship/api/internal/nodes/validation_test.py
Due: backend

fix: conflict
  backend/tests/apps/mentorship/api/internal/nodes/validation_test.py
Due: backend

fix move imports to module top
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/apps/mentorship/api/internal/nodes/program.py
  backend/apps/mentorship/api/internal/utils.py
  backend/tests/apps/mentorship/api/internal/nodes/validation_test.py
Due: backend

fix:cubic-dev-ai comment
  backend/apps/mentorship/api/internal/utils.py
  backend/tests/apps/mentorship/api/internal/nodes/validation_test.py
Due: backend

update code
  backend/apps/mentorship/api/internal/utils.py
  backend/tests/apps/mentorship/api/internal/nodes/validation_test.py
Due: backend

Fix tests
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  frontend/src/types/mentorship.ts
Due: backend, frontend

fix: standardize date fields to ISO 8601 strings (#4270)
  backend/apps/github/models/mixins/release.py
  backend/apps/github/models/mixins/repository.py
  backend/apps/github/models/mixins/user.py
  backend/tests/apps/github/models/mixins/release_test.py
  backend/tests/apps/github/models/mixins/repository_test.py
  backend/tests/apps/github/models/mixins/user_test.py
  frontend/src/types/organization.ts
  frontend/src/utils/utility.ts
Due: backend, frontend

test: add coverage for program and project_id resolvers in ModuleNode
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_module_test.py
Due: backend

Run make update
  backend/poetry.lock
  frontend/pnpm-lock.yaml
Due: backend, frontend

fix the value clearing (#4234)
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/src/components/ModuleForm.tsx
Due: frontend

feat: add prototype contributor scoring module
  backend/apps/github/recognition.py
  backend/apps/recognition/__init__.py
  backend/apps/recognition/scoring.py
  recognition_design.md
Due: backend

feat: add prototype contributor scoring system
  backend/apps/github/models/user.py
  backend/apps/recognition/scoring.py
  recognition_design.md
Due: backend

Run make check
  frontend/src/components/Footer.tsx
Due: frontend

fix: resolve footer layout break between 647px and 764px (#4118)
  frontend/src/components/Footer.tsx
Due: frontend

Update code
  backend/static/css/swagger-custom-ui.css
  backend/static/img/dark_mode.svg
  backend/static/img/favicon.ico
  backend/static/img/light_mode.svg
  backend/templates/ninja/favicons.html
  backend/templates/ninja/swagger.html
  frontend/src/components/ModeToggle.tsx
Due: backend, frontend

Update code
  backend/templates/ninja/swagger.html
Due: backend
