Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

chore(deps): upgrade graphql to v17 and update codegen dependencies (#5150)
  frontend/next.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

Update code
  backend/src/apps/mentorship/api/internal/mutations/module.py
  backend/src/apps/mentorship/api/internal/nodes/module.py
  backend/src/apps/mentorship/api/internal/queries/module.py
  backend/src/apps/mentorship/migrations/0009_module_mentees_can_manage_deadlines.py
  backend/src/apps/mentorship/models/module.py
  backend/tests/unit/apps/mentorship/api/internal/mutations/module_mutation_test.py
  frontend/__tests__/a11y/components/ModuleForm.a11y.test.tsx
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/create/page.tsx
  frontend/src/components/ModuleForm.tsx
  frontend/src/server/queries/issueQueries.ts
  frontend/src/server/queries/moduleQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/issueQueries.generated.ts
  frontend/src/types/__generated__/moduleMutations.generated.ts
  frontend/src/types/__generated__/moduleQueries.generated.ts
  frontend/src/types/mentorship.ts
Due: backend, frontend

Update types
  frontend/src/types/auth.ts
  frontend/src/types/mentorship.ts
Due: frontend

fix buttons
  frontend/src/app/settings/page.tsx
Due: frontend

Update code
  backend/src/apps/owasp/api/internal/nodes/common.py
  backend/src/apps/slack/management/commands/owasp_match_channels.py
  backend/tests/unit/apps/owasp/api/internal/nodes/common_test.py
Due: backend

Update code
  backend/src/apps/slack/management/commands/owasp_match_channels.py
Due: backend

fix button
  frontend/src/app/settings/page.tsx
Due: frontend

isolate metrics url locally
  docker-compose/local/compose.o11y.yaml
  docker-compose/local/grafana/provisioning/datasources/victoriametrics.yaml
Due: none

update reordering logic to use drag-and-drop functionality
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
Due: frontend

Update code
  .github/actions/setup-terraform-environment/action.yaml
  .github/workflows/run-infrastructure-tests.yaml
  .gitignore
Due: none

refactor: consolidate override file paths and resource names into a single array for easier management
  infrastructure/modules/storage/modules/s3-bucket/README.md
  infrastructure/scripts/run-integration-tests.sh
Due: none

fix: correct region identifier usage in KMS policy and document TF_PLUGIN_CACHE_DIR requirement
  .github/actions/setup-terraform-environment/action.yaml
Due: none

Guard against an empty LocalStack image tag before starting the container
  .github/workflows/run-infrastructure-tests.yaml
Due: none

chore: update LocalStack Dockerfile to run as non-root user
  docker/localstack/Dockerfile
Due: none

feat: implement infrastructure integration testing suite using LocalStack and Terraform
  .github/actions/setup-terraform-environment/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/run-code-tests.yaml
  .github/workflows/run-infrastructure-tests.yaml
  .gitignore
  Makefile
  cspell/custom-dict.txt
  docker/localstack/Dockerfile
  infrastructure/Makefile
  infrastructure/README.md
  infrastructure/modules/ecr-cache/tests/integration.tftest.hcl
  infrastructure/modules/kms/tests/integration.tftest.hcl
  infrastructure/modules/parameters/tests/integration.tftest.hcl
  infrastructure/modules/storage/modules/s3-bucket/outputs.tf
  infrastructure/modules/storage/tests/integration.tftest.hcl
  infrastructure/scripts/run-integration-tests.sh
Due: none

refactor: replace sys.exit calls with TestRunnerError and improve localstack container management
  infrastructure/scripts/run_tests.py
  infrastructure/scripts/test_run_tests.py
Due: none

reduced the cognitive complexity of each function
  infrastructure/scripts/run_tests.py
Due: none

refactor: replace shell-based test and tag scripts with a consolidated Python implementation
  .github/workflows/run-infrastructure-tests.yaml
  infrastructure/Makefile
  infrastructure/scripts/run-integration-tests.sh
  infrastructure/scripts/run_tests.py
  infrastructure/scripts/test_run_tests.py
Due: none

extract LocalStack readiness check into a helper function
  infrastructure/scripts/run_tests.py
  infrastructure/scripts/test_run_tests.py
Due: none

Update code
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

address review
  docker-compose/local/compose.yaml
  frontend/src/app/certificate/[certificateId]/page.tsx
  frontend/src/app/certificate/page.tsx
  frontend/src/components/ActionButton.tsx
  frontend/src/components/CertificateCard.tsx
Due: frontend

fixed
  docker-compose/local/compose.yaml
  frontend/src/app/certificate/page.tsx
  frontend/src/components/ActionButton.tsx
Due: frontend

fixed disable
  frontend/src/components/ActionButton.tsx
Due: frontend

Bump Django to v6.0.7
  backend/poetry.lock
  backend/pyproject.toml
Due: backend

Simplify pre-commit updates
  .github/dependabot.yml
Due: none

Bump Django to v6.0.7 (#5176)
  backend/poetry.lock
  backend/pyproject.toml
Due: backend

Simplify pre-commit updates (#5177)
  .github/dependabot.yml
Due: none

Consolidate Dependabot updates
  .github/dependabot.yml
Due: none

Consolidate Dependabot updates (#5182)
  .github/dependabot.yml
Due: none

feat(mentorship): improve module UX and optimize mentor queries
  backend/src/apps/mentorship/api/internal/queries/module.py
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/src/app/globals.css
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/create/page.tsx
  frontend/src/components/ModuleCard.tsx
  frontend/src/components/ModuleForm.tsx
Due: backend, frontend

fixed responsive
  docker-compose/local/compose.yaml
  frontend/src/app/certificate/[certificateId]/page.tsx
  frontend/src/app/certificate/page.tsx
  frontend/src/components/CertificateCard.tsx
Due: frontend

Add precise type annotations to search helpers
  backend/src/apps/common/index_types.py
  backend/src/apps/github/index/search/user.py
  backend/src/apps/owasp/index/search/chapter.py
  backend/src/apps/owasp/index/search/committee.py
  backend/src/apps/owasp/index/search/issue.py
  backend/src/apps/owasp/index/search/project.py
  backend/src/apps/slack/common/handlers/users.py
  backend/tests/unit/apps/slack/common/handlers/users_test.py
Due: backend

adress review
  docker-compose/local/compose.yaml
  frontend/src/app/certificate/page.tsx
Due: frontend

feat(infrastructure): script and make target to start localstack
  Makefile
  infrastructure/.env.example
  infrastructure/Makefile
  infrastructure/scripts/start-localstack.sh
Due: none

feat(infrastructure): WIP provision infra
  Makefile
  infrastructure/Makefile
  infrastructure/live/variables.tf
  infrastructure/scripts/provision-infra.sh
Due: none

docs(infrastructure): add localstack,awslocal and tflocal as prerequisites
  infrastructure/README.md
Due: none

refactor(infrastructure): improve shell script robustness in start-localstack.sh
  infrastructure/scripts/start-localstack.sh
Due: none

fix(infrastructure): generate random password instead of hardcoding it for database
  infrastructure/README.md
  infrastructure/scripts/provision-infra.sh
Due: none
