Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

fix sonar issues
  frontend/__tests__/a11y/pages/SettingsPage.a11y.test.tsx
  frontend/__tests__/unit/pages/SettingsPage.test.tsx
  frontend/src/app/settings/page.tsx
Due: frontend

fix: issues
  frontend/__tests__/a11y/pages/SettingsPage.a11y.test.tsx
  frontend/__tests__/unit/pages/SettingsPage.test.tsx
  frontend/src/app/settings/page.tsx
Due: frontend

fix: sonar issue
  frontend/src/app/settings/page.tsx
Due: frontend

fix comment
  frontend/__tests__/unit/pages/SettingsPage.test.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/ActionButton.tsx
Due: frontend

fix comments
  frontend/__tests__/unit/pages/SettingsPage.test.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/ActionButton.tsx
Due: frontend

update code
  frontend/src/app/settings/page.tsx
  frontend/src/components/ActionButton.tsx
Due: frontend

fix button
  frontend/src/app/settings/page.tsx
Due: frontend

fix buttons
  frontend/src/app/settings/page.tsx
Due: frontend

fix(docker): revert docker volume names
  docker-compose/local/compose.yaml
Due: none

feat(pre-commit): add compose volume name check
  .github/scripts/check-compose-volumes.py
  .pre-commit-config.yaml
Due: none

feat(pre-commit): handle long syntax volumes and fail on missing compose files
  .github/scripts/check-compose-volumes.py
Due: none

fix(pre-commit): check type = volume for long form syntax
  .github/scripts/check-compose-volumes.py
Due: none

add review dashboard related changes
  backend/apps/owasp/api/internal/nodes/board_candidate_claim.py
  backend/apps/owasp/api/internal/nodes/board_of_directors.py
  backend/apps/owasp/api/internal/queries/board_candidate_claim.py
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
  frontend/src/app/board/[year]/review/page.tsx
  frontend/src/components/ClaimActions.tsx
  frontend/src/server/mutations/reviewMutations.ts
  frontend/src/server/queries/claimQueries.ts
  frontend/src/server/queries/reviewQueries.ts
  frontend/src/types/__generated__/claimQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/reviewMutations.generated.ts
  frontend/src/types/__generated__/reviewQueries.generated.ts
Due: backend, frontend

chore(deps): upgrade @heroui/react to v3
  frontend/__tests__/unit/components/BreadCrumbs.test.tsx
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/__tests__/unit/components/PageLayout.test.tsx
  frontend/__tests__/unit/components/ProjectsDashboardDropDown.test.tsx
  frontend/__tests__/unit/components/forms/shared/FormDateInput.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/__tests__/unit/pages/ProjectsHealthDashboardMetrics.test.tsx
  frontend/jest.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/src/app/projects/dashboard/metrics/page.tsx
  frontend/src/components/BreadCrumbs.tsx
  frontend/src/components/BreadCrumbsWrapper.tsx
  frontend/src/components/ModuleForm.tsx
  frontend/src/components/ProjectsDashboardDropDown.tsx
  frontend/src/components/ProjectsDashboardNavBar.tsx
  frontend/src/components/forms/shared/FormDateInput.tsx
  frontend/src/components/forms/shared/FormTextInput.tsx
  frontend/src/wrappers/provider.tsx
Due: frontend

chore(deps): upgrade @heroui/react to v3
  frontend/__tests__/unit/components/ProjectsDashboardDropDown.test.tsx
  frontend/src/components/ProjectsDashboardDropDown.tsx
Due: frontend

chore: fix eslint config and test mocks for heroui v3
  eslint.config.mjs
  frontend/__tests__/a11y/components/ChapterMap.a11y.test.tsx
  frontend/__tests__/unit/components/ChapterMap.test.tsx
  frontend/__tests__/unit/components/EntityActions.test.tsx
  frontend/__tests__/unit/components/HealthMetrics.test.tsx
  frontend/__tests__/unit/components/IssuesTable.test.tsx
  frontend/__tests__/unit/components/ModuleCard.test.tsx
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/__tests__/unit/components/ProgramCard.test.tsx
  frontend/__tests__/unit/components/ProjectsDashboardDropDown.test.tsx
  frontend/__tests__/unit/components/UserCard.test.tsx
  frontend/__tests__/unit/components/forms/shared/FormDateInput.test.tsx
  frontend/__tests__/unit/pages/ApiKeysPage.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/__tests__/unit/pages/Header.test.tsx
  frontend/__tests__/unit/pages/ProjectsHealthDashboardMetrics.test.tsx
  frontend/jest.config.ts
  frontend/src/components/ModuleForm.tsx
  frontend/src/components/ProjectsDashboardNavBar.tsx
  frontend/src/components/forms/shared/FormDateInput.tsx
  frontend/src/components/forms/shared/FormTextInput.tsx
  frontend/src/wrappers/provider.tsx
Due: frontend

fix: address post-migration CI issues and coderabbit feedback
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/globals.css
  frontend/src/app/projects/dashboard/metrics/page.tsx
  frontend/src/components/ModuleForm.tsx
  frontend/src/components/ProjectsDashboardNavBar.tsx
  frontend/src/components/forms/shared/FormDateInput.tsx
  frontend/src/components/forms/shared/FormTextInput.tsx
  frontend/tailwind.config.mjs
Due: frontend

chore(deps): add @heroui/styles@3.2.2 to minimumReleaseAgeExclude
  frontend/pnpm-workspace.yaml
Due: frontend

chore(deps): align @heroui/styles version to 3.2.1 in workspace
  frontend/pnpm-workspace.yaml
Due: frontend

fix: remove role=button from DropdownTrigger div to prevent nested interactive
  frontend/src/components/ProjectsDashboardDropDown.tsx
Due: frontend

fix: restore component styling after heroui v3 migration
  frontend/src/components/BreadCrumbs.tsx
  frontend/src/components/ModuleForm.tsx
  frontend/src/components/ProjectsDashboardDropDown.tsx
  frontend/src/components/forms/shared/FormDateInput.tsx
  frontend/src/components/forms/shared/FormTextInput.tsx
Due: frontend

fix: migrate FormButtons from @heroui/button v2 to @heroui/react v3
  frontend/src/components/forms/shared/FormButtons.tsx
Due: frontend

fix: align @heroui/styles to 3.2.2 and remove duplicate testid in mocks
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

fix: address coderabbit and cubic bot feedback for heroui v3 migration
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/__tests__/unit/components/forms/shared/FormDateInput.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/src/components/ModuleForm.tsx
  frontend/src/components/ProjectsDashboardDropDown.tsx
Due: frontend

fix: prettier formatting in ProjectsDashboardDropDown
  frontend/src/components/ProjectsDashboardDropDown.tsx
Due: frontend

fix(check): improve compose volume check to cover service mounts and long syntax
  .github/scripts/check-compose-volumes.py
  .pre-commit-config.yaml
Due: none

fix(check): clean up compose volume check per reviewer feedback
  .github/scripts/check-compose-volumes.py
Due: none

Update code
  .mkdocs.yaml
  docs/maintenance/README.md
Due: none

add dependency maintenance documentation section (#5279)
  .mkdocs.yaml
  docs/maintenance/README.md
Due: none

update code
  frontend/__tests__/a11y/pages/SettingsPage.a11y.test.tsx
  frontend/__tests__/mockData/mockSubscriptionData.ts
  frontend/__tests__/unit/pages/SettingsPage.test.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/server/queries/committeeQueries.ts
  frontend/src/server/queries/subscriptionQueries.ts
  frontend/src/types/__generated__/committeeQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/subscriptionQueries.generated.ts
Due: frontend

fix sonar issue
  frontend/src/app/settings/page.tsx
Due: frontend

docs: live reload, src layout, and shared Ruff config
  .mkdocs.yaml
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/scripts/fetch_nest_dump.py
  backend/scripts/upload_nest_dump.py
  backend/tests/unit/scripts/common_test.py
  backend/tests/unit/scripts/fetch_nest_dump_test.py
  backend/tests/unit/scripts/upload_nest_dump_test.py
  cspell/custom-dict.txt
  docker-compose/local/compose.yaml
  docker/docs/Dockerfile.tests
  docs/Makefile
  docs/make/maintenance.mk
  docs/make/test.mk
  docs/poetry.lock
  docs/pyproject.toml
  docs/serve.py
  docs/src/README.md
  docs/src/api/README.md
  docs/src/assets/images/nest-architecture.png
  docs/src/assets/images/owasp_icon_white_sm.png
  docs/src/backend/README.md
  docs/src/code-of-conduct.md
  docs/src/contributing.md
  docs/src/frontend/README.md
  docs/src/nestbot/README.md
  docs/src/schema/README.md
  docs/tests/serve_test.py
  frontend/README.md
  infrastructure/pyproject.toml
  infrastructure/scripts/commands.py
  infrastructure/scripts/localstack.py
  infrastructure/scripts/terraform_tests.py
  infrastructure/tests/scripts/commands_test.py
  infrastructure/tests/scripts/localstack_test.py
  infrastructure/tests/scripts/runner_test.py
  infrastructure/tests/scripts/terraform_tests_test.py
  make/help.mk
  ruff.toml
Due: backend, frontend

Update code
  docker/docs/Dockerfile.tests
Due: none

Update code
  .mkdocs.yaml
  CONTRIBUTING.md
  docs/serve.py
  docs/src/api/index.md
  docs/src/assets/images/favicon.png
  docs/src/backend/index.md
  docs/src/frontend/index.md
  docs/src/index.md
  docs/src/maintenance/index.md
  docs/src/nestbot/index.md
  docs/src/schema/index.md
  docs/tests/serve_test.py
Due: none

Update code
  docker/docs/Dockerfile.tests
  docs/serve.py
  docs/tests/serve_test.py
Due: none

fix: correct Button variant and remove nested interactive in dropdown
  frontend/src/components/ProjectsDashboardDropDown.tsx
  frontend/src/components/forms/shared/FormButtons.tsx
Due: frontend

fix: address coderabbit and cubic feedback for heroui v3 migration
  frontend/__tests__/unit/components/BreadCrumbs.test.tsx
  frontend/__tests__/unit/components/ProjectsDashboardDropDown.test.tsx
  frontend/src/components/BreadCrumbsWrapper.tsx
  frontend/src/components/ModuleForm.tsx
  frontend/src/components/ProjectsDashboardDropDown.tsx
  frontend/src/components/forms/shared/FormButtons.tsx
  frontend/src/components/forms/shared/FormDateInput.tsx
  frontend/src/components/forms/shared/FormTextInput.tsx
  frontend/src/wrappers/provider.tsx
Due: frontend

fix: simplify breadcrumbs test selector and remove redundant dropdown trigger semantics
  frontend/__tests__/unit/components/BreadCrumbs.test.tsx
  frontend/src/components/ProjectsDashboardDropDown.tsx
Due: frontend

feat: add email service abstraction layer
  backend/apps/owasp/services/email/__init__.py
  backend/apps/owasp/services/email/base.py
  backend/apps/owasp/services/email/django_email.py
  backend/apps/owasp/services/email/factory.py
  backend/src/settings/base.py
  backend/tests/unit/apps/owasp/services/__init__.py
  backend/tests/unit/apps/owasp/services/email/__init__.py
  backend/tests/unit/apps/owasp/services/email/base_test.py
  backend/tests/unit/apps/owasp/services/email/django_email_test.py
  backend/tests/unit/apps/owasp/services/email/factory_test.py
Due: backend
