Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

update code
  backend/apps/ai/query_analyzer.py
Due: backend

bot suggestion
  backend/apps/ai/query_analyzer.py
Due: backend

fix port
  docker-compose/local/compose.yaml
Due: none

Run make update
  backend/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

update docker volume name
  docker-compose/local/compose.yaml
Due: none

fix tests
  backend/tests/apps/slack/commands/gsoc_test.py
Due: backend

update frontend
  frontend/__tests__/unit/components/MembersFilter.test.tsx
  frontend/__tests__/unit/pages/Users.test.tsx
  frontend/src/app/members/page.tsx
  frontend/src/components/MembersFilter.tsx
  frontend/src/components/SearchPageLayout.tsx
  frontend/src/hooks/useSearchPage.ts
  frontend/src/server/fetchAlgoliaData.ts
  frontend/src/types/user.ts
  frontend/src/utils/sortingOptions.ts
Due: frontend

add filter options in backend
  backend/apps/common/index.py
  backend/apps/common/management/commands/algolia_update_replicas.py
  backend/apps/core/utils/index.py
  backend/apps/github/index/registry/user.py
  backend/apps/github/models/mixins/user.py
  backend/tests/apps/common/management/commands/algolia_update_replicas_test.py
  backend/tests/apps/core/utils/match_test.py
  backend/tests/apps/github/index/registry/user_test.py
  backend/tests/apps/github/models/mixins/user_test.py
Due: backend

Update docker Volumes Names (#4305)
  backend/tests/apps/slack/commands/gsoc_test.py
  docker-compose/local/compose.yaml
Due: backend

update code and apply suggestions
  backend/apps/github/models/mixins/user.py
  backend/tests/apps/github/models/mixins/user_test.py
  frontend/__tests__/unit/components/MembersFilter.test.tsx
  frontend/__tests__/unit/pages/Users.test.tsx
  frontend/src/components/MembersFilter.tsx
  frontend/src/types/user.ts
Due: backend, frontend

apply code-rabbit
  backend/apps/github/index/registry/user.py
  backend/apps/github/models/mixins/user.py
  cspell/custom-dict.txt
  frontend/src/app/members/page.tsx
  frontend/src/components/MembersFilter.tsx
Due: backend, frontend

update code
  backend/apps/github/models/mixins/user.py
  backend/tests/apps/github/index/registry/user_test.py
  backend/tests/apps/github/models/mixins/user_test.py
  frontend/__tests__/a11y/components/MembersFilter.a11y.test.tsx
  frontend/__tests__/a11y/pages/Users.a11y.test.tsx
  frontend/__tests__/unit/components/MembersFilter.test.tsx
  frontend/src/components/MembersFilter.tsx
Due: backend, frontend

Improve GraphQL client error message and onboarding guidance
  frontend/package-lock.json
  frontend/src/wrappers/provider.tsx
  package-lock.json
Due: frontend

Add overflow-hidden and rounded-lg to ChapterMap section
  frontend/src/components/ChapterMap.tsx
Due: frontend

fix(page): improve spacing in mobile stats card layout
  frontend/src/app/page.tsx
Due: frontend

Run make update
  .pre-commit-config.yaml
  backend/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Run make-check
  frontend/src/app/page.tsx
Due: frontend

Enhancement: Improve statistics cards spacing on mobile (#4315)
  frontend/src/app/page.tsx
Due: frontend

Update code
  .github/workflows/run-ci-cd.yaml
  .github/workflows/setup-backend-environment/action.yaml
  CONTRIBUTING.md
  backend/.dockerignore
  docker-compose/e2e/compose.yaml
  docker/frontend/Dockerfile
  docker/frontend/Dockerfile.e2e.test
  frontend/.dockerignore
  frontend/.env.e2e.example
  frontend/Makefile
  frontend/__tests__/e2e/package.json
  frontend/__tests__/e2e/pages/Chapters.spec.ts
  frontend/__tests__/e2e/pages/CommitteeDetails.spec.ts
  frontend/__tests__/e2e/pages/Committees.spec.ts
  frontend/__tests__/e2e/pages/Contribute.spec.ts
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/__tests__/e2e/pages/Login.spec.ts
  frontend/__tests__/e2e/pages/OrganizationDetails.spec.ts
  frontend/__tests__/e2e/pages/ProjectHealthDashboardMetricsDetails.spec.ts
  frontend/__tests__/e2e/pages/Projects.spec.ts
  frontend/__tests__/e2e/pages/ProjectsHealthDashboardMetrics.spec.ts
  frontend/__tests__/e2e/pages/ProjectsHealthDashboardOverview.spec.ts
  frontend/__tests__/e2e/pages/RepositoryDetails.spec.ts
  frontend/__tests__/e2e/pages/UserDetails.spec.ts
  frontend/__tests__/e2e/pages/Users.spec.ts
  frontend/next.config.ts
Due: backend, frontend

Migrate e2e tests to use backend instead of mock data (#3591)
  .github/workflows/run-ci-cd.yaml
  .github/workflows/setup-backend-environment/action.yaml
  CONTRIBUTING.md
  backend/.dockerignore
  cspell/custom-dict.txt
  docker-compose/e2e/compose.yaml
  docker/frontend/Dockerfile
  docker/frontend/Dockerfile.e2e.test
  frontend/.dockerignore
  frontend/.env.e2e.example
  frontend/Makefile
  frontend/__tests__/e2e/components/Footer.spec.ts
  frontend/__tests__/e2e/components/Header.spec.ts
  frontend/__tests__/e2e/data/mockHomeData.ts
  frontend/__tests__/e2e/package.json
  frontend/__tests__/e2e/pages/About.spec.ts
  frontend/__tests__/e2e/pages/CalendarButton.spec.ts
  frontend/__tests__/e2e/pages/ChapterDetails.spec.ts
  frontend/__tests__/e2e/pages/Chapters.spec.ts
  frontend/__tests__/e2e/pages/CommitteeDetails.spec.ts
  frontend/__tests__/e2e/pages/Committees.spec.ts
  frontend/__tests__/e2e/pages/Contribute.spec.ts
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/__tests__/e2e/pages/Login.spec.ts
  frontend/__tests__/e2e/pages/OrganizationDetails.spec.ts
  frontend/__tests__/e2e/pages/Organizations.spec.ts
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
  frontend/__tests__/e2e/pages/ProjectHealthDashboardMetricsDetails.spec.ts
  frontend/__tests__/e2e/pages/Projects.spec.ts
  frontend/__tests__/e2e/pages/ProjectsHealthDashboardMetrics.spec.ts
  frontend/__tests__/e2e/pages/RepositoryDetails.spec.ts
  frontend/__tests__/e2e/pages/UserDetails.spec.ts
  frontend/__tests__/e2e/pages/Users.spec.ts
  frontend/__tests__/e2e/pnpm-lock.yaml
  frontend/next.config.ts
  frontend/package.json
  frontend/playwright.config.ts
Due: backend, frontend

Update code
  frontend/__tests__/unit/components/ChapterMap.test.tsx
  frontend/src/components/ChapterMap.tsx
Due: frontend

Fix frequent map locking on landing page (#4301)
  frontend/src/components/ChapterMap.tsx
Due: frontend

fix(ui): remove white artifacts from map corners in dark mode
  frontend/src/app/globals.css
  frontend/src/components/ChapterMap.tsx
Due: frontend

update sub_queries map to match agents
  backend/apps/ai/flows/assistant.py
  backend/apps/ai/query_analyzer.py
  backend/apps/ai/templates/query_analyzer/tasks/analyze.jinja
Due: backend

extract variable AGENT_SEPARATOR
  backend/apps/ai/query_analyzer.py
Due: backend

bot suggestions
  backend/apps/ai/query_analyzer.py
  backend/apps/ai/templates/query_analyzer/tasks/analyze.jinja
Due: backend

fix: check map container existence to prevent _leaflet_pos TypeError
  frontend/src/components/ChapterMap.tsx
Due: frontend

fix: handle _leaflet_pos TypeError on chapters map
  frontend/src/components/ChapterMap.tsx
Due: frontend

fix: add consistent null checks for map container in cleanup and MapViewUpdater
  frontend/src/components/ChapterMap.tsx
Due: frontend

fix: remove stray character in ChapterMap
  frontend/src/components/ChapterMap.tsx
Due: frontend

fix: wrap MapViewUpdater operations in try/catch to prevent unmount errors
  frontend/src/components/ChapterMap.tsx
Due: frontend

fix: properly close useEffect dependency array in MapViewUpdater
  frontend/src/components/ChapterMap.tsx
Due: frontend

Fix map relock behavior on true pointer exit
  frontend/__tests__/unit/components/ChapterMap.test.tsx
  frontend/src/components/ChapterMap.tsx
Due: frontend

Stabilize map pointer boundary test
  frontend/__tests__/unit/components/ChapterMap.test.tsx
Due: frontend

fix(ai): improve Slack interaction UX flow
  backend/apps/slack/commands/ai.py
  backend/apps/slack/events/app_mention.py
  backend/apps/slack/events/message_posted.py
  backend/apps/slack/services/message_auto_reply.py
Due: backend

Run make update
  .pre-commit-config.yaml
  backend/poetry.lock
  docs/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

fix(slack): NestBot interaction UX and long AI replies
  backend/apps/slack/blocks.py
  backend/apps/slack/commands/ai.py
  backend/apps/slack/common/handlers/ai.py
  backend/apps/slack/events/app_mention.py
  backend/apps/slack/events/message_posted.py
  backend/apps/slack/services/message_auto_reply.py
  backend/apps/slack/utils.py
  backend/tests/apps/slack/blocks_test.py
  backend/tests/apps/slack/common/handlers/ai_test.py
  backend/tests/apps/slack/services/message_auto_reply_test.py
Due: backend

fix(slack): NestBot auto-reply formats answers without a second LLM call
  backend/apps/slack/common/handlers/ai.py
  backend/apps/slack/services/message_auto_reply.py
  backend/apps/slack/utils.py
  backend/tests/apps/slack/common/handlers/ai_test.py
  backend/tests/apps/slack/services/message_auto_reply_test.py
Due: backend

fix(slack): NestBot async UX, Slack-safe replies, and tests
  backend/apps/slack/blocks.py
  backend/apps/slack/common/handlers/ai.py
  backend/apps/slack/events/app_mention.py
  backend/apps/slack/events/message_posted.py
  backend/apps/slack/services/message_auto_reply.py
  backend/apps/slack/utils.py
  backend/tests/apps/slack/blocks_test.py
  backend/tests/apps/slack/commands/ai_test.py
  backend/tests/apps/slack/common/handlers/ai_test.py
  backend/tests/apps/slack/events/app_mention_test.py
  backend/tests/apps/slack/events/message_posted_test.py
  backend/tests/apps/slack/services/message_auto_reply_test.py
  backend/tests/apps/slack/utils_test.py
Due: backend

Update NestBot messages
  backend/apps/slack/templates/events/member_joined_channel/contribute/ephemeral_message.jinja
  backend/apps/slack/templates/events/member_joined_channel/project_nest/ephemeral_message.jinja
Due: backend
