Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

feat(o11y): export project GitHub stats to VictoriaMetrics with history (#5214)
  backend/src/apps/observability/management/__init__.py
  backend/src/apps/observability/management/commands/__init__.py
  backend/src/apps/observability/management/commands/otel_export_project_metrics.py
  backend/src/settings/base.py
  backend/tests/unit/apps/observability/management/__init__.py
  backend/tests/unit/apps/observability/management/commands/__init__.py
  backend/tests/unit/apps/observability/management/commands/otel_export_project_metrics_test.py
  docker-compose/local/compose.o11y.yaml
Due: backend

feat(o11y): add RQ worker custom metrics (#5272)
  backend/src/apps/observability/metrics.py
  backend/src/apps/slack/services/message_auto_reply.py
  backend/tests/unit/apps/observability/metrics_test.py
  docker-compose/local/compose.o11y.yaml
Due: backend

Optimize MemberSnapshotNode (#5258)
  backend/src/apps/common/api/internal/dataloaders/utils.py
  backend/src/apps/owasp/api/internal/dataloaders/__init__.py
  backend/src/apps/owasp/api/internal/dataloaders/member_snapshot.py
  backend/src/apps/owasp/api/internal/nodes/member_snapshot.py
  backend/tests/unit/apps/common/api/internal/dataloaders/utils_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/member_snapshot_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/member_snapshot_test.py
Due: backend

Optimize OWASP SnapshotNode (#5273)
  backend/src/apps/common/api/internal/dataloaders/utils.py
  backend/src/apps/mentorship/api/internal/dataloaders/admin.py
  backend/src/apps/owasp/api/internal/dataloaders/__init__.py
  backend/src/apps/owasp/api/internal/dataloaders/project.py
  backend/src/apps/owasp/api/internal/dataloaders/snapshot.py
  backend/src/apps/owasp/api/internal/nodes/snapshot.py
  backend/tests/unit/apps/common/api/internal/dataloaders/utils_test.py
  backend/tests/unit/apps/mentorship/api/internal/dataloaders/admin_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/dataloaders_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/project_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/snapshot_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/snapshot_test.py
Due: backend

Optimize top_contributors query in ProjectNode (#5335)
  backend/src/apps/common/api/internal/dataloaders/utils.py
  backend/src/apps/github/api/internal/dataloaders/issue.py
  backend/src/apps/github/api/internal/dataloaders/milestone.py
  backend/src/apps/github/api/internal/dataloaders/pull_request.py
  backend/src/apps/github/api/internal/dataloaders/release.py
  backend/src/apps/github/api/internal/dataloaders/repository.py
  backend/src/apps/github/api/internal/dataloaders/repository_contributor.py
  backend/src/apps/github/api/internal/nodes/repository.py
  backend/src/apps/mentorship/api/internal/nodes/program.py
  backend/src/apps/owasp/api/internal/dataloaders/committee.py
  backend/src/apps/owasp/api/internal/dataloaders/project.py
  backend/src/apps/owasp/api/internal/nodes/committee.py
  backend/src/apps/owasp/api/internal/nodes/project.py
  backend/tests/unit/apps/common/api/internal/dataloaders/utils_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/issue_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/milestone_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/pull_request_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/release_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/repository_contributor_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/repository_test.py
  backend/tests/unit/apps/github/api/internal/nodes/repository_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/committee_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/project_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/committee_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/project_test.py
Due: backend

Document backend test env setup in AGENTS.md
  AGENTS.md
Due: none

Document host-side checks and tests in AGENTS.md
  AGENTS.md
Due: none

Document host toolchain prerequisites in AGENTS.md
  AGENTS.md
Due: none

add o11y terraform module
  infrastructure/live/main.tf
  infrastructure/live/variables.tf
  infrastructure/modules/observability/main.tf
  infrastructure/modules/observability/outputs.tf
  infrastructure/modules/observability/variables.tf
Due: none

make check
  infrastructure/live/README.md
  infrastructure/modules/observability/README.md
Due: none

Document native Windows quirks in AGENTS.md
  AGENTS.md
Due: none

Document host-side e2e, fuzz, and security scan guides
  AGENTS.md
Due: none

cleanup code
  backend/src/apps/owasp/management/commands/owasp_generate_board_candidates_claims.py
  backend/tests/unit/apps/owasp/management/commands/owasp_generate_board_candidates_claims_test.py
Due: backend

generate claims even if they exist
  backend/src/apps/owasp/management/commands/owasp_generate_board_candidates_claims.py
  backend/tests/unit/apps/owasp/management/commands/owasp_generate_board_candidates_claims_test.py
Due: backend

Bump check-contribution-action to v0.1.7 Signed-off-by: Arkadii Yakovets <arkadii.yakovets@owasp.org>
  .github/workflows/check-contribution.yaml
Due: none

Bump check-contribution-action to v0.1.7 (#5343)
  .github/workflows/check-contribution.yaml
Due: none

add test
  infrastructure/modules/observability/tests/unit.tftest.hcl
Due: none

fix: address #5121 - Frontend container hangs indefinitely
  docker-compose/local/compose.yaml
  frontend/__tests__/unit/pages/Home.test.tsx
  frontend/src/app/page.tsx
Due: frontend

Clean up nginx leftovers Signed-off-by: Arkadii Yakovets <arkadii.yakovets@owasp.org>
  frontend/nginx.conf
  make/security.mk
Due: frontend

Added test
  frontend/__tests__/mockData/mockCertificateData.ts
  frontend/__tests__/unit/components/ActionButton.test.tsx
  frontend/__tests__/unit/components/CertificateCard.test.tsx
  frontend/__tests__/unit/components/UserMenu.test.tsx
  frontend/__tests__/unit/pages/CertificateVerificationPage.test.tsx
  frontend/__tests__/unit/pages/MyCertificatePage.test.tsx
  frontend/jest.config.ts
  frontend/src/app/certificate/page.tsx
  frontend/src/components/CertificateCard.tsx
Due: frontend

Clean up nginx leftovers (#5347)
  frontend/nginx.conf
  make/security.mk
Due: frontend

Address the review
  frontend/__tests__/unit/components/CertificateCard.test.tsx
  frontend/__tests__/unit/components/UserMenu.test.tsx
  frontend/__tests__/unit/pages/MyCertificatePage.test.tsx
  frontend/src/components/CertificateCard.tsx
Due: frontend

fix code
  backend/src/apps/owasp/admin/entity_subscription.py
  backend/src/apps/owasp/api/internal/mutations/entity_subscription.py
  backend/src/apps/owasp/migrations/0076__add_entity_subscription_models.py
  backend/tests/unit/apps/owasp/api/internal/mutations/entity_subscription_test.py
Due: backend

chore(deps): migrate frontend to TypeScript 7 and Next.js 16.2.12
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/tsconfig.json
Due: frontend

chore(deps): enable experimental.useTypeScriptCli for TypeScript 7 compatibility
  frontend/next.config.ts
Due: frontend

chore: revert auditConfig change in frontend pnpm-workspace.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  frontend/pnpm-workspace.yaml
Due: frontend

chore(deps): migrate frontend to TypeScript 7 and Next.js 16.2.12 (#5350)
  frontend/next.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/tsconfig.json
Due: frontend

Added input validation
  backend/src/apps/owasp/api/internal/nodes/certificate.py
  backend/src/apps/owasp/api/internal/queries/certificate.py
  backend/src/apps/owasp/models/crp/certificate.py
Due: backend

adress review
  backend/src/apps/owasp/api/internal/queries/certificate.py
Due: backend

Added test for backend
  backend/src/apps/owasp/utils/score_calculator.py
  backend/tests/unit/apps/owasp/api/internal/nodes/certificate_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/certificate_test.py
  backend/tests/unit/apps/owasp/management/commands/owasp_crp_recalculate_scores_test.py
  backend/tests/unit/apps/owasp/models/crp/certificate_test.py
  backend/tests/unit/apps/owasp/models/crp/contribution_score_test.py
  backend/tests/unit/apps/owasp/models/crp/leaderboard_snapshot_test.py
  backend/tests/unit/apps/owasp/models/crp/scoring_weight_test.py
  backend/tests/unit/apps/owasp/utils/certificate_provider_test.py
  backend/tests/unit/apps/owasp/utils/score_calculator_test.py
Due: backend

adress review
  backend/src/apps/owasp/utils/score_calculator.py
  backend/tests/unit/apps/owasp/api/internal/nodes/certificate_test.py
  backend/tests/unit/apps/owasp/management/commands/owasp_crp_recalculate_scores_test.py
  backend/tests/unit/apps/owasp/models/crp/__init__.py
  backend/tests/unit/apps/owasp/models/crp/certificate_test.py
  backend/tests/unit/apps/owasp/models/crp/leaderboard_snapshot_test.py
  backend/tests/unit/apps/owasp/models/crp/scoring_weight_test.py
  backend/tests/unit/apps/owasp/utils/score_calculator_test.py
Due: backend

Update code with bot suggestions
  infrastructure/modules/observability/README.md
  infrastructure/modules/observability/main.tf
  infrastructure/modules/observability/tests/unit.tftest.hcl
  infrastructure/modules/observability/variables.tf
Due: none

Update code
  infrastructure/modules/observability/variables.tf
Due: none

Update sid
  infrastructure/bootstrap/main.tf
Due: none

move staging specific variables under staging tests
  infrastructure/bootstrap/tests/integration.tftest.hcl
Due: none

remove constraint details from the description
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/variables.tf
Due: none

fix error_message to be consistent with repository conventions
  infrastructure/bootstrap/variables.tf
Due: none
