Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 80%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

fix: address security vuln, runtime FieldError, and restore test assertions
  backend/apps/api/rest/v0/event.py
  backend/tests/apps/api/rest/v0/event_test.py
  backend/tests/apps/api/rest/v0/repository_test.py
  frontend/pnpm-lock.yaml
Due: backend, frontend

fix tests
  backend/tests/apps/ai/common/utils_test.py
Due: backend

Update code
  backend/settings/base.py
Due: backend

docs: refactor mkdocs & overview files
  .pre-commit-config.yaml
  README.md
  backend/apps/api/README.md
  backend/apps/slack/README.md
  docker-compose/local/compose.yaml
  docs/api/overview.md
  docs/code-of-conduct.md
  docs/contributing.md
  docs/index.md
  docs/nestbot/overview.md
  docs/schema/overview.md
  docs/sdks/overview.md
  mkdocs.yaml
Due: backend

update code
  .pre-commit-config.yaml
Due: none

Done
  CONTRIBUTING.md
  Makefile
  backend/Makefile
  package-lock.json
Due: backend

Done
  package-lock.json
Due: none

feat: add automated make help
  CONTRIBUTING.md
  Makefile
  backend/Makefile
  cspell/Makefile
  frontend/Makefile
  infrastructure/Makefile
Due: backend, frontend

docs: add local GitHub OAuth setup instructions to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Apply suggestion from @cubic-dev-ai[bot]
  Makefile
Due: none

Apply suggestion from @coderabbitai[bot]
  Makefile
Due: none

fix: add cursor-pointer to avatar and sign-out button (#4084)
  frontend/src/components/UserMenu.tsx
Due: frontend

fix: apply pointer cursor to clickable controls globally
  backend/static/css/app.css
  frontend/src/app/globals.css
  frontend/src/components/UserMenu.tsx
Due: backend, frontend

Replace Community dropdown with single link to /community page
  frontend/__tests__/unit/components/Header.test.tsx
  frontend/__tests__/unit/pages/Community.test.tsx
  frontend/src/app/community/page.tsx
  frontend/src/utils/constants.ts
Due: frontend

fix: address CodeRabbit review feedback
  frontend/__tests__/unit/pages/Community.test.tsx
  frontend/src/app/community/page.tsx
Due: frontend

fix: address CodeRabbit review feedback 2
  frontend/__tests__/unit/pages/Community.test.tsx
Due: frontend

Title: Update troubleshooting about nest-frontend OOM issue
  CONTRIBUTING.md
Due: none

Title: Clarify wording
  CONTRIBUTING.md
Due: none

Add make help target with self-documenting Makefile comments
  CONTRIBUTING.md
  Makefile
  backend/Makefile
  cspell/Makefile
  frontend/Makefile
  infrastructure/Makefile
Due: backend, frontend

fix/backslash errors
  CONTRIBUTING.md
  Makefile
  frontend/Makefile
Due: frontend

fix/unnecessary and creates syntactic confusion.
  Makefile
Due: none

d
  Makefile
  backend/Makefile
  cspell/Makefile
  frontend/Makefile
  infrastructure/Makefile
Due: backend, frontend

feat/cache-fix
  frontend/src/server/fetchCsrfTokenServer.ts
Due: frontend

fix/Add-update-to-.PHONY-declaration.
  Makefile
Due: none

fix
  Makefile
  frontend/Makefile
Due: frontend

feat: implement ZAP recommended security headers in frontend and backend
  backend/settings/base.py
  backend/settings/local.py
  frontend/next.config.ts
Due: backend, frontend

feat/move-main-page-search-bar
  frontend/src/app/chapters/page.tsx
  frontend/src/app/committees/page.tsx
  frontend/src/app/contribute/page.tsx
  frontend/src/app/members/page.tsx
  frontend/src/app/mentorship/programs/page.tsx
  frontend/src/app/my/mentorship/page.tsx
  frontend/src/app/organizations/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/projects/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/MultiSearch.tsx
  frontend/src/components/SearchPageLayout.tsx
  frontend/src/types/search.ts
Due: frontend

Fixed staging error
  frontend/next.config.ts
  infrastructure/modules/alb/main.tf
Due: frontend

fix cubic-dev-ai review
  frontend/next.config.ts
Due: frontend

fix: update pnpm lockfile
  frontend/pnpm-lock.yaml
Due: frontend

fix: address reviewer feedback for Google Gemini integration
  backend/apps/ai/common/utils.py
  backend/apps/ai/embeddings/google.py
Due: backend

Sync frontend lockfile with OWASP main
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

feat: add country filter and sort to chapters
  backend/apps/common/index.py
  backend/apps/common/management/commands/algolia_update_replicas.py
  backend/apps/core/utils/index.py
  backend/apps/owasp/index/registry/chapter.py
  backend/tests/apps/common/management/commands/algolia_update_replicas_test.py
  backend/tests/apps/core/utils/match_test.py
  backend/tests/apps/owasp/index/registry/chapter_test.py
  frontend/__tests__/mockData/mockChapterData.ts
  frontend/__tests__/unit/pages/Chapters.test.tsx
  frontend/__tests__/unit/pages/Contribute.test.tsx
  frontend/src/app/chapters/page.tsx
  frontend/src/components/SearchPageLayout.tsx
  frontend/src/hooks/useSearchPage.ts
  frontend/src/types/chapter.ts
  frontend/src/utils/sortingOptions.ts
Due: backend, frontend

fix issues
  frontend/src/app/chapters/page.tsx
  frontend/src/hooks/useSearchPage.ts
Due: frontend

fix issue
  frontend/src/app/chapters/page.tsx
Due: frontend

fix comments
  frontend/src/app/chapters/page.tsx
Due: frontend

fix comment
  frontend/src/app/chapters/page.tsx
Due: frontend

feat(docker): decouple NestBot service with separate container (#3939)
  backend/Makefile
  backend/apps/ai/Makefile
  backend/apps/ai/models/chunk.py
  backend/apps/slack/common/handlers/ai.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/apps/slack/common/handlers/ai_test.py
  docker-compose/local/compose.yaml
  docker/backend/Dockerfile
  docker/backend/Dockerfile.nestbot.local
Due: backend

fix: remove redundant tooltip and show placeholder for empty labels
  frontend/__tests__/unit/components/LabelList.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/components/LabelList.tsx
Due: frontend

fix: wrap empty labels placeholder in consistent container div
  frontend/src/components/LabelList.tsx
Due: frontend
