Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

fix: fix chapter tests by using domcontentloaded wait strategy
  e2e/pages/Chapters.spec.ts
Due: none

refactor: coderabbit suggestions
  e2e/pages/Chapters.spec.ts
Due: none

cherry pick claim related files
  backend/settings/graphql.py
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/create/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/app/board/[year]/candidates/page.tsx
  frontend/src/components/ClaimActions.tsx
  frontend/src/components/ClaimForm.tsx
  frontend/src/components/DropdownActions.tsx
  frontend/src/components/forms/shared/formValidationUtils.ts
  frontend/src/server/mutations/claimMutations.ts
  frontend/src/server/queries/boardQueries.ts
  frontend/src/server/queries/claimQueries.ts
  frontend/src/server/queries/evidenceQueries.ts
  frontend/src/types/__generated__/boardQueries.generated.ts
  frontend/src/types/__generated__/claimMutations.generated.ts
  frontend/src/types/__generated__/claimQueries.generated.ts
  frontend/src/types/__generated__/evidenceQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
Due: backend, frontend

Bump langsmith to v0.8.18
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
Due: backend

Update CodeQL workflow triggers
  .github/workflows/code-ql-actions.yaml
  .github/workflows/code-ql-javascript-typescript.yaml
  .github/workflows/code-ql-python.yaml
Due: none

display spinner when fetching data, show toast for reorder, fixes
  frontend/src/app/board/[year]/candidates/[login]/claims/create/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/app/board/[year]/candidates/page.tsx
  frontend/src/components/DropdownActions.tsx
Due: frontend

backend: update claim mutations to return claim object
  backend/apps/owasp/api/internal/mutations/board_candidate_claim.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_test.py
Due: backend

Fix comments
  backend/apps/owasp/api/internal/nodes/snapshot.py
  backend/tests/unit/apps/owasp/api/internal/nodes/snapshot_test.py
  frontend/src/app/community/snapshots/[id]/page.tsx
  frontend/src/components/ItemCardList.tsx
  frontend/src/components/RecentIssues.tsx
  frontend/src/components/RecentPullRequests.tsx
  frontend/src/server/queries/snapshotQueries.ts
  frontend/src/types/__generated__/snapshotQueries.generated.ts
  frontend/src/types/issue.ts
Due: backend, frontend

add single node VM locally
  CONTRIBUTING.md
  Makefile
  docker-compose/local/compose.yaml
Due: none

fix sonar issues
  frontend/src/components/RecentIssues.tsx
  frontend/src/components/RecentPullRequests.tsx
Due: frontend

Bump langsmith to v0.8.18 (#4997)
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
Due: backend

Pin opentelemetry/core to v2.8.0
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

Update CodeQL workflow triggers (#4998)
  .github/workflows/code-ql-actions.yaml
  .github/workflows/code-ql-javascript-typescript.yaml
  .github/workflows/code-ql-python.yaml
Due: none

Pin opentelemetry/core to v2.8.0 (#5000)
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

select claim/claims in mutations
  frontend/src/server/mutations/claimMutations.ts
  frontend/src/types/__generated__/claimMutations.generated.ts
  frontend/src/types/__generated__/graphql.ts
Due: frontend

avoid refetching queries on mutation, use returned claim object
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/create/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/components/ClaimActions.tsx
Due: frontend

add timeout to toasts
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/components/ClaimActions.tsx
Due: frontend

remove unused queries temporarily
  frontend/src/server/queries/evidenceQueries.ts
  frontend/src/types/__generated__/evidenceQueries.generated.ts
Due: frontend

reduce queries network calls by merging queries
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/server/queries/claimQueries.ts
  frontend/src/types/__generated__/claimQueries.generated.ts
Due: frontend

use status enum instead of strings
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/components/ClaimActions.tsx
Due: frontend

add claim type
  frontend/src/components/ClaimActions.tsx
  frontend/src/types/claim.ts
Due: frontend

backend: add has_evidence
  backend/apps/owasp/api/internal/nodes/board_candidate_claim.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_test.py
Due: backend

add has evidence label
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/server/queries/claimQueries.ts
  frontend/src/types/__generated__/claimQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/claim.ts
Due: frontend

add unit tests for bod dashboard page
  frontend/__tests__/unit/pages/BoardCandidatesPage.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/edit/page.tsx
Due: frontend

add tests
  frontend/__tests__/mockData/mockClaimData.ts
  frontend/__tests__/unit/pages/CandidateClaimsPage.test.tsx
  frontend/__tests__/unit/pages/ClaimDetailsPage.test.tsx
  frontend/__tests__/unit/pages/CreateClaimPage.test.tsx
  frontend/__tests__/unit/pages/EditClaimPage.test.tsx
Due: frontend

add e2e tests
  e2e/helpers/mockClaimAuth.ts
  e2e/pages/BoardCandidateClaimDetails.spec.ts
  e2e/pages/BoardCandidateClaims.spec.ts
Due: none

feat: basic eslint setup along with playwright plugin
  e2e/eslint.config.mjs
  e2e/package.json
  e2e/pnpm-lock.yaml
Due: none

refactor: coderabbit reports
  e2e/eslint.config.mjs
Due: none

undo backend change
  backend/settings/graphql.py
Due: backend

Update code
  backend/apps/common/api/internal/dataloaders/utils.py
  backend/apps/github/api/internal/nodes/issue.py
  backend/apps/mentorship/api/internal/dataloaders/__init__.py
  backend/apps/mentorship/api/internal/dataloaders/interested_users.py
  backend/tests/unit/apps/github/api/internal/nodes/issue_test.py
  backend/tests/unit/apps/mentorship/api/internal/dataloaders/__init__.py
  backend/tests/unit/apps/mentorship/api/internal/dataloaders/interested_users_test.py
Due: backend

Update code
  backend/apps/github/api/internal/dataloaders/__init__.py
  backend/apps/github/api/internal/nodes/issue.py
  backend/settings/graphql_context.py
  backend/tests/unit/apps/github/api/internal/dataloaders/__init__.py
  backend/tests/unit/apps/github/api/internal/nodes/issue_test.py
Due: backend

add makefile target for checking e2e and add ci cd pipeline for e2e linting
  .github/actions/install-e2e-dependencies/action.yaml
  .github/workflows/run-code-checks.yaml
  Makefile
  e2e/Makefile
Due: none

add lint-e2e-code to PHONY of e2e makefile
  .github/workflows/run-code-checks.yaml
  e2e/Makefile
Due: none

feat: prettier setup for e2e along with integration in makefile and ci cd
  .github/workflows/run-code-checks.yaml
  e2e/.prettierignore
  e2e/.prettierrc
  e2e/Makefile
  e2e/eslint.config.mjs
  e2e/package.json
  e2e/playwright.config.ts
  e2e/pnpm-lock.yaml
Due: none

bot comments
  e2e/helpers/mockClaimAuth.ts
  e2e/pages/BoardCandidateClaimDetails.spec.ts
  e2e/pages/BoardCandidateClaims.spec.ts
  frontend/__tests__/mockData/mockClaimData.ts
  frontend/__tests__/unit/pages/CandidateClaimsPage.test.tsx
  frontend/__tests__/unit/pages/ClaimDetailsPage.test.tsx
  frontend/__tests__/unit/pages/EditClaimPage.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/create/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/components/ClaimActions.tsx
  frontend/src/components/ClaimForm.tsx
  frontend/src/components/forms/shared/formValidationUtils.ts
Due: frontend

bot comments
  e2e/helpers/mockAuthCookies.ts
  e2e/helpers/mockClaimAuth.ts
  e2e/helpers/mockDashboardCookies.ts
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/server/mutations/claimMutations.ts
  frontend/src/types/__generated__/claimMutations.generated.ts
Due: frontend

improve skip condition
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/create/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
Due: frontend

backend: annotate has_evidence
  backend/apps/owasp/api/internal/nodes/board_candidate_claim.py
  backend/apps/owasp/api/internal/queries/board_candidate_claim.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_test.py
Due: backend

Format code
  e2e/pages/Chapters.spec.ts
Due: none

address review
  CONTRIBUTING.md
  Makefile
  docker-compose/local/compose.yaml
Due: none
