Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

Reorder
  .github/workflows/run-ci-cd.yaml
Due: none

Fix NestBot auto reply block rendering
  backend/apps/slack/services/message_auto_reply.py
  backend/tests/unit/apps/slack/services/message_auto_reply_test.py
Due: backend

Extend snapshot processing and GraphQL API for new entity types
  backend/apps/api/rest/v0/snapshot.py
  backend/apps/owasp/admin/snapshot.py
  backend/apps/owasp/api/internal/nodes/snapshot.py
  backend/apps/owasp/management/commands/owasp_process_snapshots.py
  backend/apps/owasp/migrations/0074_rename_snapshot_m2m_fields.py
  backend/apps/owasp/models/snapshot.py
  backend/tests/unit/apps/api/rest/v0/snapshot_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/snapshot_test.py
  backend/tests/unit/apps/owasp/management/commands/process_snapshots_test.py
  backend/tests/unit/apps/owasp/models/snapshot_test.py
  frontend/__tests__/mockData/mockSnapshotData.ts
  frontend/__tests__/unit/pages/SnapshotDetails.test.tsx
  frontend/src/app/community/snapshots/[id]/page.tsx
  frontend/src/server/queries/snapshotQueries.ts
  frontend/src/types/__generated__/EntityActions.generated.ts
  frontend/src/types/__generated__/aboutQueries.generated.ts
  frontend/src/types/__generated__/apiKeyQueries.generated.ts
  frontend/src/types/__generated__/authQueries.generated.ts
  frontend/src/types/__generated__/boardQueries.generated.ts
  frontend/src/types/__generated__/chapterQueries.generated.ts
  frontend/src/types/__generated__/committeeQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/homeQueries.generated.ts
  frontend/src/types/__generated__/issueQueries.generated.ts
  frontend/src/types/__generated__/menteeQueries.generated.ts
  frontend/src/types/__generated__/mentorshipQueries.generated.ts
  frontend/src/types/__generated__/moduleMutations.generated.ts
  frontend/src/types/__generated__/moduleQueries.generated.ts
  frontend/src/types/__generated__/organizationQueries.generated.ts
  frontend/src/types/__generated__/programsMutations.generated.ts
  frontend/src/types/__generated__/programsQueries.generated.ts
  frontend/src/types/__generated__/projectQueries.generated.ts
  frontend/src/types/__generated__/projectsHealthDashboardQueries.generated.ts
  frontend/src/types/__generated__/repositoryQueries.generated.ts
  frontend/src/types/__generated__/snapshotQueries.generated.ts
  frontend/src/types/__generated__/userQueries.generated.ts
  frontend/src/types/snapshot.ts
Due: backend, frontend

add graphql queries for candidate claim and evidence models
  backend/apps/owasp/api/internal/nodes/board_candidate_claim.py
  backend/apps/owasp/api/internal/nodes/board_candidate_claim_evidence.py
  backend/apps/owasp/api/internal/queries/__init__.py
  backend/apps/owasp/api/internal/queries/board_candidate_claim.py
  backend/apps/owasp/api/internal/queries/board_candidate_claim_evidence.py
Due: backend

add mutations for board candidate claims
  backend/apps/owasp/api/internal/mutations/__init__.py
  backend/apps/owasp/api/internal/mutations/board_candidate_claim.py
  backend/apps/owasp/models/board_of_directors.py
  backend/settings/graphql.py
Due: backend

add order and bulk_save
  backend/apps/owasp/migrations/0074_boardcandidateclaim_order.py
  backend/apps/owasp/models/board_candidate_claim.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_test.py
Due: backend

improve clean() method by only allowing non-draft claims
  backend/apps/owasp/models/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_evidence_test.py
Due: backend

add tests for queries
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_test.py
Due: backend

fix init
  backend/apps/owasp/api/internal/mutations/__init__.py
Due: backend

add validation to FileField
  backend/apps/owasp/migrations/0075_alter_boardcandidateclaimevidence_file.py
  backend/apps/owasp/models/board_candidate_claim_evidence.py
  backend/apps/owasp/validators.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/validators_test.py
Due: backend

remove duplicate strings
  backend/apps/owasp/api/internal/mutations/board_candidate_claim.py
Due: backend

add prefetch
  backend/apps/owasp/api/internal/mutations/board_candidate_claim.py
Due: backend

add reorder mutation
  backend/apps/owasp/api/internal/mutations/__init__.py
  backend/apps/owasp/api/internal/mutations/board_candidate_claim.py
  backend/apps/owasp/api/internal/nodes/board_candidate_claim.py
Due: backend

bot comment
  backend/apps/owasp/api/internal/queries/board_candidate_claim_evidence.py
Due: backend

add mime types
  cspell/custom-dict.txt
Due: none

fix content type missing being allowed
  backend/apps/owasp/validators.py
  backend/tests/unit/apps/owasp/validators_test.py
Due: backend

refactor reordering logic to a function
  backend/apps/owasp/api/internal/mutations/board_candidate_claim.py
Due: backend

fix tests
  backend/tests/unit/apps/owasp/models/board_candidate_claim_evidence_test.py
Due: backend

add candidate claim graphql queries
  backend/apps/owasp/api/internal/nodes/board_candidate_claim.py
  backend/apps/owasp/api/internal/nodes/board_candidate_claim_evidence.py
  backend/apps/owasp/api/internal/queries/__init__.py
  backend/apps/owasp/api/internal/queries/board_candidate_claim.py
  backend/apps/owasp/api/internal/queries/board_candidate_claim_evidence.py
  backend/apps/owasp/migrations/0074_boardcandidateclaim_order.py
  backend/apps/owasp/models/board_candidate_claim.py
  backend/apps/owasp/models/board_of_directors.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_test.py
Due: backend

update code
  backend/apps/owasp/api/internal/nodes/snapshot.py
  backend/apps/owasp/migrations/0073_add_snapshot_frequency_events_posts_pull_requests.py
  backend/apps/owasp/models/snapshot.py
  backend/tests/unit/apps/owasp/management/commands/process_snapshots_test.py
Due: backend

Extract staging (#4701)
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-staging.yaml
Due: none

Extract production jobs into a separate workflow (#4826)
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-production.yaml
Due: none

Bump strawberry-graphql to 0.315.7
  backend/poetry.lock
  backend/pyproject.toml
Due: backend

Generalize production and staging workflows
  .github/workflows/run-environment.yaml
  .github/workflows/run-production.yaml
  .github/workflows/run-staging.yaml
Due: none

Reorder
  .github/workflows/run-environment.yaml
  .github/workflows/run-production.yaml
  .github/workflows/run-staging.yaml
Due: none

add tests for get_candidate
  backend/tests/unit/apps/owasp/models/board_of_directors_test.py
Due: backend

add tests for nodes
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_test.py
Due: backend

guard null member
  backend/apps/owasp/api/internal/queries/board_candidate_claim_evidence.py
Due: backend

expose nest_created/updated_at as created/updated_at fields
  backend/apps/owasp/api/internal/nodes/board_candidate_claim.py
  backend/apps/owasp/api/internal/nodes/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_test.py
Due: backend

sort alphabetically
  backend/apps/owasp/api/internal/queries/__init__.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_test.py
Due: backend

Bump qs to 6.15.2, uuid to 11.1.1
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

Bump webpack to 5.104.1
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

Bump pnpm to 11.5.1
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-code-ql.yaml
  cspell/package.json
  e2e/package.json
  frontend/package.json
Due: frontend

Extract checks and tests into a reusable workflow and update run-ci-cd
  .github/workflows/run-checks-and-tests.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-environment.yaml
  .github/workflows/run-production.yaml
  .github/workflows/run-staging.yaml
Due: none

Update run-fuzz-tests.yaml
  .github/workflows/run-fuzz-tests.yaml
Due: none

Update code
  .github/workflows/run-production.yaml
  .github/workflows/run-staging.yaml
Due: none

Update code
  .github/workflows/run-production.yaml
Due: none

Extract production jobs into a separate workflow (#4826)
  .github/actions/setup-frontend-environment/action.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-production.yaml
Due: none

Update pnpm
  .github/actions/setup-frontend-environment/action.yaml
Due: none
