Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

fix(frontend): apply prettier formatting to BarChart colors callback
  frontend/src/components/BarChart.tsx
Due: frontend

feat(frontend): display repository last updated date
  frontend/src/components/RepositoryCard.tsx
Due: frontend

chore(deps): bump apexcharts from 5.12.0 to 5.13.0
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

fix:replace some github api badge with static ones
  .github/workflows/update-badges.yaml
  README.md
Due: none

fix: coderabbit fixes
  .github/workflows/update-badges.yaml
Due: none

Mitigate multiple vulnerabilities in dependencies
  backend/poetry.lock
  backend/pyproject.toml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: backend, frontend

Mitigate multiple vulnerabilities in dependencies (#4947)
  backend/poetry.lock
  backend/pyproject.toml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: backend, frontend

read slack variables from .env
  backend/settings/local.py
Due: backend

lint fix - added trail
  backend/settings/local.py
Due: backend

fix(frontend): use ApexTooltipCustomOpts type for heatmap tooltip callback
  frontend/src/components/ContributionHeatmap.tsx
Due: frontend

fix: add DJANGO_SECRET_KEY documentation for local setup (#4915)
  CONTRIBUTING.md
  backend/README.md
Due: backend

feat: add ClusterFuzzLite QueryParser fuzz target
  .clusterfuzzlite/build.sh
  .clusterfuzzlite/project.yaml
  .github/workflows/clusterfuzzlite.yml
  backend/tests/fuzz/fuzz_query_parser_test.py
Due: backend

feat: add ClusterFuzzLite integration for QueryParser fuzzing
  backend/tests/fuzz/fuzz_query_parser_test.py
Due: backend

feat: add cacheSeconds parameters to some dynamic badges
  README.md
Due: none

remove explicit cacheSecond for ci and let it be default
  README.md
Due: none

use 86400 as cacheSecond
  README.md
Due: none

feat: add cacheSeconds parameters to some dynamic badges (#4954)
  README.md
Due: none

backend: remove title and add name + key
  backend/apps/owasp/admin/board_candidate_claim.py
  backend/apps/owasp/admin/board_candidate_claim_evidence.py
  backend/apps/owasp/api/internal/mutations/board_candidate_claim.py
  backend/apps/owasp/api/internal/mutations/board_candidate_claim_evidence.py
  backend/apps/owasp/api/internal/nodes/board_candidate_claim.py
  backend/apps/owasp/api/internal/nodes/board_candidate_claim_evidence.py
  backend/apps/owasp/api/internal/queries/board_candidate_claim.py
  backend/apps/owasp/models/board_candidate_claim.py
  backend/apps/owasp/models/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/admin/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/admin/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_test.py
Due: backend

backend: fix candidate claim mutations
  backend/apps/owasp/api/internal/mutations/board_candidate_claim.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_test.py
Due: backend

backend: update queries
  backend/apps/owasp/api/internal/queries/board_candidate_claim.py
  backend/apps/owasp/api/internal/queries/board_candidate_claim_evidence.py
  backend/apps/owasp/migrations/0078_alter_boardcandidateclaim_key_and_more.py
  backend/apps/owasp/models/board_candidate_claim.py
  backend/apps/owasp/models/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_test.py
Due: backend

backend: fix candidate claim evidence mutations
  backend/apps/owasp/api/internal/mutations/board_candidate_claim_evidence.py
  backend/apps/owasp/api/internal/queries/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_evidence_test.py
Due: backend

backend: add migrations
  backend/apps/owasp/migrations/0076_remove_boardcandidateclaim_title_and_more.py
  backend/apps/owasp/migrations/0077_boardcandidateclaim_key_and_more.py
Due: backend

backend: rename key to claim_key for evidence queries
  backend/apps/owasp/api/internal/queries/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_evidence_test.py
Due: backend

backend: make set frozenset
  backend/apps/owasp/models/board_candidate_claim.py
Due: backend

backend: delete file on file removal
  backend/apps/owasp/api/internal/mutations/board_candidate_claim_evidence.py
  backend/apps/owasp/models/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_evidence_test.py
Due: backend

backend: make description required
  backend/apps/owasp/api/internal/mutations/board_candidate_claim_evidence.py
  backend/apps/owasp/migrations/0079_alter_boardcandidateclaimevidence_description.py
  backend/apps/owasp/models/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_evidence_test.py
Due: backend

backend: update validation error message handling
  backend/apps/owasp/api/internal/mutations/board_candidate_claim.py
  backend/apps/owasp/api/internal/mutations/board_candidate_claim_evidence.py
Due: backend

backend: fix duplicate row/object bugs due to lack of year
  backend/apps/owasp/api/internal/mutations/board_candidate_claim.py
  backend/apps/owasp/api/internal/mutations/board_candidate_claim_evidence.py
  backend/apps/owasp/api/internal/nodes/board_candidate_claim_evidence.py
  backend/apps/owasp/api/internal/queries/board_candidate_claim.py
  backend/apps/owasp/api/internal/queries/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_evidence_test.py
Due: backend

backend: add hasFile and update file url query
  backend/apps/owasp/api/internal/nodes/board_candidate_claim_evidence.py
  backend/apps/owasp/api/internal/queries/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_evidence_test.py
Due: backend

backend: bug fixes
  backend/apps/owasp/api/internal/mutations/board_candidate_claim_evidence.py
  backend/apps/owasp/models/board_candidate_claim.py
  backend/apps/owasp/models/board_candidate_claim_evidence.py
Due: backend

backend: fix key not being updated on name change
  backend/apps/owasp/api/internal/mutations/board_candidate_claim.py
  backend/apps/owasp/api/internal/mutations/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_evidence_test.py
Due: backend

backend: bot comments
  backend/apps/owasp/api/internal/mutations/board_candidate_claim.py
  backend/apps/owasp/api/internal/mutations/board_candidate_claim_evidence.py
  backend/apps/owasp/api/internal/queries/board_candidate_claim.py
  backend/apps/owasp/api/internal/queries/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_evidence_test.py
Due: backend

backend: improve test coverage
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_of_directors_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_test.py
Due: backend

backend: add candidate field in board of directors node
  backend/apps/owasp/api/internal/nodes/board_of_directors.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_of_directors_test.py
Due: backend

backend: update code
  backend/apps/owasp/api/internal/mutations/board_candidate_claim.py
  backend/apps/owasp/api/internal/mutations/board_candidate_claim_evidence.py
  backend/apps/owasp/migrations/0076_remove_boardcandidateclaim_title_and_more.py
  backend/apps/owasp/migrations/0077_boardcandidateclaim_key_and_more.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_evidence_test.py
Due: backend

make cred. optional
  backend/.env.example
  backend/settings/local.py
Due: backend

fix(e2e): sync playwright dependency with docker image
  docker/e2e/Dockerfile
  e2e/package.json
  e2e/pnpm-lock.yaml
  e2e/pnpm-workspace.yaml
Due: none

fix: frontend/package.json to reduce vulnerabilities
  frontend/package.json
Due: frontend

Added graphql mutation for certificate
  backend/apps/github/api/internal/nodes/user.py
  backend/apps/owasp/api/internal/nodes/certificate.py
  backend/apps/owasp/api/internal/nodes/contribution_score.py
  backend/apps/owasp/api/internal/queries/__init__.py
  backend/apps/owasp/api/internal/queries/certificate.py
  backend/apps/owasp/migrations/0074_alter_certificate_table_and_more.py
  backend/apps/owasp/models/crp/certificate.py
  backend/apps/owasp/models/crp/contribution_score.py
  backend/apps/owasp/models/crp/leaderboard_snapshot.py
  backend/apps/owasp/models/crp/scoring_weight.py
Due: backend

fix(e2e): sync playwright dependency with docker image (#4960)
  docker/e2e/Dockerfile
  e2e/package.json
  e2e/pnpm-lock.yaml
  e2e/pnpm-workspace.yaml
Due: none
