Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

update docs
  infrastructure/staging/README.md
Due: none

remove dynamodb from docs
  infrastructure/bootstrap/README.md
  infrastructure/state/README.md
Due: none

remove redundant permissions
  infrastructure/staging/README.md
  infrastructure/state/outputs.tf
Due: none

bot comments
  .github/workflows/run-ci-cd.yaml
  infrastructure/staging/README.md
Due: none

Added Category model
  backend/Makefile
  backend/apps/api/rest/v0/__init__.py
  backend/apps/api/rest/v0/category.py
  backend/apps/api/rest/v0/project.py
  backend/apps/owasp/admin/__init__.py
  backend/apps/owasp/admin/category.py
  backend/apps/owasp/admin/project.py
  backend/apps/owasp/api/internal/filters/category.py
  backend/apps/owasp/api/internal/filters/project.py
  backend/apps/owasp/api/internal/nodes/category.py
  backend/apps/owasp/api/internal/nodes/project.py
  backend/apps/owasp/api/internal/ordering/category.py
  backend/apps/owasp/api/internal/queries/__init__.py
  backend/apps/owasp/api/internal/queries/category.py
  backend/apps/owasp/management/commands/assign_sample_categories.py
  backend/apps/owasp/management/commands/populate_sample_categories.py
  backend/apps/owasp/migrations/0073_projectcategory_project_categories_and_more.py
  backend/apps/owasp/models/__init__.py
  backend/apps/owasp/models/category.py
  backend/apps/owasp/models/project.py
  docker-compose/local/compose.yaml
  frontend/src/app/projects/dashboard/metrics/page.tsx
  frontend/src/app/projects/page.tsx
  frontend/src/components/NestedCategorySelect.tsx
  frontend/src/components/SearchPageLayout.tsx
  frontend/src/components/UnifiedSearchBar.tsx
  frontend/src/hooks/useProjectCategories.ts
  frontend/src/hooks/useSearchProjectsGraphQL.ts
  frontend/src/server/queries/categoryQueries.ts
  frontend/src/server/queries/projectQueries.ts
  frontend/src/types/__generated__/categoryQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/project.ts
  frontend/src/types/unifiedSearchBar.ts
  frontend/src/utils/sortingOptions.ts
Due: backend, frontend

bot comments
  infrastructure/bootstrap/main.tf
Due: none

Fix sonarqube warning
  backend/apps/api/rest/v0/project.py
  backend/apps/owasp/admin/category.py
  backend/apps/owasp/admin/project.py
  backend/apps/owasp/api/internal/filters/category.py
  backend/apps/owasp/api/internal/filters/project.py
  backend/apps/owasp/api/internal/nodes/category.py
  backend/apps/owasp/management/commands/assign_sample_categories.py
  backend/apps/owasp/management/commands/populate_sample_categories.py
  backend/apps/owasp/migrations/0073_projectcategory_project_categories_and_more.py
  backend/apps/owasp/models/category.py
  frontend/src/app/projects/dashboard/metrics/page.tsx
  frontend/src/app/projects/page.tsx
  frontend/src/components/NestedCategorySelect.tsx
  frontend/src/components/UnifiedSearchBar.tsx
  frontend/src/hooks/useProjectCategories.ts
  frontend/src/server/queries/projectQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/projectQueries.generated.ts
  frontend/src/types/unifiedSearchBar.ts
Due: backend, frontend

fixed review
  backend/apps/owasp/api/internal/filters/project.py
  backend/apps/owasp/migrations/0073_projectcategory_project_categories_and_more.py
  backend/apps/owasp/models/category.py
Due: backend

code rabbit review
  backend/apps/api/rest/v0/category.py
  backend/apps/owasp/api/internal/ordering/category.py
  backend/apps/owasp/api/internal/queries/category.py
  backend/apps/owasp/migrations/0073_projectcategory_project_categories_and_more.py
  frontend/src/app/projects/dashboard/metrics/page.tsx
  frontend/src/components/NestedCategorySelect.tsx
Due: backend, frontend

refactor: simplify footer button icon layout for consistent alignment
  frontend/src/components/Footer.tsx
Due: frontend

fix: keep dropdown arrow close to section title
  frontend/src/components/Footer.tsx
Due: frontend

Fix deprecated parameter `use_lockfile` warning (#4231)
  .github/workflows/run-ci-cd.yaml
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/backend.tf
  infrastructure/bootstrap/terraform.tfbackend.example
  infrastructure/modules/kms/outputs.tf
  infrastructure/staging/README.md
  infrastructure/staging/backend.tf
  infrastructure/staging/terraform.tfbackend.example
  infrastructure/state/README.md
  infrastructure/state/main.tf
  infrastructure/state/outputs.tf
Due: none

adding badges (deepwiki & docs)
  README.md
Due: none

Added deadline to mentee also
  backend/apps/github/api/internal/nodes/issue.py
  backend/tests/apps/github/api/internal/nodes/issue_test.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  frontend/__tests__/unit/components/IssuesTable.test.tsx
  frontend/__tests__/unit/pages/MenteeProfilePage.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/mentees/[menteeKey]/page.tsx
  frontend/src/server/queries/menteeQueries.ts
  frontend/src/types/__generated__/menteeQueries.generated.ts
Due: backend, frontend

feat: Add custom dark/light theme to Swagger UI
  backend/static/css/swagger-theme.css
  backend/templates/ninja/swagger.html
Due: backend

fixed review
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  frontend/__tests__/unit/pages/MenteeProfilePage.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/mentees/[menteeKey]/page.tsx
  frontend/src/utils/deadlineUtils.ts
Due: backend, frontend

added lable
  frontend/__tests__/unit/pages/MenteeProfilePage.test.tsx
  frontend/__tests__/unit/utils/deadlineUtils.test.ts
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/mentees/[menteeKey]/page.tsx
Due: frontend

revert
  frontend/__tests__/unit/pages/MenteeProfilePage.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/mentees/[menteeKey]/page.tsx
Due: frontend

fixed sonarqube warning
  frontend/__tests__/unit/utils/deadlineUtils.test.ts
Due: frontend

feat: add Algolia configuration validator (OWASP#4107)
  backend/apps/common/validators/algolia_validator.py
Due: backend

Add Algolia validator tests and configuration validation (Issue #4107)
  backend/tests/test_algolia_config.py
Due: backend

Add __init__.py for validators package (Issue #4107)
  backend/apps/common/validators/__init__.py
Due: backend

fix the value clearing
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/src/components/ModuleForm.tsx
Due: frontend

fix: Remove unused imports from test file (Issue #4107)
  backend/tests/test_algolia_config.py
Due: backend

Update infrastructure/state/.terraform.lock.hcl
  infrastructure/state/.terraform.lock.hcl
Due: none

Update code
  README.md
Due: none

fix issues
  backend/static/css/swagger-theme.css
  backend/templates/ninja/swagger.html
Due: backend

docs: add README header badges (DeepWiki + ReadTheDocs) (#4232)
  README.md
Due: none

Run make update
  backend/poetry.lock
  docs/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Update README.md
  README.md
Due: none

Update popover styling
  frontend/__tests__/unit/components/MetricsCard.test.tsx
  frontend/__tests__/unit/components/SortBy.test.tsx
  frontend/pnpm-lock.yaml
  frontend/src/components/CountryFilter.tsx
  frontend/src/components/SearchPageLayout.tsx
Due: frontend

Update code to not use inline ternary operator
  frontend/src/components/SearchPageLayout.tsx
Due: frontend

feat: Extend Chapters Page Search with Country Filter and Sort Options (#4143)
  backend/apps/common/management/commands/algolia_update_replicas.py
  backend/apps/core/utils/index.py
  backend/apps/owasp/api/internal/queries/chapter.py
  backend/apps/owasp/index/registry/chapter.py
  backend/tests/apps/common/management/commands/algolia_update_replicas_test.py
  backend/tests/apps/core/utils/index_test.py
  backend/tests/apps/core/utils/match_test.py
  backend/tests/apps/owasp/api/internal/queries/chapter_test.py
  backend/tests/apps/owasp/index/registry/chapter_test.py
  frontend/__tests__/a11y/components/CountryFilter.a11y.test.tsx
  frontend/__tests__/a11y/pages/Chapters.a11y.test.tsx
  frontend/__tests__/mockData/mockChapterData.ts
  frontend/__tests__/unit/components/CountryFilter.test.tsx
  frontend/__tests__/unit/components/MetricsCard.test.tsx
  frontend/__tests__/unit/components/Search.test.tsx
  frontend/__tests__/unit/components/SearchPageLayout.test.tsx
  frontend/__tests__/unit/components/SortBy.test.tsx
  frontend/__tests__/unit/pages/Chapters.test.tsx
  frontend/__tests__/unit/pages/Contribute.test.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/chapters/page.tsx
  frontend/src/components/CountryFilter.tsx
  frontend/src/components/Search.tsx
  frontend/src/components/SearchPageLayout.tsx
  frontend/src/components/SortBy.tsx
  frontend/src/hooks/useSearchPage.ts
  frontend/src/server/queries/chapterQueries.ts
  frontend/src/types/__generated__/chapterQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/chapter.ts
  frontend/src/types/sortBy.ts
  frontend/src/utils/sortingOptions.ts
Due: backend, frontend

Mitigate CVE-2026-31802
  docker/frontend/Dockerfile
Due: none

make ECR repository image tags immutable
  .github/workflows/run-ci-cd.yaml
  infrastructure/README.md
  infrastructure/bootstrap/main.tf
  infrastructure/modules/service/main.tf
  infrastructure/modules/service/tests/service.tftest.hcl
  infrastructure/modules/service/variables.tf
  infrastructure/modules/tasks/variables.tf
  infrastructure/staging/main.tf
  infrastructure/staging/terraform.tfvars.example
  infrastructure/staging/variables.tf
  trivyignore.yaml
Due: none

add backend/frontend_image_tag
  .github/workflows/run-ci-cd.yaml
Due: none

temporary changes to run CI/CD
  .github/workflows/run-ci-cd.yaml
Due: none

fix tests
  infrastructure/modules/service/tests/service.tftest.hcl
  infrastructure/modules/tasks/tests/tasks.tftest.hcl
Due: none

disable map_public_ip
  infrastructure/modules/networking/main.tf
  infrastructure/modules/networking/tests/networking.tftest.hcl
  trivyignore.yaml
Due: none
