Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

refactor backend and frontend to a new service
  infrastructure/README.md
  infrastructure/modules/security/main.tf
  infrastructure/modules/security/outputs.tf
  infrastructure/modules/security/tests/security.tftest.hcl
  infrastructure/modules/service/main.tf
  infrastructure/modules/service/outputs.tf
  infrastructure/modules/service/variables.tf
  infrastructure/modules/tasks/main.tf
  infrastructure/modules/tasks/outputs.tf
  infrastructure/modules/tasks/variables.tf
  infrastructure/staging/main.tf
  infrastructure/staging/outputs.tf
Due: none

delete backend and frontend modules
  infrastructure/modules/backend/main.tf
  infrastructure/modules/backend/outputs.tf
  infrastructure/modules/backend/variables.tf
  infrastructure/modules/frontend/.terraform.lock.hcl
  infrastructure/modules/frontend/main.tf
  infrastructure/modules/frontend/outputs.tf
  infrastructure/modules/frontend/tests/frontend.tftest.hcl
  infrastructure/modules/frontend/variables.tf
Due: none

update docs
  infrastructure/README.md
Due: none

add/update tests
  infrastructure/modules/alb/tests/alb.tftest.hcl
  infrastructure/modules/security/tests/security.tftest.hcl
  infrastructure/modules/service/.terraform.lock.hcl
  infrastructure/modules/service/tests/service.tftest.hcl
  infrastructure/modules/storage/tests/storage.tftest.hcl
  infrastructure/modules/tasks/tests/tasks.tftest.hcl
Due: none

update CI/CD
  .github/workflows/run-ci-cd.yaml
Due: none

update trivyignore
  trivyignore.yaml
Due: none

rename ecs_ -> tasks_
  .github/workflows/run-ci-cd.yaml
  infrastructure/staging/main.tf
  infrastructure/staging/terraform.tfvars.example
  infrastructure/staging/variables.tf
Due: none

temporary changes to ci/cd to run it
  .github/workflows/run-ci-cd.yaml
Due: none

Update code
  infrastructure/README.md
  infrastructure/staging/main.tf
  infrastructure/staging/variables.tf
Due: none

Revert "temporary changes to ci/cd to run it"
  .github/workflows/run-ci-cd.yaml
Due: none

revert changes
  .github/workflows/run-ci-cd.yaml
Due: none

Update backend/tests/conftest.py
  backend/tests/conftest.py
Due: backend

Run make update
  .pre-commit-config.yaml
  backend/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

fix(ai): address code review issues for multi-agent flow
  backend/apps/ai/common/utils.py
  backend/apps/ai/flows/assistant.py
  backend/apps/ai/models/chunk.py
Due: backend

fix(ai): let ValueError propagate for configuration errors
  backend/apps/ai/common/utils.py
Due: backend

fix: coderabbit_&_cubic_ai
  frontend/src/app/chapters/page.tsx
  frontend/src/components/SearchPageLayout.tsx
  frontend/src/hooks/useSearchPage.ts
Due: frontend

feat(search): add debounced search with AbortController request cancellation
  frontend/__tests__/a11y/pages/ApiKeysPage.a11y.test.tsx
  frontend/__tests__/e2e/pages/About.spec.ts
  frontend/__tests__/mockData/mockProjectDetailsData.ts
  frontend/__tests__/unit/components/BarChart.test.tsx
  frontend/__tests__/unit/components/ProgramForm.test.tsx
  frontend/__tests__/unit/components/SortBy.test.tsx
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/__tests__/unit/pages/Chapters.test.tsx
  frontend/__tests__/unit/pages/Committees.test.tsx
  frontend/__tests__/unit/pages/Contribute.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/__tests__/unit/pages/CreateProgram.test.tsx
  frontend/__tests__/unit/pages/EditModule.test.tsx
  frontend/__tests__/unit/pages/EditProgram.test.tsx
  frontend/__tests__/unit/pages/Home.test.tsx
  frontend/__tests__/unit/pages/ModuleDetails.test.tsx
  frontend/__tests__/unit/pages/OrganizationDetails.test.tsx
  frontend/__tests__/unit/pages/ProjectHealthDashboardMetricsDetails.test.tsx
  frontend/__tests__/unit/pages/Projects.test.tsx
  frontend/__tests__/unit/pages/RepositoryDetails.test.tsx
  frontend/__tests__/unit/pages/SnapshotDetails.test.tsx
  frontend/__tests__/unit/pages/Snapshots.test.tsx
  frontend/__tests__/unit/pages/UserDetails.test.tsx
  frontend/__tests__/unit/pages/Users.test.tsx
  frontend/jest.config.ts
  frontend/jest.setup.ts
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/components/BarChart.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/ContributionHeatmap.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/LineChart.tsx
  frontend/src/components/MultiSearch.tsx
  frontend/src/hooks/useSearchPage.ts
  frontend/src/utils/utility.ts
Due: frontend

Refactor code
  backend/apps/mentorship/api/internal/mutations/module.py
Due: backend

Incorrect Error Message for Duplicate Module Name (#3879)
  backend/apps/mentorship/api/internal/mutations/module.py
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/__tests__/unit/pages/EditModule.test.tsx
  frontend/__tests__/unit/utils/handleGraphQLError.test.ts
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/create/page.tsx
  frontend/src/components/ModuleForm.tsx
  frontend/src/utils/helpers/handleGraphQLError.ts
Due: backend, frontend

Mitigate CVE-2026-29786
  docker/frontend/Dockerfile
Due: none

fix: update frontend GraphQL queries to use new field names
  frontend/src/server/queries/repositoryQueries.ts
Due: frontend

fix collectstatic by managing the bucket
  backend/entrypoint.sh
  backend/settings/staging.py
  infrastructure/modules/parameters/main.tf
  infrastructure/modules/parameters/outputs.tf
  infrastructure/modules/parameters/variables.tf
  infrastructure/modules/service/main.tf
  infrastructure/modules/service/variables.tf
  infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/outputs.tf
  infrastructure/staging/main.tf
Due: backend

bot comments
  infrastructure/staging/variables.tf
Due: none

refactor: rename repository issues and releases fields to recent_issues and recent_releases
  backend/apps/github/api/internal/nodes/repository.py
  backend/tests/apps/github/api/internal/nodes/repository_test.py
  frontend/src/app/organizations/[organizationKey]/repositories/[repositoryKey]/page.tsx
  frontend/src/server/queries/repositoryQueries.ts
Due: backend, frontend

fix/add tests
  backend/settings/staging.py
  infrastructure/modules/parameters/tests/parameters.tftest.hcl
  infrastructure/modules/service/main.tf
  infrastructure/modules/storage/tests/storage.tftest.hcl
Due: backend

update code
  backend/settings/staging.py
Due: backend

address suggestions
  frontend/__tests__/a11y/components/GlobalSearch.a11y.test.tsx
  frontend/__tests__/unit/components/Header.test.tsx
  frontend/__tests__/unit/pages/Home.test.tsx
  frontend/src/app/page.tsx
Due: frontend

Run make update
  .pre-commit-config.yaml
  backend/poetry.lock
  docs/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Refactor REST API project tests
  backend/tests/apps/api/rest/v0/project_test.py
Due: backend

Update docker files
  docker/backend/Dockerfile
  docker/backend/Dockerfile.local
  docker/backend/Dockerfile.test
  docker/docs/Dockerfile.local
  docker/frontend/Dockerfile
Due: none

feat: Add Nest and OWASP logos to footer
  frontend/__tests__/unit/components/Footer.test.tsx
  frontend/public/img/OWASP_black_logo.svg
  frontend/src/components/Footer.tsx
Due: frontend

fix: address CodeRabbit review feedback
  frontend/src/components/Footer.tsx
Due: frontend

Run checks
  .github/workflows/run-ci-cd.yaml
Due: none

Update code
  backend/README.md
  frontend/README.md
Due: backend, frontend

Move env variables documentation to backend/frontend README files (#4185)
  CONTRIBUTING.md
  backend/README.md
  frontend/README.md
Due: backend, frontend

Run make update
  backend/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Update code
  CONTRIBUTING.md
  backend/README.md
  frontend/README.md
Due: backend, frontend

Update code
  CONTRIBUTING.md
Due: none

Update code
  frontend/README.md
Due: frontend

docs: add local GitHub OAuth setup instructions to CONTRIBUTING.md (#4092)
  CONTRIBUTING.md
  backend/README.md
  frontend/README.md
Due: backend, frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
