Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Add OWASP Nest theme support for Swagger UI
  backend/pyproject.toml
  backend/static/css/swagger-theme.css
  backend/static/js/swagger-theme.js
  backend/templates/ninja/swagger.html
  backend/tests/apps/api/rest/v0/swagger_theme_test.py
Due: backend

unpin terraform, providers, and modules versions
  .github/workflows/run-ci-cd.yaml
  infrastructure/bootstrap/.terraform.lock.hcl
  infrastructure/bootstrap/main.tf
  infrastructure/live/.terraform.lock.hcl
  infrastructure/live/main.tf
  infrastructure/modules/alb/.terraform.lock.hcl
  infrastructure/modules/alb/main.tf
  infrastructure/modules/cache/.terraform.lock.hcl
  infrastructure/modules/cache/main.tf
  infrastructure/modules/database/.terraform.lock.hcl
  infrastructure/modules/database/main.tf
  infrastructure/modules/kms/.terraform.lock.hcl
  infrastructure/modules/kms/main.tf
  infrastructure/modules/networking/.terraform.lock.hcl
  infrastructure/modules/networking/main.tf
  infrastructure/modules/networking/modules/nacl/.terraform.lock.hcl
  infrastructure/modules/networking/modules/nacl/main.tf
  infrastructure/modules/networking/modules/vpc-endpoint/.terraform.lock.hcl
  infrastructure/modules/networking/modules/vpc-endpoint/main.tf
  infrastructure/modules/parameters/.terraform.lock.hcl
  infrastructure/modules/parameters/main.tf
  infrastructure/modules/security/.terraform.lock.hcl
  infrastructure/modules/security/main.tf
  infrastructure/modules/service/.terraform.lock.hcl
  infrastructure/modules/service/main.tf
  infrastructure/modules/storage/.terraform.lock.hcl
  infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/modules/s3-bucket/.terraform.lock.hcl
  infrastructure/modules/storage/modules/s3-bucket/main.tf
  infrastructure/modules/tasks/.terraform.lock.hcl
  infrastructure/modules/tasks/main.tf
  infrastructure/modules/tasks/modules/task/.terraform.lock.hcl
  infrastructure/modules/tasks/modules/task/main.tf
  infrastructure/state/.terraform.lock.hcl
  infrastructure/state/main.tf
Due: none

Revert "temporary changes to run CI/CD"
  .github/workflows/run-ci-cd.yaml
Due: none

fix django settings name
  .github/workflows/run-ci-cd.yaml
  infrastructure/live/terraform.tfvars.example
Due: none

Run make update
  .pre-commit-config.yaml
  backend/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

fix(ai): address CodeRabbit review - consistent None check, skip save on dimension mismatch
  backend/apps/ai/flows/assistant.py
  backend/apps/ai/models/chunk.py
Due: backend

fix(ai): address CodeRabbit - CONTRIBUTION_KEYWORDS, tool helper, constraint-aware chunk
  backend/apps/ai/flows/assistant.py
  backend/apps/ai/models/chunk.py
Due: backend

fix(ai): CodeRabbit - normalize CONTRIBUTION_KEYWORDS casing, redact query in logs for non-local
  backend/apps/ai/flows/assistant.py
Due: backend

update code
  backend/templates/ninja/swagger.html
Due: backend

fix conflicts
  backend/tests/apps/mentorship/api/internal/mutations/module_mutation_test.py
Due: backend

fix issues
  frontend/src/components/ModuleCard.tsx
Due: frontend

fix: code rabbit comments
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/tests/apps/mentorship/api/internal/mutations/module_mutation_test.py
  frontend/src/components/ModuleCard.tsx
Due: backend, frontend

fix issue
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/apps/mentorship/migrations/0008_module_order.py
  backend/apps/mentorship/models/module.py
  backend/tests/apps/mentorship/api/internal/mutations/module_mutation_test.py
Due: backend

feat: implement module ordering with drag-and-drop support
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/apps/mentorship/api/internal/queries/module.py
  backend/apps/mentorship/migrations/0008_module_order.py
  backend/apps/mentorship/models/module.py
  backend/tests/apps/mentorship/api/internal/mutations/module_mutation_test.py
  backend/tests/apps/mentorship/model/module_test.py
  frontend/__tests__/a11y/components/CardDetailsPage.a11y.test.tsx
  frontend/__tests__/a11y/components/ModuleCard.a11y.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/ModuleCard.test.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/ModuleCard.tsx
  frontend/src/server/mutations/moduleMutations.ts
  frontend/src/server/queries/moduleQueries.ts
  frontend/src/server/queries/programsQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/moduleMutations.generated.ts
  frontend/src/types/__generated__/moduleQueries.generated.ts
  frontend/src/types/__generated__/programsQueries.generated.ts
  frontend/src/types/mentorship.ts
Due: backend, frontend

update code
  backend/apps/mentorship/models/module.py
  backend/tests/apps/mentorship/model/module_test.py
Due: backend

fix code rabbit comment
  frontend/src/components/ModuleCard.tsx
Due: frontend

fix conflict
  frontend/__tests__/unit/components/ModuleCard.test.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ModuleCard.tsx
Due: frontend

fix: issue
  backend/apps/mentorship/api/internal/mutations/module.py
Due: backend

update code
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/components/ModuleCard.tsx
  frontend/src/components/SingleModuleCard.tsx
  frontend/src/types/__generated__/graphql.ts
Due: frontend

fix comment
  frontend/src/app/my/mentorship/programs/[programKey]/page.tsx
Due: frontend

feat: implement module ordering with drag-and-drop support (#4020)
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/apps/mentorship/api/internal/queries/module.py
  backend/apps/mentorship/migrations/0008_module_order.py
  backend/apps/mentorship/models/module.py
  backend/tests/apps/mentorship/api/internal/mutations/module_mutation_test.py
  backend/tests/apps/mentorship/model/module_test.py
  frontend/__tests__/a11y/components/CardDetailsPage.a11y.test.tsx
  frontend/__tests__/a11y/components/ModuleCard.a11y.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/ModuleCard.test.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/page.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/ModuleCard.tsx
  frontend/src/components/SingleModuleCard.tsx
  frontend/src/server/mutations/moduleMutations.ts
  frontend/src/server/queries/moduleQueries.ts
  frontend/src/server/queries/programsQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/moduleMutations.generated.ts
  frontend/src/types/__generated__/moduleQueries.generated.ts
  frontend/src/types/__generated__/programsQueries.generated.ts
  frontend/src/types/mentorship.ts
Due: backend, frontend

resolve issue
  backend/apps/github/models/mixins/issue.py
  backend/tests/apps/github/models/mixins/issue_test.py
  frontend/src/utils/utility.ts
Due: backend, frontend

add a flag for enabling NAT Gateway and disable it by default
  .github/workflows/run-ci-cd.yaml
  infrastructure/README.md
  infrastructure/live/main.tf
  infrastructure/live/outputs.tf
  infrastructure/live/terraform.tfvars.example
  infrastructure/live/variables.tf
  infrastructure/modules/networking/main.tf
  infrastructure/modules/networking/variables.tf
  infrastructure/modules/service/main.tf
  infrastructure/modules/service/tests/service.tftest.hcl
  infrastructure/modules/service/variables.tf
Due: none

update docs
  infrastructure/README.md
Due: none

rename create_ prefixed variables to enable_
  .github/workflows/run-ci-cd.yaml
  infrastructure/live/main.tf
  infrastructure/live/terraform.tfvars.example
  infrastructure/live/variables.tf
  infrastructure/modules/database/main.tf
  infrastructure/modules/database/outputs.tf
  infrastructure/modules/database/tests/database.tftest.hcl
  infrastructure/modules/database/variables.tf
  infrastructure/modules/networking/main.tf
  infrastructure/modules/networking/modules/vpc-endpoint/main.tf
  infrastructure/modules/networking/modules/vpc-endpoint/tests/vpc-endpoint.tftest.hcl
  infrastructure/modules/networking/modules/vpc-endpoint/variables.tf
  infrastructure/modules/networking/tests/networking.tftest.hcl
  infrastructure/modules/networking/variables.tf
  infrastructure/modules/security/main.tf
  infrastructure/modules/security/outputs.tf
  infrastructure/modules/security/tests/security.tftest.hcl
  infrastructure/modules/security/variables.tf
Due: none

add/fix tests
  infrastructure/modules/networking/tests/networking.tftest.hcl
Due: none

bot comments
  .github/workflows/run-ci-cd.yaml
  infrastructure/README.md
  infrastructure/modules/alb/variables.tf
  infrastructure/modules/networking/modules/nacl/variables.tf
  infrastructure/modules/networking/modules/vpc-endpoint/variables.tf
  infrastructure/modules/service/variables.tf
  infrastructure/modules/tasks/modules/task/variables.tf
  infrastructure/modules/tasks/variables.tf
Due: none

add flag for enabling cron tasks
  .github/workflows/run-ci-cd.yaml
  infrastructure/live/main.tf
  infrastructure/live/terraform.tfvars.example
  infrastructure/live/variables.tf
  infrastructure/modules/networking/modules/nacl/variables.tf
  infrastructure/modules/networking/modules/vpc-endpoint/variables.tf
  infrastructure/modules/tasks/main.tf
  infrastructure/modules/tasks/tests/tasks.tftest.hcl
  infrastructure/modules/tasks/variables.tf
Due: none

Reapply "temporary changes to run CI/CD"
  .github/workflows/run-ci-cd.yaml
Due: none

temporary changes to run CI/CD
  .github/workflows/run-ci-cd.yaml
Due: none

Revert "Reapply "temporary changes to run CI/CD""
  .github/workflows/run-ci-cd.yaml
Due: none

refactor: change idx_created_at properties to return ISO format strings
  backend/apps/github/models/mixins/organization.py
  backend/apps/github/models/mixins/release.py
  backend/apps/github/models/mixins/repository.py
  backend/tests/apps/github/models/mixins/organization_test.py
  backend/tests/apps/github/models/mixins/release_test.py
  backend/tests/apps/github/models/mixins/repository_test.py
Due: backend

Run make update
  .pre-commit-config.yaml
  backend/poetry.lock
  cspell/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Update corepack setup
  docker/cspell/Dockerfile
  docker/frontend/Dockerfile
  docker/frontend/Dockerfile.a11y.test
  docker/frontend/Dockerfile.e2e.test
  docker/frontend/Dockerfile.local
  docker/frontend/Dockerfile.unit.test
Due: none

fix: skip createdAt icon when timestamp is zero or null
  frontend/__tests__/unit/utils/utility.test.ts
  frontend/src/utils/utility.ts
Due: frontend

Fixed 404 flash on mentee page
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/mentees/[menteeKey]/page.tsx
Due: frontend

fix infinte loop
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/mentees/[menteeKey]/page.tsx
Due: frontend

fixed error mislead
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/mentees/[menteeKey]/page.tsx
Due: frontend

Fix: Timestamp display on /contribute page (#4260)
  backend/apps/github/models/mixins/issue.py
  backend/apps/github/models/mixins/organization.py
  backend/apps/github/models/mixins/release.py
  backend/apps/github/models/mixins/repository.py
  backend/tests/apps/github/models/mixins/issue_test.py
  backend/tests/apps/github/models/mixins/organization_test.py
  backend/tests/apps/github/models/mixins/release_test.py
  backend/tests/apps/github/models/mixins/repository_test.py
  frontend/src/utils/utility.ts
Due: backend, frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
