Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

feat: add ProgramIndex replica configuration to Algolia update command
  backend/src/apps/common/management/commands/algolia_update_replicas.py
Due: backend

feat: update ProgramIndex to include idx_created_at and idx_updated_at fields and configure sorting replicas
  backend/src/apps/mentorship/index/registry/program.py
Due: backend

feat: add tests for idx_created_at and idx_updated_at properties in ProgramIndexMixin
  backend/tests/unit/apps/mentorship/model/program_mixin_test.py
Due: backend

feat: implement sorting functionality for mentorship programs with dropdown options
  e2e/pages/MentorshipPrograms.spec.ts
  frontend/src/app/mentorship/programs/page.tsx
  frontend/src/hooks/useSearchPage.ts
  frontend/src/utils/sortingOptions.ts
Due: frontend

fix: reset search page on filter changes and ignore stale responses
  frontend/__tests__/unit/hooks/useSearchPage.test.tsx
  frontend/src/hooks/useSearchPage.ts
Due: frontend

fix: return None for unset program index timestamps
  backend/src/apps/mentorship/models/mixins/program.py
  backend/tests/unit/apps/mentorship/model/program_mixin_test.py
Due: backend

test: assert sorted URL in mentorship programs e2e
  e2e/pages/MentorshipPrograms.spec.ts
Due: none

Update ReadTheDocs theme to match Nest light and dark themes
  .mkdocs.yaml
  docs/src/assets/stylesheets/nest-theme.css
Due: none

fix: ignore stale search failures and redundant url pushes
  frontend/__tests__/unit/hooks/useSearchPage.test.tsx
  frontend/src/hooks/useSearchPage.ts
Due: frontend

test: assert rendered results and back/forward in programs sort e2e
  e2e/pages/MentorshipPrograms.spec.ts
Due: none

fix issues
  backend/src/apps/owasp/api/internal/nodes/snapshot.py
  backend/src/apps/owasp/api/internal/nodes/snapshot_subscription.py
  backend/src/apps/owasp/views/unsubscribe.py
  backend/tests/unit/apps/owasp/api/internal/nodes/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/snapshot_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/views/unsubscribe_test.py
  frontend/__tests__/a11y/pages/SettingsPage.a11y.test.tsx
  frontend/__tests__/unit/components/PaginationButtons.test.tsx
  frontend/__tests__/unit/components/SnapshotEntitySection.test.tsx
  frontend/__tests__/unit/components/SubscribeButton.test.tsx
  frontend/__tests__/unit/pages/SnapshotDetails.test.tsx
  frontend/src/app/community/snapshots/[id]/page.tsx
  frontend/src/app/unsubscribe/[token]/page.tsx
  frontend/src/components/PaginationButtons.tsx
  frontend/src/components/SnapshotEntitySection.tsx
  infrastructure/modules/alb/main.tf
Due: backend, frontend

update code
  backend/src/apps/owasp/api/internal/views/urls.py
  backend/src/apps/owasp/services/newsletter.py
  backend/src/apps/owasp/views/unsubscribe.py
  backend/src/settings/urls.py
  backend/tests/unit/apps/owasp/api/internal/nodes/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/services/newsletter_test.py
  backend/tests/unit/apps/owasp/views/unsubscribe_test.py
  frontend/__tests__/unit/components/PaginationButtons.test.tsx
  frontend/src/app/community/snapshots/[id]/page.tsx
  frontend/src/components/PaginationButtons.tsx
  infrastructure/modules/alb/main.tf
Due: backend, frontend

update code
  backend/tests/unit/apps/owasp/api/internal/nodes/snapshot_subscription_test.py
Due: backend

fix(frontend): consistent Search bottom spacing on mobile across pages
  frontend/src/components/SearchPageLayout.tsx
Due: frontend

fix: generate issue summaries after save
  backend/src/apps/github/models/issue.py
  backend/tests/unit/apps/github/models/issue_test.py
Due: backend

update clarification + update fallback
  backend/apps/ai/common/utils.py
  backend/apps/ai/templates/agents/clarification/backstory.jinja
Due: backend

Update backend/src/apps/github/models/issue.py
  backend/src/apps/github/models/issue.py
Due: backend

fix test timeout and fallback response test
  backend/tests/unit/apps/ai/common/utils_test.py
  docker/backend/Dockerfile.test
Due: backend

fix: mark existing issues with summaries as AI-generated in migration
  backend/src/apps/github/migrations/0045_issue_is_summary_generated.py
  backend/src/apps/github/models/issue.py
Due: backend

feat: add is_summary_generated flag to track AI summary generation status
  backend/src/apps/github/migrations/0045_issue_is_summary_generated.py
  backend/src/apps/github/models/issue.py
  backend/src/apps/github/models/managers/issue.py
  backend/tests/unit/apps/github/models/issue_test.py
  backend/tests/unit/apps/github/models/managers/issue_test.py
Due: backend

fix: exclude whitespace-only summaries when marking AI-generated issues
  backend/src/apps/github/migrations/0045_issue_is_summary_generated.py
Due: backend

address bot review
  backend/apps/ai/agents/project/tools/get_flagship_projects.py
Due: backend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  infrastructure/bootstrap/README.md
  infrastructure/modules/alb/README.md
  infrastructure/modules/cache/README.md
  infrastructure/modules/database/README.md
  infrastructure/modules/ecr-cache/README.md
  infrastructure/modules/kms/README.md
  infrastructure/modules/networking/modules/nacl/README.md
  infrastructure/modules/networking/modules/vpc-endpoint/README.md
  infrastructure/modules/parameters/README.md
  infrastructure/modules/security/README.md
  infrastructure/modules/service/README.md
  infrastructure/modules/storage/modules/s3-bucket/README.md
  infrastructure/modules/storage/modules/shared-data-bucket/README.md
  infrastructure/modules/tasks/modules/task/README.md
Due: none

fix(sitemap): resolve /repositories lastmod to Repository model (#5259)
  backend/src/apps/sitemap/views/static.py
  backend/tests/unit/apps/sitemap/views/static_test.py
Due: backend

Added constraints
  backend/src/apps/owasp/api/internal/mutations/certificate.py
Due: backend

updated naming
  backend/src/apps/owasp/migrations/0073_activityevent.py
  backend/src/apps/owasp/models/activity_event.py
Due: backend

fix(frontend): skip GetMyPrograms query for non-project leaders
  frontend/src/app/my/mentorship/page.tsx
Due: frontend

fix(frontend): update broken footer links
  frontend/src/utils/constants.ts
Due: frontend

Added test
  backend/tests/unit/apps/owasp/api/internal/mutations/__init__.py
  backend/tests/unit/apps/owasp/api/internal/mutations/certificate_mutation_test.py
  frontend/__tests__/unit/components/CertificateCard.test.tsx
  frontend/__tests__/unit/components/EntitySelectorInput.test.tsx
  frontend/__tests__/unit/components/UserSelectorInput.test.tsx
  frontend/__tests__/unit/pages/IssueCertificatePage.test.tsx
  frontend/__tests__/unit/pages/MyCertificatePage.test.tsx
  frontend/src/app/my/certificates/page.tsx
  frontend/src/components/CertificateCard.tsx
Due: backend, frontend

Address review in test file
  backend/tests/unit/apps/owasp/api/internal/mutations/certificate_mutation_test.py
  frontend/__tests__/unit/components/CertificateCard.test.tsx
  frontend/__tests__/unit/components/EntitySelectorInput.test.tsx
  frontend/__tests__/unit/components/UserSelectorInput.test.tsx
  frontend/__tests__/unit/pages/IssueCertificatePage.test.tsx
  frontend/__tests__/unit/pages/MyCertificatePage.test.tsx
Due: backend, frontend

support execution_context in NestQueryDepthLimiter (ai assisted change)
  backend/settings/graphql.py
Due: backend

fix slack formatting issue + test
  backend/apps/slack/utils/format.py
  backend/tests/unit/apps/slack/utils_test.py
Due: backend

check test fix
  backend/tests/unit/apps/slack/utils_test.py
Due: backend

add unit tests - project and contribution tools
  backend/tests/unit/apps/ai/agents/tools_test.py
Due: backend

Update FE dependencies Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  cspell/custom-dict.txt
  cspell/pnpm-lock.yaml
  cspell/pnpm-workspace.yaml
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  infrastructure/live/.terraform.lock.hcl
  infrastructure/live/README.md
  infrastructure/live/main.tf
  infrastructure/modules/networking/.terraform.lock.hcl
  infrastructure/modules/networking/README.md
  infrastructure/modules/networking/main.tf
  infrastructure/modules/storage/.terraform.lock.hcl
  infrastructure/modules/storage/README.md
  infrastructure/modules/storage/main.tf
  infrastructure/modules/tasks/.terraform.lock.hcl
  infrastructure/modules/tasks/README.md
  infrastructure/modules/tasks/main.tf
  infrastructure/state/.terraform.lock.hcl
  infrastructure/state/README.md
  infrastructure/state/main.tf
Due: none

update code
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/apps/owasp/management/commands/owasp_send_snapshot_emails.py
  backend/src/apps/owasp/services/email/base.py
  backend/src/apps/owasp/services/email/css_inliner.py
  backend/src/apps/owasp/services/email/django_email.py
  backend/src/apps/owasp/services/newsletter.py
  backend/src/apps/owasp/templates/emails/snapshot_digest.html
  backend/src/settings/base.py
  backend/tests/unit/apps/owasp/management/commands/owasp_send_snapshot_emails_test.py
  backend/tests/unit/apps/owasp/services/email/css_inliner_test.py
  backend/tests/unit/apps/owasp/services/email/django_email_test.py
  backend/tests/unit/apps/owasp/services/newsletter_test.py
  docker-compose/local/compose.yaml
Due: backend

update code
  backend/tests/unit/apps/owasp/services/email/css_inliner_test.py
Due: backend
