Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

add unit tests
  frontend/__tests__/mockData/mockEvidenceData.ts
  frontend/__tests__/unit/components/EvidenceActions.test.tsx
  frontend/__tests__/unit/components/EvidenceForm.test.tsx
  frontend/__tests__/unit/pages/CreateEvidencePage.test.tsx
  frontend/__tests__/unit/pages/EditEvidencePage.test.tsx
  frontend/__tests__/unit/pages/EvidenceDetailsPage.test.tsx
Due: frontend

add e2e tests
  e2e/pages/BoardCandidateClaimCreate.spec.ts
  e2e/pages/BoardCandidateClaimEdit.spec.ts
  e2e/pages/BoardCandidateClaimEvidenceCreate.spec.ts
  e2e/pages/BoardCandidateClaimEvidenceDetails.spec.ts
  e2e/pages/BoardCandidateClaimEvidenceEdit.spec.ts
Due: none

fix code
  backend/tests/unit/apps/owasp/models/snapshot_subscription_test.py
Due: backend

feat: automate snapshot creation and scheduling
  backend/apps/owasp/Makefile
  backend/apps/owasp/management/commands/owasp_create_snapshot.py
  backend/tests/unit/apps/owasp/management/commands/owasp_create_snapshot_test.py
  infrastructure/modules/tasks/README.md
  infrastructure/modules/tasks/main.tf
  infrastructure/modules/tasks/variables.tf
Due: backend

Update CI badge configuration
  README.md
Due: none

Remove unused langsmith dependency (#5054)
  backend/poetry.lock
  backend/pyproject.toml
Due: backend

bot comments
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/page.tsx
  frontend/src/components/EvidenceActions.tsx
  frontend/src/components/EvidenceForm.tsx
Due: frontend

feat: add GraphQL API for snapshot subscription management
  backend/apps/owasp/api/internal/mutations/__init__.py
  backend/apps/owasp/api/internal/mutations/snapshot_subscription.py
  backend/apps/owasp/api/internal/nodes/snapshot_subscription.py
  backend/apps/owasp/api/internal/queries/__init__.py
  backend/apps/owasp/api/internal/queries/snapshot_subscription.py
  backend/settings/graphql.py
  backend/tests/unit/apps/owasp/api/internal/mutations/__init__.py
  backend/tests/unit/apps/owasp/api/internal/mutations/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/snapshot_subscription_test.py
  frontend/src/types/__generated__/graphql.ts
Due: backend, frontend

feat(mentorship): sort module mentors alphabetically and improve module management UX
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/tests/unit/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  frontend/src/app/globals.css
  frontend/src/components/ModuleCard.tsx
  frontend/src/components/ModuleForm.tsx
Due: backend, frontend

update code
  backend/apps/owasp/management/commands/owasp_create_snapshot.py
  backend/tests/unit/apps/owasp/management/commands/owasp_create_snapshot_test.py
Due: backend

feat(mentorship): improve module UX and optimize mentor queries
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/apps/mentorship/api/internal/queries/module.py
  backend/tests/unit/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/src/app/globals.css
Due: backend, frontend

Update CI badge configuration (#5055)
  README.md
Due: none

Update code
  .github/workflows/code-ql-actions.yaml
  .github/workflows/code-ql-javascript-typescript.yaml
  .github/workflows/code-ql-python.yaml
  .github/workflows/run-code-tests.yaml
Due: none

Bump check-contribution-action to v0.1.3
  .github/workflows/check-contribution.yaml
Due: none

Update code
  .github/workflows/check-contribution.yaml
Due: none

Bump check-contribution-action to v0.1.3 (#5060)
  .github/workflows/check-contribution.yaml
Due: none

ci: restrict sensitive workflow jobs to upstream repository only (#5052)
  .github/workflows/ci-cd-production.yaml
  .github/workflows/ci-cd-staging.yaml
  .github/workflows/dependency-review.yaml
Due: none

Add optimization hints
  backend/apps/github/api/internal/nodes/user.py
Due: backend

Add dataloader
  backend/apps/github/api/internal/dataloaders/__init__.py
  backend/apps/github/api/internal/dataloaders/user.py
  backend/apps/github/api/internal/nodes/user.py
Due: backend

Add and update tests
  backend/apps/github/api/internal/nodes/user.py
  backend/tests/unit/apps/github/api/internal/dataloaders/user_test.py
  backend/tests/unit/apps/github/api/internal/nodes/user_test.py
Due: backend

Update e2e test configuration
  e2e/playwright.config.ts
Due: none

Update code
  .github/workflows/run-e2e-tests.yaml
Due: none

fix packages
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

Replace optimization hints with dataloaders and optimize author field in IssueNode
  backend/apps/github/api/internal/dataloaders/user.py
  backend/apps/github/api/internal/nodes/issue.py
  backend/apps/github/api/internal/nodes/user.py
  backend/tests/unit/apps/github/api/internal/dataloaders/user_test.py
  backend/tests/unit/apps/github/api/internal/nodes/user_test.py
Due: backend

claim: improvements to claim related code
  e2e/pages/BoardCandidateClaimCreate.spec.ts
  e2e/pages/BoardCandidateClaimEdit.spec.ts
  frontend/__tests__/mockData/mockClaimData.ts
  frontend/__tests__/unit/components/DropdownActions.test.tsx
  frontend/__tests__/unit/pages/CreateClaimPage.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/create/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/components/ClaimActions.tsx
  frontend/src/components/DropdownActions.tsx
  frontend/src/types/claim.ts
Due: frontend

Use Program.has_admin() consistently in mentorship mutations
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/apps/mentorship/api/internal/mutations/program.py
  backend/tests/unit/apps/mentorship/api/internal/mutations/module_mutation_test.py
  backend/tests/unit/apps/mentorship/api/internal/mutations/program_mutation_test.py
Due: backend

backport tests and fixes from newer PR
  e2e/pages/BoardCandidateClaimCreate.spec.ts
  e2e/pages/BoardCandidateClaimEdit.spec.ts
  frontend/__tests__/mockData/mockClaimData.ts
  frontend/__tests__/unit/components/DropdownActions.test.tsx
  frontend/__tests__/unit/pages/CreateClaimPage.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/create/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/components/ClaimActions.tsx
  frontend/src/components/DropdownActions.tsx
  frontend/src/types/claim.ts
Due: frontend

claim: add annotate to single node query
  backend/apps/owasp/api/internal/queries/board_candidate_claim.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_test.py
Due: backend

add annotate to single node query
  backend/apps/owasp/api/internal/queries/board_candidate_claim.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_test.py
Due: backend

apply bot suggestions
  e2e/helpers/mockClaimAuth.ts
  frontend/__tests__/mockData/mockEvidenceData.ts
  frontend/__tests__/unit/components/EvidenceActions.test.tsx
  frontend/__tests__/unit/components/EvidenceForm.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/create/page.tsx
  frontend/src/components/EvidenceActions.tsx
  frontend/src/components/EvidenceForm.tsx
  frontend/src/components/forms/shared/formValidationUtils.ts
Due: frontend

claim: bot comments
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_test.py
  e2e/pages/BoardCandidateClaimEdit.spec.ts
Due: backend

apply bot suggestions
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_test.py
  e2e/pages/BoardCandidateClaimEdit.spec.ts
Due: backend

update status to use enum
  frontend/__tests__/unit/components/EvidenceActions.test.tsx
  frontend/src/components/EvidenceActions.tsx
Due: frontend

fix tests
  frontend/__tests__/unit/components/EvidenceActions.test.tsx
Due: frontend

refactor(mentorship): use case-insensitive sorting, remove unused isEdit prop, and update test assertions
  backend/apps/mentorship/api/internal/queries/module.py
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/create/page.tsx
  frontend/src/components/ModuleForm.tsx
Due: backend, frontend

add claim review model
  backend/apps/github/api/internal/nodes/user.py
  backend/apps/github/models/user.py
  backend/apps/owasp/apps.py
  backend/apps/owasp/models/__init__.py
  backend/apps/owasp/models/board_candidate_claim_review.py
  backend/apps/owasp/models/board_of_directors.py
  backend/apps/owasp/signals/__init__.py
  backend/apps/owasp/signals/board_candidate_claim_review.py
  backend/apps/owasp/signals/board_of_directors.py
  backend/tests/unit/apps/github/api/internal/nodes/user_test.py
Due: backend

show toast on download file error
  frontend/__tests__/unit/pages/EvidenceDetailsPage.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/page.tsx
Due: frontend

clear errors when file is selected
  frontend/src/components/EvidenceForm.tsx
  frontend/src/components/forms/shared/FormFileInput.tsx
Due: frontend

bot comments
  frontend/src/components/forms/shared/FormFileInput.tsx
  frontend/src/components/forms/shared/FormTextarea.tsx
Due: frontend

clear mocks before use
  frontend/__tests__/unit/pages/EvidenceDetailsPage.test.tsx
  frontend/src/components/EvidenceForm.tsx
Due: frontend
