Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

feat: improve snapshot pages
  backend/src/apps/owasp/api/internal/queries/snapshot.py
  backend/tests/unit/apps/owasp/api/internal/queries/snapshot_test.py
  frontend/__tests__/unit/components/ShareButtons.test.tsx
  frontend/__tests__/unit/pages/Snapshots.test.tsx
  frontend/src/app/community/snapshots/[id]/page.tsx
  frontend/src/app/community/snapshots/page.tsx
  frontend/src/components/ShareButtons.tsx
  frontend/src/server/queries/snapshotQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/snapshotQueries.generated.ts
Due: backend, frontend

Bump vulnerable dependencies Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: backend, frontend

Update bash/make setup (#5588)
  CONTRIBUTING.md
  Makefile
  backend/make/apps/owasp.mk
  backend/make/clusterfuzz.mk
  backend/make/data.mk
  backend/make/image.mk
  backend/make/security.mk
  backend/make/test.mk
  docs/make/test.mk
  e2e/make/test.mk
  frontend/make/image.mk
  frontend/make/security.mk
  frontend/make/test.mk
  infrastructure/make/test.mk
  make/check.mk
  make/maintenance.mk
  make/run.mk
  make/security.mk
  make/terraform.mk
  tools/make/maintenance.mk
  tools/make/test.mk
Due: backend, frontend

fix issues
  backend/src/apps/owasp/api/internal/queries/snapshot.py
  backend/tests/unit/apps/owasp/api/internal/queries/snapshot_test.py
  frontend/__tests__/unit/pages/Snapshots.test.tsx
  frontend/src/app/community/snapshots/page.tsx
Due: backend, frontend

fix: render AccessDeniedDisplay for non-project leaders
  frontend/src/app/my/mentorship/page.tsx
Due: frontend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

test: update MyMentorship tests for non-leader access control contract
  frontend/__tests__/unit/pages/MyMentorship.test.tsx
Due: frontend

Update .trivyignore.yaml Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  .trivyignore.yaml
Due: none

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  .trivyignore.yaml
Due: none

update code
  backend/src/apps/owasp/api/internal/queries/snapshot.py
  backend/tests/unit/apps/owasp/api/internal/queries/snapshot_test.py
  frontend/src/app/community/snapshots/page.tsx
Due: backend, frontend

Update frontend/__tests__/unit/pages/MyMentorship.test.tsx
  frontend/__tests__/unit/pages/MyMentorship.test.tsx
Due: frontend

Bump vulnerable dependencies (#5594)
  .trivyignore.yaml
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: backend, frontend

add grafana ECS Service
  .github/workflows/run-deploy.yaml
  .github/workflows/run-image-build.yaml
  .github/workflows/run-image-scan.yaml
  .github/workflows/run-image-sign.yaml
  .pre-commit-config.yaml
  infrastructure/live/README.md
  infrastructure/live/main.tf
  infrastructure/live/variables.tf
  infrastructure/modules/observability/README.md
  infrastructure/modules/observability/grafana-service.tf
  infrastructure/modules/observability/outputs.tf
  infrastructure/modules/observability/tests/grafana.tftest.hcl
  infrastructure/modules/observability/variables.tf
Due: none

fix: remove redundant | undefined from optional TypeScript properties (S4782)
  frontend/src/types/__generated__/aboutQueries.generated.ts
  frontend/src/types/__generated__/homeQueries.generated.ts
  frontend/src/types/__generated__/issueQueries.generated.ts
  frontend/src/types/__generated__/moduleMutations.generated.ts
  frontend/src/types/__generated__/moduleQueries.generated.ts
  frontend/src/types/__generated__/programsMutations.generated.ts
  frontend/src/types/__generated__/programsQueries.generated.ts
  frontend/src/types/__generated__/projectQueries.generated.ts
  frontend/src/types/__generated__/projectsHealthDashboardQueries.generated.ts
Due: frontend

fix(frontend): construct deadline test dates with Date.UTC
  frontend/__tests__/unit/utils/deadlineUtils.test.ts
Due: frontend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  infrastructure/bootstrap/README.md
  infrastructure/live/.terraform.lock.hcl
  infrastructure/live/README.md
  infrastructure/live/main.tf
  infrastructure/modules/alb/README.md
  infrastructure/modules/cache/README.md
  infrastructure/modules/database/README.md
  infrastructure/modules/ecr-cache/README.md
  infrastructure/modules/kms/README.md
  infrastructure/modules/networking/.terraform.lock.hcl
  infrastructure/modules/networking/README.md
  infrastructure/modules/networking/main.tf
  infrastructure/modules/networking/modules/nacl/README.md
  infrastructure/modules/networking/modules/vpc-endpoint/README.md
  infrastructure/modules/parameters/README.md
  infrastructure/modules/security/README.md
  infrastructure/modules/service/README.md
  infrastructure/modules/storage/.terraform.lock.hcl
  infrastructure/modules/storage/README.md
  infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/modules/s3-bucket/README.md
  infrastructure/modules/storage/modules/shared-data-bucket/README.md
  infrastructure/modules/tasks/.terraform.lock.hcl
  infrastructure/modules/tasks/README.md
  infrastructure/modules/tasks/main.tf
  infrastructure/modules/tasks/modules/task/README.md
  infrastructure/state/.terraform.lock.hcl
  infrastructure/state/README.md
  infrastructure/state/main.tf
Due: none

fix issue
  backend/src/apps/owasp/templates/emails/snapshot_digest.html
  backend/src/apps/owasp/templatetags/__init__.py
  backend/src/apps/owasp/templatetags/url_filters.py
  backend/tests/unit/apps/owasp/templatetags/__init__.py
  backend/tests/unit/apps/owasp/templatetags/url_filters_test.py
Due: backend

Address review
  backend/src/apps/github/common.py
Due: backend

fixed backend test
  backend/tests/unit/apps/github/common_test.py
Due: backend

Adress coderabbbit review
  backend/src/apps/github/common.py
Due: backend

Added guard
  backend/src/apps/owasp/models/activity_event.py
Due: backend

fix issues
  backend/src/apps/owasp/admin/email_log.py
  backend/src/apps/owasp/management/commands/owasp_send_snapshot_emails.py
  backend/src/apps/owasp/services/email/base.py
  backend/src/apps/owasp/services/newsletter.py
  backend/src/apps/owasp/templates/emails/snapshot_digest.html
  backend/tests/unit/apps/owasp/admin/email_log_test.py
  backend/tests/unit/apps/owasp/management/commands/owasp_send_snapshot_emails_test.py
  backend/tests/unit/apps/owasp/models/email_log_test.py
  backend/tests/unit/apps/owasp/services/email/django_email_test.py
  backend/tests/unit/apps/owasp/services/newsletter_test.py
Due: backend

update code
  backend/src/apps/owasp/admin/email_log.py
  backend/src/apps/owasp/services/newsletter.py
  backend/src/apps/owasp/templates/emails/snapshot_digest.html
  backend/tests/unit/apps/owasp/admin/email_log_test.py
  backend/tests/unit/apps/owasp/management/commands/owasp_send_snapshot_emails_test.py
  backend/tests/unit/apps/owasp/services/newsletter_test.py
Due: backend

update code
  backend/src/apps/owasp/admin/email_log.py
  backend/src/apps/owasp/templates/emails/snapshot_digest.html
  backend/tests/unit/apps/owasp/admin/email_log_test.py
  backend/tests/unit/apps/owasp/management/commands/owasp_send_snapshot_emails_test.py
Due: backend

update code
  backend/tests/unit/apps/owasp/admin/email_log_test.py
  backend/tests/unit/apps/owasp/management/commands/owasp_send_snapshot_emails_test.py
Due: backend

add board/ REST API
  backend/src/apps/api/rest/v0/__init__.py
  backend/src/apps/api/rest/v0/board_discussion.py
  backend/src/apps/api/rest/v0/board_meeting.py
  backend/src/apps/api/rest/v0/board_motion.py
  backend/src/apps/api/rest/v0/board_outcome.py
  backend/src/apps/api/rest/v0/board_vote.py
  backend/src/apps/api/rest/v0/chapter.py
  backend/src/apps/api/rest/v0/common.py
  backend/src/apps/api/rest/v0/project.py
  backend/tests/unit/apps/api/rest/v0/board_discussion_test.py
  backend/tests/unit/apps/api/rest/v0/board_meeting_test.py
  backend/tests/unit/apps/api/rest/v0/board_motion_test.py
  backend/tests/unit/apps/api/rest/v0/board_outcome_test.py
  backend/tests/unit/apps/api/rest/v0/board_vote_test.py
  backend/tests/unit/apps/api/rest/v0/chapter_test.py
  backend/tests/unit/apps/api/rest/v0/common_test.py
  backend/tests/unit/apps/api/rest/v0/project_test.py
  backend/tests/unit/apps/api/rest/v0/urls_test.py
Due: backend

move overrides to override file
  docker-compose/local/compose.override.yaml
  docker-compose/local/compose.yaml
Due: none

fix deprecation warnings
  backend/src/apps/api/rest/v0/board_discussion.py
  backend/src/apps/api/rest/v0/board_meeting.py
  backend/src/apps/api/rest/v0/board_motion.py
  backend/src/apps/api/rest/v0/board_outcome.py
Due: backend

use Leader instead of Person
  backend/src/apps/api/rest/v0/chapter.py
  backend/src/apps/api/rest/v0/common.py
  backend/src/apps/api/rest/v0/project.py
  backend/tests/unit/apps/api/rest/v0/chapter_test.py
  backend/tests/unit/apps/api/rest/v0/project_test.py
Due: backend

order by id
  backend/src/apps/api/rest/v0/board_discussion.py
  backend/src/apps/api/rest/v0/board_meeting.py
  backend/src/apps/api/rest/v0/board_motion.py
  backend/src/apps/api/rest/v0/board_outcome.py
  backend/src/apps/api/rest/v0/board_vote.py
  backend/tests/unit/apps/api/rest/v0/board_discussion_test.py
  backend/tests/unit/apps/api/rest/v0/board_meeting_test.py
  backend/tests/unit/apps/api/rest/v0/board_motion_test.py
  backend/tests/unit/apps/api/rest/v0/board_outcome_test.py
  backend/tests/unit/apps/api/rest/v0/board_vote_test.py
Due: backend

update tests
  backend/tests/unit/apps/api/rest/v0/board_discussion_test.py
  backend/tests/unit/apps/api/rest/v0/board_meeting_test.py
  backend/tests/unit/apps/api/rest/v0/board_motion_test.py
  backend/tests/unit/apps/api/rest/v0/board_vote_test.py
Due: backend

update code
  backend/src/apps/api/rest/v0/board_meeting.py
  backend/src/apps/api/rest/v0/board_motion.py
  backend/src/apps/api/rest/v0/board_vote.py
Due: backend

fix issues
  backend/tests/unit/apps/owasp/api/internal/nodes/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/services/newsletter_test.py
  frontend/__tests__/unit/components/SnapshotEntitySection.test.tsx
Due: backend, frontend

update tests
  backend/tests/unit/apps/api/rest/v0/board_discussion_test.py
  backend/tests/unit/apps/api/rest/v0/board_motion_test.py
  backend/tests/unit/apps/api/rest/v0/board_outcome_test.py
  backend/tests/unit/apps/api/rest/v0/chapter_test.py
  backend/tests/unit/apps/api/rest/v0/project_test.py
Due: backend

add datetime normalization
  backend/src/apps/api/rest/v0/board_discussion.py
  backend/src/apps/api/rest/v0/board_meeting.py
  backend/src/apps/api/rest/v0/board_motion.py
  backend/src/apps/api/rest/v0/board_outcome.py
  backend/src/apps/api/rest/v0/board_vote.py
  backend/src/apps/api/rest/v0/common.py
  backend/tests/unit/apps/api/rest/v0/board_meeting_test.py
Due: backend

fix issues
  backend/src/apps/owasp/api/internal/nodes/snapshot.py
  backend/src/apps/owasp/api/internal/nodes/snapshot_subscription.py
  backend/tests/unit/apps/owasp/api/internal/mutations/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/services/newsletter_test.py
  backend/tests/unit/apps/owasp/views/unsubscribe_test.py
  frontend/__tests__/unit/components/PaginationButtons.test.tsx
  frontend/__tests__/unit/components/SnapshotEntitySection.test.tsx
  frontend/__tests__/unit/pages/UnsubscribePage.test.tsx
  frontend/src/app/unsubscribe/[token]/page.tsx
Due: backend, frontend

fix issue
  frontend/__tests__/unit/components/SnapshotEntitySection.test.tsx
Due: frontend
