Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

do not cache community channel queries
  backend/apps/ai/flows/assistant.py
  backend/tests/unit/apps/ai/flows/assistant_test.py
  backend/tests/unit/apps/ai/models/semantic_cache_test.py
Due: backend

fix spell check
  backend/tests/unit/apps/ai/flows/assistant_test.py
Due: backend

fix: add actionable links to Ways to Engage cards on Community page
  frontend/src/app/community/page.tsx
  frontend/src/utils/communityData.ts
Due: frontend

update code
  backend/apps/ai/flows/assistant.py
  backend/apps/ai/models/semantic_cache.py
  backend/tests/unit/apps/ai/flows/assistant_test.py
Due: backend

feature(infra): add precommit hook and ci cd for terrafrm auto docs
  .github/workflows/run-ci-cd.yaml
  .markdownlint.yaml
  .pre-commit-config.yaml
  infrastructure/.terraform-docs.yaml
  infrastructure/Makefile
Due: none

feature(infra): add the makefile command
  infrastructure/.terraform-docs.yaml
  infrastructure/Makefile
  infrastructure/README.md
Due: none

feature(infra): add docs generated from terraform docs
  infrastructure/Makefile
  infrastructure/bootstrap/README.md
  infrastructure/live/README.md
  infrastructure/modules/alb/README.md
  infrastructure/modules/cache/README.md
  infrastructure/modules/database/README.md
  infrastructure/modules/kms/README.md
  infrastructure/modules/networking/README.md
  infrastructure/modules/networking/modules/nacl/README.md
  infrastructure/modules/networking/modules/vpc-endpoint/README.md
  infrastructure/modules/parameters/README.md
  infrastructure/modules/security/README.md
  infrastructure/modules/service/README.md
  infrastructure/modules/storage/README.md
  infrastructure/modules/storage/modules/s3-bucket/README.md
  infrastructure/modules/storage/modules/shared-data-bucket/README.md
  infrastructure/modules/tasks/README.md
  infrastructure/modules/tasks/modules/task/README.md
  infrastructure/state/README.md
Due: none

fix(infra): change terraform doc command to work form anywhere
  .github/workflows/run-ci-cd.yaml
  infrastructure/Makefile
  infrastructure/README.md
Due: none

fix(infra): fix doc for downloading terraform docs and install for docs on ci cd
  .github/workflows/run-ci-cd.yaml
  infrastructure/README.md
Due: none

Fix stale calculated_score issue in management command
  backend/apps/github/management/commands/github_update_users.py
Due: backend

limit supporter card limit on sponsor page
  frontend/src/components/sponsors/SponsorApplicationForm.tsx
  frontend/src/components/sponsors/SponsorTierSection.tsx
Due: frontend

lint fix + dump data change
  backend/apps/common/management/commands/dump_data.py
  frontend/src/components/sponsors/SponsorApplicationForm.tsx
  frontend/src/components/sponsors/SponsorTierSection.tsx
Due: backend, frontend

update code
  backend/apps/ai/models/semantic_cache.py
Due: backend

merging and styles fixed
  frontend/src/components/Header.tsx
Due: frontend

add tests for sponsortiersection
  frontend/__tests__/unit/components/sponsors/SponsorTierSection.test.tsx
Due: frontend

lint fix
  frontend/__tests__/unit/components/sponsors/SponsorTierSection.test.tsx
Due: frontend

lint fix
  frontend/__tests__/unit/pages/Header.test.tsx
Due: frontend

feat: add terraform-docs for infrastructure documentation generation
  .github/workflows/run-ci-cd.yaml
  .gitignore
  .markdownlint.yaml
  .pre-commit-config.yaml
  infrastructure/.terraform-docs.yml
  infrastructure/Makefile
  infrastructure/README.md
  infrastructure/bootstrap/README.md
  infrastructure/live/README.md
  infrastructure/modules/alb/README.md
  infrastructure/modules/cache/README.md
  infrastructure/modules/database/README.md
  infrastructure/modules/kms/README.md
  infrastructure/modules/networking/README.md
  infrastructure/modules/networking/modules/nacl/README.md
  infrastructure/modules/networking/modules/vpc-endpoint/README.md
  infrastructure/modules/parameters/README.md
  infrastructure/modules/security/README.md
  infrastructure/modules/service/README.md
  infrastructure/modules/storage/README.md
  infrastructure/modules/storage/modules/s3-bucket/README.md
  infrastructure/modules/storage/modules/shared-data-bucket/README.md
  infrastructure/modules/tasks/README.md
  infrastructure/modules/tasks/modules/task/README.md
  infrastructure/state/README.md
Due: none

feat: add terraform-docs for infrastructure documentation generation
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  infrastructure/Makefile
  infrastructure/README.md
Due: frontend

Remove unnecessay assertions
  frontend/__tests__/unit/components/MetricsPDFButton.test.tsx
  frontend/__tests__/unit/components/RepositoryCard.test.tsx
  frontend/__tests__/unit/components/UserMenu.test.tsx
  frontend/__tests__/unit/components/forms/shared/FormContainer.test.tsx
  frontend/__tests__/unit/pages/CreateProgram.test.tsx
  frontend/__tests__/unit/pages/Header.test.tsx
Due: frontend

remaining non-null
  frontend/__tests__/unit/components/UserMenu.test.tsx
Due: frontend

add docstrings
  backend/apps/ai/models/semantic_cache.py
  backend/apps/ai/semantic_cache.py
Due: backend

Remove unnecessay assertions (#4567)
  frontend/__tests__/unit/components/MetricsPDFButton.test.tsx
  frontend/__tests__/unit/components/RepositoryCard.test.tsx
  frontend/__tests__/unit/components/UserMenu.test.tsx
  frontend/__tests__/unit/components/forms/shared/FormContainer.test.tsx
  frontend/__tests__/unit/pages/CreateProgram.test.tsx
  frontend/__tests__/unit/pages/Header.test.tsx
Due: frontend

updated dependancies to fix security vulnerabilities
  backend/poetry.lock
  backend/pyproject.toml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

fix: restore strawberry-graphql django extra and remove unnecessary explicit dependencies
  backend/poetry.lock
  backend/pyproject.toml
Due: backend

Using an optional chain expression instead of redundant && checks.
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/pages/ProgramDetailsMentorship.test.tsx
  frontend/eslint-rules/no-global-nan.mjs
Due: frontend

Update code
  frontend/eslint-rules/no-global-nan.mjs
Due: frontend

Update code
  backend/poetry.lock
  backend/pyproject.toml
Due: backend

Update code
  frontend/__tests__/unit/pages/Community.test.tsx
  frontend/src/app/community/page.tsx
Due: frontend

fix : remove chmod as docker user already has write perms in data dir
  backend/Makefile
Due: backend

chore(make) : run fetch-nest-dump.py inside local backend container
  backend/Makefile
Due: backend

fix : change /bin/bash to /bin/sh to avoid issues on NIXOS
  frontend/Makefile
Due: frontend

chore(make) : run update_nest_dump inside nest-backend docker container
  backend/Makefile
Due: backend

refactor : use exec-backend-command instead of docker compose exec
  backend/Makefile
Due: backend

fix: replace update with upload in upload-nest-dump Makefile target
  backend/Makefile
Due: backend

Containerize fetch-nest-dump command. Fixes #4536
  backend/Makefile
  docker-compose/e2e/compose.yaml
  docker/backend/Dockerfile
Due: backend

Update code
  backend/Makefile
Due: backend

chore: add version comments to SHA-pinned GitHub Actions
  .github/workflows/check-pr-issue.yaml
  .github/workflows/label-issues.yaml
  .github/workflows/label-pull-requests.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-code-ql.yaml
  .github/workflows/run-fuzz-tests.yaml
  .github/workflows/setup-backend-environment/action.yaml
  .github/workflows/update-nest-test-images.yaml
Due: none

Update code
  .github/workflows/check-pr-issue.yaml
  .github/workflows/label-issues.yaml
  .github/workflows/label-pull-requests.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-code-ql.yaml
  .github/workflows/run-fuzz-tests.yaml
  .github/workflows/setup-backend-environment/action.yaml
  .github/workflows/update-nest-test-images.yaml
Due: none

Add version comments for SHA-pinned GitHub Actions
  .github/workflows/check-pr-issue.yaml
  .github/workflows/label-issues.yaml
  .github/workflows/label-pull-requests.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-code-ql.yaml
  .github/workflows/run-fuzz-tests.yaml
  .github/workflows/setup-backend-environment/action.yaml
  .github/workflows/update-nest-test-images.yaml
Due: none
