Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: project_field_calculation_logic
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
Due: backend

fix(ai): keep router Jinja2 comment format for ruff line length
  backend/apps/ai/router.py
Due: backend

add a11y test for countryfilter
  frontend/__tests__/a11y/components/CountryFilter.a11y.test.tsx
  frontend/src/components/CountryFilter.tsx
Due: frontend

minor UI fix
  frontend/src/components/CountryFilter.tsx
  frontend/src/components/SortBy.tsx
Due: frontend

fix code
  infrastructure/state/main.tf
Due: none

add graphql handler to program
  backend/apps/mentorship/api/internal/mutations/program.py
  frontend/__tests__/unit/components/ProgramForm.test.tsx
  frontend/__tests__/unit/utils/handleGraphQLError.test.ts
  frontend/src/app/my/mentorship/programs/[programKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/create/page.tsx
  frontend/src/components/ProgramForm.tsx
  frontend/src/utils/helpers/handleGraphQLError.ts
Due: backend, frontend

change tests
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
Due: backend

use separate KMS key per state environment
  infrastructure/bootstrap/main.tf
  infrastructure/modules/kms/main.tf
  infrastructure/modules/kms/tests/kms.tftest.hcl
  infrastructure/modules/kms/variables.tf
  infrastructure/staging/main.tf
  infrastructure/state/main.tf
Due: none

add kms outputs
  infrastructure/state/outputs.tf
Due: none

apply suggestions
  frontend/src/components/ProgramForm.tsx
  frontend/src/utils/helpers/handleGraphQLError.ts
Due: frontend

bot comments
  infrastructure/modules/kms/tests/kms.tftest.hcl
  infrastructure/state/main.tf
Due: none

refactor: simplify Event.parse_dates method
  backend/apps/owasp/models/event.py
  backend/tests/apps/owasp/models/event_test.py
Due: backend

feat(about): render timeline grouped by year with collapsible year badges
  frontend/src/app/about/page.tsx
Due: frontend

feat(about): implement zigzag two-column timeline layout for desktop
  frontend/src/app/about/page.tsx
Due: frontend

feat(about): wire up visible groups computation and show-more handlers
  frontend/src/app/about/page.tsx
Due: frontend

fix(about): stable milestone index, mobile card layout, and aria-label for show-more
  frontend/src/app/about/page.tsx
Due: frontend

feat(about): add global milestone budget and per-year show more
  frontend/src/app/about/page.tsx
Due: frontend

fix(about): keep at least one year expanded when toggling year sections
  frontend/src/app/about/page.tsx
Due: frontend

feat(about): add card hover animations and shared card content helper
  frontend/src/app/about/page.tsx
Due: frontend

chore(about): add inline comments to timeline logic for clarity
  frontend/src/app/about/page.tsx
Due: frontend

refactor(about): group timeline milestones by year with collapsible accordion
  frontend/src/app/about/page.tsx
Due: frontend

fix: address issue #4198
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/package-lock.json
  frontend/src/app/about/page.tsx
  frontend/src/components/skeletons/AboutSkeleton.tsx
Due: frontend

fix unit tests
  frontend/src/components/ProgramForm.tsx
Due: frontend

fix: use max instead of sum for project forks, stars, and contributors
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
Due: backend

Run make update
  backend/poetry.lock
  cspell/package.json
  cspell/pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

whole div "Chapters", should be clickable and remove test data
  frontend/src/app/page.tsx
Due: frontend

Use separate KMS key per state environment (#4219)
  infrastructure/bootstrap/main.tf
  infrastructure/modules/kms/main.tf
  infrastructure/modules/kms/tests/kms.tftest.hcl
  infrastructure/modules/kms/variables.tf
  infrastructure/staging/main.tf
  infrastructure/state/main.tf
  infrastructure/state/outputs.tf
Due: none

Update code
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
Due: backend

Improve project-level metrics calculation by using max values (#4217)
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
Due: backend

Update code
  frontend/__tests__/unit/components/CountryFilter.test.tsx
  frontend/__tests__/unit/components/SortBy.test.tsx
  frontend/src/components/CountryFilter.tsx
  frontend/src/components/Search.tsx
  frontend/src/components/SearchPageLayout.tsx
  frontend/src/components/SortBy.tsx
  frontend/src/types/sortBy.ts
Due: frontend

fix: disable search auto-focus on mobile/touch devices
  frontend/__tests__/unit/components/Search.test.tsx
  frontend/src/components/GlobalSearch.tsx
  frontend/src/components/Search.tsx
  frontend/src/hooks/useShouldAutoFocusSearch.ts
Due: frontend

fix/autofocus-can-be-skipped-and-test-issue
  frontend/__tests__/unit/components/Search.test.tsx
Due: frontend

fix/guard-clearButton-before-clicking
  frontend/__tests__/unit/components/Search.test.tsx
Due: frontend

Solve Re-render Problem
  frontend/src/hooks/useShouldAutoFocusSearch.ts
Due: frontend

fix/sonarQube’s-unnecessary-assertion
  frontend/__tests__/unit/components/Search.test.tsx
Due: frontend

fix merge conflicts
  frontend/__tests__/unit/components/Search.test.tsx
  frontend/src/components/Search.tsx
Due: frontend

Fix merge conflicts
  frontend/src/hooks/useShouldAutoFocusSearch.ts
Due: frontend

use s3 lockfile instead of dynamodb for state lock
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/backend.tf
  infrastructure/bootstrap/terraform.tfbackend.example
  infrastructure/staging/README.md
  infrastructure/staging/backend.tf
  infrastructure/staging/terraform.tfbackend.example
Due: none

add kms alias output
  infrastructure/bootstrap/main.tf
  infrastructure/modules/kms/outputs.tf
  infrastructure/state/outputs.tf
Due: none

delete dynamodb_table
  infrastructure/state/main.tf
  infrastructure/state/outputs.tf
Due: none

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
