Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

Make find failure fatal in smoke test discovery loop
  infrastructure/scripts/run-smoke-tests.sh
Due: none

fix: remove duplicate LOCALSTACK_AUTH_TOKEN and fix test.mk target chaining
  .github/workflows/run-ci-cd.yaml
  infrastructure/make/test.mk
Due: none

Add infrastructure smoke tests for Phase 1 modules
  infrastructure/modules/ecr-cache/tests/smoke.tftest.hcl
  infrastructure/modules/kms/tests/smoke.tftest.hcl
  infrastructure/modules/parameters/tests/smoke.tftest.hcl
  infrastructure/modules/storage/tests/smoke.tftest.hcl
Due: none

Fix cleanup trap to always run on exit
  infrastructure/scripts/run-smoke-tests.sh
Due: none

Address cubic review comments
  infrastructure/modules/parameters/tests/smoke.tftest.hcl
  infrastructure/modules/storage/tests/smoke.tftest.hcl
  infrastructure/scripts/run-smoke-tests.sh
Due: none

Fix SonarCloud issues in run-smoke-tests.sh
  infrastructure/scripts/run-smoke-tests.sh
Due: none

Fix secret ordering and add tftest to cspell dictionary
  .github/workflows/ci-cd-staging.yaml
  infrastructure/README.md
Due: none

Bump LocalStack image to 2026.6.0
  .github/workflows/run-infrastructure-smoke.yaml
  infrastructure/scripts/run-smoke-tests.sh
Due: none

fix: remove hardcoded LocalStack endpoints from smoke tests, use AWS_ENDPOINT_URL
  infrastructure/modules/ecr-cache/tests/smoke.tftest.hcl
  infrastructure/modules/kms/tests/smoke.tftest.hcl
  infrastructure/modules/parameters/tests/smoke.tftest.hcl
  infrastructure/modules/storage/tests/smoke.tftest.hcl
Due: none

fix: update README to use test-infrastructure-unit for mock-only tests
  infrastructure/README.md
Due: none

Resolve multiple vulnerable dependency issues
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

Resolve multiple vulnerable dependency issues (#5292)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

sort aplhabetically
  .github/workflows/run-infrastructure-bootstrap.yaml
Due: none

remove wild cards
  infrastructure/bootstrap/main.tf
Due: none

remove wild cards
  infrastructure/bootstrap/tests/unit.tftest.hcl
Due: none

readme changes
  infrastructure/README.md
  infrastructure/bootstrap/README.md
  infrastructure/live/README.md
  infrastructure/state/README.md
Due: none

change policy to keep in char limit + add back encryption
  infrastructure/bootstrap/backend.tf
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/terraform.production.tfbackend.example
  infrastructure/bootstrap/terraform.staging.tfbackend.example
  infrastructure/live/backend.tf
  infrastructure/live/terraform.production.tfbackend.example
  infrastructure/live/terraform.staging.tfbackend.example
Due: none

change policy to .github
  .github/workflows/run-deploy.yaml
  .github/workflows/run-infrastructure-bootstrap.yaml
Due: none

add 3rd policy
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/tests/unit.tftest.hcl
Due: none

update tests for third policy and readme
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/tests/integration.tftest.hcl
  infrastructure/bootstrap/tests/unit.tftest.hcl
Due: none

make check test fix
  infrastructure/bootstrap/README.md
Due: none

fix(docker): revert docker volume names
  docker-compose/local/compose.yaml
Due: none

addres bot comments
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/main.tf
Due: none

feat(pre-commit-check): ensures that docker volume name is db-data
  .github/scripts/check-docker-volume-names.sh
  .pre-commit-config.yaml
Due: none

refactor(pre-commit-check): docker vol name only checks for yaml/yml file and ignores comments
  .github/scripts/check-docker-volume-names.sh
Due: none

Update security scan settings
  .github/actions/run-osv-check/action.yaml
  .github/actions/run-trivy-check/action.yaml
  .github/actions/setup-terraform-environment/action.yaml
  .trivyignore.yaml
  cspell/custom-dict.txt
  cspell/make/security.mk
  cspell/pnpm-workspace.yaml
  docker/code-checks/Dockerfile
  docker/infrastructure/Dockerfile.tests
  docker/terraform/Dockerfile
  e2e/make/security.mk
  e2e/pnpm-workspace.yaml
  frontend/make/security.mk
  frontend/pnpm-workspace.yaml
  infrastructure/README.md
  infrastructure/make/test.mk
  make/check-test.mk
  make/check.mk
  make/security.mk
  make/terraform.mk
  pnpm-workspace.yaml
Due: frontend

Update code
  .github/actions/run-osv-check/action.yaml
  .github/actions/run-trivy-check/action.yaml
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-dependency-checks.yaml
  .github/workflows/run-image-scan.yaml
  cspell/pnpm-workspace.yaml
  e2e/pnpm-workspace.yaml
  frontend/pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: frontend

Update Code
  docker-compose/local/compose.o11y.yaml
Due: none

update code
  backend/src/apps/owasp/api/internal/mutations/entity_subscription.py
  backend/src/apps/owasp/api/internal/queries/committee.py
  backend/tests/unit/apps/owasp/api/internal/mutations/entity_subscription_test.py
Due: backend

Update security scan settings (#5297)
  .github/actions/run-osv-check/action.yaml
  .github/actions/run-trivy-check/action.yaml
  .github/actions/setup-terraform-environment/action.yaml
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-dependency-checks.yaml
  .github/workflows/run-image-scan.yaml
  .trivyignore.yaml
  cspell/custom-dict.txt
  cspell/make/security.mk
  cspell/pnpm-workspace.yaml
  docker/code-checks/Dockerfile
  docker/infrastructure/Dockerfile.tests
  docker/terraform/Dockerfile
  e2e/make/security.mk
  e2e/pnpm-workspace.yaml
  frontend/make/security.mk
  frontend/pnpm-workspace.yaml
  infrastructure/README.md
  infrastructure/make/test.mk
  make/check-test.mk
  make/check.mk
  make/security.mk
  make/terraform.mk
  pnpm-workspace.yaml
Due: frontend

fix: revert db volume name and add compose volume check
  .github/scripts/check-compose-volumes.py
  .pre-commit-config.yaml
  docker-compose/local/compose.yaml
Due: none

fix comment
  backend/src/apps/owasp/api/internal/mutations/entity_subscription.py
  backend/tests/unit/apps/owasp/api/internal/mutations/entity_subscription_test.py
Due: backend

fix comments
  backend/src/apps/owasp/api/internal/mutations/entity_subscription.py
  backend/tests/unit/apps/owasp/api/internal/mutations/entity_subscription_test.py
Due: backend

Update code
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

Optimize entity channels and entity leaders in ProjectNode
  backend/src/apps/owasp/api/internal/dataloaders/project.py
  backend/src/apps/owasp/api/internal/nodes/project.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/project_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/project_test.py
Due: backend

Optimize entity leaders and entity channels in CommitteeNode
  backend/src/apps/owasp/api/internal/dataloaders/__init__.py
  backend/src/apps/owasp/api/internal/dataloaders/committee.py
  backend/src/apps/owasp/api/internal/nodes/committee.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/committee_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/committee_test.py
Due: backend

Clean up entity leaders and entity channels from GenericEntityNode
  backend/src/apps/owasp/api/internal/nodes/common.py
  backend/tests/unit/apps/owasp/api/internal/nodes/common_test.py
Due: backend

Update tests
  backend/tests/unit/apps/owasp/api/internal/nodes/committee_test.py
Due: backend

feat: add settings page for snapshot subscription preferences
  frontend/__tests__/a11y/pages/SettingsPage.a11y.test.tsx
  frontend/__tests__/mockData/mockSubscriptionData.ts
  frontend/__tests__/unit/pages/SettingsPage.test.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/UserMenu.tsx
  frontend/src/server/queries/chapterQueries.ts
  frontend/src/server/queries/subscriptionQueries.ts
  frontend/src/types/__generated__/chapterQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/subscriptionQueries.generated.ts
Due: frontend

update tests
  frontend/__tests__/a11y/pages/SettingsPage.a11y.test.tsx
  frontend/__tests__/unit/pages/SettingsPage.test.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/server/queries/subscriptionQueries.ts
  frontend/src/types/__generated__/subscriptionQueries.generated.ts
Due: frontend
