Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 80%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

ci: add ansible-lint workflow
  .github/workflows/lint-ansible.yaml
Due: none

feat: implement robust notification recovery and transition-aware signals
  backend/apps/owasp/management/commands/owasp_run_notification_worker.py
  backend/apps/owasp/migrations/0075_alter_subscription_object_id.py
  backend/apps/owasp/signals/snapshot.py
Due: backend

Update .github/workflows/lint-ansible.yaml
  .github/workflows/lint-ansible.yaml
Due: none

Allow project health dashboard access in staging
  backend/apps/owasp/api/internal/permissions/project_health_metrics.py
Due: backend

Update proxy/headers.conf
  proxy/headers.conf
Due: none

ci: add ansible-lint make target and workflow
  .github/workflows/lint-ansible.yaml
  Makefile
Due: none

fix: resolve conflicts and correct light mode contrast regression
  frontend/__tests__/unit/components/Card.test.tsx
  frontend/__tests__/unit/components/ContributorsList.test.tsx
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/src/app/about/page.tsx
  frontend/src/app/board/[year]/candidates/page.tsx
  frontend/src/app/chapters/[chapterKey]/page.tsx
  frontend/src/app/committees/[committeeKey]/page.tsx
  frontend/src/app/members/[memberKey]/page.tsx
  frontend/src/app/organizations/[organizationKey]/page.tsx
  frontend/src/app/organizations/[organizationKey]/repositories/[repositoryKey]/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/Card.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/ContributorsList.tsx
  frontend/src/components/ItemCardList.tsx
  frontend/src/components/ModuleCard.tsx
  frontend/src/components/Release.tsx
  frontend/src/components/RepositoryCard.tsx
  frontend/src/components/ShowMoreButton.tsx
  frontend/src/components/SingleModuleCard.tsx
  frontend/src/components/SnapshotCard.tsx
  frontend/src/components/UserCard.tsx
Due: frontend

Update UserDetails Test
  frontend/__tests__/e2e/pages/UserDetails.spec.ts
Due: frontend

fix: prevent LogoCarousel DOM cloning leak
  frontend/src/components/LogoCarousel.tsx
Due: frontend

Run checks
  frontend/__tests__/e2e/pages/UserDetails.spec.ts
Due: frontend

Update code
  .github/workflows/run-ci-cd.yaml
  docker-compose/e2e/compose.yaml
  docker/frontend/Dockerfile
  frontend/.env.e2e.example
Due: frontend

Update tests
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/__tests__/e2e/pages/OrganizationDetails.spec.ts
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
  frontend/__tests__/e2e/pages/RepositoryDetails.spec.ts
  frontend/__tests__/e2e/pages/UserDetails.spec.ts
Due: frontend

Update envs
  .github/workflows/run-ci-cd.yaml
  docker/frontend/Dockerfile
Due: none

Update run-ci-cd
  .github/workflows/run-ci-cd.yaml
Due: none

ScrollToTop timeout is cleared on unmount
  frontend/src/components/ScrollToTop.tsx
Due: frontend

docs: fix markdown formatting and WSL setup guidance
  CONTRIBUTING.md
  README.md
Due: none

Run make update
  backend/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Update docs/sdks/overview.md
  docs/sdks/overview.md
Due: none

Update backend/README.md
  backend/README.md
Due: backend

Add SBOM generation for docker image
  .github/workflows/run-ci-cd.yaml
  cspell/custom-dict.txt
Due: none

Fix N+1 queries for IssueNode.interestedUsers
  backend/apps/github/api/internal/nodes/issue.py
Due: backend

feat: Replace loading spinners with skeleton UI in mentorship portal
  frontend/src/app/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/mentorship/programs/[programKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/page.tsx
  frontend/src/components/SkeletonsBase.tsx
  frontend/src/components/skeletons/MentorshipPageSkeleton.tsx
  frontend/src/components/skeletons/ModuleCardSkeleton.tsx
  frontend/src/components/skeletons/ProgramCardSkeleton.tsx
Due: frontend

Update code
  frontend/src/components/LogoCarousel.tsx
Due: frontend

fix: prevent LogoCarousel DOM cloning leak (#3801)
  frontend/src/components/LogoCarousel.tsx
Due: frontend

add unit test
  backend/apps/owasp/management/commands/owasp_run_notification_worker.py
  backend/settings/base.py
  backend/tests/apps/owasp/management/commands/owasp_run_notification_worker_test.py
Due: backend

Update code
  frontend/src/components/ScrollToTop.tsx
Due: frontend

Resolve conflicts
  frontend/src/components/ScrollToTop.tsx
Due: frontend

Fix: ScrollToTop timeout is cleared on unmount #3755 (#3807)
  frontend/src/components/ScrollToTop.tsx
Due: frontend

Update contrast and label size for LabelList component
  frontend/src/components/LabelList.tsx
Due: frontend

Update issues table to use LabelLists instead of custom labels
  frontend/src/components/IssuesTable.tsx
Due: frontend

Add tests
  frontend/__tests__/unit/components/IssuesTable.test.tsx
Due: frontend

Update Label styling to match ActionButton design (#3806)
  frontend/src/components/LabelList.tsx
Due: frontend

Update code
  frontend/__tests__/unit/components/IssuesTable.test.tsx
Due: frontend

Update code
  CONTRIBUTING.md
  README.md
Due: none

Add more tests
  frontend/__tests__/unit/components/IssuesTable.test.tsx
Due: frontend

Clarify WSL and Docker requirements for new contributors (#3782)
  CONTRIBUTING.md
Due: none

fix sonarcloud issue
  backend/apps/owasp/management/commands/owasp_run_notification_worker.py
Due: backend
