Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

update code
  backend/apps/owasp/api/internal/mutations/snapshot_subscription.py
  backend/apps/owasp/api/internal/nodes/project_subscription_preference.py
  backend/apps/owasp/models/snapshot_subscription.py
  backend/tests/unit/apps/owasp/api/internal/queries/chapter_test.py
Due: backend

update tests
  backend/apps/owasp/api/internal/mutations/snapshot_subscription.py
  backend/tests/unit/apps/owasp/api/internal/mutations/snapshot_subscription_test.py
Due: backend

fix issues
  backend/tests/unit/apps/owasp/api/internal/mutations/snapshot_subscription_test.py
Due: backend

feat: show status of issues and pull requests on member profiles
  frontend/__tests__/unit/components/RecentIssues.test.tsx
  frontend/__tests__/unit/components/RecentPullRequests.test.tsx
  frontend/src/components/ItemCardList.tsx
  frontend/src/components/RecentIssues.tsx
  frontend/src/components/RecentPullRequests.tsx
  frontend/src/server/queries/userQueries.ts
  frontend/src/types/__generated__/userQueries.generated.ts
Due: frontend

fix(backend): refresh nest_updated_at for records during bulk_save
  backend/apps/common/models.py
  backend/tests/unit/apps/common/models_test.py
Due: backend

update the naming
  backend/src/apps/owasp/utils/score_calculator.py
Due: backend

added navigation to /certificate
  backend/src/apps/owasp/utils/score_calculator.py
  frontend/src/components/UserMenu.tsx
Due: backend, frontend

feat(backend): optimize metadata stripping
  backend/apps/owasp/models/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_evidence_test.py
Due: backend

feat: add settings page for snapshot subscription preferences
  frontend/__tests__/a11y/pages/SettingsPage.a11y.test.tsx
  frontend/__tests__/mockData/mockSubscriptionData.ts
  frontend/__tests__/unit/pages/SettingsPage.test.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/UserMenu.tsx
  frontend/src/server/queries/chapterQueries.ts
  frontend/src/server/queries/subscriptionQueries.ts
  frontend/src/types/__generated__/chapterQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/subscriptionQueries.generated.ts
Due: frontend

fix(backend): strip italic, strikethrough, and code markers in strip_markdown
  backend/apps/slack/common/text.py
  backend/tests/unit/apps/slack/utils_test.py
Due: backend

replace hardcoded directories with glob pattern matching
  .github/dependabot.yml
Due: none

add terraform_providers_lock pre-commit hook and update lockfiles
  .pre-commit-config.yaml
  infrastructure/bootstrap/.terraform.lock.hcl
  infrastructure/live/.terraform.lock.hcl
  infrastructure/modules/alb/.terraform.lock.hcl
  infrastructure/modules/cache/.terraform.lock.hcl
  infrastructure/modules/database/.terraform.lock.hcl
  infrastructure/modules/ecr-cache/.terraform.lock.hcl
  infrastructure/modules/kms/.terraform.lock.hcl
  infrastructure/modules/networking/.terraform.lock.hcl
  infrastructure/modules/networking/modules/nacl/.terraform.lock.hcl
  infrastructure/modules/networking/modules/vpc-endpoint/.terraform.lock.hcl
  infrastructure/modules/parameters/.terraform.lock.hcl
  infrastructure/modules/security/.terraform.lock.hcl
  infrastructure/modules/service/.terraform.lock.hcl
  infrastructure/modules/storage/.terraform.lock.hcl
  infrastructure/modules/storage/modules/s3-bucket/.terraform.lock.hcl
  infrastructure/modules/storage/modules/shared-data-bucket/.terraform.lock.hcl
  infrastructure/modules/tasks/.terraform.lock.hcl
  infrastructure/modules/tasks/modules/task/.terraform.lock.hcl
  infrastructure/state/.terraform.lock.hcl
Due: none

sort alphabetically
  .pre-commit-config.yaml
Due: none

fix: update kms policy identifiers to use region name instead of region id
  infrastructure/modules/kms/main.tf
Due: none

test: update kms policy mock and add validation assertions for cloudwatch logs configuration
  infrastructure/modules/kms/tests/kms.tftest.hcl
Due: none

update tests
  frontend/__tests__/a11y/pages/SettingsPage.a11y.test.tsx
  frontend/__tests__/unit/pages/SettingsPage.test.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/server/queries/subscriptionQueries.ts
  frontend/src/types/__generated__/subscriptionQueries.generated.ts
Due: frontend

add tests for review node
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_review_test.py
Due: backend

cherry pick claim related files
  backend/settings/graphql.py
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/create/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/app/board/[year]/candidates/page.tsx
  frontend/src/components/ClaimActions.tsx
  frontend/src/components/ClaimForm.tsx
  frontend/src/components/DropdownActions.tsx
  frontend/src/components/forms/shared/formValidationUtils.ts
  frontend/src/server/mutations/claimMutations.ts
  frontend/src/server/queries/boardQueries.ts
  frontend/src/server/queries/claimQueries.ts
  frontend/src/server/queries/evidenceQueries.ts
  frontend/src/types/__generated__/boardQueries.generated.ts
  frontend/src/types/__generated__/claimMutations.generated.ts
  frontend/src/types/__generated__/claimQueries.generated.ts
  frontend/src/types/__generated__/evidenceQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
Due: backend, frontend

avoid refetching queries on mutation, use returned claim object
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/create/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/components/ClaimActions.tsx
Due: frontend

backend: update claim mutations to return claim object
  backend/apps/owasp/api/internal/mutations/board_candidate_claim.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_test.py
Due: backend

display spinner when fetching data, show toast for reorder, fixes
  frontend/src/app/board/[year]/candidates/[login]/claims/create/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/app/board/[year]/candidates/page.tsx
  frontend/src/components/DropdownActions.tsx
Due: frontend

select claim/claims in mutations
  frontend/src/server/mutations/claimMutations.ts
  frontend/src/types/__generated__/claimMutations.generated.ts
  frontend/src/types/__generated__/graphql.ts
Due: frontend

add timeout to toasts
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/components/ClaimActions.tsx
Due: frontend

remove unused queries temporarily
  frontend/src/server/queries/evidenceQueries.ts
  frontend/src/types/__generated__/evidenceQueries.generated.ts
Due: frontend

reduce queries network calls by merging queries
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/server/queries/claimQueries.ts
  frontend/src/types/__generated__/claimQueries.generated.ts
Due: frontend

use status enum instead of strings
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/components/ClaimActions.tsx
Due: frontend

backend: add has_evidence
  backend/apps/owasp/api/internal/nodes/board_candidate_claim.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_test.py
Due: backend

add claim type
  frontend/src/components/ClaimActions.tsx
  frontend/src/types/claim.ts
Due: frontend

add unit tests for bod dashboard page
  frontend/__tests__/unit/pages/BoardCandidatesPage.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/edit/page.tsx
Due: frontend

add has evidence label
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/server/queries/claimQueries.ts
  frontend/src/types/__generated__/claimQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/claim.ts
Due: frontend

add e2e tests
  e2e/helpers/mockClaimAuth.ts
  e2e/pages/BoardCandidateClaimDetails.spec.ts
  e2e/pages/BoardCandidateClaims.spec.ts
Due: none

add tests
  frontend/__tests__/mockData/mockClaimData.ts
  frontend/__tests__/unit/pages/CandidateClaimsPage.test.tsx
  frontend/__tests__/unit/pages/ClaimDetailsPage.test.tsx
  frontend/__tests__/unit/pages/CreateClaimPage.test.tsx
  frontend/__tests__/unit/pages/EditClaimPage.test.tsx
Due: frontend

bot comments
  e2e/helpers/mockClaimAuth.ts
  e2e/pages/BoardCandidateClaimDetails.spec.ts
  e2e/pages/BoardCandidateClaims.spec.ts
  frontend/__tests__/mockData/mockClaimData.ts
  frontend/__tests__/unit/pages/CandidateClaimsPage.test.tsx
  frontend/__tests__/unit/pages/ClaimDetailsPage.test.tsx
  frontend/__tests__/unit/pages/EditClaimPage.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/create/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/components/ClaimActions.tsx
  frontend/src/components/ClaimForm.tsx
  frontend/src/components/forms/shared/formValidationUtils.ts
Due: frontend

bot comments
  e2e/helpers/mockAuthCookies.ts
  e2e/helpers/mockClaimAuth.ts
  e2e/helpers/mockDashboardCookies.ts
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/server/mutations/claimMutations.ts
  frontend/src/types/__generated__/claimMutations.generated.ts
Due: frontend

undo backend change
  backend/settings/graphql.py
Due: backend

improve skip condition
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/create/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
Due: frontend

apply bot comments
  e2e/helpers/mockClaimAuth.ts
  e2e/pages/BoardCandidateClaimDetails.spec.ts
  frontend/src/components/DropdownActions.tsx
Due: frontend

backend: annotate has_evidence
  backend/apps/owasp/api/internal/nodes/board_candidate_claim.py
  backend/apps/owasp/api/internal/queries/board_candidate_claim.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_test.py
Due: backend

improve breadcrumbs
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
Due: frontend

update code
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/components/DropdownActions.tsx
Due: frontend
