Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

change nosemgrep to NOSEMGREP
  backend/zappa_callback.py
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/frontend/main.tf
  infrastructure/modules/networking/main.tf
Due: backend

add tests for `storage` module and its sub-modules (#3681)
  infrastructure/modules/storage/.terraform.lock.hcl
  infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/modules/s3-bucket/.terraform.lock.hcl
  infrastructure/modules/storage/modules/s3-bucket/main.tf
  infrastructure/modules/storage/modules/s3-bucket/tests/s3-bucket.tftest.hcl
  infrastructure/modules/storage/tests/storage.tftest.hcl
Due: none

use single quotes
  .github/workflows/run-ci-cd.yaml
Due: none

update code
  .github/workflows/run-ci-cd.yaml
Due: none

fixed day left incorrect data
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
Due: frontend

add mock provider
  infrastructure/modules/storage/modules/s3-bucket/tests/s3-bucket.tftest.hcl
  infrastructure/modules/storage/tests/storage.tftest.hcl
Due: none

chore: use optional chaining in organizations list
  frontend/src/app/organizations/page.tsx
Due: frontend

Add CI for testing infrastructure code (#3694)
  .github/workflows/run-ci-cd.yaml
  .pre-commit-config.yaml
  backend/zappa_callback.py
  infrastructure/modules/alb/tests/alb.tftest.hcl
  infrastructure/modules/cache/tests/cache.tftest.hcl
  infrastructure/modules/database/tests/database.tftest.hcl
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/ecs/modules/task/tests/task.tftest.hcl
  infrastructure/modules/ecs/tests/ecs.tftest.hcl
  infrastructure/modules/frontend/main.tf
  infrastructure/modules/frontend/tests/frontend.tftest.hcl
  infrastructure/modules/kms/tests/kms.tftest.hcl
  infrastructure/modules/networking/main.tf
  infrastructure/modules/networking/modules/nacl/tests/nacl.tftest.hcl
  infrastructure/modules/networking/modules/vpc-endpoint/tests/vpc-endpoint.tftest.hcl
  infrastructure/modules/networking/tests/networking.tftest.hcl
  infrastructure/modules/parameters/tests/parameters.tftest.hcl
  infrastructure/modules/security/tests/security.tftest.hcl
  infrastructure/modules/storage/modules/s3-bucket/tests/s3-bucket.tftest.hcl
  infrastructure/modules/storage/tests/storage.tftest.hcl
Due: backend

fix: use output element instead of status role in CardSkeleton
  frontend/src/components/skeletons/Card.tsx
Due: frontend

feat: improve test coverage to 90%
  backend/apps/api/rest/v0/pagination.py
  backend/pyproject.toml
  backend/tests/apps/ai/agent/agent_test.py
  backend/tests/apps/ai/agent/nodes_test.py
  backend/tests/apps/api/rest/v0/issue_test.py
  backend/tests/apps/api/rest/v0/milestone_test.py
  backend/tests/apps/api/rest/v0/pagination_test.py
  backend/tests/apps/api/rest/v0/release_test.py
  backend/tests/apps/common/index_test.py
  backend/tests/apps/core/models/__init__.py
  backend/tests/apps/core/models/prompt_test.py
  backend/tests/apps/github/common_test.py
  backend/tests/apps/owasp/admin/entity_channel_test.py
  backend/tests/apps/owasp/admin/entity_member_test.py
  backend/tests/apps/owasp/api/internal/queries/project_health_metrics_test.py
  backend/tests/apps/owasp/api/internal/queries/project_test.py
  backend/tests/apps/owasp/api/internal/queries/snapshot_test.py
  backend/tests/apps/owasp/api/internal/queries/stats_test.py
  backend/tests/apps/owasp/management/commands/process_snapshots_test.py
  backend/tests/apps/owasp/models/committee_test.py
  backend/tests/apps/owasp/models/entity_member_test.py
  backend/tests/apps/owasp/models/event_test.py
  backend/tests/apps/owasp/models/mixins/project_test.py
  backend/tests/apps/owasp/models/project_test.py
  backend/tests/apps/slack/management/commands/slack_sync_messages_test.py
  cspell/custom-dict.txt
Due: backend

fix: code rabbit comments
  backend/tests/apps/common/index_test.py
  backend/tests/apps/owasp/admin/entity_member_test.py
  backend/tests/apps/owasp/api/internal/queries/snapshot_test.py
  backend/tests/apps/owasp/management/commands/process_snapshots_test.py
  backend/tests/apps/owasp/models/entity_member_test.py
  backend/tests/apps/owasp/models/project_test.py
  backend/tests/apps/slack/management/commands/slack_sync_messages_test.py
Due: backend

fix: sonar issue
  backend/tests/apps/owasp/models/event_test.py
  backend/tests/apps/owasp/models/mixins/project_test.py
  backend/tests/apps/owasp/models/project_test.py
Due: backend

resolve entity member admin attribute error
  backend/apps/owasp/models/common.py
Due: backend

notify all users on snapshot publish
  backend/apps/owasp/management/commands/owasp_run_notification_worker.py
Due: backend

fix: guard netloc None before iterating to satisfy mypy
  backend/apps/common/utils.py
Due: backend

fix: ensure parsed.hostname is not None before iterating in validate_url
  backend/apps/common/utils.py
Due: backend

c
  backend/coverage.xml
Due: backend

fix(ai): prevent Question Detector output from being posted and handle long responses
  .gitignore
  backend/apps/ai/flows/assistant.py
  backend/apps/ai/router.py
  backend/apps/slack/common/handlers/ai.py
  backend/apps/slack/common/question_detector.py
  backend/apps/slack/events/message_posted.py
  backend/apps/slack/services/message_auto_reply.py
Due: backend

Fix 5 code smell issues detected by SonarCloud/CodeRabbit
  backend/apps/slack/services/message_auto_reply.py
Due: backend

fix(ci): address pre-commit checks and code quality issues
  backend/apps/ai/common/llm_config.py
  backend/apps/ai/embeddings/factory.py
  backend/apps/ai/flows/assistant.py
  backend/apps/ai/management/commands/test_ai_assistant.py
  backend/apps/ai/router.py
  backend/apps/ai/templates/agents/rag/backstory.jinja
  backend/apps/slack/commands/ai.py
  backend/apps/slack/common/handlers/ai.py
  backend/apps/slack/common/question_detector.py
  backend/apps/slack/events/app_mention.py
  backend/apps/slack/services/message_auto_reply.py
Due: backend

Restore .gitignore to match target branch
  .gitignore
Due: none

Run checks
  docker-compose/e2e/compose.yaml
Due: none

added deadline cols
  backend/apps/github/api/internal/nodes/issue.py
  backend/apps/mentorship/api/internal/nodes/module.py
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
  frontend/src/components/IssuesTable.tsx
  frontend/src/server/queries/moduleQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/moduleQueries.generated.ts
Due: backend, frontend

Update code
  frontend/__tests__/e2e/components/Header.spec.ts
  frontend/__tests__/e2e/pages/About.spec.ts
  frontend/__tests__/e2e/pages/CalendarButton.spec.ts
  frontend/__tests__/e2e/pages/ChapterDetails.spec.ts
  frontend/__tests__/e2e/pages/Chapters.spec.ts
  frontend/__tests__/e2e/pages/CommitteeDetails.spec.ts
  frontend/__tests__/e2e/pages/Committees.spec.ts
  frontend/__tests__/e2e/pages/Contribute.spec.ts
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/__tests__/e2e/pages/OrganizationDetails.spec.ts
  frontend/__tests__/e2e/pages/Organizations.spec.ts
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
  frontend/__tests__/e2e/pages/ProjectHealthDashboardMetricsDetails.spec.ts
  frontend/__tests__/e2e/pages/Projects.spec.ts
  frontend/__tests__/e2e/pages/ProjectsHealthDashboardMetrics.spec.ts
  frontend/__tests__/e2e/pages/ProjectsHealthDashboardOverview.spec.ts
  frontend/__tests__/e2e/pages/RepositoryDetails.spec.ts
  frontend/__tests__/e2e/pages/UserDetails.spec.ts
  frontend/__tests__/e2e/pages/Users.spec.ts
  frontend/playwright.config.ts
Due: frontend

Update code and tests
  .github/workflows/run-ci-cd.yaml
  docker-compose/e2e/compose.yaml
  docker/frontend/Dockerfile
  frontend/Makefile
  frontend/__tests__/e2e/helpers/mockDashboardCookies.ts
  frontend/__tests__/e2e/pages/CalendarButton.spec.ts
  frontend/__tests__/e2e/pages/ChapterDetails.spec.ts
  frontend/__tests__/e2e/pages/Chapters.spec.ts
  frontend/__tests__/e2e/pages/CommitteeDetails.spec.ts
  frontend/__tests__/e2e/pages/Committees.spec.ts
  frontend/__tests__/e2e/pages/Contribute.spec.ts
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/__tests__/e2e/pages/OrganizationDetails.spec.ts
  frontend/__tests__/e2e/pages/Organizations.spec.ts
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
  frontend/__tests__/e2e/pages/ProjectHealthDashboardMetricsDetails.spec.ts
  frontend/__tests__/e2e/pages/Projects.spec.ts
  frontend/__tests__/e2e/pages/RepositoryDetails.spec.ts
  frontend/__tests__/e2e/pages/UserDetails.spec.ts
  frontend/__tests__/e2e/pages/Users.spec.ts
Due: frontend

Update docs
  CONTRIBUTING.md
Due: none

optimize recent releases
  backend/apps/owasp/api/internal/nodes/project.py
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
  backend/apps/owasp/migrations/0073_project_releases.py
  backend/apps/owasp/models/project.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
Due: backend

added filtering option
  backend/apps/github/api/internal/nodes/issue.py
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/tests/apps/github/api/internal/nodes/issue_test.py
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
  frontend/src/components/IssuesTable.tsx
Due: backend, frontend

remove GraphQL cache extension
  backend/apps/api/internal/extensions/__init__.py
  backend/apps/api/internal/extensions/cache.py
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/apps/mentorship/api/internal/mutations/program.py
  backend/settings/base.py
  backend/settings/graphql.py
  backend/tests/apps/api/internal/extensions/__init__.py
  backend/tests/apps/api/internal/extensions/cache_test.py
Due: backend

fix: add rel='noopener noreferrer' to external Link in ItemCardList
  frontend/src/components/ItemCardList.tsx
Due: frontend

fixed review
  backend/apps/owasp/api/internal/nodes/project.py
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
  backend/apps/owasp/models/mixins/project.py
Due: backend

fixed check
  backend/apps/owasp/api/internal/nodes/project.py
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
  backend/apps/owasp/migrations/0073_project_issues_project_issues_count.py
  backend/apps/owasp/models/project.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
Due: backend

fixed coderabbit review
  backend/apps/github/api/internal/nodes/issue.py
  backend/apps/mentorship/api/internal/nodes/module.py
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
  frontend/src/components/IssuesTable.tsx
Due: backend, frontend

fixed review
  backend/apps/mentorship/api/internal/nodes/module.py
Due: backend

Update tests and playwright config
  frontend/__tests__/e2e/components/Footer.spec.ts
  frontend/__tests__/e2e/components/Header.spec.ts
  frontend/__tests__/e2e/pages/About.spec.ts
  frontend/__tests__/e2e/pages/CalendarButton.spec.ts
  frontend/__tests__/e2e/pages/ChapterDetails.spec.ts
  frontend/__tests__/e2e/pages/Chapters.spec.ts
  frontend/__tests__/e2e/pages/CommitteeDetails.spec.ts
  frontend/__tests__/e2e/pages/Committees.spec.ts
  frontend/__tests__/e2e/pages/Contribute.spec.ts
  frontend/__tests__/e2e/pages/Home.spec.ts
  frontend/__tests__/e2e/pages/OrganizationDetails.spec.ts
  frontend/__tests__/e2e/pages/Organizations.spec.ts
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
  frontend/__tests__/e2e/pages/ProjectHealthDashboardMetricsDetails.spec.ts
  frontend/__tests__/e2e/pages/Projects.spec.ts
  frontend/__tests__/e2e/pages/ProjectsHealthDashboardMetrics.spec.ts
  frontend/__tests__/e2e/pages/ProjectsHealthDashboardOverview.spec.ts
  frontend/__tests__/e2e/pages/RepositoryDetails.spec.ts
  frontend/__tests__/e2e/pages/UserDetails.spec.ts
  frontend/__tests__/e2e/pages/Users.spec.ts
  frontend/playwright.config.ts
Due: frontend

fix: address pre-commit linting errors
  backend/apps/ai/models/chunk.py
  backend/apps/slack/apps.py
  backend/settings/test.py
Due: backend

fix: remove duplicate http test cases to resolve SonarCloud security hotspots
  backend/tests/apps/common/utils_test.py
Due: backend

remove GraphQL cache extension (#3702)
  backend/apps/api/internal/extensions/__init__.py
  backend/apps/api/internal/extensions/cache.py
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/apps/mentorship/api/internal/mutations/program.py
  backend/settings/base.py
  backend/settings/graphql.py
  backend/tests/apps/api/internal/extensions/__init__.py
  backend/tests/apps/api/internal/extensions/cache_test.py
Due: backend

Removed unused file
  backend/apps/owasp/management/commands/owasp_aggregate_member_contributions.py.bak
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
