Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

change volume name
  backend/apps/owasp/migrations/0073_project_pull_requests.py
  docker-compose/local/compose.yaml
Due: backend

Update code
  frontend/src/hooks/useIsMobile.ts
Due: frontend

refactor: replace deprecated matchMedia listeners with addEventListener (#3531)
  frontend/src/hooks/useIsMobile.ts
Due: frontend

perf: optimize recent_pull_requests by adding select_related and prefetch_related
  backend/apps/owasp/api/internal/nodes/project.py
  backend/apps/owasp/migrations/0073_project_pull_requests.py
Due: backend

perf: optimize recent_pull_requests by adding select_related and prefetch_related
  backend/apps/owasp/api/internal/nodes/project.py
Due: backend

Update code
  backend/apps/github/models/mixins/repository.py
  backend/apps/github/models/mixins/user.py
  backend/apps/owasp/models/project.py
Due: backend

perf: move order_by into Prefetch queryset for recent_pull_requests
  backend/apps/owasp/api/internal/nodes/project.py
Due: backend

Update code
  backend/tests/apps/github/models/mixins/repository_test.py
Due: backend

Update tests
  backend/tests/apps/github/models/mixins/repository_test.py
Due: backend

Add docstrings to mixin property methods (#3532)
  backend/apps/github/models/mixins/repository.py
  backend/apps/github/models/mixins/user.py
  backend/apps/owasp/models/project.py
  backend/tests/apps/github/models/mixins/repository_test.py
Due: backend

feat: add recent pull requests to public module page (#3516)
  backend/apps/mentorship/api/internal/nodes/module.py
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/src/app/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/MentorshipPullRequest.tsx
  frontend/src/server/queries/moduleQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/moduleQueries.generated.ts
Due: backend, frontend

perf: optimize recent_milestones using Prefetch and in-memory slicing
  backend/apps/owasp/api/internal/nodes/project.py
Due: backend

refactor: migrate MenteeNode to strawberry-django
  backend/apps/mentorship/api/internal/nodes/mentee.py
  backend/apps/mentorship/api/internal/queries/mentorship.py
  backend/tests/apps/mentorship/api/internal/nodes/__init__.py
  backend/tests/apps/mentorship/api/internal/nodes/mentee_node_test.py
Due: backend

cleanup
  backend/apps/mentorship/api/internal/nodes/mentee.py
  backend/apps/mentorship/api/internal/queries/mentorship.py
Due: backend

add tests for security module
  infrastructure/modules/security/.terraform.lock.hcl
  infrastructure/modules/security/main.tf
  infrastructure/modules/security/tests/security.tftest.hcl
Due: none

conflict fix
  backend/apps/owasp/models/project.py
Due: backend

Add docstrings to Django admin methods
  backend/apps/owasp/admin/entity_channel.py
  backend/apps/owasp/admin/entity_member.py
  backend/apps/owasp/admin/member_profile.py
  backend/apps/owasp/admin/member_snapshot.py
  backend/apps/owasp/admin/mixins.py
  backend/apps/owasp/admin/project.py
  backend/apps/owasp/admin/project_health_metrics.py
  backend/apps/owasp/admin/widgets.py
  backend/apps/slack/admin/member.py
Due: backend

add more validations and tests
  infrastructure/modules/security/tests/security.tftest.hcl
  infrastructure/modules/security/variables.tf
Due: none

fix: use output element instead of status role in CardSkeleton
  frontend/src/components/skeletons/Card.tsx
Due: frontend

group logically
  infrastructure/modules/frontend/.terraform.lock.hcl
  infrastructure/modules/frontend/main.tf
Due: none

feat: Enable Pagination for Pull Requests on Issue and Module Pages
  backend/apps/github/api/internal/nodes/issue.py
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/tests/apps/github/api/internal/nodes/issue_test.py
  frontend/src/app/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/server/queries/issueQueries.ts
  frontend/src/server/queries/moduleQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/issueQueries.generated.ts
  frontend/src/types/__generated__/moduleQueries.generated.ts
  frontend/src/types/card.ts
  frontend/src/types/mentorship.ts
Due: backend, frontend

update code
  backend/apps/owasp/api/internal/nodes/project.py
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
Due: backend

add validations
  infrastructure/modules/frontend/variables.tf
Due: none

Add tests for `security` module (#3567)
  infrastructure/modules/security/.terraform.lock.hcl
  infrastructure/modules/security/main.tf
  infrastructure/modules/security/tests/security.tftest.hcl
  infrastructure/modules/security/variables.tf
Due: none

fix: simplify pluralize default logic
  frontend/src/utils/pluralize.ts
Due: frontend

resolved conflicts
  backend/apps/github/api/internal/nodes/user.py
  backend/apps/github/api/internal/queries/user.py
  backend/apps/github/management/commands/github_update_users.py
  backend/apps/github/models/mixins/user.py
  backend/apps/nest/api/internal/nodes/user.py
  backend/apps/nest/management/commands/nest_update_staff_badges.py
  backend/apps/owasp/admin/member_profile.py
  backend/apps/owasp/api/internal/permissions/project_health_metrics.py
  backend/apps/owasp/api/internal/views/permissions.py
  backend/apps/owasp/migrations/0073_memberprofile_contributions_count_and_more.py
  backend/apps/owasp/migrations/0074_memberprofile_field_transfer_from_github_user.py
  backend/apps/owasp/models/member_profile.py
  backend/tests/apps/github/api/internal/queries/user_test.py
  backend/tests/apps/github/management/commands/github_update_users_test.py
  backend/tests/apps/nest/management/commands/nest_update_staff_badges_test.py
  backend/tests/apps/owasp/admin/member_profile_test.py
  docker-compose/local/compose.yaml
Due: backend

code/rabbit
  backend/apps/github/api/internal/queries/user.py
  backend/apps/owasp/migrations/0073_memberprofile_contributions_count_and_more.py
  backend/apps/owasp/migrations/0074_memberprofile_field_transfer_from_github_user.py
Due: backend

chore: fix CRLF line endings in YAML files
  package-lock.json
Due: none

add tests for frontend module
  infrastructure/modules/frontend/tests/frontend.tftest.hcl
Due: none

feat: Implement issue export functionality for mentorship modules, supporting CSV and JSON formats with dedicated frontend and backend components.
  backend/apps/mentorship/api/internal/nodes/export_types.py
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/apps/mentorship/utils/__init__.py
  backend/apps/mentorship/utils/export.py
  backend/tests/apps/mentorship/__init__.py
  backend/tests/apps/mentorship/utils/__init__.py
  backend/tests/apps/mentorship/utils/export_test.py
  frontend/__tests__/a11y/pages/MyMentorship.a11y.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/__tests__/unit/utils/exportUtils.test.ts
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
  frontend/src/components/ExportButton.tsx
  frontend/src/utils/exportUtils.ts
Due: backend, frontend

Run make update
  backend/poetry.lock
  cspell/pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Migrate Project pull_requests to M2M and optimize aggregation
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
  backend/apps/owasp/migrations/0073_project_pull_requests_m2m.py
  backend/apps/owasp/migrations/0074_migrate_project_pull_requests_data.py
  backend/apps/owasp/models/project.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
Due: backend

Update GraphQL PR resolver and improve docstring coverage
  backend/apps/owasp/api/internal/nodes/project.py
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
  backend/apps/owasp/migrations/0073_project_pull_requests_m2m.py
  backend/apps/owasp/migrations/0074_migrate_project_pull_requests_data.py
Due: backend

Update code
  package-lock.json
Due: none

fix: simplify pluralize default logic (#3580)
  frontend/src/utils/pluralize.ts
Due: frontend

Add MENTORS.md
  MENTORS.md
  cspell/custom-dict.txt
Due: none

Update MENTORS.md
  MENTORS.md
  cspell/custom-dict.txt
Due: none

fix: remove 404 flash on mentorship module page
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
Due: frontend

fix: validate URL netloc contains alphanumeric characters
  backend/apps/common/utils.py
  backend/tests/apps/common/utils_test.py
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
