Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

Update CI triggers: remove push (#4919)
  .github/workflows/ci.yaml
Due: none

Require pip hashes
  .github/actions/install-poetry/action.yaml
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-dependency-audit.yaml
  backend/Makefile
  backend/requirements/build.in
  backend/requirements/build.txt
  backend/requirements/pre-commit.in
  backend/requirements/pre-commit.txt
  docker/backend/Dockerfile
  docker/backend/Dockerfile.fuzz-tests
  docker/backend/Dockerfile.local
  docker/backend/Dockerfile.unit-tests
  docker/backend/Dockerfile.video
  docker/docs/Dockerfile.local
Due: backend

Update requirements
  backend/Makefile
  backend/requirements/build.txt
Due: backend

Update code
  backend/Makefile
  backend/requirements/build.txt
  backend/requirements/pre-commit.txt
Due: backend

Require pip hashes (#4920)
  .github/actions/install-poetry/action.yaml
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-dependency-audit.yaml
  backend/Makefile
  backend/requirements/build.in
  backend/requirements/build.txt
  backend/requirements/pre-commit.in
  backend/requirements/pre-commit.txt
  docker/backend/Dockerfile
  docker/backend/Dockerfile.fuzz-tests
  docker/backend/Dockerfile.local
  docker/backend/Dockerfile.unit-tests
  docker/backend/Dockerfile.video
  docker/docs/Dockerfile.local
Due: backend

backend: add missing file
  backend/settings/urls.py
Due: backend

Create Certificate metadata generation
  backend/apps/owasp/score_calculator.py
  backend/apps/owasp/services/certificate_providers.py
  backend/apps/owasp/services/certificate_service.py
Due: backend

fixed check
  backend/apps/owasp/services/__init__.py
  backend/apps/owasp/services/certificate_providers.py
  backend/apps/owasp/services/certificate_service.py
Due: backend

address coderabbit comment
  backend/apps/owasp/admin/contribution_score.py
  backend/apps/owasp/exceptions.py
  backend/apps/owasp/score_calculator.py
  backend/apps/owasp/services/certificate_service.py
Due: backend

update
  backend/apps/owasp/score_calculator.py
Due: backend

fix error handling
  backend/apps/owasp/exceptions.py
  backend/apps/owasp/score_calculator.py
Due: backend

update
  backend/apps/owasp/exceptions.py
  backend/apps/owasp/management/commands/owasp_crp_recognition_recalculate_scores.py
  backend/apps/owasp/score_calculator.py
Due: backend

Address backend video target issues
  .github/workflows/run-image-build.yaml
  backend/Makefile
  backend/apps/owasp/Makefile
  backend/apps/owasp/video.py
  backend/tests/unit/apps/owasp/management/commands/owasp_generate_community_snapshot_video_test.py
  backend/tests/unit/apps/owasp/video_test.py
  docker-compose/e2e/compose.yaml
  docker-compose/fuzz/compose.yaml
  docker/backend/Dockerfile
  docker/backend/Dockerfile.local
  docker/backend/Dockerfile.unit-tests
  docker/backend/Dockerfile.video
  infrastructure/README.md
Due: backend

Address comment
  docker/backend/Dockerfile
Due: none

fix issues
  .github/actions/setup-backend-environment/action.yaml
  backend/data/nest.snapshots.dump
  docker-compose/e2e/compose.yaml
  frontend/__tests__/unit/pages/SnapshotDetails.test.tsx
  frontend/src/app/community/snapshots/[id]/page.tsx
Due: backend, frontend

Address backend video target issues (#4923)
  .github/workflows/run-image-build.yaml
  backend/Makefile
  backend/apps/owasp/Makefile
  backend/apps/owasp/video.py
  backend/tests/unit/apps/owasp/management/commands/owasp_generate_community_snapshot_video_test.py
  backend/tests/unit/apps/owasp/video_test.py
  docker-compose/e2e/compose.yaml
  docker-compose/fuzz/compose.yaml
  docker/backend/Dockerfile
  docker/backend/Dockerfile.local
  docker/backend/Dockerfile.unit-tests
  docker/backend/Dockerfile.video
  infrastructure/README.md
Due: backend

fix: issues
  .github/actions/setup-backend-environment/action.yaml
  frontend/__tests__/unit/components/ContributorsList.test.tsx
  frontend/src/app/community/snapshots/[id]/page.tsx
  frontend/src/components/ContributorsList.tsx
Due: frontend

update code
  .github/actions/setup-backend-environment/action.yaml
  frontend/__tests__/unit/components/ContributorsList.test.tsx
  frontend/src/components/ContributorsList.tsx
Due: frontend

fix: issue
  backend/data/nest.snapshots.dump
Due: backend

Optimize e2e shards
  .github/workflows/run-code-tests.yaml
  .github/workflows/run-e2e-tests.yaml
Due: none

Update code
  .github/workflows/run-e2e-tests.yaml
Due: none

Update code
  .github/workflows/run-e2e-tests.yaml
  cspell/custom-dict.txt
Due: none

Implement GraphQL Mutations for Candidate Claim Data (#4806)
  backend/apps/owasp/api/internal/mutations/__init__.py
  backend/apps/owasp/api/internal/mutations/board_candidate_claim.py
  backend/apps/owasp/api/internal/mutations/board_candidate_claim_evidence.py
  backend/apps/owasp/migrations/0075_alter_boardcandidateclaimevidence_file.py
  backend/apps/owasp/models/board_candidate_claim_evidence.py
  backend/apps/owasp/validators.py
  backend/settings/graphql.py
  backend/settings/urls.py
  backend/tests/unit/apps/owasp/api/internal/mutations/__init__.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/validators_test.py
Due: backend

migrate lighthouse to arm64
  .github/workflows/run-lighthouse-ci.yaml
Due: none

fix comment also fixed n+1 issue
  backend/apps/owasp/Makefile
  backend/apps/owasp/management/commands/owasp_crp_recalculate_scores.py
  backend/apps/owasp/migrations/0074_alter_certificate_table_and_more.py
  backend/apps/owasp/models/crp/certificate.py
  backend/apps/owasp/models/crp/contribution_score.py
  backend/apps/owasp/models/crp/leaderboard_snapshot.py
  backend/apps/owasp/models/crp/scoring_weight.py
  backend/apps/owasp/score_calculator.py
Due: backend

Resolved Code Rabbit Comment
  frontend/__tests__/unit/pages/UserDetails.test.tsx
  frontend/src/app/members/[memberKey]/page.tsx
Due: frontend

refactor: replace SecondaryCard with custom container and improve ContributionHeatmap responsiveness and scaling
  frontend/src/app/members/[memberKey]/page.tsx
  frontend/src/components/ContributionHeatmap.tsx
Due: frontend

refactor: update MemberDetailSidebar layout to support responsive multi-column design with conditional styling
  frontend/src/components/cards/MemberDetailSidebar.tsx
Due: frontend

feat: conditionally render member profile sections and bio to improve UI layout consistency
  frontend/src/app/members/[memberKey]/page.tsx
  frontend/src/components/cards/MemberDetailSidebar.tsx
Due: frontend

refactor: update unit and a11y tests to reflect UI component changes
  frontend/__tests__/a11y/components/ContributionHeatmap.a11y.test.tsx
  frontend/__tests__/a11y/components/RepositoryCard.a11y.test.tsx
  frontend/__tests__/unit/components/ContributionHeatmap.test.tsx
  frontend/__tests__/unit/components/InfoBlock.test.tsx
  frontend/__tests__/unit/components/Milestones.test.tsx
  frontend/__tests__/unit/components/RecentRelease.test.tsx
  frontend/__tests__/unit/components/RepositoryCard.test.tsx
  frontend/__tests__/unit/pages/Home.test.tsx
  frontend/__tests__/unit/pages/OrganizationDetails.test.tsx
  frontend/__tests__/unit/pages/ProjectDetails.test.tsx
  frontend/__tests__/unit/pages/RepositoryDetails.test.tsx
  frontend/__tests__/unit/pages/UserDetails.test.tsx
Due: frontend

refactor: update UI layout styles, improve test code quality, and clean up unused imports
  frontend/__tests__/unit/components/ContributionHeatmap.test.tsx
  frontend/__tests__/unit/components/InfoBlock.test.tsx
  frontend/__tests__/unit/pages/UserDetails.test.tsx
  frontend/src/app/members/[memberKey]/page.tsx
  frontend/src/components/ContributionHeatmap.tsx
  frontend/src/components/cards/MemberDetailSidebar.tsx
Due: frontend

migrate lighthouse to arm64 (#4929)
  .github/workflows/run-lighthouse-ci.yaml
Due: none

Update code
  CONTRIBUTING.md
  backend/.env.example
  backend/README.md
Due: backend

fix(frontend): fix TypeScript errors from apexcharts 5.13.0 type narrowing
  frontend/src/components/BarChart.tsx
  frontend/src/components/ContributionHeatmap.tsx
  frontend/src/components/LineChart.tsx
Due: frontend

fix(frontend): use as const instead of literal type assertion
  frontend/src/components/ContributionHeatmap.tsx
Due: frontend

fix(frontend): use runtime guard for tooltip theme instead of type cast
  frontend/src/components/BarChart.tsx
  frontend/src/components/LineChart.tsx
Due: frontend

fix(frontend): use proper types and optional chaining in tooltip callback
  frontend/src/components/ContributionHeatmap.tsx
Due: frontend
