Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 80%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

Update compose file
  docker-compose/local/compose.yaml
Due: none

Update program admins relation (#3185)
  backend/apps/mentorship/admin/__init__.py
  backend/apps/mentorship/admin/admin.py
  backend/apps/mentorship/admin/module.py
  backend/apps/mentorship/admin/program.py
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/apps/mentorship/api/internal/mutations/program.py
  backend/apps/mentorship/api/internal/nodes/admin.py
  backend/apps/mentorship/api/internal/nodes/program.py
  backend/apps/mentorship/api/internal/queries/program.py
  backend/apps/mentorship/migrations/0007_alter_mentor_github_user_alter_mentor_nest_user_and_more.py
  backend/apps/mentorship/models/__init__.py
  backend/apps/mentorship/models/admin.py
  backend/apps/mentorship/models/common/__init__.py
  backend/apps/mentorship/models/common/linked_user.py
  backend/apps/mentorship/models/mentor.py
  backend/apps/mentorship/models/program.py
  backend/apps/mentorship/models/program_admin.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_program_test.py
  backend/tests/apps/mentorship/api/internal/queries/api_queries_program_test.py
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/moduleQueries.generated.ts
  frontend/src/types/__generated__/programsMutations.generated.ts
  frontend/src/types/__generated__/programsQueries.generated.ts
Due: backend, frontend

Update backend/settings/base.py
  backend/settings/base.py
Due: backend

Update proxy/headers.conf
  proxy/headers.conf
Due: none

update tests
  backend/tests/apps/mentorship/api/internal/mutations/module_mutation_test.py
  backend/tests/apps/mentorship/api/internal/mutations/program_mutation_test.py
  backend/tests/apps/mentorship/api/internal/nodes/admin_node_test.py
  backend/tests/apps/mentorship/api/internal/nodes/program_test.py
  backend/tests/apps/mentorship/api/internal/queries/api_queries_program_test.py
  backend/tests/apps/mentorship/management/commands/mentorship_sync_issue_levels_test.py
  backend/tests/apps/mentorship/model/admin_test.py
Due: backend

separate backend for each environment
  infrastructure/backend/README.md
  infrastructure/backend/main.tf
  infrastructure/backend/outputs.tf
  infrastructure/backend/providers.tf
  infrastructure/backend/variables.tf
Due: none

update code for consistency
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  backend/tests/apps/mentorship/management/commands/mentorship_sync_module_issues_test.py
  backend/tests/apps/mentorship/management/commands/mentorship_update_comments_test.py
Due: backend

apply suggestions
  backend/apps/mentorship/api/internal/mutations/module.py
Due: backend

update code
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_enum_test.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_mentee_test.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_mentor_test.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_program_test.py
Due: backend

add bootstrap terraform project
  infrastructure/bootstrap/.terraform.lock.hcl
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/backend.tf
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/outputs.tf
  infrastructure/bootstrap/providers.tf
  infrastructure/bootstrap/terraform.tfbackend.example
  infrastructure/bootstrap/terraform.tfvars.example
  infrastructure/bootstrap/variables.tf
Due: none

Update jest.setup.ts
  frontend/jest.setup.ts
Due: frontend

update code with graphql error handler
  backend/apps/mentorship/api/internal/mutations/module.py
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/create/page.tsx
  frontend/src/components/ModuleForm.tsx
  frontend/src/components/ProgramForm.tsx
  frontend/src/utils/helpers/handleGraphQLError.ts
Due: backend, frontend

refactor(ci): align backend model graph workflow with docker/make standards
  .github/workflows/generate-backend-model-graphs.yaml
  backend/Makefile
  backend/pyproject.toml
  backend/settings/graphs.py
Due: backend

Run make update
  backend/poetry.lock
  docs/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

add initial permissions
  infrastructure/INFO.md
  infrastructure/README.md
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/main.tf
  infrastructure/staging/providers.tf
  infrastructure/staging/terraform.tfbackend.example
Due: none

Update CI/CD
  .github/workflows/run-ci-cd.yaml
Due: none

update tests
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/__tests__/unit/utils/handleGraphQLError.test.ts
  frontend/src/components/ModuleForm.tsx
Due: frontend

make check-test and change msg
  backend/apps/mentorship/api/internal/mutations/module.py
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/__tests__/unit/utils/handleGraphQLError.test.ts
Due: backend, frontend

apply suggestions
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/__tests__/unit/utils/handleGraphQLError.test.ts
  frontend/src/components/ModuleForm.tsx
Due: frontend

fix precommit
  backend/settings/graphs.py
Due: backend

test(search): fix CI failures related to AbortController changes
  frontend/__tests__/unit/components/MultiSearch.test.tsx
  frontend/__tests__/unit/pages/Contribute.test.tsx
  frontend/src/components/MultiSearch.tsx
  frontend/src/hooks/useSearchPage.ts
Due: frontend

fix(search): clear stale query params when resetting filters
  frontend/src/components/MultiSearch.tsx
  frontend/src/hooks/useSearchPage.ts
Due: frontend

Update code
  backend/tests/apps/mentorship/api/internal/mutations/module_mutation_test.py
  backend/tests/apps/mentorship/api/internal/mutations/program_mutation_test.py
  frontend/__tests__/unit/components/ProgramForm.test.tsx
Due: backend, frontend

fix(useSearchPage): restrict page=1 cleanup to page param only (avoid removing q=1)
  frontend/src/hooks/useSearchPage.ts
Due: frontend

Increase Test Coverage for Mentorship Portal to 99.26% (#3957)
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/tests/apps/mentorship/api/internal/mutations/__init__.py
  backend/tests/apps/mentorship/api/internal/mutations/module_mutation_test.py
  backend/tests/apps/mentorship/api/internal/mutations/program_mutation_test.py
  backend/tests/apps/mentorship/api/internal/nodes/admin_node_test.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_enum_test.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_mentee_test.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_mentor_test.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_program_test.py
  backend/tests/apps/mentorship/api/internal/nodes/program_test.py
  backend/tests/apps/mentorship/api/internal/queries/api_queries_mentorship_test.py
  backend/tests/apps/mentorship/api/internal/queries/api_queries_program_test.py
  backend/tests/apps/mentorship/index/__init__.py
  backend/tests/apps/mentorship/index/registry/__init__.py
  backend/tests/apps/mentorship/index/registry/program_test.py
  backend/tests/apps/mentorship/management/commands/mentorship_sync_issue_levels_test.py
  backend/tests/apps/mentorship/management/commands/mentorship_sync_module_issues_test.py
  backend/tests/apps/mentorship/management/commands/mentorship_update_comments_test.py
  backend/tests/apps/mentorship/model/admin_test.py
  backend/tests/apps/mentorship/model/issue_user_interest_test.py
  backend/tests/apps/mentorship/model/mentee_module_test.py
  backend/tests/apps/mentorship/model/mentee_program_test.py
  backend/tests/apps/mentorship/model/module_test.py
  backend/tests/apps/mentorship/model/program_mixin_test.py
  backend/tests/apps/mentorship/model/program_test.py
  backend/tests/apps/mentorship/model/published_module_manager_test.py
  backend/tests/apps/mentorship/signals/__init__.py
  backend/tests/apps/mentorship/signals/program_signal_test.py
  frontend/__tests__/unit/components/ProgramForm.test.tsx
Due: backend, frontend

poetry Update
  backend/poetry.lock
Due: backend

added test
  frontend/__tests__/unit/pages/Community.test.tsx
  frontend/src/app/community/page.tsx
Due: frontend

fix(ci): correct docker run invocation in graph generation target
  backend/Makefile
Due: backend

install graphviz in Dockerfile.test for model graph generation
  docker/backend/Dockerfile.test
Due: none

Fix race condition in API key creation by locking user row
  backend/apps/api/models/api_key.py
  backend/tests/apps/api/models/api_key_test.py
Due: backend

ci: mount backend volume to persist generated model graphs
  backend/Makefile
Due: backend

Resolve merge conflict in MultiSearch.test.tsx
  frontend/__tests__/unit/components/MultiSearch.test.tsx
Due: frontend

fix(ci): ensure poetry virtualenv is available in Dockerfile.test for model graph generation
  docker/backend/Dockerfile.test
Due: none

fix(ci): update builder copy permissions for model graph generation
  docker/backend/Dockerfile.test
Due: none

Update Makefile for model graph
  backend/Makefile
Due: backend

update code
  .github/workflows/run-ci-cd.yaml
  infrastructure/README.md
  infrastructure/backend/README.md
  infrastructure/backend/providers.tf
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/providers.tf
  infrastructure/bootstrap/terraform.tfbackend.example
  infrastructure/staging/providers.tf
  infrastructure/staging/terraform.tfbackend.example
Due: none

fix(ci): mount only model-graphs directory to preserve container venv
  backend/Makefile
Due: backend

fix(ci): resolve permission issue when generating backend model graphs
  backend/Makefile
Due: backend

bot comments
  infrastructure/INFO.md
  infrastructure/README.md
  infrastructure/backend/README.md
  infrastructure/backend/main.tf
  infrastructure/bootstrap/README.md
Due: none
