Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 80%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

Update staging deploy approach
  .github/workflows/run-ci-cd.yaml
Due: none

Fix formatting [skip-ci]
  .github/workflows/run-ci-cd.yaml
Due: none

fix type assertion for preset (#4050)
  frontend/graphql-codegen.ts
Due: frontend

Improved CONTRIBUTING.md (#4025)
  CONTRIBUTING.md
Due: none

Update code
  backend/pyproject.toml
  docker-compose/local/compose.yaml
Due: backend

remove langchain, langchain-community, and langgraph
  backend/apps/ai/models/chunk.py
  backend/poetry.lock
  backend/pyproject.toml
Due: backend

Update code
  docker-compose/local/compose.yaml
  docker/backend/Dockerfile
Due: none

add nestbot to clean-backend-docker
  backend/Makefile
Due: backend

Update code
  docker-compose/local/compose.yaml
Due: none

Update code
  backend/Makefile
Due: backend

Update code
  backend/Makefile
  docker-compose/local/compose.yaml
  docker/backend/Dockerfile.local
  docker/backend/Dockerfile.nestbot.local
Due: backend

docs: add overviews, edit mkdocs, compose
  backend/README.md
  docker-compose/local/compose.yaml
  docs/backend/overview.md
  docs/frontend/overview.md
  docs/schema/overview.md
  docs/sdks/overview.md
  frontend/README.md
  mkdocs.yaml
Due: backend, frontend

use exec-nestbot-command
  backend/Makefile
  backend/apps/ai/Makefile
  docker-compose/local/compose.yaml
Due: backend

fix check
  docker-compose/local/compose.yaml
  mkdocs.yaml
Due: none

Run make update
  backend/poetry.lock
  docker-compose/e2e/compose.yaml
  docker-compose/fuzz/compose.yaml
  docker-compose/local/compose.yaml
  docker-compose/production/compose.yaml
  docker/cspell/Dockerfile
  docker/frontend/Dockerfile
  docker/frontend/Dockerfile.a11y.test
  docker/frontend/Dockerfile.local
  docker/frontend/Dockerfile.unit.test
  docker/semgrep/Dockerfile
  docs/poetry.lock
  frontend/__tests__/a11y/components/StructuredDataScript.a11y.test.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Fix footer IDs and icon animation - slugify titles, eliminate flicker
  frontend/src/components/Footer.tsx
Due: frontend

Improve Footer component accessibility and code structure
  frontend/src/components/Footer.tsx
Due: frontend

Fix footer accessibility - mobile detection and inert behavior
  frontend/src/components/Footer.tsx
Due: frontend

Improve footer animations - smooth accordion transitions
  frontend/src/components/Footer.tsx
Due: frontend

Fix ARIA accessibility - conditional expand/collapse attributes
  frontend/src/components/Footer.tsx
Due: frontend

Fix code quality issues in Footer component
  frontend/src/components/Footer.tsx
Due: frontend

fix tests
  backend/tests/apps/slack/common/handlers/ai_test.py
Due: backend

feat: implement module ordering with drag-and-drop support
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/apps/mentorship/api/internal/queries/module.py
  backend/apps/mentorship/migrations/0008_module_order.py
  backend/apps/mentorship/models/module.py
  backend/tests/apps/mentorship/api/internal/mutations/module_mutation_test.py
  backend/tests/apps/mentorship/model/module_test.py
  frontend/__tests__/a11y/components/CardDetailsPage.a11y.test.tsx
  frontend/__tests__/a11y/components/ModuleCard.a11y.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/ModuleCard.test.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/ModuleCard.tsx
  frontend/src/server/mutations/moduleMutations.ts
  frontend/src/server/queries/moduleQueries.ts
  frontend/src/server/queries/programsQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/moduleMutations.generated.ts
  frontend/src/types/__generated__/moduleQueries.generated.ts
  frontend/src/types/__generated__/programsQueries.generated.ts
  frontend/src/types/mentorship.ts
Due: backend, frontend

fix: code rabbit comments
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/tests/apps/mentorship/api/internal/mutations/module_mutation_test.py
  frontend/src/components/ModuleCard.tsx
Due: backend, frontend

update code
  backend/apps/mentorship/models/module.py
  backend/tests/apps/mentorship/model/module_test.py
Due: backend

fix code rabbit comment
  frontend/src/components/ModuleCard.tsx
Due: frontend

fix issue
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/apps/mentorship/migrations/0008_module_order.py
  backend/apps/mentorship/models/module.py
  backend/tests/apps/mentorship/api/internal/mutations/module_mutation_test.py
Due: backend

fix issues
  frontend/src/components/ModuleCard.tsx
Due: frontend

fix conflicts
  backend/tests/apps/mentorship/api/internal/mutations/module_mutation_test.py
Due: backend

feat: improve structured search determinism and fix pre-commit nodeenv
  .pre-commit-config.yaml
  backend/apps/api/rest/v0/chapter.py
  backend/apps/api/rest/v0/member.py
  backend/apps/api/rest/v0/organization.py
  backend/apps/api/rest/v0/repository.py
  backend/apps/api/rest/v0/structured_search.py
  backend/tests/apps/api/rest/v0/chapter_test.py
  backend/tests/apps/api/rest/v0/member_test.py
  backend/tests/apps/api/rest/v0/organization_test.py
  backend/tests/apps/api/rest/v0/repository_test.py
Due: backend

fix conflict
  frontend/__tests__/unit/components/ModuleCard.test.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ModuleCard.tsx
Due: frontend

feat: implement structured search and fix chapter/repository filtering
  .pre-commit-config.yaml
  backend/apps/api/rest/v0/chapter.py
  backend/apps/api/rest/v0/repository.py
  backend/tests/apps/api/rest/v0/chapter_test.py
  backend/tests/apps/api/rest/v0/member_test.py
  backend/tests/apps/api/rest/v0/repository_test.py
Due: backend

fix mock injection and name errors in chapter tests
  backend/tests/apps/api/rest/v0/chapter_test.py
Due: backend

Update code
  backend/.env.example
  backend/apps/ai/common/llm_config.py
  backend/apps/ai/embeddings/factory.py
  backend/apps/ai/embeddings/google.py
Due: backend

Fix scroll restoration
  frontend/src/components/AutoScrollToTop.tsx
Due: frontend

fix chunk commands to use embedder factory instead of openai
  backend/apps/ai/common/base/ai_command.py
  backend/apps/ai/common/base/chunk_command.py
  backend/apps/ai/common/utils.py
  backend/tests/apps/ai/common/base/ai_command_test.py
  backend/tests/apps/ai/common/base/chunk_command_test.py
  backend/tests/apps/ai/common/llm_config_test.py
  backend/tests/apps/ai/common/utils_test.py
Due: backend

fix: stabilize event ordering for fuzzer and verify chapter search integration
  backend/apps/api/rest/v0/event.py
  backend/tests/apps/api/rest/v0/chapter_test.py
  backend/tests/apps/api/rest/v0/event_test.py
Due: backend

Run make update
  .pre-commit-config.yaml
  backend/poetry.lock
  cspell/package.json
  cspell/pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend
