Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

fix(api-keys): use end-of-day UTC expiry for date input
  backend/tests/apps/api/internal/mutations/api_key_test.py
  frontend/__tests__/unit/pages/ApiKeysPage.test.tsx
  frontend/src/app/settings/api-keys/page.tsx
Due: backend, frontend

Update makefile
  backend/Makefile
Due: backend

feat : debounce + abort controller + test fixes
  frontend/__tests__/a11y/pages/ApiKeysPage.a11y.test.tsx
  frontend/__tests__/unit/components/Search.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/__tests__/unit/pages/ProjectsHealthDashboardMetrics.test.tsx
  frontend/__tests__/unit/utils/deadlineUtils.test.ts
  frontend/jest.setup.ts
  frontend/src/components/ContributionStats.tsx
  frontend/src/components/GlobalSearch.tsx
  frontend/src/components/Search.tsx
  frontend/src/server/fetchAlgoliaData.ts
Due: frontend

fix: remove unnecessary non-null assertions (sonar)
  frontend/__tests__/unit/components/Search.test.tsx
Due: frontend

Improve README clarity
  README.md
Due: none

feat: expose pull_requests_count and merged_pull_requests_count on UserNode
  backend/apps/github/api/internal/nodes/user.py
Due: backend

test: add tests for pull_requests_count and merged_pull_requests_count on UserNode
  backend/tests/apps/github/api/internal/nodes/user_test.py
Due: backend

feat: add pullRequestsCount and mergedPullRequestsCount to GetUserData query
  frontend/src/server/queries/userQueries.ts
Due: frontend

chore: add pullRequestsCount and mergedPullRequestsCount to UserNode type
  frontend/src/types/__generated__/graphql.ts
Due: frontend

chore: regenerate userQueries with pullRequestsCount and mergedPullRequestsCount
  frontend/src/types/__generated__/userQueries.generated.ts
Due: frontend

feat: display PR count stat cards on member profile page
  frontend/src/app/members/[memberKey]/page.tsx
Due: frontend

fix: correct cursor behavior in ChapterMap non-interactive areas
  frontend/src/components/ChapterMap.tsx
Due: frontend

Add #owasp-community new member joined ephemeral message (#4408)
  backend/apps/slack/events/__init__.py
  backend/apps/slack/events/member_joined_channel/catch_all.py
  backend/apps/slack/events/member_joined_channel/owasp_community.py
  backend/apps/slack/templates/events/member_joined_channel/owasp_community/ephemeral_message.jinja
  backend/tests/apps/slack/events/member_joined_channel/owasp_community_test.py
Due: backend

Update .github/workflows/run-ci-cd.yaml
  .github/workflows/run-ci-cd.yaml
Due: none

temporary changes to run CI/CD
  .github/workflows/run-ci-cd.yaml
Due: none

add health check
  infrastructure/live/main.tf
  infrastructure/modules/service/main.tf
  infrastructure/modules/service/tests/service.tftest.hcl
  infrastructure/modules/service/variables.tf
Due: none

update code
  backend/entrypoint.sh
  infrastructure/modules/service/main.tf
Due: backend

fix frontend health check path
  infrastructure/live/main.tf
Due: none

add frontend health api
  frontend/src/app/api/health/route.ts
  infrastructure/live/main.tf
  infrastructure/modules/alb/main.tf
Due: frontend

fix frontend path
  infrastructure/live/main.tf
Due: none

update code and remove healthchecks
  .github/workflows/run-ci-cd.yaml
  frontend/src/app/api/health/route.ts
  infrastructure/live/main.tf
  infrastructure/modules/service/main.tf
  infrastructure/modules/service/variables.tf
Due: frontend

Revert "temporary changes to run CI/CD"
  .github/workflows/run-ci-cd.yaml
Due: none

Update backend/apps/slack/templates/events/team_join.jinja
  backend/apps/slack/templates/events/team_join.jinja
Due: backend

Update member_joined_channel/owasp_community.py
  backend/apps/slack/events/member_joined_channel/owasp_community.py
  backend/tests/apps/slack/events/member_joined_channel/owasp_community_test.py
  cspell/custom-dict.txt
Due: backend

Revert be/fe waiting order
  .github/workflows/run-ci-cd.yaml
Due: none

Update Slack event message handling
  backend/apps/slack/events/event.py
  backend/apps/slack/events/member_joined_channel/owasp_community.py
  backend/tests/apps/slack/events/member_joined_channel/owasp_community_test.py
Due: backend

revert older health check changes
  backend/entrypoint.sh
  infrastructure/modules/service/tests/service.tftest.hcl
Due: backend

remove force new deployment
  .github/workflows/run-ci-cd.yaml
Due: none

fix tests
  infrastructure/modules/alb/tests/alb.tftest.hcl
Due: none

add alb tests
  infrastructure/modules/alb/tests/alb.tftest.hcl
Due: none

Fix Deployment Race Condition (#4463)
  .github/workflows/run-ci-cd.yaml
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/tests/alb.tftest.hcl
Due: none

Run make update
  .pre-commit-config.yaml
  backend/poetry.lock
  docker/frontend/Dockerfile.e2e.test
  frontend/__tests__/e2e/package.json
  frontend/__tests__/e2e/pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Update .github/dependabot.yml
  .github/dependabot.yml
Due: none

Bump poetry version
  backend/poetry.lock
  backend/requirements.build.txt
Due: backend

Add 21d cooldown for dependabot udpates
  .github/dependabot.yml
Due: none

Optimize .github/dependabot.yml
  .github/dependabot.yml
Due: none

test(api-keys): patch timezone.now only in expiry test
  backend/tests/apps/api/internal/mutations/api_key_test.py
Due: backend

fix(api-keys): use end-of-day UTC expiry for date input
  backend/tests/apps/api/internal/mutations/api_key_test.py
Due: backend
