Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

update code
  frontend/__tests__/unit/components/SnapshotEntitySection.test.tsx
Due: frontend

update code
  backend/src/apps/api/rest/v0/common.py
  backend/tests/unit/apps/api/rest/v0/board_outcome_test.py
  backend/tests/unit/apps/api/rest/v0/chapter_test.py
  backend/tests/unit/apps/api/rest/v0/common_test.py
  backend/tests/unit/apps/api/rest/v0/project_test.py
Due: backend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  frontend/__tests__/a11y/pages/ChapterDetails.a11y.test.tsx
  frontend/__tests__/jest.setup.ts
  frontend/__tests__/unit/pages/ChapterDetails.test.tsx
Due: frontend

fix(mentorship): update mentorship access logic and add unit tests
  frontend/__tests__/unit/pages/MyMentorship.test.tsx
  frontend/src/app/my/mentorship/page.tsx
Due: frontend

refactor(tests): remove duplicate access denied unit test
  frontend/__tests__/unit/pages/MyMentorship.test.tsx
Due: frontend

fix: fixing my mentorship page query
  frontend/src/app/my/mentorship/page.tsx
Due: frontend

Address review
  frontend/src/components/SortBy.tsx
  frontend/src/components/pulse/PulseFilters.tsx
  frontend/src/components/pulse/PulseMetricsCards.tsx
  frontend/src/components/pulse/PulseTimelineItem.tsx
  frontend/src/types/sortBy.ts
  frontend/src/utils/sortingOptions.ts
Due: frontend

fix: prevent search hint text selection
  frontend/src/components/GlobalSearch.tsx
Due: frontend

udpated logo and query
  backend/src/apps/owasp/admin/activity_event.py
  backend/src/apps/owasp/api/internal/queries/activity_event.py
  backend/src/apps/owasp/migrations/0073_activityevent.py
  backend/src/apps/owasp/models/activity_event.py
  frontend/src/app/pulse/page.tsx
  frontend/src/components/pulse/PulseFilters.tsx
  frontend/src/components/pulse/PulseMetricsCards.tsx
  frontend/src/components/pulse/PulseTimelineItem.tsx
  frontend/src/types/pulse.ts
Due: backend, frontend

update
  frontend/src/app/pulse/page.tsx
  frontend/src/components/SortBy.tsx
  frontend/src/components/pulse/PulseMetricsCards.tsx
  frontend/src/components/pulse/PulseTimelineItem.tsx
Due: frontend

fix: use repository updated time in sitemap
  backend/src/apps/sitemap/views/static.py
  backend/tests/unit/apps/sitemap/views/static_test.py
Due: backend

Fix GitHub actions permissions Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  .github/workflows/check-contribution.yaml
  .github/workflows/ci-cd-production.yaml
  .github/workflows/ci-cd-staging.yaml
  .github/workflows/ci.yaml
  .github/workflows/run-backend-tests.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-code-tests.yaml
  .github/workflows/run-frontend-tests.yaml
  .github/workflows/run-image-scan.yaml
  .github/workflows/run-image-sign.yaml
Due: none

Refactor search bar
  frontend/src/components/GlobalSearch.tsx
  frontend/src/hooks/useRecentSearches.ts
  frontend/src/utils/helpers/searchHelpers.ts
  frontend/src/utils/searchConstants.ts
Due: frontend

Fix GitHub actions permissions (#5617)
  .github/workflows/check-contribution.yaml
  .github/workflows/ci-cd-production.yaml
  .github/workflows/ci-cd-staging.yaml
  .github/workflows/ci.yaml
  .github/workflows/run-backend-tests.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-code-tests.yaml
  .github/workflows/run-frontend-tests.yaml
  .github/workflows/run-image-scan.yaml
  .github/workflows/run-image-sign.yaml
Due: none

Validate recent searches on Enter
  frontend/src/components/GlobalSearch.tsx
  frontend/src/utils/helpers/searchHelpers.ts
Due: frontend

Add tests for search query validation
  frontend/__tests__/unit/components/GlobalSearch.test.tsx
  frontend/__tests__/unit/utils/searchHelpers.test.ts
Due: frontend

Fix test comment formatting
  frontend/__tests__/unit/components/GlobalSearch.test.tsx
Due: frontend

fix(frontend): skip GetMyPrograms query for users without mentorship access
  frontend/src/app/my/mentorship/page.tsx
Due: frontend

remove empty string
  frontend/src/components/SortBy.tsx
Due: frontend

update
  frontend/src/components/SortBy.tsx
Due: frontend

fix(frontend): keep GetMyPrograms query for mentors and mentees
  frontend/src/app/my/mentorship/page.tsx
Due: frontend

Added test
  backend/tests/unit/apps/owasp/models/activity_event_test.py
  docker-compose/local/compose.override.yaml
Due: backend

rever
  docker-compose/local/compose.override.yaml
Due: none

fix(sitemap): use latest repository update as /repositories lastmod
  backend/src/apps/sitemap/views/static.py
  backend/tests/unit/apps/sitemap/views/static_test.py
Due: backend

Address review
  backend/tests/unit/apps/owasp/models/activity_event_test.py
Due: backend

update code
  backend/src/apps/owasp/api/internal/mutations/snapshot_subscription.py
  backend/src/apps/owasp/models/snapshot_subscription.py
  backend/tests/unit/apps/owasp/api/internal/mutations/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/models/snapshot_subscription_test.py
  frontend/__tests__/unit/hooks/useBreadcrumbs.test.tsx
  frontend/__tests__/unit/pages/UnsubscribePage.test.tsx
  frontend/src/app/unsubscribe/[token]/page.tsx
  frontend/src/hooks/useBreadcrumbs.ts
  frontend/src/server/queries/subscriptionQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/subscriptionQueries.generated.ts
Due: backend, frontend

fix code
  backend/src/apps/owasp/api/internal/mutations/snapshot_subscription.py
  backend/src/apps/owasp/models/snapshot_subscription.py
  backend/tests/unit/apps/owasp/api/internal/mutations/snapshot_subscription_test.py
Due: backend

fix issue
  backend/tests/unit/apps/owasp/api/internal/mutations/snapshot_subscription_test.py
Due: backend

Added validation in queries
  backend/src/apps/owasp/api/internal/queries/activity_event.py
  backend/src/apps/owasp/models/activity_event.py
Due: backend

update code
  backend/src/apps/api/rest/v0/board_discussion.py
  backend/src/apps/api/rest/v0/board_motion.py
  backend/src/apps/api/rest/v0/board_outcome.py
  backend/src/apps/api/rest/v0/board_vote.py
  backend/src/apps/api/rest/v0/common.py
  backend/tests/unit/apps/api/rest/v0/board_discussion_test.py
  backend/tests/unit/apps/api/rest/v0/board_meeting_test.py
  backend/tests/unit/apps/api/rest/v0/board_motion_test.py
  backend/tests/unit/apps/api/rest/v0/board_outcome_test.py
  backend/tests/unit/apps/api/rest/v0/board_vote_test.py
  backend/tests/unit/apps/api/rest/v0/common_test.py
Due: backend

apply bot suggestions
  backend/src/apps/api/rest/v0/board_discussion.py
  backend/src/apps/api/rest/v0/board_motion.py
  backend/src/apps/api/rest/v0/board_outcome.py
  backend/src/apps/api/rest/v0/board_vote.py
  backend/src/apps/api/rest/v0/common.py
  backend/tests/unit/apps/api/rest/v0/board_meeting_test.py
  backend/tests/unit/apps/api/rest/v0/board_vote_test.py
  backend/tests/unit/apps/api/rest/v0/common_test.py
Due: backend

add type hints
  backend/src/apps/api/rest/v0/board_discussion.py
  backend/src/apps/api/rest/v0/board_meeting.py
  backend/src/apps/api/rest/v0/board_outcome.py
  backend/src/apps/api/rest/v0/board_vote.py
Due: backend

Added test
  frontend/__tests__/unit/components/pulse/PulseFilters.test.tsx
  frontend/__tests__/unit/components/pulse/PulseMetricsCards.test.tsx
  frontend/__tests__/unit/components/pulse/PulseTimelineItem.test.tsx
  frontend/__tests__/unit/pages/Pulse.test.tsx
  frontend/jest.config.ts
Due: frontend

Address review
  frontend/__tests__/unit/components/pulse/PulseFilters.test.tsx
  frontend/__tests__/unit/components/pulse/PulseMetricsCards.test.tsx
  frontend/src/components/SortBy.tsx
  frontend/src/components/pulse/PulseFilters.tsx
  frontend/src/types/sortBy.ts
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
