Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix:add-ecs-containers-health
  infrastructure/live/main.tf
  infrastructure/modules/service/main.tf
  infrastructure/modules/service/tests/service.tftest.hcl
  infrastructure/modules/service/variables.tf
Due: none

bot suggestion
  docker-compose/e2e/compose.yaml
Due: none

Update fuzz-compose.yml
  docker-compose/fuzz/compose.yaml
Due: none

changes after: make check run
  infrastructure/live/main.tf
Due: none

update code
  backend/apps/health/views.py
  backend/settings/urls.py
  docker/backend/Dockerfile
  frontend/src/app/api/health/route.ts
  infrastructure/live/main.tf
  infrastructure/live/variables.tf
Due: backend, frontend

update route.ts
  frontend/src/app/api/health/route.ts
Due: frontend

fix: address PR review feedback on ECS health checks
  .gitignore
  docker-compose/e2e/compose.yaml
  frontend/__tests__/a11y/pages/MyMentorship.a11y.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/src/app/status/route.ts
  infrastructure/live/main.tf
  infrastructure/modules/service/main.tf
  infrastructure/modules/service/tests/service.tftest.hcl
  infrastructure/modules/service/variables.tf
Due: frontend

Update docker-compose/e2e/compose.yaml to avoid any DNS resolution
  docker-compose/e2e/compose.yaml
Due: none

Update frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
Due: frontend

update code
  infrastructure/live/main.tf
  infrastructure/modules/service/main.tf
  infrastructure/modules/service/tests/service.tftest.hcl
  infrastructure/modules/service/variables.tf
Due: none

fix: address ECS health check, debounce mock, graphql-codegen skip, and Node 25 support
  frontend/Makefile
  frontend/package.json
Due: frontend

fix: address PR review feedback on ECS health checks
  frontend/src/app/api/health/route.ts
Due: frontend

Update code
  frontend/__tests__/e2e/pages/BoardCandidates.spec.ts
Due: frontend

Mitigate GHSA-q4gf-8mx6-v5v3
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

feat: add Playwright smoke test for board candidates page (#4424)
  frontend/__tests__/e2e/pages/BoardCandidates.spec.ts
Due: frontend

ci: add pre-commit ecosystem support for Dependabot
  .github/dependabot.yml
Due: none

Update code
  .github/dependabot.yml
Due: none

ci: add pre-commit ecosystem support for Dependabot (#4526)
  .github/dependabot.yml
Due: none

Update code
  CONTRIBUTING.md
Due: none

docs: add local testing steps to NestBot development guide (#4440)
  CONTRIBUTING.md
Due: none

Refactor LoadingSpinner component structure to follow OWASP Branding Guidelines (#4508)
  frontend/__tests__/unit/components/LoadingSpinner.test.tsx
  frontend/src/components/LoadingSpinner.tsx
Due: frontend

feat(infra): add ECS container health checks (#4502)
  docker-compose/e2e/compose.yaml
  docker-compose/fuzz/compose.yaml
  frontend/src/app/api/health/route.ts
  infrastructure/live/main.tf
  infrastructure/modules/alb/variables.tf
  infrastructure/modules/service/main.tf
  infrastructure/modules/service/tests/service.tftest.hcl
  infrastructure/modules/service/variables.tf
Due: frontend

Remove unused timeline/calendar feature from Card component (#4420)
  frontend/__tests__/unit/components/Card.test.tsx
  frontend/src/components/Card.tsx
Due: frontend

docs: add local testing steps to NestBot development guide (#4352)
  CONTRIBUTING.md
Due: none

Pin pre-commit hooks to immutable commit SHAs
  .pre-commit-config.yaml
Due: none

fix: pin .pre-commit-config.yaml hook versions to immutable SHAs (closes #4527)
  .pre-commit-config.yaml
Due: none

fix: pin .pre-commit-config.yaml hook versions to immutable SHAs (closes #4527) (#4530)
  .pre-commit-config.yaml
Due: none

Update code
  frontend/__tests__/unit/pages/Header.test.tsx
  frontend/src/components/Header.tsx
Due: frontend

Improve navbar hover and active state visibility (#4379)
  frontend/__tests__/unit/pages/Header.test.tsx
  frontend/src/components/Header.tsx
Due: frontend

Update code
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
  frontend/__tests__/unit/pages/PublicMentorshipModulePage.test.tsx
  frontend/__tests__/unit/utils/getIcsFileUrl.test.ts
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/utils/getIcsFileUrl.ts
Due: frontend

feat: Enable Pagination for Pull Requests on Issue and Module Pages (#3608)
  backend/apps/github/api/internal/nodes/issue.py
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/tests/unit/apps/github/api/internal/nodes/issue_test.py
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/pages/ModuleDetailsPage.test.tsx
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
  frontend/__tests__/unit/pages/PublicMentorshipModulePage.test.tsx
  frontend/__tests__/unit/utils/getIcsFileUrl.test.ts
  frontend/src/app/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/server/queries/issueQueries.ts
  frontend/src/server/queries/moduleQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/issueQueries.generated.ts
  frontend/src/types/__generated__/moduleQueries.generated.ts
  frontend/src/types/card.ts
  frontend/src/types/mentorship.ts
  frontend/src/utils/getIcsFileUrl.ts
Due: backend, frontend

Unexpected await of a non Promise
  frontend/__tests__/unit/pages/ProgramDetailsMentorship.test.tsx
Due: frontend

reslove conflict
  frontend/src/components/CardDetailsPage/CardDetailsIssuesMilestones.tsx
Due: frontend

fix: remove community from HIDDEN_SEGMENTS to restore breadcrumb navigation
  frontend/src/hooks/useBreadcrumbs.ts
Due: frontend

C:/Program Files/Git/Unexpected_await_of_non_promise
  frontend/__tests__/unit/pages/ProgramDetailsMentorship.test.tsx
Due: frontend

edit sponsor node
  backend/apps/owasp/api/internal/nodes/sponsor.py
  backend/apps/owasp/api/internal/queries/sponsor.py
Due: backend

update code
  backend/apps/api/rest/v0/sponsor.py
  backend/apps/owasp/admin/sponsor.py
  backend/apps/owasp/migrations/0073_sponsor_status_email_entity_fks.py
  backend/apps/owasp/models/sponsor.py
  backend/tests/unit/apps/api/rest/v0/sponsor_test.py
  frontend/src/app/sponsors/apply/page.tsx
  frontend/src/app/sponsors/layout.tsx
  frontend/src/app/sponsors/page.tsx
  frontend/src/components/LogoCarousel.tsx
  frontend/src/server/queries/homeQueries.ts
  frontend/src/server/queries/sponsorQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/homeQueries.generated.ts
  frontend/src/types/__generated__/sponsorQueries.generated.ts
  frontend/src/types/home.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/metadata.ts
Due: backend, frontend

chore: sort coverage run.omit for pyproject-fmt
  backend/pyproject.toml
Due: backend

update tests
  backend/apps/api/rest/v0/sponsor.py
  backend/tests/unit/apps/api/rest/v0/sponsor_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/sponsor_test.py
  frontend/__tests__/unit/pages/SponsorApply.test.tsx
  frontend/__tests__/unit/pages/Sponsors.test.tsx
  frontend/__tests__/unit/utils/deadlineUtils.test.ts
  frontend/src/app/sponsors/apply/page.tsx
  frontend/src/app/sponsors/page.tsx
  frontend/src/components/LogoCarousel.tsx
Due: backend, frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
