Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

Address comments Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  backend/src/apps/slack/common/text.py
  backend/src/apps/slack/enums.py
  backend/src/apps/slack/migrations/0038_report_type_spam_only.py
  backend/src/apps/slack/modals/report.py
  backend/src/apps/slack/models/content_report.py
  backend/src/apps/slack/models/conversation.py
  backend/src/apps/slack/utils/report.py
  backend/tests/unit/apps/slack/models/content_report_test.py
  backend/tests/unit/apps/slack/models/conversation_test.py
  backend/tests/unit/apps/slack/models/reaction_rule_test.py
  backend/tests/unit/apps/slack/shortcuts/report_content_test.py
Due: backend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  backend/src/apps/slack/modals/report.py
  backend/src/apps/slack/models/content_report.py
  backend/tests/unit/apps/slack/models/content_report_test.py
  backend/tests/unit/apps/slack/shortcuts/report_content_test.py
Due: backend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  backend/src/apps/slack/common/text.py
  backend/src/apps/slack/models/conversation.py
  backend/src/apps/slack/utils/report.py
  backend/tests/unit/apps/slack/common/text_test.py
  backend/tests/unit/apps/slack/models/conversation_test.py
  backend/tests/unit/apps/slack/shortcuts/report_content_test.py
Due: backend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  backend/src/apps/slack/modals/report.py
  backend/src/apps/slack/models/content_report.py
  backend/src/apps/slack/models/conversation.py
  backend/src/apps/slack/utils/report.py
  backend/tests/unit/apps/slack/modals/__init__.py
  backend/tests/unit/apps/slack/modals/report_test.py
  backend/tests/unit/apps/slack/models/content_report_test.py
  backend/tests/unit/apps/slack/models/conversation_test.py
  backend/tests/unit/apps/slack/models/message_test.py
  backend/tests/unit/apps/slack/shortcuts/report_content_test.py
  backend/tests/unit/apps/slack/utils/report_test.py
Due: backend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  backend/src/apps/slack/models/conversation.py
  backend/src/apps/slack/utils/report.py
  backend/tests/unit/apps/slack/commands/report_test.py
  backend/tests/unit/apps/slack/models/conversation_test.py
  backend/tests/unit/apps/slack/shortcuts/report_content_test.py
  backend/tests/unit/apps/slack/utils/report_test.py
Due: backend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  backend/src/apps/slack/admin/content_report.py
  backend/src/apps/slack/admin/conversation.py
  backend/src/apps/slack/migrations/0039_conversation_slack_metadata_synced_at.py
  backend/src/apps/slack/modals/report.py
  backend/src/apps/slack/models/conversation.py
  backend/src/apps/slack/shortcuts/report_content.py
  backend/src/apps/slack/utils/report.py
  backend/tests/unit/apps/slack/admin/content_report_test.py
  backend/tests/unit/apps/slack/commands/report_test.py
  backend/tests/unit/apps/slack/models/conversation_test.py
  backend/tests/unit/apps/slack/shortcuts/report_content_test.py
  backend/tests/unit/apps/slack/utils/report_test.py
Due: backend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  backend/src/apps/slack/admin/content_report.py
  backend/src/apps/slack/admin/conversation.py
  backend/src/apps/slack/modals/report.py
  backend/src/apps/slack/models/content_report.py
  backend/src/apps/slack/models/conversation.py
  backend/src/apps/slack/utils/report.py
  backend/tests/unit/apps/slack/admin/content_report_test.py
  backend/tests/unit/apps/slack/models/content_report_test.py
  backend/tests/unit/apps/slack/models/conversation_test.py
  backend/tests/unit/apps/slack/models/message_test.py
  backend/tests/unit/apps/slack/shortcuts/report_content_test.py
  backend/tests/unit/apps/slack/utils/report_test.py
Due: backend

Remove message preview Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  backend/src/apps/slack/modals/report.py
  backend/tests/unit/apps/slack/modals/report_test.py
Due: backend

Remove message preview (#5465)
  backend/src/apps/slack/modals/report.py
  backend/tests/unit/apps/slack/modals/report_test.py
Due: backend

remove moved block after production release 2026.08.23
  infrastructure/modules/networking/main.tf
Due: none

address review
  .trivyignore.yaml
  docker-compose/infrastructure/compose.yaml
  infrastructure/make/test.mk
  infrastructure/modules/observability/.terraform.lock.hcl
  infrastructure/modules/observability/main.tf
  infrastructure/modules/observability/tests/setup/.terraform.lock.hcl
  infrastructure/modules/observability/tests/setup/main.tf
Due: none

remove moved block after production release 2026.08.23 (#5471)
  infrastructure/modules/networking/main.tf
Due: none

make check
  infrastructure/modules/observability/README.md
Due: none

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  frontend/__tests__/unit/components/LoginPageContent.test.tsx
  frontend/__tests__/unit/components/SingleModuleCard.test.tsx
Due: frontend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  infrastructure/bootstrap/README.md
  infrastructure/live/README.md
  infrastructure/modules/alb/README.md
  infrastructure/modules/cache/README.md
  infrastructure/modules/database/README.md
  infrastructure/modules/ecr-cache/README.md
  infrastructure/modules/kms/README.md
  infrastructure/modules/networking/README.md
  infrastructure/modules/networking/modules/nacl/README.md
  infrastructure/modules/networking/modules/vpc-endpoint/README.md
  infrastructure/modules/parameters/README.md
  infrastructure/modules/security/README.md
  infrastructure/modules/service/README.md
  infrastructure/modules/storage/README.md
  infrastructure/modules/storage/modules/s3-bucket/README.md
  infrastructure/modules/storage/modules/shared-data-bucket/README.md
  infrastructure/modules/tasks/README.md
  infrastructure/modules/tasks/modules/task/README.md
  infrastructure/state/README.md
Due: none

update code
  backend/apps/owasp/services/email/django_email.py
  backend/src/apps/owasp/services/email/__init__.py
  backend/src/apps/owasp/services/email/base.py
  backend/src/apps/owasp/services/email/django_email.py
  backend/src/apps/owasp/services/email/factory.py
  backend/tests/unit/apps/owasp/services/email/django_email_test.py
Due: backend

fix issues
  backend/src/apps/owasp/services/email/django_email.py
  backend/tests/unit/apps/owasp/services/email/django_email_test.py
Due: backend

fix issue
  backend/src/apps/owasp/services/email/django_email.py
Due: backend

update code
  backend/src/apps/owasp/services/email/django_email.py
  backend/tests/unit/apps/owasp/services/email/django_email_test.py
Due: backend

Add backend tests for certificate generation (#5342)
  backend/src/apps/owasp/utils/score_calculator.py
  backend/tests/unit/apps/owasp/api/internal/nodes/certificate_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/certificate_test.py
  backend/tests/unit/apps/owasp/management/commands/owasp_crp_recalculate_scores_test.py
  backend/tests/unit/apps/owasp/models/crp/__init__.py
  backend/tests/unit/apps/owasp/models/crp/certificate_test.py
  backend/tests/unit/apps/owasp/models/crp/contribution_score_test.py
  backend/tests/unit/apps/owasp/models/crp/leaderboard_snapshot_test.py
  backend/tests/unit/apps/owasp/models/crp/scoring_weight_test.py
  backend/tests/unit/apps/owasp/utils/certificate_provider_test.py
  backend/tests/unit/apps/owasp/utils/score_calculator_test.py
Due: backend

Added test
  backend/tests/unit/apps/owasp/admin/contribution_score_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/certificate_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/certificate_test.py
  backend/tests/unit/apps/owasp/models/crp/certificate_test.py
  backend/tests/unit/apps/owasp/utils/certificate_provider_test.py
Due: backend

address review
  backend/src/apps/owasp/admin/contribution_score.py
  backend/tests/unit/apps/owasp/admin/contribution_score_test.py
Due: backend

address review
  backend/tests/unit/apps/owasp/admin/contribution_score_test.py
Due: backend

Added frontend
  frontend/src/app/certificate/page.tsx
  frontend/src/components/CertificateCard.tsx
  frontend/src/server/queries/certificateQueries.ts
  frontend/src/types/__generated__/certificateQueries.generated.ts
  frontend/src/types/certificate.ts
Due: frontend

update docker mismatch(how did this happen?)
  docker/backend/Dockerfile
  docker/backend/Dockerfile.local
Due: none

fix typo
  docker/backend/Dockerfile.local
Due: none

fix missing layout for breadcrumb
  frontend/src/app/board/[year]/candidates/[login]/layout.tsx
  frontend/src/app/board/[year]/candidates/[login]/page.tsx
  frontend/src/server/queries/boardQueries.ts
  frontend/src/types/__generated__/boardQueries.generated.ts
Due: frontend

rename table name
  backend/src/apps/owasp/migrations/0082_alter_boardcandidateprofile_table.py
  backend/src/apps/owasp/models/board_candidate_profile.py
  backend/tests/unit/apps/owasp/models/board_candidate_profile_test.py
Due: backend

Updated the frontend to limit body and title text
  backend/src/apps/owasp/api/internal/mutations/certificate.py
  backend/src/apps/owasp/migrations/0078_alter_certificate_title.py
  backend/src/apps/owasp/models/crp/certificate.py
  frontend/src/app/certificate/issue/layout.tsx
  frontend/src/app/certificate/issue/page.tsx
  frontend/src/app/certificate/page.tsx
  frontend/src/components/CertificateCard.tsx
  frontend/src/components/forms/shared/FormTextInput.tsx
  frontend/src/components/forms/shared/FormTextarea.tsx
Due: backend, frontend

Address review
  backend/src/apps/owasp/migrations/0078_alter_certificate_title.py
  frontend/src/app/certificate/issue/page.tsx
  frontend/src/components/CertificateCard.tsx
  frontend/src/components/forms/shared/FormTextInput.tsx
  frontend/src/components/forms/shared/FormTextarea.tsx
Due: backend, frontend

Fixed
  frontend/src/components/CertificateCard.tsx
  frontend/src/components/forms/shared/FormTextInput.tsx
  frontend/src/components/forms/shared/FormTextarea.tsx
Due: frontend

move the certificate under /my
  frontend/src/app/my/certificate/issue/layout.tsx
  frontend/src/app/my/certificate/issue/page.tsx
  frontend/src/app/my/certificate/layout.tsx
  frontend/src/app/my/certificate/page.tsx
  frontend/src/components/UserMenu.tsx
Due: frontend

address review
  backend/src/apps/e2e/__init__.py
  backend/src/apps/e2e/apps.py
  backend/src/apps/e2e/management/__init__.py
  backend/src/apps/e2e/management/commands/__init__.py
  backend/src/apps/e2e/management/commands/e2e_seed_users.py
  backend/src/apps/e2e/urls.py
  backend/src/apps/e2e/views.py
  backend/src/apps/nest/api/internal/views/__init__.py
  backend/src/settings/e2e.py
  backend/src/settings/urls.py
  backend/tests/unit/apps/e2e/__init__.py
  backend/tests/unit/apps/e2e/management/__init__.py
  backend/tests/unit/apps/e2e/management/commands/__init__.py
  backend/tests/unit/apps/e2e/management/commands/e2e_seed_users_test.py
  backend/tests/unit/apps/e2e/views/__init__.py
  backend/tests/unit/apps/e2e/views/e2e_login_test.py
  e2e/make/test.mk
  e2e/package.json
  e2e/pages/CreateProgram.spec.ts
  e2e/pages/MyMentorship.spec.ts
Due: backend

small error fix
  backend/src/settings/e2e.py
Due: backend

add django models to track board activity
  backend/src/apps/owasp/admin/__init__.py
  backend/src/apps/owasp/admin/board_discussion.py
  backend/src/apps/owasp/admin/board_meeting.py
  backend/src/apps/owasp/admin/board_meeting_action.py
  backend/src/apps/owasp/admin/board_motion.py
  backend/src/apps/owasp/admin/board_outcome.py
  backend/src/apps/owasp/admin/board_vote.py
  backend/src/apps/owasp/migrations/0073_boarddiscussion_boardmeeting_boardmotion_and_more.py
  backend/src/apps/owasp/models/__init__.py
  backend/src/apps/owasp/models/board_discussion.py
  backend/src/apps/owasp/models/board_meeting.py
  backend/src/apps/owasp/models/board_meeting_action.py
  backend/src/apps/owasp/models/board_motion.py
  backend/src/apps/owasp/models/board_outcome.py
  backend/src/apps/owasp/models/board_vote.py
  backend/tests/unit/apps/owasp/models/board_discussion_test.py
  backend/tests/unit/apps/owasp/models/board_meeting_action_test.py
  backend/tests/unit/apps/owasp/models/board_meeting_test.py
  backend/tests/unit/apps/owasp/models/board_motion_test.py
  backend/tests/unit/apps/owasp/models/board_outcome_test.py
  backend/tests/unit/apps/owasp/models/board_vote_test.py
  docker-compose/local/compose.yaml
Due: backend

fix spellings
  backend/tests/unit/apps/owasp/models/board_meeting_action_test.py
  backend/tests/unit/apps/owasp/models/board_meeting_test.py
  backend/tests/unit/apps/owasp/models/board_motion_test.py
  backend/tests/unit/apps/owasp/models/board_vote_test.py
Due: backend
