Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix docstring
  backend/src/apps/api/rest/v0/common.py
Due: backend

Added timer
  frontend/__tests__/unit/components/pulse/PulseFilters.test.tsx
  frontend/src/components/pulse/PulseFilters.tsx
Due: frontend

fixed test
  frontend/__tests__/unit/components/pulse/PulseFilters.test.tsx
  frontend/src/components/pulse/PulseFilters.tsx
Due: frontend

update code
  backend/tests/unit/apps/owasp/api/internal/nodes/snapshot_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/snapshot_test.py
  backend/tests/unit/apps/owasp/models/snapshot_feedback_test.py
  frontend/src/app/community/snapshots/[id]/page.tsx
Due: backend, frontend

fix sonar issues
  backend/tests/unit/apps/owasp/models/snapshot_feedback_test.py
  frontend/__tests__/unit/pages/SnapshotDetails.test.tsx
Due: backend, frontend

fix issue
  frontend/__tests__/unit/pages/SnapshotDetails.test.tsx
Due: frontend

fix: prevent false deactivation of entities on transient scraper errors
  backend/src/apps/owasp/management/commands/owasp_scrape_chapters.py
  backend/src/apps/owasp/management/commands/owasp_scrape_committees.py
  backend/src/apps/owasp/management/commands/owasp_scrape_projects.py
  backend/src/apps/owasp/scraper.py
  backend/tests/unit/apps/owasp/management/commands/owasp_scrape_chapters_test.py
  backend/tests/unit/apps/owasp/management/commands/owasp_scrape_committees_test.py
  backend/tests/unit/apps/owasp/management/commands/owasp_scrape_projects_test.py
  backend/tests/unit/apps/owasp/scraper_test.py
Due: backend

fix: correct import order in GlobalSearch component and test
  frontend/__tests__/unit/components/GlobalSearch.test.tsx
  frontend/src/components/GlobalSearch.tsx
Due: frontend

style: fix Prettier formatting in CalendarButton test
  frontend/__tests__/unit/components/CalendarButton.test.tsx
Due: frontend

Introduced an flag in to distinguish temporary network errors from legitimate 404 Not Found responses
  backend/src/apps/owasp/management/commands/owasp_scrape_chapters.py
  backend/src/apps/owasp/management/commands/owasp_scrape_committees.py
  backend/src/apps/owasp/management/commands/owasp_scrape_projects.py
  backend/src/apps/owasp/scraper.py
  backend/tests/unit/apps/owasp/management/commands/owasp_scrape_chapters_test.py
  backend/tests/unit/apps/owasp/management/commands/owasp_scrape_committees_test.py
  backend/tests/unit/apps/owasp/management/commands/owasp_scrape_projects_test.py
  backend/tests/unit/apps/owasp/scraper_test.py
Due: backend

fix: set request failure flag on parser errors
  backend/tests/unit/apps/owasp/scraper_test.py
Due: backend

fix(frontend): skip GetMyPrograms query for non-project leaders
  frontend/__tests__/unit/pages/MyMentorship.test.tsx
  frontend/src/app/my/mentorship/page.tsx
Due: frontend

test: add coverage for GA event, query clearing, recent search click, and focus trap
  frontend/__tests__/unit/components/GlobalSearch.test.tsx
Due: frontend

test: Update tests
  frontend/__tests__/unit/components/GlobalSearch.test.tsx
Due: frontend

Add Django Models to Store Board Activity Data (#5494)
  backend/src/apps/owasp/admin/__init__.py
  backend/src/apps/owasp/admin/board_discussion.py
  backend/src/apps/owasp/admin/board_meeting.py
  backend/src/apps/owasp/admin/board_meeting_action.py
  backend/src/apps/owasp/admin/board_motion.py
  backend/src/apps/owasp/admin/board_outcome.py
  backend/src/apps/owasp/admin/board_vote.py
  backend/src/apps/owasp/migrations/0073_boarddiscussion_boardmeeting_boardmotion_and_more.py
  backend/src/apps/owasp/models/__init__.py
  backend/src/apps/owasp/models/board_discussion.py
  backend/src/apps/owasp/models/board_meeting.py
  backend/src/apps/owasp/models/board_meeting_action.py
  backend/src/apps/owasp/models/board_motion.py
  backend/src/apps/owasp/models/board_outcome.py
  backend/src/apps/owasp/models/board_vote.py
  backend/tests/unit/apps/owasp/models/board_discussion_test.py
  backend/tests/unit/apps/owasp/models/board_meeting_action_test.py
  backend/tests/unit/apps/owasp/models/board_meeting_test.py
  backend/tests/unit/apps/owasp/models/board_motion_test.py
  backend/tests/unit/apps/owasp/models/board_outcome_test.py
  backend/tests/unit/apps/owasp/models/board_vote_test.py
  docker-compose/local/compose.override.yaml
Due: backend

Add Django Management Commands to Parse Board Activity Data (#5503)
  backend/make/apps/owasp.mk
  backend/src/apps/common/open_ai.py
  backend/src/apps/owasp/management/commands/owasp_sync_board_activity.py
  backend/src/apps/owasp/parsers/__init__.py
  backend/src/apps/owasp/parsers/board_activity/__init__.py
  backend/src/apps/owasp/parsers/board_activity/schemas.py
  backend/src/apps/owasp/parsers/board_activity/sync.py
  backend/src/apps/owasp/parsers/board_activity/translator.py
  backend/tests/unit/apps/common/open_ai_test.py
  backend/tests/unit/apps/owasp/management/commands/owasp_sync_board_activity_test.py
  backend/tests/unit/apps/owasp/parsers/__init__.py
  backend/tests/unit/apps/owasp/parsers/board_activity/__init__.py
  backend/tests/unit/apps/owasp/parsers/board_activity/sync_test.py
  backend/tests/unit/apps/owasp/parsers/board_activity/translator_test.py
Due: backend

Add Board Activity REST API (#5586)
  backend/src/apps/api/rest/v0/__init__.py
  backend/src/apps/api/rest/v0/board_discussion.py
  backend/src/apps/api/rest/v0/board_meeting.py
  backend/src/apps/api/rest/v0/board_motion.py
  backend/src/apps/api/rest/v0/board_outcome.py
  backend/src/apps/api/rest/v0/board_vote.py
  backend/src/apps/api/rest/v0/common.py
  backend/tests/unit/apps/api/rest/v0/board_discussion_test.py
  backend/tests/unit/apps/api/rest/v0/board_meeting_test.py
  backend/tests/unit/apps/api/rest/v0/board_motion_test.py
  backend/tests/unit/apps/api/rest/v0/board_outcome_test.py
  backend/tests/unit/apps/api/rest/v0/board_vote_test.py
  backend/tests/unit/apps/api/rest/v0/common_test.py
  backend/tests/unit/apps/api/rest/v0/urls_test.py
Due: backend

fix(frontend): skip GetMyPrograms query for users without mentorship access
  frontend/src/app/my/mentorship/page.tsx
Due: frontend

fix(frontend): keep GetMyPrograms query for mentors and mentees
  frontend/src/app/my/mentorship/page.tsx
Due: frontend

fix(frontend): restore AccessDenied screen for users with no mentorship role
  frontend/src/app/my/mentorship/page.tsx
Due: frontend

test(frontend): add coverage for AccessDenied and skip logic on my mentorship page
  frontend/__tests__/unit/pages/MyMentorship.test.tsx
Due: frontend

style(frontend): fix import order and formatting
  frontend/src/app/my/mentorship/page.tsx
Due: frontend

style(frontend): apply prettier formatting
  frontend/__tests__/unit/pages/MyMentorship.test.tsx
Due: frontend

Improve URL management in github_add_related_repositories
  backend/src/apps/github/management/commands/github_add_related_repositories.py
Due: backend

fix candidate profile images post owasp.org updates
  frontend/__tests__/unit/components/AnnotatedProfile.test.tsx
  frontend/src/app/board/[year]/candidates/page.tsx
  frontend/src/components/AnnotatedProfile.tsx
Due: frontend

apply bot suggestions
  frontend/__tests__/unit/components/AnnotatedProfile.test.tsx
  frontend/__tests__/unit/pages/BoardCandidatesPage.test.tsx
  frontend/src/components/AnnotatedProfile.tsx
Due: frontend

apply bot suggestions
  frontend/__tests__/unit/pages/BoardCandidatesPage.test.tsx
Due: frontend

Fix AttributeError on GitHub 404 in github_add_related_repositories
  backend/src/apps/github/management/commands/github_add_related_repositories.py
  backend/tests/unit/apps/github/management/commands/github_add_related_repositories_test.py
Due: backend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  .github/zizmor.yml
  backend/templates/ninja/swagger.html
  cspell/custom-dict.txt
Due: backend

fix: simplify AI summary fallback
  backend/src/apps/core/utils/index.py
  backend/src/apps/github/index/registry/issue.py
  backend/src/apps/github/migrations/0045_issue_summary_is_ai_generated.py
  backend/src/apps/github/models/issue.py
  backend/src/apps/github/models/managers/issue.py
  backend/src/apps/github/models/mixins/issue.py
  backend/tests/unit/apps/github/models/issue_test.py
  backend/tests/unit/apps/github/models/managers/issue_test.py
  frontend/__tests__/unit/pages/Contribute.test.tsx
  frontend/src/app/contribute/page.tsx
  frontend/src/types/issue.ts
Due: backend, frontend

fix: restrict execution of setup scripts by adding --no-root to poetry install
  .github/actions/install-infrastructure-dependencies/action.yaml
Due: none

style(frontend): fix Prettier and import order in navbar files
  frontend/__tests__/unit/pages/Header.test.tsx
  frontend/src/components/GlobalSearch.tsx
  frontend/src/components/Header.tsx
Due: frontend

fix: restrict execution of setup scripts by adding --no-root to poetry install (#5655)
  .github/actions/install-infrastructure-dependencies/action.yaml
Due: none

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  infrastructure/bootstrap/README.md
  infrastructure/live/.terraform.lock.hcl
  infrastructure/live/README.md
  infrastructure/live/main.tf
  infrastructure/modules/alb/README.md
  infrastructure/modules/cache/README.md
  infrastructure/modules/database/README.md
  infrastructure/modules/ecr-cache/README.md
  infrastructure/modules/kms/README.md
  infrastructure/modules/networking/.terraform.lock.hcl
  infrastructure/modules/networking/README.md
  infrastructure/modules/networking/main.tf
  infrastructure/modules/networking/modules/nacl/README.md
  infrastructure/modules/networking/modules/vpc-endpoint/README.md
  infrastructure/modules/parameters/README.md
  infrastructure/modules/security/README.md
  infrastructure/modules/service/README.md
  infrastructure/modules/storage/.terraform.lock.hcl
  infrastructure/modules/storage/README.md
  infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/modules/s3-bucket/README.md
  infrastructure/modules/storage/modules/shared-data-bucket/README.md
  infrastructure/modules/tasks/.terraform.lock.hcl
  infrastructure/modules/tasks/README.md
  infrastructure/modules/tasks/main.tf
  infrastructure/modules/tasks/modules/task/README.md
  infrastructure/state/.terraform.lock.hcl
  infrastructure/state/README.md
  infrastructure/state/main.tf
Due: none

Update multiple dependencies Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
  backend/requirements/build.in
  backend/requirements/build.txt
  docs/poetry.lock
  docs/poetry.toml
  docs/pyproject.toml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/requirements/pre-commit.in
  tools/requirements/pre-commit.txt
Due: backend, frontend

Bump GH actions runner image version to ubuntu-26.04-arm Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  .github/actionlint.yaml
  .github/workflows/check-contribution.yaml
  .github/workflows/cluster-fuzz-lite.yaml
  .github/workflows/code-ql-actions.yaml
  .github/workflows/code-ql-javascript-typescript.yaml
  .github/workflows/code-ql-python.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/ossf-scorecard.yaml
  .github/workflows/pr-labeler.yaml
  .github/workflows/run-backend-tests.yaml
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-code-tests.yaml
  .github/workflows/run-coverage-upload.yaml
  .github/workflows/run-dependency-checks.yaml
  .github/workflows/run-deploy.yaml
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/run-frontend-tests.yaml
  .github/workflows/run-fuzz-tests.yaml
  .github/workflows/run-image-build.yaml
  .github/workflows/run-image-scan.yaml
  .github/workflows/run-image-sign.yaml
  .github/workflows/run-infrastructure-bootstrap.yaml
  .github/workflows/run-infrastructure-tests.yaml
  .github/workflows/run-lighthouse-ci.yaml
  .github/workflows/run-release-version-resolution.yaml
  .github/workflows/run-zap-baseline-scan.yaml
Due: none

Update multiple dependencies (#5669)
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
  backend/requirements/build.in
  backend/requirements/build.txt
  docs/poetry.lock
  docs/poetry.toml
  docs/pyproject.toml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/requirements/pre-commit.in
  tools/requirements/pre-commit.txt
Due: backend, frontend

Bump GH actions runner image version to ubuntu-26.04-arm (#5670)
  .github/actionlint.yaml
  .github/workflows/check-contribution.yaml
  .github/workflows/cluster-fuzz-lite.yaml
  .github/workflows/code-ql-actions.yaml
  .github/workflows/code-ql-javascript-typescript.yaml
  .github/workflows/code-ql-python.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/ossf-scorecard.yaml
  .github/workflows/pr-labeler.yaml
  .github/workflows/run-backend-tests.yaml
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-code-tests.yaml
  .github/workflows/run-coverage-upload.yaml
  .github/workflows/run-dependency-checks.yaml
  .github/workflows/run-deploy.yaml
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/run-frontend-tests.yaml
  .github/workflows/run-fuzz-tests.yaml
  .github/workflows/run-image-build.yaml
  .github/workflows/run-image-scan.yaml
  .github/workflows/run-image-sign.yaml
  .github/workflows/run-infrastructure-bootstrap.yaml
  .github/workflows/run-infrastructure-tests.yaml
  .github/workflows/run-lighthouse-ci.yaml
  .github/workflows/run-release-version-resolution.yaml
  .github/workflows/run-zap-baseline-scan.yaml
Due: none

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  eslint.config.mjs
  frontend/jest.config.ts
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
