Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Optimize mentorship MentorNode
  backend/apps/mentorship/api/internal/nodes/mentor.py
Due: backend

Remove dangerous workflow triggers
  .github/PULL_REQUEST_TEMPLATE.md
  .github/check-contribution-skip-usernames.txt
  .github/workflows/check-contribution.yaml
  .github/workflows/pr-labeler.yaml
  .github/zizmor.yml
  .pre-commit-config.yaml
  cspell/cspell.json
Due: none

Revert pr-labeler changes
  .github/workflows/pr-labeler.yaml
  .github/zizmor.yml
Due: none

Enable commit checks
  .github/workflows/check-contribution.yaml
Due: none

Remove dangerous workflow triggers (#5032)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/check-contribution-skip-usernames.txt
  .github/workflows/check-contribution.yaml
  .github/zizmor.yml
  .pre-commit-config.yaml
  cspell/cspell.json
Due: none

Update about page: project timeline
  frontend/src/utils/aboutData.ts
Due: frontend

Update about page: project timeline (#5033)
  frontend/src/utils/aboutData.ts
Due: frontend

feat(slack): add BotInteraction model and reaction feedback handler
  backend/apps/slack/admin/__init__.py
  backend/apps/slack/admin/bot_interaction.py
  backend/apps/slack/events/__init__.py
  backend/apps/slack/events/member_joined_channel/__init__.py
  backend/apps/slack/events/reaction_added/__init__.py
  backend/apps/slack/events/reaction_added/bot_feedback.py
  backend/apps/slack/migrations/0023_bot_interaction.py
  backend/apps/slack/models/__init__.py
  backend/apps/slack/models/bot_interaction.py
  backend/apps/slack/services/message_auto_reply.py
  backend/tests/unit/apps/slack/events/reaction_added/bot_feedback_test.py
  backend/tests/unit/apps/slack/services/message_auto_reply_test.py
Due: backend

Bump cspell dictionary versions
  cspell/package.json
  cspell/pnpm-lock.yaml
Due: none

Bump cspell dictionary versions (#5036)
  cspell/package.json
  cspell/pnpm-lock.yaml
Due: none

Bump arkid15r/check-contribution-action to v0.1.2
  .github/workflows/check-contribution.yaml
Due: none

Fix step skip
  .github/workflows/check-contribution.yaml
Due: none

Bump arkid15r/check-contribution-action to v0.1.2 (#5037)
  .github/workflows/check-contribution.yaml
Due: none

Enable auto-scaling for ECS backend/frontend services
  .github/workflows/ci-cd-production.yaml
  .github/workflows/ci-cd-staging.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-deploy.yaml
  infrastructure/live/README.md
  infrastructure/live/main.tf
  infrastructure/live/terraform.production.tfvars.example
  infrastructure/live/terraform.staging.tfvars.example
  infrastructure/live/variables.tf
  infrastructure/modules/service/README.md
  infrastructure/modules/service/main.tf
  infrastructure/modules/service/tests/service.tftest.hcl
  infrastructure/modules/service/variables.tf
Due: none

Update code
  infrastructure/live/variables.tf
  infrastructure/modules/service/variables.tf
Due: none

update: code
  frontend/__tests__/unit/pages/SnapshotDetails.test.tsx
  frontend/src/app/community/snapshots/[id]/page.tsx
Due: frontend

address suggestions
  backend/apps/common/apps.py
  backend/apps/common/otel.py
  backend/tests/unit/apps/common/apps_test.py
  backend/tests/unit/apps/common/otel_test.py
Due: backend

extract o11y in separate compose
  Makefile
  docker-compose/local/compose.o11y.yaml
  docker-compose/local/compose.yaml
Due: none

Refactor
  backend/apps/common/api/internal/dataloaders/utils.py
  backend/apps/github/api/internal/dataloaders/repository.py
  backend/tests/unit/apps/common/api/internal/dataloaders/utils_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/repository_test.py
Due: backend

Update code
  backend/apps/github/api/internal/dataloaders/repository.py
Due: backend

update code
  frontend/__tests__/unit/components/ProgramForm.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/app/board/[year]/candidates/page.tsx
  frontend/src/components/ClaimForm.tsx
Due: frontend

Optimize nest AuthUserNode
  backend/apps/nest/api/internal/nodes/user.py
Due: backend

add disableAnimation to Button
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
Due: frontend

Update code
  e2e/package.json
  e2e/pnpm-lock.yaml
  e2e/pnpm-workspace.yaml
Due: none

Enable auto-scaling for ECS backend/frontend services (#5038)
  .github/workflows/ci-cd-production.yaml
  .github/workflows/ci-cd-staging.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-deploy.yaml
  infrastructure/live/README.md
  infrastructure/live/main.tf
  infrastructure/live/terraform.production.tfvars.example
  infrastructure/live/terraform.staging.tfvars.example
  infrastructure/live/variables.tf
  infrastructure/modules/service/README.md
  infrastructure/modules/service/main.tf
  infrastructure/modules/service/tests/service.tftest.hcl
  infrastructure/modules/service/variables.tf
Due: none

Rework code checks approach
  .github/actions/install-e2e-dependencies/action.yaml
  .github/actions/install-tooling-dependencies/action.yaml
  .github/workflows/run-code-checks.yaml
  .prettierignore
  Makefile
  e2e/.prettierignore
  e2e/Makefile
  e2e/components/Footer.spec.ts
  e2e/components/Header.spec.ts
  e2e/eslint.config.mjs
  e2e/helpers/expects.ts
  e2e/package.json
  e2e/pages/CalendarButton.spec.ts
  e2e/pages/ChapterDetails.spec.ts
  e2e/pages/Committees.spec.ts
  e2e/pages/Contribute.spec.ts
  e2e/pages/Projects.spec.ts
  e2e/pages/RepositoryDetails.spec.ts
  e2e/pages/Users.spec.ts
  e2e/pnpm-lock.yaml
  e2e/prettier.config.js
  eslint.config.mjs
  frontend/.prettierignore
  frontend/Makefile
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/prettier.config.js
  frontend/src/components/SkeletonsBase.tsx
  frontend/src/hooks/useLogout.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier.config.js
Due: frontend

test: add missing __init__.py for reaction_added tests
  backend/tests/unit/apps/slack/events/reaction_added/__init__.py
Due: backend

fix(slack): address CodeRabbit review feedback
  backend/apps/slack/admin/__init__.py
  backend/apps/slack/admin/bot_interaction.py
  backend/apps/slack/events/reaction_added/bot_feedback.py
  backend/apps/slack/migrations/0023_bot_interaction.py
  backend/apps/slack/models/bot_interaction.py
  backend/apps/slack/services/message_auto_reply.py
  backend/tests/unit/apps/slack/events/reaction_added/bot_feedback_test.py
  backend/tests/unit/apps/slack/services/message_auto_reply_test.py
Due: backend

Move Slack moderation logic into a seperate service+ update test +read from yaml + new make target
  backend/.env.example
  backend/apps/slack/MANIFEST.yaml
  backend/apps/slack/Makefile
  backend/apps/slack/admin/__init__.py
  backend/apps/slack/admin/moderation.py
  backend/apps/slack/config/moderation_rules.example.yaml
  backend/apps/slack/config/moderation_rules.yaml
  backend/apps/slack/events/__init__.py
  backend/apps/slack/events/reaction_added.py
  backend/apps/slack/events/url_verification.py
  backend/apps/slack/management/commands/slack_sync_moderation_rules.py
  backend/apps/slack/migrations/0023_moderationalert_moderationrule.py
  backend/apps/slack/models/__init__.py
  backend/apps/slack/models/moderation.py
  backend/apps/slack/services/moderation.py
  backend/settings/local.py
  backend/tests/unit/apps/slack/admin/moderation_test.py
  backend/tests/unit/apps/slack/commands/slack_sync_moderation_rules_test.py
  backend/tests/unit/apps/slack/events/reaction_added_test.py
  backend/tests/unit/apps/slack/events/url_verification_test.py
  backend/tests/unit/apps/slack/models/moderation_test.py
  backend/tests/unit/apps/slack/services/moderation_test.py
  docker-compose/local/compose.yaml
Due: backend

Add more changes
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-code-tests.yaml
  .github/workflows/run-graphql-checks.yaml
  CONTRIBUTING.md
  Makefile
  backend/Makefile
  cspell/Makefile
  e2e/Makefile
  eslint.config.mjs
  frontend/Makefile
  frontend/README.md
  package.json
  pnpm-lock.yaml
Due: backend, frontend

Fix npm version
  .github/workflows/run-code-checks.yaml
Due: none

Fix Slack workspace token placeholder
  backend/.env.example
Due: backend

Update code
  .github/workflows/run-code-tests.yaml
  .github/workflows/run-graphql-checks.yaml
  CONTRIBUTING.md
  frontend/README.md
Due: frontend

Add Slack moderation model help text
  backend/apps/slack/migrations/0023_moderationalert_moderationrule.py
  backend/apps/slack/models/moderation.py
Due: backend

Update code
  .github/workflows/run-e2e-tests.yaml
  frontend/next.config.ts
Due: frontend

Update code
  .github/workflows/run-code-checks.yaml
  .prettierignore
  CONTRIBUTING.md
  Makefile
  cspell/Makefile
  cspell/cspell.json
  eslint.config.mjs
  frontend/README.md
  package.json
Due: frontend

Fix prettier-plugin-tailwindcss dependency
  .github/workflows/run-code-checks.yaml
  Makefile
Due: none

Fix auto-scaling permissions
  infrastructure/bootstrap/main.tf
Due: none

Fix auto-scaling permissions (#5043)
  infrastructure/bootstrap/main.tf
Due: none

formatter and linter support for e2e (#5002)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/install-tooling-dependencies/action.yaml
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-e2e-tests.yaml
  .prettierignore
  CONTRIBUTING.md
  Makefile
  backend/Makefile
  cspell/Makefile
  cspell/cspell.json
  e2e/Makefile
  e2e/components/Footer.spec.ts
  e2e/components/Header.spec.ts
  e2e/helpers/expects.ts
  e2e/pages/CalendarButton.spec.ts
  e2e/pages/ChapterDetails.spec.ts
  e2e/pages/Committees.spec.ts
  e2e/pages/Contribute.spec.ts
  e2e/pages/Projects.spec.ts
  e2e/pages/RepositoryDetails.spec.ts
  e2e/pages/Users.spec.ts
  e2e/playwright.config.ts
  eslint.config.mjs
  frontend/.prettierignore
  frontend/Makefile
  frontend/README.md
  frontend/eslint.config.mjs
  frontend/next.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/SkeletonsBase.tsx
  frontend/src/hooks/useLogout.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: backend, frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
