Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 80%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

tests and mock data have unix timestamps , not strings
  frontend/__tests__/a11y/components/CalendarButton.a11y.test.tsx
  frontend/__tests__/a11y/components/CardDetailsPage.a11y.test.tsx
  frontend/__tests__/a11y/components/Milestones.a11y.test.tsx
  frontend/__tests__/a11y/components/ProgramCard.a11y.test.tsx
  frontend/__tests__/a11y/components/SingleModuleCard.a11y.test.tsx
  frontend/__tests__/a11y/components/SnapshotCard.a11y.test.tsx
  frontend/__tests__/a11y/pages/MyMentorship.a11y.test.tsx
  frontend/__tests__/e2e/data/mockHomeData.ts
  frontend/__tests__/mockData/mockHomeData.ts
  frontend/__tests__/mockData/mockModuleData.ts
  frontend/__tests__/mockData/mockOrganizationData.ts
  frontend/__tests__/mockData/mockProgramData.ts
  frontend/__tests__/mockData/mockProjectDetailsData.ts
  frontend/__tests__/mockData/mockRepositoryData.ts
  frontend/__tests__/mockData/mockSnapshotData.ts
  frontend/__tests__/mockData/mockUserDetails.ts
  frontend/__tests__/unit/components/CalendarButton.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/ItemCardList.test.tsx
  frontend/__tests__/unit/components/Milestones.test.tsx
  frontend/__tests__/unit/components/MultiSearch.test.tsx
  frontend/__tests__/unit/components/ProgramCard.test.tsx
  frontend/__tests__/unit/components/SingleModuleCard.test.tsx
  frontend/__tests__/unit/components/SnapshotCard.test.tsx
  frontend/__tests__/unit/pages/EditModule.test.tsx
  frontend/__tests__/unit/pages/EditProgram.test.tsx
  frontend/__tests__/unit/pages/MyMentorship.test.tsx
  frontend/__tests__/unit/pages/ProjectDetails.test.tsx
  frontend/__tests__/unit/pages/Snapshots.test.tsx
  frontend/__tests__/unit/utils/getGoogleCalendarUrl.test.ts
  frontend/__tests__/unit/utils/getIcsFileUrl.test.ts
Due: frontend

resolve conflicts
  backend/apps/api/internal/extensions/__init__.py
  backend/apps/api/internal/extensions/cache.py
  backend/settings/base.py
  backend/settings/graphql.py
  backend/tests/apps/api/internal/extensions/__init__.py
  backend/tests/apps/api/internal/extensions/cache_test.py
  backend/tests/apps/api/internal/extensions/extensions_test.py
  frontend/src/types/__generated__/moduleQueries.generated.ts
Due: backend, frontend

apply suggestions
  backend/apps/api/internal/extensions/cache.py
  backend/apps/core/utils/index.py
  backend/apps/mentorship/api/internal/queries/module.py
  backend/apps/mentorship/api/internal/queries/program.py
  backend/tests/apps/api/internal/extensions/cache_test.py
  backend/tests/apps/api/internal/extensions/extensions_test.py
Due: backend

add specific test date
  frontend/__tests__/unit/utils/dateFormatter.test.ts
Due: frontend

added unix timestamps instead of helper fn
  frontend/__tests__/unit/utils/getGoogleCalendarUrl.test.ts
Due: frontend

update code
  backend/apps/api/internal/extensions/cache.py
  backend/apps/mentorship/api/internal/queries/module.py
  backend/apps/mentorship/api/internal/queries/program.py
  backend/tests/apps/api/internal/extensions/cache_test.py
Due: backend

feat(nestbot): Add image extraction support for NestBot AI assistant
  backend/apps/slack/events/message_posted.py
  backend/apps/slack/models/message.py
  backend/apps/slack/services/image_extraction.py
  backend/apps/slack/services/message_auto_reply.py
Due: backend

use default liam voice
  backend/apps/common/eleven_labs.py
  backend/tests/apps/common/eleven_labs_test.py
Due: backend

bump speed by 0.10
  backend/apps/common/eleven_labs.py
  backend/tests/apps/common/eleven_labs_test.py
Due: backend

address issues presented by bots
  frontend/__tests__/a11y/components/RecentPullRequests.a11y.test.tsx
  frontend/__tests__/mockData/mockRepositoryData.ts
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/MenteeIssues.tsx
  frontend/src/components/ModuleCard.tsx
  frontend/src/components/RecentPullRequests.tsx
  frontend/src/components/SingleModuleCard.tsx
  frontend/src/utils/getIcsFileUrl.ts
Due: frontend

Update code
  docker/frontend/Dockerfile
Due: none

Fix: merge consecutive RUN instructions in frontend Dockerfile (#3644)
  docker/frontend/Dockerfile
Due: none

formatdate method handle strings recieved from backend
  frontend/src/utils/dateFormatter.ts
Due: frontend

Update code
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_program_test.py
  backend/tests/apps/mentorship/management/commands/mentorship_update_comments_test.py
  backend/tests/apps/mentorship/model/module_test.py
Due: backend

cleaned dateformatter.ts
  frontend/src/utils/dateFormatter.ts
Due: frontend

Update code
  backend/apps/github/api/internal/nodes/issue.py
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/apps/mentorship/api/internal/queries/mentorship.py
Due: backend

added community endpoint to HIDDEN_SEGMENT
  frontend/src/hooks/useBreadcrumbs.ts
Due: frontend

Fix 'is_merged' not being available on the Issue (#3843)
  backend/apps/github/api/internal/nodes/issue.py
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/apps/mentorship/api/internal/queries/mentorship.py
  frontend/__tests__/unit/components/IssuesTable.test.tsx
  frontend/__tests__/unit/pages/IssuesPage.test.tsx
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/components/IssuesTable.tsx
Due: backend, frontend

addressed bot issue
  frontend/src/utils/dateFormatter.ts
Due: frontend

Update code
  frontend/src/hooks/useBreadcrumbs.ts
Due: frontend

use case_sensitive flag in QueryParser
  backend/apps/api/rest/v0/structured_search.py
  backend/tests/apps/common/search/query_parser_test.py
Due: backend

feat: add case_sensitive option to QueryParser and update tests
  backend/apps/common/search/query_parser.py
  backend/tests/apps/common/search/query_parser_test.py
Due: backend

chore(ansible):align linting and module usage
  .ansible-lint
  .github/ansible/production/nest.yaml
  .github/ansible/production/proxy.yaml
  .github/ansible/staging/nest.yaml
  .github/ansible/staging/proxy.yaml
Due: none

ci(ansible): install collections before deploy playbooks
  .github/ansible/staging/nest.yaml
  .github/workflows/run-ci-cd.yaml
Due: none

Update code
  .ansible-lint
  .github/ansible/production/nest.yaml
  .github/ansible/production/proxy.yaml
  .github/ansible/requirements.yaml
  .github/ansible/staging/nest.yaml
  .github/ansible/staging/proxy.yaml
  .github/workflows/run-ci-cd.yaml
  .pre-commit-config.yaml
  Makefile
Due: none

Update code
  .github/workflows/run-ci-cd.yaml
  Makefile
Due: none

Update .github/workflows/run-ci-cd.yaml
  .github/workflows/run-ci-cd.yaml
Due: none

CI: Add ansible-lint workflow for Ansible playbooks (#3796)
  .github/ansible/production/nest.yaml
  .github/ansible/production/proxy.yaml
  .github/ansible/requirements.yaml
  .github/ansible/staging/nest.yaml
  .github/ansible/staging/proxy.yaml
  .github/workflows/run-ci-cd.yaml
  .pre-commit-config.yaml
Due: none

feat(nestbot): Add image extraction support for NestBot AI assistant
  backend/apps/slack/services/image_extraction.py
Due: backend

Fix ElevenLabs API error (#3861)
  backend/apps/common/eleven_labs.py
  backend/tests/apps/common/eleven_labs_test.py
Due: backend

Update code
  backend/apps/api/rest/v0/structured_search.py
  backend/apps/common/search/query_parser.py
  backend/tests/apps/common/search/query_parser_test.py
Due: backend

Add mentor profile for Ime Iyonsi
  MENTORS.md
Due: none

Fix GitHub link for Ime Iyonsi
  MENTORS.md
Due: none

Update code
  frontend/__tests__/unit/components/ItemCardList.test.tsx
  frontend/src/app/about/page.tsx
  frontend/src/app/committees/page.tsx
  frontend/src/app/contribute/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/page.tsx
  frontend/src/app/organizations/[organizationKey]/page.tsx
  frontend/src/app/projects/dashboard/metrics/page.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/instrumentation-client.ts
  frontend/src/sentry.server.config.ts
  frontend/tsconfig.json
Due: frontend

Update code
  .github/workflows/check-pr-issue-skip-usernames.txt
  cspell/custom-dict.txt
Due: none

Add Ime Iyonsi to MENTORS.md (#3866)
  .github/workflows/check-pr-issue-skip-usernames.txt
  MENTORS.md
  cspell/custom-dict.txt
Due: none

Update MENTORS.md
  MENTORS.md
Due: none
