Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 80%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

fix:CodeRabbit feedback
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/types/__generated__/programsQueries.generated.ts
Due: frontend

Update code
  frontend/src/app/my/mentorship/page.tsx
Due: frontend

add tests for parameters module (#3499)
  infrastructure/modules/parameters/.terraform.lock.hcl
  infrastructure/modules/parameters/outputs.tf
  infrastructure/modules/parameters/tests/parameters.tftest.hcl
Due: none

Update code
  frontend/src/types/auth.ts
Due: frontend

refactor: standardize error parameter naming in catch block (#3493)
  frontend/src/app/my/mentorship/programs/[programKey]/modules/create/page.tsx
Due: frontend

refactor: simplify session casting and improve type safety in MyMento… (#3505)
  frontend/src/app/my/mentorship/page.tsx
  frontend/src/types/auth.ts
Due: frontend

fix: show module as a section when there is only 1 module (#3402)
  frontend/__tests__/unit/components/SingleModuleCard.test.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/SingleModuleCard.tsx
Due: frontend

Update code
  backend/apps/api/internal/extensions/__init__.py
  backend/apps/api/internal/extensions/cache.py
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/apps/mentorship/api/internal/mutations/program.py
  backend/settings/graphql.py
  backend/tests/apps/api/internal/extensions/__init__.py
  backend/tests/apps/api/internal/extensions/cache_test.py
  frontend/src/app/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/mentorship/programs/[programKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/create/page.tsx
Due: backend, frontend

Fix tests and run make check
  frontend/__tests__/unit/components/MetricsScoreCircle.test.tsx
  frontend/src/components/MetricsScoreCircle.tsx
Due: frontend

fix(a11y): use native button in MetricsScoreCircle (#3437)
  frontend/__tests__/unit/components/MetricsScoreCircle.test.tsx
  frontend/src/components/MetricsScoreCircle.tsx
Due: frontend

Clean up code
  backend/apps/api/internal/extensions/__init__.py
  backend/apps/api/internal/extensions/cache.py
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/apps/mentorship/api/internal/mutations/program.py
Due: backend

feat: display related milestones on public program page (#3441)
  backend/apps/mentorship/api/internal/nodes/program.py
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/src/app/mentorship/programs/[programKey]/page.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/server/queries/programsQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/programsQueries.generated.ts
  frontend/src/types/mentorship.ts
Due: backend, frontend

Maked Project Health Dashboard responsive (#3495)
  frontend/src/app/projects/dashboard/layout.tsx
  frontend/src/app/projects/dashboard/metrics/[projectKey]/page.tsx
  frontend/src/components/GeneralCompliantComponent.tsx
  frontend/src/components/MetricsScoreCircle.tsx
  frontend/src/components/ProjectsDashboardNavBar.tsx
Due: frontend

Fix index in array keys issue
  frontend/src/components/MultiSearch.tsx
Due: frontend

Address CR's comment
  backend/apps/api/internal/extensions/cache.py
  backend/tests/apps/api/internal/extensions/cache_test.py
Due: backend

Fix N+1 issue
  backend/apps/mentorship/api/internal/queries/program.py
Due: backend

Update code
  backend/apps/mentorship/api/internal/mutations/module.py
Due: backend

fix: add GraphQL cache invalidation for programs and modules (#3387)
  backend/apps/api/internal/extensions/__init__.py
  backend/apps/api/internal/extensions/cache.py
  backend/apps/common/extensions.py
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/apps/mentorship/api/internal/mutations/program.py
  backend/settings/graphql.py
  backend/tests/apps/api/internal/extensions/__init__.py
  backend/tests/apps/api/internal/extensions/cache_test.py
  frontend/__tests__/unit/pages/CreateProgram.test.tsx
  frontend/src/app/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/mentorship/programs/[programKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/create/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/page.tsx
  frontend/src/app/my/mentorship/programs/create/page.tsx
Due: backend, frontend

fix: align project level filter values with graphql enum casing #3436
  frontend/src/app/projects/dashboard/metrics/page.tsx
Due: frontend

maked ui consistent in both mobile and dekstop
  frontend/__tests__/unit/components/MetricsCard.test.tsx
  frontend/__tests__/unit/pages/ProjectsHealthDashboardMetrics.test.tsx
  frontend/src/app/projects/dashboard/metrics/page.tsx
  frontend/src/components/MetricsCard.tsx
Due: frontend

remove unwanted file
  package-lock.json
Due: none

fix(ui): update Label styling to match ActionButton design
  frontend/src/components/LabelList.tsx
Due: frontend

modify contibution.md
  CONTRIBUTING.md
Due: none

update code after merge confict
  backend/apps/api/internal/extensions/cache.py
  backend/apps/mentorship/signals/program.py
  backend/tests/apps/api/internal/extensions/cache_test.py
Due: backend

feat: add recent pull requests to public module page
  backend/apps/mentorship/api/internal/nodes/module.py
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/src/app/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/PullRequestList.tsx
  frontend/src/server/queries/moduleQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/moduleQueries.generated.ts
Due: backend, frontend

added unique backend volume name
  docker-compose/local/compose.yaml
Due: none

modify contibution.md
  CONTRIBUTING.md
  cspell/custom-dict.txt
Due: none

docs: document security workflows and automate local scans
  CONTRIBUTING.md
  Makefile
Due: none

fixed merge conflict
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
Due: frontend

docs: document security workflows and automate local scans
  CONTRIBUTING.md
Due: none

fixed sonarqube issue
  frontend/jest.setup.ts
  frontend/src/components/SingleModuleCard.tsx
Due: frontend

Run make update
  backend/poetry.lock
  cspell/package.json
  cspell/pnpm-lock.yaml
  docs/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

docs: add security scanning guides and Makefile targets
  CONTRIBUTING.md
Due: none

Update docstrings
  backend/apps/mentorship/api/internal/mutations/module.py
Due: backend
