Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

backend returns strings only now
  backend/apps/github/api/internal/nodes/user.py
  backend/apps/github/models/mixins/user.py
  backend/apps/owasp/api/internal/nodes/chapter.py
  backend/apps/owasp/api/internal/nodes/committee.py
  backend/apps/owasp/api/internal/nodes/common.py
  backend/apps/owasp/models/mixins/chapter.py
  backend/apps/owasp/models/mixins/committee.py
  backend/apps/owasp/models/mixins/project.py
Due: backend

backend tests changes
  backend/tests/apps/github/api/internal/nodes/user_test.py
  backend/tests/apps/github/models/mixins/user_test.py
  backend/tests/apps/owasp/models/mixins/chapter_test.py
  backend/tests/apps/owasp/models/mixins/committee_test.py
  backend/tests/apps/owasp/models/mixins/project_test.py
Due: backend

fix effected components
  frontend/src/app/board/[year]/candidates/page.tsx
  frontend/src/app/organizations/[organizationKey]/page.tsx
  frontend/src/components/Card.tsx
  frontend/src/components/ItemCardList.tsx
  frontend/src/utils/getGoogleCalendarUrl.ts
  frontend/src/utils/getIcsFileUrl.ts
Due: frontend

feat(api)/add type filter to list_projects endpoint
  backend/apps/api/rest/v0/project.py
  backend/tests/apps/api/rest/v0/project_test.py
Due: backend

changed tests
  frontend/__tests__/mockData/mockHomeData.ts
  frontend/__tests__/mockData/mockProgramData.ts
  frontend/__tests__/mockData/mockProjectDetailsData.ts
  frontend/__tests__/unit/components/CalendarButton.test.tsx
  frontend/__tests__/unit/components/ProgramCard.test.tsx
  frontend/__tests__/unit/components/RecentIssues.test.tsx
  frontend/__tests__/unit/pages/EditModule.test.tsx
  frontend/__tests__/unit/utils/getGoogleCalendarUrl.test.ts
  frontend/__tests__/unit/utils/getIcsFileUrl.test.ts
  frontend/src/utils/getGoogleCalendarUrl.ts
Due: frontend

feat(community): replace dropdown with direct link and add Snapshots section
  frontend/__tests__/unit/pages/Community.test.tsx
  frontend/__tests__/unit/pages/ProjectsHealthDashboardMetrics.test.tsx
  frontend/src/app/community/page.tsx
  frontend/src/components/ContributionStats.tsx
  frontend/src/components/MetricsCard.tsx
  frontend/src/utils/constants.ts
  frontend/src/utils/dateFormatter.ts
Due: frontend

feat: add filter by project type
  backend/apps/api/rest/v0/project.py
  backend/tests/apps/api/rest/v0/project_test.py
Due: backend

fix 1 test
  frontend/__tests__/a11y/components/CalendarButton.a11y.test.tsx
Due: frontend

fix: improve OpenAI error handling with specific exception types
  backend/apps/common/open_ai.py
  backend/tests/apps/common/open_ai_test.py
Due: backend

fix: correct OpenAI error handling, logging, and test construction
  backend/apps/common/open_ai.py
  backend/tests/apps/common/open_ai_test.py
Due: backend

chore: review compliance and finalize OpenAI error handling and tests
  backend/apps/common/open_ai.py
  backend/tests/apps/common/open_ai_test.py
Due: backend

fix:zap baseline security headers
  frontend/next.config.ts
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/tests/alb.tftest.hcl
Due: frontend

e2e tests change
  frontend/__tests__/a11y/components/ItemCardList.a11y.test.tsx
  frontend/__tests__/a11y/components/Milestones.a11y.test.tsx
  frontend/__tests__/a11y/components/RecentIssues.a11y.test.tsx
  frontend/__tests__/a11y/components/RecentPullRequests.a11y.test.tsx
  frontend/__tests__/a11y/components/RecentRelease.a11y.test.tsx
  frontend/__tests__/a11y/components/Release.a11y.test.tsx
  frontend/__tests__/a11y/components/SnapshotCard.a11y.test.tsx
  frontend/__tests__/e2e/data/mockHomeData.ts
  frontend/__tests__/mockData/mockChapterData.ts
  frontend/__tests__/mockData/mockChapterDetailsData.ts
  frontend/__tests__/mockData/mockCommitteeData.ts
  frontend/__tests__/mockData/mockCommitteeDetailsData.ts
  frontend/__tests__/mockData/mockContributeData.ts
  frontend/__tests__/mockData/mockOrganizationData.ts
  frontend/__tests__/mockData/mockRepositoryData.ts
  frontend/__tests__/mockData/mockSnapshotData.ts
  frontend/__tests__/mockData/mockUserDetails.ts
  frontend/__tests__/unit/components/CalendarButton.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/ItemCardList.test.tsx
  frontend/__tests__/unit/components/Milestones.test.tsx
  frontend/__tests__/unit/components/MultiSearch.test.tsx
  frontend/__tests__/unit/components/RecentIssues.test.tsx
  frontend/__tests__/unit/components/RecentPullRequests.test.tsx
  frontend/__tests__/unit/components/RecentRelease.test.tsx
  frontend/__tests__/unit/components/Release.test.tsx
  frontend/__tests__/unit/components/SnapshotCard.test.tsx
  frontend/__tests__/unit/pages/Organization.test.tsx
  frontend/__tests__/unit/pages/Snapshots.test.tsx
  frontend/src/utils/utility.ts
Due: frontend

address bot issuse
  frontend/__tests__/unit/utils/getGoogleCalendarUrl.test.ts
  frontend/src/app/board/[year]/candidates/page.tsx
  frontend/src/utils/getGoogleCalendarUrl.ts
Due: frontend

Added login and name in ordering literal and wrote unit tests for new feature tests
  backend/apps/api/rest/v0/member.py
  backend/tests/apps/api/rest/v0/member_test.py
Due: backend

Mitigate GHSA-5c6j-r48x-rmvq (#4133)
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

Moved imports for tests to module scope
  backend/tests/apps/api/rest/v0/member_test.py
Due: backend

test(#4041): Add regression tests for upcoming_events() date filtering
  backend/tests/apps/owasp/models/test_event.py
Due: backend

coderabbit fix
  backend/tests/apps/api/rest/v0/project_test.py
Due: backend

fix again
  backend/tests/apps/api/rest/v0/project_test.py
Due: backend

minor refactor
  backend/tests/apps/api/rest/v0/project_test.py
Due: backend

update backend code for sorting and country filter
  backend/apps/common/management/commands/algolia_update_replicas.py
  backend/apps/core/utils/index.py
  backend/apps/owasp/api/internal/queries/chapter.py
  backend/apps/owasp/index/registry/chapter.py
Due: backend

update frontend code
  frontend/src/app/chapters/page.tsx
  frontend/src/components/CountryFilter.tsx
  frontend/src/components/SearchPageLayout.tsx
  frontend/src/hooks/useSearchPage.ts
  frontend/src/server/queries/chapterQueries.ts
  frontend/src/types/__generated__/chapterQueries.generated.ts
  frontend/src/types/chapter.ts
  frontend/src/utils/sortingOptions.ts
Due: frontend

Mitigate CVE-2026-27903, CVE-2026-27904
  docker/frontend/Dockerfile
Due: none

add skeleton to chapters page
  frontend/src/components/CountryFilter.tsx
  frontend/src/components/SearchPageLayout.tsx
  frontend/src/hooks/useSearchPage.ts
  frontend/src/types/__generated__/chapterQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
Due: frontend

Mitigate CVE-2026-27903, CVE-2026-27904 (#4142)
  docker/frontend/Dockerfile
Due: none

update tests
  backend/tests/apps/common/management/commands/algolia_update_replicas_test.py
  backend/tests/apps/core/utils/index_test.py
  backend/tests/apps/core/utils/match_test.py
  backend/tests/apps/owasp/api/internal/queries/chapter_test.py
  backend/tests/apps/owasp/index/registry/chapter_test.py
  frontend/__tests__/a11y/pages/Chapters.a11y.test.tsx
  frontend/__tests__/mockData/mockChapterData.ts
  frontend/__tests__/unit/components/CountryFilter.test.tsx
  frontend/__tests__/unit/components/SearchPageLayout.test.tsx
  frontend/__tests__/unit/pages/Chapters.test.tsx
Due: backend, frontend

clean merege conflicts
  frontend/src/app/board/[year]/candidates/page.tsx
  frontend/src/types/__generated__/userQueries.generated.ts
  frontend/src/utils/dateFormatter.ts
Due: frontend

clean file
  frontend/src/app/board/[year]/candidates/page.tsx
Due: frontend

add backend query + tests
  backend/apps/api/rest/v0/event.py
  backend/tests/apps/api/rest/v0/event_test.py
Due: backend

Remove card visual feedback state management
  frontend/__tests__/unit/hooks/useCardState.test.tsx
  frontend/src/components/Card.tsx
  frontend/src/components/RepositoryCard.tsx
  frontend/src/components/UserCard.tsx
  frontend/src/hooks/useCardState.ts
Due: frontend

make check-test
  backend/tests/apps/common/management/commands/algolia_update_replicas_test.py
  frontend/__tests__/unit/components/CountryFilter.test.tsx
  frontend/__tests__/unit/components/SearchPageLayout.test.tsx
  frontend/__tests__/unit/pages/Contribute.test.tsx
  frontend/src/components/SearchPageLayout.tsx
  frontend/src/hooks/useSearchPage.ts
Due: backend, frontend

add search in country filter
  frontend/__tests__/unit/components/CountryFilter.test.tsx
  frontend/src/components/CountryFilter.tsx
  frontend/src/hooks/useSearchPage.ts
Due: frontend

refactor(ai): replace magic number with module-level constant for embedding dimensions
  backend/apps/ai/embeddings/google.py
  backend/pyproject.toml
Due: backend

feat(api): add category filtering support to list_events endpoint with tests
  backend/apps/api/rest/v0/event.py
  backend/tests/apps/api/rest/v0/event_test.py
Due: backend

refactor(ai): replace magic number with module-level constant for embedding dimensions
  backend/poetry.lock
  backend/tests/apps/ai/common/llm_config_test.py
Due: backend

fix(api): handle explicit empty category string and add regression test
  backend/apps/api/rest/v0/event.py
  backend/tests/apps/api/rest/v0/event_test.py
Due: backend

Run make update
  .pre-commit-config.yaml
  backend/poetry.lock
  cspell/package.json
  cspell/pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update code
  frontend/next.config.ts
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/tests/alb.tftest.hcl
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
