Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 80%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

Add TZ link
  MENTORS.md
Due: none

feat(mentorship): add validation for tags and domains
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/apps/mentorship/api/internal/nodes/program.py
  backend/apps/mentorship/api/internal/utils.py
  backend/tests/apps/mentorship/api/internal/nodes/validation_test.py
Due: backend

Update MENTORS.md : Added the Mentor Bio for Kerlyn Manyi (#3625)
  MENTORS.md
Due: none

Update MENTORS.md
  MENTORS.md
Due: none

Update MENTORS.md: add detailed description and timezone for Raja Nagori (#3620)
  MENTORS.md
Due: none

coderabbit suggestions
  infrastructure/Makefile
  infrastructure/modules/networking/modules/nacl/tests/nacl.tftest.hcl
  infrastructure/modules/networking/modules/vpc-endpoint/variables.tf
Due: none

update code
  infrastructure/modules/networking/tests/networking.tftest.hcl
Due: none

fix: remove redundant type assertion (S4325)
  frontend/src/app/my/mentorship/programs/[programKey]/edit/page.tsx
Due: frontend

fix move imports to module top
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/apps/mentorship/api/internal/nodes/program.py
  backend/apps/mentorship/api/internal/utils.py
  backend/tests/apps/mentorship/api/internal/nodes/validation_test.py
Due: backend

added link to issues in modules/[moduleKey] page
  frontend/src/components/CardDetailsPage.tsx
Due: frontend

add .../mentees to HIDESEGMENT in hooks/useBreadcrumbs.ts
  frontend/src/hooks/useBreadcrumbs.ts
Due: frontend

fix: prefer optional chaining over logical AND guard (S6582)
  frontend/src/app/contribute/page.tsx
Due: frontend

Fix: avoid passing function reference directly to map in ContributePage
  frontend/src/app/contribute/page.tsx
Due: frontend

feat: increase backend test coverage to 87%
  backend/apps/owasp/admin/mixins.py
  backend/tests/apps/ai/agent/nodes_test.py
  backend/tests/apps/common/middlewares/__init__.py
  backend/tests/apps/common/middlewares/block_null_characters_test.py
  backend/tests/apps/github/management/commands/github_update_pull_requests_test.py
  backend/tests/apps/github/models/comment_test.py
  backend/tests/apps/owasp/admin/mixins_test.py
  backend/tests/apps/owasp/api/internal/views/__init__.py
  backend/tests/apps/owasp/api/internal/views/permissions_test.py
  backend/tests/apps/owasp/api/internal/views/project_health_metrics_test.py
  backend/tests/apps/owasp/api/internal/views/urls_test.py
  backend/tests/apps/owasp/management/commands/owasp_sync_board_candidates_test.py
  backend/tests/apps/slack/events/app_mention_test.py
  backend/tests/apps/slack/management/commands/owasp_match_channels_test.py
Due: backend

add .../programs to HIDESEGMENT (as asked)
  frontend/src/hooks/useBreadcrumbs.ts
Due: frontend

fix: Sonar issue
  backend/tests/apps/owasp/management/commands/owasp_sync_board_candidates_test.py
Due: backend

visual changes to issues button
  frontend/src/components/CardDetailsPage.tsx
Due: frontend

update code
  backend/apps/owasp/api/internal/nodes/project.py
Due: backend

another visual issue i missed
  frontend/src/components/CardDetailsPage.tsx
Due: frontend

ci: update paths-ignore to include nest.dump (#3633)
  .github/workflows/run-ci-cd.yaml
Due: none

fix: replace role='status' with semantic <output> element in CardSkeleton (S6819)
  frontend/src/components/skeletons/Card.tsx
Due: frontend

fix: prefer optional chaining over logical AND guard (S6582) (#3629)
  frontend/src/app/contribute/page.tsx
Due: frontend

Update docker apk add commnad with --no-cache flag
  docker/backend/Dockerfile
  docker/backend/Dockerfile.fuzz
  docker/backend/Dockerfile.local
  docker/backend/Dockerfile.video
  docker/frontend/Dockerfile
  docker/frontend/Dockerfile.local
Due: none

Update docker base image versions
  cspell/Dockerfile
  docker/backend/Dockerfile
  docker/backend/Dockerfile.fuzz
  docker/backend/Dockerfile.local
  docker/backend/Dockerfile.test
  docker/cspell/Dockerfile
  docker/docs/Dockerfile.local
  docker/frontend/Dockerfile
  docker/frontend/Dockerfile.a11y.test
  docker/frontend/Dockerfile.local
  docker/frontend/Dockerfile.unit.test
Due: none

Added bio to Mentors page
  MENTORS.md
Due: none

implement initial pipeline for snapshot notifications
  backend/Makefile
  backend/apps/owasp/admin/notification.py
  backend/apps/owasp/apps.py
  backend/apps/owasp/management/commands/owasp_run_notification_worker.py
  backend/apps/owasp/migrations/0073_notification_subscription.py
  backend/apps/owasp/models/__init__.py
  backend/apps/owasp/models/notification.py
  backend/apps/owasp/signals/__init__.py
  backend/apps/owasp/signals/snapshot.py
  backend/apps/owasp/utils/notifications.py
  backend/settings/base.py
Due: backend

Fix spelling error in MENTORS.md
  MENTORS.md
Due: none

Added user name to issue skip file
  .github/workflows/check-pr-issue-skip-usernames.txt
Due: none

fix: safely access session user login
  frontend/src/app/my/mentorship/programs/[programKey]/edit/page.tsx
Due: frontend

Fix recent projects limit validation and published releases filters
  backend/apps/owasp/api/internal/queries/project.py
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
Due: backend

Add Noland as a mentor (#3639)
  .github/workflows/check-pr-issue-skip-usernames.txt
  MENTORS.md
Due: none

fix: whitelist GSoC'26 mentors for PR checks (#3640)
  .github/workflows/check-pr-issue-skip-usernames.txt
Due: none

Fix: use optional chaining for issues map in ContributePage
  frontend/src/app/contribute/page.tsx
Due: frontend

Fixed Sonar issue Use <output> instead of the "status" role and Use New array instead of array
  frontend/src/components/skeletons/Card.tsx
  frontend/src/components/skeletons/UserCard.tsx
Due: frontend

Fix: merge consecutive RUN instructions in frontend Dockerfile
  docker/frontend/Dockerfile
Due: none

coderabbit
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
Due: backend

resolved conflicts
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
  backend/apps/owasp/migrations/0073_project_active_issues_count_project_issues_and_more.py
  backend/apps/owasp/models/mixins/project.py
  backend/apps/owasp/models/project.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
  docker-compose/local/compose.yaml
Due: backend

update
  backend/apps/owasp/api/internal/nodes/project.py
Due: backend
