Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 80%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

Update code
  backend/apps/api/rest/v0/issue.py
  backend/apps/api/rest/v0/milestone.py
  backend/apps/api/rest/v0/release.py
Due: backend

Run pre-commit
  backend/tests/apps/slack/management/commands/slack_sync_messages_test.py
Due: backend

feat: improve test coverage to 90% (#3697)
  backend/apps/api/rest/v0/issue.py
  backend/apps/api/rest/v0/milestone.py
  backend/apps/api/rest/v0/pagination.py
  backend/apps/api/rest/v0/release.py
  backend/tests/apps/ai/agent/agent_test.py
  backend/tests/apps/ai/agent/nodes_test.py
  backend/tests/apps/api/rest/v0/issue_test.py
  backend/tests/apps/api/rest/v0/milestone_test.py
  backend/tests/apps/api/rest/v0/pagination_test.py
  backend/tests/apps/api/rest/v0/release_test.py
  backend/tests/apps/common/index_test.py
  backend/tests/apps/core/models/__init__.py
  backend/tests/apps/core/models/prompt_test.py
  backend/tests/apps/github/common_test.py
  backend/tests/apps/owasp/admin/entity_channel_test.py
  backend/tests/apps/owasp/admin/entity_member_test.py
  backend/tests/apps/owasp/api/internal/queries/project_health_metrics_test.py
  backend/tests/apps/owasp/api/internal/queries/project_test.py
  backend/tests/apps/owasp/api/internal/queries/snapshot_test.py
  backend/tests/apps/owasp/api/internal/queries/stats_test.py
  backend/tests/apps/owasp/management/commands/process_snapshots_test.py
  backend/tests/apps/owasp/models/committee_test.py
  backend/tests/apps/owasp/models/entity_member_test.py
  backend/tests/apps/owasp/models/event_test.py
  backend/tests/apps/owasp/models/mixins/project_test.py
  backend/tests/apps/owasp/models/project_test.py
  backend/tests/apps/slack/management/commands/slack_sync_messages_test.py
  cspell/custom-dict.txt
Due: backend

fix(worker): prevent duplicate emails and recover stuck messages
  backend/apps/owasp/admin/notification.py
  backend/apps/owasp/management/commands/owasp_run_notification_worker.py
Due: backend

adress code rabit
  backend/apps/owasp/management/commands/owasp_run_notification_worker.py
  backend/apps/owasp/migrations/0074_remove_subscription_owasp_subsc_user_id_33ae6d_idx_and_more.py
  cspell/custom-dict.txt
Due: backend

feat:improve notification worker robustness
  backend/apps/owasp/management/commands/owasp_run_notification_worker.py
  backend/apps/owasp/migrations/0075_alter_subscription_object_id.py
  backend/apps/owasp/models/notification.py
Due: backend

Update code
  .github/workflows/run-ci-cd.yaml
  .gitignore
  Makefile
  backend/Makefile
  cspell/Makefile
  cspell/custom-dict.txt
  frontend/Makefile
  frontend/next.config.ts
  trivy.yaml
  trivyignore.yaml
Due: backend, frontend

refactor(ci): standardize security scans via Makefile targets (#3678)
  .github/dependabot.yml
  .github/workflows/run-ci-cd.yaml
  .gitignore
  Makefile
  backend/Makefile
  backend/apps/owasp/Makefile
  cspell/Makefile
  cspell/custom-dict.txt
  docker/frontend/Dockerfile
  docker/trivy/Dockerfile
  frontend/Makefile
  frontend/next.config.ts
  trivy.yaml
  trivyignore.yaml
Due: backend, frontend

Update code
  frontend/src/server/queries/repositoryQueries.ts
  frontend/src/types/__generated__/repositoryQueries.generated.ts
  frontend/src/types/issue.ts
Due: frontend

Revert updates
  frontend/src/server/queries/repositoryQueries.ts
  frontend/src/types/__generated__/repositoryQueries.generated.ts
  frontend/src/types/issue.ts
Due: frontend

Update trivyignore.yaml
  trivyignore.yaml
Due: none

Fixed 404 flash when opening repository pages (#3744)
  frontend/src/app/organizations/[organizationKey]/repositories/[repositoryKey]/layout.tsx
  frontend/src/app/organizations/[organizationKey]/repositories/[repositoryKey]/page.tsx
  frontend/src/server/queries/repositoryQueries.ts
  frontend/src/types/__generated__/repositoryQueries.generated.ts
Due: frontend

Refactor Dockerfile to improve caching and security
  docker/frontend/Dockerfile
Due: none

Update base.py
  backend/settings/base.py
Due: backend

Update graphql.py
  backend/settings/graphql.py
Due: backend

Update production.py
  backend/settings/production.py
Due: backend

fix: reject malformed URLs with invalid netloc values
  backend/apps/common/utils.py
  backend/tests/apps/common/utils_test.py
Due: backend

ci: added validate compose target
  .github/workflows/run-ci-cd.yaml
  Makefile
Due: none

added the rel tag
  frontend/src/components/Footer.tsx
Due: frontend

fix: optimize_interested_users_field
  backend/apps/github/api/internal/nodes/issue.py
Due: backend

remove duplicate members
  backend/apps/owasp/models/chapter.py
  backend/apps/owasp/models/committee.py
  backend/apps/owasp/models/project.py
Due: backend

remove unused imports
  backend/apps/owasp/models/chapter.py
  backend/apps/owasp/models/committee.py
  backend/apps/owasp/models/project.py
Due: backend

Docs: expand Windows WSL and Docker setup guidance
  README.md
Due: none

resolve conflicts
  backend/tests/apps/owasp/models/project_test.py
Due: backend

fixed review
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/committees/page.tsx
  frontend/src/app/organizations/[organizationKey]/repositories/[repositoryKey]/layout.tsx
  frontend/src/app/organizations/[organizationKey]/repositories/[repositoryKey]/page.tsx
  frontend/src/types/milestone.ts
Due: frontend

docs: fix markdown heading and add WSL/Docker links
  README.md
Due: none

docs: fix blockquote formatting for markdownlint
  README.md
Due: none

docs: improve WSL setup, cloning guidance, and markdown formatting
  README.md
Due: none

removed unrequired bool casting
  backend/apps/github/api/internal/nodes/issue.py
Due: backend

Run make update
  backend/poetry.lock
  cspell/pnpm-lock.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Fix blockquote formatting for Windows setup notice
  README.md
Due: none

perf: optimize isMerged resolver using Prefetch (#3764)
  backend/apps/github/api/internal/nodes/issue.py
Due: backend

fix
  frontend/src/app/organizations/[organizationKey]/repositories/[repositoryKey]/page.tsx
Due: frontend

Update code
  frontend/src/components/Footer.tsx
Due: frontend

update test
  frontend/__tests__/mockData/mockOrganizationData.ts
Due: frontend

fix: add rel="noopener noreferrer" to footer external links (#3751) (#3787)
  frontend/src/components/Footer.tsx
Due: frontend

Remove redundant members from Chapter, Committee, and Project models (#3793)
  backend/apps/owasp/models/chapter.py
  backend/apps/owasp/models/committee.py
  backend/apps/owasp/models/project.py
Due: backend

Update backend/Makefile
  backend/Makefile
Due: backend
