Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Update pnpm version handling
  cspell/Dockerfile
  docker/cspell/Dockerfile
  docker/frontend/Dockerfile
  docker/frontend/Dockerfile.a11y.test
  docker/frontend/Dockerfile.e2e.test
  docker/frontend/Dockerfile.local
  docker/frontend/Dockerfile.unit.test
  frontend/package.json
Due: frontend

feat: add makefile linter
  .github/workflows/run-ci-cd.yaml
  .pre-commit-config.yaml
  checkmake.ini
  cspell/Makefile
  cspell/custom-dict.txt
Due: none

update code
  .pre-commit-config.yaml
Due: none

refactor: rename State enum to IssueState (#3997)
  backend/apps/api/rest/v0/issue.py
  backend/apps/api/rest/v0/milestone.py
  backend/apps/github/api/internal/queries/milestone.py
  backend/apps/github/models/generic_issue_model.py
  backend/apps/github/models/mixins/issue.py
  backend/apps/mentorship/management/commands/mentorship_update_comments.py
  backend/tests/apps/github/models/issue_test.py
Due: backend

fix: issues
  backend/tests/apps/api/rest/v0/structured_search_test.py
  backend/tests/apps/github/management/commands/github_update_owasp_organization_test.py
  backend/tests/apps/github/management/commands/github_update_related_organizations_test.py
  backend/tests/apps/slack/commands/users_test.py
  backend/tests/apps/slack/utils_test.py
Due: backend

improve s3 bucket and dynamodb table names
  infrastructure/backend/README.md
  infrastructure/backend/main.tf
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/terraform.tfbackend.example
  infrastructure/staging/README.md
  infrastructure/staging/main.tf
  infrastructure/staging/terraform.tfbackend.example
Due: none

update code
  infrastructure/bootstrap/main.tf
Due: none

update code
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/variables.tf
  infrastructure/staging/README.md
Due: none

run ci/cd
  .github/workflows/run-ci-cd.yaml
Due: none

Revert "run ci/cd"
  .github/workflows/run-ci-cd.yaml
Due: none

feat(mentorship): add validation for tags and domains
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/apps/mentorship/api/internal/nodes/program.py
  backend/apps/mentorship/api/internal/utils.py
  backend/tests/apps/mentorship/api/internal/nodes/validation_test.py
Due: backend

fix move imports to module top
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/apps/mentorship/api/internal/nodes/program.py
  backend/apps/mentorship/api/internal/utils.py
  backend/tests/apps/mentorship/api/internal/nodes/validation_test.py
Due: backend

fix:cubic-dev-ai comment
  backend/apps/mentorship/api/internal/utils.py
  backend/tests/apps/mentorship/api/internal/nodes/validation_test.py
Due: backend

fix admin toggle button
  backend/static/js/admin_theme_toggle.js
  backend/templates/admin/base_site.html
Due: backend

fix: conflict
  backend/tests/apps/mentorship/api/internal/nodes/validation_test.py
Due: backend

Bump coverage threshold from 90% to 95%
  backend/pyproject.toml
  frontend/jest.config.ts
Due: backend, frontend

Automate IAM User Role Policies (#3996)
  .github/workflows/run-ci-cd.yaml
  .gitignore
  backend/zappa_settings.template.json
  cspell/custom-dict.txt
  infrastructure/README.md
  infrastructure/backend/README.md
  infrastructure/backend/main.tf
  infrastructure/backend/outputs.tf
  infrastructure/backend/variables.tf
  infrastructure/bootstrap/.terraform.lock.hcl
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/backend.tf
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/outputs.tf
  infrastructure/bootstrap/providers.tf
  infrastructure/bootstrap/terraform.tfbackend.example
  infrastructure/bootstrap/terraform.tfvars.example
  infrastructure/bootstrap/variables.tf
  infrastructure/staging/README.md
  infrastructure/staging/main.tf
Due: backend

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

using bmake instead
  .github/workflows/run-ci-cd.yaml
  .pre-commit-config.yaml
  Makefile
  backend/Makefile
  backend/apps/ai/Makefile
  backend/apps/github/Makefile
  backend/apps/mentorship/Makefile
  backend/apps/nest/Makefile
  backend/apps/owasp/Makefile
  backend/apps/slack/Makefile
  checkmake.ini
  cspell/Makefile
  docs/Makefile
  frontend/Makefile
Due: backend, frontend

remove custom-dict vars
  cspell/custom-dict.txt
Due: none

fixed merge conflict
  .pre-commit-config.yaml
  backend/apps/github/api/internal/nodes/issue.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  frontend/pnpm-lock.yaml
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
Due: backend, frontend

revert changes
  .pre-commit-config.yaml
  frontend/pnpm-lock.yaml
Due: frontend

Run make update
  backend/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
  trivyignore.yaml
Due: backend, frontend

coderabbit suggestions
  docker/backend/Dockerfile.nestbot.local
Due: none

feat: add hadolint
  .hadolint.yaml
  .pre-commit-config.yaml
  docker/backend/Dockerfile.video
  docker/frontend/Dockerfile
Due: none

Update repository.py
  backend/apps/github/api/internal/nodes/repository.py
Due: backend

fix toggle button
  backend/static/js/admin_theme_toggle.js
  backend/templates/admin/base_site.html
Due: backend

fixed order
  backend/static/js/admin_theme_toggle.js
Due: backend

Update code
  .bake.toml
  .pre-commit-config.yaml
  Makefile
  backend/Makefile
  backend/apps/ai/Makefile
  backend/apps/github/Makefile
  backend/apps/mentorship/Makefile
  backend/apps/nest/Makefile
  backend/apps/owasp/Makefile
  backend/apps/slack/Makefile
  cspell/Makefile
  docs/Makefile
  frontend/Makefile
Due: backend, frontend

feat: Add bmake pre-commit hook (#3998)
  .bake.toml
  .pre-commit-config.yaml
  Makefile
  backend/Makefile
  backend/apps/slack/Makefile
  cspell/Makefile
  frontend/Makefile
Due: backend, frontend

Update frontend/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

Update .codecov.yml
  .codecov.yml
Due: none

Update code
  frontend/src/app/community/page.tsx
Due: frontend

Added a lightweight Community Page (#3912)
  frontend/__tests__/unit/pages/Community.test.tsx
  frontend/src/app/community/layout.tsx
  frontend/src/app/community/page.tsx
  frontend/src/utils/communityData.ts
  frontend/src/utils/metadata.ts
Due: frontend

fix: consistent focus outlines for header and footer (#3950)
  frontend/src/components/Footer.tsx
  frontend/src/components/Header.tsx
Due: frontend

Update fixture bucket permission policy
  infrastructure/modules/storage/main.tf
Due: none

Reduce hover scale for candidate cards
  frontend/src/app/board/[year]/candidates/page.tsx
Due: frontend

Consolidate Apollo Client, update CSRF logic, and related refactors
  frontend/package-lock.json
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/chapters/[chapterKey]/layout.tsx
  frontend/src/app/committees/[committeeKey]/layout.tsx
  frontend/src/app/community/snapshots/[id]/layout.tsx
  frontend/src/app/members/[memberKey]/layout.tsx
  frontend/src/app/organizations/[organizationKey]/layout.tsx
  frontend/src/app/organizations/[organizationKey]/repositories/[repositoryKey]/layout.tsx
  frontend/src/app/projects/[projectKey]/layout.tsx
  frontend/src/lib/apolloClient.ts
  frontend/src/server/apolloClient.ts
  frontend/src/server/fetchAlgoliaData.ts
  frontend/src/server/fetchCsrfToken.ts
  frontend/src/utils/appError.ts
  frontend/src/utils/helpers/apolloClient.ts
  frontend/src/utils/utility.ts
  frontend/src/wrappers/provider.tsx
  package-lock.json
  run_app.bat
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
