Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

Update code
  .github/workflows/run-e2e-tests.yaml
Due: none

Pin service container images by digest
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/run-fuzz-tests.yaml
Due: none

Update e2e tests name
  .github/workflows/run-ci-cd.yaml
Due: none

Apply rabbit suggestions
  .github/workflows/run-e2e-tests.yaml
Due: none

Fix syntax
  .github/workflows/run-e2e-tests.yaml
Due: none

Update code
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-e2e-tests.yaml
Due: none

Fix unauthorized access to mentorship admin (#4682)
  backend/apps/mentorship/api/internal/graphql_errors.py
  backend/apps/mentorship/api/internal/queries/module.py
  backend/apps/mentorship/api/internal/queries/program.py
  backend/apps/mentorship/models/program.py
  backend/tests/unit/apps/mentorship/api/internal/queries/api_queries_module_test.py
  backend/tests/unit/apps/mentorship/api/internal/queries/api_queries_program_test.py
  backend/tests/unit/apps/mentorship/utils_test.py
  frontend/__tests__/mockData/mockProgramData.ts
  frontend/__tests__/unit/components/AccessDeniedDisplay.test.tsx
  frontend/__tests__/unit/components/CountryFilter.selectionGuards.test.tsx
  frontend/__tests__/unit/components/EntityActions.test.tsx
  frontend/__tests__/unit/components/ModuleCard.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/__tests__/unit/pages/EditModule.test.tsx
  frontend/__tests__/unit/pages/EditProgram.test.tsx
  frontend/__tests__/unit/pages/IssuesPage.test.tsx
  frontend/__tests__/unit/pages/ModuleDetailsPage.test.tsx
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
  frontend/__tests__/unit/pages/ProgramDetailsMentorship.test.tsx
  frontend/__tests__/unit/utils/handleGraphQLError.test.ts
  frontend/src/app/my/mentorship/programs/[programKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/create/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/page.tsx
  frontend/src/components/EntityActions.tsx
  frontend/src/components/ModuleCard.tsx
  frontend/src/components/ProgramCard.tsx
  frontend/src/hooks/useAccessControl.ts
  frontend/src/hooks/useIssueMutations.ts
  frontend/src/server/queries/issueQueries.ts
  frontend/src/server/queries/moduleQueries.ts
  frontend/src/server/queries/programsQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/issueQueries.generated.ts
  frontend/src/types/__generated__/moduleQueries.generated.ts
  frontend/src/types/__generated__/programsQueries.generated.ts
  frontend/src/utils/helpers/handleGraphQLError.ts
Due: backend, frontend

Rename components
  frontend/__tests__/a11y/components/cards.a11y.test.tsx
  frontend/__tests__/unit/components/cards/Contributions.test.tsx
  frontend/__tests__/unit/components/cards/Contributors.test.tsx
  frontend/__tests__/unit/components/cards/Header.test.tsx
  frontend/__tests__/unit/components/cards/IssuesMilestones.test.tsx
  frontend/__tests__/unit/components/cards/Leaders.test.tsx
  frontend/__tests__/unit/components/cards/Metadata.test.tsx
  frontend/__tests__/unit/components/cards/RepositoriesModules.test.tsx
  frontend/__tests__/unit/components/cards/Summary.test.tsx
  frontend/__tests__/unit/components/cards/Tags.test.tsx
  frontend/__tests__/unit/pages/ModuleDetails.test.tsx
  frontend/__tests__/unit/pages/ModuleDetailsPage.test.tsx
  frontend/__tests__/unit/pages/ProgramDetailsMentorship.test.tsx
  frontend/__tests__/unit/pages/PublicMentorshipModulePage.test.tsx
  frontend/src/app/chapters/[chapterKey]/page.tsx
  frontend/src/app/committees/[committeeKey]/page.tsx
  frontend/src/app/members/[memberKey]/page.tsx
  frontend/src/app/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/mentorship/programs/[programKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/page.tsx
  frontend/src/app/organizations/[organizationKey]/page.tsx
  frontend/src/app/organizations/[organizationKey]/repositories/[repositoryKey]/page.tsx
  frontend/src/app/projects/[projectKey]/page.tsx
  frontend/src/components/CardDetailsPage/CardDetailsLeaders.tsx
  frontend/src/components/cards/Contributions.tsx
  frontend/src/components/cards/Contributors.tsx
  frontend/src/components/cards/Header.tsx
  frontend/src/components/cards/IssuesMilestones.tsx
  frontend/src/components/cards/Leaders.tsx
  frontend/src/components/cards/Metadata.tsx
  frontend/src/components/cards/PageWrapper.tsx
  frontend/src/components/cards/RepositoriesModules.tsx
  frontend/src/components/cards/Summary.tsx
  frontend/src/components/cards/Tags.tsx
Due: frontend

Add playwright apt caching
  .github/workflows/run-e2e-tests.yaml
Due: none

Update code
  frontend/__tests__/unit/components/cards/Header.test.tsx
  frontend/__tests__/unit/components/cards/Metadata.test.tsx
  frontend/__tests__/unit/pages/ModuleDetailsPage.test.tsx
  frontend/src/app/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/page.tsx
  frontend/src/components/cards/Metadata.tsx
Due: frontend

Fix tests
  backend/apps/core/utils/index.py
  backend/tests/unit/apps/core/utils/match_test.py
Due: backend

Try playwright container
  .github/actions/setup-backend-environment/action.yaml
  .github/workflows/run-e2e-tests.yaml
Due: none

Fix pipx
  .github/actions/setup-backend-environment/action.yaml
Due: none

Increase number of modules shown from 4 to 6
  frontend/__tests__/unit/components/ModuleCard.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/page.tsx
  frontend/src/components/ModuleCard.tsx
Due: frontend

Drop set up Python cache
  .github/actions/setup-backend-environment/action.yaml
Due: none

Bump playwright version
  .github/workflows/run-e2e-tests.yaml
  docker/e2e/Dockerfile
Due: none

Update code
  .github/actions/install-poetry/action.yaml
  .github/actions/setup-backend-environment/action.yaml
  .github/workflows/run-backend-tests.yaml
  .github/workflows/run-code-quality-checks.yaml
  e2e/playwright.config.ts
Due: none

Update install poetry action
  .github/actions/install-poetry/action.yaml
Due: none

Update code
  .github/actions/install-poetry/action.yaml
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/run-fuzz-tests.yaml
Due: none

Update code
  .github/workflows/run-e2e-tests.yaml
  e2e/playwright.config.ts
Due: none

Update browsers
  .github/workflows/run-e2e-tests.yaml
  e2e/components/Footer.spec.ts
  e2e/components/Header.spec.ts
  e2e/helpers/devices.ts
  e2e/playwright.config.ts
Due: none

Tighten checks for project leaders on creating a Program
  backend/apps/mentorship/api/internal/mutations/program.py
  backend/apps/owasp/api/internal/queries/project.py
  backend/apps/owasp/utils/entity_leader.py
  backend/tests/unit/apps/mentorship/api/internal/mutations/program_mutation_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/project_test.py
  backend/tests/unit/apps/owasp/utils/entity_leader_test.py
Due: backend

Increase number of modules shown from 4 to 6 (#4694)
  frontend/__tests__/unit/components/ModuleCard.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/page.tsx
  frontend/src/components/ModuleCard.tsx
Due: frontend

Update code
  .github/actions/setup-backend-environment/action.yaml
  e2e/playwright.config.ts
Due: none

Revert some changes
  .github/actions/setup-backend-environment/action.yaml
  .github/workflows/run-e2e-tests.yaml
  e2e/components/Footer.spec.ts
  e2e/components/Header.spec.ts
  e2e/helpers/devices.ts
  e2e/playwright.config.ts
Due: none

Clean up some steps
  .github/actions/setup-backend-environment/action.yaml
Due: none

Try chromium only
  .github/workflows/run-e2e-tests.yaml
  e2e/components/Footer.spec.ts
  e2e/components/Header.spec.ts
  e2e/helpers/devices.ts
  e2e/playwright.config.ts
Due: none

Update code
  .github/actions/setup-backend-environment/action.yaml
  .github/workflows/run-e2e-tests.yaml
  e2e/pages/About.spec.ts
  e2e/pages/CalendarButton.spec.ts
  e2e/pages/ChapterDetails.spec.ts
  e2e/pages/Chapters.spec.ts
  e2e/pages/CommitteeDetails.spec.ts
  e2e/pages/Committees.spec.ts
  e2e/pages/Community.spec.ts
  e2e/pages/Contribute.spec.ts
  e2e/pages/Home.spec.ts
  e2e/pages/MentorshipPrograms.spec.ts
  e2e/pages/OrganizationDetails.spec.ts
  e2e/pages/Organizations.spec.ts
  e2e/pages/ProjectDetails.spec.ts
  e2e/pages/UserDetails.spec.ts
  e2e/playwright.config.ts
  frontend/next.config.ts
Due: frontend

Add logs
  .github/actions/setup-backend-environment/action.yaml
  .github/workflows/run-e2e-tests.yaml
  cspell/custom-dict.txt
Due: none

Update smoke test
  .github/workflows/run-e2e-tests.yaml
Due: none

Update code
  .github/actions/setup-backend-environment/action.yaml
  .github/workflows/run-e2e-tests.yaml
  frontend/next.config.ts
Due: frontend

Clean up code
  .github/actions/setup-backend-environment/action.yaml
  .github/workflows/run-e2e-tests.yaml
Due: none

Bump workers count
  e2e/playwright.config.ts
Due: none

Revert workers number change
  e2e/playwright.config.ts
Due: none

Rebalance CPUs
  .github/actions/setup-backend-environment/action.yaml
  e2e/playwright.config.ts
Due: none

More CPUs to playwright
  e2e/playwright.config.ts
Due: none

Update code
  .github/actions/setup-backend-environment/action.yaml
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/run-fuzz-tests.yaml
  frontend/next.config.ts
Due: frontend
