Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

add tests + use json filters
  backend/apps/core/api/internal/algolia.py
  backend/tests/apps/core/api/internal/algolia_test.py
Due: backend

Resolve case-sensitivity in QueryParser to support Chapters/Members search (#3844)
  backend/apps/api/rest/v0/structured_search.py
  backend/tests/apps/common/search/query_parser_test.py
Due: backend

fix: prefetch nested queries in IssueNode
  backend/apps/github/api/internal/nodes/issue.py
  backend/apps/github/api/internal/nodes/user.py
  backend/tests/apps/github/api/internal/nodes/user_test.py
Due: backend

fix: coderabbit
  backend/apps/github/api/internal/nodes/issue.py
  backend/tests/apps/github/api/internal/nodes/user_test.py
Due: backend

Update code
  backend/apps/github/api/internal/nodes/issue.py
  backend/apps/github/api/internal/nodes/user.py
  backend/tests/apps/github/api/internal/nodes/user_test.py
Due: backend

Update tests
  backend/tests/apps/github/api/internal/nodes/user_test.py
Due: backend

feat: implement community page
  backend/apps/github/api/internal/queries/organization.py
  backend/tests/apps/github/api/internal/queries/organization_test.py
  frontend/__tests__/a11y/pages/Community.a11y.test.tsx
  frontend/__tests__/e2e/data/mockCommunityData.ts
  frontend/__tests__/e2e/pages/Chapters.spec.ts
  frontend/__tests__/e2e/pages/Community.spec.ts
  frontend/__tests__/e2e/pages/Organizations.spec.ts
  frontend/__tests__/e2e/pages/Users.spec.ts
  frontend/__tests__/mockData/mockCommunityData.ts
  frontend/__tests__/unit/hooks/useBreadcrumbs.test.tsx
  frontend/__tests__/unit/pages/Community.test.tsx
  frontend/src/app/community/layout.tsx
  frontend/src/app/community/page.tsx
  frontend/src/hooks/useBreadcrumbs.ts
  frontend/src/server/queries/communityQueries.ts
  frontend/src/types/__generated__/communityQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/utils/metadata.ts
Due: backend, frontend

fix issues
  backend/tests/apps/github/api/internal/queries/organization_test.py
  frontend/src/app/community/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/ChapterCard.tsx
Due: backend, frontend

fix conflicts
  frontend/src/app/community/page.tsx
Due: frontend

fix code rabbit comment
  frontend/src/app/community/page.tsx
Due: frontend

Add select_related for nested relations in releases Prefetch
  backend/apps/github/api/internal/nodes/repository.py
Due: backend

Update dependencies
  .pre-commit-config.yaml
  backend/poetry.lock
  backend/pyproject.toml
  cspell/package.json
  cspell/pnpm-lock.yaml
  docker/backend/Dockerfile
  docker/backend/Dockerfile.local
  docker/backend/Dockerfile.test
  docker/backend/Dockerfile.video
  docker/docs/Dockerfile.local
  docker/frontend/Dockerfile.e2e.test
  docs/poetry.lock
  docs/pyproject.toml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Bump django-ninja version
  backend/poetry.lock
  backend/pyproject.toml
Due: backend

Fixed coderabbit review
  frontend/__tests__/unit/components/CalendarButton.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/DashboardWrapper.test.tsx
  frontend/__tests__/unit/components/ModuleCard.test.tsx
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/__tests__/unit/components/ProgramCard.test.tsx
  frontend/__tests__/unit/components/ProgramForm.test.tsx
  frontend/__tests__/unit/components/SingleModuleCard.test.tsx
  frontend/__tests__/unit/components/SkeletonBase.test.tsx
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/__tests__/unit/pages/MyMentorship.test.tsx
  frontend/__tests__/unit/pages/ProjectsHealthDashboardMetrics.test.tsx
  frontend/__tests__/unit/utils/formValidationUtils.test.ts
Due: frontend

add trailing newline
  backend/tests/apps/core/api/internal/algolia_test.py
Due: backend

add tests for breadcrumbs
  frontend/__tests__/unit/hooks/useBreadcrumbs.test.tsx
Due: frontend

Update dependencies (#3874)
  .pre-commit-config.yaml
  backend/poetry.lock
  backend/pyproject.toml
  cspell/package.json
  cspell/pnpm-lock.yaml
  docker/backend/Dockerfile
  docker/backend/Dockerfile.local
  docker/backend/Dockerfile.test
  docker/backend/Dockerfile.video
  docker/docs/Dockerfile.local
  docker/frontend/Dockerfile.e2e.test
  docs/poetry.lock
  docs/pyproject.toml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

feat: extend structured search functionality to chapters, members, organizations, and repositories
  backend/apps/api/rest/v0/chapter.py
  backend/apps/api/rest/v0/member.py
  backend/apps/api/rest/v0/organization.py
  backend/apps/api/rest/v0/repository.py
  backend/tests/apps/api/rest/v0/structured_search_test.py
Due: backend

update code
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/ChapterMapWrapper.test.tsx
  frontend/__tests__/unit/components/FontLoaderWrapper.test.tsx
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/__tests__/unit/components/ProgramForm.test.tsx
  frontend/__tests__/unit/components/SortBy.test.tsx
  frontend/__tests__/unit/components/StructuredDataScript.test.tsx
  frontend/__tests__/unit/components/ToggleableList.test.tsx
  frontend/__tests__/unit/components/TruncatedText.test.tsx
  frontend/__tests__/unit/pages/Header.test.tsx
  frontend/__tests__/unit/pages/MenteeProfilePage.test.tsx
Due: frontend

fix(proxy): pin nginx and certbot images (#3848)
  docker-compose/proxy/compose.yaml
Due: none

add filter_q
  backend/apps/api/rest/v0/chapter.py
  backend/apps/api/rest/v0/member.py
  backend/apps/api/rest/v0/organization.py
Due: backend

fix comments
  backend/apps/github/api/internal/nodes/repository.py
Due: backend

fixed coderabbit ai
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/FontLoaderWrapper.test.tsx
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/__tests__/unit/components/SortBy.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/__tests__/unit/pages/Header.test.tsx
  frontend/__tests__/unit/utils/formValidationUtils.test.ts
Due: frontend

fix code rabbit comment
  backend/apps/github/api/internal/nodes/repository.py
Due: backend

fixed soanrqube warning
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
Due: frontend

fixed review
  frontend/__tests__/unit/components/FontLoaderWrapper.test.tsx
Due: frontend

update
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
Due: frontend

Update docker-compose/proxy/compose.yaml
  docker-compose/proxy/compose.yaml
Due: none

Update backend/pyproject.toml
  backend/poetry.lock
  backend/pyproject.toml
Due: backend

Update ansible lint configuration
  .github/ansible/.ansible-lint.yaml
  .github/ansible/requirements.yml
  .github/workflows/run-ci-cd.yaml
  .pre-commit-config.yaml
Due: none

Update ansible lint configuration (#3880)
  .github/ansible/.ansible-lint.yaml
  .github/ansible/requirements.yml
  .github/workflows/run-ci-cd.yaml
  .pre-commit-config.yaml
Due: none

Update .github/ansible/.ansible-lint.yaml
  .github/ansible/.ansible-lint.yaml
Due: none

Update code
  backend/apps/core/api/internal/algolia.py
  backend/tests/apps/core/api/internal/algolia_test.py
Due: backend

fixed aloglia cache_key (#3825)
  backend/apps/core/api/internal/algolia.py
  backend/tests/apps/core/api/internal/algolia_test.py
Due: backend

Update code
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/ContributorsList.test.tsx
  frontend/__tests__/unit/components/Milestones.test.tsx
  frontend/src/app/about/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/AnchorTitle.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/ContributorsList.tsx
  frontend/src/components/Milestones.tsx
  frontend/src/components/RecentIssues.tsx
  frontend/src/components/RecentPullRequests.tsx
  frontend/src/components/RecentReleases.tsx
Due: frontend

fix: remove unused className prop from AnchorTitle component (#3822)
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/ContributorsList.test.tsx
  frontend/__tests__/unit/components/Milestones.test.tsx
  frontend/src/app/about/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/AnchorTitle.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/ContributorsList.tsx
  frontend/src/components/Milestones.tsx
  frontend/src/components/RecentIssues.tsx
  frontend/src/components/RecentPullRequests.tsx
  frontend/src/components/RecentReleases.tsx
Due: frontend

fix: prefetch nested queries in RepositoryNode
  backend/apps/github/api/internal/nodes/issue.py
  backend/apps/github/api/internal/nodes/repository.py
Due: backend

fix: coderabbit
  backend/apps/github/api/internal/nodes/repository.py
Due: backend

fix formatDateForInput method and add tests
  frontend/__tests__/unit/utils/dateFormatter.test.ts
  frontend/src/utils/dateFormatter.ts
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
