Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Update apps/slack/actions/home_test.py
  backend/pyproject.toml
  backend/tests/unit/apps/slack/actions/home_test.py
Due: backend

Update dependencies
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
  docs/poetry.lock
  docs/poetry.toml
  docs/pyproject.toml
Due: backend

Refactor scoring into modular components
  backend/apps/github/models/user.py
Due: backend

fix: remove duplicate scoring definitions and clean implementation
  backend/apps/github/models/user.py
Due: backend

feat: add calculated_score field and basic scoring logic
  backend/apps/github/models/user.py
Due: backend

fix: final cleanup and formatting
  backend/apps/github/management/commands/github_update_users.py
Due: backend

feat: add leadership scoring component
  backend/apps/github/models/user.py
Due: backend

Fix stale calculated_score issue in management command
  backend/apps/github/management/commands/github_update_users.py
Due: backend

fix: add trailing newline to migrations
  backend/apps/github/migrations/0045_add_calculated_score.py
Due: backend

fix: recalculate calculated_score and improve formatting
  backend/apps/github/management/commands/github_update_users.py
Due: backend

fix: add trailing newline
  backend/apps/github/migrations/0045_add_calculated_score.py
Due: backend

Add migration for calculated_score field
  backend/apps/github/migrations/0045_add_calculated_score.py
Due: backend

Fix newline at end of migration file
  backend/apps/github/migrations/0045_add_calculated_score.py
Due: backend

Remove unused docker hub
  .github/workflows/build-images.yaml
  .github/workflows/run-ci-cd.yaml
  cspell/custom-dict.txt
  infrastructure/live/README.md
  infrastructure/live/main.tf
  infrastructure/modules/ecr-cache/.terraform.lock.hcl
  infrastructure/modules/ecr-cache/README.md
  infrastructure/modules/ecr-cache/main.tf
  infrastructure/modules/ecr-cache/outputs.tf
  infrastructure/modules/ecr-cache/tests/ecr-cache.tftest.hcl
  infrastructure/modules/ecr-cache/variables.tf
Due: none

Update code
  .trivyignore.yaml
  infrastructure/modules/ecr-cache/main.tf
  infrastructure/modules/ecr-cache/tests/ecr-cache.tftest.hcl
Due: none

Update code
  .github/workflows/run-ci-cd.yaml
Due: none

Update code
  .github/workflows/build-images.yaml
  .github/workflows/run-ci-cd.yaml
Due: none

Extract build-images into a separate reusable worflow (#4709)
  .github/workflows/build-images.yaml
  .github/workflows/run-ci-cd.yaml
  .trivyignore.yaml
  cspell/custom-dict.txt
  infrastructure/live/README.md
  infrastructure/live/main.tf
  infrastructure/modules/ecr-cache/.terraform.lock.hcl
  infrastructure/modules/ecr-cache/README.md
  infrastructure/modules/ecr-cache/main.tf
  infrastructure/modules/ecr-cache/outputs.tf
  infrastructure/modules/ecr-cache/tests/ecr-cache.tftest.hcl
  infrastructure/modules/ecr-cache/variables.tf
Due: none

Update code
  backend/apps/github/models/user.py
  backend/apps/mentorship/api/internal/mutations/program.py
  backend/apps/owasp/api/internal/queries/project.py
  backend/apps/owasp/utils/entity_leader.py
  backend/tests/unit/apps/github/models/user_is_project_leader_test.py
  backend/tests/unit/apps/mentorship/api/internal/mutations/program_mutation_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/project_test.py
  backend/tests/unit/apps/owasp/utils/entity_leader_test.py
Due: backend

Update code
  backend/tests/unit/apps/mentorship/api/internal/mutations/program_mutation_test.py
Due: backend

fix: improve mobile responsiveness on issues page
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
Due: frontend

fix: fix mobile dropdown caret position and double background on issues page
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
Due: frontend

fix: address coderabbit suggestions for dropdown background and caret positioning
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
Due: frontend

add candidate claim and evidence models
  .gitignore
  backend/apps/common/middlewares/block_null_characters.py
  backend/apps/owasp/admin/__init__.py
  backend/apps/owasp/admin/board_candidate_claim.py
  backend/apps/owasp/admin/board_candidate_claim_evidence.py
  backend/apps/owasp/migrations/0073_boardcandidateclaim_boardcandidateclaimevidence_and_more.py
  backend/apps/owasp/models/__init__.py
  backend/apps/owasp/models/board_candidate_claim.py
  backend/apps/owasp/models/board_candidate_claim_evidence.py
  backend/settings/local.py
  backend/settings/urls.py
  docker-compose/local/compose.yaml
Due: backend

add tests
  backend/tests/unit/apps/common/middlewares/block_null_characters_test.py
  backend/tests/unit/apps/owasp/admin/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/admin/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_test.py
Due: backend

Created model
  backend/apps/recognition/__init__.py
  backend/apps/recognition/admin/__init__.py
  backend/apps/recognition/admin/certificate.py
  backend/apps/recognition/admin/contribution_score.py
  backend/apps/recognition/admin/leaderboard_snapshot.py
  backend/apps/recognition/admin/scoring_weight.py
  backend/apps/recognition/apps.py
  backend/apps/recognition/migrations/0001_initial.py
  backend/apps/recognition/migrations/__init__.py
  backend/apps/recognition/models/__init__.py
  backend/apps/recognition/models/certificate.py
  backend/apps/recognition/models/contribution_score.py
  backend/apps/recognition/models/enums.py
  backend/apps/recognition/models/leaderboard_snapshot.py
  backend/apps/recognition/models/scoring_weight.py
  backend/settings/base.py
Due: backend

address bot comments
  backend/apps/common/middlewares/block_null_characters.py
  backend/apps/owasp/models/board_candidate_claim.py
  backend/apps/owasp/models/board_candidate_claim_evidence.py
  backend/settings/local.py
  backend/tests/unit/apps/common/middlewares/block_null_characters_test.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_test.py
Due: backend

Update Dependabot config: ignore major versio update for node/python
  .github/dependabot.yml
Due: none

Update Dependabot config: ignore minor update for python
  .github/dependabot.yml
Due: none

fix: update about tools terraform entry
  e2e/pages/About.spec.ts
  frontend/__tests__/a11y/pages/About.a11y.test.tsx
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/public/images/icons/terraform.svg
  frontend/src/utils/aboutData.ts
Due: frontend

Update docker/e2e/Dockerfile
  docker/e2e/Dockerfile
Due: none

address bot comments
  backend/apps/owasp/models/board_candidate_claim.py
  backend/tests/unit/apps/common/middlewares/block_null_characters_test.py
Due: backend

fixed sync issue
  backend/apps/recognition/migrations/0001_initial.py
  backend/apps/recognition/models/contribution_score.py
Due: backend

address coderabbit review
  backend/apps/recognition/migrations/0001_initial.py
Due: backend

fix
  backend/apps/recognition/migrations/0001_initial.py
Due: backend

fix: validate Algolia configuration on startup
  backend/apps/core/api/internal/algolia.py
  backend/apps/core/apps.py
Due: backend

chore(about): replace Ansible with Terraform in Technologies & Tools
  e2e/pages/About.spec.ts
  frontend/__tests__/a11y/pages/About.a11y.test.tsx
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/public/images/icons/ansible.svg
  frontend/public/images/icons/terraform.svg
  frontend/src/utils/aboutData.ts
Due: frontend

add null checks for request.FILES
  backend/apps/common/middlewares/block_null_characters.py
  backend/tests/unit/apps/common/middlewares/block_null_characters_test.py
Due: backend

add null byte checks for keys
  backend/apps/common/middlewares/block_null_characters.py
  backend/tests/unit/apps/common/middlewares/block_null_characters_test.py
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
