Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Update BE/FE dependencies Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
  cspell/pnpm-lock.yaml
  cspell/pnpm-workspace.yaml
  eslint.config.mjs
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: backend, frontend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  backend/poetry.lock
Due: backend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: backend, frontend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  cspell/custom-dict.txt
Due: none

Update BE/FE dependencies (#5676)
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
  cspell/custom-dict.txt
  cspell/pnpm-lock.yaml
  cspell/pnpm-workspace.yaml
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: backend, frontend

secure credentails & url config
  infrastructure/live/README.md
  infrastructure/live/main.tf
  infrastructure/live/variables.tf
  infrastructure/modules/observability/README.md
  infrastructure/modules/observability/grafana-service.tf
  infrastructure/modules/observability/tests/grafana.tftest.hcl
  infrastructure/modules/observability/variables.tf
Due: none

Update Dependabot schedule Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  .github/dependabot.yml
Due: none

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  docs/src/maintenance/index.md
Due: none

Update Dependabot schedule (#5686)
  .github/dependabot.yml
  docs/src/maintenance/index.md
Due: none

Refactor makefiles Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  .github/pr-labeler.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  backend/README.md
  backend/make/README.md
  backend/make/image.mk
  backend/make/security.mk
  backend/makefile
  cspell/makefile
  docker/backend/Dockerfile
  docs/makefile
  docs/serve.py
  e2e/makefile
  frontend/README.md
  frontend/make/README.md
  frontend/make/image.mk
  frontend/make/security.mk
  frontend/makefile
  infrastructure/make/README.md
  infrastructure/makefile
  make/README.md
  makefile
  tools/makefile
Due: backend, frontend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  backend/make/security.mk
  frontend/make/security.mk
Due: backend, frontend

BUG/docker: add non-root USER directive to osv-scanner Dockerfile
  docker/osv-scanner/Dockerfile
Due: none

Refactor makefiles (#5689)
  .github/pr-labeler.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  backend/README.md
  backend/make/README.md
  backend/make/image.mk
  backend/make/security.mk
  backend/makefile
  cspell/makefile
  docker/backend/Dockerfile
  docs/makefile
  docs/serve.py
  e2e/makefile
  frontend/README.md
  frontend/make/README.md
  frontend/make/image.mk
  frontend/make/security.mk
  frontend/makefile
  infrastructure/make/README.md
  infrastructure/makefile
  make/README.md
  makefile
  tools/makefile
Due: backend, frontend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  docker/osv-scanner/Dockerfile
Due: none

Update .trivyignore.yaml Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  .trivyignore.yaml
Due: none

Add a non-root USER instruction to osv-scanner Dockerfile (#5690)
  .trivyignore.yaml
  docker/osv-scanner/Dockerfile
Due: none

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  e2e/package.json
  e2e/pnpm-lock.yaml
  e2e/pnpm-workspace.yaml
  frontend/__tests__/unit/pages/CreateModule.test.tsx
Due: frontend

Fix AttributeError on GitHub 404 in github_add_related_repositories
  backend/src/apps/github/management/commands/github_add_related_repositories.py
  backend/tests/unit/apps/github/management/commands/github_add_related_repositories_test.py
Due: backend

Add DockSec CI/CD check Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  .docksec-ignore.yml
  .github/workflows/run-docksec-scan.yaml
  .trivyignore.yaml
  cspell/custom-dict.txt
  docker/docksec/Dockerfile
  make/security.mk
  ruff.toml
  tools/security/docksec_scan.py
  tools/tests/security/docksec_scan_test.py
Due: none

Address comments Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  .github/workflows/run-docksec-scan.yaml
  make/security.mk
  tools/tests/security/docksec_scan_test.py
Due: none

Add DockSec CI/CD check (#5696)
  .docksec-ignore.yml
  .github/workflows/run-docksec-scan.yaml
  .trivyignore.yaml
  cspell/custom-dict.txt
  docker/docksec/Dockerfile
  make/security.mk
  ruff.toml
  tools/security/docksec_scan.py
  tools/tests/security/docksec_scan_test.py
Due: none

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
