Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Add only optimization hints
  backend/src/apps/owasp/api/internal/nodes/committee.py
Due: backend

Optimize top_contributors
  backend/src/apps/github/api/internal/dataloaders/repository_contributor.py
  backend/src/apps/owasp/api/internal/nodes/committee.py
Due: backend

Add tests
  backend/tests/unit/apps/github/api/internal/dataloaders/repository_contributor_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/committee_test.py
Due: backend

Refactor
  backend/src/apps/github/api/internal/dataloaders/repository_contributor.py
Due: backend

backend: apply bot comments
  backend/make/apps/owasp.mk
  backend/src/apps/owasp/admin/board_candidate_profile.py
  backend/src/apps/owasp/api/internal/queries/board_candidate_profile.py
  backend/src/apps/owasp/management/commands/owasp_sync_board_candidates.py
  backend/src/apps/owasp/migrations/0081_boardcandidateclaim_source_text_and_more.py
  backend/src/apps/owasp/models/board_candidate_profile.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_evidence_test.py
Due: backend

Implmented Graphql Queries for Pulse
  backend/src/apps/owasp/api/internal/nodes/activity_event.py
  backend/src/apps/owasp/api/internal/queries/__init__.py
  backend/src/apps/owasp/api/internal/queries/activity_event.py
  backend/src/apps/owasp/models/activity_event.py
Due: backend

apply frontend bot comments
  frontend/__tests__/unit/components/AnnotatedProfile.test.tsx
  frontend/__tests__/unit/pages/BoardCandidatesPage.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/create/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/page.tsx
  frontend/src/app/board/[year]/candidates/page.tsx
  frontend/src/components/AnnotatedProfile.tsx
  frontend/src/components/ClaimForm.tsx
  frontend/src/components/forms/shared/FormTextarea.tsx
Due: frontend

refactor frontend to use markdown-to-jsx
  frontend/__tests__/unit/components/AnnotatedProfile.test.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/AnnotatedProfile.tsx
Due: frontend

address review
  backend/src/apps/owasp/api/internal/queries/activity_event.py
  backend/src/apps/owasp/models/activity_event.py
Due: backend

frontend cleanup
  frontend/__tests__/unit/pages/ClaimDetailsPage.test.tsx
  frontend/__tests__/unit/pages/CreateClaimPage.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/page.tsx
Due: frontend

remove AnnotatedProfile
  frontend/__tests__/unit/components/AnnotatedProfile.test.tsx
  frontend/src/components/AnnotatedProfile.tsx
Due: frontend

rewrite AnnotatedProfile with better quality code
  frontend/__tests__/unit/components/AnnotatedProfile.test.tsx
  frontend/__tests__/unit/components/ClaimHighlight.test.tsx
  frontend/__tests__/unit/hooks/useProfileSelection.test.tsx
  frontend/src/components/AnnotatedProfile.tsx
  frontend/src/components/ClaimHighlight.tsx
  frontend/src/hooks/useProfileSelection.ts
Due: frontend

generate graphql types
  frontend/src/server/mutations/claimMutations.ts
  frontend/src/types/__generated__/claimMutations.generated.ts
Due: frontend

bot comments, hide popup when overlapping existing highlight
  frontend/__tests__/unit/components/AnnotatedProfile.test.tsx
  frontend/__tests__/unit/components/ClaimHighlight.test.tsx
  frontend/__tests__/unit/hooks/useProfileSelection.test.tsx
  frontend/src/components/AnnotatedProfile.tsx
  frontend/src/components/ClaimHighlight.tsx
  frontend/src/hooks/useProfileSelection.ts
Due: frontend

don't show create claim button when highlighted text is not in raw markdown
  frontend/__tests__/unit/components/AnnotatedProfile.test.tsx
  frontend/src/components/AnnotatedProfile.tsx
Due: frontend

remove unused isReviewer
  frontend/src/components/AnnotatedProfile.tsx
Due: frontend

display all matched claims instead of first
  frontend/__tests__/unit/components/AnnotatedProfile.test.tsx
  frontend/src/components/AnnotatedProfile.tsx
Due: frontend

post merge, fix generate command to include source text
  backend/src/apps/owasp/management/commands/owasp_generate_board_candidates_claims.py
  backend/tests/unit/apps/owasp/management/commands/owasp_generate_board_candidates_claims_test.py
Due: backend

refactor(infrastructure): set ENVIRONMENT to local if not set and normalize boolean value
  infrastructure/scripts/provision-infra.sh
Due: none

docs(infrastructure): add localstack,awslocal and tflocal as prerequisites
  infrastructure/README.md
Due: none

fix(infrastructure): generate random password instead of hardcoding it for database
  infrastructure/README.md
  infrastructure/scripts/provision-infra.sh
Due: none

refactor(infrastructure): add curl as prerequisite and use jq-generated tfvars.json
  infrastructure/README.md
  infrastructure/scripts/provision-infra.sh
Due: none

feat(infrastructure): script and make target to start localstack
  infrastructure/.env.example
  infrastructure/Makefile
  infrastructure/scripts/start-localstack.sh
Due: none

feat(infrastructure): WIP provision infra
  infrastructure/Makefile
  infrastructure/live/variables.tf
  infrastructure/scripts/provision-infra.sh
Due: none

refactor(infrastructure): improve shell script robustness in start-localstack.sh
  infrastructure/scripts/start-localstack.sh
Due: none

fix(infrastructure): prevenet regenerating password for db and include local env in error message for env validation
  infrastructure/live/variables.tf
  infrastructure/scripts/provision-infra.sh
Due: none

fix(infrastructure): provision infra script uses backward compatible bash syntax and sets region to us-east-2 if not provided by default
  infrastructure/scripts/provision-infra.sh
Due: none

feat(infrastructure): upload env vars to SSM Parameters store
  infrastructure/Makefile
  infrastructure/scripts/load-env-params.sh
Due: none

feat(infrastructure): add Make targets for LocalStack ECS tasks and update docs for these make targets
  infrastructure/Makefile
  infrastructure/README.md
Due: none

refactor(infrastructure): prevent leaking secrets in logs
  infrastructure/scripts/load-env-params.sh
Due: none

refactor(infrastructure): introduce force_new_deployment for live
  infrastructure/live/main.tf
  infrastructure/live/terraform.production.tfvars.example
  infrastructure/live/terraform.staging.tfvars.example
  infrastructure/live/variables.tf
  infrastructure/scripts/provision-infra.sh
Due: none

fix(infrastructure): ai suggestions
  infrastructure/scripts/provision-infra.sh
Due: none

feat: LocalStack ECS deploy scripts, SSM fixes, backend Redis/Slack config
  backend/src/settings/base.py
  backend/src/settings/local.py
  infrastructure/Makefile
  infrastructure/scripts/deploy-services.sh
  infrastructure/scripts/fix-ssm-params.sh
Due: backend

fix: pass env overrides via run-task for Redis port/TLS/auth
  infrastructure/scripts/deploy-services.sh
Due: none

refactor(infrastructure): get db_port dynamically instead of hardcoding it and save it to ssm store
  infrastructure/live/main.tf
  infrastructure/modules/database/outputs.tf
Due: none

docs(infrastructure): add note about rerunning provision script
  infrastructure/README.md
Due: none

refactor(infrastructure): use localstack cli to check status
  infrastructure/README.md
  infrastructure/scripts/provision-infra.sh
Due: none

fix: deploy-services.sh. cd to live dir, add tflocal prereq, fix subnet parsing
  infrastructure/scripts/deploy-services.sh
Due: none

refactor(infrastructure): remove --allow-empty flag from load-env-params script
  infrastructure/scripts/load-env-params.sh
Due: none

refactor(infrastructure): redundant NEXT_* urls for frontend docker image
  infrastructure/scripts/provision-infra.sh
Due: none

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
