Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

lint/format
  backend/apps/owasp/api/internal/nodes/project.py
Due: backend

update
  backend/apps/owasp/api/internal/nodes/project.py
Due: backend

resolved code rabbit review
  frontend/src/components/skeletons/Card.tsx
Due: frontend

Fix: merge consecutive RUN instructions in frontend Dockerfile
  docker/frontend/Dockerfile
Due: none

Fix sonar issue and coderabit review
  frontend/src/components/skeletons/Card.tsx
  frontend/src/components/skeletons/UserCard.tsx
Due: frontend

fix security sonar issue
  frontend/src/components/skeletons/Card.tsx
Due: frontend

fix: whitelist GSoC'26 mentors for PR checks (#3640) (#3645)
  .github/workflows/check-pr-issue-skip-usernames.txt
Due: none

Add tests for `frontend` module (#3581)
  .github/workflows/run-ci-cd.yaml
  backend/zappa_callback.py
  cspell/custom-dict.txt
  infrastructure/backend/main.tf
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/outputs.tf
  infrastructure/modules/alb/variables.tf
  infrastructure/modules/cache/main.tf
  infrastructure/modules/cache/tests/cache.tftest.hcl
  infrastructure/modules/cache/variables.tf
  infrastructure/modules/database/main.tf
  infrastructure/modules/database/tests/database.tftest.hcl
  infrastructure/modules/database/variables.tf
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/ecs/modules/task/main.tf
  infrastructure/modules/ecs/modules/task/variables.tf
  infrastructure/modules/ecs/variables.tf
  infrastructure/modules/frontend/.terraform.lock.hcl
  infrastructure/modules/frontend/main.tf
  infrastructure/modules/frontend/tests/frontend.tftest.hcl
  infrastructure/modules/frontend/variables.tf
  infrastructure/modules/kms/.terraform.lock.hcl
  infrastructure/modules/kms/main.tf
  infrastructure/modules/kms/outputs.tf
  infrastructure/modules/kms/tests/kms.tftest.hcl
  infrastructure/modules/kms/variables.tf
  infrastructure/modules/networking/main.tf
  infrastructure/modules/networking/variables.tf
  infrastructure/modules/parameters/tests/parameters.tftest.hcl
  infrastructure/staging/main.tf
  infrastructure/staging/outputs.tf
  infrastructure/staging/terraform.tfvars.example
  infrastructure/staging/variables.tf
Due: backend

Update code
  backend/apps/owasp/admin/entity_channel.py
  backend/apps/owasp/admin/entity_member.py
  backend/apps/owasp/admin/member_profile.py
  backend/apps/owasp/admin/member_snapshot.py
  backend/apps/owasp/admin/mixins.py
  backend/apps/owasp/admin/project_health_metrics.py
  backend/apps/owasp/admin/widgets.py
  backend/apps/slack/admin/member.py
Due: backend

Rename search tests for consistency and remove duplicate attributes
  backend/apps/api/rest/v0/project.py
  backend/tests/apps/api/rest/v0/structured_search_test.py
Due: backend

apply code-rabbit
  backend/apps/owasp/api/internal/nodes/project.py
Due: backend

Run make update
  backend/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Admin docstrings (#3569)
  backend/apps/owasp/admin/entity_channel.py
  backend/apps/owasp/admin/entity_member.py
  backend/apps/owasp/admin/member_profile.py
  backend/apps/owasp/admin/member_snapshot.py
  backend/apps/owasp/admin/mixins.py
  backend/apps/owasp/admin/project.py
  backend/apps/owasp/admin/project_health_metrics.py
  backend/apps/owasp/admin/widgets.py
  backend/apps/slack/admin/member.py
Due: backend

added test
  backend/apps/github/api/internal/nodes/repository.py
  backend/apps/github/api/internal/queries/milestone.py
  backend/apps/owasp/api/internal/nodes/project.py
  backend/apps/owasp/api/internal/queries/project.py
  backend/tests/apps/common/utils_test.py
  frontend/__tests__/mockData/mockAboutData.ts
Due: backend, frontend

used comman name
  backend/apps/github/api/internal/nodes/repository.py
Due: backend

revert uunchanged file
  frontend/__tests__/mockData/mockAboutData.ts
Due: frontend

resolved conflicts
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
  backend/apps/owasp/migrations/0073_project_active_issues_count_project_issues_and_more.py
  backend/apps/owasp/models/mixins/project.py
  backend/apps/owasp/models/project.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
  docker-compose/local/compose.yaml
Due: backend

coderabbit
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
Due: backend

update
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
Due: backend

update
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
Due: backend

Update code
  backend/apps/owasp/api/internal/nodes/project.py
Due: backend

fix: remove redundant type assertion in EditProgramPage
  frontend/src/app/my/mentorship/programs/[programKey]/edit/page.tsx
Due: frontend

Fix cspell and codeql
  cspell/custom-dict.txt
  frontend/__tests__/e2e/pages/Home.spec.ts
Due: frontend

update test coverage
  backend/tests/apps/owasp/api/internal/nodes/project_test.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
  backend/tests/apps/owasp/models/project_test.py
Due: backend

feat: keyboard_navigation_support
  frontend/__tests__/unit/components/EntityActions.test.tsx
  frontend/src/components/EntityActions.tsx
Due: frontend

sort alphabetically
  infrastructure/modules/networking/main.tf
Due: none

remove data blocks
  infrastructure/modules/networking/main.tf
Due: none

group logically
  infrastructure/modules/networking/main.tf
Due: none

add validations
  infrastructure/modules/networking/variables.tf
Due: none

add name formatting tests
  infrastructure/modules/networking/tests/networking.tftest.hcl
Due: none

add tests for networking module
  infrastructure/Makefile
  infrastructure/modules/networking/.terraform.lock.hcl
  infrastructure/modules/networking/tests/networking.tftest.hcl
Due: none

add tests and validations for nacl module
  infrastructure/modules/networking/modules/nacl/.terraform.lock.hcl
  infrastructure/modules/networking/modules/nacl/tests/nacl.tftest.hcl
  infrastructure/modules/networking/modules/nacl/variables.tf
Due: none

add tests and validations for vpc-endpoint module
  infrastructure/modules/networking/modules/vpc-endpoint/.terraform.lock.hcl
  infrastructure/modules/networking/modules/vpc-endpoint/main.tf
  infrastructure/modules/networking/modules/vpc-endpoint/tests/vpc-endpoint.tftest.hcl
  infrastructure/modules/networking/modules/vpc-endpoint/variables.tf
Due: none

coderabbit suggestions
  infrastructure/Makefile
  infrastructure/modules/networking/modules/nacl/tests/nacl.tftest.hcl
  infrastructure/modules/networking/modules/vpc-endpoint/variables.tf
Due: none

fix spell checks
  infrastructure/modules/networking/modules/vpc-endpoint/tests/vpc-endpoint.tftest.hcl
  infrastructure/modules/networking/tests/networking.tftest.hcl
Due: none

update code
  infrastructure/modules/networking/tests/networking.tftest.hcl
Due: none

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
