Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

fix issues
  frontend/__tests__/a11y/pages/SettingsPage.a11y.test.tsx
  frontend/__tests__/mockData/mockSubscriptionData.ts
  frontend/__tests__/unit/components/SubscribeButton.test.tsx
  frontend/__tests__/unit/pages/SettingsPage.test.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/SubscribeButton.tsx
Due: frontend

update code
  frontend/__tests__/unit/components/SubscribeButton.test.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/SubscribeButton.tsx
Due: frontend

fix sonar issue
  frontend/src/components/SubscribeButton.tsx
Due: frontend

Optimize EntityChannelNode (#5395)
  backend/src/apps/owasp/api/internal/dataloaders/__init__.py
  backend/src/apps/owasp/api/internal/dataloaders/entity_channel.py
  backend/src/apps/owasp/api/internal/nodes/entity_channel.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/entity_channel_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/entity_channel_test.py
Due: backend

Add GitHub dataloaders' regitration tests (#5399)
  backend/tests/unit/apps/github/api/internal/dataloaders/dataloaders_test.py
Due: backend

Add Mentorship dataloaders' registration tests (#5400)
  backend/tests/unit/apps/mentorship/api/internal/dataloaders/dataloaders_test.py
Due: backend

Optimize top_contributors resolver in CommitteeNode (#5380)
  backend/src/apps/github/api/internal/dataloaders/repository_contributor.py
  backend/src/apps/owasp/api/internal/nodes/committee.py
  backend/tests/unit/apps/github/api/internal/dataloaders/repository_contributor_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/committee_test.py
Due: backend

Update OWASP dataloaders' registration tests
  backend/tests/unit/apps/github/api/internal/dataloaders/dataloaders_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/dataloaders_test.py
Due: backend

run ci test
  backend/tests/unit/apps/owasp/models/crp/__init__.py
Due: backend

revert
  backend/tests/unit/apps/owasp/models/crp/__init__.py
Due: backend

Cleanup top-contributors old resolver
  backend/src/apps/owasp/api/internal/nodes/common.py
  backend/tests/unit/apps/owasp/api/internal/nodes/common_test.py
Due: backend

fixed code that left during merge conflict
  docker-compose/local/compose.yaml
  frontend/pnpm-lock.yaml
Due: frontend

fixed metadata and add crp docker volume for testing
  docker-compose/local/compose.override.yaml
  docker-compose/local/compose.yaml
  frontend/src/components/cards/Metadata.tsx
Due: frontend

fixed review
  backend/src/apps/github/common.py
  backend/src/apps/owasp/models/activity_event.py
Due: backend

update code
  backend/src/apps/owasp/api/internal/mutations/snapshot_subscription.py
  backend/src/apps/owasp/api/internal/queries/project.py
  backend/src/apps/owasp/models/snapshot_subscription.py
  backend/tests/unit/apps/owasp/api/internal/mutations/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/project_test.py
  backend/tests/unit/apps/owasp/models/snapshot_subscription_test.py
Due: backend

fix(security): stop writing GPG passphrase to disk, harden sanitizer test mock
  frontend/__tests__/unit/components/StructuredDataScript.test.tsx
  tools/security/renew_security_txt.py
Due: frontend

Update OWASP dataloaders' registration tests (#5407)
  backend/tests/unit/apps/github/api/internal/dataloaders/dataloaders_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/dataloaders_test.py
Due: backend

Cleanup top-contributors old resolver (#5413)
  backend/src/apps/owasp/api/internal/nodes/common.py
  backend/tests/unit/apps/owasp/api/internal/nodes/common_test.py
Due: backend

fixed test
  backend/tests/unit/apps/owasp/api/internal/queries/certificate_test.py
Due: backend

fixed coderabbit review
  backend/tests/unit/apps/owasp/utils/score_calculator_test.py
Due: backend

fix issue
  backend/tests/unit/apps/owasp/api/internal/mutations/snapshot_subscription_test.py
Due: backend

update code
  frontend/__tests__/unit/pages/SettingsPage.test.tsx
  frontend/src/app/settings/page.tsx
Due: frontend

fix issue
  frontend/__tests__/unit/pages/SettingsPage.test.tsx
Due: frontend

Updated crp-model to include deafult certificate
  backend/src/apps/owasp/api/internal/nodes/certificate.py
  backend/src/apps/owasp/api/internal/queries/certificate.py
  backend/src/apps/owasp/migrations/0076_remove_certificate_unique_active_cert_per_tier_and_more.py
  backend/src/apps/owasp/models/crp/certificate.py
Due: backend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  infrastructure/bootstrap/README.md
  infrastructure/live/README.md
  infrastructure/modules/alb/README.md
  infrastructure/modules/cache/README.md
  infrastructure/modules/database/README.md
  infrastructure/modules/ecr-cache/README.md
  infrastructure/modules/kms/README.md
  infrastructure/modules/networking/README.md
  infrastructure/modules/networking/modules/nacl/README.md
  infrastructure/modules/networking/modules/vpc-endpoint/README.md
  infrastructure/modules/parameters/README.md
  infrastructure/modules/security/README.md
  infrastructure/modules/service/README.md
  infrastructure/modules/storage/README.md
  infrastructure/modules/storage/modules/s3-bucket/README.md
  infrastructure/modules/storage/modules/shared-data-bucket/README.md
  infrastructure/modules/tasks/README.md
  infrastructure/modules/tasks/modules/task/README.md
  infrastructure/state/README.md
Due: none

address review
  backend/src/apps/owasp/admin/certificate.py
  backend/src/apps/owasp/api/internal/nodes/certificate.py
  backend/src/apps/owasp/api/internal/queries/certificate.py
  backend/src/apps/owasp/migrations/0076_remove_certificate_unique_active_cert_per_tier_and_more.py
  backend/src/apps/owasp/models/crp/certificate.py
  backend/src/apps/owasp/utils/certificate_provider.py
Due: backend

Address review
  backend/src/apps/owasp/admin/certificate.py
  backend/src/apps/owasp/api/internal/nodes/certificate.py
  backend/src/apps/owasp/migrations/0076_remove_certificate_unique_active_cert_per_tier_and_more.py
  backend/src/apps/owasp/models/crp/certificate.py
Due: backend

Updated order
  backend/src/apps/owasp/admin/certificate.py
  backend/src/apps/owasp/api/internal/nodes/certificate.py
  backend/src/apps/owasp/api/internal/queries/certificate.py
Due: backend

expose LocalStack ports and rename docker network
  docker-compose/infrastructure/compose.yaml
Due: none

fixed link display
  backend/src/apps/owasp/admin/certificate.py
Due: backend

add make target to run LocalStack
  infrastructure/Makefile
  infrastructure/make/run.mk
  infrastructure/make/test.mk
Due: none

fix: upgrade @heroui/react to v3
  eslint.config.mjs
  frontend/__tests__/a11y/components/ChapterMap.a11y.test.tsx
  frontend/__tests__/unit/components/BreadCrumbs.test.tsx
  frontend/__tests__/unit/components/ChapterMap.test.tsx
  frontend/__tests__/unit/components/EntityActions.test.tsx
  frontend/__tests__/unit/components/HealthMetrics.test.tsx
  frontend/__tests__/unit/components/IssuesTable.test.tsx
  frontend/__tests__/unit/components/ModuleCard.test.tsx
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/__tests__/unit/components/PageLayout.test.tsx
  frontend/__tests__/unit/components/ProgramCard.test.tsx
  frontend/__tests__/unit/components/ProjectsDashboardDropDown.test.tsx
  frontend/__tests__/unit/components/UserCard.test.tsx
  frontend/__tests__/unit/components/forms/shared/FormDateInput.test.tsx
  frontend/__tests__/unit/pages/ApiKeysPage.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/__tests__/unit/pages/Header.test.tsx
  frontend/__tests__/unit/pages/ProjectsHealthDashboardMetrics.test.tsx
  frontend/jest.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/globals.css
  frontend/src/app/projects/dashboard/metrics/page.tsx
  frontend/src/components/BreadCrumbs.tsx
  frontend/src/components/BreadCrumbsWrapper.tsx
  frontend/src/components/ModuleForm.tsx
  frontend/src/components/ProjectsDashboardDropDown.tsx
  frontend/src/components/ProjectsDashboardNavBar.tsx
  frontend/src/components/forms/shared/FormButtons.tsx
  frontend/src/components/forms/shared/FormDateInput.tsx
  frontend/src/components/forms/shared/FormTextInput.tsx
  frontend/src/wrappers/provider.tsx
  frontend/tailwind.config.mjs
Due: frontend

reafactor existing setup to be environment agnostic
  docker-compose/infrastructure/compose.integration.yaml
  docker-compose/infrastructure/compose.yaml
  docker/infrastructure/Dockerfile
  infrastructure/README.md
  infrastructure/make/maintenance.mk
  infrastructure/make/test.mk
  make/terraform.mk
Due: none

refactor and rename runner.py to be test environment specific
  infrastructure/scripts/run_tests.py
  infrastructure/scripts/tests_runner.py
  infrastructure/scripts/utils.py
  infrastructure/tests/scripts/tests_runner_test.py
  infrastructure/tests/scripts/utils_test.py
Due: none

add InfrastructureDeployRunner harness
  infrastructure/scripts/deploy_runner.py
  infrastructure/scripts/tests_runner.py
  infrastructure/scripts/utils.py
  infrastructure/tests/scripts/deploy_runner_test.py
  infrastructure/tests/scripts/tests_runner_test.py
  infrastructure/tests/scripts/utils_test.py
Due: none

orchestrate deployment to run terraform apply
  docker-compose/infrastructure/compose.deploy.yaml
  docker-compose/infrastructure/compose.integration.yaml
  docker-compose/infrastructure/compose.yaml
  infrastructure/live/terraform.localstack.tfbackend.example
  infrastructure/live/terraform.localstack.tfvars.example
  infrastructure/make/run.mk
  infrastructure/make/test.mk
  infrastructure/poetry.lock
  infrastructure/pyproject.toml
  infrastructure/scripts/deploy_runner.py
  infrastructure/scripts/run_deploy.py
  infrastructure/tests/scripts/deploy_runner_test.py
  infrastructure/tests/scripts/run_deploy_test.py
Due: none

Update Module Issues in Mentorship portal (#5388)
  frontend/__tests__/a11y/components/ModuleIssues.a11y.test.tsx
  frontend/__tests__/unit/components/EntityActions.test.tsx
  frontend/__tests__/unit/components/IssuesTable.test.tsx
  frontend/__tests__/unit/components/cards/ModuleIssues.test.tsx
  frontend/__tests__/unit/components/cards/Tags.test.tsx
  frontend/__tests__/unit/pages/IssuesPage.test.tsx
  frontend/__tests__/unit/pages/ModuleDetailsPage.test.tsx
  frontend/src/app/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/mentorship/programs/[programKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/page.tsx
  frontend/src/components/EntityActions.tsx
  frontend/src/components/IssuesTable.tsx
  frontend/src/components/ProgramCard.tsx
  frontend/src/components/ToggleableList.tsx
  frontend/src/components/cards/Header.tsx
  frontend/src/components/cards/Metadata.tsx
  frontend/src/components/cards/ModuleIssues.tsx
  frontend/src/components/cards/Summary.tsx
  frontend/src/components/cards/Tags.tsx
Due: frontend

Standardize CRP Certificate GraphQL validation (#5345)
  backend/src/apps/owasp/api/internal/nodes/certificate.py
  backend/src/apps/owasp/api/internal/queries/certificate.py
  backend/src/apps/owasp/models/crp/certificate.py
Due: backend

split bootstrap terraform state by environment (#5205)
  .github/workflows/ci-cd-production.yaml
  .github/workflows/ci-cd-staging.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-deploy.yaml
  .github/workflows/run-infrastructure-bootstrap.yaml
  infrastructure/README.md
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/backend.tf
  infrastructure/bootstrap/iam_policy_size_checks.tf
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/outputs.tf
  infrastructure/bootstrap/terraform.production.tfbackend.example
  infrastructure/bootstrap/terraform.production.tfvars.example
  infrastructure/bootstrap/terraform.staging.tfbackend.example
  infrastructure/bootstrap/terraform.staging.tfvars.example
  infrastructure/bootstrap/terraform.tfbackend.example
  infrastructure/bootstrap/terraform.tfvars.example
  infrastructure/bootstrap/tests/integration.tftest.hcl
  infrastructure/bootstrap/tests/unit.tftest.hcl
  infrastructure/bootstrap/variables.tf
  infrastructure/live/README.md
  infrastructure/live/main.tf
  infrastructure/live/terraform.production.tfvars.example
  infrastructure/live/terraform.staging.tfvars.example
  infrastructure/live/variables.tf
  infrastructure/modules/storage/README.md
  infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/outputs.tf
  infrastructure/modules/storage/tests/integration.tftest.hcl
  infrastructure/modules/storage/tests/unit.tftest.hcl
  infrastructure/modules/storage/variables.tf
  infrastructure/state/README.md
Due: none
