Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

Update code
  .github/workflows/run-e2e-tests.yaml
Due: none

Remove apt caching
  .github/workflows/run-e2e-tests.yaml
Due: none

Extract e2e tests into a separate workflow (#4687)
  .github/actions/install-poetry/action.yaml
  .github/actions/setup-backend-environment/action.yaml
  .github/workflows/run-backend-tests.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-code-quality-checks.yaml
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/run-fuzz-tests.yaml
  cspell/custom-dict.txt
  docker/e2e/Dockerfile
  e2e/components/Footer.spec.ts
  e2e/components/Header.spec.ts
  e2e/helpers/devices.ts
  e2e/pages/About.spec.ts
  e2e/pages/CalendarButton.spec.ts
  e2e/pages/ChapterDetails.spec.ts
  e2e/pages/Chapters.spec.ts
  e2e/pages/CommitteeDetails.spec.ts
  e2e/pages/Committees.spec.ts
  e2e/pages/Community.spec.ts
  e2e/pages/Contribute.spec.ts
  e2e/pages/Home.spec.ts
  e2e/pages/MentorshipPrograms.spec.ts
  e2e/pages/OrganizationDetails.spec.ts
  e2e/pages/Organizations.spec.ts
  e2e/pages/ProjectDetails.spec.ts
  e2e/pages/UserDetails.spec.ts
  e2e/playwright.config.ts
  frontend/next.config.ts
Due: frontend

Extract e2e tests into a separate workflow (#4687)
  .github/actions/install-poetry/action.yaml
  .github/actions/setup-backend-environment/action.yaml
  .github/workflows/run-backend-tests.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-code-quality-checks.yaml
  .github/workflows/run-e2e-tests.yaml
  .github/workflows/run-fuzz-tests.yaml
  cspell/custom-dict.txt
  e2e/components/Footer.spec.ts
  e2e/components/Header.spec.ts
  e2e/helpers/devices.ts
  e2e/pages/About.spec.ts
  e2e/pages/CalendarButton.spec.ts
  e2e/pages/ChapterDetails.spec.ts
  e2e/pages/Chapters.spec.ts
  e2e/pages/CommitteeDetails.spec.ts
  e2e/pages/Committees.spec.ts
  e2e/pages/Community.spec.ts
  e2e/pages/Contribute.spec.ts
  e2e/pages/Home.spec.ts
  e2e/pages/MentorshipPrograms.spec.ts
  e2e/pages/OrganizationDetails.spec.ts
  e2e/pages/Organizations.spec.ts
  e2e/pages/ProjectDetails.spec.ts
  e2e/pages/UserDetails.spec.ts
  e2e/playwright.config.ts
  frontend/next.config.ts
Due: frontend

Update code
  .github/workflows/run-ci-cd.yaml
  .github/workflows/set-release-version.yaml
Due: none

Extract set-release-version into a separate workflow (#4693)
  .github/workflows/run-ci-cd.yaml
  .github/workflows/set-release-version.yaml
Due: none

Extract build-images
  .github/workflows/build-images.yaml
  .github/workflows/run-ci-cd.yaml
Due: none

Update build-production-images
  .github/workflows/run-ci-cd.yaml
Due: none

Update code
  .github/workflows/run-ci-cd.yaml
Due: none

Extract scan-images
  .github/workflows/run-ci-cd.yaml
  .github/workflows/scan-images.yaml
Due: none

Update scan-production-images
  .github/workflows/run-ci-cd.yaml
Due: none

Extract bootstrap-infrastructure
  .github/workflows/bootstrap-infrastructure.yaml
Due: none

Update CI/CD
  .github/workflows/run-ci-cd.yaml
Due: none

Add terraform caching
  .github/workflows/bootstrap-infrastructure.yaml
Due: none

Update code
  .github/workflows/scan-images.yaml
Due: none

Update Trivy caching
  .github/workflows/run-code-quality-checks.yaml
  .github/workflows/scan-images.yaml
Due: none

feat(search): add debounced input, request cancellation, and resilient error handling
  frontend/src/components/MultiSearch.tsx
  frontend/src/components/Search.tsx
  frontend/src/hooks/useSearchPage.ts
  frontend/src/server/fetchAlgoliaData.ts
  frontend/src/utils/constants.ts
Due: frontend

feat(search): add debounce and request cancellation with AbortController
  frontend/src/components/MultiSearch.tsx
Due: frontend

feat(search): add debounce and request cancellation with AbortController
  frontend/src/components/MultiSearch.tsx
  frontend/src/server/fetchAlgoliaData.ts
Due: frontend

chore: apply formatting fixes
  frontend/src/components/MultiSearch.tsx
  frontend/src/server/fetchAlgoliaData.ts
Due: frontend

chore: apply pre-commit formatting fixes
  frontend/src/components/MultiSearch.tsx
  frontend/src/server/fetchAlgoliaData.ts
Due: frontend

test(search): fix CI failures related to AbortController changes
  frontend/__tests__/unit/components/MultiSearch.test.tsx
  frontend/__tests__/unit/pages/Contribute.test.tsx
  frontend/src/components/MultiSearch.tsx
Due: frontend

fix(search): clear stale query params when resetting filters
  frontend/__tests__/unit/components/MultiSearch.test.tsx
  frontend/src/components/MultiSearch.tsx
Due: frontend

fix(search): resolve review issues, keyboard navigation, date parsing, and security scan dependencies
  frontend/__tests__/a11y/pages/ApiKeysPage.a11y.test.tsx
  frontend/__tests__/unit/components/MultiSearch.test.tsx
  frontend/jest.config.ts
Due: frontend

Update dependency management
  .github/workflows/run-ci-cd.yaml
  .github/workflows/setup-backend-environment/action.yaml
  .readthedocs.yaml
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
  backend/requirements.build.txt
  cspell/pnpm-workspace.yaml
  docker/cspell/Dockerfile
  docker/e2e/Dockerfile
  docker/frontend/Dockerfile
  docker/frontend/Dockerfile.a11y.test
  docker/frontend/Dockerfile.local
  docker/frontend/Dockerfile.unit.test
  docs/poetry.toml
  e2e/pnpm-workspace.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: backend, frontend

Update code
  .github/workflows/run-ci-cd.yaml
  .github/workflows/setup-backend-environment/action.yaml
Due: none

Update code
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
Due: backend

Update code
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
  docs/poetry.lock
  docs/poetry.toml
  docs/pyproject.toml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: backend, frontend

Update deps
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

Update deps
  .readthedocs.yaml
Due: none

Update dependency management (#4726)
  .github/workflows/run-ci-cd.yaml
  .github/workflows/setup-backend-environment/action.yaml
  .readthedocs.yaml
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
  backend/requirements.build.txt
  cspell/pnpm-workspace.yaml
  docker/cspell/Dockerfile
  docker/e2e/Dockerfile
  docker/frontend/Dockerfile
  docker/frontend/Dockerfile.a11y.test
  docker/frontend/Dockerfile.local
  docker/frontend/Dockerfile.unit.test
  docs/poetry.lock
  docs/poetry.toml
  docs/pyproject.toml
  e2e/pnpm-workspace.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: backend, frontend

Bump algoliasearch to 4.40.0
  backend/poetry.lock
  backend/pyproject.toml
Due: backend

Bump posthog-js to 1.372.6
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

Bump dompurify to 3.4.2
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

Update slack/actions/home_test.py tests
  backend/tests/unit/apps/slack/actions/home_test.py
Due: backend

Ignore langchaing deprecation warning in tests
  backend/pyproject.toml
Due: backend

Clean up no longer used proxy related settings
  .github/labeler.yml
  .gitignore
  docker-compose/proxy/compose.yaml
  proxy/blocked_ips.conf
  proxy/cloudflare_realip.conf
  proxy/headers.conf
  proxy/production.conf
  proxy/proxy_cache.conf
  proxy/redirects.conf
  proxy/staging.conf
Due: none

Remove unused loggers
  backend/apps/common/eleven_labs.py
  backend/apps/github/management/commands/github_enrich_issues.py
  backend/apps/mentorship/management/commands/mentorship_update_comments.py
  backend/apps/owasp/management/commands/owasp_enrich_committees.py
  backend/apps/owasp/management/commands/owasp_enrich_projects.py
  backend/apps/slack/events/member_joined_channel/gsoc.py
  backend/apps/slack/events/member_joined_channel/project_nest.py
  backend/apps/slack/events/team_join.py
Due: backend
