Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 80%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

update code
  .github/workflows/run-ci-cd.yaml
  backend/Makefile
  backend/zappa_settings.template.json
Due: backend

cleanup old staging setup
  .github/ansible/inventory.yaml
  .github/ansible/staging/nest.yaml
  .github/ansible/staging/proxy.yaml
  cron/staging
  docker-compose/staging/compose.yaml
Due: none

update terraform outputs and variables and use terraform output as source of ids
  .github/workflows/run-ci-cd.yaml
  infrastructure/backend/variables.tf
  infrastructure/modules/ecs/outputs.tf
  infrastructure/modules/storage/outputs.tf
  infrastructure/staging/main.tf
  infrastructure/staging/outputs.tf
  infrastructure/staging/variables.tf
Due: none

append _NAME to environment secrets
  .github/workflows/run-ci-cd.yaml
Due: none

fix issue
  backend/apps/mentorship/signals/program.py
Due: backend

Fix negative indexing
  backend/apps/github/api/internal/nodes/repository.py
  backend/apps/github/api/internal/queries/milestone.py
  backend/apps/owasp/api/internal/nodes/project.py
  backend/apps/owasp/api/internal/queries/project.py
Due: backend

fix issue (#3477)
  backend/apps/mentorship/signals/program.py
Due: backend

refactor: remove redundant character classes in slugify regex
  frontend/src/utils/slugify.ts
Due: frontend

refactor: remove redundant character classes in slugify regex (#3484)
  frontend/src/utils/slugify.ts
Due: frontend

Run make-check
  frontend/src/components/MetricsScoreCircle.tsx
Due: frontend

Update migration and code
  backend/apps/github/api/internal/utils.py
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/apps/mentorship/api/internal/mutations/program.py
  backend/apps/mentorship/api/internal/queries/program.py
  backend/apps/mentorship/migrations/0007_alter_mentor_github_user_alter_mentor_nest_user_and_more.py
  backend/apps/mentorship/migrations/0007_programadmin_alter_program_admins.py
  backend/apps/mentorship/models/common/linked_user.py
  backend/apps/mentorship/models/mentor.py
Due: backend

Run make-check
  backend/apps/mentorship/migrations/0007_alter_mentor_github_user_alter_mentor_nest_user_and_more.py
Due: backend

fix: prefer optional chaining over logical AND guards (S6582)
  frontend/src/app/chapters/page.tsx
  frontend/src/app/committees/page.tsx
Due: frontend

refactor: use optional chaining in programs page
  frontend/src/app/mentorship/programs/page.tsx
Due: frontend

Consolidate ci/cd and local command run. Improve security scan implementation.
  .github/dependabot.yml
  .github/workflows/run-ci-cd.yaml
  .gitignore
  .pre-commit-config.yaml
  .semgrepignore
  Makefile
  backend/apps/github/admin/issue.py
  backend/apps/github/admin/pull_request.py
  backend/apps/github/admin/repository.py
  backend/apps/owasp/admin/mixins.py
  backend/apps/owasp/admin/widgets.py
  backend/apps/slack/views.py
  docker/semgrep/Dockerfile
  proxy/redirects.conf
Due: backend

add test
  backend/apps/owasp/api/internal/nodes/project.py
  backend/apps/owasp/management/commands/owasp_aggregate_projects.py
  backend/apps/owasp/migrations/0073_project_recent_milestones.py
  backend/apps/owasp/models/project.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
Due: backend

Run make check
  frontend/src/app/mentorship/programs/page.tsx
Due: frontend

Update code
  .github/workflows/run-ci-cd.yaml
Due: none

Run make check
  frontend/src/app/chapters/page.tsx
Due: frontend

Refactor programs page to use optional chaining (S6582) (#3486)
  frontend/src/app/mentorship/programs/page.tsx
Due: frontend

fix: prefer optional chaining over logical AND guards (S6582) (#3485)
  frontend/src/app/chapters/page.tsx
  frontend/src/app/committees/page.tsx
Due: frontend

feat: implement enforced Semgrep scanning with clean baseline (#2984) (#3406)
  .github/dependabot.yml
  .github/workflows/run-ci-cd.yaml
  .gitignore
  Makefile
  backend/apps/api/decorators/cache.py
  backend/apps/api/internal/mutations/api_key.py
  backend/apps/github/admin/issue.py
  backend/apps/github/admin/pull_request.py
  backend/apps/github/admin/repository.py
  backend/apps/owasp/admin/mixins.py
  backend/apps/owasp/admin/widgets.py
  backend/apps/slack/views.py
  cspell/Dockerfile
  cspell/custom-dict.txt
  docker/cspell/Dockerfile
  docker/semgrep/Dockerfile
  frontend/nginx.conf
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/organizations/[organizationKey]/layout.tsx
  frontend/src/components/StructuredDataScript.tsx
  proxy/production.conf
  proxy/redirects.conf
  proxy/staging.conf
Due: backend, frontend

test: fix keyboard interaction test for native button
  frontend/__tests__/unit/components/MetricsScoreCircle.test.tsx
Due: frontend

date selection for modules edit and create (#3424)
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/create/page.tsx
  frontend/src/components/ModuleForm.tsx
  frontend/src/components/forms/shared/FormDateInput.tsx
  frontend/src/server/queries/moduleQueries.ts
  frontend/src/server/queries/programsQueries.ts
  frontend/src/types/__generated__/moduleQueries.generated.ts
  frontend/src/types/__generated__/programsQueries.generated.ts
Due: frontend

refactor: standardize error parameter naming in catch block
  frontend/src/app/my/mentorship/programs/[programKey]/modules/create/page.tsx
Due: frontend

Make the page responsive
  frontend/src/app/projects/dashboard/layout.tsx
  frontend/src/app/projects/dashboard/metrics/[projectKey]/page.tsx
  frontend/src/components/GeneralCompliantComponent.tsx
  frontend/src/components/MetricsScoreCircle.tsx
  frontend/src/components/ProjectsDashboardNavBar.tsx
Due: frontend

fix: send uppercase ProjectLevel enum in health metrics filters
  frontend/src/app/projects/dashboard/metrics/page.tsx
Due: frontend

fixed responsivenes in medium screen
  frontend/src/app/projects/dashboard/metrics/[projectKey]/page.tsx
Due: frontend

add tests for parameters module
  infrastructure/modules/parameters/.terraform.lock.hcl
  infrastructure/modules/parameters/outputs.tf
  infrastructure/modules/parameters/tests/parameters.tftest.hcl
Due: none

test: add tests for cache invalidation
  backend/tests/apps/common/extensions_test.py
Due: backend

fix: update test
  frontend/__tests__/unit/components/SingleModuleCard.test.tsx
Due: frontend

Run make update
  .pre-commit-config.yaml
  backend/poetry.lock
  docker/frontend/Dockerfile.e2e.test
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

refactor: simplify session casting and improve type safety in MyMentorshipPage
  frontend/src/app/my/mentorship/page.tsx
Due: frontend

feat: implement show more toggle for related milestones on program page
  backend/apps/mentorship/api/internal/nodes/program.py
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/types/__generated__/graphql.ts
Due: backend, frontend

fix: address CodeRabbit feedback
  frontend/src/components/CardDetailsPage.tsx
Due: frontend

feat(frontend): add PostHog analytics
  frontend/.env.example
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/instrumentation-client.ts
  frontend/src/utils/env.client.ts
Due: frontend

Bump run-frontend-e2e-tests timeout
  .github/workflows/run-ci-cd.yaml
Due: none

Update .github/workflows/run-ci-cd.yaml
  .github/workflows/run-ci-cd.yaml
Due: none
