Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

don't cascade on entity member delete
  backend/src/apps/owasp/admin/board_meeting.py
  backend/src/apps/owasp/migrations/0073_boarddiscussion_boardmeeting_boardmotion_and_more.py
  backend/src/apps/owasp/models/board_motion.py
  backend/tests/unit/apps/owasp/models/board_motion_test.py
Due: backend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/main.tf
  infrastructure/live/README.md
  infrastructure/live/main.tf
  infrastructure/modules/alb/README.md
  infrastructure/modules/alb/main.tf
  infrastructure/modules/cache/README.md
  infrastructure/modules/cache/main.tf
  infrastructure/modules/database/README.md
  infrastructure/modules/database/main.tf
  infrastructure/modules/ecr-cache/README.md
  infrastructure/modules/ecr-cache/main.tf
  infrastructure/modules/kms/README.md
  infrastructure/modules/kms/main.tf
  infrastructure/modules/networking/README.md
  infrastructure/modules/networking/main.tf
  infrastructure/modules/networking/modules/nacl/README.md
  infrastructure/modules/networking/modules/nacl/main.tf
  infrastructure/modules/networking/modules/vpc-endpoint/README.md
  infrastructure/modules/networking/modules/vpc-endpoint/main.tf
  infrastructure/modules/parameters/README.md
  infrastructure/modules/parameters/main.tf
  infrastructure/modules/security/README.md
  infrastructure/modules/security/main.tf
  infrastructure/modules/service/README.md
  infrastructure/modules/service/main.tf
  infrastructure/modules/storage/README.md
  infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/modules/s3-bucket/README.md
  infrastructure/modules/storage/modules/s3-bucket/main.tf
  infrastructure/modules/storage/modules/shared-data-bucket/README.md
  infrastructure/modules/storage/modules/shared-data-bucket/main.tf
  infrastructure/modules/tasks/README.md
  infrastructure/modules/tasks/main.tf
  infrastructure/modules/tasks/modules/task/README.md
  infrastructure/modules/tasks/modules/task/main.tf
  infrastructure/state/README.md
  infrastructure/state/main.tf
Due: none

Add mkdocs permalinks Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  .mkdocs.yaml
Due: none

Add mkdocs permalinks (#5495)
  .mkdocs.yaml
Due: none

update code
  backend/src/apps/owasp/services/email/django_email.py
  backend/tests/unit/apps/owasp/services/email/django_email_test.py
  frontend/src/types/__generated__/graphql.ts
Due: backend, frontend

Add newsletter digest pipeline
  .pre-commit-config.yaml
  .prettierignore
  backend/make/apps/owasp.mk
  backend/src/apps/owasp/management/commands/owasp_send_snapshot_emails.py
  backend/src/apps/owasp/services/__init__.py
  backend/src/apps/owasp/services/newsletter.py
  backend/src/apps/owasp/templates/emails/snapshot_digest.html
  backend/src/apps/owasp/templates/emails/snapshot_digest.txt
  backend/static/img/OWASP_logo.png
  backend/static/img/bluesky.png
  backend/static/img/github.png
  backend/static/img/linkedin.png
  backend/static/img/slack.png
  backend/tests/unit/apps/owasp/management/commands/owasp_send_snapshot_emails_test.py
  backend/tests/unit/apps/owasp/services/newsletter_test.py
  cspell/custom-dict.txt
Due: backend

add parse() to OpenAi class to get pydantic parsed output
  backend/src/apps/common/open_ai.py
  backend/tests/unit/apps/common/open_ai_test.py
Due: backend

update code
  backend/src/apps/owasp/admin/board_discussion.py
  backend/src/apps/owasp/admin/board_meeting.py
  backend/src/apps/owasp/admin/board_outcome.py
  backend/src/apps/owasp/admin/board_vote.py
Due: backend

fix: add otel dependencies
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

fix issues
  backend/src/apps/owasp/management/commands/owasp_send_snapshot_emails.py
  backend/src/apps/owasp/services/newsletter.py
  backend/src/apps/owasp/templates/emails/snapshot_digest.html
  backend/src/apps/owasp/templates/emails/snapshot_digest.txt
  backend/tests/unit/apps/owasp/management/commands/owasp_send_snapshot_emails_test.py
Due: backend

fix: bump postgresql16-client pin to 16.15-r0
  docker/backend/Dockerfile
  docker/backend/Dockerfile.local
Due: none

update code
  backend/tests/unit/apps/owasp/services/newsletter_test.py
Due: backend

update code
  backend/src/apps/owasp/templates/emails/snapshot_digest.html
  frontend/public/img/OWASP_logo.png
  frontend/public/img/bluesky.png
  frontend/public/img/github.png
  frontend/public/img/linkedin.png
  frontend/public/img/slack.png
Due: backend, frontend

fix: bump postgresql16-client pin to 16.15-r0 (#5505)
  docker/backend/Dockerfile
  docker/backend/Dockerfile.local
Due: none

inject authtoken in playwright
  docker-compose/e2e/compose.yaml
  e2e/helpers/loginAs.ts
  e2e/package.json
  e2e/pnpm-lock.yaml
  frontend/src/app/api/e2e/session/route.ts
Due: frontend

address bot ewview
  docker-compose/e2e/compose.yaml
Due: none

Added Pulse Ui Frontend Page
  backend/src/apps/github/common.py
  backend/src/apps/owasp/admin/__init__.py
  backend/src/apps/owasp/admin/activity_event.py
  backend/src/apps/owasp/api/internal/nodes/activity_event.py
  backend/src/apps/owasp/api/internal/queries/__init__.py
  backend/src/apps/owasp/api/internal/queries/activity_event.py
  backend/src/apps/owasp/api/internal/queries/chapter.py
  backend/src/apps/owasp/migrations/0073_activityevent.py
  backend/src/apps/owasp/models/__init__.py
  backend/src/apps/owasp/models/activity_event.py
  backend/tests/unit/apps/github/common_test.py
  docker-compose/local/compose.override.yaml
  frontend/src/app/pulse/layout.tsx
  frontend/src/app/pulse/page.tsx
  frontend/src/components/pulse/PulseFilters.tsx
  frontend/src/components/pulse/PulseMetricsCards.tsx
  frontend/src/components/pulse/PulseTimelineItem.tsx
  frontend/src/server/queries/chapterQueries.ts
  frontend/src/server/queries/pulseQueries.ts
  frontend/src/types/__generated__/chapterQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/pulseQueries.generated.ts
  frontend/src/types/pulse.ts
  frontend/src/utils/metadata.ts
Due: backend, frontend

Update Code
  infrastructure/live/main.tf
  infrastructure/live/variables.tf
Due: none

Update Terraform documentation
  infrastructure/live/README.md
Due: none

Update observability AWS provider
  infrastructure/modules/observability/.terraform.lock.hcl
  infrastructure/modules/observability/main.tf
  infrastructure/modules/observability/tests/setup/.terraform.lock.hcl
  infrastructure/modules/observability/tests/setup/main.tf
Due: none

Update observability provider metadata
  infrastructure/modules/observability/.terraform.lock.hcl
  infrastructure/modules/observability/README.md
  infrastructure/modules/observability/tests/setup/.terraform.lock.hcl
Due: none

add parser boilerplate code
  backend/make/apps/owasp.mk
  backend/src/apps/owasp/management/commands/owasp_sync_board_activity.py
  backend/src/apps/owasp/parsers/__init__.py
  backend/tests/unit/apps/owasp/management/commands/owasp_sync_board_activity_test.py
  backend/tests/unit/apps/owasp/parsers/__init__.py
Due: backend

add parsers, schemas, and translators
  backend/src/apps/common/open_ai.py
  backend/src/apps/owasp/parsers/board_activity/__init__.py
  backend/src/apps/owasp/parsers/board_activity/schemas.py
  backend/src/apps/owasp/parsers/board_activity/sync.py
  backend/src/apps/owasp/parsers/board_activity/translator.py
  backend/tests/unit/apps/common/open_ai_test.py
  backend/tests/unit/apps/owasp/parsers/board_activity/__init__.py
  backend/tests/unit/apps/owasp/parsers/board_activity/sync_test.py
  backend/tests/unit/apps/owasp/parsers/board_activity/translator_test.py
Due: backend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  infrastructure/bootstrap/README.md
  infrastructure/modules/alb/README.md
  infrastructure/modules/cache/README.md
  infrastructure/modules/database/README.md
  infrastructure/modules/ecr-cache/README.md
  infrastructure/modules/kms/README.md
  infrastructure/modules/networking/modules/nacl/README.md
  infrastructure/modules/networking/modules/vpc-endpoint/README.md
  infrastructure/modules/parameters/README.md
  infrastructure/modules/security/README.md
  infrastructure/modules/service/README.md
  infrastructure/modules/storage/modules/s3-bucket/README.md
  infrastructure/modules/storage/modules/shared-data-bucket/README.md
  infrastructure/modules/tasks/modules/task/README.md
Due: none

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  infrastructure/live/.terraform.lock.hcl
  infrastructure/live/README.md
  infrastructure/live/main.tf
  infrastructure/modules/networking/.terraform.lock.hcl
  infrastructure/modules/networking/README.md
  infrastructure/modules/networking/main.tf
  infrastructure/modules/storage/.terraform.lock.hcl
  infrastructure/modules/storage/README.md
  infrastructure/modules/storage/main.tf
  infrastructure/modules/tasks/.terraform.lock.hcl
  infrastructure/modules/tasks/README.md
  infrastructure/modules/tasks/main.tf
  infrastructure/state/.terraform.lock.hcl
  infrastructure/state/README.md
  infrastructure/state/main.tf
Due: none

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  backend/src/apps/owasp/admin/snapshot_subscription.py
Due: backend

Updated crp-model to include default certificate (#5420)
  backend/src/apps/owasp/admin/certificate.py
  backend/src/apps/owasp/admin/contribution_score.py
  backend/src/apps/owasp/api/internal/nodes/certificate.py
  backend/src/apps/owasp/api/internal/queries/certificate.py
  backend/src/apps/owasp/migrations/0076_remove_certificate_unique_active_cert_per_tier_and_more.py
  backend/src/apps/owasp/models/crp/certificate.py
  backend/src/apps/owasp/utils/certificate_provider.py
  backend/tests/unit/apps/owasp/admin/contribution_score_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/certificate_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/certificate_test.py
  backend/tests/unit/apps/owasp/models/crp/certificate_test.py
  backend/tests/unit/apps/owasp/utils/certificate_provider_test.py
Due: backend

Updated the certificate to plural
  frontend/__tests__/unit/components/CertificateCard.test.tsx
  frontend/__tests__/unit/components/UserMenu.test.tsx
  frontend/__tests__/unit/pages/CertificateVerificationPage.test.tsx
  frontend/__tests__/unit/pages/MyCertificatePage.test.tsx
  frontend/src/app/certificates/[certificateId]/layout.tsx
  frontend/src/app/certificates/[certificateId]/page.tsx
  frontend/src/app/my/certificates/issue/layout.tsx
  frontend/src/app/my/certificates/issue/page.tsx
  frontend/src/app/my/certificates/layout.tsx
  frontend/src/app/my/certificates/page.tsx
  frontend/src/components/CertificateCard.tsx
  frontend/src/components/UserMenu.tsx
Due: frontend

test: update CalendarButton error handling test to match implementation changes
  frontend/__tests__/unit/components/CalendarButton.test.tsx
Due: frontend

FIxed merge issue
  frontend/pnpm-lock.yaml
Due: frontend

add range check to month
  backend/src/apps/owasp/management/commands/owasp_sync_board_activity.py
  backend/tests/unit/apps/owasp/management/commands/owasp_sync_board_activity_test.py
Due: backend

use datetime type for ParsedMeeting.date
  backend/src/apps/owasp/parsers/board_activity/schemas.py
  backend/src/apps/owasp/parsers/board_activity/translator.py
  backend/tests/unit/apps/owasp/parsers/board_activity/translator_test.py
Due: backend

update code
  backend/src/apps/owasp/management/commands/owasp_sync_board_activity.py
  backend/src/apps/owasp/parsers/board_activity/sync.py
  backend/src/apps/owasp/parsers/board_activity/translator.py
  backend/tests/unit/apps/owasp/management/commands/owasp_sync_board_activity_test.py
  backend/tests/unit/apps/owasp/parsers/board_activity/sync_test.py
  backend/tests/unit/apps/owasp/parsers/board_activity/translator_test.py
Due: backend
