Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix security vuls reported by dependabot (#5386)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

Address coderabbitai review
  backend/src/apps/owasp/api/internal/queries/activity_event.py
Due: backend

generate graphql types
  frontend/src/types/__generated__/EntityActions.generated.ts
  frontend/src/types/__generated__/aboutQueries.generated.ts
  frontend/src/types/__generated__/apiKeyQueries.generated.ts
  frontend/src/types/__generated__/authQueries.generated.ts
  frontend/src/types/__generated__/boardQueries.generated.ts
  frontend/src/types/__generated__/chapterQueries.generated.ts
  frontend/src/types/__generated__/claimMutations.generated.ts
  frontend/src/types/__generated__/claimQueries.generated.ts
  frontend/src/types/__generated__/committeeQueries.generated.ts
  frontend/src/types/__generated__/evidenceMutations.generated.ts
  frontend/src/types/__generated__/evidenceQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/homeQueries.generated.ts
  frontend/src/types/__generated__/issueQueries.generated.ts
  frontend/src/types/__generated__/menteeQueries.generated.ts
  frontend/src/types/__generated__/mentorshipQueries.generated.ts
  frontend/src/types/__generated__/moduleMutations.generated.ts
  frontend/src/types/__generated__/moduleQueries.generated.ts
  frontend/src/types/__generated__/organizationQueries.generated.ts
  frontend/src/types/__generated__/programsMutations.generated.ts
  frontend/src/types/__generated__/programsQueries.generated.ts
  frontend/src/types/__generated__/projectQueries.generated.ts
  frontend/src/types/__generated__/projectsHealthDashboardQueries.generated.ts
  frontend/src/types/__generated__/repositoryQueries.generated.ts
  frontend/src/types/__generated__/reviewMutations.generated.ts
  frontend/src/types/__generated__/reviewQueries.generated.ts
  frontend/src/types/__generated__/snapshotQueries.generated.ts
  frontend/src/types/__generated__/userQueries.generated.ts
Due: frontend

Update mentorship portal issues
  frontend/__tests__/a11y/components/ModuleIssues.a11y.test.tsx
  frontend/__tests__/unit/components/EntityActions.test.tsx
  frontend/__tests__/unit/components/IssuesTable.test.tsx
  frontend/__tests__/unit/components/cards/ModuleIssues.test.tsx
  frontend/__tests__/unit/components/cards/Tags.test.tsx
  frontend/__tests__/unit/pages/ModuleDetailsPage.test.tsx
  frontend/src/app/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/mentorship/programs/[programKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/page.tsx
  frontend/src/components/EntityActions.tsx
  frontend/src/components/IssuesTable.tsx
  frontend/src/components/ProgramCard.tsx
  frontend/src/components/ToggleableList.tsx
  frontend/src/components/cards/Header.tsx
  frontend/src/components/cards/Metadata.tsx
  frontend/src/components/cards/ModuleIssues.tsx
  frontend/src/components/cards/Summary.tsx
  frontend/src/components/cards/Tags.tsx
Due: frontend

Update code
  frontend/__tests__/a11y/components/ModuleIssues.a11y.test.tsx
  frontend/__tests__/unit/components/cards/ModuleIssues.test.tsx
  frontend/__tests__/unit/pages/ModuleDetailsPage.test.tsx
  frontend/src/components/cards/ModuleIssues.tsx
Due: frontend

added actitivty builder
  backend/src/apps/github/admin/__init__.py
  backend/src/apps/github/common.py
  backend/src/apps/github/migrations/0045_activityevent.py
  backend/src/apps/github/models/__init__.py
  backend/src/apps/github/models/activity_event.py
  backend/src/apps/github/models/enums/__init__.py
  backend/src/apps/github/models/enums/activity_event.py
  backend/src/apps/owasp/admin/__init__.py
  backend/src/apps/owasp/admin/activity_event.py
  backend/src/apps/owasp/migrations/0073_activityevent.py
  backend/src/apps/owasp/models/__init__.py
  backend/src/apps/owasp/models/activity_event.py
  backend/tests/unit/apps/github/common_test.py
Due: backend

adress review
  backend/src/apps/github/migrations/0045_activityevent.py
  backend/src/apps/github/models/activity_event.py
  backend/src/apps/github/models/enums/activity_event.py
Due: backend

Implemented data model
  backend/src/apps/github/admin/__init__.py
  backend/src/apps/github/admin/activity_event.py
  backend/src/apps/github/migrations/0045_activityevent.py
  backend/src/apps/github/models/__init__.py
  backend/src/apps/github/models/activity_event.py
  backend/src/apps/github/models/enums/__init__.py
  backend/src/apps/github/models/enums/activity_event.py
  docker-compose/local/compose.yaml
Due: backend

Address review
  backend/src/apps/owasp/migrations/0073_activityevent.py
  backend/src/apps/owasp/models/activity_event.py
  docker-compose/local/compose.override.yaml
  docker-compose/local/compose.yaml
Due: backend

updated order
  backend/src/apps/owasp/admin/activity_event.py
Due: backend

add pydantic input validation for graphql mutations
  backend/src/apps/common/api/__init__.py
  backend/src/apps/common/api/internal/__init__.py
  backend/src/apps/common/api/internal/mutations/__init__.py
  backend/src/apps/common/api/internal/mutations/common.py
  backend/src/apps/owasp/api/internal/mutations/board_candidate_claim.py
  backend/src/apps/owasp/api/internal/mutations/board_candidate_claim_evidence.py
  backend/src/apps/owasp/api/internal/mutations/board_candidate_claim_review.py
  backend/tests/unit/apps/common/api/__init__.py
  backend/tests/unit/apps/common/api/internal/__init__.py
  backend/tests/unit/apps/common/api/internal/mutations/__init__.py
  backend/tests/unit/apps/common/api/internal/mutations/common_test.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_review_test.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_test.py
  frontend/__tests__/unit/components/EvidenceForm.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/create/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/create/page.tsx
  frontend/src/components/ClaimActions.tsx
  frontend/src/components/ClaimForm.tsx
  frontend/src/components/EvidenceActions.tsx
  frontend/src/components/EvidenceForm.tsx
  frontend/src/server/mutations/claimMutations.ts
  frontend/src/server/mutations/evidenceMutations.ts
  frontend/src/server/mutations/reviewMutations.ts
  frontend/src/types/__generated__/claimMutations.generated.ts
  frontend/src/types/__generated__/evidenceMutations.generated.ts
  frontend/src/types/__generated__/reviewMutations.generated.ts
Due: backend, frontend

generate graphql types post merge
  frontend/src/types/__generated__/graphql.ts
Due: frontend

fix source_url bug
  backend/src/apps/common/api/internal/mutations/common.py
  backend/tests/unit/apps/common/api/internal/mutations/common_test.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_review_test.py
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/create/page.tsx
Due: backend, frontend

address bot comments
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_evidence_test.py
  frontend/__tests__/unit/components/EvidenceForm.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/create/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/create/page.tsx
Due: backend, frontend

Fixed Published Issue
  backend/src/apps/github/common.py
  backend/src/apps/owasp/models/activity_event.py
Due: backend

run prettier
  frontend/__tests__/unit/components/EvidenceForm.test.tsx
Due: frontend

fix frontend tests
  frontend/__tests__/unit/pages/CreateClaimPage.test.tsx
  frontend/__tests__/unit/pages/CreateEvidencePage.test.tsx
  frontend/__tests__/unit/pages/EditClaimPage.test.tsx
  frontend/__tests__/unit/pages/EditEvidencePage.test.tsx
Due: frontend

adress review
  backend/src/apps/github/common.py
  backend/src/apps/owasp/models/activity_event.py
Due: backend

update
  backend/src/apps/github/common.py
Due: backend

add s3 bucket for django media storage for production and staging
  backend/src/settings/local.py
  backend/src/settings/production.py
  backend/src/settings/staging.py
  infrastructure/live/main.tf
  infrastructure/modules/parameters/README.md
  infrastructure/modules/parameters/main.tf
  infrastructure/modules/parameters/outputs.tf
  infrastructure/modules/parameters/tests/integration.tftest.hcl
  infrastructure/modules/parameters/tests/unit.tftest.hcl
  infrastructure/modules/parameters/variables.tf
  infrastructure/modules/storage/README.md
  infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/outputs.tf
  infrastructure/modules/storage/tests/integration.tftest.hcl
  infrastructure/modules/storage/tests/unit.tftest.hcl
Due: backend

set custom_domain in storage options
  backend/src/settings/production.py
  backend/src/settings/staging.py
Due: backend

update tests
  infrastructure/bootstrap/tests/unit.tftest.hcl
Due: none

migrate shared data bucket to production
  .github/workflows/ci-cd-production.yaml
  .github/workflows/ci-cd-staging.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-deploy.yaml
  infrastructure/bootstrap/tests/unit.tftest.hcl
  infrastructure/live/README.md
  infrastructure/live/main.tf
  infrastructure/live/terraform.production.tfvars.example
  infrastructure/live/terraform.staging.tfvars.example
  infrastructure/live/variables.tf
  infrastructure/modules/storage/README.md
  infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/outputs.tf
  infrastructure/modules/storage/tests/integration.tftest.hcl
  infrastructure/modules/storage/tests/unit.tftest.hcl
  infrastructure/modules/storage/variables.tf
Due: none

update code
  backend/src/apps/owasp/admin/__init__.py
  backend/src/apps/owasp/admin/entity_subscription.py
  backend/src/apps/owasp/admin/snapshot_subscription.py
  backend/src/apps/owasp/api/internal/mutations/__init__.py
  backend/src/apps/owasp/api/internal/mutations/entity_subscription.py
  backend/src/apps/owasp/api/internal/mutations/snapshot_subscription.py
  backend/src/apps/owasp/api/internal/nodes/entity_subscription.py
  backend/src/apps/owasp/api/internal/nodes/snapshot_subscription.py
  backend/src/apps/owasp/api/internal/queries/__init__.py
  backend/src/apps/owasp/api/internal/queries/entity_subscription.py
  backend/src/apps/owasp/api/internal/queries/snapshot_subscription.py
  backend/src/apps/owasp/migrations/0075_snapshotsubscription.py
  backend/src/apps/owasp/migrations/0076__add_entity_subscription_models.py
  backend/src/apps/owasp/models/__init__.py
  backend/src/apps/owasp/models/entity_subscription.py
  backend/src/apps/owasp/models/snapshot_subscription.py
  backend/tests/unit/apps/owasp/admin/entity_subscription_test.py
  backend/tests/unit/apps/owasp/admin/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/api/internal/mutations/entity_subscription_test.py
  backend/tests/unit/apps/owasp/api/internal/mutations/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/entity_subscription_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/entity_subscription_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/models/entity_subscription_test.py
  backend/tests/unit/apps/owasp/models/snapshot_subscription_test.py
  frontend/src/types/__generated__/graphql.ts
Due: backend, frontend

update code
  backend/src/apps/owasp/api/internal/mutations/snapshot_subscription.py
  backend/src/apps/owasp/models/snapshot_subscription.py
  backend/tests/unit/apps/owasp/api/internal/mutations/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/models/snapshot_subscription_test.py
Due: backend

update code
  backend/src/apps/owasp/admin/snapshot_subscription.py
  backend/src/apps/owasp/models/snapshot_subscription.py
  backend/tests/unit/apps/owasp/admin/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/models/snapshot_subscription_test.py
Due: backend

fix issues
  backend/src/apps/owasp/admin/snapshot_subscription.py
  backend/src/apps/owasp/models/snapshot_subscription.py
  backend/tests/unit/apps/owasp/models/snapshot_subscription_test.py
Due: backend

Optimize EntityChannelNode
  backend/src/apps/owasp/api/internal/dataloaders/__init__.py
  backend/src/apps/owasp/api/internal/dataloaders/entity_channel.py
  backend/src/apps/owasp/api/internal/nodes/entity_channel.py
Due: backend

Update code and add tests
  backend/src/apps/owasp/api/internal/dataloaders/entity_channel.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/dataloaders_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/entity_channel_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/entity_channel_test.py
Due: backend

Add GitHub dataloaders' regitration tests
  backend/tests/unit/apps/github/api/internal/dataloaders/dataloaders_test.py
Due: backend

Update code
  backend/tests/unit/apps/github/api/internal/dataloaders/dataloaders_test.py
Due: backend

Add Mentorship dataloaders' registration tests
  backend/tests/unit/apps/mentorship/api/internal/dataloaders/dataloaders_test.py
Due: backend

Remove entity channel loaders keys from registration tests and wait for the regsitration tests PR
  backend/tests/unit/apps/owasp/api/internal/dataloaders/dataloaders_test.py
Due: backend

add grafana & vm service discovery
  docker-compose/local/compose.o11y.yaml
  docker-compose/local/grafana/provisioning/dashboards/dashboards.yaml
  docker/grafana/Dockerfile
  infrastructure/modules/observability/README.md
  infrastructure/modules/observability/main.tf
  infrastructure/modules/observability/outputs.tf
  infrastructure/modules/observability/tests/integration.tftest.hcl
  infrastructure/modules/observability/tests/unit.tftest.hcl
Due: none

Add staging purge targets to .PHONY
  backend/make/data.mk
Due: backend

fix issues
  backend/src/apps/owasp/api/internal/nodes/snapshot_subscription.py
  backend/tests/unit/apps/owasp/api/internal/nodes/snapshot_subscription_test.py
  frontend/src/types/__generated__/graphql.ts
Due: backend, frontend

update code
  frontend/__tests__/a11y/pages/SettingsPage.a11y.test.tsx
  frontend/__tests__/mockData/mockSubscriptionData.ts
  frontend/__tests__/unit/components/SubscribeButton.test.tsx
  frontend/__tests__/unit/pages/SettingsPage.test.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/SubscribeButton.tsx
  frontend/src/server/queries/subscriptionQueries.ts
  frontend/src/types/__generated__/subscriptionQueries.generated.ts
Due: frontend

Update backend/make/data.mk
  backend/make/data.mk
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
