Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Address review comments
  frontend/__tests__/unit/utils/entityChannels.test.ts
  frontend/src/components/cards/Metadata.tsx
  frontend/src/utils/entityChannels.ts
Due: frontend

Update code
  infrastructure/scripts/runner.py
  infrastructure/tests/scripts/commands_test.py
  infrastructure/tests/scripts/localstack_test.py
  infrastructure/tests/scripts/runner_test.py
  infrastructure/tests/scripts/terraform_tests_test.py
Due: none

Add Slack channels to Projects and Chapters page (#3958)
  backend/src/apps/owasp/api/internal/nodes/common.py
  backend/src/apps/owasp/api/internal/nodes/entity_channel.py
  backend/src/apps/owasp/models/common.py
  backend/src/apps/slack/Makefile
  backend/src/apps/slack/management/commands/slack_match_owasp_channels.py
  backend/tests/unit/apps/owasp/api/internal/nodes/common_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/entity_channel_test.py
  backend/tests/unit/apps/slack/management/commands/slack_match_owasp_channels_test.py
  frontend/__tests__/mockData/mockChapterDetailsData.ts
  frontend/__tests__/mockData/mockProjectDetailsData.ts
  frontend/__tests__/unit/pages/ChapterDetails.test.tsx
  frontend/__tests__/unit/pages/ProjectDetails.test.tsx
  frontend/__tests__/unit/utils/entityChannels.test.ts
  frontend/src/app/chapters/[chapterKey]/page.tsx
  frontend/src/app/projects/[projectKey]/page.tsx
  frontend/src/components/EntityChannelLinks.tsx
  frontend/src/components/cards/Metadata.tsx
  frontend/src/server/queries/chapterQueries.ts
  frontend/src/server/queries/projectQueries.ts
  frontend/src/types/__generated__/chapterQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/projectQueries.generated.ts
  frontend/src/utils/entityChannels.ts
  frontend/src/utils/urlFormatter.ts
  infrastructure/modules/tasks/main.tf
Due: backend, frontend

feat(backend): strip exif metadata from candidate claims (#5074)
  backend/apps/owasp/models/board_candidate_claim_evidence.py
  backend/apps/owasp/utils/file.py
  backend/apps/owasp/validators.py
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
  backend/tests/unit/apps/owasp/models/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/utils/file_test.py
  backend/tests/unit/apps/owasp/validators_test.py
Due: backend

Update code
  docker-compose/local/compose.o11y.yaml
Due: none

feat(o11y): add grafana with VM datasource & dashboard (#5109)
  CONTRIBUTING.md
  cspell/custom-dict.txt
  docker-compose/local/compose.o11y.yaml
  docker-compose/local/grafana/dashboards/nest-red.json
  docker-compose/local/grafana/provisioning/dashboards/dashboards.yaml
  docker-compose/local/grafana/provisioning/datasources/victoriametrics.yaml
Due: none

chore(deps): upgrade @heroui/react to v3
  frontend/__tests__/unit/components/BreadCrumbs.test.tsx
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/__tests__/unit/components/PageLayout.test.tsx
  frontend/__tests__/unit/components/ProjectsDashboardDropDown.test.tsx
  frontend/__tests__/unit/components/forms/shared/FormDateInput.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/__tests__/unit/pages/ProjectsHealthDashboardMetrics.test.tsx
  frontend/jest.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/src/app/projects/dashboard/metrics/page.tsx
  frontend/src/components/BreadCrumbs.tsx
  frontend/src/components/BreadCrumbsWrapper.tsx
  frontend/src/components/ModuleForm.tsx
  frontend/src/components/ProjectsDashboardDropDown.tsx
  frontend/src/components/ProjectsDashboardNavBar.tsx
  frontend/src/components/forms/shared/FormDateInput.tsx
  frontend/src/components/forms/shared/FormTextInput.tsx
  frontend/src/wrappers/provider.tsx
Due: frontend

fix: handle invalid search query validation errors
  frontend/src/server/fetchAlgoliaData.ts
Due: frontend

Improve mentorship module creation regression coverage
  backend/src/apps/mentorship/api/internal/nodes/module.py
  backend/tests/unit/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/create/page.tsx
  frontend/src/components/ModuleForm.tsx
Due: backend, frontend

Update synonyms
  backend/src/apps/owasp/index/synonyms/projects.txt
  cspell/custom-dict.txt
Due: backend

Update synonyms (#5195)
  backend/src/apps/owasp/index/synonyms/projects.txt
  cspell/custom-dict.txt
Due: backend

Implement GraphQL queries for contributor recognition certificate pages (#4962)
  backend/src/apps/github/api/internal/nodes/user.py
  backend/src/apps/owasp/api/internal/nodes/certificate.py
  backend/src/apps/owasp/api/internal/queries/__init__.py
  backend/src/apps/owasp/api/internal/queries/certificate.py
  backend/src/apps/owasp/utils/score_calculator.py
Due: backend

adress review
  backend/src/apps/owasp/api/internal/queries/certificate.py
  frontend/src/app/certificate/page.tsx
  frontend/src/components/UserMenu.tsx
  frontend/src/server/queries/certificateQueries.ts
  frontend/src/types/__generated__/certificateQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
Due: backend, frontend

Fixed code dev revoew
  backend/src/apps/owasp/api/internal/queries/certificate.py
Due: backend

chore(deps): upgrade @heroui/react to v3
  frontend/__tests__/unit/components/ProjectsDashboardDropDown.test.tsx
  frontend/src/components/ProjectsDashboardDropDown.tsx
Due: frontend

fix: address post-migration CI issues and coderabbit feedback
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/globals.css
  frontend/src/app/projects/dashboard/metrics/page.tsx
  frontend/src/components/ModuleForm.tsx
  frontend/src/components/ProjectsDashboardNavBar.tsx
  frontend/tailwind.config.mjs
Due: frontend

chore: fix eslint config and test mocks for heroui v3
  eslint.config.mjs
  frontend/__tests__/a11y/components/ChapterMap.a11y.test.tsx
  frontend/__tests__/unit/components/ChapterMap.test.tsx
  frontend/__tests__/unit/components/EntityActions.test.tsx
  frontend/__tests__/unit/components/HealthMetrics.test.tsx
  frontend/__tests__/unit/components/IssuesTable.test.tsx
  frontend/__tests__/unit/components/ModuleCard.test.tsx
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/__tests__/unit/components/ProgramCard.test.tsx
  frontend/__tests__/unit/components/ProjectsDashboardDropDown.test.tsx
  frontend/__tests__/unit/components/UserCard.test.tsx
  frontend/__tests__/unit/components/forms/shared/FormDateInput.test.tsx
  frontend/__tests__/unit/pages/ApiKeysPage.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/__tests__/unit/pages/Header.test.tsx
  frontend/__tests__/unit/pages/ProjectsHealthDashboardMetrics.test.tsx
  frontend/jest.config.ts
  frontend/src/components/ModuleForm.tsx
  frontend/src/components/ProjectsDashboardNavBar.tsx
  frontend/src/components/forms/shared/FormDateInput.tsx
  frontend/src/components/forms/shared/FormTextInput.tsx
  frontend/src/wrappers/provider.tsx
Due: frontend

chore(deps): add @heroui/styles@3.2.2 to minimumReleaseAgeExclude
  frontend/pnpm-workspace.yaml
Due: frontend

chore(deps): align @heroui/styles version to 3.2.1 in workspace
  frontend/pnpm-workspace.yaml
Due: frontend

Update code
  backend/src/apps/mentorship/api/internal/nodes/module.py
  backend/tests/unit/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  frontend/__tests__/unit/pages/CreateModule.test.tsx
Due: backend, frontend

Improve module mentor assignment and ordering consistency (#5187)
  backend/src/apps/mentorship/api/internal/nodes/module.py
  backend/tests/unit/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/create/page.tsx
  frontend/src/components/ModuleForm.tsx
Due: backend, frontend

fix: address coderabbit and cubic bot feedback for heroui v3 migration
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/__tests__/unit/components/forms/shared/FormDateInput.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/src/components/ModuleForm.tsx
  frontend/src/components/ProjectsDashboardDropDown.tsx
Due: frontend

fix: remove role=button from DropdownTrigger div to prevent nested interactive
  frontend/src/components/ProjectsDashboardDropDown.tsx
Due: frontend

fix: align @heroui/styles to 3.2.2 and remove duplicate testid in mocks
  frontend/__tests__/unit/components/ModuleForm.test.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

Added other certificate option
  frontend/src/app/certificate/page.tsx
Due: frontend

Update frontend/src/app/certificate/page.tsx
  frontend/src/app/certificate/page.tsx
Due: frontend

update
  frontend/src/app/certificate/page.tsx
Due: frontend

revert
  frontend/src/app/certificate/page.tsx
Due: frontend

Update Claim and Evidence GraphQL Queries To Add Reviews (#5069)
  backend/apps/owasp/api/internal/mutations/__init__.py
  backend/apps/owasp/api/internal/mutations/board_candidate_claim_review.py
  backend/apps/owasp/api/internal/nodes/board_candidate_claim.py
  backend/apps/owasp/api/internal/nodes/board_candidate_claim_review.py
  backend/apps/owasp/api/internal/nodes/enum.py
  backend/apps/owasp/api/internal/queries/board_candidate_claim.py
  backend/apps/owasp/api/internal/queries/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_review_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_review_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_test.py
Due: backend

add github stats custom metrics& export
  backend/src/apps/observability/management/__init__.py
  backend/src/apps/observability/management/commands/__init__.py
  backend/src/apps/observability/management/commands/otel_export_project_metrics.py
  backend/src/settings/base.py
  backend/tests/unit/apps/observability/management/__init__.py
  backend/tests/unit/apps/observability/management/commands/__init__.py
  backend/tests/unit/apps/observability/management/commands/otel_export_project_metrics_test.py
  docker-compose/local/compose.o11y.yaml
Due: backend

address bot suggestions
  backend/src/apps/observability/management/commands/otel_export_project_metrics.py
  backend/tests/unit/apps/observability/management/commands/otel_export_project_metrics_test.py
Due: backend

address review
  backend/src/apps/observability/management/commands/otel_export_project_metrics.py
Due: backend

Fix SynchronousOnlyOperation exceptions in mentorship app (#5099)
  backend/apps/common/api/__init__.py
  backend/src/apps/common/api/__init__.py
  backend/src/apps/mentorship/api/internal/mutations/module.py
  backend/src/apps/mentorship/api/internal/mutations/program.py
  backend/src/apps/mentorship/api/internal/nodes/mentor.py
  backend/src/apps/mentorship/api/internal/nodes/module.py
  backend/src/apps/mentorship/api/internal/queries/mentorship.py
  backend/src/apps/mentorship/api/internal/queries/module.py
  backend/src/apps/mentorship/api/internal/queries/program.py
  backend/src/apps/nest/api/internal/permissions.py
  backend/tests/unit/apps/mentorship/api/internal/mutations/module_mutation_test.py
  backend/tests/unit/apps/mentorship/api/internal/mutations/program_mutation_test.py
  backend/tests/unit/apps/mentorship/api/internal/nodes/api_internal_mentor_test.py
  backend/tests/unit/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  backend/tests/unit/apps/mentorship/api/internal/queries/api_queries_mentorship_test.py
  backend/tests/unit/apps/mentorship/api/internal/queries/api_queries_module_test.py
  backend/tests/unit/apps/mentorship/api/internal/queries/api_queries_program_test.py
  backend/tests/unit/apps/nest/api/internal/permissions_test.py
Due: backend

feat(slack): add BotInteraction model and reaction feedback handler
  backend/apps/slack/admin/__init__.py
  backend/apps/slack/admin/bot_interaction.py
  backend/apps/slack/events/__init__.py
  backend/apps/slack/events/member_joined_channel/__init__.py
  backend/apps/slack/events/reaction_added/__init__.py
  backend/apps/slack/events/reaction_added/bot_feedback.py
  backend/apps/slack/migrations/0023_bot_interaction.py
  backend/apps/slack/models/__init__.py
  backend/apps/slack/models/bot_interaction.py
  backend/apps/slack/services/message_auto_reply.py
  backend/tests/unit/apps/slack/events/reaction_added/bot_feedback_test.py
  backend/tests/unit/apps/slack/services/message_auto_reply_test.py
Due: backend

Remove comment from BotInteraction migration file
  backend/apps/slack/migrations/0023_bot_interaction.py
Due: backend

fix(slack): address CodeRabbit review feedback
  backend/apps/slack/admin/__init__.py
  backend/apps/slack/admin/bot_interaction.py
  backend/apps/slack/events/reaction_added/bot_feedback.py
  backend/apps/slack/migrations/0023_bot_interaction.py
  backend/apps/slack/models/bot_interaction.py
  backend/apps/slack/services/message_auto_reply.py
  backend/tests/unit/apps/slack/events/reaction_added/bot_feedback_test.py
  backend/tests/unit/apps/slack/services/message_auto_reply_test.py
Due: backend

Update message_auto_reply_test.py
  backend/tests/unit/apps/slack/services/message_auto_reply_test.py
Due: backend

Update __init__.py
  backend/apps/slack/admin/__init__.py
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
