Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 80%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

Update workers
  frontend/playwright.config.ts
Due: frontend

Update code and tests
  frontend/__tests__/e2e/components/Footer.spec.ts
  frontend/__tests__/e2e/components/Header.spec.ts
  frontend/__tests__/e2e/helpers/mockDashboardCookies.ts
  frontend/__tests__/e2e/pages/CalendarButton.spec.ts
  frontend/__tests__/e2e/pages/Chapters.spec.ts
  frontend/__tests__/e2e/pages/Committees.spec.ts
  frontend/__tests__/e2e/pages/Contribute.spec.ts
  frontend/__tests__/e2e/pages/OrganizationDetails.spec.ts
  frontend/__tests__/e2e/pages/Organizations.spec.ts
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
  frontend/__tests__/e2e/pages/ProjectHealthDashboardMetricsDetails.spec.ts
  frontend/__tests__/e2e/pages/ProjectsHealthDashboardMetrics.spec.ts
  frontend/__tests__/e2e/pages/ProjectsHealthDashboardOverview.spec.ts
  frontend/__tests__/e2e/pages/RepositoryDetails.spec.ts
  frontend/playwright.config.ts
Due: frontend

Skip sonar
  frontend/__tests__/e2e/pages/CalendarButton.spec.ts
Due: frontend

Update code
  frontend/__tests__/e2e/components/Footer.spec.ts
  frontend/__tests__/e2e/components/Header.spec.ts
Due: frontend

Fix UI Break in recent pull request
  frontend/__tests__/unit/components/ItemCardList.test.tsx
  frontend/__tests__/unit/components/RecentIssues.test.tsx
  frontend/src/components/ItemCardList.tsx
Due: frontend

coderabbit request resolved
  backend/apps/github/management/commands/github_update_users.py
  backend/apps/owasp/migrations/0073_rename_bug_slash_css_class.py
  backend/tests/apps/github/management/commands/github_update_users_test.py
Due: backend

fixed coderabbit review
  frontend/src/components/ItemCardList.tsx
Due: frontend

fixed sonar warning
  frontend/src/components/ItemCardList.tsx
Due: frontend

update migration of db change
  backend/apps/github/management/commands/github_update_users.py
  backend/apps/nest/migrations/0009_rename_bug_slash_css_class.py
  backend/tests/apps/github/management/commands/github_update_users_test.py
  frontend/__tests__/unit/components/Badges.test.tsx
Due: backend, frontend

added function in all queries and nodes
  backend/apps/github/api/internal/queries/issue.py
  backend/apps/github/api/internal/queries/pull_request.py
  backend/apps/github/api/internal/queries/release.py
  backend/apps/github/api/internal/queries/repository.py
  backend/apps/github/api/internal/queries/repository_contributor.py
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/apps/mentorship/api/internal/queries/mentorship.py
  backend/apps/mentorship/api/internal/queries/program.py
  backend/apps/owasp/api/internal/queries/board_of_directors.py
  backend/apps/owasp/api/internal/queries/chapter.py
  backend/apps/owasp/api/internal/queries/event.py
  backend/apps/owasp/api/internal/queries/member_snapshot.py
  backend/apps/owasp/api/internal/queries/post.py
  backend/apps/owasp/api/internal/queries/snapshot.py
Due: backend

badge documentation
  backend/docs/Badges.md
Due: backend

Fixed 404 Flash
  frontend/src/app/organizations/[organizationKey]/repositories/[repositoryKey]/layout.tsx
  frontend/src/app/organizations/[organizationKey]/repositories/[repositoryKey]/page.tsx
Due: frontend

feat: Enhance accessibility with comprehensive keyboard navigation and ARIA support
  frontend/src/app/layout.tsx
  frontend/src/components/Header.tsx
Due: frontend

Update .github/workflows/run-ci-cd.yaml
  .github/workflows/run-ci-cd.yaml
Due: none

ci: remove redundant trivy setup step
  .github/workflows/run-ci-cd.yaml
Due: none

Run make update
  .pre-commit-config.yaml
  backend/poetry.lock
  cspell/package.json
  cspell/pnpm-lock.yaml
  docker/frontend/Dockerfile.e2e.test
  docs/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Update code
  frontend/src/components/ItemCardList.tsx
Due: frontend

Update .gitignore
  .gitignore
Due: none

Removed unused file (#3710)
  .gitignore
  backend/apps/owasp/management/commands/owasp_aggregate_member_contributions.py.bak
Due: backend

resolve entity member admin attribute error (#3709)
  backend/apps/owasp/models/common.py
Due: backend

Update card div/output
  frontend/src/components/skeletons/Card.tsx
Due: frontend

Update code
  backend/pyproject.toml
  backend/tests/apps/ai/agent/agent_test.py
  backend/tests/apps/common/index_test.py
  backend/tests/apps/owasp/api/internal/queries/project_health_metrics_test.py
  backend/tests/apps/owasp/models/event_test.py
  backend/tests/apps/owasp/models/mixins/project_test.py
  backend/tests/apps/owasp/models/project_test.py
  backend/tests/apps/slack/management/commands/slack_sync_messages_test.py
  cspell/custom-dict.txt
Due: backend

Fix UI break in Recent Pull Request (#3742)
  frontend/__tests__/unit/components/ItemCardList.test.tsx
  frontend/__tests__/unit/components/RecentIssues.test.tsx
  frontend/src/components/ItemCardList.tsx
Due: frontend

update code (#3674)
  frontend/src/components/CardDetailsPage.tsx
Due: frontend

Revert Card skeleton component updates
  frontend/src/components/skeletons/Card.tsx
Due: frontend

Add Illia Oleksiuk to mentors section
  MENTORS.md
Due: none

feat: add keyboard navigation support to the EntityActions component (#3656)
  frontend/__tests__/unit/components/EntityActions.test.tsx
  frontend/src/components/EntityActions.tsx
Due: frontend

Revert issues link. Update HIDDEN_SEGMENTS
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/hooks/useBreadcrumbs.ts
Due: frontend

feat(about): combine separate GraphQL queries into single request (#3604)
  frontend/__tests__/e2e/pages/About.spec.ts
  frontend/__tests__/unit/pages/About.test.tsx
  frontend/src/app/about/page.tsx
  frontend/src/server/queries/aboutQueries.ts
  frontend/src/types/__generated__/aboutQueries.generated.ts
Due: frontend

Run make check
  frontend/src/app/my/mentorship/programs/[programKey]/edit/page.tsx
Due: frontend

fix: add rel="noopener noreferrer" to external Link in ItemCardList
  frontend/src/components/ItemCardList.tsx
Due: frontend

Enhance mentorship UI with breadcrumb improvements and issues link (#3632)
  frontend/src/hooks/useBreadcrumbs.ts
Due: frontend

Update code
  .github/workflows/check-pr-issue-skip-usernames.txt
  MENTORS.md
  cspell/custom-dict.txt
Due: none

Add Illia Oleksiuk to mentors section (#3749)
  .github/workflows/check-pr-issue-skip-usernames.txt
  MENTORS.md
  cspell/custom-dict.txt
Due: none

fix: remove redundant type assertion (S4325) (#3628)
  frontend/src/app/my/mentorship/programs/[programKey]/edit/page.tsx
Due: frontend

fix: cubic-dev-ai comments
  backend/tests/apps/api/rest/v0/issue_test.py
  backend/tests/apps/api/rest/v0/milestone_test.py
  backend/tests/apps/api/rest/v0/release_test.py
  backend/tests/apps/owasp/models/event_test.py
  backend/tests/apps/owasp/models/project_test.py
Due: backend

fix: code rabbitai comment
  backend/apps/api/rest/v0/issue.py
  backend/apps/api/rest/v0/milestone.py
  backend/apps/api/rest/v0/release.py
  backend/tests/apps/api/rest/v0/issue_test.py
  backend/tests/apps/api/rest/v0/milestone_test.py
  backend/tests/apps/api/rest/v0/release_test.py
Due: backend

Update Card.tsx
  frontend/src/components/skeletons/Card.tsx
Due: frontend
