Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 80%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

fixed codedevai review
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
Due: frontend

fixed pre-commit
  .github/ansible/.ansible/.lock
  backend/apps/owasp/scraper.py
  backend/tests/apps/owasp/scraper_test.py
Due: backend

update code
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/ItemCardList.test.tsx
  frontend/__tests__/unit/components/NavDropDown.test.tsx
  frontend/__tests__/unit/components/UserMenu.test.tsx
  frontend/__tests__/unit/components/skeletons/Card.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
Due: frontend

update command
  frontend/__tests__/unit/components/ItemCardList.test.tsx
Due: frontend

Run checks and add a temp. update
  .github/workflows/generate-backend-model-graphs.yaml
  backend/apps/github/models/common.py
Due: backend

Remove template update and Run checks
  .github/workflows/generate-backend-model-graphs.yaml
  backend/apps/github/models/common.py
Due: backend

Remove .ansible/.lock
  .github/ansible/.ansible/.lock
Due: none

revert package json change
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

change to 1 year sliding window of project dashboard
  backend/apps/owasp/api/internal/nodes/project_health_stats.py
  backend/apps/owasp/models/project_health_metrics.py
  backend/tests/apps/owasp/api/internal/nodes/project_health_stats_test.py
  backend/tests/apps/owasp/api/internal/queries/project_health_metrics_test.py
  backend/tests/apps/owasp/models/project_health_metrics_test.py
  backend/tests/apps/owasp/utils/pdf_test.py
  frontend/__tests__/mockData/mockProjectsDashboardOverviewData.ts
  frontend/src/app/projects/dashboard/page.tsx
  frontend/src/server/queries/projectsHealthDashboardQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/projectsHealthDashboardQueries.generated.ts
  frontend/src/types/projectHealthStats.ts
Due: backend, frontend

fixes
  frontend/__tests__/e2e/pages/Chapters.spec.ts
  frontend/__tests__/e2e/pages/Users.spec.ts
  frontend/__tests__/mockData/mockCommunityData.ts
  frontend/src/app/community/page.tsx
  frontend/src/app/page.tsx
  frontend/src/hooks/useBreadcrumbs.ts
  frontend/src/types/__generated__/communityQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
Due: frontend

coderabbit fixes
  frontend/src/hooks/useBreadcrumbs.ts
Due: frontend

community page feature
  backend/apps/github/api/internal/queries/organization.py
  backend/tests/apps/github/api/internal/queries/organization_test.py
  frontend/__tests__/a11y/pages/Community.a11y.test.tsx
  frontend/__tests__/e2e/data/mockCommunityData.ts
  frontend/__tests__/e2e/pages/Chapters.spec.ts
  frontend/__tests__/e2e/pages/Community.spec.ts
  frontend/__tests__/e2e/pages/Organizations.spec.ts
  frontend/__tests__/e2e/pages/Users.spec.ts
  frontend/__tests__/mockData/mockCommunityData.ts
  frontend/__tests__/unit/hooks/useBreadcrumbs.test.tsx
  frontend/__tests__/unit/pages/Community.test.tsx
  frontend/src/app/community/layout.tsx
  frontend/src/app/community/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/ChapterCard.tsx
  frontend/src/hooks/useBreadcrumbs.ts
  frontend/src/server/queries/communityQueries.ts
  frontend/src/types/__generated__/communityQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/metadata.ts
Due: backend, frontend

fix issue
  frontend/__tests__/unit/pages/Community.test.tsx
  frontend/src/hooks/useBreadcrumbs.ts
Due: frontend

fix
  frontend/__tests__/unit/hooks/useBreadcrumbs.test.tsx
  frontend/src/hooks/useBreadcrumbs.ts
Due: frontend

fix
  frontend/src/hooks/useBreadcrumbs.ts
Due: frontend

request change
  frontend/__tests__/unit/hooks/useBreadcrumbs.test.tsx
Due: frontend

ran check-test
  .github/ansible/.ansible/.lock
  backend/apps/owasp/api/internal/nodes/common.py
  backend/apps/owasp/api/internal/nodes/entity_channel.py
  backend/apps/owasp/models/common.py
  frontend/src/app/chapters/[chapterKey]/page.tsx
  frontend/src/components/CardDetailsPage.tsx
Due: backend, frontend

ran check-test
  frontend/src/app/chapters/[chapterKey]/page.tsx
  frontend/src/app/projects/[projectKey]/page.tsx
Due: frontend

removed comment'
  .markdownlint.yaml
  frontend/__tests__/unit/components/EntityActions.test.tsx
  frontend/__tests__/unit/components/ItemCardList.test.tsx
  frontend/__tests__/unit/components/ModuleCard.test.tsx
  frontend/__tests__/unit/components/MultiSearch.test.tsx
  frontend/__tests__/unit/components/NavDropDown.test.tsx
  frontend/__tests__/unit/components/ProgramForm.test.tsx
  frontend/__tests__/unit/components/TruncatedText.test.tsx
  frontend/__tests__/unit/components/UserCard.test.tsx
  frontend/__tests__/unit/components/forms/shared/FormTextarea.test.tsx
  frontend/__tests__/unit/components/skeletons/Card.test.tsx
  frontend/__tests__/unit/pages/Header.test.tsx
  frontend/__tests__/unit/pages/IssuesPage.test.tsx
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
  frontend/__tests__/unit/pages/MyMentorship.test.tsx
Due: frontend

increase mentoship portal coverage to 99.26%
  backend/tests/apps/mentorship/api/internal/mutations/__init__.py
  backend/tests/apps/mentorship/api/internal/mutations/module_mutation_test.py
  backend/tests/apps/mentorship/api/internal/mutations/program_mutation_test.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  backend/tests/apps/mentorship/api/internal/nodes/program_test.py
  backend/tests/apps/mentorship/api/internal/queries/api_queries_mentorship_test.py
  backend/tests/apps/mentorship/api/internal/queries/api_queries_program_test.py
  backend/tests/apps/mentorship/index/__init__.py
  backend/tests/apps/mentorship/index/registry/__init__.py
  backend/tests/apps/mentorship/index/registry/program_test.py
  backend/tests/apps/mentorship/management/commands/mentorship_sync_issue_levels_test.py
  backend/tests/apps/mentorship/management/commands/mentorship_sync_module_issues_test.py
  backend/tests/apps/mentorship/management/commands/mentorship_update_comments_test.py
  backend/tests/apps/mentorship/model/issue_user_interest_test.py
  backend/tests/apps/mentorship/model/mentee_module_test.py
  backend/tests/apps/mentorship/model/mentee_program_test.py
  backend/tests/apps/mentorship/model/module_test.py
  backend/tests/apps/mentorship/model/program_mixin_test.py
  backend/tests/apps/mentorship/model/program_test.py
  backend/tests/apps/mentorship/model/published_module_manager_test.py
  backend/tests/apps/mentorship/signals/__init__.py
  backend/tests/apps/mentorship/signals/program_signal_test.py
Due: backend

make check-test
  backend/tests/apps/mentorship/api/internal/mutations/module_mutation_test.py
  backend/tests/apps/mentorship/api/internal/mutations/program_mutation_test.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_module_test.py
  backend/tests/apps/mentorship/api/internal/nodes/program_test.py
  backend/tests/apps/mentorship/management/commands/mentorship_sync_module_issues_test.py
  backend/tests/apps/mentorship/management/commands/mentorship_update_comments_test.py
  backend/tests/apps/mentorship/model/mentee_module_test.py
  backend/tests/apps/mentorship/model/mentee_program_test.py
  backend/tests/apps/mentorship/model/module_test.py
  backend/tests/apps/mentorship/model/program_test.py
  backend/tests/apps/mentorship/model/published_module_manager_test.py
  backend/tests/apps/mentorship/signals/__init__.py
Due: backend

fix url color
  frontend/src/app/projects/[projectKey]/page.tsx
Due: frontend

fix: Handle NoneType page_tree in get_urls to prevent crash (#3953)
  backend/apps/owasp/scraper.py
  backend/tests/apps/owasp/scraper_test.py
Due: backend

ran check-test
  frontend/src/app/projects/[projectKey]/page.tsx
Due: frontend

Delete .markdownlint.yaml
  .markdownlint.yaml
Due: none

rremove file
  .github/ansible/.ansible/.lock
Due: none

revert docs formatting to preserve MkDocs rendering
  docs/code-of-conduct.md
  docs/contributing.md
Due: none

add igorshubovych/markdownlint pre-commit hook
  .markdownlint.yaml
  .pre-commit-config.yaml
Due: none

globally disable MD041/first-line-heading
  .github/PULL_REQUEST_TEMPLATE.md
  .markdownlint.yaml
  README.md
  docs/index.md
Due: none

configure markdownlint to run on all markdown files
  .pre-commit-config.yaml
Due: none

run markdown-lint
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  README.md
  docs/code-of-conduct.md
  docs/contributing.md
  docs/index.md
Due: none

fix frontend ambiguity
  frontend/src/app/chapters/[chapterKey]/page.tsx
Due: frontend

use prefetch cache
  backend/apps/owasp/api/internal/nodes/common.py
Due: backend

Run make update
  backend/poetry.lock
  docs/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Update .gitignore
  .gitignore
Due: none

Update README.md
  README.md
Due: none

Fix CodeQL workflow to match nested feature branches
  .github/workflows/run-code-ql.yaml
Due: none

Add Markdown lint/format (#3954)
  .github/PULL_REQUEST_TEMPLATE.md
  .markdownlint.yaml
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  README.md
  docs/code-of-conduct.md
  docs/contributing.md
  docs/index.md
Due: none

Fix CodeQL workflow to match nested feature branches (#3961)
  .github/workflows/run-code-ql.yaml
Due: none
