Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix(api-keys): address review feedback for timezone and test syntax
  backend/tests/apps/api/internal/mutations/api_key_test.py
  frontend/__tests__/unit/pages/ApiKeysPage.test.tsx
  frontend/src/app/settings/api-keys/page.tsx
Due: backend, frontend

chore(api-keys): clarify EOD intent and harden date fallback
  frontend/src/app/settings/api-keys/page.tsx
Due: frontend

Update CSP: fix google tag and static loading
  infrastructure/live/main.tf
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/tests/alb.tftest.hcl
  infrastructure/modules/alb/variables.tf
Due: none

fix: set release version from backend image tag
  infrastructure/live/main.tf
Due: none

Update about page project timeline
  frontend/__tests__/e2e/pages/About.spec.ts
  frontend/src/utils/aboutData.ts
Due: frontend

Update Slack event tests
  backend/tests/unit/apps/slack/events/event_test.py
Due: backend

fix(infra): use backend image tag for release version on staging
  infrastructure/live/main.tf
Due: none

Fix #4403: add Playwright smoke test for /community page
  frontend/__tests__/e2e/pages/Community.spec.ts
Due: frontend

Fix #4419: correct cursor display on non-interactive map areas
  frontend/src/app/globals.css
Due: frontend

Fix #4399: improve error handling in CalendarButton component
  frontend/src/components/CalendarButton.tsx
Due: frontend

Fix #4338: prevent OWASP logo from rotating with spinner
  frontend/src/components/LoadingSpinner.tsx
Due: frontend

chore: revert incorrect terraform change
  infrastructure/live/main.tf
Due: none

Fix #4107: improve error handling for missing Algolia configuration
  backend/apps/core/api/internal/algolia.py
Due: backend

fix(infra): unconditionally inject release version parameter
  infrastructure/modules/parameters/main.tf
  infrastructure/modules/parameters/outputs.tf
Due: none

Fix #4435: add skip-to-main-content link for keyboard accessibility
  frontend/src/app/layout.tsx
Due: frontend

Fix #4423: add backdrop overlay and body scroll lock to mobile menu
  frontend/src/components/Header.tsx
Due: frontend

Fix #4353: resolve mobile sidebar bottom gap when scrolling
  frontend/src/components/Header.tsx
Due: frontend

fix(infra): apply coderabbit review suggestion
  infrastructure/modules/parameters/outputs.tf
Due: none

fix(infra): consolidate parameters and add moved block for release version
  infrastructure/modules/parameters/main.tf
Due: none

Fix #4419: Reset cursor to default on non-interactive map areas
  frontend/src/app/globals.css
Due: frontend

Fix #4107: Improve error handling for missing Algolia configuration
  backend/apps/core/api/internal/algolia.py
  frontend/src/server/fetchAlgoliaData.ts
Due: backend, frontend

Fix #4403: Add Playwright smoke tests for /community pages
  frontend/__tests__/e2e/pages/Community.spec.ts
Due: frontend

feat(member-snapshot): add total_platform_contributions property
  backend/apps/owasp/api/internal/nodes/member_snapshot.py
  backend/apps/owasp/models/member_snapshot.py
  backend/tests/unit/apps/owasp/api/internal/nodes/member_snapshot_test.py
  backend/tests/unit/apps/owasp/models/member_snapshot_test.py
Due: backend

update code and resolve ai comments
  backend/apps/core/utils/index.py
  backend/apps/github/index/registry/user.py
  backend/apps/github/models/mixins/user.py
  backend/tests/unit/apps/core/utils/match_test.py
  backend/tests/unit/apps/github/models/mixins/user_test.py
  frontend/__tests__/a11y/components/MembersFilter.a11y.test.tsx
  frontend/__tests__/unit/components/MembersFilter.test.tsx
  frontend/__tests__/unit/pages/Users.test.tsx
  frontend/src/app/members/page.tsx
  frontend/src/components/MembersFilter.tsx
  frontend/src/components/SearchPageLayout.tsx
Due: backend, frontend

update code
  backend/apps/github/index/registry/user.py
  frontend/src/components/MembersFilter.tsx
  frontend/src/components/SearchPageLayout.tsx
Due: backend, frontend

fix: add project id to contributor tooltip keys
  frontend/src/components/ContributorList.tsx
  frontend/src/components/Contributors.tsx
Due: frontend

update code
  frontend/__tests__/a11y/pages/Users.a11y.test.tsx
  frontend/src/types/user.ts
Due: frontend

fix: route failed messages to DLQ immediately and preserve raw data
  backend/apps/owasp/management/commands/owasp_run_notification_worker.py
Due: backend

feat(infrastructure): add terraform-docs generation
  .pre-commit-config.yaml
  infrastructure/.terraform-docs.yml
  infrastructure/Makefile
  infrastructure/README.md
  infrastructure/bootstrap/README.md
  infrastructure/live/README.md
  infrastructure/modules/alb/README.md
  infrastructure/modules/cache/README.md
  infrastructure/modules/database/README.md
  infrastructure/modules/kms/README.md
  infrastructure/modules/networking/README.md
  infrastructure/modules/networking/modules/nacl/README.md
  infrastructure/modules/networking/modules/vpc-endpoint/README.md
  infrastructure/modules/parameters/README.md
  infrastructure/modules/security/README.md
  infrastructure/modules/service/README.md
  infrastructure/modules/storage/README.md
  infrastructure/modules/storage/modules/s3-bucket/README.md
  infrastructure/modules/tasks/README.md
  infrastructure/modules/tasks/modules/task/README.md
  infrastructure/scripts/terraform_docs.py
  infrastructure/state/README.md
Due: none

Add Clarification Agent for Low-Confidence Queries (#4357)
  backend/apps/ai/agents/clarification/__init__.py
  backend/apps/ai/agents/clarification/agent.py
  backend/apps/ai/flows/assistant.py
  backend/apps/ai/templates/agents/clarification/backstory.jinja
  backend/tests/apps/ai/flows/assistant_test.py
Due: backend

fix: re-raise exceptions in entity notification handler
  backend/apps/owasp/management/commands/owasp_run_notification_worker.py
Due: backend

fix:add-ecs-containers-health
  infrastructure/live/main.tf
  infrastructure/modules/service/main.tf
  infrastructure/modules/service/tests/service.tftest.hcl
  infrastructure/modules/service/variables.tf
Due: none

Update code
  infrastructure/modules/parameters/main.tf
  infrastructure/modules/parameters/outputs.tf
  infrastructure/modules/parameters/tests/parameters.tftest.hcl
Due: none

feat: expose pull_requests_count and merged_pull_requests_count on UserNode
  backend/apps/github/api/internal/nodes/user.py
Due: backend

chore: regenerate userQueries with pullRequestsCount and mergedPullRequestsCount
  frontend/src/types/__generated__/userQueries.generated.ts
Due: frontend

test: add tests for pull_requests_count and merged_pull_requests_count on UserNode
  backend/tests/unit/apps/github/api/internal/nodes/user_test.py
Due: backend

chore: add pullRequestsCount and mergedPullRequestsCount to UserNode type
  frontend/src/types/__generated__/graphql.ts
Due: frontend

feat: add pullRequestsCount and mergedPullRequestsCount to GetUserData query
  frontend/src/server/queries/userQueries.ts
Due: frontend

feat: display PR count stat cards on member profile page
  frontend/src/app/members/[memberKey]/page.tsx
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
