Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix ordering
  .github/workflows/run-backend-tests.yaml
  .github/workflows/run-ci-cd.yaml
Due: none

Address Sonar issue
  frontend/src/components/SnapshotReleaseSection.tsx
Due: frontend

Address review comments
  .trivyignore.yaml
  docker/e2e/Dockerfile
  e2e/.pnpmrc
Due: none

Update code
  frontend/__tests__/unit/components/SnapshotReleaseSection.test.tsx
  frontend/src/components/ShowMoreButton.tsx
  frontend/src/components/SnapshotReleaseSection.tsx
Due: frontend

Update code
  .dockerignore
Due: none

Limit releases to only show most recent ones (#4570)
  frontend/__tests__/unit/components/SnapshotReleaseSection.test.tsx
  frontend/src/app/community/snapshots/[id]/page.tsx
  frontend/src/components/ShowMoreButton.tsx
  frontend/src/components/SnapshotReleaseSection.tsx
  frontend/src/utils/constants.ts
Due: frontend

Fix unauthorized access to admin view of Mentorship portal for Published programs. Resolves #3482
  backend/apps/github/api/internal/utils.py
  backend/apps/mentorship/api/internal/graphql_errors.py
  backend/apps/mentorship/api/internal/queries/module.py
  backend/apps/mentorship/api/internal/queries/program.py
  backend/apps/mentorship/models/program.py
  backend/tests/unit/apps/mentorship/api/internal/queries/api_queries_module_test.py
  backend/tests/unit/apps/mentorship/api/internal/queries/api_queries_program_test.py
  backend/tests/unit/apps/mentorship/utils_test.py
  frontend/__tests__/mockData/mockProgramData.ts
  frontend/__tests__/unit/components/EntityActions.test.tsx
  frontend/__tests__/unit/components/ModuleCard.test.tsx
  frontend/__tests__/unit/pages/CreateModule.test.tsx
  frontend/__tests__/unit/pages/EditModule.test.tsx
  frontend/__tests__/unit/pages/EditProgram.test.tsx
  frontend/__tests__/unit/pages/IssuesPage.test.tsx
  frontend/__tests__/unit/pages/ModuleDetailsPage.test.tsx
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
  frontend/__tests__/unit/pages/ProgramDetailsMentorship.test.tsx
  frontend/__tests__/unit/utils/handleGraphQLError.test.ts
  frontend/src/app/my/mentorship/programs/[programKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/create/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/page.tsx
  frontend/src/components/EntityActions.tsx
  frontend/src/components/ModuleCard.tsx
  frontend/src/components/ProgramCard.tsx
  frontend/src/hooks/useAccessControl.ts
  frontend/src/hooks/useIssueMutations.ts
  frontend/src/server/queries/issueQueries.ts
  frontend/src/server/queries/moduleQueries.ts
  frontend/src/server/queries/programsQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/issueQueries.generated.ts
  frontend/src/types/__generated__/moduleQueries.generated.ts
  frontend/src/types/__generated__/programsQueries.generated.ts
  frontend/src/utils/helpers/handleGraphQLError.ts
Due: backend, frontend

Clean up
  backend/apps/github/api/internal/utils.py
Due: backend

Update code
  backend/apps/mentorship/api/internal/queries/module.py
  backend/apps/mentorship/api/internal/queries/program.py
  backend/tests/unit/apps/mentorship/api/internal/queries/api_queries_module_test.py
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
Due: backend, frontend

Update code
  backend/apps/mentorship/models/program.py
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/edit/page.tsx
  frontend/src/components/ModuleCard.tsx
  frontend/src/hooks/useAccessControl.ts
  frontend/src/server/queries/issueQueries.ts
  frontend/src/types/__generated__/issueQueries.generated.ts
Due: backend, frontend

Optimize dependecies installation
  .github/workflows/run-backend-tests.yaml
Due: none

Update cache path and comments identation
  .github/workflows/run-backend-tests.yaml
Due: none

Remove dead code
  .github/workflows/run-backend-tests.yaml
Due: none

Update code
  .github/workflows/run-backend-tests.yaml
Due: none

Update permissions
  .github/workflows/run-ci-cd.yaml
Due: none

Bump sentry/nextjs to 10.52.0
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend

Update CI/CD: change frontend dependencies installation approach
  .github/workflows/run-ci-cd.yaml
Due: none

Pin CI/CD pnpm version to 10.33.3
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-code-ql.yaml
  .pre-commit-config.yaml
  frontend/pnpm-lock.yaml
Due: frontend

Update pnpm
  .github/workflows/run-code-quality-checks.yaml
Due: none

Remove docker layer from fuzz tests and setup-backend-environment workflow
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-fuzz-tests.yaml
  .github/workflows/setup-backend-environment/action.yaml
Due: none

Update code
  .github/workflows/run-fuzz-tests.yaml
Due: none

Extract backend tests workflow and remove docker layer (#4635)
  .github/workflows/run-backend-tests.yaml
  .github/workflows/run-ci-cd.yaml
Due: none

Update code
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-fuzz-tests.yaml
Due: none

Add poetry run in entrypoint.fuzz.sh
  backend/entrypoint.fuzz.sh
Due: backend

Update code
  .github/workflows/run-fuzz-tests.yaml
  .github/workflows/setup-backend-environment/action.yaml
Due: none

Refactor
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-fuzz-tests.yaml
  .github/workflows/setup-backend-environment/action.yaml
Due: none

Update code
  .github/workflows/run-fuzz-tests.yaml
  backend/entrypoint.fuzz.sh
Due: backend

Apply rabbit's suggestions
  .github/workflows/run-backend-tests.yaml
  .github/workflows/setup-backend-environment/action.yaml
  backend/entrypoint.fuzz.sh
Due: backend

Remove redundant BACKEND_PORT from migartion step
  .github/workflows/setup-backend-environment/action.yaml
Due: none

Update caching
  .github/workflows/run-backend-tests.yaml
  .github/workflows/setup-backend-environment/action.yaml
Due: none

Disable collecting coverage for fuzz tests
  .github/workflows/run-fuzz-tests.yaml
Due: none

Reorder steps in setup-backend-environment action
  .github/workflows/setup-backend-environment/action.yaml
Due: none

Extract codecov upload to a separate workflow
  .github/workflows/run-backend-tests.yaml
  .github/workflows/upload-coverage-to-codecov.yaml
Due: none

Add permissions
  .github/workflows/run-backend-tests.yaml
Due: none

Add checkout
  .github/workflows/upload-coverage-to-codecov.yaml
Due: none

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
