Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

added error msg
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/mentees/[menteeKey]/page.tsx
Due: frontend

feat: implement multi-factor member scoring algorithm
  backend/apps/api/rest/v0/member.py
  backend/apps/github/index/registry/user.py
  backend/apps/github/management/commands/github_calculate_member_scores.py
  backend/apps/github/migrations/0045_user_calculated_score.py
  backend/apps/github/models/mixins/user.py
  backend/apps/github/models/user.py
  backend/apps/github/services/__init__.py
  backend/apps/github/services/score.py
  backend/tests/apps/api/rest/v0/member_test.py
  backend/tests/apps/github/management/commands/github_calculate_member_scores_test.py
  backend/tests/apps/github/models/mixins/user_test.py
  backend/tests/apps/github/models/user_test.py
  backend/tests/apps/github/services/__init__.py
  backend/tests/apps/github/services/score_test.py
Due: backend

fix issues
  backend/apps/api/rest/v0/member.py
  backend/apps/github/management/commands/github_calculate_member_scores.py
  backend/apps/github/migrations/0045_user_calculated_score.py
  backend/apps/github/models/user.py
  backend/apps/github/services/score.py
  backend/tests/apps/api/rest/v0/member_test.py
  backend/tests/apps/github/management/commands/github_calculate_member_scores_test.py
  backend/tests/apps/github/services/score_test.py
  docker-compose/local/compose.yaml
Due: backend

update code
  backend/apps/github/services/score.py
Due: backend

Mitigate CVE-2026-2007
  docker/backend/Dockerfile
  docker/backend/Dockerfile.local
  docker/backend/Dockerfile.test
  docker/docs/Dockerfile.local
Due: none

Update README.md
  README.md
Due: none

Update mkdocs setup
  .mkdocs.yaml
  .readthedocs.yaml
  docker-compose/local/compose.yaml
  docker/docs/Dockerfile.local
  docs/README.md
  docs/api/README.md
  docs/backend/README.md
  docs/frontend/README.md
  docs/nestbot/README.md
  docs/schema/README.md
Due: none

Update Trivy setup
  .trivy.yaml
  .trivyignore.yaml
  Makefile
  backend/Makefile
  frontend/Makefile
Due: backend, frontend

Add normalize_markdown_for_slack utility for Slack formatting
  backend/apps/slack/utils.py
Due: backend

Apply normalize_markdown_for_slack to NestBot AI responses
  backend/apps/slack/common/handlers/ai.py
Due: backend

Run make check
  frontend/src/components/GlobalSearch.tsx
  frontend/src/hooks/useShouldAutoFocusSearch.ts
Due: frontend

fix: disable search auto-focus on mobile/touch devices (#4128)
  frontend/__tests__/unit/components/Search.test.tsx
  frontend/src/components/GlobalSearch.tsx
  frontend/src/components/Search.tsx
  frontend/src/hooks/useShouldAutoFocusSearch.ts
Due: frontend

refactor: migrate ModuleNode to use strawberry-django decorator for consistency
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/tests/apps/mentorship/api/internal/nodes/api_internal_module_test.py
Due: backend

Run make update
  .pre-commit-config.yaml
  backend/poetry.lock
  cspell/package.json
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

Fix: Timestamp display on /contribute page (#4260)
  backend/apps/github/models/mixins/issue.py
  backend/apps/github/models/mixins/organization.py
  backend/apps/github/models/mixins/release.py
  backend/apps/github/models/mixins/repository.py
  backend/tests/apps/github/models/mixins/issue_test.py
  backend/tests/apps/github/models/mixins/organization_test.py
  backend/tests/apps/github/models/mixins/release_test.py
  backend/tests/apps/github/models/mixins/repository_test.py
  frontend/src/utils/utility.ts
Due: backend, frontend

refactor swagger template styles to reduce duplication
  backend/templates/ninja/swagger.html
Due: backend

Update corepack setup
  docker/cspell/Dockerfile
  docker/frontend/Dockerfile
  docker/frontend/Dockerfile.a11y.test
  docker/frontend/Dockerfile.e2e.test
  docker/frontend/Dockerfile.local
  docker/frontend/Dockerfile.unit.test
Due: none

feat: implement module ordering with drag-and-drop support (#4020)
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/apps/mentorship/api/internal/queries/module.py
  backend/apps/mentorship/migrations/0008_module_order.py
  backend/apps/mentorship/models/module.py
  backend/tests/apps/mentorship/api/internal/mutations/module_mutation_test.py
  backend/tests/apps/mentorship/model/module_test.py
  frontend/__tests__/a11y/components/CardDetailsPage.a11y.test.tsx
  frontend/__tests__/a11y/components/ModuleCard.a11y.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/ModuleCard.test.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/page.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/ModuleCard.tsx
  frontend/src/components/SingleModuleCard.tsx
  frontend/src/server/mutations/moduleMutations.ts
  frontend/src/server/queries/moduleQueries.ts
  frontend/src/server/queries/programsQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/moduleMutations.generated.ts
  frontend/src/types/__generated__/moduleQueries.generated.ts
  frontend/src/types/__generated__/programsQueries.generated.ts
  frontend/src/types/mentorship.ts
Due: backend, frontend

add calculated score based on contributions, leadership, and activity.
  backend/apps/api/rest/v0/member.py
  backend/apps/github/api/internal/nodes/user.py
  backend/apps/github/index/registry/user.py
  backend/apps/github/management/commands/github_update_users.py
  backend/apps/github/migrations/0045_user_calculated_score.py
  backend/apps/github/models/mixins/user.py
  backend/apps/github/models/user.py
  backend/apps/github/scoring.py
  backend/tests/apps/api/rest/v0/member_test.py
  backend/tests/apps/github/management/commands/github_update_users_test.py
  backend/tests/apps/github/models/mixins/user_test.py
  backend/tests/apps/github/scoring_test.py
  docker-compose/local/compose.yaml
  frontend/src/types/__generated__/graphql.ts
Due: backend, frontend

resolve sonarissues
  backend/tests/apps/github/scoring_test.py
Due: backend

Improved test coverage to above 95%
  frontend/__tests__/unit/pages/IssuesPage.test.tsx
  frontend/__tests__/unit/pages/MenteeProfilePage.test.tsx
Due: frontend

fixed sonarqube warning
  frontend/__tests__/unit/pages/MenteeProfilePage.test.tsx
Due: frontend

update tests and address code-rabbit
  backend/apps/api/rest/v0/member.py
  backend/apps/github/management/commands/github_update_users.py
  backend/apps/github/scoring.py
  backend/tests/apps/api/rest/v0/member_test.py
  backend/tests/apps/github/management/commands/github_update_users_test.py
  backend/tests/apps/github/scoring_test.py
Due: backend

apply code-rabbit
  backend/apps/github/management/commands/github_update_users.py
Due: backend

update code
  backend/apps/github/scoring.py
  backend/tests/apps/github/management/commands/github_update_users_test.py
Due: backend

resolving issue
  backend/tests/apps/github/management/commands/github_update_users_test.py
  backend/tests/apps/github/scoring_test.py
Due: backend

fix: improve css
  backend/static/css/swagger-custom-ui.css
Due: backend

Update code
  backend/apps/github/management/commands/github_calculate_member_scores.py
  backend/apps/github/management/commands/github_update_users.py
  backend/apps/github/services/score.py
  backend/tests/apps/github/management/commands/github_calculate_member_scores_test.py
  backend/tests/apps/github/management/commands/github_update_users_test.py
  backend/tests/apps/github/services/score_test.py
Due: backend

apply suggestions
  backend/apps/api/rest/v0/member.py
  backend/apps/github/management/commands/github_update_users.py
  backend/apps/github/scoring.py
  backend/tests/apps/github/management/commands/github_update_users_test.py
  backend/tests/apps/github/scoring_test.py
Due: backend

fix: cubic-dev-ai suggestions
  backend/static/css/swagger-custom-ui.css
Due: backend

fix issue
  backend/apps/github/management/commands/github_calculate_member_scores.py
  backend/apps/github/management/commands/github_update_users.py
  backend/apps/github/services/score.py
  backend/tests/apps/github/management/commands/github_calculate_member_scores_test.py
  backend/tests/apps/github/management/commands/github_update_users_test.py
  backend/tests/apps/github/services/score_test.py
Due: backend

fix issues
  backend/apps/github/services/score.py
  backend/tests/apps/github/management/commands/github_calculate_member_scores_test.py
  backend/tests/apps/github/management/commands/github_update_users_test.py
  backend/tests/apps/github/services/score_test.py
Due: backend

make check-test
  backend/tests/apps/api/rest/v0/member_test.py
  backend/tests/apps/github/models/user_test.py
  backend/tests/apps/github/scoring_test.py
Due: backend

Adding Wandji Collins as a mentor.
  MENTORS.md
Due: none

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
