Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

Add OSSF Scorecard workflow PoC
  .github/workflows/ossf-scorecard.yaml
Due: none

Adjust OSSF Scorecard configuration
  .github/workflows/ossf-scorecard.yaml
  README.md
  cspell/custom-dict.txt
Due: none

fix error logging
  backend/apps/owasp/admin/contribution_score.py
  backend/apps/owasp/score_calculator.py
Due: backend

Update README.md: rearrange badges
  README.md
Due: none

Fix signed releases OSSF scorecard check
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-image-scan.yaml
Due: none

Update code checks: split Semgrep and Trivy
  .github/workflows/run-code-checks.yaml
Due: none

Update CI: add manual trigger
  .github/workflows/ci.yaml
Due: none

Optimize pre-commit step
  .github/workflows/run-code-checks.yaml
  .pre-commit-config.yaml
Due: none

Update README.md
  README.md
Due: none

add workflow linter
  .github/actionlint.yaml
  .pre-commit-config.yaml
Due: none

style: fix ruff line length and formatting
  backend/apps/slack/management/commands/slack_check_invite_link.py
  backend/apps/slack/migrations/0022_workspace_invite_link_alert_message_ts.py
  backend/apps/slack/models/workspace.py
  backend/tests/unit/apps/slack/commands/slack_check_invite_link_test.py
Due: backend

address review
  .github/actionlint.yaml
  .github/workflows/run-code-tests.yaml
Due: none

test: fix test setup and add assertions for resolution reply
  backend/tests/unit/apps/slack/commands/slack_check_invite_link_test.py
Due: backend

Update e2e/pages/BoardCandidates.spec.ts
  e2e/pages/BoardCandidates.spec.ts
Due: none

add tools for github-action precommit
  .github/actionlint.yaml
  .pre-commit-config.yaml
Due: none

added ignore rules
  .github/actionlint.yaml
Due: none

Update code
  .github/actions/run-trivy-scan/action.yaml
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-code-tests.yaml
  .github/workflows/run-deploy.yaml
  .github/workflows/run-image-build.yaml
  .github/zizmor.yml
  .pre-commit-config.yaml
Due: none

feat: add actionlint/zizmor for workflow file linting (#4855)
  .github/actions/run-trivy-scan/action.yaml
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-code-tests.yaml
  .github/workflows/run-deploy.yaml
  .github/workflows/run-image-build.yaml
  .github/zizmor.yml
  .pre-commit-config.yaml
Due: none

Disable code coverage upload on forks
  .github/workflows/ossf-scorecard.yaml
  .github/workflows/run-code-tests.yaml
Due: none

Update code
  backend/apps/slack/MANIFEST.yaml
  backend/apps/slack/management/commands/slack_check_invite_link.py
  backend/apps/slack/migrations/0023_alter_workspace_charfield_defaults.py
  backend/apps/slack/migrations/0024_rename_workspace_invite_link_last_alert_message_ts.py
  backend/apps/slack/migrations/0025_alter_workspace_invite_link_last_alert_message_ts.py
  backend/apps/slack/migrations/0026_alter_workspace_invite_link_alert_channel_id.py
  backend/apps/slack/migrations/0027_alter_workspace_invite_link_alert_channel_id_and_more.py
  backend/apps/slack/models/workspace.py
  backend/pyproject.toml
  backend/tests/unit/apps/slack/commands/slack_check_invite_link_test.py
Due: backend

Update code
  backend/tests/unit/apps/slack/commands/slack_check_invite_link_test.py
Due: backend

fix: use ISO strings for publishedAt test mocks
  frontend/__tests__/a11y/components/RecentRelease.a11y.test.tsx
  frontend/__tests__/a11y/components/RecentReleases.a11y.test.tsx
  frontend/__tests__/a11y/components/Release.a11y.test.tsx
  frontend/__tests__/unit/components/CardDetailsPage.test.tsx
  frontend/__tests__/unit/components/RecentRelease.test.tsx
  frontend/__tests__/unit/components/Release.test.tsx
Due: frontend

Bump shell-quote to 1.8.4
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

Refactor dependency audit step
  .github/workflows/ci.yaml
  .github/workflows/run-code-checks.yaml
  .github/workflows/run-dependency-audit.yaml
Due: none

Update code
  backend/pyproject.toml
  docs/pyproject.toml
Due: backend

Update code
  backend/apps/mentorship/api/internal/mutations/module.py
  backend/apps/mentorship/api/internal/queries/program.py
Due: backend

Add image signing
  .github/scripts/cosign-image-by-digest.sh
  .github/workflows/ci-cd-production.yaml
  .github/workflows/ci-cd-staging.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-deploy.yaml
  .github/workflows/run-image-scan.yaml
  .github/workflows/run-image-sign.yaml
  .github/workflows/run-lighthouse-ci.yaml
Due: none

Fix release SBOM upload
  .github/workflows/run-image-sign.yaml
Due: none

fix: ChapterMap cursor shows default on non-interactive areas
  frontend/src/components/ChapterMap.tsx
Due: frontend

fix: add XFrameOptionsMiddleware to prevent clickjacking
  backend/settings/base.py
Due: backend

address review comments
  backend/apps/owasp/api/internal/nodes/board_candidate_claim_evidence.py
  backend/apps/owasp/api/internal/queries/board_candidate_claim.py
  backend/apps/owasp/api/internal/queries/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_test.py
Due: backend

fix missing created_at
  backend/apps/owasp/api/internal/queries/board_candidate_claim.py
Due: backend

remove string comparison for user
  backend/apps/owasp/api/internal/mutations/board_candidate_claim.py
  backend/apps/owasp/api/internal/mutations/board_candidate_claim_evidence.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_test.py
Due: backend

update code
  backend/apps/owasp/api/internal/mutations/board_candidate_claim.py
Due: backend

Update e2e tests (CalendarButton)
  e2e/pages/CalendarButton.spec.ts
  e2e/pages/ChapterDetails.spec.ts
  e2e/playwright.config.ts
Due: none

Bump strawberry-graphql to 0.316.0
  .pre-commit-config.yaml
  backend/poetry.lock
  backend/pyproject.toml
Due: backend

Fix graphql endpoints
  backend/apps/owasp/management/commands/owasp_aggregate_entity_contributions.py
  backend/poetry.toml
  backend/settings/graphql.py
Due: backend

Bump pnpm to 11.5.3
  .github/actions/install-frontend-dependencies/action.yaml
  .github/workflows/run-dependency-audit.yaml
  cspell/package.json
  e2e/package.json
  frontend/package.json
Due: frontend

Address code quality check warnings
  backend/apps/owasp/management/commands/owasp_aggregate_entity_contributions.py
  backend/settings/graphql.py
Due: backend

Squash migrations
  backend/apps/slack/migrations/0022_workspace_invite_link_alert_message_ts.py
  backend/apps/slack/migrations/0022_workspace_invite_link_last_alert_message_ts_and_more.py
  backend/apps/slack/migrations/0023_alter_workspace_charfield_defaults.py
  backend/apps/slack/migrations/0024_rename_workspace_invite_link_last_alert_message_ts.py
  backend/apps/slack/migrations/0025_alter_workspace_invite_link_last_alert_message_ts.py
  backend/apps/slack/migrations/0026_alter_workspace_invite_link_alert_channel_id.py
  backend/apps/slack/migrations/0027_alter_workspace_invite_link_alert_channel_id_and_more.py
Due: backend
