Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 80%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

Clean up snapshot generated videos
  backend/generated_videos/community_snapshot_video_2025/2025_snapshot.mkv
Due: backend

docs: add docstrings to satisfy coverage requirements
  frontend/__tests__/unit/components/LogoCarousel.test.tsx
  frontend/src/components/LogoCarousel.tsx
Due: frontend

Update code
  backend/apps/core/api/internal/algolia.py
Due: backend

Run make check and fix tests.
  frontend/__tests__/unit/components/LogoCarousel.test.tsx
Due: frontend

feat(ui): revamp corporate supporters carousel (Infinite Marquee + Dark Mode fix) (#3837)
  frontend/__tests__/unit/components/LogoCarousel.test.tsx
  frontend/src/components/LogoCarousel.tsx
  frontend/tailwind.config.mjs
Due: frontend

fix: use className prop instead of removing it
  frontend/src/components/AnchorTitle.tsx
Due: frontend

fix comments
  backend/apps/api/rest/v0/committee.py
  backend/tests/apps/api/rest/v0/committee_test.py
  backend/tests/apps/api/rest/v0/member_test.py
  backend/tests/apps/api/rest/v0/organization_test.py
  backend/tests/apps/owasp/api/internal/nodes/chapter_test.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
  backend/tests/apps/owasp/models/common_test.py
  backend/tests/apps/owasp/models/project_health_metrics_test.py
  backend/tests/apps/owasp/models/snapshot_test.py
  backend/tests/apps/owasp/video_test.py
  backend/tests/apps/slack/management/commands/slack_sync_messages_test.py
Due: backend

Fix/redundant typescript assertion (#3834)
  frontend/src/app/my/mentorship/page.tsx
  frontend/src/types/auth.ts
Due: frontend

fix issues
  backend/tests/apps/api/rest/v0/structured_search_test.py
  backend/tests/apps/owasp/api/internal/queries/post_test.py
  backend/tests/apps/owasp/models/project_health_metrics_test.py
  backend/tests/apps/slack/management/commands/owasp_match_channels_test.py
Due: backend

Fixed latest date in proejct health dashboard
  backend/apps/owasp/api/internal/nodes/project.py
Due: backend

fix issue
  backend/tests/apps/owasp/scraper_test.py
Due: backend

fix cubic-dev-ai comments
  backend/tests/apps/api/rest/v0/structured_search_test.py
  backend/tests/apps/owasp/scraper_test.py
Due: backend

updated order
  frontend/src/app/projects/dashboard/metrics/[projectKey]/page.tsx
  frontend/src/components/HealthMetrics.tsx
Due: frontend

Update code
  backend/apps/owasp/api/internal/nodes/project.py
Due: backend

Update code
  frontend/src/app/projects/dashboard/metrics/[projectKey]/page.tsx
  frontend/src/components/HealthMetrics.tsx
Due: frontend

Fix 'is_merged' not being available on the Issue
  backend/apps/github/api/internal/nodes/issue.py
  backend/apps/mentorship/api/internal/nodes/module.py
  backend/apps/mentorship/api/internal/queries/mentorship.py
  frontend/__tests__/unit/components/IssuesTable.test.tsx
  frontend/__tests__/unit/pages/IssuesPage.test.tsx
  frontend/__tests__/unit/pages/ModuleIssueDetailsPage.test.tsx
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/issues/[issueId]/page.tsx
  frontend/src/components/IssuesTable.tsx
Due: backend, frontend

Fix stale latest date displayed in Project Health Dashboard metrics (#3842)
  backend/apps/owasp/api/internal/nodes/project.py
Due: backend

Update code
  backend/tests/apps/owasp/api/internal/nodes/chapter_test.py
  backend/tests/apps/owasp/api/internal/nodes/project_test.py
  backend/tests/apps/owasp/management/commands/owasp_update_leaders_test.py
  backend/tests/apps/owasp/models/project_health_metrics_test.py
  backend/tests/apps/slack/events/member_joined_channel/catch_all_test.py
Due: backend

Fix tests
  backend/tests/apps/owasp/api/internal/nodes/project_test.py
Due: backend

ci: enable ansible-lint scanning and add requirements.yml
  .pre-commit-config.yaml
  Makefile
  requirements.yml
Due: none

resolve query parser blocker
  backend/apps/common/search/query_parser.py
  backend/tests/apps/common/search/query_parser_test.py
Due: backend

feat(frontend): add /api/health endpoint for container healthchecks
  frontend/src/app/api/health/route.ts
Due: frontend

fix(proxy): pin nginx and certbot images
  docker-compose/proxy/compose.yaml
Due: none

fix stable verssions
  docker-compose/proxy/compose.yaml
Due: none

Apply suggestion from @cubic-dev-ai[bot]
  backend/settings/production.py
Due: backend

Update Dockerfile
  docker/frontend/Dockerfile
Due: none

start and end dates take number only now
  frontend/src/types/calendar.ts
  frontend/src/types/card.ts
  frontend/src/types/event.ts
  frontend/src/types/issue.ts
  frontend/src/types/mentorship.ts
  frontend/src/types/milestone.ts
  frontend/src/types/snapshot.ts
  frontend/src/utils/getGoogleCalendarUrl.ts
  frontend/src/utils/getIcsFileUrl.ts
Due: frontend

date formatter fucntions take numbers as input now
  frontend/src/utils/dateFormatter.ts
Due: frontend

Reorder build-args in CI/CD
  .github/workflows/run-ci-cd.yaml
Due: none

Add security settings for HSTS and SSL
  backend/settings/staging.py
Due: backend

Simplify GraphQL schema extensions setup
  backend/settings/graphql.py
Due: backend

Update staging.py
  backend/settings/staging.py
Due: backend

fixed components - take format dates as numbers and compoenet schema date is numbers now , not strings
  frontend/src/components/Card.tsx
  frontend/src/components/CardDetailsPage.tsx
  frontend/src/components/ItemCardList.tsx
  frontend/src/components/MenteeIssues.tsx
  frontend/src/components/Milestones.tsx
  frontend/src/components/ModuleCard.tsx
  frontend/src/components/ProgramCard.tsx
  frontend/src/components/RecentIssues.tsx
  frontend/src/components/SnapshotCard.tsx
Due: frontend

fix format dates
  frontend/src/app/page.tsx
Due: frontend

fixed mock data
  frontend/src/app/my/mentorship/programs/[programKey]/modules/[moduleKey]/page.tsx
Due: frontend
