Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

undo unnecessary changes
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/tests/unit.tftest.hcl
Due: none

fix part_two exceeding policy character limit
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/tests/unit.tftest.hcl
Due: none

sort resources alphabetically
  infrastructure/bootstrap/main.tf
Due: none

cleanup s3 permissions
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/tests/unit.tftest.hcl
Due: none

revert readme updates.
  infrastructure/bootstrap/README.md
  infrastructure/state/README.md
Due: none

revert documentation changes
  infrastructure/README.md
Due: none

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  cspell/make/security.mk
  cspell/pnpm-workspace.yaml
  docs/src/maintenance/index.md
  e2e/make/security.mk
  e2e/pnpm-workspace.yaml
  frontend/make/security.mk
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  make/security.mk
  pnpm-workspace.yaml
Due: frontend

fmt
  infrastructure/modules/parameters/tests/integration.tftest.hcl
Due: none

new test assertion for github token format
  infrastructure/modules/parameters/tests/integration.tftest.hcl
Due: none

update code
  frontend/__tests__/a11y/pages/ChapterDetails.a11y.test.tsx
  frontend/__tests__/a11y/pages/Chapters.a11y.test.tsx
  frontend/__tests__/a11y/pages/CommitteeDetails.a11y.test.tsx
  frontend/__tests__/a11y/pages/Committees.a11y.test.tsx
  frontend/__tests__/a11y/pages/ProjectDetails.a11y.test.tsx
  frontend/__tests__/a11y/pages/Projects.a11y.test.tsx
  frontend/__tests__/a11y/pages/SettingsPage.a11y.test.tsx
  frontend/__tests__/mockData/mockSubscriptionData.ts
  frontend/__tests__/unit/components/Card.test.tsx
  frontend/__tests__/unit/components/SubscribeButton.test.tsx
  frontend/__tests__/unit/components/skeletons/Card.test.tsx
  frontend/__tests__/unit/pages/ChapterDetails.test.tsx
  frontend/__tests__/unit/pages/Chapters.test.tsx
  frontend/__tests__/unit/pages/CommitteeDetails.test.tsx
  frontend/__tests__/unit/pages/Committees.test.tsx
  frontend/__tests__/unit/pages/ProjectDetails.test.tsx
  frontend/__tests__/unit/pages/Projects.test.tsx
  frontend/__tests__/unit/pages/SettingsPage.test.tsx
  frontend/src/app/chapters/[chapterKey]/page.tsx
  frontend/src/app/chapters/page.tsx
  frontend/src/app/committees/[committeeKey]/page.tsx
  frontend/src/app/committees/page.tsx
  frontend/src/app/projects/[projectKey]/page.tsx
  frontend/src/app/projects/page.tsx
  frontend/src/app/settings/layout.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/Card.tsx
  frontend/src/components/RecentReleases.tsx
  frontend/src/components/SkeletonsBase.tsx
  frontend/src/components/SubscribeButton.tsx
  frontend/src/components/skeletons/Card.tsx
  frontend/src/server/queries/subscriptionQueries.ts
  frontend/src/types/__generated__/subscriptionQueries.generated.ts
  frontend/src/types/card.ts
  frontend/src/types/project.ts
  frontend/src/types/skeleton.ts
  frontend/src/utils/metadata.ts
Due: frontend

fix issues
  frontend/__tests__/a11y/pages/SettingsPage.a11y.test.tsx
  frontend/__tests__/unit/components/Card.test.tsx
  frontend/__tests__/unit/components/SubscribeButton.test.tsx
  frontend/__tests__/unit/components/skeletons/Card.test.tsx
  frontend/__tests__/unit/pages/SettingsPage.test.tsx
  frontend/__tests__/unit/utils/decodeRelayId.test.ts
  frontend/src/app/settings/page.tsx
  frontend/src/components/SubscribeButton.tsx
  frontend/src/utils/decodeRelayId.ts
Due: frontend

add BoardCandidateProfile model and update code
  backend/make/apps/owasp.mk
  backend/src/apps/owasp/admin/__init__.py
  backend/src/apps/owasp/admin/board_candidate_profile.py
  backend/src/apps/owasp/api/internal/mutations/board_candidate_claim.py
  backend/src/apps/owasp/api/internal/nodes/board_candidate_claim.py
  backend/src/apps/owasp/api/internal/nodes/board_candidate_profile.py
  backend/src/apps/owasp/api/internal/queries/__init__.py
  backend/src/apps/owasp/api/internal/queries/board_candidate_claim.py
  backend/src/apps/owasp/api/internal/queries/board_candidate_claim_evidence.py
  backend/src/apps/owasp/api/internal/queries/board_candidate_profile.py
  backend/src/apps/owasp/management/commands/owasp_sync_board_candidates.py
  backend/src/apps/owasp/migrations/0081_boardcandidateclaim_source_text_and_more.py
  backend/src/apps/owasp/models/__init__.py
  backend/src/apps/owasp/models/board_candidate_claim.py
  backend/src/apps/owasp/models/board_candidate_profile.py
  backend/tests/unit/apps/owasp/admin/board_candidate_profile_test.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_evidence_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/management/commands/owasp_sync_board_candidates_test.py
  backend/tests/unit/apps/owasp/models/board_candidate_claim_test.py
  backend/tests/unit/apps/owasp/models/board_candidate_profile_test.py
Due: backend

Update infrastructure/live/variables.tf
  infrastructure/live/variables.tf
Due: none

Optimize ChapterNode top_contributors
  backend/src/apps/github/api/internal/dataloaders/repository_contributor.py
  backend/src/apps/owasp/api/internal/nodes/chapter.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/dataloaders_test.py
Due: backend

Add tests
  backend/tests/unit/apps/github/api/internal/dataloaders/repository_contributor_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/chapter_test.py
Due: backend

Mitigate sec issues
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: backend, frontend

Mitigate sec issues - frontend package : ip-address
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

update code
  frontend/__tests__/unit/components/SubscribeButton.test.tsx
  frontend/src/components/SubscribeButton.tsx
Due: frontend

Mitigate sec issue - django
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
Due: backend

add candidate profile page with annotations
  frontend/__tests__/unit/components/AnnotatedProfile.test.tsx
  frontend/__tests__/unit/pages/BoardCandidatesPage.test.tsx
  frontend/__tests__/unit/pages/ClaimDetailsPage.test.tsx
  frontend/__tests__/unit/pages/EvidenceDetailsPage.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/evidences/[evidenceKey]/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/page.tsx
  frontend/src/app/board/[year]/candidates/page.tsx
  frontend/src/app/globals.css
  frontend/src/components/AnnotatedProfile.tsx
  frontend/src/server/mutations/claimMutations.ts
  frontend/src/server/queries/boardQueries.ts
  frontend/src/server/queries/claimQueries.ts
  frontend/src/types/__generated__/boardQueries.generated.ts
  frontend/src/types/__generated__/claimMutations.generated.ts
  frontend/src/types/__generated__/claimQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
Due: frontend

mitigate security issues (#5365)
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: backend, frontend

apply bot comment
  backend/src/apps/owasp/management/commands/owasp_generate_board_candidates_claims.py
  backend/tests/unit/apps/owasp/management/commands/owasp_generate_board_candidates_claims_test.py
Due: backend

integrate claim highlights and candidate page with other components
  e2e/pages/BoardCandidateClaimDetails.spec.ts
  e2e/pages/BoardCandidateClaims.spec.ts
  frontend/__tests__/unit/components/AnnotatedProfile.test.tsx
  frontend/__tests__/unit/components/forms/shared/FormTextarea.test.tsx
  frontend/__tests__/unit/hooks/useBreadcrumbs.test.tsx
  frontend/__tests__/unit/pages/CreateClaimPage.test.tsx
  frontend/__tests__/unit/pages/EditClaimPage.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/edit/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/create/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/layout.tsx
  frontend/src/components/AnnotatedProfile.tsx
  frontend/src/components/ClaimForm.tsx
  frontend/src/components/forms/shared/FormTextarea.tsx
Due: frontend

fix security vuls reported by dependabot
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
  backend/requirements/build.txt
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: backend, frontend

remove noise
  backend/requirements/build.txt
Due: backend

fix security vuls reported by dependabot (#5370)
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: backend, frontend

update code
  frontend/__tests__/mockData/mockSubscriptionData.ts
  frontend/__tests__/unit/components/SubscribeButton.test.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/SubscribeButton.tsx
  frontend/src/server/queries/subscriptionQueries.ts
  frontend/src/types/__generated__/subscriptionQueries.generated.ts
Due: frontend

address review + add integration tests
  docker-compose/local/compose.o11y.yaml
  docker/victoriametrics/Dockerfile
  infrastructure/live/README.md
  infrastructure/live/main.tf
  infrastructure/live/variables.tf
  infrastructure/modules/observability/README.md
  infrastructure/modules/observability/main.tf
  infrastructure/modules/observability/tests/integration.tftest.hcl
  infrastructure/modules/observability/tests/unit.tftest.hcl
  infrastructure/scripts/localstack.py
Due: none

Update code
  .trivyignore.yaml
Due: none

Update Code
  .trivyignore.yaml
  infrastructure/modules/observability/README.md
  infrastructure/modules/observability/main.tf
  infrastructure/modules/observability/tests/integration.tftest.hcl
  infrastructure/modules/observability/tests/unit.tftest.hcl
Due: none

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  infrastructure/bootstrap/README.md
  infrastructure/live/README.md
  infrastructure/modules/alb/README.md
  infrastructure/modules/cache/README.md
  infrastructure/modules/database/README.md
  infrastructure/modules/ecr-cache/README.md
  infrastructure/modules/kms/README.md
  infrastructure/modules/networking/README.md
  infrastructure/modules/networking/modules/nacl/README.md
  infrastructure/modules/networking/modules/vpc-endpoint/README.md
  infrastructure/modules/parameters/README.md
  infrastructure/modules/security/README.md
  infrastructure/modules/service/README.md
  infrastructure/modules/storage/README.md
  infrastructure/modules/storage/modules/s3-bucket/README.md
  infrastructure/modules/storage/modules/shared-data-bucket/README.md
  infrastructure/modules/tasks/README.md
  infrastructure/modules/tasks/modules/task/README.md
  infrastructure/state/README.md
Due: none

Implement Contributor Certificate Frontend UI (#5131)
  backend/src/apps/owasp/api/internal/queries/certificate.py
  frontend/__tests__/jest.setup.ts
  frontend/__tests__/mockData/mockCertificateData.ts
  frontend/__tests__/unit/components/ActionButton.test.tsx
  frontend/__tests__/unit/components/CertificateCard.test.tsx
  frontend/__tests__/unit/components/UserMenu.test.tsx
  frontend/__tests__/unit/pages/CertificateVerificationPage.test.tsx
  frontend/__tests__/unit/pages/MyCertificatePage.test.tsx
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/certificate/[certificateId]/layout.tsx
  frontend/src/app/certificate/[certificateId]/page.tsx
  frontend/src/app/certificate/layout.tsx
  frontend/src/app/certificate/page.tsx
  frontend/src/components/ActionButton.tsx
  frontend/src/components/CertificateCard.tsx
  frontend/src/components/UserMenu.tsx
  frontend/src/server/queries/certificateQueries.ts
  frontend/src/types/__generated__/certificateQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/certificate.ts
Due: backend, frontend

Add Django Comand To Generate Candidate Claims (#5313)
  backend/make/apps/owasp.mk
  backend/src/apps/owasp/management/commands/owasp_generate_board_candidates_claims.py
  backend/tests/unit/apps/owasp/management/commands/owasp_generate_board_candidates_claims_test.py
Due: backend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  backend/src/apps/github/api/internal/dataloaders/repository_contributor.py
Due: backend

Optimize ChapterNode top_contributors (#5361)
  backend/src/apps/github/api/internal/dataloaders/repository_contributor.py
  backend/src/apps/owasp/api/internal/nodes/chapter.py
  backend/tests/unit/apps/github/api/internal/dataloaders/repository_contributor_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/dataloaders_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/chapter_test.py
Due: backend

Update after verification
  infrastructure/modules/observability/.terraform.lock.hcl
  infrastructure/modules/observability/README.md
  infrastructure/modules/observability/main.tf
  infrastructure/modules/observability/tests/integration.tftest.hcl
  infrastructure/modules/observability/tests/setup/.gitignore
  infrastructure/modules/observability/tests/setup/main.tf
  infrastructure/modules/observability/variables.tf
Due: none

make check
  infrastructure/modules/observability/.terraform.lock.hcl
  infrastructure/modules/observability/tests/setup/main.tf
  infrastructure/modules/observability/tests/setup/outputs.tf
  infrastructure/modules/observability/tests/setup/variables.tf
Due: none

address bot suggestion
  infrastructure/modules/observability/tests/integration.tftest.hcl
Due: none
