Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

fix code
  backend/src/apps/owasp/services/newsletter.py
  backend/src/apps/owasp/templates/emails/snapshot_digest.txt
  backend/tests/unit/apps/owasp/services/newsletter_test.py
Due: backend

fix issue
  backend/src/apps/owasp/services/newsletter.py
Due: backend

fix: add fallback for AI-generated issue summaries
  backend/src/apps/github/index/registry/issue.py
  backend/src/apps/github/models/issue.py
  backend/src/apps/github/models/mixins/issue.py
  backend/tests/unit/apps/github/models/issue_test.py
  frontend/__tests__/unit/pages/Contribute.test.tsx
  frontend/src/app/contribute/page.tsx
Due: backend, frontend

fix: save issues before generating summaries
  backend/src/apps/github/models/issue.py
  backend/tests/unit/apps/github/models/issue_test.py
Due: backend

fix: improve issue summary fallback handling
  backend/src/apps/core/utils/index.py
  backend/src/apps/github/models/issue.py
  backend/tests/unit/apps/github/models/issue_test.py
  frontend/__tests__/unit/pages/Contribute.test.tsx
  frontend/src/app/contribute/page.tsx
Due: backend, frontend

fix: respect update_fields during AI generation
  backend/src/apps/github/models/issue.py
  backend/tests/unit/apps/github/models/issue_test.py
  frontend/__tests__/unit/pages/Contribute.test.tsx
  frontend/src/app/contribute/page.tsx
Due: backend, frontend

increase OWASP flagship project return limit + add edge case
  backend/apps/ai/agents/project/tools/get_flagship_projects.py
Due: backend

improve contribution guidance
  backend/apps/ai/agents/project/tools/get_flagship_projects.py
  backend/apps/ai/templates/agents/contribution/tools/get_contribute_info.jinja
Due: backend

check test fix
  backend/apps/ai/agents/project/tools/get_flagship_projects.py
Due: backend

feat(frontend): implement recent searches and tests
  frontend/__tests__/unit/components/GlobalSearch.test.tsx
  frontend/src/components/GlobalSearch.tsx
  frontend/src/hooks/useRecentSearches.ts
Due: frontend

Minimize frontend attack surface Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  cspell/cspell.json
  cspell/custom-dict.txt
  docker/frontend/Dockerfile
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

Pin libstdc++ version Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  docker/frontend/Dockerfile
Due: none

feat: add AI summary provenance field
  backend/src/apps/core/utils/index.py
  backend/src/apps/github/index/registry/issue.py
  backend/src/apps/github/migrations/0045_issue_summary_is_ai_generated.py
  backend/src/apps/github/models/issue.py
  backend/src/apps/github/models/managers/issue.py
  backend/src/apps/github/models/mixins/issue.py
  backend/tests/unit/apps/github/models/issue_test.py
  backend/tests/unit/apps/github/models/managers/issue_test.py
  frontend/__tests__/unit/pages/Contribute.test.tsx
  frontend/src/app/contribute/page.tsx
  frontend/src/types/issue.ts
Due: backend, frontend

feat(header): expand UserMenu trigger to show avatar, name
  frontend/src/components/UserMenu.tsx
Due: frontend

fix(frontend): align navbar breakpoints and improve mobile drawer
  frontend/__tests__/unit/pages/Header.test.tsx
  frontend/src/components/GlobalSearch.tsx
  frontend/src/components/Header.tsx
Due: frontend

fix: limit issue body size for indexing
  backend/src/apps/github/models/issue.py
  backend/src/apps/github/models/mixins/issue.py
Due: backend

fix: handle whitespace-only summaries
  backend/src/apps/github/models/issue.py
Due: backend

Minimize frontend attack surface (#5551)
  cspell/cspell.json
  cspell/custom-dict.txt
  docker/frontend/Dockerfile
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

feat: add one-click unsubscribe and filtered snapshot view
  backend/src/apps/owasp/api/internal/mutations/snapshot_subscription.py
  backend/src/apps/owasp/api/internal/nodes/snapshot.py
  backend/src/apps/owasp/api/internal/nodes/snapshot_subscription.py
  backend/src/apps/owasp/api/internal/queries/snapshot_subscription.py
  backend/src/apps/owasp/models/snapshot_subscription.py
  backend/src/apps/owasp/views/__init__.py
  backend/src/apps/owasp/views/unsubscribe.py
  backend/src/settings/urls.py
  backend/tests/unit/apps/owasp/api/internal/mutations/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/api/internal/queries/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/models/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/views/__init__.py
  backend/tests/unit/apps/owasp/views/unsubscribe_test.py
  frontend/__tests__/a11y/pages/SettingsPage.a11y.test.tsx
  frontend/__tests__/a11y/pages/SnapshotDetails.a11y.test.tsx
  frontend/__tests__/unit/components/PaginationButtons.test.tsx
  frontend/__tests__/unit/components/SnapshotEntitySection.test.tsx
  frontend/__tests__/unit/components/SubscribeButton.test.tsx
  frontend/__tests__/unit/components/UserMenu.test.tsx
  frontend/__tests__/unit/pages/SnapshotDetails.test.tsx
  frontend/__tests__/unit/pages/UnsubscribePage.test.tsx
  frontend/src/app/community/snapshots/[id]/page.tsx
  frontend/src/app/unsubscribe/[token]/layout.tsx
  frontend/src/app/unsubscribe/[token]/page.tsx
  frontend/src/components/PaginationButtons.tsx
  frontend/src/components/SnapshotEntitySection.tsx
  frontend/src/server/queries/snapshotQueries.ts
  frontend/src/server/queries/subscriptionQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/snapshotQueries.generated.ts
  frontend/src/types/__generated__/subscriptionQueries.generated.ts
  frontend/src/utils/metadata.ts
Due: backend, frontend

refactor: rename RepositoryNode.issues field to recent_issues
  backend/src/apps/github/api/internal/nodes/repository.py
  backend/tests/unit/apps/github/api/internal/nodes/repository_test.py
  frontend/__tests__/mockData/mockRepositoryData.ts
  frontend/__tests__/unit/pages/RepositoryDetails.test.tsx
  frontend/src/app/organizations/[organizationKey]/repositories/[repositoryKey]/page.tsx
  frontend/src/server/queries/repositoryQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/repositoryQueries.generated.ts
Due: backend, frontend

test(frontend): drop async from sync drawer actions test
  frontend/__tests__/unit/pages/Header.test.tsx
Due: frontend

test(frontend): remove redundant act wrappers in header tests
  frontend/__tests__/unit/pages/Header.test.tsx
Due: frontend

test(frontend): assert drawer opens before checking actions
  frontend/__tests__/unit/pages/Header.test.tsx
Due: frontend

fix(frontend): restore scroll lock overflow and drawer stacking
  frontend/__tests__/unit/pages/Header.test.tsx
  frontend/__tests__/unit/utils/bodyScrollLock.test.ts
  frontend/src/components/Header.tsx
  frontend/src/utils/bodyScrollLock.ts
Due: frontend

fix(frontend): coordinate drawer scroll lock and backdrop layering
  frontend/__tests__/unit/pages/Header.test.tsx
  frontend/__tests__/unit/utils/bodyScrollLock.test.ts
  frontend/src/components/GlobalSearch.tsx
  frontend/src/components/Header.tsx
  frontend/src/utils/bodyScrollLock.ts
Due: frontend

fix(frontend): start mobile drawer below header bar
  frontend/__tests__/unit/pages/Header.test.tsx
  frontend/src/components/Header.tsx
Due: frontend

feat: update ReadTheDocs theme styling
  .mkdocs.yaml
  docs/src/stylesheets/extra.css
Due: none

fix: address documentation theme accessibility
  docs/src/stylesheets/extra.css
Due: none

expand usermenu to show name, handle
  frontend/__tests__/unit/components/UserMenu.test.tsx
  frontend/src/components/UserMenu.tsx
Due: frontend

feat: update ReadTheDocs theme to match Nest light and dark themes
  .mkdocs.yaml
  docs/src/assets/stylesheets/nest-theme.css
Due: none

fix: add root scrollbar selector and Firefox fallback
  docs/src/stylesheets/extra.css
Due: none

fix: scope scrollbar styles to body scheme
  docs/src/stylesheets/extra.css
Due: none

Add Grafana image repository and ECS pull permissions
  docker/grafana/Dockerfile.dockerignore
  infrastructure/modules/observability/README.md
  infrastructure/modules/observability/grafana.tf
  infrastructure/modules/observability/outputs.tf
  infrastructure/modules/observability/tests/grafana.tftest.hcl
Due: none

add image to workflows
  .github/workflows/run-deploy.yaml
  .github/workflows/run-image-build.yaml
  .github/workflows/run-image-scan.yaml
  .github/workflows/run-image-sign.yaml
  infrastructure/modules/observability/README.md
Due: none

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  docker/code-checks/Dockerfile
  docker/frontend/Dockerfile
  docker/frontend/Dockerfile.a11y-tests
  docker/frontend/Dockerfile.lighthouse
  docker/frontend/Dockerfile.local
  docker/frontend/Dockerfile.unit-tests
Due: none

update code
  backend/src/apps/owasp/parsers/board_activity/sync.py
Due: backend

update test docstring
  backend/tests/unit/apps/owasp/parsers/board_activity/translator_test.py
Due: backend

Add make `check-test-scan` target Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  Makefile
  make/README.md
  make/check-test.mk
  make/check.mk
  make/help.mk
Due: none

Add make `check-test-scan` target (#5562)
  Makefile
  make/README.md
  make/check-test.mk
  make/check.mk
  make/help.mk
Due: none

feat: add idx_created_at and idx_updated_at properties for Algolia indexing
  backend/src/apps/mentorship/models/mixins/program.py
Due: backend
