Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 80%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

build(frontend): implement standardized security scan target
  frontend/Makefile
Due: frontend

ci: refactor workflow to use Makefile targets for security scans
  .github/workflows/run-ci-cd.yaml
Due: none

style: apply pre-commit auto-fixes
  backend/manage.py
  docker/trivy/Dockerfile
Due: backend

run make check-test
  backend/apps/owasp/api/internal/nodes/project.py
  backend/apps/owasp/migrations/0074_remove_project_recent_milestones_project_milestones.py
  backend/apps/owasp/models/project.py
  backend/tests/apps/owasp/management/commands/owasp_aggregate_projects_test.py
Due: backend

fix(ai): improve bot reactions, RAG search, greeting handling, and tests
  backend/apps/ai/flows/assistant.py
  backend/apps/ai/management/commands/test_ai_assistant.py
  backend/apps/ai/templates/agents/rag/backstory.jinja
  backend/apps/ai/templates/router/tasks/route.jinja
  backend/apps/slack/common/question_detector.py
  backend/apps/slack/events/message_posted.py
  backend/apps/slack/services/message_auto_reply.py
Due: backend

fix(ai): improve bot reactions, RAG search, greeting handling, and tests
  backend/apps/ai/management/commands/test_ai_assistant.py
Due: backend

fix: add missing line continuation in security-scan-code target
  Makefile
Due: none

update code
  infrastructure/modules/alb/tests/alb.tftest.hcl
Due: none

inline data block
  infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/modules/s3-bucket/main.tf
Due: none

fix: restore executable permission to manage.py
  backend/manage.py
Due: backend

add tests for storage module and its sub-modules
  infrastructure/modules/storage/.terraform.lock.hcl
  infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/modules/s3-bucket/.terraform.lock.hcl
  infrastructure/modules/storage/modules/s3-bucket/tests/s3-bucket.tftest.hcl
  infrastructure/modules/storage/tests/storage.tftest.hcl
Due: none

sort alphabetically
  infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/modules/s3-bucket/main.tf
Due: none

sort alphabetically
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/ecs/modules/task/main.tf
Due: none

move repository up
  infrastructure/modules/ecs/main.tf
Due: none

Refactor docs: move overviews to READMEs
  backend/README.md
  docs/backend/overview.md
  docs/frontend/overview.md
  frontend/README.md
  mkdocs.yaml
Due: backend, frontend

Fix duplicate Makefile reference
  backend/README.md
Due: backend

Fix markdown table alignment
  backend/README.md
  frontend/README.md
Due: backend, frontend

milestone: make Recent Milestones section responsive on mobile
  frontend/src/components/CardDetailsPage.tsx
Due: frontend

improve: report model graph generation failures in command output
  backend/apps/common/management/commands/generate_model_graphs.py
Due: backend

pre-commit: remove jumanjihouse yamlfmt hook due to Windows venv path issues
  .pre-commit-config.yaml
Due: none

test: add safe test defaults and avoid Slack initialization during import for local test runs
  backend/apps/slack/apps.py
  backend/settings/test.py
Due: backend

fix: Convert project level filters to uppercase enums
  frontend/src/app/projects/dashboard/metrics/page.tsx
Due: frontend

fix: optimize latest_release field by adding prefetch_related for releases
  backend/apps/github/api/internal/nodes/repository.py
Due: backend

feat: Improve responsive grid layout for mobile-first design
  frontend/src/app/projects/dashboard/metrics/page.tsx
Due: frontend

test: add langchain text splitter fallback for local tests
  backend/apps/ai/models/chunk.py
Due: backend

fix: Resolve SonarCloud reliability issue (typescript:S7727)
  frontend/src/app/contribute/page.tsx
Due: frontend

feat: Add drag-and-drop module reordering with caching fix
  frontend/src/components/ModuleCard.tsx
  frontend/src/server/queries/moduleQueries.ts
  frontend/src/types/mentorship.ts
Due: frontend

add tests for ecs module
  infrastructure/modules/ecs/.terraform.lock.hcl
  infrastructure/modules/ecs/modules/task/.terraform.lock.hcl
  infrastructure/modules/ecs/modules/task/tests/task.tftest.hcl
  infrastructure/modules/ecs/tests/ecs.tftest.hcl
Due: none

Run make update
  backend/poetry.lock
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend, frontend

add tests for `alb` module (#3679)
  infrastructure/modules/alb/.terraform.lock.hcl
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/tests/alb.tftest.hcl
  infrastructure/modules/alb/variables.tf
Due: none

Add tests for `ecs` module and its sub-modules (#3691)
  infrastructure/modules/ecs/.terraform.lock.hcl
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/ecs/modules/task/.terraform.lock.hcl
  infrastructure/modules/ecs/modules/task/main.tf
  infrastructure/modules/ecs/modules/task/tests/task.tftest.hcl
  infrastructure/modules/ecs/tests/ecs.tftest.hcl
Due: none

Update code
  Makefile
  backend/Makefile
  backend/apps/owasp/Makefile
  cspell/Makefile
  frontend/Makefile
  trivy.yaml
Due: backend, frontend

add ci for testing infrastructure code
  .github/workflows/run-ci-cd.yaml
Due: none

fix code
  .github/workflows/run-ci-cd.yaml
Due: none

fix: structured search type casting and schema validation for stars field
  backend/apps/api/rest/v0/project.py
  backend/apps/api/rest/v0/structured_search.py
  backend/tests/apps/api/rest/v0/structured_search_test.py
Due: backend

fix pre-commit hook
  .pre-commit-config.yaml
  infrastructure/modules/alb/tests/alb.tftest.hcl
  infrastructure/modules/database/tests/database.tftest.hcl
  infrastructure/modules/networking/modules/vpc-endpoint/tests/vpc-endpoint.tftest.hcl
  infrastructure/modules/networking/tests/networking.tftest.hcl
Due: none

mock aws provider
  infrastructure/modules/alb/tests/alb.tftest.hcl
  infrastructure/modules/cache/tests/cache.tftest.hcl
  infrastructure/modules/database/tests/database.tftest.hcl
  infrastructure/modules/ecs/modules/task/tests/task.tftest.hcl
  infrastructure/modules/ecs/tests/ecs.tftest.hcl
  infrastructure/modules/frontend/tests/frontend.tftest.hcl
  infrastructure/modules/kms/tests/kms.tftest.hcl
  infrastructure/modules/networking/modules/nacl/tests/nacl.tftest.hcl
  infrastructure/modules/networking/modules/vpc-endpoint/tests/vpc-endpoint.tftest.hcl
  infrastructure/modules/networking/tests/networking.tftest.hcl
  infrastructure/modules/parameters/tests/parameters.tftest.hcl
  infrastructure/modules/security/tests/security.tftest.hcl
Due: none

test: avoid mypy redefinition by using fallback splitter class and importing langchain at call time
  backend/apps/ai/models/chunk.py
Due: backend

fix test
  infrastructure/modules/kms/tests/kms.tftest.hcl
Due: none

fix test
  infrastructure/modules/networking/tests/networking.tftest.hcl
Due: none
