Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

update regex, address bot comments
  backend/apps/slack/utils/format.py
  backend/tests/unit/apps/ai/agents/tools_test.py
  backend/tests/unit/apps/slack/utils_test.py
Due: backend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  frontend/src/components/BarChart.tsx
Due: frontend

Extract nested ternary operation into an independent state. (#5524)
  frontend/src/components/BarChart.tsx
Due: frontend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  backend/src/apps/github/api/internal/nodes/repository.py
Due: backend

refactor: rename RepositoryNode.issues field to recent_issues (#5528)
  backend/src/apps/github/api/internal/nodes/repository.py
  backend/tests/unit/apps/github/api/internal/nodes/repository_test.py
  frontend/__tests__/mockData/mockRepositoryData.ts
  frontend/__tests__/unit/pages/RepositoryDetails.test.tsx
  frontend/src/app/organizations/[organizationKey]/repositories/[repositoryKey]/page.tsx
  frontend/src/server/queries/repositoryQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/repositoryQueries.generated.ts
Due: backend, frontend

add bot commment
  backend/apps/slack/utils/format.py
  backend/tests/unit/apps/ai/agents/tools_test.py
  docker/backend/Dockerfile.nestbot.local
  docker/backend/Dockerfile.test
Due: backend

fix regex + address bot commmet
  backend/apps/slack/utils/format.py
  backend/tests/unit/apps/slack/utils_test.py
Due: backend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  frontend/__tests__/unit/components/Pagination.test.tsx
  frontend/__tests__/unit/hooks/useSearchPage.test.tsx
  frontend/src/components/Pagination.tsx
  frontend/src/hooks/useSearchPage.ts
Due: frontend

Address feedback Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  frontend/__tests__/unit/components/Pagination.test.tsx
  frontend/__tests__/unit/hooks/useSearchPage.test.tsx
  frontend/src/components/Pagination.tsx
  frontend/src/hooks/useSearchPage.ts
Due: frontend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  frontend/__tests__/unit/hooks/useSearchPage.test.tsx
  frontend/src/hooks/useSearchPage.ts
Due: frontend

Address bot's comment Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  frontend/__tests__/unit/hooks/useSearchPage.test.tsx
  frontend/src/hooks/useSearchPage.ts
Due: frontend

Address feedback Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  frontend/__tests__/unit/components/Pagination.test.tsx
  frontend/__tests__/unit/components/SearchPageLayout.test.tsx
  frontend/__tests__/unit/hooks/useSearchPage.test.tsx
  frontend/src/components/Pagination.tsx
  frontend/src/hooks/useSearchPage.ts
Due: frontend

Address review comment Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  frontend/__tests__/unit/hooks/useSearchPage.test.tsx
  frontend/src/hooks/useSearchPage.ts
Due: frontend

Update tests Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  frontend/__tests__/unit/components/Pagination.test.tsx
Due: frontend

Address more suggestions Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  frontend/__tests__/unit/components/Pagination.test.tsx
  frontend/__tests__/unit/hooks/useSearchPage.test.tsx
  frontend/src/hooks/useSearchPage.ts
Due: frontend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  .mkdocs.yaml
  backend/README.md
  docker/docs/Dockerfile.local
  docs/overrides/partials/copyright.html
  docs/overrides/partials/footer.html
  docs/overrides/partials/header.html
  docs/serve.py
  docs/src/assets/images/logo.png
  docs/src/assets/images/owasp-logo.svg
  docs/src/assets/stylesheets/nest-theme.css
Due: backend

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  .mkdocs.yaml
  docs/overrides/partials/footer.html
  docs/overrides/partials/header.html
  docs/src/assets/stylesheets/nest-theme.css
Due: none

fix(frontend): show trailing pagination ellipsis (#5527)
  frontend/__tests__/unit/components/Pagination.test.tsx
  frontend/__tests__/unit/components/SearchPageLayout.test.tsx
  frontend/__tests__/unit/hooks/useSearchPage.test.tsx
  frontend/src/components/Pagination.tsx
  frontend/src/hooks/useSearchPage.ts
Due: frontend

Address feedback Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  docs/src/assets/stylesheets/nest-theme.css
Due: none

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  docs/overrides/partials/header.html
Due: none

Fix a11y issue Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  docs/overrides/partials/header.html
  docs/overrides/partials/logo.html
Due: none

Update code Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  .prettierignore
  docs/overrides/partials/header.html
  docs/overrides/partials/logo.html
Due: none

Address coderabbit comment
  frontend/__tests__/unit/components/CertificateCard.test.tsx
  frontend/__tests__/unit/pages/IssueCertificatePage.test.tsx
  frontend/src/app/my/certificates/issue/page.tsx
  frontend/src/app/my/certificates/page.tsx
  frontend/src/components/CertificateCard.tsx
Due: frontend

adress review
  frontend/__tests__/unit/pages/IssueCertificatePage.test.tsx
  frontend/src/app/my/certificates/issue/page.tsx
Due: frontend

fix: reject partially numeric page params in useSearchPage
  frontend/__tests__/unit/hooks/useSearchPage.test.tsx
  frontend/src/hooks/useSearchPage.ts
Due: frontend

fix: guard page params against overflow to Infinity
  frontend/__tests__/unit/hooks/useSearchPage.test.tsx
  frontend/src/hooks/useSearchPage.ts
Due: frontend

fixed merge issue
  frontend/pnpm-lock.yaml
Due: frontend

update code
  backend/src/apps/owasp/admin/snapshot_subscription.py
  backend/src/apps/owasp/api/internal/mutations/snapshot_subscription.py
  backend/src/apps/owasp/api/internal/nodes/snapshot_subscription.py
  backend/src/apps/owasp/management/commands/owasp_send_snapshot_emails.py
  backend/src/apps/owasp/migrations/0077_rename_subscribed_fields.py
  backend/src/apps/owasp/models/snapshot_subscription.py
  backend/src/apps/owasp/services/newsletter.py
  backend/tests/unit/apps/owasp/admin/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/api/internal/mutations/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/models/snapshot_subscription_test.py
  backend/tests/unit/apps/owasp/services/email/django_email_test.py
  backend/tests/unit/apps/owasp/services/newsletter_test.py
  frontend/__tests__/mockData/mockSubscriptionData.ts
  frontend/__tests__/unit/components/SubscribeButton.test.tsx
  frontend/__tests__/unit/pages/SettingsPage.test.tsx
  frontend/__tests__/unit/pages/UnsubscribePage.test.tsx
  frontend/src/app/community/snapshots/[id]/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/app/unsubscribe/[token]/page.tsx
  frontend/src/components/SubscribeButton.tsx
  frontend/src/server/queries/subscriptionQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/subscriptionQueries.generated.ts
Due: backend, frontend

Update ReadTheDocs theme to match Nest light and dark themes (#5561)
  .mkdocs.yaml
  .prettierignore
  backend/README.md
  docker/docs/Dockerfile.local
  docs/overrides/partials/copyright.html
  docs/overrides/partials/footer.html
  docs/overrides/partials/header.html
  docs/overrides/partials/logo.html
  docs/serve.py
  docs/src/assets/images/logo.png
  docs/src/assets/images/owasp-logo.svg
  docs/src/assets/stylesheets/nest-theme.css
Due: backend

fix issues
  backend/src/apps/owasp/api/internal/mutations/snapshot_subscription.py
  frontend/src/components/SubscribeButton.tsx
Due: backend, frontend

fix issue
  backend/tests/unit/apps/owasp/api/internal/mutations/snapshot_subscription_test.py
Due: backend

move overrides to override file
  docker-compose/local/compose.override.yaml
  docker-compose/local/compose.yaml
Due: none

fix(sitemap): use repository updates for repositories lastmod
  backend/src/apps/sitemap/views/static.py
  backend/tests/unit/apps/sitemap/views/static_test.py
Due: backend

Update bash/make setup Signed-off-by: Arkadii Yakovets <2201626+arkid15r@users.noreply.github.com>
  CONTRIBUTING.md
  Makefile
  backend/make/apps/owasp.mk
  backend/make/clusterfuzz.mk
  backend/make/data.mk
  backend/make/image.mk
  backend/make/security.mk
  backend/make/test.mk
  docs/make/test.mk
  e2e/make/test.mk
  frontend/make/image.mk
  frontend/make/security.mk
  frontend/make/test.mk
  infrastructure/make/test.mk
  make/check.mk
  make/maintenance.mk
  make/run.mk
  make/security.mk
  make/terraform.mk
  tools/make/maintenance.mk
  tools/make/test.mk
Due: backend, frontend

feat: implement recent searches in GlobalSearch
  frontend/__tests__/unit/components/GlobalSearch.test.tsx
  frontend/src/components/GlobalSearch.tsx
  frontend/src/hooks/useRecentSearches.ts
Due: frontend

fix: handle issue summary generation safely
  backend/src/apps/github/models/issue.py
  backend/src/apps/github/models/mixins/issue.py
  backend/tests/unit/apps/github/models/issue_test.py
  backend/tests/unit/apps/github/models/mixins/issue_test.py
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
