Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

make check test fix
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/outputs.tf
Due: none

addres more bot issues
  infrastructure/bootstrap/backend.tf
  infrastructure/bootstrap/terraform.production.tfbackend.example
  infrastructure/bootstrap/terraform.staging.tfbackend.example
  infrastructure/live/backend.tf
  infrastructure/live/terraform.production.tfbackend.example
  infrastructure/live/terraform.staging.tfbackend.example
Due: none

split tfvar to seperate files
  infrastructure/bootstrap/README.md
  infrastructure/bootstrap/terraform.production.tfbackend.example
  infrastructure/bootstrap/terraform.production.tfvars.example
  infrastructure/bootstrap/terraform.staging.tfbackend.example
  infrastructure/bootstrap/terraform.staging.tfvars.example
Due: none

refactor
  infrastructure/bootstrap/tests/unit.tftest.hcl
Due: none

addres bot issues
  infrastructure/bootstrap/terraform.production.tfbackend.example
  infrastructure/bootstrap/terraform.staging.tfbackend.example
  infrastructure/live/terraform.production.tfbackend.example
  infrastructure/live/terraform.staging.tfbackend.example
Due: none

revert pre-commit config offline arg change
  .pre-commit-config.yaml
Due: none

Optimize BoardOfDirectorsNode
  backend/src/apps/owasp/api/internal/dataloaders/__init__.py
  backend/src/apps/owasp/api/internal/nodes/board_of_directors.py
Due: backend

Add and update tests
  backend/src/apps/owasp/api/internal/dataloaders/board_of_directors.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/board_of_directors_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_of_directors_test.py
Due: backend

Update code
  backend/src/apps/owasp/api/internal/dataloaders/board_of_directors.py
Due: backend

Optimize EntityMemberNode and add optimizations to UserNode
  backend/src/apps/github/api/internal/nodes/user.py
  backend/src/apps/owasp/api/internal/nodes/entity_member.py
Due: backend

Optimize MemberSnapshotNode
  backend/src/apps/common/api/internal/dataloaders/utils.py
  backend/src/apps/owasp/api/internal/dataloaders/__init__.py
  backend/src/apps/owasp/api/internal/dataloaders/member_snapshot.py
  backend/src/apps/owasp/api/internal/nodes/member_snapshot.py
Due: backend

Add tests
  backend/tests/unit/apps/common/api/internal/dataloaders/utils_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/member_snapshot_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/member_snapshot_test.py
Due: backend

Update code
  backend/tests/unit/apps/owasp/api/internal/dataloaders/member_snapshot_test.py
Due: backend

feat: add bootstrap integration tests
  infrastructure/README.md
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/tests/integration.tftest.hcl
  infrastructure/bootstrap/tests/unit.tftest.hcl
Due: none

Update code
  backend/src/apps/owasp/api/internal/dataloaders/member_snapshot.py
Due: backend

Update deployment process
  .github/workflows/ci-cd-production.yaml
  .github/workflows/ci-cd-staging.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-coverage-upload.yaml
  .github/workflows/run-release-version-resolution.yaml
Due: none

Update code
  .github/workflows/run-coverage-upload.yaml
Due: none

Update deployment process (#5261)
  .github/workflows/ci-cd-production.yaml
  .github/workflows/ci-cd-staging.yaml
  .github/workflows/run-ci-cd.yaml
  .github/workflows/run-coverage-upload.yaml
  .github/workflows/run-release-version-resolution.yaml
Due: none

Mitigate CVE-2026-13149
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: frontend

Mitigate CVE-2026-13149 (#5264)
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: frontend

Update Trivy scans
  .github/workflows/run-code-checks.yaml
  .trivy.yaml
  CONTRIBUTING.md
  backend/make/security.mk
  frontend/make/security.mk
  make/README.md
  make/security.mk
Due: backend, frontend

Update code
  .github/workflows/run-code-checks.yaml
  .trivy.yaml
  backend/make/security.mk
  frontend/make/security.mk
  make/security.mk
Due: backend, frontend

Update Trivy scans (#5266)
  .github/workflows/run-code-checks.yaml
  .trivy.yaml
  CONTRIBUTING.md
  backend/make/security.mk
  frontend/make/security.mk
  make/README.md
  make/security.mk
Due: backend, frontend

Optimize OWASP ProjectNode (#5240)
  backend/src/apps/github/api/internal/dataloaders/__init__.py
  backend/src/apps/github/api/internal/dataloaders/issue.py
  backend/src/apps/github/api/internal/dataloaders/milestone.py
  backend/src/apps/github/api/internal/dataloaders/pull_request.py
  backend/src/apps/github/api/internal/dataloaders/release.py
  backend/src/apps/github/api/internal/dataloaders/repository.py
  backend/src/apps/owasp/api/internal/dataloaders/project.py
  backend/src/apps/owasp/api/internal/nodes/project.py
  backend/tests/unit/apps/github/api/internal/dataloaders/issue_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/milestone_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/pull_request_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/release_test.py
  backend/tests/unit/apps/github/api/internal/dataloaders/repository_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/project_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/project_test.py
  docker-compose/local/compose.yaml
Due: backend

Optimize CommitteeNode (#5247)
  backend/src/apps/owasp/api/internal/nodes/committee.py
Due: backend

Optimize ChapterNode (#5248)
  backend/src/apps/owasp/api/internal/nodes/chapter.py
Due: backend

Optimize basic resolvers in `GenericEntityNode` (#5246)
  backend/src/apps/owasp/api/internal/nodes/common.py
Due: backend

Optimize OWASP BoardOfDirectorsNode (#5256)
  backend/src/apps/owasp/api/internal/dataloaders/__init__.py
  backend/src/apps/owasp/api/internal/dataloaders/board_of_directors.py
  backend/src/apps/owasp/api/internal/nodes/board_of_directors.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/board_of_directors_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/board_of_directors_test.py
Due: backend

Optimize EntityMemberNode and add optimizations to UserNode (#5257)
  backend/src/apps/github/api/internal/nodes/user.py
  backend/src/apps/owasp/api/internal/nodes/entity_member.py
Due: backend

add RQ worker custom metrics
  backend/src/apps/observability/metrics.py
  backend/src/apps/slack/services/message_auto_reply.py
  backend/tests/unit/apps/observability/metrics_test.py
  docker-compose/local/compose.o11y.yaml
Due: backend

Update code
  backend/src/apps/common/api/internal/dataloaders/utils.py
  backend/src/apps/owasp/api/internal/dataloaders/member_snapshot.py
  backend/tests/unit/apps/common/api/internal/dataloaders/utils_test.py
Due: backend

Update code
  backend/src/apps/common/api/internal/dataloaders/utils.py
  backend/src/apps/owasp/api/internal/dataloaders/member_snapshot.py
Due: backend

bot suggestions
  backend/tests/unit/apps/observability/metrics_test.py
  docker-compose/local/compose.o11y.yaml
Due: backend

Update code
  backend/tests/unit/apps/observability/metrics_test.py
Due: backend

Optimize key field
  backend/src/apps/owasp/api/internal/nodes/snapshot.py
Due: backend

Remove get_m2m_results_by_keys
  backend/src/apps/common/api/internal/dataloaders/utils.py
  backend/src/apps/mentorship/api/internal/dataloaders/admin.py
  backend/src/apps/owasp/api/internal/dataloaders/project.py
  backend/tests/unit/apps/common/api/internal/dataloaders/utils_test.py
  backend/tests/unit/apps/mentorship/api/internal/dataloaders/admin_test.py
  backend/tests/unit/apps/owasp/api/internal/dataloaders/project_test.py
Due: backend

Optimize SnapshotNode
  backend/src/apps/owasp/api/internal/dataloaders/__init__.py
  backend/src/apps/owasp/api/internal/dataloaders/snapshot.py
  backend/src/apps/owasp/api/internal/nodes/snapshot.py
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
