Repository OWASP/Nest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

codecov:
  require_ci_to_pass: true

comment:
  layout: reach, diff, flags, files, footer
  behavior: default
  require_changes: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        flags:
          - backend
        target: 95%
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: 95%
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 0%
      backend:
        flags:
          - backend
        target: auto
        threshold: 0%
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 0%

fixes:
  - /app/::frontend/
  - /home/owasp/::backend/

flags:
  backend:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true

Update code
  .pre-commit-config.yaml
Due: none

Update code
  backend/tests/unit/apps/mentorship/model/program_test.py
Due: backend

Update code
  infrastructure/modules/alb/README.md
  infrastructure/modules/cache/README.md
  infrastructure/modules/database/README.md
  infrastructure/modules/parameters/README.md
Due: none

Update code
  backend/src/apps/mentorship/api/internal/nodes/module.py
  backend/src/apps/mentorship/api/internal/nodes/program.py
  backend/src/apps/mentorship/api/internal/queries/program.py
Due: backend

fixed ai review comment
  frontend/src/components/UserMenu.tsx
Due: frontend

fixed test
  frontend/__tests__/jest.setup.ts
Due: frontend

Update docker compose.yaml for local env
  docker-compose/local/compose.yaml
Due: none

feat(slack): add slack channels to projects and chapters
  .gitignore
  backend/src/apps/owasp/api/internal/nodes/common.py
  backend/src/apps/owasp/api/internal/nodes/entity_channel.py
  backend/src/apps/owasp/models/common.py
  backend/src/apps/slack/Makefile
  backend/src/apps/slack/management/commands/owasp_match_channels.py
  backend/tests/unit/apps/owasp/api/internal/nodes/common_test.py
  backend/tests/unit/apps/owasp/api/internal/nodes/entity_channel_test.py
  frontend/__tests__/e2e/pages/ChapterDetails.spec.ts
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
  frontend/__tests__/mockData/mockChapterDetailsData.ts
  frontend/__tests__/mockData/mockProjectDetailsData.ts
  frontend/__tests__/unit/pages/ChapterDetails.test.tsx
  frontend/__tests__/unit/pages/ProjectDetails.test.tsx
  frontend/src/app/chapters/[chapterKey]/page.tsx
  frontend/src/app/projects/[projectKey]/page.tsx
  frontend/src/server/queries/chapterQueries.ts
  frontend/src/server/queries/projectQueries.ts
  frontend/src/types/__generated__/chapterQueries.generated.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/projectQueries.generated.ts
  frontend/src/utils/urlFormatter.ts
Due: backend, frontend

chore(deps): upgrade graphql to v17 and update codegen dependencies
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: frontend

chore(deps): add near-operation-file-preset to minimumReleaseAgeExclude
  frontend/pnpm-workspace.yaml
Due: frontend

fix(e2e): remove stale dropdown cursor test from Header spec
  e2e/components/Header.spec.ts
Due: none

Updated member profile page
  backend/src/apps/github/api/internal/nodes/user.py
  frontend/__tests__/unit/components/cards/Metadata.test.tsx
  frontend/src/app/members/[memberKey]/page.tsx
  frontend/src/components/cards/Metadata.tsx
  frontend/src/server/queries/userQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/userQueries.generated.ts
  frontend/src/types/user.ts
Due: backend, frontend

Update code
  frontend/__tests__/unit/components/Footer.test.tsx
  frontend/__tests__/unit/components/LogoCarousel.test.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/LogoCarousel.tsx
  frontend/src/components/ScrollToTop.tsx
Due: frontend

fixed review'
  backend/src/apps/github/api/internal/nodes/user.py
  docker-compose/local/compose.yaml
  frontend/__tests__/unit/components/cards/Metadata.test.tsx
  frontend/src/components/cards/Metadata.tsx
Due: backend, frontend

update volume name
  docker-compose/local/compose.yaml
Due: none

fix failing test
  backend/src/apps/owasp/api/internal/nodes/entity_channel.py
Due: backend

fix failing e2e
  frontend/__tests__/e2e/pages/ChapterDetails.spec.ts
  frontend/__tests__/e2e/pages/ProjectDetails.spec.ts
Due: frontend

fix(slack): include proj- prefix channels and raise match threshold to 90
  backend/src/apps/slack/management/commands/owasp_match_channels.py
Due: backend

update code
  backend/Makefile
Due: backend

remove reordering from draft claims
  backend/apps/owasp/api/internal/mutations/board_candidate_claim.py
  backend/tests/unit/apps/owasp/api/internal/mutations/board_candidate_claim_test.py
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
Due: backend, frontend

rename Claims -> Your Claims and remove p subtitle
  e2e/pages/BoardCandidateClaims.spec.ts
  frontend/__tests__/unit/pages/CandidateClaimsPage.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
Due: frontend

only show reorder button when more than one item
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
Due: frontend

run frontend checks
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
Due: frontend

make three dot button look nicer
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
  frontend/src/components/DropdownActions.tsx
Due: frontend

improve breadcrums by removing board, year, and candidate name
  e2e/pages/BoardCandidateClaimDetails.spec.ts
  e2e/pages/BoardCandidateClaims.spec.ts
  frontend/__tests__/unit/hooks/useBreadcrumbs.test.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/[claimKey]/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/claims/page.tsx
  frontend/src/app/board/[year]/candidates/[login]/layout.tsx
  frontend/src/app/board/[year]/candidates/layout.tsx
  frontend/src/app/board/[year]/layout.tsx
  frontend/src/hooks/useBreadcrumbs.ts
  frontend/src/types/breadcrumb.ts
Due: frontend

fix comments
  frontend/__tests__/unit/pages/SettingsPage.test.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/ActionButton.tsx
Due: frontend

fix comment
  frontend/__tests__/unit/pages/SettingsPage.test.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/ActionButton.tsx
Due: frontend

update code
  frontend/src/app/settings/page.tsx
  frontend/src/components/ActionButton.tsx
Due: frontend

Made OWASP Nest logo dynamically toggle in dark and light theme (#4370)
  frontend/__tests__/unit/components/Footer.test.tsx
  frontend/__tests__/unit/components/LogoCarousel.test.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/LogoCarousel.tsx
  frontend/src/components/ScrollToTop.tsx
Due: frontend

test(parameters): assert SSM source in prepare-mode container-secret test
  infrastructure/modules/parameters/tests/parameters.tftest.hcl
Due: none

fix(deploy): default RUNTIME_SECRETS_MODE to prepare when env var is unset
  .github/workflows/run-deploy.yaml
Due: none

check test fixes
  backend/src/settings/local.py
Due: backend

Updated member profile page (#5154)
  backend/src/apps/github/api/internal/nodes/user.py
  docker-compose/local/compose.yaml
  frontend/__tests__/unit/components/cards/Metadata.test.tsx
  frontend/src/app/members/[memberKey]/page.tsx
  frontend/src/components/cards/Metadata.tsx
  frontend/src/server/queries/userQueries.ts
  frontend/src/types/__generated__/graphql.ts
  frontend/src/types/__generated__/userQueries.generated.ts
  frontend/src/types/user.ts
Due: backend, frontend

Update code
  frontend/next.config.ts
  frontend/pnpm-workspace.yaml
Due: frontend

Update code
  e2e/components/Header.spec.ts
  frontend/next.config.ts
Due: frontend
